{% comment %}

  Use snippet like so...

  {%
    render 'block--text-feature',
    settings: block.settings,
    style: this_template
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'text-feature' %}
{% assign heading = settings.heading | default: false %}
{% assign message_top = settings.message--top | default: false %}
{% assign message_bottom = settings.message--bottom | default: false %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>

  <div class='{{ block_name }}__svg d-none d-sm-block d-xxl-none'>
    {% render 'svg--squiggly-box', fill: 'blue', stroke: 'black', responsive_size: 'desktop' %}
  </div>
  <div class='{{ block_name }}__svg d-none d-xxl-block'>
    {% render 'svg--squiggly-box', fill: 'blue', stroke: 'black', responsive_size: 'desktop-large' %}
  </div>

  {% if heading or message_top or message_bottom %}
    <div class='{{ block_name }}__squiggle top'></div>
    <div class='{{ block_name }}__content'>
      {% if heading %}<h2 class='{{ block_name }}__heading heading font-weight--600'>{{ heading }}</h2>{% endif %}
      {% if message_top %}<div class='{{ block_name }}__message message'>{{ message_top }}</div>{% endif %}
      {% if message_top and message_bottom %}
        <div class='{{ block_name }}__accessory'>{% render 'svg--but' %}</div>
      {% endif %}
      {% if message_bottom %}<div class='{{ block_name }}__message message'>{{ message_bottom }}</div>{% endif %}
    </div>
    <div class='{{ block_name }}__squiggle bottom'></div>
  {% endif %}

</div>
