{% comment %}

  Use snippet like so...

  {%
    render 'block--image-feature-with-text',
    settings: block.settings,
    style: this_template
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'image-feature-with-text' %}

{% assign heading = settings.heading | default: false %}
{% assign image = settings.image | default: false %}
{% assign message = settings.message | default: false %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  {% if image %}
    <div class='{{ block_name }}__image image b-4 b-solid b-black round-8'>{% render 'content--lazyload-image', image: image %}</div>
  {% endif %}
  {% if message %}
    <div class='{{ block_name }}__content content'>
      <div class='{{ block_name }}__accessory left'>
        {% render 'svg--made-for-locals' %}
      </div>
      <div class='{{ block_name }}__message message b-4 b-solid b-black round-8'>

        {% if style == 'history' %}
          <div class='{{ block_name }}__intro-graphic'>
            {% render 'svg--the-story-of-shaketown' %}
          </div>
        {% endif %}

        {% if heading %}<h2 class='{{ block_name }}__heading heading'>{{ heading }}</h2>{% endif %}
        {{ message }}
      </div>
      <div class='{{ block_name }}__accessory right'>
        {% render 'svg--city-of-shaketown' %}
      </div>
    </div>
  {% endif %}
</div>
