{% comment %}

  Use snippet like so...

  {% render 'block--moments-in-history', settings: block.settings %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'moments-in-history' %}

{% assign heading = settings.heading | default: 'Notable Moments in Shaketown History' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>

  <h2 class='{{ block_name }}__heading heading font-weight--600'>
    {{ heading }}
    <span class='{{ block_name }}__swipe-suggestion d-md-none'>
      {% render 'svg--swipe-suggestion' %}
    </span>
  </h2>

  <div class='{{ block_name }}__graphic d-none d-md-block'>
    {% render 'svg--moments-in-history' %}
  </div>

  <div class='{{ block_name }}__graphic d-md-none'>

    <div class='glide js--glide' id='moments-in-history' data-mobile-only='true' data-style='{{ block_name }}'>

      <div class='glide__track' data-glide-el='track'>
        <ul class='glide__slides'>
          <li class='glide__slide'>{% render 'svg--moments-in-history-01' %}</li>
          <li class='glide__slide'>{% render 'svg--moments-in-history-02' %}</li>
          <li class='glide__slide'>{% render 'svg--moments-in-history-03' %}</li>
        </ul>
      </div>

      {% if false %}
        <div class="{{ block_name }}__arrows{% if mobile_only %} d-lg-none{% endif %}" data-glide-el="controls">
          <button class="{{ block_name }}__arrow {{ block_name }}__arrow--left" data-glide-dir="<">prev</button>
          <button class="{{ block_name }}__arrow {{ block_name }}__arrow--right" data-glide-dir=">">next</button>
        </div>
      {% endif %}

    </div>

  </div>

</div>
