{% comment %}

  Use snippet like so...

  {% render 'block--google-maps', settings: block.settings %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'contact-us' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  <div class='row row--inner'>
    <div class='col-12 col-lg-6 col-xxl-3 order-1 order-lg-1 order-xxl-1'>
      {% render 'layout--business-hours' %}
    </div>
    <div class='col-12 col-lg-12 col-xxl-6 order-2 order-lg-3 order-xxl-2'>
      {% render 'layout--google-maps' %}
    </div>
    <div class='col-12 col-lg-6 col-xxl-3 order-3 order-lg-2 order-xxl-3'>
      {% render 'layout--get-in-touch', include_shakey: true %}
    </div>
  </div>
</div>
