{% comment %}

  Use snippet like so...

  {%
    render 'block--shaketown-logos',
    settings: block.settings,
    style: this_template
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'shaketown-logos' %}
{% assign block_columns = 'col-6 col-md-3' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  <div class='row row--inner'>
    <div class='{{ block_columns }}'>
      {% render 'svg--shaketown-logo-01' %}
    </div>
    <div class='{{ block_columns }}'>
      {% render 'svg--shaketown-logo-02' %}
    </div>
    <div class='{{ block_columns }}'>
      {% render 'svg--shaketown-logo-03' %}
    </div>
    <div class='{{ block_columns }}'>
      {% render 'svg--shaketown-logo-04' %}
    </div>
  </div>
</div>
