{% comment %}

  Use snippet like so...

  {% render 'block--beer-collection', settings: block.settings %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'beer-collection' %}
{% assign collection = settings.collection | default: false %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  {% render 'layout--container', col: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1' %}

    {% if collection and collection.products_count > 0 %}

      {% render 'content--heading-with-stroke', heading: collection.title %}

      <div class='row row--inner'>

        {% for product in collection.products %}

          {% assign product_title = product.title | default: false %}
          {% assign product_abv = product.metafields.beer.alcohol_by_volume | default: false %}
          {% assign product_desc = product.description | default: false %}
          {% assign product_featured_image = product.featured_image | default: false %}

          <div class='col-12 col-lg-6 col-xxl-4'>
            <div class='product'>

              <div class='product__image image'>
                {% if product_featured_image %}
                  {% render 'content--lazyload-image', image: product_featured_image %}
                {% else %}
                {% endif %}
              </div>

              <h3 class='product__title heading heading--product-title'>{{ product_title }}</h3>

              {% if product_abv %}
                <div class='product__abv'>
                  <div class='product__abv-value'>{{ product_abv }}% ALC/VOL</div>
                </div>
              {% endif %}

              {% if product_desc %}
                <div class='product__desc message b-4 b-solid b-black round-8'>{{ product_desc }}</div>
              {% endif %}

            </div>
          </div>

        {% endfor %}

      </div>

    {% else %}
      <h1 class='{{ block_name }}__heading heading heading--collection-title'>
        <span class='{{ block_name }}__heading-title'>Oops! Collection not available!</span>
        <span class='{{ block_name }}__heading-hr'></span>
      </h1>
    {% endif %}

  {% render 'layout--container', state: 'closed' %}
</div>
