{% comment %}

  Use snippet like so...

  {% render 'block--team', staff_list: staff_list %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'team' %}
{% assign staff_list = staff_list | default: false %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  <div class='row row--inner'>

    {% if staff_list.size > 0 %}

      {% for staff in staff_list %}

        {% assign bio = staff.settings.bio | default: false %}
        {% assign image = staff.settings.image | default: false %}
        {% assign name = staff.settings.name | default: false %}
        {% assign title = staff.settings.title | default: false %}

        <div class='col-12 col-lg-4'>
          <div class='{{ block_name }}__item'>

            {% if image %}
              <div class='{{ block_name }}__image image b-4 b-solid b-black round-8'>{% render 'content--lazyload-image', image: image %}</div>
            {% endif %}
            {% if name %}<h3 class='{{ block_name }}__name name'>{{ name }}</h3>{% endif %}
            {% if name %}<div class='{{ block_name }}__title title'>{{ title }}</div>{% endif %}
            {% if bio %}<div class='{{ block_name }}__bio bio message'>{{ bio }}</div>{% endif %}

          </div>
        </div>

      {% endfor %}

    {% else %}
      <div class='col-12'><p>No Staff Added :(</p></div>
    {% endif %}

  </div>
</div>
