{% comment %}

  Use snippet like so...

  {% render 'block--fact-feature', settings: block.settings %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'fact-feature' %}

{% assign heading = settings.heading | default: false %}
{% assign message = settings.message | default: false %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main'>
  <div class='{{ block_name }}__logo'>
    {% render 'svg--logo-primary-cursive' %}
  </div>
  <div class='{{ block_name }}__content b-4 b-solid b-black round-8'>
    {% if heading %}<h2 class='{{ block_name }}__heading heading font-weight--600'>{{ heading }}</h2>{% endif %}
    {% if message %}<div class='{{ block_name }}__message message'>{{ message }}</div>{% endif %}
  </div>
</div>
