{% comment %}

  Use snippet like so...

  {% render 'block--image-feature', settings: block.settings %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'image-feature' %}

{% assign image_count = 0 %}
{% for i in (1..3) %}
  {% assign image_key = 'image-0' | append: i %}
  {% assign image = settings[image_key] | default: false %}
  {% if image %}{% assign image_count = image_count | plus: 1 %}{% endif %}
{% endfor %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__main' data-image-count='{{ image_count }}'>
  <div class='{{ block_name }}__grid'>
    {% for i in (1..3) %}
      {% assign image_key = 'image-0' | append: i %}
      {% assign image = settings[image_key] | default: false %}
      {% if image %}
        <div class='{{ block_name }}__image image b-4 b-solid b-black round-8'>{% render 'content--lazyload-image', image: image %}</div>
      {% endif %}
    {% endfor %}
  </div>
</div>
