{% assign block_name = 'cart' %}

{% if cart.item_count == 0 %}

  <div class="{{ block_name }}__empty">
    {% render 'layout--container', state: 'open', col: 'col-12 col-xxl-10 offset-xxl-1' %}
      <h1 class="{{ block_name }}__heading font-weight--700">Your cart is empty</h1>
      <div class="{{ block_name }}__message message rte">
        <p>Let's change that. <a href='/collections/everything' target='_self'>Shop our gear</a>.</p>
      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>

{% endif %}
