{% assign block_name = 'cart' %}

{% if cart.item_count > 0 %}

  {% assign cart_subtotal = cart.original_total_price %}
  {% assign cart_total = cart.total_price %}

  <div class="{{ block_name }}__footer">
    {% render 'layout--container', state: 'open', col: 'col-12 col-xxl-10 offset-xxl-1' %}

      <div class='{{ block_name }}__price-summary'>

        <div class='{{ block_name }}__subtotal'>
          <div class='{{ block_name }}__row'>
            <span class="{{ block_name }}__subtotal-label font-weight--700">Subtotal</span>
            <span class="{{ block_name }}__subtotal-value font-weight--700">{{ cart_subtotal | money }}</span>
          </div>
        </div>

        {% comment %} ## TODO ADD STYLES FOR THIS TOO {% endcomment %}
        {% if cart.discount_applications.size > 0 %}
          <div class='{{ block_name }}__discounts'>
            {% for discount_application in cart.discount_applications %}
              <div class='{{ block_name }}__row'>
                Discount name: {{ discount_application.title }}
                Savings: -{{ discount_application.total_allocated_amount | money }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class='{{ block_name }}__total'>
          <div class='{{ block_name }}__row'>
            <span class="{{ block_name }}__total-label font-weight--700">Total</span>
            <span class="{{ block_name }}__toal-value font-weight--700">{{ cart_total | money }}</span>
          </div>
        </div>

      </div>

      <div class='{{ block_name }}__actions'>
        <div class='{{ block_name }}__row'>
          <button class='button button--pill' type="submit" name="update">Update Cart</button>
          <button class='button button--pill' type="submit" name="checkout">Proceed to Checkout</button>
        </div>
        <div class='{{ block_name }}__row'>
          <div class='{{ block_name }}__continue-shopping'>or <a class='{{ block_name }}__continue-shopping-link link link--primary' href='/collections/everything/' target='_self'>Continue Shopping</a></div>
        </div>
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>

{% endif %}
