{% comment %}

  Use snippet like so...

  {%
    render 'content--heading-with-stroke',
    heading: 'Custom heading here.',
    tag: 'h2'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign heading = heading | default: false%}
{% assign tag = tag | default: 'h2' %}

{% comment %} Template {% endcomment %}

{% if heading %}
  <{{ tag }} class='heading heading--with-stroke'>
    <span class='heading__text'>{{ heading }}</span>
    <span class='heading__stroke'></span>
  </{{ tag }}>
{% endif %}
