{% comment %}

  Use snippet like so...

  {%
    render 'content--image-grid-item',
    background: 'cream',
    fill: 'black',
    url: false,
    svg: 'the-river',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'image-grid' %}

{% assign this_background = background | default: 'green' %}
{% assign this_fill = fill | default: 'black' %}
{% assign this_url = url | default: false %}
{% assign this_svg = svg | default: false %}

{% comment %} Template {% endcomment %}

{% assign target = '_self' %}
{% if this_url contains 'http' %}
  {% assign target = '_blank' %}
{% endif %}

<div class='{{ block_name }}__item' data-id='{{ this_svg }}'>

  {% if this_url %}<a href='{{ this_url }}' target='{{ target }}'>{% endif %}

    {% case this_svg %}
      {% when 'the-river' %}
        {% render 'svg--advertisement--the-river', background: this_background, fill: this_fill, url: this_url %}
      {% else %}
        <p>No case!</p>
    {% endcase %}

  {% if this_url %}</a>{% endif %}

</div>
