{% comment %}

  Use snippet like so...

  {%
    render 'content--store-address',
    classes: 'sample__class',
    style: 'primary',
    tag: 'p'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign classes = classes | default: false %}
{% assign tag = tag | default: 'p' %}

{% comment %} Template {% endcomment %}

<{{ tag }} {% if classes %}class='{{ classes }}'{% endif %}>
  {% case style %}
    {% when 'primary' %}
      {% assign store_address = shop.address.address1 %}
      {% if shop.address.address2 != '' %}
        {% assign store_address = store_address | append: ' ' | append: shop.address.address2 %}
      {% endif %}
      {% assign store_address = store_address | append: ', ' | append: shop.address.city %}
      {% assign store_address = store_address | append: ', ' | append: shop.address.province_code %}
      {{ store_address }}
  {% endcase %}
</{{ tag }}>
