{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-iframe',
    id: false,
    source: 'vimeo'
  %}

{% endcomment %}

{% assign classes = 'lazyload-item lazyload-item--iframe lazyload' %}
{% assign video_url = '' %}

{% if id %}

  {% case source %}
    {% when 'vimeo' %}
      {% assign video_url = 'https://player.vimeo.com/video/' | append: id %}
    {% when 'youtube' %}
      {% assign video_url = 'https://www.youtube.com/embed/' | append: id %}
  {% endcase %}

  <iframe
    class="{{ classes }}"
    frameborder="0"
    allow="autoplay; encrypted-media"
    data-src="{{ video_url }}?autoplay=1&loop=1&autopause=0&muted=1"
    webkitallowfullscreen mozallowfullscreen allowfullscreen
  ></iframe>

{% endif %}
