{% comment %}

  Use snippet like so...

  {%
    render 'content--google-maps-directions-link',
    address: '1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003',
    classes: 'business-hours__directions-link',
    link_title: 'Get Directions',
    tag: 'p',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign base_url = 'https://www.google.com/maps/search/?api=1&query=' %}
{% assign classes = classes | default: false %}
{% assign link_title = link_title | default: 'Directions' %}
{% assign tag = tag | default: 'p' %}

{% comment %} Template {% endcomment %}

{% if address %}
  <{{ tag }} {% if classes %}class='{{ classes }}'{% endif %}>
    <a href='{{ base_url }}{{ address }}' target='_blank' rel='noopener'>{{ link_title }}</a>
  </{{ tag }}>
{% endif %}
