{% comment %}
  {% render 'content--menu', menu_handle: "main-menu", modifier: "main-menu" %}
{% endcomment %}

{% assign this_menu = linklists[menu_handle] | default: false %}

{% if this_menu and this_menu.links.size > 0 %}
  {% for link in this_menu.links %}
    <li class="menu__item {% if link.active %}active{% endif %}">
      <a href='{{ link.url }}'>{{ link.title }}</a>
      {% if link.links and link.links.size > 0 %}
        <nav class="menu menu--sub menu--{{ modifier }}">
          <ul class="menu__list">
            {% for link in link.links %}
              <li class="menu__item {% if link.active %}active{% endif %}">
                <a href='{{ link.url }}'>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </li>
  {% endfor %}
{% endif %}
