{% comment %}

  Use snippet like so...

  {%
    render 'content--image-grid-item',
    image: 'Filename of image in assets folder',
    image_alt: 'Description of Image'
  %}

{% endcomment %}

{% if image %}

  {% assign target = '_self' %}
  {% if image_link contains 'http' %}
    {% assign target = '_blank' %}
  {% endif %}

  <div class="image-grid__item" {% if id != '' %}data-id="{{ id }}"{% endif %}>

    {% if image_link != '' %}
      <a href='{{ image_link }}' target='{{ target }}'>
    {% endif %}
      <img src='{{ image | asset_url }}' {% if image_alt != '' %}alt='{{ image_alt }}'{% endif %} />
    {% if image_link != '' %}
      </a>
    {% endif %}

  </div>

{% endif %}
