{% assign block_name = 'instagram-feed' %}
{% assign post_limit = post_limit | default: 6 %}

<div
  class="{{ block_name }} js--instagram-feed"
  data-instagram-feed-account-name="{{ account_name }}"
  data-instagram-feed-post-limit="{{ post_limit }}"
>
  {% assign square = 'PLACEHOLDER--square--black.svg' | asset_url %}
  {% for i in (1..post_limit) %}
    <div class="{{ block_name }}__item" data-index0='{{ i | minus: 1 }}' data-index='{{ i }}'>
      <a class="{{ block_name }}__link" target="_blank" rel="noreferrer noopener">
        <div class="{{ block_name }}__image-placeholder">
          <img src='{{ square }}' width='100' height='100' alt='Instagram Feed Placeholder Image' />
        </div>
        <div
          class="{{ block_name }}__image lazyload-item lazyload-item--image lazyload-item--background"
          data-transition-duration='750'
          data-transition-delay='150'
        ></div>
        <div class="{{ block_name }}__overlay"></div>
      </a>
    </div>
  {% endfor %}
</div>
