{% comment %}

  Use snippet like so...

  {%
    render 'content--link',
    active: is_active,
    classes: classes,
    new_tab: new_tab,
    title: title,
    url: url
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign this_active = active | default: false %}
{% assign this_classes = classes | default: '' %}
{% assign this_new_tab = new_tab | default: false %}
{% assign this_title = title | default: '' %}
{% assign this_url = url | default: '' %}

{% if this_url and this_title %}

  {% if this_active %}
    {% assign this_classes = this_classes | append: ' active' | strip %}
  {% endif %}

  <a
    href='{{ this_url }}'
    {% if this_classes != blank %}class='{{ this_classes }}'{% endif %}
    {% if this_new_tab %}target='_blank' rel='noopener'{% else %}target='_self'{% endif %}
  >{{ this_title }}</a>

{% endif %}
