{% comment %}

  Use snippet like so...

  {%
    render 'content--carousel',
    bullets: false,
    controls: false,
    id: false,
    items: items,
    limit: false,
    mobile_only: false,
    style: '',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'glide' %}
{% assign bullets = bullets | default: false %}
{% assign controls = controls | default: false %}
{% assign id = id | default: false %}
{% assign items = items | default: false %}
{% assign limit = limit | default: 50 %}
{% assign mobile_only = mobile_only | default: false %}
{% assign style = style | default: false %}

{% comment %} Template {% endcomment %}

{% if items.size > 1 and id %}

  <div
    class='{{ block_name }} js--{{ block_name }}'
    id='{{ id }}'
    data-style='{{ style }}'
    data-mobile-only='{% if mobile_only %}true{% else %}false{% endif %}'
    data-limit='{{ limit }}'
  >

    <div class='{{ block_name }}__track' data-glide-el='track'>
      <ul class='{{ block_name }}__slides'>
        {% for item in items limit: limit %}
          <li class='{{ block_name }}__slide'>

            {% case style %}
              {% when 'product-gallery' %}
                <div class='product__gallery-item'>
                  {% render 'content--lazyload-image', image: item %}
                </div>
            {% endcase %}

          </li>
        {% endfor %}
      </ul>
    </div>

    {% if controls %}
      <div class="{{ block_name }}__arrows{% if mobile_only %} d-lg-none{% endif %}" data-glide-el="controls">
        <button class="{{ block_name }}__arrow {{ block_name }}__arrow--left" type="button" data-glide-dir="<">prev</button>
        <button class="{{ block_name }}__arrow {{ block_name }}__arrow--right" type="button" data-glide-dir=">">next</button>
      </div>
    {% endif %}

    {% if bullets %}
      <div class="{{ block_name }}__bullets{% if mobile_only %} d-lg-none{% endif %}" data-glide-el="controls[nav]">
        {% for item in items %}
          <button class="{{ block_name }}__bullet" type="button" data-glide-dir="={{ forloop.index0 }}"></button>
        {% endfor %}
      </div>
    {% endif %}

  </div>

{% endif %}
