{% form 'customer', id: "form--newsletter", class: 'form form--newsletter js--validate-me' %}

  <div class="form__main">

    <div class="form__row rude">
      <div class="form__field">
        <label>Rude</label>
        <input class="rude" type="text" name="contact[rude]">
      </div>
    </div>

    <div class="form__row email">
      <div class="form__field">
        <label>Email Address</label>
        <input class="required" type="email" name="contact[email]"  placeholder="Enter your email...">
      </div>
      <button class="form__button button" type="submit">
        {% render 'svg--icon-arrow-with-circle', fill_colour: 'black' %}
      </button>
    </div>

  </div>

  <div class="form__success">
    <div class="form__success-message message">
      <p>Thanks for subscribing!</p>
    </div>
  </div>

{% endform %}
