{% form 'contact', id: "form--contact", class: 'form form--contact js--validate-me' %}

  <div class="form__main">

    <div class="form__row form__row--name">
      <div class="form__field form__field--input form__field--text">
        <label>Name</label>
        <input class="required" type="text" name="contact[name]">
      </div>
    </div>

    <div class="form__row form__row--name">
      <div class="form__field form__field--input form__field--email">
        <label>Email</label>
        <input class="required" type="email" name="contact[email]">
      </div>
    </div>

    <div class="form__row form__row--name">
      <div class="form__field form__field--input form__field--phone">
        <label>Phone</label>
        <input class="required" type="tel" name="contact[phone]">
      </div>
    </div>

    <div class="form__row form__row--message">
      <div class="form__field form__field--input form__field--message">
        <label>Message</label>
        <textarea class="required" name="contact[body]"></textarea>
      </div>
    </div>

    <div class="form__action form__action--submit">
      <button class="form__button button button--fill button--dark button--rounded" type="submit">Submit</button>
    </div>

    <div class="form__notification form__notification--success">
      <div class="form__message form__message--success">
        <p>Thanks for reaching out!<br>Please expect to hear back from us shortly.</p>
      </div>
    </div>

    <div class="form__row form__row--rude">
      <div class="form__field form__field--input form__field--rude">
        <label>Rude</label>
        <input class="rude" type="text" name="contact[rude]">
      </div>
    </div>

  </div>

{% endform %}
