{% comment %}

  Use snippet like so...

  {% render 'layout--ticker',
    class_modifier: 'modifier-name',
    direction_right: false,
    speed: 2.0
  %}

{% endcomment %}

<div
  class="marquee3k ticker {% if class_modifier %}ticker--{{ class_modifier }}{% endif %}"
  data-speed="{{ speed }}"
  {% if direction_right %}data-reverse="true"{% endif %}
>
  <span class="ticker__item">
    <span class="ticker__item-copy">Coming Soon</span>
    <span class="ticker__item-bullet">•</span>
  </span>
</div>
