{% comment %}

  Use snippet like so...

  {%
    render 'layout--history',
    class_modifier: 'index',
    message: history_message
  %}

{% endcomment %}

<div class="history history--{{ class_modifier }} outlined outlined--rounded outline--black">
  <div class="outlined__main outlined__main--padded">
    <img src='{{ "SHAKE--index--history--heading--black.svg" | asset_url }}' alt='A Brief History' />
    <div class="message rte">
      {{ message }}
    </div>
  </div>
</div>
