{% comment %}

  Use snippet like so...

  {% render 'layout--advertisements' %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'advertisements' %}

{% assign link_spotify = settings.social--spotify | default: "https://www.spotify.com" %}
{% assign link_instagram = settings.social--instagram | default: "https://www.instagram.com" %}
{% assign broken_link__preservation = "/shaketown-preservation" %}
{% assign broken_link__baketown = "/whole-loaves" %}

{% comment %} Template {% endcomment %}

<div class="{{ block_name }} advertisement--{{ class_modifier }} b-4 b-solid b-black round-8">

  <div class="{{ block_name }}__header b-0 bb-4 b-solid b-black">
    <span class="cta cta--secondary d-lg-none">Paid Advertisements • Paid Advertisements</span>
    <span class="cta cta--secondary d-none d-lg-inline-flex">Paid Advertisements • Paid Advertisements • Paid Advertisements</span>
  </div>

  <div class="{{ block_name }}__body">

    {% comment %}

      //////////////////////////////////////////////////////////
      ////  Mobile
      //////////////////////////////////////////////////////////

    {% endcomment %}

    <div class="image-grid d-lg-none">

      <div class="image-grid__row" data-row="1">
        <div class="image-grid__column" data-column="1">
          <div class='image-grid__item'>
            {% render 'svg--advertisement--the-river', background: 'blue', fill: 'black', url: link_spotify %}
          </div>
          <div class='image-grid__item bg-black'>
            {% render 'svg--advertisement--shaketown-holdings', background: 'black', fill: 'cream' %}
          </div>
          <div class='image-grid__item bg-yellow'>
            {% render 'svg--advertisement--one-hour-photo', background: 'yellow', fill: 'black', url: link_instagram %}
          </div>
        </div>
        <div class="image-grid__vr"></div>
        <div class="image-grid__column" data-column="2">
          <div class='image-grid__item bg-green'>
            {% render 'svg--advertisement--good-beer', background: 'green', fill: 'black' %}
          </div>
          <div class='image-grid__item bg-black'>
            {% render 'svg--advertisement--baketown', background: 'black', fill: 'cream' %}
          </div>
        </div>
      </div>

      <div class="image-grid__hr"></div>

      <div class="image-grid__row" data-row="2">
        <div class="image-grid__column" data-column="1">
          <div class='image-grid__item bg-blue'>
            {% render 'svg--advertisement--shaketown-69', background: 'blue', fill: 'black' %}
          </div>
        </div>
      </div>

      <div class="image-grid__hr"></div>

      <div class="image-grid__row" data-row="3">
        <div class="image-grid__column" data-column="1">
          <div class='image-grid__item bg-green'>
            {% render 'svg--advertisement--preservation', background: 'green', fill: 'black' %}
          </div>
        </div>
        <div class="image-grid__vr"></div>
        <div class="image-grid__column" data-column="2">
          <div class='image-grid__item bg-red'>
            {% render 'svg--advertisement--shaketown-brewing', background: 'red', fill: 'black' %}
          </div>
          <div class='image-grid__item bg-yellow'>
            {% render 'svg--advertisement--shaketown-artists-guild', background: 'yellow', fill: 'black' %}
          </div>
        </div>
      </div>

    </div>

    {% comment %}

      //////////////////////////////////////////////////////////
      ////  Desktop
      //////////////////////////////////////////////////////////

    {% endcomment %}

    <div class="image-grid d-none d-lg-block">
      <div class="image-grid__row" data-row="1">

        <div class="image-grid__column" data-column="1">
          <div class="image-grid__row" data-row-inner="1">
            <div class="image-grid__column image-grid__column--border-bottom" data-column-inner="1">
              <div class='image-grid__item bg-blue'>
                {% render 'svg--advertisement--shaketown-69', background: 'blue', fill: 'black' %}
              </div>
            </div>
          </div>
          <div class="image-grid__row" data-row-inner="2">
            <div class="image-grid__column" data-column-inner="1">
              <div class='image-grid__item bg-green'>
                {% render 'svg--advertisement--preservation', background: 'green', fill: 'black' %}
              </div>
            </div>
            <div class="image-grid__vr"></div>
            <div class="image-grid__column" data-column-inner="2">
              <div class='image-grid__item bg-red'>
                {% render 'svg--advertisement--shaketown-brewing', background: 'red', fill: 'black' %}
              </div>
              <div class='image-grid__item bg-yellow'>
                {% render 'svg--advertisement--shaketown-artists-guild', background: 'yellow', fill: 'black' %}
              </div>
            </div>
          </div>
        </div>

        <div class="image-grid__vr"></div>

        <div class="image-grid__column" data-column="2">
          <div class='image-grid__item bg-green'>
            {% render 'svg--advertisement--good-beer', background: 'green', fill: 'black' %}
          </div>
          <div class='image-grid__item bg-black'>
            {% render 'svg--advertisement--baketown', background: 'black', fill: 'cream' %}
          </div>
        </div>

        <div class="image-grid__vr"></div>

        <div class="image-grid__column" data-column="3">
          <div class='image-grid__item bg-blue'>
            {% render 'svg--advertisement--the-river', background: 'blue', fill: 'black', url: link_spotify %}
          </div>
          <div class='image-grid__item bg-black'>
            {% render 'svg--advertisement--shaketown-holdings', background: 'black', fill: 'cream' %}
          </div>
          <div class='image-grid__item bg-yellow'>
            {% render 'svg--advertisement--one-hour-photo', background: 'yellow', fill: 'black', url: link_instagram %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="{{ block_name }}__footer b-0 bt-4 b-solid b-black">
    <span class="cta cta--secondary">&copy {{ "now" | date: "%Y" }} {{ shop.name }}</span>
  </div>

</div>
