{% comment %}

  Use snippet like so...

  {%
    render 'layout--shakey',
    classes: '404',
    style: 'black',
    message: '<p>Oops this is your custom message!</p>'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'shakey' %}

{% assign style = style | default: 'no-set' %}
{% assign message = message | default: '<p>Update me!</p>' %}

{% case style %}
  {% when 'get-in-touch', 'index', 'product' %}
    {% assign stroke_colour = 'black' %}
    {% assign fill_colour = 'cream' %}
  {% when 'age-gate', '404' %}
    {% assign stroke_colour = 'green' %}
    {% assign fill_colour = 'black' %}
{% endcase %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}' data-style='{{ style }}'>
  <div class='{{ block_name }}__main'>
    <div class='{{ block_name }}__image'>
      <div class='{{ block_name }}__image-body'>
        {% render 'svg--shakey-body', stroke_colour: stroke_colour %}
      </div>
      <div class='{{ block_name }}__image-legs'>
        {% render 'svg--shakey-legs', stroke_colour: stroke_colour %}
      </div>
    </div>
    <div class='{{ block_name }}__content b-4 b-solid b-black round-8'>
      <div class='{{ block_name }}__image-speech-indicator'>
        {% render 'svg--shakey-speech-indicator', fill_colour: fill_colour, stroke_colour: stroke_colour %}
      </div>
      <h2 class='{{ block_name }}__heading heading font-weight--600'>Shakey Says:</h2>
      <div class='{{ block_name }}__message message'>{{ message }}</div>
    </div>
  </div>
</div>

