{% comment %}

  Use snippet like so...

  {%
    render 'layout--instagram',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'instagram' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_account = settings.instagram--account | default: false %}
{% assign this_account_handle = this_account | remove: "@" | default: false %}
{% assign this_feed_limit = feed_limit | default: 6 %}
{% assign this_heading = block_settings.heading | default: 'Follow us on Instagram' %}
{% assign this_heading_tag = 'h2' %}
{% assign this_link = 'https://www.instagram.com/' %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }} section--padding-y'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}

      {% if this_heading %}
        <h2 class="{{ block_name }}__heading heading heading--600 lowercase ">{{ this_heading }}</h2>
      {% endif %}

      {% if this_account %}

        {% assign this_link = this_link | append: this_account_handle %}

        <div
            class="{{ block_name }}__feed js--instagram-feed"
            data-instagram-feed-account-name="{{ this_account_handle }}"
            data-instagram-feed-post-limit="{{ this_feed_limit }}"
          >
            {% for i in (1..this_feed_limit) %}
              <div class="{{ block_name }}__item" data-index="{{ i }}">
                <a class="{{ block_name }}__link" href="" target="_blank" rel="noopener">
                  <div class="{{ block_name }}__placeholder"><img src="{{ 'OPTIMI--placeholder--instagram.svg' | asset_url }}" width="200" height="200" alt="Placeholder" /></div>
                  <div class="{{ block_name }}__image lazyload-item lazyload-item--background lazyload-item--image" data-transition-duration="650" data-transition-delay="0"></div>
                </a>
              </div>
            {% endfor %}
        </div>

        <div class="{{ block_name }}__cta">
          {%
            render 'content--link',
            classes: 'button button--outlined',
            new_tab: true,
            title: this_account,
            url: this_link
          %}
        </div>

      {% endif %}

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
