{% comment %}

  Use snippet like so...

  {%
    render 'layout--contact',
    class_modifier: 'index',
    email: contact_email,
    phone: contact_phone
  %}

{% endcomment %}

{% assign contact_email = settings.contact--email | default: shop.email %}
{% assign contact_phone = settings.contact--phone | default: shop.phone %}
{% assign instagram_url = settings.social--instagram | default: "https://www.google.com" %}

<div class="contact contact--{{ class_modifier }} outlined outlined--rounded outline--black">

  <div class="outlined__main outlined__main--padded">
    <img src='{{ "SHAKE--index--contact--heading--black.svg" | asset_url }}' alt='Give us a Shout!' />
    <a href='tel:{{ contact_phone }}'>
      <img class="hover-item hover-item--bottom" src='{{ "SHAKE--index--contact--telephone--black.svg" | asset_url }}' alt='Call Us' />
      <img class="hover-item hover-item--top" src='{{ "SHAKE--index--contact--telephone--blue.svg" | asset_url }}' alt='Call Us' />
    </a>
    <img src='{{ "SHAKE--index--contact--stars--black.svg" | asset_url }}' alt='Decorative' />
    <a href='mailto:{{ contact_email }}'>
      <img class="hover-item hover-item--bottom" src='{{ "SHAKE--index--contact--email--black.svg" | asset_url }}' alt='Email Us' />
      <img class="hover-item hover-item--top" src='{{ "SHAKE--index--contact--email--blue.svg" | asset_url }}' alt='Email Us' />
    </a>
  </div>

  <div class="outlined__footer">
    <span class="cta cta--alternative">
      <a href='{{ instagram_url }}' target='_blank'>Follow Us! Follow Us!</a>
    </span>
  </div>

</div>
