{% comment %}

  Use snippet like so...

  {% render 'layout--google-maps' %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'google-maps' %}

{% comment %} Template {% endcomment %}

<div
  class='{{ block_name }} b-4 b-black b-solid p-0 round-8 js--google-map'
  data-address='{{ shop.address.summary }}, {{ shop.name }}'
  data-zoom='13'
></div>
