{% comment %}

  Use snippet like so...

  {%
    render 'layout--flexible-content',
    section: section,
    template: 'history'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'flexible-content' %}
{% assign this_section = section | default: false %}
{% assign this_template = template | default: 'default' %}

{% comment %} Template {% endcomment %}

{% if this_section %}

  {% assign section_blocks = this_section.blocks %}
  {% assign staff_list = section_blocks | where: 'type', 'staff' | default: false %}
	{% assign footer_link = this_section.settings.footer--link | default: false %}

  {% if section_blocks.size > 0 %}
	  <div class='{{ block_name }}__blocks' data-style='{{ this_template }}'>
		  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1' %}
			  {% for block in section_blocks %}
				  {% unless 'staff' == block.type %}
					  <div class='{{ block_name }}__block block block--{{ block.type }} {{ block.type }}' data-style='{{ this_template }}'>
						  {% case block.type %}
							  {% when 'contact-us' %}
								  {% render 'block--contact-us', settings: block.settings %}
								{% when 'fact-feature' %}
									{% render 'block--fact-feature', settings: block.settings %}
							  {% when 'image-feature' %}
								  {% render 'block--image-feature', settings: block.settings %}
							  {% when 'image-feature-with-text' %}
								  {% render 'block--image-feature-with-text', settings: block.settings, style: this_template %}
								{% when 'moments-in-history' %}
								  {% render 'block--moments-in-history', settings: block.settings, style: this_template %}
                {% when 'shaketown-characters' %}
                  {% render 'block--shaketown-characters', settings: block.settings, style: this_template %}
                {% when 'shaketown-logos' %}
                  {% render 'block--shaketown-logos', settings: block.settings, style: this_template %}
							  {% when 'team' %}
								  {% render 'block--team', staff_list: staff_list %}
								{% when 'text-feature' %}
								  {% render 'block--text-feature', settings: block.settings, style: this_template %}
						  {% endcase %}
					  </div>
				  {% endunless %}
			  {% endfor %}

				<div class="flexible-content__block block block--footer" data-style='{{ this_template }}'>
					{% if footer_link %}<a href='{{ footer_link }}'{% if footer_link contains 'http'%}target='_blank' rel='noopener'{% endif %}>{% endif %}
						{% case this_template %}
							{% when 'history' %}
								{% render 'svg--drinkable-beer' %}
							{% when 'the-brewery' %}
								{% render 'svg--shakipedia' %}
						{% endcase %}
					{% if footer_link %}</a>{% endif %}
				</div>

		  {% render 'layout--container', state: 'closed' %}
	  </div>
  {% endif %}

{% endif %}
