{% comment %}

  Use snippet like so...

  {%
    render 'layout--hero',
    class_modifier: 'index'
  %}

{% endcomment %}

<div class="hero hero--{{ class_modifier }}">
  <div class="hero__image">
    {% render 'svg--hero' %}
  </div>
</div>
