{% comment %}

  Use snippet like so...

  {%
    render 'layout--get-in-touch',
    include_shakey: false
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'get-in-touch' %}
{% assign include_shakey = include_shakey | default: false %}
{% assign link_email = settings.contact--email | default: shop.email %}
{% assign link_phone = settings.contact--phone | default: shop.phone %}
{% assign link_instagram = settings.social--instagram | default: 'https://www.instagram.com/' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}'>

  {% if include_shakey %}
    {% render 'layout--shakey', message: '<p>Lorem ipsum dolor sit amet,<br> consectetuer adipiscing elit, sed.</p>', style: 'get-in-touch' %}
  {% endif %}

  <div class='{{ block_name }}__body bg-green b-solid b-black b-4 bb-0 round-t-8'>
    {% render 'svg--give-us-a-shout' %}
    <a class='{{ block_name }}__link telephone' href='tel:{{ link_phone }}'>
      {% render 'svg--fake-telephone' %}
    </a>
    <img src='{{ 'SHAKE--index--contact--stars--black.svg' | asset_url }}' alt='Five stars in a row'>
    <a class='{{ block_name }}__link email' href='mailto:{{ link_email }}'>
      {% render 'svg--send-us-an-email' %}
    </a>
  </div>

  <div class='{{ block_name }}__footer bg-green b-solid b-black b-4 round-b-8'>
    <div class='cta cta--secondary'>
      <a class='{{ block_name }}__link social' href='{{ link_instagram }}' target='_blank' rel='noopener'>Follow Us! Follow Us!</a>
    </div>
  </div>

</div>
