{% comment %}

  Use snippet like so...

  {%
    render 'layout--pagination',
    paginate: paginate,
    style: 'collection'
  %}

{% endcomment %}

{% assign block_name = 'pagination' %}

{% assign style = style | default: 'not-set' %}
{% assign paginate = paginate | default: false %}

{% if paginate %}
  <div class='{{ block_name }}' data-style='{{ style }}'>

    <div class='{{ block_name }}__item previous {% unless paginate.previous %}disabled{% endunless %}'>
      {% if paginate.previous %}<a href='{{ paginate.previous.url }}'>{% endif %}
        Previous
      {% if paginate.previous %}</a>{% endif %}
    </div>

    {% for part in paginate.parts %}

      {% if part.is_link %}
        <div class='{{ block_name }}__item'>
          <a href='{{ part.url }}'>{{ part.title }}</a>
        </div>
      {% else %}
        {% if part.title == paginate.current_page %}
          <div class='{{ block_name }}__item active'><span>{{ part.title }}</span></div>
        {% else %}
          <div class='{{ block_name }}__item {{ block_name }}__item--not-sure'>{{ part.title }}</div>
        {% endif %}
      {% endif %}

    {% endfor %}

    <div class='{{ block_name }}__item next {% unless paginate.next %}disabled{% endunless %}'>
      {% if paginate.next %}<a href='{{ paginate.next.url }}'>{% endif %}
        Next
      {% if paginate.next %}</a>{% endif %}
    </div>

  </div>

{% endif %}
