{% comment %}

  Use snippet like so...

  {%
    render 'layout--hero',
    container_columns: false,
    container_enable: 'col-12',
    container_type: 'container',
    style: 'index' or 'product' or 'custom-style'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'hero' %}
{% assign style = style | default: 'not-set' %}
{% assign container_columns = container_columns | default: 'col-12' %}
{% assign container_enable = container_enable | default: false %}
{% assign container_type = container_type | default: 'container' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}' data-style='{{ style }}'>

  {% if container_enable %}
    {% render 'layout--container', col: container_columns, container: container_type, state: 'open' %}
  {% endif %}

    <div class='{{ block_name }}__logo'>
      {% case style %}
        {% when 'cart', 'collection', 'product' %}
          {% render 'svg--logo-general-store' %}
        {% when 'index' %}
          {% render 'svg--logo-primary-animated' %}
        {% when 'the-brewery' %}
          {% render 'svg--logo-primary-with-tagline' %}
        {% else %}
          {% render 'svg--logo-primary' %}
      {% endcase %}
    </div>

  {% if container_enable %}
    {% render 'layout--container', state: 'closed' %}
  {% endif %}

</div>
