{% comment %}

  Use snippet like so...

  {%
    render 'layout--shakey',
    classes: '404',
    style: 'black',
    message: '<p>Oops this is your custom message!</p>'
  %}

{% endcomment %}

{% assign block_name = 'shakey' %}

{% assign classes = classes | default: false %}
{% assign style = style | default: 'no-set' %}
{% assign message = message | default: false %}

{% case style %}
  {% when 'index' %}
  {% when 'product' %}
    {% assign stroke_colour = 'black' %}
    {% assign fill_colour = 'cream' %}
{% endcase %}

{% if message %}
  <div class='{{ block_name }}' data-style='{{ style }}'>
    <div class='{{ block_name }}__main'>
      <div class='{{ block_name }}__image'>
        <div class='{{ block_name }}__image-body'>
          {% render 'svg--shakey-body'. stroke_colour: stroke_colour %}
        </div>
        <div class='{{ block_name }}__image-legs'>
          {% render 'svg--shakey-legs', stroke_colour: stroke_colour %}
        </div>
      </div>
      <div class='{{ block_name }}__content outlined outlined--rounded'>
        <div class='{{ block_name }}__image-speech-indicator'>
          {% render 'svg--shakey-speech-indicator', fill_colour: fill_colour, stroke_colour: stroke_colour %}
        </div>
        <h2 class='{{ block_name }}__heading heading'>Shakey Says:</h2>
        <div class='{{ block_name }}__message messsage'>{{ message }}</div>
      </div>
    </div>
  </div>
{% endif %}
