{% comment %}

  Use snippet like so...

  {%
    render 'layout--instagram-grid',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'instagram-grid' %}
{% assign instagram_url = settings.social--instagram | default: 'https://www.google.com' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }} b-4 b-solid b-black round-8'>

  <div class='{{ block_name }}__header b-0 bb-2 b-solid b-black'>
    {% render 'svg--the-shaketown-times', fill_colour: 'black' %}
  </div>

  <div class='{{ block_name }}__body'>
    {% render 'content--instagram-feed', account_name: 'shaketownbeer', post_limit: 12 %}
  </div>

  <div class='{{ block_name }}__footer b-0 bt-2 b-solid b-black'>
    <div class='cta cta--secondary cta--with-arrow'>
      <a class='{{ block_name }}__link' href='{{ instagram_url }}' target='_blank' rel='noopener'>
        <span class='{{ block_name }}__link-title'>Read More</span>
        <span class='{{ block_name }}__link-icon'>{% render 'svg--icon-arrow' %}</span>
      </a>
    </div>
  </div>

</div>
