{% comment %}

  Use snippet like so...

  {%
    render 'layout--newsletter',
    style: 'index'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'newsletter-signup' %}
{% assign style = style | default: 'no-set' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }} bg-green b-4 b-solid b-black round-8' data-style='{{ style }}'>
  {% render 'form--newsletter' %}
</div>
