{% comment %}

  Use snippet like so...

  {% render 'layout--business-hours' %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'business-hours' %}
{% assign store_address = shop.address.summary | append: ', ' | append: shop.name %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }} bg-yellow b-4 b-solid b-black round-8'>

  <div class='{{ block_name }}__header b-0 bb-4 b-solid b-black'>
    <h2 class='{{ block_name }}__heading heading heading--primary font-weight--700'>Business Hours</h2>
  </div>

  <div class='{{ block_name }}__body'>
    {% for i in (1..7) %}

      {% assign key_day = 'business-hours--day-0' | append: i %}
      {% assign key_hours = 'business-hours--hours-0' | append: i %}

      {% assign value_day = settings[key_day] | default: false %}
      {% assign value_hours = settings[key_hours] | default: false %}

      {% if value_day and value_hours %}
        <div class='{{ block_name }}__range font-weight--700'>
          <div class='{{ block_name }}__day'>{{ value_day }}</div>
          <div class='{{ block_name }}__hours'>{{ value_hours }}</div>
        </div>
      {% endif %}

    {% endfor %}
  </div>

  <div class='{{ block_name }}__footer b-0 bt-4 b-solid b-black'>
    <h3 class='{{ block_name }}__heading heading heading--secondary uppercase font-weight--600'>Visit Us</h3>
    {% render 'content--store-address', classes: 'business-hours__store-address', style: 'primary' %}
    {% render 'content--google-maps-directions-link', address: store_address, classes: 'business-hours__directions-link', link_title: 'Get Directions' %}
  </div>

</div>
