{% comment %}

  Use snippet like so...

  {%
    render 'modal--age-gate',
  %}

{% endcomment %}

{% assign block_name = 'age-gate' %}

{% assign cookie_expires = settings.age-gate--cookie-expires | default: 180 %}
{% assign message = settings.age-gate--message | default: false %}

<div class="{{ block_name }}__main">
  <div class="{{ block_name }}__content">

    <div class="{{ block_name }}__logo">
      <img src='{{ "SHAKE--logo--wordmark--green.svg" | asset_url }}' alt='{{ shop.name }} Logo' width='300' height='138' />
    </div>

    {% if message %}
      {% render 'layout--shakey', message: message, style: 'age-gate' %}
    {% endif %}

    <div class="{{ block_name }}__options">
      <button class="{{ block_name }}__button button button--pill" type="button" data-choice="yes">Yes</button>
      <button class="{{ block_name }}__button button button--pill" type="button" data-choice="no">No</button>
      <div class="{{ block_name }}__note"><p>We will remember your choice for {{ cookie_expires }} days.</p></div>
    </div>

    <div class="{{ block_name }}__block-watch">
      <img src='{{ "SHAKE--shaketown-block-watch--green.svg" | asset_url }}' alt='{{ shop.name }} Blockwatch Logo' width='195' height='150' />
    </div>

  </div>
</div>
