{%- if product -%}

  {%- assign classes = classes | default: false %}
  {%- assign price = product.price -%}
  {%- assign price_compare_at = product.variant.compare_at_price | default: false -%}
  {%- assign selling_plan_compare_at = item.selling_plan_allocation.compare_at_price | default: false -%}

  <div class='{% if classes %}{{ classes }} {% endif %}product__price'>

    {%- if price_compare_at or selling_plan_compare_at -%}

      <span class='product__compare-at-price'>
        {%- if selling_plan_compare_at -%}
          {{- selling_plan_compare_at | money_without_trailing_zeros -}}
        {%- else -%}
          {{- price_compare_at | money_without_trailing_zeros -}}
        {%- endif -%}
      </span>

    {%- endif -%}

    {{- price | money_without_trailing_zeros -}}

  </div>

{%- endif -%}

