{% comment %}

  Use snippet like so...

  {%
    render 'layout--product-preview',
    product: product,
    style: 'collection-grid',
  %}

{% endcomment %}

{% assign block_name = 'product' %}

{% assign style = style | default: 'not-set' %}
{% assign product = product | default: false %}
{% assign product_title = product.title %}
{% assign product_images = product.images | default: false %}
{% assign product_image_count = product_images.size %}

{% if product %}

  <div class='{{ block_name }}' data-style='{{ style }}'>

    <div class='{{ block_name }}__images' data-image-count='{{ product_image_count }}'>
      <a href='{{ product.url | within: collection }}'>
        {% if product_images %}
          <div class='{{ block_name }}__featured-image'>
            {%
              render 'content--lazyload-image',
              classes: 'sample-class',
              delay: 0,
              image: product.featured_image,
              duration: 250,
            %}
          </div>
          {% if product_image_count > 1 %}
            <div class='{{ block_name }}__second-image'>
              {%
                render 'content--lazyload-image',
                classes: 'sample-class',
                delay: 0,
                image: product_images[1],
                duration: 250,
              %}
            </div>
          {% endif %}
        {% endif %}
      </a>
    </div>

    <div class='{{ block_name }}__cta'>
      <a class='{{ block_name }}__button button button--product-cta button--pill' href='{{ product.url | within: collection }}'>
        <h3 class='{{ block_name }}__title'>{{ product_title }}</h3>
        {% render 'svg--product-availability-badge', is_available: product.available, price: product.price %}
      </a>
    </div>

  </div>

{% else %}
  <p>Oops! No product info available for the product preview snippet.</p>
{% endif %}
