{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px" y="0px"
	{% comment %} viewBox="0 0 159.5 99.3" {% endcomment %}
  viewBox="0 0 160 100"
  xml:space="preserve"
  style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
>
  <polygon points="100.1,61 94.2,61 94.2,54.3 90,54.3 90,71.3 94.2,71.3 94.2,64.5 100.1,64.5 100.1,71.3 104.3,71.3
	  104.3,54.3 100.1,54.3 "/>
  <path d="M120.3,59.2v8.2c0,2.8,1.6,4.3,3.9,4.3c1.6,0.1,3.2-0.7,4-2.1l0,0v1.8h3.8V59.2h-3.8v7c0,1.7-0.8,2.4-2.3,2.4
	  c-1.3,0-1.9-0.6-1.9-2.4v-7L120.3,59.2z"/>
  <path d="M134,59.2v12.2h3.8v-5.7c-0.1-1.8,1.3-3.3,3.1-3.4c0.3,0,0.6,0,0.9,0.1h0.1V59c-0.3-0.1-0.7-0.1-1.1-0.1
	  c-1.4,0-2.6,0.9-3,2.2l0,0v-2L134,59.2z"/>
  <path d="M98.2,74.1H90v17h4.3v-6.2h4c3.5,0,5.8-1.9,5.8-5.4S101.8,74.1,98.2,74.1z M97.3,81.4h-3.1v-3.8h3.1
	  c1.5,0,2.4,0.5,2.4,1.9S98.8,81.4,97.3,81.4z"/>
  <path d="M112.8,78.5c-1.6-0.1-3,0.8-3.8,2.1l0,0V74h-3.8v17h3.7v-7c-0.2-1.2,0.6-2.2,1.8-2.4c0.1,0,0.3,0,0.4,0
	  c1.4,0,2,0.6,2,2.4v7h3.8v-8.2C117,80.1,115.4,78.5,112.8,78.5z"/>
  <path d="M124.7,78.5c-3.6,0-6.4,2.9-6.4,6.5s2.9,6.4,6.5,6.4s6.4-2.9,6.4-6.5c0.2-3.4-2.4-6.3-5.7-6.5
	  C125.2,78.5,125,78.5,124.7,78.5z M124.7,88.6c-1.7,0-2.7-1.3-2.7-3.6s1-3.6,2.7-3.6s2.7,1.3,2.7,3.6S126.4,88.6,124.7,88.6z"/>
  <path d="M112.6,58.7c-3.4-0.2-6.3,2.3-6.5,5.6c0,0.3,0,0.5,0,0.8c0,3.6,2.9,6.5,6.5,6.5s6.5-2.9,6.5-6.5
	  c0.2-3.4-2.3-6.2-5.7-6.5C113.2,58.7,112.9,58.7,112.6,58.7z M112.6,68.7c-1.7,0-2.7-1.2-2.7-3.6s1-3.6,2.7-3.6s2.7,1.3,2.7,3.6
	  C115.3,67.5,114.3,68.7,112.6,68.7z"/>
  <path d="M137.1,75.5h-3.8v3.4h-1.7v2.8h1.7V87c0,2.7,0.8,4.2,3.6,4.2c0.8,0,1.6-0.1,2.4-0.3v-2.8c-1.6,0-2.1,0-2.1-1.4
	  v-5h2.1v-2.9h-2.1L137.1,75.5L137.1,75.5z"/>
  <path d="M146.5,78.5c-3.6,0-6.4,3-6.4,6.5c0,3.6,3,6.4,6.5,6.4s6.4-2.9,6.4-6.5c0.2-3.4-2.3-6.3-5.7-6.5
	  C147,78.5,146.7,78.5,146.5,78.5z M146.5,88.6c-1.7,0-2.7-1.3-2.7-3.6s1-3.6,2.7-3.6s2.7,1.3,2.7,3.6S148.1,88.6,146.5,88.6z"/>
  <polygon points="4.9,19.6 4.9,34.2 7.5,34.2 18.1,19.6 "/>
  <polygon points="28.2,40.2 21.6,40.2 20.6,41.5 28.2,41.5 "/>
  <polygon points="15.6,42.1 4.9,42.1 4.9,43.4 14.1,43.4 "/>
  <polygon points="13.5,43.9 4.9,43.9 4.9,45.3 11.9,45.3 "/>
  <polygon points="28.2,38.4 22.9,38.4 22,39.7 28.2,39.7 "/>
  <polygon points="11.3,45.8 4.9,45.8 4.9,47.1 9.8,47.1 "/>
  <polygon points="28.2,43.9 18.9,43.9 17.9,45.3 28.2,45.3 "/>
  <polygon points="28.2,45.8 17.5,45.8 16.6,47.1 28.2,47.1 "/>
  <polygon points="28.2,42.1 20.2,42.1 19.3,43.4 28.2,43.4 "/>
  <polygon points="4.9,49 7.6,49 9.2,47.6 4.9,47.6 "/>
  <polygon points="28.2,47.6 16.2,47.6 15.2,49 28.2,49 "/>
  <polygon points="28.2,34.7 25.6,34.7 24.6,36 28.2,36 "/>
  <polygon points="4.9,36 22.8,36 24.3,34.7 4.9,34.7 "/>
  <polygon points="28.2,36.5 24.2,36.5 23.3,37.8 28.2,37.8 "/>
  <polygon points="4.9,39.7 18.4,39.7 20,38.4 4.9,38.4 "/>
  <polygon points="4.9,37.8 20.6,37.8 22.1,36.5 4.9,36.5 "/>
  <polygon points="4.9,41.5 16.3,41.5 17.8,40.2 4.9,40.2 "/>
  <polygon points="28.2,19.6 25.8,19.6 8.8,34.2 28.2,34.2 "/>
  <path d="M46.9,29.9c0,1.7,0.6,2.2,2.2,2.2h4.6v36.6h-5.3c-1.1,0-2,0.8-2,1.9c0,0.1,0,0.1,0,0.2v4.7
	  c-0.1,1,0.6,1.9,1.6,2c0.1,0,0.3,0,0.4,0h22.1c1,0.1,1.9-0.7,1.9-1.7c0-0.1,0-0.2,0-0.3v-4.7c0.1-1.1-0.7-2-1.8-2.1h-0.1H66V22.6
	  c0-1.8-0.8-2.3-2.1-2.3h-4.7c-1-0.1-2.1,0.3-2.8,1c-1.7,1.4-3.7,2.3-7.5,2.4c-1.3,0.1-2,0.5-2,2V29.9z"/>
  <polygon points="94.3,34.9 81.3,46.2 81.3,20 78.2,20 78.2,49.7 80.8,50.8 96.4,37.3 "/>
  <path d="M8.6,12.9c-1,0-1.9-0.4-1.9-1.3H4.5c0,2,1.8,3.2,4.2,3.2s3.6-1.1,3.6-2.9c0-2-1.8-2.5-3.5-3
	  C7.6,8.6,7,8.4,7,7.8s0.5-0.7,1.2-0.7c0.9,0,1.5,0.4,1.6,1.1h2.3c-0.1-1.8-1.7-3-3.9-3C6.2,5.2,4.7,6,4.7,8c0,1.7,1.4,2.4,3,2.8
	  C9,11.2,10,11.4,10,12.1C10,12.6,9.5,12.9,8.6,12.9z"/>
  <polygon points="15.5,10.9 18.6,10.9 18.6,14.6 21,14.6 21,5.4 18.6,5.4 18.6,9 15.5,9 15.5,5.4 13.2,5.4 13.2,14.6
	  15.5,14.6 "/>
  <path d="M24.3,12.7h3.1l0.6,1.9h2.3L27,5.4h-2.3l-3.3,9.2h2.3L24.3,12.7z M25.9,7.5L25.9,7.5l1,3.4h-2.1L25.9,7.5z"/>
  <polygon points="33.3,12.2 34.2,11.1 36.6,14.6 39.3,14.6 35.7,9.5 39.2,5.4 36.5,5.4 33.3,9.1 33.3,5.4 31,5.4
	  31,14.6 33.3,14.6 "/>
  <polygon points="47,12.7 42.2,12.7 42.2,10.8 46.2,10.8 46.2,8.9 42.2,8.9 42.2,7.3 46.9,7.3 46.9,5.4 40,5.4 40,14.6
	  47,14.6 "/>
  <polygon points="50.2,14.6 52.6,14.6 52.6,7.3 55.2,7.3 55.2,5.4 47.6,5.4 47.6,7.3 50.2,7.3 "/>
  <polygon points="68.9,14.6 70.3,8.9 70.3,8.9 71.7,14.6 74,14.6 76.3,5.4 74,5.4 72.8,11.6 72.8,11.6 71.4,5.4
	  69.2,5.4 67.8,11.6 67.7,11.6 66.6,5.4 64.2,5.4 66.6,14.6 "/>
  <polygon points="79.2,9.1 79.3,9.1 82.5,14.6 84.8,14.6 84.8,5.4 82.5,5.4 82.5,10.9 82.4,10.9 79.2,5.4 76.9,5.4
	  76.9,14.6 79.2,14.6 "/>
  <path d="M89.3,7c0.1-1-0.7-1.9-1.7-1.9c-1-0.1-1.9,0.7-1.9,1.7c0,0.1,0,0.2,0,0.3c-0.1,1,0.7,1.9,1.7,1.9
	  c1,0.1,1.9-0.7,1.9-1.7C89.3,7.2,89.3,7.1,89.3,7z M86.2,7c-0.1-0.7,0.5-1.4,1.2-1.5s1.4,0.5,1.5,1.2c0,0.1,0,0.2,0,0.2
	  c0.1,0.7-0.5,1.4-1.2,1.5s-1.4-0.5-1.5-1.2C86.2,7.2,86.2,7.1,86.2,7z"/>
  <path d="M87.9,8h0.5l0,0c-0.1,0,0.1-0.8-0.4-0.9l0,0c0.2,0,0.4-0.2,0.4-0.5c0-0.4-0.3-0.6-0.7-0.6h-0.9v2h0.5V7.3h0.3
	  C88,7.3,87.8,7.9,87.9,8z M87.2,6.4h0.3c0.2,0,0.3,0.1,0.3,0.2s-0.1,0.2-0.3,0.2h-0.3V6.4z"/>
  <path d="M59.8,14.8c2.9,0,4.5-2,4.5-4.8s-1.7-4.8-4.5-4.8s-4.5,2-4.5,4.8S56.9,14.8,59.8,14.8z M59.8,7.1
	  c1.7,0,2.2,1.3,2.2,2.9s-0.6,2.9-2.2,2.9s-2.2-1.3-2.2-2.9S58.2,7.1,59.8,7.1z"/>
  <g>
	  <path d="M99.2,2.8c-2.7-1.2-5.5-2.3-8.4-3h68.7v-0.9H76.9c0,0.5,0.4,0.8,0.8,0.8c25.9-0.1,47.7,19.7,49.9,45.5v0.1v0.1
		  c0,0.1,0.1,0.1,0.1,0.2l0.1,0.1c0,0,0.1,0.1,0.2,0.1l0.1,0.1c0.1,0,0.2,0.1,0.3,0.1h31.2v-1.7h-30.3c-0.1-1-0.2-1.9-0.4-3h30.6
		  v-1.7h-30.9c-0.2-1-0.4-1.9-0.7-3h31.7v-1.6h-32.1c-0.3-1-0.6-1.9-1-3h33.1v-1.7h-33.7c-0.4-1-0.8-1.9-1.3-3h35v-1.6h-35.9
		  c-0.5-1-1-1.9-1.6-3h37.5v-1.7h-38.6c-0.6-1-1.3-1.9-2-3h40.7v-1.7h-42.1c-0.8-1-1.7-1.9-2.7-3h44.8v-1.7h-46.4l-0.3-0.2
		  c-1-0.9-2-1.8-3.2-2.7h49.9V7.3h-52.1h-0.1c-1.5-1-3.2-2-4.8-3h57V2.7H99.5C99.4,2.7,99.3,2.7,99.2,2.8z"/>
  </g>
  <g>
	  <path d="M82.6,100.2c-0.1-0.2-0.2-0.4-0.4-0.4c-0.1,0-0.2-0.1-0.3-0.1C56,99.8,34.2,80,32,54.1V54c0-0.1,0-0.1,0-0.2
		  l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1c-0.1,0-0.1,0-0.2,0h-0.1H0V55h30.3c0.1,1,0.2,2,0.4,3H0v1.6h31c0.2,1,0.4,2,0.7,3H0v1.6h32.1
		  c0.3,1,0.6,2,0.9,3H0V69h33.8c0.4,1,0.8,2,1.3,3H0v1.5h35.9c0.5,1,1,2,1.6,3H0v1.7h38.7c0.7,1,1.3,2,2.1,3H0v1.5h42.1
		  c0.8,1,1.7,2,2.7,3H0v1.6h46.5l0.2,0.2c1,0.9,2.1,1.8,3.2,2.7H0V92h52.2h0.1c1.5,1.1,3.1,2.1,4.7,3H0v1.6h60.1c0.1,0,0.2,0,0.3-0.1
		  c2.8,1.2,5.5,2.3,8.4,3H0v0.8h82.7C82.7,100.4,82.6,100.3,82.6,100.2z"/>
  </g>
  </svg>
{% if url %}</a>{% endif %}
