{% assign fill = fill | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.91 59.23" style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'>
  <path d="M23.68,20.25c0-5.94-5.41-7.65-10.66-9.09-3.5-1-5.24-1.52-5.24-3.23,0-1.55,1.63-2.21,3.73-2.21C14.19,5.72,16,7,16.29,9.06h7C23.09,3.42,18,0,11.51,0,5.52,0,.78,2.37.78,8.44c0,5.13,4.2,7.19,9,8.59,3.92,1.16,6.92,1.67,6.92,3.89,0,1.4-1.4,2.41-4,2.41-3.11,0-5.67-1.09-5.67-4H0C0,25.46,5.44,29,12.67,29,19.63,29,23.68,25.58,23.68,20.25Z"/>
    <polygon points="33.47 17.22 43 17.22 43 28.42 49.99 28.42 49.99 0.62 43 0.62 43 11.51 33.47 11.51 33.47 0.62 26.47 0.62 26.47 28.42 33.47 28.42 33.47 17.22"/>
    <path d="M60.26,22.63h9.52l1.79,5.79h7L68.54.62h-7L51.47,28.42h7ZM65,7h.08L68.23,17.3H61.85Z"/>
    <polygon points="87.51 21.07 90.31 17.88 97.58 28.42 105.74 28.42 94.78 12.87 105.35 0.62 97.19 0.62 87.51 11.9 87.51 0.62 80.51 0.62 80.51 28.42 87.51 28.42 87.51 21.07"/>
    <polygon points="114.61 22.7 114.61 16.99 126.74 16.99 126.74 11.27 114.61 11.27 114.61 6.34 128.68 6.34 128.68 0.62 107.61 0.62 107.61 28.42 128.91 28.42 128.91 22.7 114.61 22.7"/>
    <polygon points="7.75 36.53 15.84 36.53 15.84 58.61 22.84 58.61 22.84 36.53 30.89 36.53 30.89 30.82 7.75 30.82 7.75 36.53"/>
    <path d="M44.92,30.19c-8.82,0-13.76,6.15-13.76,14.5S36.1,59.23,44.92,59.23s13.76-6.14,13.76-14.54S53.67,30.19,44.92,30.19Zm0,23.33c-5.09,0-6.76-4-6.76-8.83s1.67-8.78,6.76-8.78,6.77,4,6.77,8.78S50,53.52,44.92,53.52Z"/>
    <polygon points="84.26 49.67 84.19 49.67 79.87 30.82 73.26 30.82 68.95 49.67 68.87 49.67 65.29 30.82 58.29 30.82 65.37 58.61 72.37 58.61 76.53 41.27 76.61 41.27 80.77 58.61 87.76 58.61 94.84 30.82 87.84 30.82 84.26 49.67"/>
    <polygon points="113.54 47.34 113.46 47.34 103.74 30.82 96.74 30.82 96.74 58.61 103.74 58.61 103.74 42.09 103.82 42.09 113.54 58.61 120.53 58.61 120.53 30.82 113.54 30.82 113.54 47.34"/>
    <path d="M124,30.76a2.17,2.17,0,1,0,2.14,2.17A2.12,2.12,0,0,0,124,30.76Zm0,3.89a1.56,1.56,0,0,1-1.61-1.73,1.61,1.61,0,1,1,3.22,0A1.56,1.56,0,0,1,124,34.65Z"/>
    <path d="M124.48,33h0a.55.55,0,0,0,.47-.57c0-.44-.32-.68-.83-.68H123v2.33h.58v-.81H124c.5,0,.29.72.4.81H125v0C124.85,34,125.06,33.11,124.48,33Zm-.47-.22h-.41v-.56H124c.23,0,.35.09.35.29S124.24,32.79,124,32.79Z"/>
</svg>
