{% assign fill = fill | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 77">
  <defs><style>.eb9b840a-d055-464b-936a-d61ec1a63906{fill:#231f20;}</style></defs>
  <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M762.37,26.89H748.65v5.54h5.79c-.08,2.93-2.56,5.06-6.09,5.06-5.33,0-7.25-3.92-7.25-9.66s1.92-9.62,6.95-9.62c4.22,0,5.62,2.43,6.18,4.51h7.67C761.17,16.9,756.53,12,748.18,12c-9.59,0-14.75,6.72-14.75,15.87s5.16,15.91,13.81,15.91c4.47,0,7.33-1.78,8.78-4.55h.08l.77,3.87h5.5Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M778.73,43.74c8.35,0,12.78-4.93,13.47-12.08h-7.67c-.51,3.4-2,5.83-6.14,5.83-5.07,0-6.77-3.92-6.77-9.66s1.7-9.62,6.77-9.62c4.05,0,5.58,2.43,6.14,5.75h7.67c-.73-7.06-5.16-12-13.47-12C769.1,12,764,18.68,764,27.83S769.1,43.74,778.73,43.74Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M813.08,29v-.08c3.79-.85,6.18-3.41,6.18-7.45,0-5.74-4.09-8.85-10.87-8.85H794V43.06h7.67V32.47h4.77c6.52,0,3.75,9.32,5.24,10.59h8v-.42C817.94,42.13,820.71,30.34,813.08,29Zm-6.18-2.81h-5.2V18.9h5.2c3.07,0,4.69,1.1,4.69,3.65S810,26.21,806.9,26.21Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M818,13.91h.2c.27,0,.16.39.22.44h.33v0c-.07,0,0-.51-.27-.56h0a.3.3,0,0,0,.25-.31c0-.24-.17-.36-.45-.36h-.59v1.26H818Zm0-.57h.22c.13,0,.2.05.2.16s-.07.15-.2.15H818Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M818.15,14.9A1.18,1.18,0,1,0,817,13.72,1.15,1.15,0,0,0,818.15,14.9Zm0-2.12a.84.84,0,0,1,.87.94.88.88,0,1,1-1.75,0A.85.85,0,0,1,818.15,12.78Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M737.43,51.13h1.27a1.2,1.2,0,0,1-1.34,1.11c-1.17,0-1.59-.86-1.59-2.12S736.19,48,737.3,48a1.25,1.25,0,0,1,1.36,1h1.69a2.78,2.78,0,0,0-3-2.37c-2.11,0-3.24,1.48-3.24,3.5s1.13,3.5,3,3.5a2,2,0,0,0,1.93-1h0l.17.85h1.21V49.91h-3Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M741.77,46.77a.67.67,0,0,0-.75.67.76.76,0,0,0,1.5,0A.67.67,0,0,0,741.77,46.77Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="741.02" y="48.67" width="1.5" height="4.8"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M747.4,52.76v-2.2c0-1.51-.75-2-2.1-2-1.57,0-2.22.78-2.27,1.7h1.41c0-.46.31-.67.85-.67s.61.17.61.45-.61.5-1.23.62c-1.12.23-1.83.67-1.83,1.62s.56,1.38,1.58,1.38a2.07,2.07,0,0,0,1.51-.65h0c0,.33.19.65.86.65a2.3,2.3,0,0,0,.88-.15v-.35C747.5,53.12,747.4,53,747.4,52.76Zm-1.5-1a.86.86,0,0,1-1,.87c-.36,0-.6-.17-.6-.56s.2-.54.79-.68a5,5,0,0,0,.77-.21Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M751.17,48.52a1.69,1.69,0,0,0-1.58.85h0v-.7h-1.5v4.8h1.5V50.7c0-.67.33-1,.9-1s.75.25.75,1v2.76h1.5V50.23A1.51,1.51,0,0,0,751.17,48.52Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M755,47.33h-1.5v1.34h-.67V49.8h.67v2.1c0,1.08.31,1.66,1.41,1.66a3.75,3.75,0,0,0,.93-.11V52.33c-.64,0-.84,0-.84-.54v-2h.84V48.67H755Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M760.65,48c.9,0,1.23.53,1.36,1.26h1.69a2.74,2.74,0,0,0-3-2.64c-2.12,0-3.26,1.48-3.26,3.5s1.14,3.5,3.26,3.5a2.73,2.73,0,0,0,3-2.66H762c-.12.75-.45,1.28-1.36,1.28-1.11,0-1.49-.86-1.49-2.12S759.54,48,760.65,48Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M766.36,48.52a2.55,2.55,0,0,0,.08,5.1,2.15,2.15,0,0,0,2.32-1.6h-1.49a.83.83,0,0,1-.85.48,1,1,0,0,1-1-1h3.46C768.84,49.72,768,48.52,766.36,48.52Zm-1,2a1,1,0,1,1,2,0Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M772.45,49.15h0a1.8,1.8,0,0,0-1.39-.63c-1.27,0-2.09,1-2.09,2.55s.82,2.55,2.09,2.55a1.77,1.77,0,0,0,1.39-.63h0v.48H774v-6.7h-1.5Zm-1,3.35c-.61,0-1-.49-1-1.43s.38-1.42,1-1.42,1,.49,1,1.42S772.05,52.5,771.44,52.5Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M778.83,52.76v-2.2c0-1.51-.75-2-2.1-2-1.57,0-2.22.78-2.27,1.7h1.41c0-.46.31-.67.85-.67s.61.17.61.45-.61.5-1.23.62c-1.13.23-1.83.67-1.83,1.62s.56,1.38,1.58,1.38a2.07,2.07,0,0,0,1.51-.65h0c0,.33.19.65.86.65a2.22,2.22,0,0,0,.87-.15v-.35C778.93,53.12,778.83,53,778.83,52.76Zm-1.5-1a.86.86,0,0,1-1,.87c-.36,0-.6-.17-.6-.56s.2-.54.79-.68a5,5,0,0,0,.77-.21Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M781,49.46h0v-.79h-1.5v4.8H781V51.24a1.27,1.27,0,0,1,1.59-1.3h0V48.63a1.64,1.64,0,0,0-.42,0A1.29,1.29,0,0,0,781,49.46Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M788.6,50.38v0A1.59,1.59,0,0,0,790,48.72c0-1.26-.9-1.95-2.39-1.95h-3.16v6.7h1.69V51.14h1c1.43,0,.82,2,1.15,2.33h1.76v-.09C789.67,53.27,790.28,50.67,788.6,50.38Zm-1.36-.62H786.1V48.15h1.14c.68,0,1,.24,1,.8S787.92,49.76,787.24,49.76Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M792.64,48.52a2.55,2.55,0,0,0,.08,5.1A2.15,2.15,0,0,0,795,52h-1.49a.85.85,0,0,1-.86.48,1,1,0,0,1-1-1h3.46C795.12,49.72,794.28,48.52,792.64,48.52Zm-1,2a1,1,0,1,1,2,0Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M801.36,48.52a2,2,0,0,0-1.62.85h0a1.27,1.27,0,0,0-1.25-.85,1.74,1.74,0,0,0-1.51.85h0v-.7h-1.5v4.8h1.5V50.7c0-.67.31-1,.78-1s.69.25.69,1v2.76h1.5V50.7c0-.67.3-1,.78-1s.69.25.69,1v2.76h1.52V50.23C802.9,49.13,802.32,48.52,801.36,48.52Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M805.76,48.52a2.55,2.55,0,1,0,2.56,2.55A2.4,2.4,0,0,0,805.76,48.52Zm0,4c-.67,0-1.07-.5-1.07-1.43s.4-1.42,1.07-1.42,1.06.5,1.06,1.42S806.41,52.5,805.76,52.5Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="811.54 48.67 810.56 51.8 810.54 51.8 809.57 48.67 808.07 48.67 809.73 53.47 811.38 53.47 813.04 48.67 811.54 48.67"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M817.34,52.76v-2.2c0-1.51-.75-2-2.1-2-1.57,0-2.23.78-2.28,1.7h1.41c0-.46.31-.67.86-.67s.61.17.61.45-.61.5-1.23.62c-1.13.23-1.83.67-1.83,1.62a1.38,1.38,0,0,0,1.57,1.38,2.09,2.09,0,0,0,1.52-.65h0c0,.33.19.65.87.65a2.22,2.22,0,0,0,.87-.15v-.35C817.43,53.12,817.34,53,817.34,52.76Zm-1.5-1a.86.86,0,0,1-1,.87c-.37,0-.6-.17-.6-.56s.2-.54.79-.68a5.29,5.29,0,0,0,.77-.21Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="818.01" y="46.77" width="1.5" height="6.7"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="719.74 34.62 713.93 45.04 718.63 45.04 713.93 53.47 728.79 53.47 728.79 45.04 728.79 34.62 728.79 26.84 728.79 18.41 728.79 11.96 715.5 34.62 719.74 34.62"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M121,24.92c-2.23-.71-3.31-1.63-3.31-3.24a3.18,3.18,0,0,1,3.06-3.11,3.05,3.05,0,0,1,3.21,3.3h3.34c-.07-4-2.78-6.35-6.55-6.35a6.29,6.29,0,0,0-6.39,6.23c0,3.23,1.23,5.08,6.88,7,2.44.83,3.18,1.88,3.18,3.55a3.58,3.58,0,0,1-3.67,3.85c-2.22,0-3.67-1.66-3.7-4.13h-3.34c.06,4.28,3,7.18,7,7.18a6.67,6.67,0,0,0,7-6.9C127.76,28.34,125.94,26.49,121,24.92Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M136.19,21.22a5.43,5.43,0,0,0-4.79,2.28h-.06V16h-3.21V38.76h3.21V29.51c0-3.33,1.7-5.36,4.51-5.36s4.26,1.66,4.26,5.33v9.28h3.21V28.5C143.32,23.81,140.26,21.22,136.19,21.22Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M158.32,36.11v2.65h3.21V21.68h-3.21v2.41h-.06a6.82,6.82,0,0,0-5.93-2.87c-5,0-9,3.82-9,9.28a8.82,8.82,0,0,0,9.08,8.69,6.5,6.5,0,0,0,5.8-3.08Zm-5.89.15a6.06,6.06,0,0,1,0-12.11,5.89,5.89,0,0,1,6,6.1A6,6,0,0,1,152.43,36.26Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="163.05" y="15.95" width="3.21" height="22.81"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="177.19 38.76 169.99 29.73 176.2 21.68 172.4 21.68 166.32 29.91 173.17 38.76 177.19 38.76"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M183,39.19a8.75,8.75,0,0,0,8.21-5.79H188a5.5,5.5,0,0,1-4.88,2.86,5.87,5.87,0,0,1-5.61-4.65h14.17a10,10,0,0,0,.09-1.6,8.83,8.83,0,0,0-1.82-5.4h2.31V38.76h3.22V24.61h2.8V21.68h-2.8V16h-3.22v5.73h-2.31v2.93a8.75,8.75,0,0,0-15.66,5.77A9,9,0,0,0,183,39.19Zm0-15a5.59,5.59,0,0,1,5.56,5H177.47A5.57,5.57,0,0,1,183,24.15Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M205.53,39.19a9.16,9.16,0,0,0,9.35-8.84,9.23,9.23,0,0,0-18.46-.07A9.23,9.23,0,0,0,205.53,39.19Zm.09-15a6.06,6.06,0,1,1-.06,12.11,6.06,6.06,0,0,1,.06-12.11Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M223.1,21.22a6,6,0,0,0-5,2.28H218V21.68h-3V38.76h3.21V29.42c0-3.21,1.7-5.27,4.51-5.27s4.26,1.69,4.26,5.3v9.31h3.21V28.53C230.23,23.81,227.2,21.22,223.1,21.22Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="231.25" y="15.95" width="3.21" height="3.76"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="231.25" y="21.68" width="3.21" height="17.08"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M249.56,24.09h-.06a6.83,6.83,0,0,0-5.93-2.87c-5,0-9,3.82-9,9.28a8.82,8.82,0,0,0,9.08,8.69,6.53,6.53,0,0,0,5.81-3.08h.06v2.65h3.21V21.68h-3.21Zm-5.9,12.17a6.06,6.06,0,0,1,0-12.11,5.89,5.89,0,0,1,6,6.1A6,6,0,0,1,243.66,36.26Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M155.42,47.74a4.88,4.88,0,0,0-2-.31h-2.83v8.35h2V53.16h1c2.39,0,3.25-1.36,3.25-2.91A2.68,2.68,0,0,0,155.42,47.74Zm-1.86,3.55h-.92v-2h.84c1,0,1.37.3,1.37,1S154.42,51.29,153.56,51.29Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M164,50.3a2.78,2.78,0,0,0-1.54-2.57,5.23,5.23,0,0,0-2-.3h-2.74v8.35h2.05v-2.7h0l1.94,2.7h2.44L162,52.94A2.54,2.54,0,0,0,164,50.3Zm-3.42,1.33h-.79V49.3h.81c.81,0,1.35.41,1.35,1.13S161.47,51.63,160.62,51.63Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M169.33,47.27a4.34,4.34,0,1,0,4.42,4.28A4.35,4.35,0,0,0,169.33,47.27Zm0,6.79a2.47,2.47,0,0,1,0-4.92,2.36,2.36,0,0,1,2.28,2.47A2.31,2.31,0,0,1,169.36,54.06Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M179.73,47.74a4.88,4.88,0,0,0-2-.31H174.9v8.35h2V53.16h1c2.4,0,3.26-1.36,3.26-2.91A2.69,2.69,0,0,0,179.73,47.74Zm-1.87,3.55H177v-2h.83c.95,0,1.37.3,1.37,1S178.72,51.29,177.86,51.29Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="182.09 55.78 186.74 55.78 186.74 53.91 184.14 53.91 184.14 52.47 186.66 52.47 186.66 50.6 184.14 50.6 184.14 49.3 186.74 49.3 186.74 47.43 182.09 47.43 182.09 55.78"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M194.31,50.3a2.77,2.77,0,0,0-1.53-2.57,5.27,5.27,0,0,0-2-.3h-2.74v8.35h2.05v-2.7h0l1.93,2.7h2.45l-2.28-2.84A2.54,2.54,0,0,0,194.31,50.3Zm-3.41,1.33h-.79V49.3h.81c.8,0,1.35.41,1.35,1.13S191.75,51.63,190.9,51.63Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="194.52 49.3 196.17 49.3 196.17 55.78 198.3 55.78 198.3 49.3 199.94 49.3 199.94 47.43 194.52 47.43 194.52 49.3"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="200.8" y="47.43" width="2.14" height="8.35"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="204.45 55.78 209.1 55.78 209.1 53.91 206.5 53.91 206.5 52.47 209.02 52.47 209.02 50.6 206.5 50.6 206.5 49.3 209.1 49.3 209.1 47.43 204.45 47.43 204.45 55.78"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M213.58,50.82c-.92-.39-1.37-.62-1.37-1.11a.7.7,0,0,1,.73-.66c.42,0,.67.22.76.81h2.12a2.29,2.29,0,0,0-1.34-2.24,3.11,3.11,0,0,0-1.48-.35,2.72,2.72,0,0,0-2.92,2.46c0,1.08.63,1.81,2,2.36.76.3,1.69.6,1.69,1.26a.8.8,0,0,1-.8.8c-.54,0-.87-.45-.89-1.14H210v.18c0,1.8,1.2,2.75,3,2.75s2.91-.95,2.91-2.56C215.88,52.28,215.42,51.61,213.58,50.82Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M331.74,57.09c-3.79,0-2.94,4.59-6.26,4.59-2.39,0-5.6-2.85-10.08-9.48V42.82c0-11.8,5.52-13.26,7.53-13.26,3.36,0,2.09,4.55,5.84,4.55a3.1,3.1,0,0,0,3.12-3.05c0-2.27-1.93-4.7-7.22-4.7s-12.24,4.05-12.24,16.46v4.9L302.15,28.48h-4a35.74,35.74,0,0,1-5.52-.54,34,34,0,0,0-5.91-.54c-6.68,0-10.78,3.35-10.78,8.25,0,3.94,3.29,6.94,7.73,6.94,4,0,7-2,7-5.05a3.14,3.14,0,0,0-3.28-3.08c-3.79,0-2.82,4.74-5.49,4.74-1.89,0-3.13-1.35-3.13-3.55,0-3.24,2.63-5.63,8-5.63a22.41,22.41,0,0,1,6.06.81c1.47.5,2,.73,2,2.08v7.25C294.77,58.1,285,62,277.16,62c-6.18,0-10.31-3.31-10.31-8.21,0-3.63,2.39-7.06,6.72-7.06,2.86,0,3.28,1.7,3.74,3.7s1.59,3.51,3.79,3.51a3.08,3.08,0,0,0,3.13-3.35c0-3.67-4.13-6.6-10-6.6S264,48.11,264,53.74c0,6.29,5.64,10.87,13.05,10.87,9,0,20.67-4.24,20.67-24.45V34.57l7,12C312,59.37,319.3,64.85,327,64.85c5.72,0,7.92-2.36,7.92-4.71A3.08,3.08,0,0,0,331.74,57.09Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M323.24,56a3.59,3.59,0,1,0,0-7.18,3.59,3.59,0,1,0,0,7.18Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M354.38,29.06c-6.61,0-11.13,3.47-14.84,12.57l-3.12,7.75L332,38.78c-.54-1.39-.11-1.62,1.43-1.74V35.57H323.13V37c1,.12,1.5.39,2.08,1.74l6.88,16.69h4.4l5.18-12.61c3.51-8.48,7.45-11.49,12.71-11.49,3.78,0,8.38,2.2,8.38,7.68a6.74,6.74,0,0,1-6.61,6.9c-2.35,0-3.78-1.12-3.78-2.47,0-1.7,2-1.81,2-4a2.85,2.85,0,0,0-3-2.62c-2.39,0-3.63,2-3.63,4.36,0,3.62,3.21,7.09,8.38,7.09a9.24,9.24,0,0,0,9.08-9.21C365.23,32.76,360.56,29.06,354.38,29.06Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M345.57,48.8a3.59,3.59,0,1,0,0,7.18,3.59,3.59,0,1,0,0-7.18Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="280.35 15.98 281.77 15.98 281.77 10.79 283.61 10.79 283.61 9.53 278.5 9.53 278.5 10.79 280.35 10.79 280.35 15.98"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="285.75 13.19 288.51 13.19 288.51 15.98 289.93 15.98 289.93 9.53 288.51 9.53 288.51 11.94 285.75 11.94 285.75 9.53 284.33 9.53 284.33 15.98 285.75 15.98 285.75 13.19"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="295.85 14.66 292.72 14.66 292.72 13.36 295.52 13.36 295.52 12.04 292.72 12.04 292.72 10.84 295.68 10.84 295.68 9.53 291.3 9.53 291.3 15.98 295.85 15.98 295.85 14.66"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M303.39,15.77a3.54,3.54,0,0,0,1.15-.62,2.9,2.9,0,0,0,.8-1,3,3,0,0,0,.3-1.38,3.4,3.4,0,0,0-.31-1.5,2.7,2.7,0,0,0-.82-1,3.33,3.33,0,0,0-1.22-.56,5.92,5.92,0,0,0-1.47-.18h-2.13V16H302A4.52,4.52,0,0,0,303.39,15.77Zm-2.28-1.1V10.84H302a3,3,0,0,1,.85.12,2,2,0,0,1,.7.34,1.61,1.61,0,0,1,.48.58,1.74,1.74,0,0,1,.18.82,2.13,2.13,0,0,1-.18.92,1.49,1.49,0,0,1-.49.61,1.75,1.75,0,0,1-.73.33,3.8,3.8,0,0,1-.92.11Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="306.58" y="9.53" width="1.42" height="6.44"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M311.74,14.67a1.52,1.52,0,0,1-.32.12,1.45,1.45,0,0,1-.35,0,1.56,1.56,0,0,1-1.24-.61l-1,1.11a3,3,0,0,0,1,.62,3.42,3.42,0,0,0,1.17.19,3.3,3.3,0,0,0,.95-.13,2.17,2.17,0,0,0,.79-.39,1.92,1.92,0,0,0,.54-.66,2,2,0,0,0,.2-.94,1.66,1.66,0,0,0-.21-.9,1.61,1.61,0,0,0-.56-.54,3,3,0,0,0-.71-.31l-.72-.22a2.17,2.17,0,0,1-.55-.26.52.52,0,0,1-.22-.45.54.54,0,0,1,.09-.31.78.78,0,0,1,.24-.2,1.15,1.15,0,0,1,.31-.11,1.22,1.22,0,0,1,.32,0,1.66,1.66,0,0,1,.56.1,1,1,0,0,1,.47.33l1-1.07a2.64,2.64,0,0,0-.92-.52,3.82,3.82,0,0,0-1.06-.15,3.1,3.1,0,0,0-.92.13,2.36,2.36,0,0,0-.79.4,1.93,1.93,0,0,0-.55.65,2,2,0,0,0-.2.91,1.52,1.52,0,0,0,.22.87,1.85,1.85,0,0,0,.56.52,3.17,3.17,0,0,0,.73.32l.73.24a2,2,0,0,1,.56.29.53.53,0,0,1,.22.46.61.61,0,0,1-.08.3A.93.93,0,0,1,311.74,14.67Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="315.78 15.98 317.2 15.98 317.2 10.79 319.04 10.79 319.04 9.53 313.94 9.53 313.94 10.79 315.78 10.79 315.78 15.98"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M321.19,13.4h.7L323.24,16h1.7l-1.64-2.73a1.57,1.57,0,0,0,1-.6,1.88,1.88,0,0,0,.35-1.16,2,2,0,0,0-.19-.94A1.62,1.62,0,0,0,324,10a2.1,2.1,0,0,0-.78-.32,4,4,0,0,0-.93-.1h-2.5V16h1.43Zm0-2.67h.93l.39,0a1,1,0,0,1,.35.11.62.62,0,0,1,.26.22.75.75,0,0,1,.1.39.63.63,0,0,1-.12.41.58.58,0,0,1-.28.21,1.24,1.24,0,0,1-.39.09h-1.24Z"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="325.65" y="9.53" width="1.42" height="6.44"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M329,15.22a3,3,0,0,0,1.1.68,3.9,3.9,0,0,0,1.39.24,3.26,3.26,0,0,0,1.3-.27,2.6,2.6,0,0,0,1-.85l-1.19-.88a1.52,1.52,0,0,1-.56.51,1.59,1.59,0,0,1-.77.18,1.61,1.61,0,0,1-.72-.16,1.59,1.59,0,0,1-.57-.43,1.85,1.85,0,0,1-.39-.65,2.25,2.25,0,0,1-.14-.84,2.21,2.21,0,0,1,.14-.82,1.91,1.91,0,0,1,1-1.1,1.86,1.86,0,0,1,.75-.15,1.56,1.56,0,0,1,.7.14,1.35,1.35,0,0,1,.52.39l1.09-.89a2.21,2.21,0,0,0-.47-.45,2.64,2.64,0,0,0-.55-.29,3.23,3.23,0,0,0-.59-.16,3.85,3.85,0,0,0-2,.19,3.06,3.06,0,0,0-1.83,1.74,3.93,3.93,0,0,0,0,2.81A3,3,0,0,0,329,15.22Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="335.86 15.98 337.28 15.98 337.28 10.79 339.12 10.79 339.12 9.53 334.02 9.53 334.02 10.79 335.86 10.79 335.86 15.98"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M303.61,19.94a3,3,0,0,0-.72,1.07,3.9,3.9,0,0,0,0,2.8,3,3,0,0,0,.72,1.07,3.29,3.29,0,0,0,1.11.68,4.15,4.15,0,0,0,2.78,0,3.29,3.29,0,0,0,1.11-.68,3,3,0,0,0,.72-1.07,3.9,3.9,0,0,0,0-2.8,3,3,0,0,0-.72-1.07,3.29,3.29,0,0,0-1.11-.68,4.15,4.15,0,0,0-2.78,0A3.29,3.29,0,0,0,303.61,19.94Zm2.5.4a2.23,2.23,0,0,1,.83.15,2,2,0,0,1,.63.43,1.86,1.86,0,0,1,.4.66,2.27,2.27,0,0,1,.15.83,2.23,2.23,0,0,1-.15.83,1.86,1.86,0,0,1-.4.66,2,2,0,0,1-.63.43,2.23,2.23,0,0,1-.83.15,2.14,2.14,0,0,1-.82-.15,1.9,1.9,0,0,1-.64-.43,2,2,0,0,1-.4-.66,2.23,2.23,0,0,1-.14-.83,2.26,2.26,0,0,1,.14-.83,2,2,0,0,1,.4-.66,1.9,1.9,0,0,1,.64-.43A2.14,2.14,0,0,1,306.11,20.34Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="314.94 20.5 314.94 19.19 310.61 19.19 310.61 25.63 312.04 25.63 312.04 23.12 314.72 23.12 314.72 21.81 312.04 21.81 312.04 20.5 314.94 20.5"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M883.9,29.59c0-1.73-.78-2.62-2.49-3.56-1.19-.67-2.1-.93-2.1-1.66a1.15,1.15,0,0,1,1.26-1.07,4,4,0,0,1,2.4,1.2l1.52-2.61a6.16,6.16,0,0,0-4-1.54,4.43,4.43,0,0,0-4.76,4.47c0,1.67,1,2.49,2.74,3.4,1.17.61,1.85.91,1.85,1.69s-.53,1.18-1.46,1.18a4.31,4.31,0,0,1-3.16-1.7L873.81,32a5.84,5.84,0,0,0,4.59,2.25C881.87,34.29,883.9,32.37,883.9,29.59Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="887.58 33.95 888.44 28.53 893.06 28.53 892.21 33.95 895.8 33.95 897.9 20.68 894.31 20.68 893.51 25.8 888.86 25.8 889.68 20.68 886.11 20.68 884.01 33.95 887.58 33.95"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M900,34l1.27-2.5h4.64l.54,2.5h6.75l.93-5.84L917.81,34h11.53l.46-3h-4.11l.36-2.21h3.82l.45-2.87h-3.81l.33-2.18H931l.49-3.06h-12l-5.06,5.55.89-5.55h-3.55L909.8,32.9l-2.61-12.22h-4.44L896.1,34Zm23.77-13-2,12.56-4.25-6.32ZM904,25.45c.09-.2.3-.72.59-1.56a11.33,11.33,0,0,0,.19,1.51l.61,3.1h-2.81Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="934.15 23.76 932.53 33.95 936.1 33.95 937.72 23.76 940.56 23.76 941.07 20.68 931.68 20.68 931.18 23.76 934.15 23.76"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M942.18,32.75a6.93,6.93,0,0,0,4.67,1.55,7.53,7.53,0,0,0,5.89-2.59,7.68,7.68,0,0,0,1.84-5.13c0-3.63-2.66-6.2-6.69-6.2a7.48,7.48,0,0,0-7.73,7.71A6.18,6.18,0,0,0,942.18,32.75Zm5.49-9.12a3.13,3.13,0,0,1,3.21,3.27,4,4,0,0,1-3.83,4.16,3.08,3.08,0,0,1-3.21-3.36A3.88,3.88,0,0,1,947.67,23.63Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M965.53,20.68l-1,6.52a14,14,0,0,0-.17,1.87v.33a11.58,11.58,0,0,0-.76-2.17l-2.81-6.55h-4L954.62,34h3.55l1-6.72a13,13,0,0,0,.15-1.83V25a12.54,12.54,0,0,0,.78,2.18l3,6.75H967l2.1-13.27Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="974.48 20.68 970.85 20.68 968.75 33.95 972.37 33.95 974.48 20.68"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M976.59,34l1.27-2.5h4.65L983,34h3.61l-2.82-13.27h-4.45L972.73,34Zm4-8.5c.09-.2.3-.72.59-1.56a11.33,11.33,0,0,0,.19,1.51l.61,3.1h-2.8Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="880.98 41.99 876.33 41.99 877.15 36.87 873.58 36.87 871.48 50.14 875.05 50.14 875.91 44.72 880.53 44.72 879.68 50.14 883.27 50.14 885.37 36.87 881.78 36.87 880.98 41.99"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M893.16,36.57a7.49,7.49,0,0,0-7.74,7.7,6.16,6.16,0,0,0,2,4.66,6.88,6.88,0,0,0,4.67,1.56,7.5,7.5,0,0,0,5.89-2.6,7.64,7.64,0,0,0,1.84-5.12C899.85,39.13,897.19,36.57,893.16,36.57Zm-.84,10.67a3.09,3.09,0,0,1-3.22-3.36,3.88,3.88,0,0,1,3.83-4.06,3.13,3.13,0,0,1,3.22,3.26A4,4,0,0,1,892.32,47.24Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="903.96 46.96 905.56 36.87 901.99 36.87 899.89 50.14 907.84 50.14 908.35 46.96 903.96 46.96"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M918.07,37.5c-1.19-.6-3-.63-5.43-.63h-2.29l-2.08,13.27h3.07c3,0,5.17,0,6.95-1.28a6.57,6.57,0,0,0,2.81-5.78C921.1,40.43,920,38.48,918.07,37.5Zm-4.89,9.72-.87,0,1.13-7.39h.67c2.34,0,3.42.91,3.42,3.21C917.53,45.76,916,47.22,913.18,47.22Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="923.37 36.87 921.27 50.14 924.89 50.14 926.99 36.87 923.37 36.87"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M936.57,43.38a12.5,12.5,0,0,0-.17,1.88v.33a12.35,12.35,0,0,0-.76-2.17l-2.81-6.55h-4.05l-2.1,13.27h3.55l1-6.72a13.31,13.31,0,0,0,.15-1.84v-.37a11.63,11.63,0,0,0,.78,2.17l3,6.76H939l2.1-13.27h-3.55Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M948.39,42.92,948,45.63h3A2.47,2.47,0,0,1,950,47a3.6,3.6,0,0,1-1.86.48A3.07,3.07,0,0,1,945,44.07a3.94,3.94,0,0,1,3.85-4.25,3.18,3.18,0,0,1,3,1.78l2.83-1.93a6.45,6.45,0,0,0-5.8-3.1,7.54,7.54,0,0,0-5.43,2.1,7.8,7.8,0,0,0-2.21,5.51c0,3.8,2.62,6.31,6.86,6.31s6.91-2.78,7-7.57Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M960.9,39.48a4,4,0,0,1,2.4,1.21l1.52-2.62a6.16,6.16,0,0,0-4.05-1.54A4.44,4.44,0,0,0,956,41c0,1.67,1,2.48,2.74,3.39,1.17.62,1.86.91,1.86,1.69s-.54,1.19-1.47,1.19A4.33,4.33,0,0,1,956,45.57l-1.84,2.66a5.83,5.83,0,0,0,4.59,2.24c3.47,0,5.5-1.91,5.5-4.69,0-1.73-.78-2.62-2.49-3.57-1.19-.67-2.1-.93-2.1-1.65A1.16,1.16,0,0,1,960.9,39.48Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="972.99 46.96 974.59 36.87 971.02 36.87 968.92 50.14 976.87 50.14 977.37 46.96 972.99 46.96"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="982.99 36.87 979.42 36.87 977.32 50.14 985.28 50.14 985.78 46.96 981.39 46.96 982.99 36.87"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M989.4,43.9a3.8,3.8,0,0,1,3.79-4.08,5.38,5.38,0,0,1,3.54,1.33l.59-3.65a8.57,8.57,0,0,0-4-1,7.23,7.23,0,0,0-5.83,2.51,7.8,7.8,0,0,0-1.73,5c0,3.84,2.43,6.42,6.26,6.42a10.83,10.83,0,0,0,3.27-.44l.56-3.44a7.67,7.67,0,0,1-3,.69A3.1,3.1,0,0,1,989.4,43.9Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M998.16,46.82a1.82,1.82,0,0,0-1.82,1.81,1.85,1.85,0,0,0,1.84,1.84,1.83,1.83,0,1,0,0-3.65Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="845.76 34.3 869.53 34.3 871.74 20.28 845.76 34.3"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="850.17 36.58 848.03 50.14 848.03 50.15 867.17 50.15 867.17 50.15 867.14 50.14 869.27 36.58 850.17 36.58"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M604.51,29.76a3.63,3.63,0,0,0-3.21,1.54h0V26.22H599.1v9.57c-.41-1.71-1.71-2.7-4.37-3.54-1.49-.48-2.22-1.1-2.22-2.18a2.14,2.14,0,0,1,2-2.09,2.05,2.05,0,0,1,2.16,2.22H599a4.12,4.12,0,0,0-4.4-4.27,4.23,4.23,0,0,0-4.29,4.19c0,2.17.83,3.41,4.62,4.69,1.64.56,2.14,1.27,2.14,2.39a2.4,2.4,0,0,1-2.47,2.58A2.51,2.51,0,0,1,592.07,37h-2.23a4.59,4.59,0,0,0,4.72,4.82,4.45,4.45,0,0,0,4.54-3.38v3.09h2.16V35.33c0-2.23,1.14-3.6,3-3.6s2.86,1.12,2.86,3.58v6.23h2.15V34.65A4.53,4.53,0,0,0,604.51,29.76Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M619.34,39.76h0v1.78h2.16V30.07h-2.16v1.62h0a4.56,4.56,0,0,0-4-1.93,6,6,0,1,0,.08,12.07A4.36,4.36,0,0,0,619.34,39.76Zm-7.84-3.93a4,4,0,0,1,3.92-4.1,4,4,0,0,1,4,4.1,4,4,0,1,1-7.92,0Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="624.75 35.6 629.35 41.54 632.05 41.54 627.22 35.48 631.39 30.07 628.84 30.07 624.75 35.6"/>
    <rect class="eb9b840a-d055-464b-936a-d61ec1a63906" x="622.55" y="26.22" width="2.16" height="15.32"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M635.86,29.76a5.93,5.93,0,0,0-5.78,6.15,6,6,0,0,0,5.85,5.92,5.88,5.88,0,0,0,5.51-3.89h-2.16A3.69,3.69,0,0,1,636,39.87a3.94,3.94,0,0,1-3.77-3.13h9.51a6.7,6.7,0,0,0,.06-1.08A5.85,5.85,0,0,0,635.86,29.76Zm-3.62,5.32a3.73,3.73,0,0,1,7.42,0Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="642.15 26.22 642.15 30.07 640.59 30.07 640.59 32.04 642.15 32.04 642.15 41.54 644.3 41.54 644.3 32.04 646.19 32.04 646.19 30.07 644.3 30.07 644.3 26.22 642.15 26.22"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M651.08,41.83a6.16,6.16,0,0,0,6.28-5.94,6.2,6.2,0,0,0-12.39,0A6.19,6.19,0,0,0,651.08,41.83Zm.07-10.1a4.07,4.07,0,1,1,0,8.14,4.07,4.07,0,0,1,0-8.14Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M676.88,29.76a4,4,0,0,0-3.36,1.54h0V30.07H669.6l-2.53,7.46h0l-2.39-7.46h-1.41l-2.38,7.46h0l-2.55-7.46H656l4.29,11.47h1.18l2.49-7.72h0l2.49,7.72h1.2l3.81-10.29V41.54h2.16V35.27c0-2.15,1.14-3.54,3-3.54s2.86,1.14,2.86,3.56v6.25h2.16V34.67A4.53,4.53,0,0,0,676.88,29.76Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M621.68,48c0-3.14-1.64-5.09-5.33-5.09h-4.91V58.18h2.24v-7.1h0l5.06,7.1h2.8l-4.29-5.71A4.4,4.4,0,0,0,621.68,48Zm-8,2.82V44.91H616c2,0,3.4,1.1,3.4,2.86,0,2-1.51,3-4.12,3Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M642.4,48.33h0a4.56,4.56,0,0,0-4-1.93,5.83,5.83,0,0,0-5.72,4.33,5.83,5.83,0,0,0-5.72-4.33,5.93,5.93,0,0,0-5.79,6.15A6,6,0,0,0,627,58.47a5.9,5.9,0,0,0,5.52-3.89h-2.16a3.7,3.7,0,0,1-3.28,1.92,3.94,3.94,0,0,1-3.77-3.12h9.14a5.93,5.93,0,0,0,6,5.09,4.35,4.35,0,0,0,3.89-2.07h0v1.78h2.15V46.71H642.4Zm-19.1,3.39a3.73,3.73,0,0,1,7.42,0Zm15.14,4.78a4.07,4.07,0,0,1,0-8.13,4,4,0,0,1,4,4.1A4,4,0,0,1,638.44,56.5Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="656.41 55.61 653.03 46.71 652.51 46.71 650.71 46.71 650.63 46.71 650.63 42.86 648.47 42.86 648.47 46.71 647.52 46.71 647.52 42.86 645.36 42.86 645.36 58.18 647.52 58.18 647.52 48.68 648.47 48.68 648.47 58.18 650.63 58.18 650.63 48.68 651.51 48.68 655.29 57.95 653.61 62.01 655.85 62.01 662.2 46.71 659.87 46.71 656.41 55.61"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="580.61 25.71 581.33 27.63 585.47 26.08 585.47 59.87 587.51 59.87 587.51 25.32 635.56 7.38 683.62 25.32 683.62 59.87 685.66 59.87 685.66 26.08 689.8 27.63 690.52 25.71 635.56 5.2 580.61 25.71"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="4.88 40.81 2.07 40.81 2.07 37.6 0 37.6 0 45.8 2.07 45.8 2.07 42.49 4.88 42.49 4.88 45.8 6.95 45.8 6.95 37.6 4.88 37.6 4.88 40.81"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M11.86,46c2.59,0,4.07-1.81,4.07-4.29s-1.48-4.27-4.07-4.27S7.8,39.23,7.8,41.69,9.25,46,11.86,46Zm0-6.88c1.49,0,2,1.17,2,2.59s-.51,2.61-2,2.61-2-1.17-2-2.61S10.36,39.1,11.86,39.1Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M21.48,45.8h2.15v-.12c-.47-.14.28-3.31-1.78-3.67v0a2,2,0,0,0,1.67-2c0-1.54-1.11-2.38-2.93-2.38H16.72v8.2h2.06V42.94h1.29C21.83,42.94,21.08,45.45,21.48,45.8Zm-2.7-6.52h1.41c.82,0,1.26.3,1.26,1s-.44,1-1.26,1H18.78Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="29.36 42.47 26.49 37.6 24.42 37.6 24.42 45.8 26.49 45.8 26.49 40.92 26.51 40.92 29.38 45.8 31.45 45.8 31.45 37.6 29.38 37.6 29.38 42.47 29.36 42.47"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="38.8 39.28 38.8 37.6 32.57 37.6 32.57 45.8 38.87 45.8 38.87 44.11 34.64 44.11 34.64 42.43 38.22 42.43 38.22 40.74 34.64 40.74 34.64 39.28 38.8 39.28"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M46.58,40c0-1.54-1.1-2.38-2.93-2.38H39.78v8.2h2.07V42.94h1.29c1.75,0,1,2.51,1.41,2.86H46.7v-.12c-.47-.14.27-3.31-1.78-3.67v0A2,2,0,0,0,46.58,40Zm-3.33,1.28h-1.4v-2h1.4c.83,0,1.27.3,1.27,1S44.08,41.26,43.25,41.26Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M54.08,39.66c0-1.4-.9-2.06-2.61-2.06h-4v8.2h4.1c1.7,0,2.81-.68,2.81-2.42a1.81,1.81,0,0,0-1.59-2v0A1.74,1.74,0,0,0,54.08,39.66Zm-4.52-.38H51c.57,0,1,.14,1,.82s-.46.81-1,.81H49.56ZM51,44.11H49.56V42.17H51c.86,0,1.3.2,1.3,1S51.9,44.11,51,44.11Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M62,40c0-1.54-1.1-2.38-2.93-2.38H55.19v8.2h2.07V42.94h1.29c1.75,0,1,2.51,1.41,2.86h2.15v-.12c-.48-.14.27-3.31-1.78-3.67v0A2,2,0,0,0,62,40Zm-3.33,1.28h-1.4v-2h1.4c.83,0,1.26.3,1.26,1S59.49,41.26,58.66,41.26Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M66.63,37.42c-2.61,0-4.07,1.81-4.07,4.27S64,46,66.63,46s4.06-1.81,4.06-4.29S69.21,37.42,66.63,37.42Zm0,6.88c-1.51,0-2-1.17-2-2.61s.49-2.59,2-2.59,2,1.17,2,2.59S68.12,44.3,66.63,44.3Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M75.22,37.42c-2.61,0-4.07,1.81-4.07,4.27S72.61,46,75.22,46s4.06-1.81,4.06-4.29S77.8,37.42,75.22,37.42Zm0,6.88c-1.51,0-2-1.17-2-2.61s.49-2.59,2-2.59,2,1.17,2,2.59S76.71,44.3,75.22,44.3Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="87.41 37.6 85 37.6 82.14 40.92 82.14 37.6 80.07 37.6 80.07 45.8 82.14 45.8 82.14 43.63 82.97 42.69 85.11 45.8 87.53 45.8 84.29 41.21 87.41 37.6"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M16,55.45H14.36A4.24,4.24,0,0,1,14,56.62l-1.12-1.3c1.1-.57,1.73-1.12,1.72-2.06a2.29,2.29,0,0,0-2.47-2.09,2.24,2.24,0,0,0-2.47,2.09,3,3,0,0,0,1,2c-.93.47-1.84,1-1.84,2.31s.94,2.2,2.84,2.2a3.92,3.92,0,0,0,2.21-.64l.38.45h2.3l-1.44-1.67A5.52,5.52,0,0,0,16,55.45ZM12.1,52.74c.53,0,.75.3.75.63s-.28.71-.79,1.06c-.42-.41-.7-.69-.7-1.06S11.6,52.74,12.1,52.74Zm-.27,5.43a1,1,0,0,1-1.12-1,1.26,1.26,0,0,1,.63-1.06l1.49,1.8A2,2,0,0,1,11.83,58.17Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="24.74 57.87 21.09 57.87 21.09 51.36 19.02 51.36 19.02 59.55 24.74 59.55 24.74 57.87"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M31,59.55h2.07l-3-8.19H28l-3,8.19h2.07l.53-1.7h2.81Zm-2.87-3.28.93-3h0l.93,3Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="38.59 56.23 38.57 56.23 35.7 51.36 33.63 51.36 33.63 59.55 35.7 59.55 35.7 54.68 35.72 54.68 38.59 59.55 40.66 59.55 40.66 51.36 38.59 51.36 38.59 56.23"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M41.52,55.45c0,2.48,1.39,4.29,3.72,4.29a2.45,2.45,0,0,0,2.36-1.23h0l.2,1h1.48V55.2H45.62v1.49h1.56a1.48,1.48,0,0,1-1.64,1.36c-1.44,0-1.95-1-1.95-2.6s.51-2.59,1.87-2.59a1.53,1.53,0,0,1,1.66,1.21h2.07a3.39,3.39,0,0,0-3.7-2.9C42.91,51.17,41.52,53,41.52,55.45Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="50.3 59.55 52.37 59.55 52.37 56.53 55.66 56.53 55.66 54.84 52.37 54.84 52.37 53.04 56.41 53.04 56.41 51.36 50.3 51.36 50.3 59.55"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="63.44 53.04 63.44 51.36 57.21 51.36 57.21 59.55 63.51 59.55 63.51 57.87 59.28 57.87 59.28 56.18 62.86 56.18 62.86 54.5 59.28 54.5 59.28 53.04 63.44 53.04"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="66.49 51.36 64.42 51.36 64.42 59.55 70.14 59.55 70.14 57.87 66.49 57.87 66.49 51.36"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M74.55,51.36H70.91v8.19h3.76c2.28,0,3.55-1.45,3.55-4.09S76.84,51.36,74.55,51.36Zm-.2,6.51H73V53h1.37c1.28,0,1.8.93,1.8,2.42S75.63,57.87,74.35,57.87Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M26.23,67.33h-1a3.19,3.19,0,0,1-.24.74l-.71-.82c.69-.35,1.09-.7,1.08-1.29a1.44,1.44,0,0,0-1.55-1.31A1.4,1.4,0,0,0,22.26,66a1.87,1.87,0,0,0,.6,1.24c-.58.29-1.15.64-1.15,1.44S22.3,70,23.49,70a2.52,2.52,0,0,0,1.39-.4l.23.29h1.44l-.9-1A3.48,3.48,0,0,0,26.23,67.33ZM23.8,65.64c.33,0,.47.18.47.39s-.17.45-.49.66c-.26-.25-.44-.43-.44-.66S23.49,65.64,23.8,65.64ZM23.63,69a.62.62,0,0,1-.7-.63.78.78,0,0,1,.4-.66l.93,1.13A1.28,1.28,0,0,1,23.63,69Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M30.64,64.77h-2.5v5.14h1.29V68h1.21a1.64,1.64,0,1,0,0-3.27ZM30.36,67h-.93V65.82h.93c.45,0,.72.16.72.59S30.81,67,30.36,67Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M33.83,64.77,32,69.91h1.29l.33-1.08h1.76l.34,1.08H37l-1.86-5.14Zm.06,3.08.58-1.9h0l.59,1.9Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M40.55,67.53h0a1.22,1.22,0,0,0,1.05-1.26c0-1-.69-1.49-1.84-1.49H37.34v5.14h1.29V68.12h.81c1.1,0,.63,1.57.88,1.79h1.35v-.08C41.37,69.75,41.84,67.76,40.55,67.53Zm-1-.47h-.88V65.82h.88c.52,0,.79.19.79.62S40,67.06,39.51,67.06Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="41.9 65.83 43.39 65.83 43.39 69.91 44.69 69.91 44.69 65.83 46.18 65.83 46.18 64.77 41.9 64.77 41.9 65.83"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="49.76 67.82 49.75 67.82 47.95 64.77 46.65 64.77 46.65 69.91 47.95 69.91 47.95 66.85 47.96 66.85 49.76 69.91 51.05 69.91 51.05 64.77 49.76 64.77 49.76 67.82"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="53.05 67.79 55.3 67.79 55.3 66.74 53.05 66.74 53.05 65.83 55.66 65.83 55.66 64.77 51.76 64.77 51.76 69.91 55.7 69.91 55.7 68.85 53.05 68.85 53.05 67.79"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M59.49,67.53h0a1.21,1.21,0,0,0,1-1.26c0-1-.69-1.49-1.83-1.49H56.27v5.14h1.3V68.12h.81c1.1,0,.63,1.57.88,1.79h1.35v-.08C60.31,69.75,60.78,67.76,59.49,67.53Zm-1-.47h-.88V65.82h.88c.51,0,.79.19.79.62S59,67.06,58.45,67.06Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M63.27,66.72c-.65-.18-1-.28-1-.6s.31-.41.69-.41.83.23.89.62h1.29c0-1-1-1.68-2.18-1.68s-2,.44-2,1.56c0,1,.78,1.33,1.66,1.59s1.28.31,1.28.72-.26.44-.74.44-1.05-.2-1.05-.74H60.86c0,1.14,1,1.8,2.34,1.8s2-.64,2-1.62S64.24,67,63.27,66.72Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="10.29 18.46 17.22 18.46 17.22 27.78 24.07 27.78 24.07 3.62 17.22 3.62 17.22 12.69 10.29 12.69 10.29 3.62 3.44 3.62 3.44 27.78 10.29 27.78 10.29 18.46"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M3.27,31.05H32.82V26.84l-.44-.06c-4-.54-6.25-2.79-6.25-6.17,0-2.66,1.12-4.26,3.53-5l.36-.18v-.68l-.28-.14a4.83,4.83,0,0,1-3-4.44c0-3.3,2.91-5,5.63-5.46l.42-.08V.36H3.27A3.27,3.27,0,0,0,0,3.62V27.78A3.28,3.28,0,0,0,3.27,31.05ZM1,3.62A2.26,2.26,0,0,1,3.27,1.37H31.8v2.4c-3.74.8-6,3.21-6,6.38A5.62,5.62,0,0,0,28.42,15c-2.23,1-3.31,2.87-3.31,5.63,0,3.75,2.49,6.38,6.69,7.1V30H3.27A2.26,2.26,0,0,1,1,27.78Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M84.26.36H36.64V4.74l.4.09c3.4.77,5.43,3,5.63,6.05H38.48c-.21-1.84-1.62-3-3.78-3-2.83,0-3.43,1.7-3.43,3.13,0,2,1.38,3,4.11,3h.5V16.8h-.63c-3.07,0-4.63,1.17-4.63,3.48,0,1.2.52,3.2,3.95,3.2,2.87,0,4.4-1.34,4.57-4h4.18c-.17,3.89-2.33,6.34-6.27,7.11l-.41.08v4.36H84.26a3.28,3.28,0,0,0,3.27-3.27V3.62A3.27,3.27,0,0,0,84.26.36Zm2.25,27.42A2.25,2.25,0,0,1,84.26,30H37.66V27.52c4.32-1,6.69-4,6.69-8.53v-.51h-6.2V19c0,2.44-1.07,3.47-3.58,3.47-2.93,0-2.93-1.64-2.93-2.18,0-1.22.43-2.47,3.61-2.47h1.64V13H35.38c-2.74,0-3.09-1-3.09-1.95,0-1.49.72-2.12,2.41-2.12,1,0,2.8.32,2.8,2.44v.51h6.2v-.51c0-3.68-2.25-6.44-6-7.44V1.37h46.6a2.25,2.25,0,0,1,2.25,2.25Z"/>
    <polygon class="eb9b840a-d055-464b-936a-d61ec1a63906" points="52.5 3.62 45.65 3.62 45.65 27.78 62.81 27.78 62.81 22.01 52.5 22.01 52.5 3.62"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M75.73,3.62H64V27.78h6.85V19.4h4.9c5.31,0,8.36-2.88,8.36-7.89S81,3.62,75.73,3.62Zm1.51,7.89c0,1.5-.8,2.12-2.74,2.12H70.83V9.39H74.5C76.44,9.39,77.24,10,77.24,11.51Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M80.83,22a2.84,2.84,0,1,0,2.81,2.84A2.78,2.78,0,0,0,80.83,22Zm0,5.09a2,2,0,0,1-2.11-2.27,2.11,2.11,0,1,1,4.21,0A2,2,0,0,1,80.83,27.07Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M81.51,24.92h0a.71.71,0,0,0,.61-.75c0-.58-.41-.88-1.08-.88H79.6v3h.76V25.26h.48c.66,0,.38.94.53,1.07h.8v0C82,26.23,82.27,25.05,81.51,24.92Zm-.62-.28h-.53V23.9h.53c.3,0,.47.12.47.38S81.19,24.64,80.89,24.64Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M431.11,71.57c-5.71,0-8.17-5.46-8.17-11.74S425.4,47.67,431,47.67a9.72,9.72,0,0,1,7.59,3.83l1.05-.6-2.29-4.58h-1.33l-.38.83a11.39,11.39,0,0,0-5.22-1.24c-7.34,0-12.75,5.79-12.75,13.92s5.41,13.5,13,13.5a12.89,12.89,0,0,0,9.88-4.6l-1.38-1.21A10.05,10.05,0,0,1,431.11,71.57Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M436.08,53.32c-4.39,0-7.18,2.84-7.18,6.76s2.79,6.78,7.18,6.78,7.18-2.84,7.18-6.78S440.47,53.32,436.08,53.32Zm0,11.88c-2.12,0-2.81-1.87-2.81-5.12S434,55,436.08,55s2.82,1.84,2.82,5.1S438.21,65.2,436.08,65.2Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M454.88,67.63c-2.1,0-3.39,1.16-3.39,2.64a2,2,0,0,0,1.93,2c1.74,0,1.57-1.79,2.7-1.79.69,0,1.33.64,1.33,1.71,0,1.63-1.41,2.81-3.37,2.81-2.32,0-4.11-1.38-4.11-4.85V46.74h-1.55l-4.22,2.31v1.08h.85c.5,0,.69.24.69.82v18c0,5.29,3.12,8.1,7.9,8.1,3.73,0,5.82-2.32,5.82-4.88A4.44,4.44,0,0,0,454.88,67.63Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M466.39,64.07V53.32h-1.54l-4.23,2.32v1.07h.83c.53,0,.72.25.72.83v6.15a4.73,4.73,0,0,1-2.49.82,1.64,1.64,0,0,1-1.79-1.84V53.32h-1.55l-4.22,2.32v1.07H453c.5,0,.69.25.69.83v5c0,3.58,2.35,4.3,4.36,4.3a8.33,8.33,0,0,0,4.17-1.33v1.33a35.64,35.64,0,0,1,5.77-.42V65.29C466.67,65.15,466.39,64.9,466.39,64.07Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M487.29,53.32a8.11,8.11,0,0,0-4.61,1.74,4.14,4.14,0,0,0-3.78-1.74,8.34,8.34,0,0,0-4.14,1.35V53.32h-1.55L469,55.64v1.07h.85c.5,0,.69.25.69.83v6.53c0,.83-.3,1.08-1.54,1.22v1.15h7.31V65.29c-1.27-.14-1.54-.39-1.54-1.22V56.49a4.33,4.33,0,0,1,2.48-.82,1.64,1.64,0,0,1,1.8,1.84v6.56c0,.83-.28,1.08-1.55,1.22v1.15h7.32V65.29c-1.25-.14-1.55-.39-1.55-1.22V57.62a7.16,7.16,0,0,0-.08-1.07,4.29,4.29,0,0,1,2.37-.88c1.49,0,2.16,1.26,2.16,4.76,0,7.31-.75,10.31-2.54,10.31-1.19,0-1.44-1.79-3.12-1.79a1.89,1.89,0,0,0-1.88,2c0,1.46,1.35,2.37,3.28,2.37,4,0,8.62-5.18,8.62-12.9C492.07,55.09,490.36,53.32,487.29,53.32Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M503.14,53.32a5.26,5.26,0,0,0-3.59,1.27V46.74H498l-4.22,2.31v1.08h.86c.49,0,.69.24.69.85V66.86h1.57l2-1.3a5.27,5.27,0,0,0,3.7,1.3c4,0,6.4-2.65,6.4-6.78S506.59,53.32,503.14,53.32ZM501.76,64.9a2.52,2.52,0,0,1-2.21-1.13V56.44a2.45,2.45,0,0,1,2.21-1.13c2,0,2.87,1.51,2.87,4.77S503.8,64.9,501.76,64.9Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M516.42,49.33A2.35,2.35,0,0,0,514,47a2.32,2.32,0,0,0-2.46,2.32A2.29,2.29,0,0,0,514,51.59,2.32,2.32,0,0,0,516.42,49.33Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M516,64.07V53.32h-1.54l-4.22,2.32v1.07h.85c.5,0,.69.25.69.83v6.53c0,.83-.3,1.08-1.54,1.22v1.15h7.31V65.29C516.25,65.15,516,64.9,516,64.07Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M536.71,57.38a2.22,2.22,0,0,0-2.43,2.06A1.73,1.73,0,0,0,536,61.23c.75,0,1-.46,1.66-.46.39,0,.77.33.77,1,0,1.55-1.68,3.23-4.83,3.23-2.18,0-2.56-.39-2.56-1.57v-6c0-3.09-2.46-4.14-5.28-4.14-3.61,0-6.21,1.38-6.21,3.42a1.5,1.5,0,0,0,1.57,1.71,2.15,2.15,0,0,0,2.16-1.65c.41-1.3,1-1.85,2-1.85,1.22,0,1.46.61,1.46,2.31v1.3c-3.94.72-8.08,1.82-8.08,5.1,0,1.87,1.46,3.14,3.72,3.14A7.69,7.69,0,0,0,527,65a2.07,2.07,0,0,0,.74,1c.94.69,2.6.74,5,.74,5.69,0,7.65-2.45,7.65-5.4A3.73,3.73,0,0,0,536.71,57.38Zm-9.89,6.09a3.77,3.77,0,0,1-2.2.8,1.4,1.4,0,0,1-1.52-1.49c0-1.52,1.49-2.18,3.72-2.62Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M410,33c2.7-.55,4.25-1.88,4.25-4.22,0-4-3.34-5-9.08-5H394.71c-4.64,0-8.2,2.48-8.2,6.75,0,3.5,2.21,5.46,5.08,5.46s4.8-1.82,4.8-4.27a2.55,2.55,0,0,0-2.45-2.81,2.12,2.12,0,0,0-2.21,2.2c0,1,.52,1.24.52,2s-.33.94-1.07.94c-1.27,0-2.65-1.24-2.65-3.48,0-2.78,2.26-4.88,6.18-4.88h1.6c1.22,0,2,.36,2,1.41v9.45A5.55,5.55,0,0,0,395,41.7c0,3.5,3.12,6.48,8.56,6.48,6.08,0,11.73-2.79,11.73-8.44C415.3,36.13,413.32,33.87,410,33Zm-6.74-6.48a.79.79,0,0,1,.83-.83h1.08c2.59,0,4.17.53,4.17,3.09S407.69,32,405.15,32h-1.94Zm.36,19.79c-3.59,0-6.54-1.62-6.54-4.6a3.57,3.57,0,0,1,3.64-3.78c1.55,0,2.07.69,2.07,1.3,0,.83-1.13,1-1.13,2.34a2.09,2.09,0,0,0,2.21,2,2.69,2.69,0,0,0,2.65-3,4.41,4.41,0,0,0-3.26-4.17V33.87H405c3.34,0,5.41,2,5.41,5.73C410.39,44.48,407.22,46.3,403.57,46.3Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M424,42c-1.27-.14-1.54-.39-1.54-1.22v-7a1.74,1.74,0,0,1,1.43-.78c.91,0,.8,1.44,2.49,1.44a2,2,0,0,0,1.9-2.18A2.15,2.15,0,0,0,425.85,30a4.72,4.72,0,0,0-3.39,1.63V30h-1.55l-4.22,2.32v1.07h.85c.5,0,.69.25.69.83v6.53c0,.83-.3,1.08-1.54,1.22V43.1H424Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M429,42V43.1h7.31V42c-1.27-.14-1.54-.39-1.54-1.22V30h-1.55L429,32.3v1.07h.85c.5,0,.69.25.69.83v6.53C430.54,41.56,430.24,41.81,429,42Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M435.21,26a2.35,2.35,0,0,0-2.46-2.32A2.31,2.31,0,0,0,430.3,26a2.28,2.28,0,0,0,2.45,2.26A2.32,2.32,0,0,0,435.21,26Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M446,32.16V30.4h-3V26.24h-1.58a6.3,6.3,0,0,1-4.19,4.85v1.07h1.52v7.58c0,2.87,1.62,3.75,4.25,3.75a11,11,0,0,0,3-.47V41.34a4.62,4.62,0,0,1-1.54.28c-.91,0-1.49-.5-1.49-1.88V32.16Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M448.32,26a2.29,2.29,0,0,0,2.46,2.26A2.32,2.32,0,0,0,453.24,26a2.35,2.35,0,0,0-2.46-2.32A2.32,2.32,0,0,0,448.32,26Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M454.34,42c-1.27-.14-1.54-.39-1.54-1.22V30h-1.55L447,32.3v1.07h.85c.5,0,.69.25.69.83v6.53c0,.83-.3,1.08-1.54,1.22V43.1h7.31Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M458.1,42.77c1.4,0,.71,2.15,2.51,2.15a1.59,1.59,0,0,0,1.63-1.76A3.07,3.07,0,0,0,459,40.43a3.91,3.91,0,0,0-4.09,3.69c0,2.87,2.65,4.47,6,4.47,4.61,0,6.88-3.25,6.88-6.09,0-4-2.93-5.62-5.25-6.81-1.6-.85-2.81-1.52-2.81-2.67s.77-1.49,1.82-1.49c1.43,0,3.2,1.16,4.33,3.66l1-.3-.82-4.49h-1l-.33.71A6.08,6.08,0,0,0,460.94,30c-3,0-5.33,1.66-5.33,4.17s2.07,3.66,4.67,4.93c1.87,1,3.64,2,3.64,4.41a3.45,3.45,0,0,1-3.67,3.5c-1.55,0-3.37-1-3.37-2.87A1.22,1.22,0,0,1,458.1,42.77Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M476,42c-1.27-.14-1.55-.39-1.55-1.22V33.15a4.39,4.39,0,0,1,2.49-.82,1.64,1.64,0,0,1,1.79,1.84v9.9c0,3.61,2.46,5.35,5.47,5.35,3.39,0,5.44-1.16,5.44-3.09a1.66,1.66,0,0,0-1.77-1.65A1.93,1.93,0,0,0,486,46.36c-.22.88-.5,1.43-1.41,1.43S483,47.05,483,45.2V34.28c0-3.58-2.32-4.3-4.37-4.3a8.32,8.32,0,0,0-4.14,1.36V23.4H473l-4.23,2.31v1.08h.86c.5,0,.69.25.69.82V40.73c0,.83-.3,1.08-1.55,1.22V43.1H476Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M407.93,11.8c2.62,0,4.16-1.71,4.16-3.5a2.31,2.31,0,0,0-2.31-2.4,2.1,2.1,0,0,0-2.16,1.71c-.16.82-.5,1.1-1.05,1.1a2,2,0,0,1-1.79-2.21c0-2.42,1.88-4,5.08-4a13.89,13.89,0,0,1,4.86,1.16,5.37,5.37,0,0,0-.58,2.45c0,7.31,11.7,6,11.7,12.79,0,2.95-2.23,4.83-5.35,4.83-2.85,0-6-1.38-6-4.47,0-1.29.74-2.07,1.57-2.07,1.35,0,1.44,2.48,3.37,2.48a2.17,2.17,0,0,0,2.32-2.37c0-1.87-1.71-3.14-4.11-3.14a5,5,0,0,0-5.28,5.1c0,3.78,3.45,6.34,8.28,6.34,5.12,0,8.63-2.77,9.64-6.25v.41h7.31V18.55c-1.27-.14-1.54-.39-1.54-1.21V9.76a4.27,4.27,0,0,1,2.48-.83,1.65,1.65,0,0,1,1.8,1.85v6.56c0,.82-.28,1.07-1.55,1.21v1.16h7.32V18.55c-1.25-.14-1.55-.39-1.55-1.21V10.89c0-3.59-2.32-4.3-4.36-4.3A8.24,8.24,0,0,0,436,7.94V0h-1.55l-4.22,2.32V3.39h.85c.5,0,.69.25.69.83V17.34c0,.78-.28,1-1.36,1.19a8.06,8.06,0,0,0,.12-1.3c0-8.6-10.76-8.08-11.81-11.88a17.06,17.06,0,0,0,6.15,1.76c2.71,0,4.39-1.49,4.39-3.47,0-2.18-2.48-3.64-6.15-3.64-3,0-5.55.69-7.18,2.09a15.75,15.75,0,0,0-6.1-1.51c-4.45,0-7.21,2.67-7.21,5.92A5.21,5.21,0,0,0,407.93,11.8Zm15.21-10c2.51,0,4,.86,4,1.88s-.91,1.51-2.27,1.51A15.61,15.61,0,0,1,419,3.45C419.74,2.32,421.45,1.76,423.14,1.76Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M447.29,16.92c0,1.88,1.46,3.15,3.73,3.15a7.62,7.62,0,0,0,4.44-1.74c.31,1.29,1.44,1.71,2.87,1.71a5.75,5.75,0,0,0,2.24-.38v.05h7.32V18.55c-1.27-.14-1.55-.39-1.55-1.21V15.27l1.49-1.43c3.81,7.41,8.36,12.29,13.75,12.29,3,0,5.16-1.16,5.16-3.14a1.74,1.74,0,0,0-1.82-1.77c-2.46,0-2,3-3.92,3s-4.64-1.87-10-13.4l1-.9c1.38-1.3,2-1.6,3.31-1.74V7h-7.18V8.16c1.94.14,1.91,1.13.75,2.2l-2.54,2.48V0h-1.55l-4.22,2.32V3.39h.86c.49,0,.69.25.69.83V17.34c0,.67-.21.95-.94,1.11v-.51a1.71,1.71,0,0,1-.8.2c-.47,0-.75-.31-.75-1.05V10.72c0-3.09-2.46-4.13-5.27-4.13-3.62,0-6.21,1.38-6.21,3.42a1.5,1.5,0,0,0,1.57,1.7,2.13,2.13,0,0,0,2.15-1.65c.42-1.3,1-1.85,2.05-1.85,1.21,0,1.46.61,1.46,2.32v1.29C451.43,12.54,447.29,13.64,447.29,16.92Zm8.09-.19a3.78,3.78,0,0,1-2.21.8A1.4,1.4,0,0,1,451.65,16c0-1.51,1.49-2.18,3.73-2.62Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M482.21,20.12c3.48,0,6-2.34,6-4.55a2,2,0,0,0-2-2.15,1.74,1.74,0,0,0-1.79,1.77c0,.77.47,1,.47,1.65s-.75,1.43-2.1,1.43c-2.29,0-3.29-1.48-3.4-4.32l8.5-2.81c-.6-3.26-3.14-4.55-6-4.55A6.5,6.5,0,0,0,475,13.34C475,17.28,477.66,20.12,482.21,20.12Zm-.33-11.88c1.22,0,2,1,2,2.29l-4.55,1.54C479.48,9.54,480,8.24,481.88,8.24Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M489.36,22c0,6.17,4.09,8.7,8.48,8.7,3.83,0,6.21-2.17,6.21-5.37a4.44,4.44,0,0,0-4.75-4.44c-2.37,0-3.89,1.46-3.89,3.28a2.49,2.49,0,0,0,2.4,2.7,1.84,1.84,0,0,0,1.9-1.71c0-1.13-1-1.26-1-1.84,0-.42.42-.69.91-.69a2.49,2.49,0,0,1,2.46,2.7c0,2.26-1.66,3.45-4,3.45-1.19,0-4.42-.78-4.42-5.6V8.76h3V7h-3V2.84H492a6.29,6.29,0,0,1-4.2,4.85V8.76h1.52Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M503.36,20.12c4.39,0,7.18-2.84,7.18-6.75s-2.63-6.78-5.47-6.78a3.67,3.67,0,0,0-3.75,3.94c0,1.9,1.07,3.09,2.26,3.09a1.4,1.4,0,0,0,1.52-1.41,1.55,1.55,0,0,0-1.24-1.54.87.87,0,0,1-.78-.91,1,1,0,0,1,1.05-1.08c1.27,0,2,1.79,2,4.69s-.63,5.1-2.81,5.1-2.82-2.21-2.82-5.1c0-3.28.36-4.94,1.24-5.87l-.46-.8a6.64,6.64,0,0,0-5.14,6.67C496.18,17.28,499,20.12,503.36,20.12Z"/>
    <path class="eb9b840a-d055-464b-936a-d61ec1a63906" d="M550.07,15.21c-2.27,0-3.56,1.16-3.56,2.6a2,2,0,0,0,1.93,2.12c1.74,0,1.54-1.82,2.7-1.82a2.11,2.11,0,0,1,2,2.37,3.61,3.61,0,0,1-3.89,3.61c-2.43,0-4.55-2.07-4.55-5.26V10.89c0-3.59-2.32-4.3-4.37-4.3a8.31,8.31,0,0,0-4.14,1.35V6.59h-1.54l-4.19,2.29a11.45,11.45,0,0,0,.07-1.3c0-2.73-1.1-4.41-2.62-4.41A1.84,1.84,0,0,0,526,5a2,2,0,0,0,1,1.68,2.89,2.89,0,0,1,1.38,2.64c0,1.8-1,4.11-2.1,6.26l-2-5.51c-.53-1.46-.2-1.79,1.13-1.93V7h-7.18V8.16c.8.08,1.13.72,1.49,1.79l-1.87,5L516,10.09c-.52-1.46-.27-1.79,1-1.93V7h-7.28V8.16c1,.14,1.29.74,1.71,1.93l3.61,9.62h3l2.57-7.14,2.68,7.14h2.76c2.36-4.11,3.91-7.47,4.3-10.58V10h.86c.5,0,.69.25.69.82v6.54c0,.82-.3,1.07-1.55,1.21v1.16h7.32V18.55c-1.27-.14-1.55-.39-1.55-1.21V9.76a4.32,4.32,0,0,1,2.49-.83,1.64,1.64,0,0,1,1.79,1.85v6.67c0,5.32,3.45,8.57,8.26,8.57,4,0,6.4-2.51,6.4-5.54A5,5,0,0,0,550.07,15.21Z"/>
    </svg>
