{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 400 184"
  style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'
>
  <path d="M73.46,63c0,16.53-12.54,27.26-34.14,27.26C16.89,90.21,0,79.11,0,59.93H21.71c0,9.17,8,12.55,17.61,12.55,8.09,0,12.43-3.14,12.43-7.48,0-6.87-9.29-8.44-21.47-12.06C15.44,48.6,2.41,42.2,2.41,26.28,2.41,7.46,17.13.1,35.71.1,55.85.1,71.65,10.72,72.26,28.21H50.54c-1-6.51-6.51-10.37-14.83-10.37-6.52,0-11.58,2.05-11.58,6.87,0,5.31,5.42,7,16.28,10C56.7,39.19,73.46,44.49,73.46,63Z"/>

    <path d="M103.86,2V35.81h29.55V2h21.72V88.28H133.41V53.54H103.86V88.28H82.15V2Z"/>
    <path d="M187,70.31l-5.55,18H159.71L191,2h21.72l31.12,86.25H222.07l-5.54-18ZM211.7,53.78l-9.77-31.84h-.24l-9.77,31.84Z"/>
    <path d="M271.53,2V37l30-35H326.9L294.09,40l34,48.25H302.78L280.22,55.59l-8.69,9.89v22.8H249.82V2Z"/>
    <path d="M393.25,35.08V52.82H355.61V70.55H400V88.28H333.9V2h65.38V19.77H355.61V35.08Z"/>
    <path d="M49.16,113.45H24.06V95.72H95.84v17.73h-25V182H49.16Z"/>
    <path d="M96.68,138.78c0-25.93,15.32-45,42.71-45,27.14,0,42.7,19.06,42.7,45s-15.56,45.12-42.7,45.12C112,183.9,96.68,164.84,96.68,138.78Zm63.69,0c0-15-5.3-27.26-21-27.26s-21,12.3-21,27.26,5.18,27.39,21,27.39S160.37,153.86,160.37,138.78Z"/>
    <path d="M202.59,95.72l11.1,58.5h.24l13.39-58.5h20.51l13.39,58.5h.24l11.1-58.5h21.71L272.32,182H250.6l-12.9-53.8h-.25L224.55,182H202.83l-22-86.25Z"/>
    <path d="M300.18,95.72h21.71L352.05,147h.24V95.72H374V182H352.29L322.13,130.7h-.24V182H300.18Z"/>
    <path d="M378,102.27a6.66,6.66,0,1,1,6.67,6.74A6.59,6.59,0,0,1,378,102.27Zm11.66,0c0-3.23-1.9-5.35-5-5.35s-5,2.12-5,5.35,1.92,5.37,5,5.37S389.62,105.5,389.62,102.25Zm-7.91-3.62h3.43c1.58,0,2.56.72,2.56,2.09a1.71,1.71,0,0,1-1.45,1.78v0c1.81.31,1.14,3.12,1.56,3.23v.11h-1.9c-.36-.3.31-2.53-1.25-2.53h-1.14v2.53h-1.81Zm1.81,3.23h1.25c.73,0,1.12-.28,1.12-.87s-.39-.89-1.12-.89h-1.25Z"/>
</svg>
