{% assign fill_colour = fill_colour | default: '#231F20' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Artwork" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 290 51.3" style="enable-background:new 0 0 290 51.3;" xml:space="preserve" style="fill: {{ fill_colour }};">
  <g>
	  <polygon points="134.6,11.9 134.6,2.5 138.1,2.5 138.1,0 128.2,0 128.2,2.5 131.6,2.5 131.6,11.9 	"/>
	  <polygon points="147.5,9.5 141.3,9.5 141.3,7 146.5,7 146.5,4.6 141.3,4.6 141.3,2.5 147.3,2.5 147.3,0 138.3,0
		  138.3,11.9 147.5,11.9 	"/>
	  <polygon points="156.3,9.5 151,9.5 151,0 148,0 148,11.9 156.3,11.9 	"/>
	  <path d="M158.3,12.2c0.8-0.1,1.4-0.8,1.3-1.5c-0.1-0.7-0.6-1.2-1.3-1.3c-0.8-0.1-1.5,0.5-1.5,1.3c0,0.1,0,0.2,0,0.2
		  C156.8,11.7,157.5,12.2,158.3,12.2z"/>
	  <path d="M16.3,26.6v-0.4c0-1.7,2.7-2.6,8.1-2.6c5.2,0,7.8,0.9,7.8,2.6v0.4c1.7,0.8,3.5,1.3,5.4,1.4c1,0,2-0.1,3-0.3
		  c-0.3-1.9-1-3.7-1.9-5.4c-2.2-0.8-4.5-1.5-6.8-1.8c-2.5-0.4-5.1-0.6-7.6-0.6c-2.5,0-5,0.2-7.5,0.6c-2.4,0.4-4.7,1-6.9,1.8
		  c-1,1.7-1.6,3.5-1.9,5.4c1,0.4,2,0.6,3.1,0.6C12.9,28.2,14.7,27.6,16.3,26.6z"/>
	  <path d="M35.3,36.9l-4.6-7.3v-3.3h-3.9v2.4h-5.2v-2.4h-3.9v3.3l-4.5,7.3c-1.1,1.6-1.7,3.5-1.8,5.4v4.1H37v-4.1
		  c0-0.9-0.1-1.8-0.4-2.7C36.3,38.6,35.9,37.7,35.3,36.9z M21.5,38.1h-2.2v-1.5h2.2V38.1z M21.5,35.6h-2.2v-1.5l2.2-0.1V35.6z
		   M21.5,33h-2.2v-1.5l2.2,0V33z M25.2,38.1H23v-1.5h2.2V38.1z M25.2,35.6H23v-1.5l2.2-0.1V35.6z M25.2,33H23v-1.5l2.2,0V33z
		   M28.9,38.1h-2.1v-1.5h2.1V38.1z M28.9,35.6h-2.1v-1.5l2.1-0.1V35.6z M28.9,33h-2.1v-1.5l2.1,0V33z"/>
	  <path d="M16.3,28.3v-0.6c-1.6,0.9-3.4,1.4-5.2,1.4c-1.1,0-2.2-0.2-3.2-0.6v0.8C7.7,30.2,8,31,8.5,31.7
		  c0.8,0.5,1.7,0.7,2.6,0.6c1.4,0.1,2.7-0.3,3.9-1C15.9,30.6,16.4,29.5,16.3,28.3z"/>
	  <path d="M40.6,28.4c-1,0.3-2,0.4-3.1,0.4c-1.9,0-3.7-0.4-5.3-1.3v0.8c-0.1,1.1,0.4,2.2,1.3,2.8c1.2,0.7,2.5,1,3.9,0.9
		  c0.9,0.1,1.8-0.1,2.6-0.6c0.5-0.6,0.8-1.4,0.7-2.2V28.4z"/>
	  <path d="M55.8,18.9H51c-2.9,4.8-4.4,10.2-4.4,15.8c0.1,5.6,1.6,11.1,4.4,15.9h4.8c-2.2-5-3.4-10.4-3.4-15.9
		  C52.5,29.3,53.6,23.9,55.8,18.9z"/>
	  <path d="M67.7,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8H59.3l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C75.7,32.5,72.4,29.5,67.7,29.5z"/>
	  <path d="M87.7,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8H79.3l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-3.9-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C95.7,32.5,92.5,29.5,87.7,29.5z"/>
	  <path d="M107.7,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8H99.4l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C115.7,32.5,112.5,29.5,107.7,29.5z"/>
	  <path d="M116,18.9c2.2,5,3.4,10.4,3.4,15.8c0,5.5-1.2,10.9-3.4,15.9h4.9c2.8-4.8,4.4-10.3,4.4-15.9
		  c0-5.6-1.6-11-4.5-15.8H116z"/>
	  <path d="M143.4,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C151.4,32.5,148.2,29.5,143.4,29.5z"/>
	  <path d="M163.5,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.6,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C171.4,32.5,168.2,29.5,163.5,29.5z"/>
	  <path d="M183.5,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3l-2.8,13.6h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.6,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C191.5,32.5,188.2,29.5,183.5,29.5z"/>
	  <rect x="192.3" y="34.6" width="9.5" height="4.8"/>
	  <path d="M214.2,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3L203,35.3h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C222.1,32.5,218.9,29.5,214.2,29.5z"/>
	  <path d="M234.2,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3L223,35.3h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C242.1,32.5,238.9,29.5,234.2,29.5z"/>
	  <path d="M254.2,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3L243,35.3h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.5,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C262.1,32.5,258.9,29.5,254.2,29.5z"/>
	  <path d="M274.2,29.5c-1.9-0.1-3.7,0.6-5.2,1.7v-0.1l0.9-4.6h11.2v-4.8h-15.3L263,35.3h5.6c0.9-1.1,2.2-1.8,3.7-1.8
		  c2.6,0,3.9,1.4,3.9,4.1c0,2.6-1.6,4-3.8,4c-2.5,0-4-1.5-4.1-3.2h-5.9c0.2,4.7,3.7,8,10.4,8c5.3,0,9.4-2.9,9.4-8.7
		  C282.2,32.5,278.9,29.5,274.2,29.5z"/>
  </g>
</svg>
