{% assign fill_colour = fill_colour | default: 'cream' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 40 25"
  style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'
>
  <polygon points="35.31 25 20 9.5 4.69 25 0 20.25 20 0 40 20.25 35.31 25"/>
</svg>
