{% comment %}

  Use snippet like so...

  {%
    render 'svg--product-availability-badge',
    is_available: true,
    price: 1000
  %}

{% endcomment %}

{% assign block_name = 'product' %}
{% assign fill_colour = '--theme-colour-yellow' %}

{% unless is_available %}
  {% assign fill_colour = '--theme-colour-red' %}
{% endunless %}

<div class='{{ block_name }}__badge {% if is_available %}available{% else %}not-available{% endif %}'>
  <div class='{{ block_name }}__badge-icon'>
    <svg data-name="Artwork" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.06 76.5">
      <polygon class="fill-circle" style="fill: rgba(var({{ fill_colour }}), 1);" points="75.53 38.25 72.65 42.4 74.47 47.11 70.68 50.44 71.3 55.45 66.82 57.78 66.23 62.79 61.32 63.98 59.55 68.71 54.5 68.69 51.66 72.86 46.76 71.63 42.99 74.99 38.53 72.63 34.07 74.99 30.3 71.63 25.4 72.86 22.55 68.69 17.5 68.71 15.73 63.98 10.83 62.79 10.24 57.78 5.75 55.45 6.38 50.44 2.59 47.11 4.4 42.4 1.52 38.25 4.4 34.11 2.59 29.39 6.38 26.06 5.75 21.05 10.24 18.73 10.83 13.71 15.74 12.52 17.5 7.79 22.55 7.81 25.4 3.64 30.3 4.87 34.07 1.51 38.53 3.88 42.99 1.51 46.76 4.87 51.66 3.64 54.51 7.81 59.55 7.79 61.32 12.52 66.23 13.71 66.82 18.73 71.3 21.05 70.68 26.06 74.47 29.39 72.65 34.11 75.53 38.25"/>
      <path class="fill-stroke" style="fill: rgba(var(--theme-colour-black), 1);" d="M43.17,76.5,38.53,74,33.89,76.5,30,73l-5.1,1.28-3-4.34H16.64L14.8,65,9.69,63.8l-.62-5.22L4.41,56.16,5.06,51,1.11,47.47,3,42.57,0,38.25l3-4.31L1.11,29l3.95-3.47-.65-5.22,4.66-2.42.62-5.22,5.11-1.24,1.84-4.92,5.25,0,3-4.34L30,3.5,33.89,0l4.64,2.46L43.17,0,47.1,3.5l5.1-1.28,3,4.34,5.26,0,1.84,4.92,5.11,1.24L68,17.92l4.67,2.42L72,25.56,76,29l-1.89,4.91,3,4.31-3,4.32L76,47.47,72,51l.65,5.21L68,58.58l-.61,5.22L62.26,65,60.42,70H55.16l-3,4.34L47.1,73ZM30.64,70.26l3.61,3.22,4.28-2.27,4.28,2.27,3.61-3.22,4.69,1.18,2.74-4,4.84,0,1.69-4.54,4.71-1.14L65.66,57,70,54.75l-.6-4.81L73,46.75l-1.74-4.52,2.76-4-2.76-4L73,29.76l-3.64-3.2.6-4.8-4.29-2.23-.57-4.81-4.71-1.14L58.69,9.05H53.85l-2.74-4L46.42,6.24,42.81,3,38.53,5.29,34.25,3,30.64,6.24l-4.7-1.17-2.73,4H18.37l-1.7,4.53L12,14.72l-.57,4.81L7.1,21.76l.6,4.8-3.63,3.2,1.74,4.52L3,38.25l2.77,4L4.07,46.75,7.7,49.94l-.6,4.8L11.4,57,12,61.78l4.7,1.14,1.7,4.54,4.84,0,2.73,4Z"/>
    </svg>
  </div>
  <div class='{{ block_name }}__badge-text uppercase'>
    {% if is_available %}
      <div class='{{ block_name }}__badge-price-symbol'>$</div>
      <div class='{{ block_name }}__badge-price uppercase'>{{ price | divided_by: 100 }}</div>
    {% else %}
      Sold<br>Out!
    {% endif %}
  </div>
</div>

