{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    {% comment %} viewBox="0 0 159.47 39.69" {% endcomment %}
    viewBox="0 0 160 40"
    style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  >
    <path d="M41,18.89c3,0,4.79-1.67,4.79-4.1,0-1.5-.68-2.28-2.17-3.1-1-.59-1.83-.81-1.83-1.44a1,1,0,0,1,1.1-.94,3.45,3.45,0,0,1,2.09,1l1.33-2.28A5.39,5.39,0,0,0,42.8,6.74a3.85,3.85,0,0,0-4.14,3.9c0,1.45.86,2.16,2.38,3,1,.53,1.61.79,1.61,1.47s-.47,1-1.27,1a3.75,3.75,0,0,1-2.75-1.49L37,16.93A5.11,5.11,0,0,0,41,18.89Z"/><polygon points="49.01 18.59 49.76 13.87 53.78 13.87 53.04 18.59 56.16 18.59 57.99 7.03 54.87 7.03 54.17 11.49 50.13 11.49 50.84 7.03 47.73 7.03 45.91 18.59 49.01 18.59"/><path d="M59.79,18.59l1.1-2.18h4l.47,2.18h5.88l.8-5.09,3.24,5.09h10L85.76,16H82.18l.31-1.92h3.33l.39-2.51H82.89l.29-1.89h3.58L87.18,7H76.74l-4.4,4.83L73.12,7H70L68.35,17.68,66.08,7H62.21L56.42,18.59ZM80.47,7.3,78.74,18.24,75,12.74ZM63.28,11.18c.08-.17.26-.63.52-1.35A10,10,0,0,0,64,11.14l.54,2.7H62.05Z"/><polygon points="89.54 9.71 88.14 18.59 91.24 18.59 92.65 9.71 95.12 9.71 95.56 7.03 87.39 7.03 86.95 9.71 89.54 9.71"/><path d="M96.53,17.54a6,6,0,0,0,4.06,1.36,6.52,6.52,0,0,0,5.13-2.26,6.71,6.71,0,0,0,1.6-4.47c0-3.17-2.31-5.4-5.82-5.4A6.64,6.64,0,0,0,96.35,9a6.7,6.7,0,0,0-1.58,4.46A5.35,5.35,0,0,0,96.53,17.54ZM101.3,9.6a2.72,2.72,0,0,1,2.8,2.85,3.46,3.46,0,0,1-3.33,3.62A2.69,2.69,0,0,1,98,13.14,3.38,3.38,0,0,1,101.3,9.6Z"/><path d="M116.85,7,116,12.71a11.7,11.7,0,0,0-.14,1.63v.29a10.81,10.81,0,0,0-.67-1.89L112.71,7h-3.53l-1.82,11.56h3.09l.87-5.85a13.29,13.29,0,0,0,.13-1.6v-.33a10.06,10.06,0,0,0,.68,1.9l2.59,5.88h3.39L119.94,7Z"/><polygon points="124.64 7.03 121.48 7.03 119.65 18.59 122.81 18.59 124.64 7.03"/><path d="M126.48,18.59l1.1-2.18h4l.47,2.18h3.14L132.77,7h-3.86l-5.79,11.56ZM130,11.18c.09-.17.26-.63.52-1.35a10,10,0,0,0,.16,1.31l.54,2.7h-2.45Z"/><polygon points="43.27 25.6 39.22 25.6 39.94 21.14 36.83 21.14 35 32.7 38.11 32.7 38.85 27.98 42.88 27.98 42.13 32.7 45.26 32.7 47.09 21.14 43.96 21.14 43.27 25.6"/><path d="M53.87,20.88a6.64,6.64,0,0,0-5.15,2.25,6.7,6.7,0,0,0-1.58,4.46,5.35,5.35,0,0,0,1.76,4.06A6,6,0,0,0,53,33a6.53,6.53,0,0,0,5.13-2.26,6.71,6.71,0,0,0,1.6-4.47C59.69,23.11,57.38,20.88,53.87,20.88Zm-.73,9.3a2.69,2.69,0,0,1-2.8-2.93,3.37,3.37,0,0,1,3.33-3.54,2.72,2.72,0,0,1,2.8,2.85A3.46,3.46,0,0,1,53.14,30.18Z"/><polygon points="63.27 29.94 64.66 21.14 61.55 21.14 59.72 32.7 66.65 32.7 67.08 29.94 63.27 29.94"/><path d="M75.55,21.69c-1-.52-2.59-.55-4.73-.55h-2L67,32.7h2.67c2.57,0,4.5,0,6-1.11a5.73,5.73,0,0,0,2.44-5A5.06,5.06,0,0,0,75.55,21.69Zm-4.26,8.47-.76,0,1-6.44h.58c2,0,3,.79,3,2.8C75.08,28.89,73.78,30.16,71.29,30.16Z"/><polygon points="80.16 21.14 78.33 32.7 81.48 32.7 83.31 21.14 80.16 21.14"/><path d="M91.64,26.81a12,12,0,0,0-.14,1.64v.29a11.51,11.51,0,0,0-.66-1.89l-2.45-5.71H84.87L83,32.7h3.09L87,26.85a11.52,11.52,0,0,0,.13-1.6v-.33a10.38,10.38,0,0,0,.68,1.89L90.4,32.7h3.4l1.82-11.56H92.53Z"/><path d="M101.93,26.41l-.37,2.36h2.64a2.16,2.16,0,0,1-.89,1.15,3,3,0,0,1-1.62.42A2.67,2.67,0,0,1,99,27.41a3.43,3.43,0,0,1,3.35-3.7,2.8,2.8,0,0,1,2.59,1.55l2.45-1.68a5.59,5.59,0,0,0-5-2.7,6.59,6.59,0,0,0-4.73,1.82,6.82,6.82,0,0,0-1.92,4.81c0,3.32,2.28,5.5,6,5.5s6-2.43,6.11-6.6Z"/><path d="M112.82,23.42a3.45,3.45,0,0,1,2.09,1l1.33-2.28a5.38,5.38,0,0,0-3.53-1.35,3.86,3.86,0,0,0-4.14,3.9c0,1.46.86,2.17,2.38,3,1,.54,1.62.8,1.62,1.48s-.47,1-1.28,1a3.75,3.75,0,0,1-2.75-1.49L106.94,31a5.07,5.07,0,0,0,4,2c3,0,4.79-1.66,4.79-4.09,0-1.5-.68-2.28-2.17-3.1-1-.59-1.83-.81-1.83-1.44A1,1,0,0,1,112.82,23.42Z"/><polygon points="123.34 29.94 124.73 21.14 121.63 21.14 119.8 32.7 126.72 32.7 127.16 29.94 123.34 29.94"/><polygon points="132.04 21.14 128.94 21.14 127.11 32.7 134.03 32.7 134.47 29.94 130.65 29.94 132.04 21.14"/><path d="M137.63,27.27a3.31,3.31,0,0,1,3.3-3.56A4.69,4.69,0,0,1,144,24.87l.52-3.18a7.46,7.46,0,0,0-3.46-.83A6.33,6.33,0,0,0,136,23a6.87,6.87,0,0,0-1.51,4.36c0,3.35,2.12,5.59,5.45,5.59a9.55,9.55,0,0,0,2.85-.38l.49-3a6.75,6.75,0,0,1-2.64.6A2.69,2.69,0,0,1,137.63,27.27Z"/><path d="M145.25,29.81a1.59,1.59,0,0,0-1.59,1.58,1.61,1.61,0,0,0,1.6,1.6,1.59,1.59,0,1,0,0-3.18Z"/><polygon points="12.62 18.9 33.3 18.9 35.22 6.68 12.62 18.9"/><polygon points="16.46 20.89 14.6 32.7 14.59 32.72 31.25 32.72 31.25 32.71 31.23 32.7 33.08 20.89 16.46 20.89"/>
  </svg>
{% if url %}</a>{% endif %}
