{% assign stroke_colour = stroke_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 70 69"
  style='fill: rgba( var(--theme-colour-{{ stroke_colour }}), 1);'
>
  <path d="M10.37,17.75a1,1,0,0,0-1.31-.47,11.18,11.18,0,0,0-6.51,9.18,1,1,0,0,0,.94,1h0a1,1,0,0,0,1-.93A9.2,9.2,0,0,1,9.9,19.06,1,1,0,0,0,10.37,17.75Z"/>
  <path d="M5.06,18.8a1,1,0,0,0-1.13-1.6A9.47,9.47,0,0,0,0,23.06a1,1,0,0,0,.7,1.2,1.07,1.07,0,0,0,.25,0,1,1,0,0,0,1-.73A7.5,7.5,0,0,1,5.06,18.8Z"/>
  <path d="M68.51,54.83a1,1,0,1,0-1.83-.69,9.32,9.32,0,0,1-7.46,5.42,1,1,0,0,0,.12,1.95h.12A11.18,11.18,0,0,0,68.51,54.83Z"/>
  <path d="M69.56,57.49a1,1,0,0,0-1.36.29,7.49,7.49,0,0,1-4.47,3.54,1,1,0,0,0-.65,1.23,1,1,0,0,0,.94.69,1,1,0,0,0,.29-.05,9.45,9.45,0,0,0,5.53-4.34A1,1,0,0,0,69.56,57.49Z"/>
  <path d="M49,25.53a1.22,1.22,0,0,0,.83,2.29,7.45,7.45,0,0,1,1-.29c.33,0,.91,0,.84.92-.75,7.58-5.14,16.9-12.55,16.9s-11.84-9.43-12.55-17c0-.27.09-1,.86-.78a6.06,6.06,0,0,1,1,.28,1.22,1.22,0,0,0,.82-2.29,7.28,7.28,0,0,0-8.64,2.31,1.22,1.22,0,0,0,.32,1.68,1.24,1.24,0,0,0,.69.21,1.22,1.22,0,0,0,1-.52,4.18,4.18,0,0,1,.81-.8c.25-.16.63-.22.75.66a.3.3,0,0,0,0,.1c1,8.59,6.11,18.61,14.92,18.61S53,37.88,54,29.32h0s.16-1.63,1.24-.52c.2.21.32.37.35.4a1.21,1.21,0,0,0,1,.53,1.23,1.23,0,0,0,.68-.21,1.21,1.21,0,0,0,.32-1.69A7.28,7.28,0,0,0,49,25.53Z"/>
  <path d="M35.42,31.58c1.57,0,2.85-2.55,2.85-5.69s-1.28-5.7-2.85-5.7-2.85,2.55-2.85,5.7S33.85,31.58,35.42,31.58Z"/>
  <path d="M42.77,31.58c1.57,0,2.85-2.55,2.85-5.69s-1.28-5.7-2.85-5.7-2.85,2.55-2.85,5.7S41.19,31.58,42.77,31.58Z"/>
  <path d="M69.38,24,60.2,16.58a1.5,1.5,0,0,0,.08-.47V4.65a1.47,1.47,0,0,0-1.47-1.47H53.09a1.47,1.47,0,0,0-1.47,1.47v5L40.32.62l-.1-.07A2,2,0,0,0,38,.55l-.11.07L8.87,24a1.48,1.48,0,0,0,1.64,2.44l3.38-1.86,2.74,30.2a1.47,1.47,0,0,0,1.47,1.34h42a1.48,1.48,0,0,0,1.47-1.34L64.3,24.52l3.45,1.88A1.48,1.48,0,0,0,69.38,24ZM54.57,6.12h2.77v8.17l-2.77-2.23Zm7,15.9L58.75,53.13H19.44L16.62,22a1.6,1.6,0,0,0-.11-.43L39.09,3.41l22.6,18.15A1.83,1.83,0,0,0,61.57,22Z"/>
</svg>
