{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version='1.0' encoding='utf-8'?>
<svg
  xmlns='http://www.w3.org/2000/svg'
  viewBox='0 0 32 29'
  style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'
>
  <path d='M15.14,25.31l7.41-8H0V11.69H22.55l-7.41-8L18.71,0,32,14.5,18.71,29Z'/>
</svg>
