{% assign fill = fill | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 131.44 131.43"
  style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  >
  <path d="M65.72,0a65.72,65.72,0,1,0,65.72,65.72A65.79,65.79,0,0,0,65.72,0Zm0,126.68a61,61,0,1,1,61-61A61,61,0,0,1,65.72,126.68Z"/>
    <path d="M19.31,81.18l1.61,3.24c1.54-.5,2.89-.36,3.75,1.37,1.06,2.14-.24,3.69-2.67,4.89s-4.43,1.3-5.49-.85c-.85-1.71-.14-2.86,1.15-3.79L16.05,82.8c-2.84,1.78-4,4.69-2.26,8.2,2,4.07,5.95,4.84,9.82,2.92s5.65-5.52,3.63-9.59C25.49,80.81,22.48,80,19.31,81.18Z"/>
      <rect x="9.81" y="76.22" width="14.37" height="3.62" transform="translate(-18.69 6.59) rotate(-14.25)"/>
      <polygon points="11.43 70.81 22.82 70.11 22.61 66.5 11.21 67.2 10.95 63.04 8.01 63.22 8.73 75.16 11.68 74.98 11.43 70.81"/>
      <polygon points="23.05 59.52 23.73 55.97 18.51 54.98 10.51 48.52 9.79 52.28 15.08 56.15 15.07 56.19 8.74 57.83 8.03 61.58 17.84 58.53 23.05 59.52"/>
      <path d="M27,32.82c-3.65-2.31-7.72-1.82-10.14,2s-1.12,7.71,2.53,10,7.72,1.87,10.16-2S30.71,35.14,27,32.82Zm.05,8.45c-1.41,2.22-3.6,1.86-5.72.51s-3.38-3.16-2-5.38,3.6-1.86,5.71-.53S28.49,39.06,27.09,41.27Z"/>
      <polygon points="36.37 34.15 32.9 30.14 37.25 26.36 35.32 24.13 30.96 27.91 28.89 25.52 34.24 20.89 32.3 18.65 24.22 25.66 33.64 36.52 36.37 34.15"/>
      <path d="M46.82,20.54c2.11-.18,3.65-.5,4.07.57.26.67-.22,1.43-1.48,1.92-1.5.58-2.94.54-3.49-.88l-3.38,1.32c1.17,3,4.47,3.67,8,2.31s4.65-3.74,3.64-6.31c-1.12-2.86-4-2.67-6.84-2.37-1.87.19-2.82.26-3.14-.57s.37-1.37,1.38-1.77c1.29-.5,2.39-.24,2.93.71l3.38-1.32c-1.16-2.67-4.26-3.36-7.38-2.14-2.89,1.13-4.73,3.17-3.58,6.09C41.84,20.57,44.25,20.77,46.82,20.54Z"/>
      <polygon points="60.13 22.94 59.71 17.17 64.62 16.81 65.04 22.59 68.65 22.32 67.61 7.99 64 8.25 64.41 13.86 59.5 14.22 59.09 8.61 55.48 8.87 56.52 23.2 60.13 22.94"/>
      <path d="M74,20.35l4.79,1.15.2,3.13,3.52.84L80.81,10.29l-3.52-.85L68.88,22.21l3.52.84Zm4.27-7.26h0l.34,5.55-3.2-.77Z"/>
      <polygon points="88.07 24.48 90.16 23.82 90.53 30.43 94.07 32.59 93.89 32.74 101.32 40.89 103.5 38.9 98.52 33.43 100.7 31.44 104.93 36.08 107.11 34.08 102.89 29.45 104.78 27.73 109.68 33.11 111.86 31.12 104.52 23.06 94.13 32.53 93.49 22.81 101.45 20.26 97.85 18.06 90.54 20.43 93.58 15.45 90.49 13.57 83 25.83 86.09 27.72 88.07 24.48"/>
      <polygon points="112.63 38.03 102.61 43.5 104.34 46.68 114.36 41.21 116.36 44.86 118.95 43.44 113.22 32.94 110.63 34.36 112.63 38.03"/>
      <path d="M112.8,46.86c-4.21,1-6.69,4.27-5.6,8.71s4.78,6.15,9,5.12,6.66-4.31,5.58-8.7S117,45.83,112.8,46.86Zm6.11,5.83c.63,2.54-1.15,3.89-3.57,4.48s-4.65.23-5.27-2.31,1.16-3.88,3.6-4.48S118.29,50.13,118.91,52.69Z"/>
      <polygon points="123.41 65.5 123.77 61.9 109.11 64.12 108.75 67.72 117.46 70.75 117.45 70.79 108.32 72.04 107.97 75.64 121.91 80.7 122.26 77.1 112.74 74.3 112.75 74.26 122.67 73 123 69.6 113.52 66.42 113.53 66.38 123.41 65.5"/>
      <polygon points="105.55 82.15 113.25 85.86 113.23 85.89 103.35 86.71 101.78 89.97 114.73 96.21 116.31 92.95 108.61 89.24 108.62 89.21 118.5 88.39 120.08 85.13 107.12 78.89 105.55 82.15"/>
      <polygon points="49.73 107.81 47.48 113.14 47.46 113.13 46.57 106.48 44.31 105.52 40.52 114.49 42.78 115.45 45.03 110.11 45.06 110.13 45.94 116.78 48.2 117.73 51.99 108.77 49.73 107.81"/>
      <path d="M52.78,116.63a1.12,1.12,0,0,0-1.41.83,1.16,1.16,0,0,0,2.24.58A1.12,1.12,0,0,0,52.78,116.63Z"/>
      <polygon points="61.72 110.57 58.99 117.09 58.97 117.09 58.03 110.08 55.45 109.74 57.32 119.81 59.88 120.15 64.29 110.9 61.72 110.57"/>
      <path d="M65.07,118.25a1.13,1.13,0,0,0-1.18,1.15,1.16,1.16,0,0,0,2.32,0A1.12,1.12,0,0,0,65.07,118.25Z"/>
      <path d="M74.73,114.5v0A2.06,2.06,0,0,0,76,112.21c-.23-1.64-1.39-2.28-3.4-2l-4.68.64,1.31,9.64,4.82-.65c2-.27,3.19-1.24,2.92-3.3A2.14,2.14,0,0,0,74.73,114.5Zm-4.16-2,1.67-.23c.68-.09,1.24,0,1.35.8s-.41,1-1.09,1.12l-1.67.23Zm2.51,5.44-1.74.24L71,115.89l1.74-.24c1-.13,1.56,0,1.68.93S74.09,117.8,73.08,117.93Z"/>
      <path d="M80.2,116.22a1.16,1.16,0,1,0,1.43.79A1.11,1.11,0,0,0,80.2,116.22Z"/>
      <path d="M88.39,111.53a1.84,1.84,0,0,1-1,2.5c-1.48.66-2.49-.26-3.24-1.94s-.75-3,.73-3.69a1.85,1.85,0,0,1,2.54.88l2.24-1a4,4,0,0,0-5.5-1.76c-2.81,1.26-3.44,3.89-2.24,6.57s3.57,4,6.38,2.72a4,4,0,0,0,2.36-5.28Z"/>
      <path d="M93.76,110.13a1.11,1.11,0,0,0-.36,1.6,1.1,1.1,0,0,0,1.59.36,1.16,1.16,0,0,0-1.23-2Z"/>
      <polygon points="50.77 42.87 50.77 39.53 51.98 39.53 51.98 38.67 48.49 38.67 48.49 39.53 49.71 39.53 49.71 42.87 50.77 42.87"/>
      <path d="M56.18,40.76A2.08,2.08,0,1,0,54.1,43,2,2,0,0,0,56.18,40.76ZM54.1,42.1c-.77,0-1-.6-1-1.34s.25-1.32,1-1.32,1,.6,1,1.32S54.86,42.1,54.1,42.1Z"/>
      <polygon points="56.58 38.67 56.58 42.87 59.5 42.87 59.5 42 57.63 42 57.63 38.67 56.58 38.67"/>
      <polygon points="59.89 38.67 59.89 42.87 62.81 42.87 62.81 42 60.95 42 60.95 38.67 59.89 38.67"/>
      <path d="M64.29,42h1.44l.27.87h1.06l-1.52-4.19H64.49L63,42.86h1ZM65,39.64h0l.48,1.55h-1Z"/>
      <polygon points="68.34 40.25 68.36 40.25 69.14 42.87 69.88 42.87 70.66 40.25 70.67 40.25 70.67 42.87 71.67 42.87 71.67 38.67 70.38 38.67 69.51 41.34 69.5 41.34 68.64 38.67 67.35 38.67 67.35 42.87 68.34 42.87 68.34 40.25"/>
      <path d="M75.2,42.73l.48.48.57-.57-.43-.43a2.42,2.42,0,0,0,.43-1.45A2.08,2.08,0,1,0,74.17,43,2.21,2.21,0,0,0,75.2,42.73Zm-2-2c0-.72.26-1.32,1-1.32s1,.6,1,1.32a2.2,2.2,0,0,1-.11.71L74.57,41l-.57.57.52.51a1,1,0,0,1-.35.06C73.41,42.1,73.15,41.5,73.15,40.76Z"/>
      <path d="M76.62,38.67v2.68c0,1,.49,1.61,1.76,1.61s1.75-.56,1.75-1.61V38.67h-1v2.68c0,.55-.24.75-.7.75s-.7-.2-.7-.75V38.67Z"/>
      <polygon points="83.89 42 81.73 42 81.73 41.14 83.56 41.14 83.56 40.28 81.73 40.28 81.73 39.53 83.86 39.53 83.86 38.67 80.67 38.67 80.67 42.87 83.89 42.87 83.89 42"/>
      <polygon points="37 49.9 37 45.7 35.71 45.7 34.85 48.38 34.84 48.38 33.97 45.7 32.68 45.7 32.68 49.9 33.68 49.9 33.68 47.29 33.69 47.29 34.47 49.9 35.21 49.9 35.99 47.29 36 47.29 36 49.9 37 49.9"/>
      <path d="M38.28,49.9l.27-.87H40l.27.87h1.06L39.8,45.71H38.74L37.22,49.9Zm1-3.23h0l.48,1.55h-1Z"/>
      <polygon points="42.66 45.7 41.6 45.7 41.6 49.9 42.66 49.9 42.66 47.41 42.67 47.41 44.13 49.9 45.19 49.9 45.19 45.7 44.13 45.7 44.13 48.2 44.12 48.2 42.66 45.7"/>
      <path d="M45.73,45.71v2.68c0,1,.49,1.61,1.76,1.61s1.75-.57,1.75-1.61V45.71H48.19v2.68c0,.54-.24.74-.7.74s-.7-.2-.7-.74V45.71Z"/>
      <polygon points="50.78 47.29 50.79 47.29 51.57 49.9 52.31 49.9 53.09 47.29 53.11 47.29 53.11 49.9 54.1 49.9 54.1 45.7 52.81 45.7 51.95 48.38 51.94 48.38 51.08 45.7 49.78 45.7 49.78 49.9 50.78 49.9 50.78 47.29"/>
      <polygon points="59.99 49.9 59.99 45.7 58.7 45.7 57.84 48.38 57.83 48.38 56.96 45.7 55.67 45.7 55.67 49.9 56.67 49.9 56.67 47.29 56.68 47.29 57.46 49.9 58.2 49.9 58.98 47.29 58.99 47.29 58.99 49.9 59.99 49.9"/>
      <polygon points="63.78 49.04 61.62 49.04 61.62 48.17 63.45 48.17 63.45 47.31 61.62 47.31 61.62 46.57 63.74 46.57 63.74 45.7 60.56 45.7 60.56 49.9 63.78 49.9 63.78 49.04"/>
      <path d="M66.56,45.71H65.5L64,49.9H65l.27-.87h1.43l.27.87h1.06Zm-1,2.51L66,46.67h0l.48,1.55Z"/>
      <polygon points="69.36 47.29 69.37 47.29 70.15 49.9 70.89 49.9 71.67 47.29 71.68 47.29 71.68 49.9 72.68 49.9 72.68 45.7 71.39 45.7 70.53 48.38 70.51 48.38 69.65 45.7 68.36 45.7 68.36 49.9 69.36 49.9 69.36 47.29"/>
      <path d="M76.53,45.7H75.47L74,49.9H75l.27-.87h1.44l.27.87H78Zm-1,2.52L76,46.67h0l.47,1.55Z"/>
      <path d="M81.89,47.67H80v.76h.8a.75.75,0,0,1-.84.7c-.74,0-1-.54-1-1.33s.26-1.33,1-1.33a.79.79,0,0,1,.85.63h1a1.71,1.71,0,0,0-1.88-1.49,2,2,0,0,0-2,2.19A2,2,0,0,0,79.81,50,1.27,1.27,0,0,0,81,49.37h0l.1.53h.76Z"/>
      <rect x="82.4" y="45.7" width="1.06" height="4.2"/>
      <polygon points="87.24 45.7 83.75 45.7 83.75 46.57 84.97 46.57 84.97 49.9 86.03 49.9 86.03 46.57 87.24 46.57 87.24 45.7"/>
      <path d="M88.13,49h1.44l.27.87H90.9l-1.52-4.2h-1l-1.52,4.2h1Zm.72-2.36h0l.47,1.55h-1Z"/>
      <path d="M94.55,46.76c0-.72-.45-1.06-1.33-1.06h-2v4.2h2.09c.87,0,1.44-.35,1.44-1.24a.92.92,0,0,0-.82-1v0A.87.87,0,0,0,94.55,46.76Zm-2.31-.19H93c.29,0,.53.07.53.41s-.24.42-.53.42h-.73ZM93,49h-.76v-1H93c.44,0,.66.1.66.49S93.44,49,93,49Z"/>
      <rect x="95.13" y="45.7" width="1.06" height="4.2"/>
      <polygon points="98.76 49.9 98.76 46.57 99.97 46.57 99.97 45.7 96.48 45.7 96.48 46.57 97.7 46.57 97.7 49.9 98.76 49.9"/>
      <polygon points="50.55 56.94 50.55 52.74 49.26 52.74 48.4 55.42 48.39 55.42 47.52 52.74 46.23 52.74 46.23 56.94 47.23 56.94 47.23 54.33 47.24 54.33 48.02 56.94 48.76 56.94 49.54 54.33 49.56 54.33 49.56 56.94 50.55 56.94"/>
      <path d="M52.1,56.06h1.44l.27.88h1l-1.51-4.2H52.29l-1.52,4.2h1.06Zm.71-2.35h0l.47,1.55h-1Z"/>
      <polygon points="56.21 54.44 56.22 54.44 57.69 56.94 58.74 56.94 58.74 52.74 57.69 52.74 57.69 55.23 57.68 55.23 56.21 52.74 55.15 52.74 55.15 56.94 56.21 56.94 56.21 54.44"/>
      <path d="M61,57c1.27,0,1.76-.56,1.76-1.61V52.74H61.74v2.68c0,.55-.24.75-.7.75s-.7-.2-.7-.75V52.74H59.29v2.68C59.29,56.47,59.77,57,61,57Z"/>
      <polygon points="67.66 56.94 67.66 52.74 66.37 52.74 65.5 55.42 65.49 55.42 64.63 52.74 63.34 52.74 63.34 56.94 64.33 56.94 64.33 54.33 64.35 54.33 65.13 56.94 65.87 56.94 66.65 54.33 66.66 54.33 66.66 56.94 67.66 56.94"/>
      <polygon points="73.54 56.94 73.54 52.74 72.25 52.74 71.39 55.42 71.38 55.42 70.52 52.74 69.22 52.74 69.22 56.94 70.22 56.94 70.22 54.33 70.23 54.33 71.01 56.94 71.75 56.94 72.53 54.33 72.55 54.33 72.55 56.94 73.54 56.94"/>
      <polygon points="77.3 53.6 77.3 52.74 74.11 52.74 74.11 56.94 77.33 56.94 77.33 56.07 75.17 56.07 75.17 55.21 77 55.21 77 54.35 75.17 54.35 75.17 53.6 77.3 53.6"/>
      <path d="M78.86,56.06H80.3l.27.88h1.05l-1.51-4.2H79.05l-1.52,4.2h1.06Zm.71-2.35h0l.47,1.55h-1Z"/>
      <polygon points="86.23 56.94 86.23 52.74 84.94 52.74 84.08 55.42 84.07 55.42 83.2 52.74 81.91 52.74 81.91 56.94 82.91 56.94 82.91 54.33 82.92 54.33 83.7 56.94 84.44 56.94 85.22 54.33 85.23 54.33 85.23 56.94 86.23 56.94"/>
      <path d="M102.5,68.22c-.86-2.2-1.93-3.53-3.27-4-2-.78-4.29.34-6.72,1.53a17.47,17.47,0,0,1-5.58,2,4.13,4.13,0,0,1-2.6-.35c-.77-.47-1.53-1-2.33-1.37a20.43,20.43,0,0,0-3.3-1.58c-1.9-.56-3.67-1.67-5.56-2.35-2.59-.92-5.29-.21-9,2.36a.74.74,0,0,1-.43.12c-5.23-.3-6.87.47-8.33,1.16-2.1,1-3.8,1.75-16.64-1.84a3,3,0,0,0-.89-.12C31,64.42,30,74.16,30.07,78.84a1.13,1.13,0,0,0,.34.92c1.47,1.68,4.6,2.66,7.16,3.46,1,.3,1.86.58,2.56.87a.33.33,0,0,1,.22.24.41.41,0,0,1-.09.36,4.09,4.09,0,0,0-.49,4.66,3.6,3.6,0,0,0,3.86,1.59c.27-.07.16.38.21.64a2.92,2.92,0,0,0,2.51,2.61,5.38,5.38,0,0,0,4-.89.37.37,0,0,1,.38,0,.36.36,0,0,1,.19.33A4.43,4.43,0,0,0,52.7,97a4,4,0,0,0,3.5.94.4.4,0,0,1,.38.08,4.92,4.92,0,0,0,4,1.17,3.3,3.3,0,0,1,2.25.46l.65.35a2.79,2.79,0,0,0,1.2.32c.72,0,1.52-.41,2.44-1.69a.38.38,0,0,1,.21-.14c.2,0,.36.17.55.26a4.59,4.59,0,0,0,3.08.65,3.23,3.23,0,0,0,2.61-2.05.31.31,0,0,1,.2-.2.37.37,0,0,1,.34,0A3.66,3.66,0,0,0,78,97a4.53,4.53,0,0,0,2.11-3.36.39.39,0,0,1,.15-.27c.15-.08.45,0,.8.12a3.73,3.73,0,0,0,4.29-1,3.32,3.32,0,0,0,.5-4.54.37.37,0,0,1,0-.48c2.71-2.6,6.2-3.74,9.28-4.74,3.48-1.14,6.49-2.12,7.85-4.8C104.1,75.74,104,72.65,102.5,68.22ZM43.12,87.6a5,5,0,0,0-.74-.51.15.15,0,0,0-.18,0,.14.14,0,0,0,0,.19l.31.37a3.48,3.48,0,0,0,1.78,1.4c.27,0-.44.33-.67.34h0c-.62,0-1.24-.74-1.75-1.33l-.44-.5a.17.17,0,0,0-.19,0,.15.15,0,0,0,0,.19c.13.31.07.17.23.53,0,.06.19.31.27.42a2.77,2.77,0,0,0,.72.76c.08.06.84.41.4.35-1.73-.31-2.54-1.07-2.43-2.26.17-1.86,2.54-4.28,4.48-5.45.13-.07.27-.11.07.15h0A2.94,2.94,0,0,0,44.13,84a1.69,1.69,0,0,0,.49,1.3,2,2,0,0,0,1.44.61,2.22,2.22,0,0,0,.51-.06,2.29,2.29,0,0,0,1.76-1.48.34.34,0,0,0,0-.28,4.5,4.5,0,0,0-.64-.71,6,6,0,0,1-.75-.87.15.15,0,0,0-.26.13,6.9,6.9,0,0,0,.38.77c.26.46.47.85.36,1.16s-.36.43-.83.6c-.79.21-1.36,0-1.64-.44a2.49,2.49,0,0,1,.64-2.67,3.08,3.08,0,0,1,.67-.55l.27-.07h.29a1.88,1.88,0,0,1,1.82,1.41,3.23,3.23,0,0,1-1.31,3.32q-.2.18-.39.39a4,4,0,0,1-.76.67,1,1,0,0,1-1.21-.06c-1.38-.92-1.52-.79-1.61-.7s-.1.13,0,.3a3.67,3.67,0,0,0,1.5,1,.36.36,0,0,1,.24.25c0,.24-.1.39-.22.44C44.49,88.65,43.66,88,43.12,87.6Zm8.16,3.66c-.94.79-1.75.15-2.66-.58a6.65,6.65,0,0,0-1.22-.84.14.14,0,0,0-.16,0,.16.16,0,0,0,0,.17,3.45,3.45,0,0,0,2.13,1.82.36.36,0,0,1,.24.33.48.48,0,0,1-.32.4,1.87,1.87,0,0,1-1.51-.43l-.38-.31C46.28,91,46.1,90.85,46,91s-.07.27.44.92a1.77,1.77,0,0,0,.57.47c.38.24.6.4.52.69a.36.36,0,0,1-.4.25,2.78,2.78,0,0,1-1.87-1.39,2.5,2.5,0,0,1-.39-1.75.75.75,0,0,1,.22-.36c1.77-1.66,3.68-3.3,5.52-4.89,1.25-1.07,2.54-2.18,3.76-3.27.82-.61,1-.3,1-.29.18.17-.24.45-.41.75a2.34,2.34,0,0,0-.26.7,1.48,1.48,0,0,0,.2,1.31,2.41,2.41,0,0,0,1.76.92.41.41,0,0,1,.31.17.35.35,0,0,1,0,.33c-.07.18-.14.34-.21.49-.35.82-.6,1.4-1,1.6s-1-.07-2.22-1a.15.15,0,0,0-.17,0,.15.15,0,0,0-.07.16c.1.5.62.82,1.07,1.1s.68.41.68.6-.07.25-.45.5a.39.39,0,0,1-.36,0,11.43,11.43,0,0,1-2.44-1.49.14.14,0,0,0-.23.13c.14,1.08,1.29,1.43,2.13,1.69l.1,0h.06c.16,0-.12.2-.21.25s-.24.17-.37.24c-.66.36-1.37-.27-2-.83a5,5,0,0,0-.75-.6.15.15,0,0,0-.16,0,.15.15,0,0,0-.07.14,1.69,1.69,0,0,0,.94,1.33,5.09,5.09,0,0,0,1.3.51c.38.07-1,.48-1.74,0a7.67,7.67,0,0,1-.77-.54,5.13,5.13,0,0,0-1.29-.81.14.14,0,0,0-.16,0,.15.15,0,0,0,0,.17C49.22,90.82,51.49,91.1,51.28,91.26Zm4.54-9.65a.59.59,0,0,1,.17-.1,1.17,1.17,0,0,1,1.17.58,2.43,2.43,0,0,1,.39,2.07.38.38,0,0,1-.3.25,1.72,1.72,0,0,1-1.83-.76A1.73,1.73,0,0,1,55.82,81.61Zm-.21,13.74A6.94,6.94,0,0,0,57,96c.27.06-.38.41-.58.45a1.46,1.46,0,0,1-1.07-.5,11.72,11.72,0,0,1-.85-.87,5.63,5.63,0,0,0-1.1-1,.13.13,0,0,0-.12,0,.12.12,0,0,0-.09.09c-.25.74.78,1.44,1.69,2.06.37.24.92.62.93.74s0,.17-.35.11a3.91,3.91,0,0,1-3.15-2.33,2.81,2.81,0,0,1,.34-3c.39-.3.82-.58,1.24-.86A10.14,10.14,0,0,0,56.23,89a10.91,10.91,0,0,0,2-3.48s0-.08.06-.16c.23-.77.37-.34.42-.11,0,0,0,.05,0,.07s.05.19.05.19.06.19.09.28c.49,1.57,1.39,1.39,2,1.38.46,0,.72,0,.71.35,0,.57-.52,3.09-1,3.3,0,0-.06,0-.16,0-.73-.42-.94-.37-1-.29a.24.24,0,0,0-.06.27,1.14,1.14,0,0,0,1.06.69c.23,0-.21.36-.35.41s-.65-.18-1-.43a2.32,2.32,0,0,0-1.19-.54h0a.15.15,0,0,0-.13.21,2.07,2.07,0,0,0,1.34,1c.55.26.67.45.66.51s-.15.14-.42.17a2.69,2.69,0,0,1-1.52-.73s0-.08-.1-.09a2.18,2.18,0,0,1-.36-.22l-.16-.11c-.08-.06-.24-.16-.36-.06s-.05.29,0,.36a2.27,2.27,0,0,0,1.17,1c.45.21,1.06.34.92.7a.71.71,0,0,1-.44.46c-.33.08-.8-.31-1.21-.66a3.86,3.86,0,0,0-.6-.46c-.59-.51-.79-.55-.91-.44s0,.39.06.49A2.65,2.65,0,0,0,57,94.11l.19.08c.27.12.69.3.76.53a.35.35,0,0,1-.06.29,1,1,0,0,1-.65.4c-.45,0-.92-.37-1.38-.77a4.14,4.14,0,0,0-1.09-.76.18.18,0,0,0-.16,0,.14.14,0,0,0,0,.15A2.17,2.17,0,0,0,55.61,95.35ZM59.67,82.8a.34.34,0,0,1,.22-.07,1.62,1.62,0,0,1,1,.39,2.87,2.87,0,0,1,.83,2.93.31.31,0,0,1-.13.17A1.32,1.32,0,0,1,59.71,86C59.06,85.23,58.81,83.45,59.67,82.8Zm2.09,14.07a1.68,1.68,0,0,1-.86-.52,1.86,1.86,0,0,0-1.07-.62.15.15,0,0,0-.11,0,.12.12,0,0,0,0,.1c0,.54.57.84,1,1.09.26.13.61.18.61.43,0,0,0,.35-.39.19a7.68,7.68,0,0,1-1.12-.77c-.27-.21-.55-.42-.86-.62a.12.12,0,0,0-.13,0,.12.12,0,0,0-.09.1c-.16.69.67,1.1,1.28,1.41.21.1.45.23.56.3h0c.38.28-2.55,0-2.77-.46-.36-.74.85-2.21,2-3.64s2.26-2.73,2.36-3.76a.24.24,0,0,1,.2-.24h.09a1.26,1.26,0,0,1,.65.28.69.69,0,0,0,.36.09c.14,0,.28,0,.31.09a7.81,7.81,0,0,1-.32,3.6,1,1,0,0,1-.58.64,1.9,1.9,0,0,1-1.46-.49.15.15,0,0,0-.16,0,.15.15,0,0,0-.07.15c.15.75,1.09,1,1.67,1.07.18,0-.07.33-.27.33a2.21,2.21,0,0,1-1-.4,2.07,2.07,0,0,0-1.17-.48.14.14,0,0,0-.11.07.15.15,0,0,0,0,.13,1.87,1.87,0,0,0,1.42,1l.2.06c.23.07.38.14.39.27S62.14,96.91,61.76,96.87Zm1-9.54A.28.28,0,0,1,63,87.2a1,1,0,0,1,.31.14,1.86,1.86,0,0,1,.65,2.06c-.08.23-.47.16-.61.12a.86.86,0,0,1-.6-.52A2.15,2.15,0,0,1,62.73,87.33Zm3,11.36h0c-.3.39-1.4.83-1.1.46s.47-.73.21-1.11A.17.17,0,0,0,64.7,98h0a.15.15,0,0,0-.12.07l-.06.1c-.45.7-.54,1.21-1.14.9a.36.36,0,0,1-.19-.23c0-.17.18-.4.36-.6a2.09,2.09,0,0,0,.25-.32c.28-.34.2-.65,0-.73s-.85.71-1,1-.17.32-.22.26a3.12,3.12,0,0,0-.3-.32c-.25-.2.8-1,1.14-1.67l.15-.31c.15-.3.46-.92.71-1a.42.42,0,0,1,.27.18,6.26,6.26,0,0,0,.75.81c.51.49,1,1,1,1.49A2,2,0,0,1,65.73,98.69Zm19.41-8c-.39.77-1.28,1.9-2,2.06a.72.72,0,0,1-.68-.21c-.09-.26.11-.44.43-.71a1.85,1.85,0,0,0,.46-.47c.56-.69.61-.77.49-.89s-.18,0-.61.32a8.83,8.83,0,0,1-1,.8,1.94,1.94,0,0,1-1.51.37.47.47,0,0,1-.29-.35.38.38,0,0,1,.21-.36,6.89,6.89,0,0,0,2.32-2.18.15.15,0,0,0,0-.2.15.15,0,0,0-.19,0c-.19.15-.4.33-.62.53-.85.74-2,1.77-3,1.42a.37.37,0,0,1-.1-.64l.64-.43a6.05,6.05,0,0,0,2.07-1.86.14.14,0,0,0,0-.17.15.15,0,0,0-.18,0,11.31,11.31,0,0,0-1,.75c-1,.84-2.09,1.7-3.19,1.06a.37.37,0,0,1-.16-.35.37.37,0,0,1,.25-.3A8.17,8.17,0,0,0,80.13,87l.17-.15a.13.13,0,0,0,0-.19.14.14,0,0,0-.19-.05,10.93,10.93,0,0,0-1,.63c-1.13.74-2.31,1.52-3.44.87a.46.46,0,0,1-.17-.33c0-.22.45-.44.81-.64a2.51,2.51,0,0,0,.93-.67l.16-.15a6.3,6.3,0,0,1,1.13-.88.14.14,0,0,0-.1-.27,4.84,4.84,0,0,0-1.57.86c-.26.18-.52.36-.78.51-1,.59-1.58.58-2.13,0,0,0,0,0,0,0s-.13-.14-.13-.17c0-.23.5-.65.75-.85l.24-.19a4.1,4.1,0,0,0,1.4-1.52.16.16,0,0,0-.06-.17.15.15,0,0,0-.18,0c-2,1.79-2.67,2.09-2.89,2,0,0-.06,0-.08-.13-.11-.52.46-2.07,1.13-3.87l.11-.29a.15.15,0,0,0,0-.18.17.17,0,0,0-.19,0,5.47,5.47,0,0,0-1.07,2.26l-.09.28c-.29.9-.59,1.71-1.11,1.84a.56.56,0,0,0-.45.3.66.66,0,0,0,.06.61.54.54,0,0,0,.47.21,4.49,4.49,0,0,1,2.43,1.54,10.23,10.23,0,0,0,1,.87,14.56,14.56,0,0,0,1.61,1.38,11.76,11.76,0,0,1,1.83,1.64,2.7,2.7,0,0,1,0,2.62,3.26,3.26,0,0,1-2.42,1.89H76.1c-.3.08,0-.27,0-.27.4-.44,1-1.56.76-2a.13.13,0,0,0-.07-.06c-.13-.06-.32,0-.66.65a.13.13,0,0,0,0,.06,2.56,2.56,0,0,1-1,1.41c-.32.07-.36,0-.36,0s.17-.57.32-.85c.27-.5.54-1,.38-1.35a.15.15,0,0,0-.19-.07c-.37.16-.55.6-.72,1s-.26.66-.43.69-.21,0-.5-.34h0c-.1-.13.35-.84.55-1.23.44-.86.54-1.06.37-1.18s-.27,0-.66.39l-.15.19a3.29,3.29,0,0,0-.29.66c-.1.28-.23.62-.36.64s-.65-.17-.47-.39.22-.36.34-.54a14.37,14.37,0,0,0,.8-1.34c.17-.6.18-.81,0-.88s-.27,0-.62.6a11.43,11.43,0,0,0-.89,1.84c-.11.38-.45-.44-.49-.63s.15-.57.4-.93a4.75,4.75,0,0,0,.54-.93c.19-.49.13-.75,0-.82s-.27.08-.31.13a11.67,11.67,0,0,0-1.1,2.2c-.08.33-.52-.5-.55-.72s.22-.63.54-1a5.8,5.8,0,0,0,.59-.79c.34-.67.33-.83.2-.92s-.31.06-.45.21a2.68,2.68,0,0,0-.65.86c-.24.41-.51,1.05-.8,1s-.37-.08-.43-.21.24-.78.5-1.17A3.88,3.88,0,0,0,70.6,90a2.93,2.93,0,0,0,.45-1.43.13.13,0,0,0-.08-.13.14.14,0,0,0-.15,0,3.17,3.17,0,0,0-1,1.71c0,.15-.1.3-.15.43s-.21.53-.38.55-.73-.25-.56-.47a8.47,8.47,0,0,0,1-2.19c0-.16,0-.26-.1-.3s-.3,0-.63.49a2.47,2.47,0,0,0-.37,1c0,.23,0,.62-.23.63,0,0-.61-.14-.49-.44.74-2,.57-2.07.46-2.12s-.26,0-.66.85a.36.36,0,0,1-.45.19A.34.34,0,0,1,67,88.3a4.12,4.12,0,0,1,.15-.55,3.66,3.66,0,0,0,.23-1.09.14.14,0,0,0-.1-.14.14.14,0,0,0-.17,0,2.7,2.7,0,0,0-.3.59c-.14.33-.31.7-.53.77a.41.41,0,0,1-.31,0c-.27-.19-.12-.7,0-1.15a1.39,1.39,0,0,0,.11-.77.22.22,0,0,0-.18-.19h0c-.25,0-.49.65-.66,1.2s-.38,1.52,0,1.78l6.57,6.55.38.31a.94.94,0,0,1,.48.94c-.14.85-1.53,1.77-2.36,1.93-.22,0-.35,0-.37,0s0-.29.38-.77a.11.11,0,0,0,0-.07c0-.26.08-.54-.11-.61h-.06c-.25,0-.59.51-.82,1s-.33.21-.45.19a.6.6,0,0,1-.45-.39.39.39,0,0,1,.16-.42l.18-.23a2.27,2.27,0,0,0,.65-1.31.14.14,0,0,0-.06-.12.14.14,0,0,0-.14,0,2,2,0,0,0-.9,1c-.16.29-.34.59-.5.6s-.72-.29-.52-.44a6.73,6.73,0,0,0,1.18-1.67c0-.09.12-.29,0-.39s-.31,0-.69.36a.1.1,0,0,0,0,.07c-.2.74-.66,1-.92,1,0,0-.13,0-.14-.09s.28-.6.53-.93.69-.9.65-1.26a.14.14,0,0,0-.07-.11.14.14,0,0,0-.14,0c-.6.26-.7.47-1,1-.08.14-.28.92-.42.78a1.07,1.07,0,0,1-.44-.62c0-.26.2-.52.47-.84a5.36,5.36,0,0,0,.49-.62s0,0,0,0c.16-.51.14-.65,0-.73a.18.18,0,0,0-.21,0,7.62,7.62,0,0,0-1.31,1.84c-.18.25-.33-.34-.35-.51,0-.34.32-.71.71-1.09a2.88,2.88,0,0,0,.83-1.17c.14-.26.25-.5.08-.6s-.92.65-.92.66c-.52.9-.84,1.67-.88,1.36a9,9,0,0,1,.08-1l0-.13c.17-1.48.43-3.72-.33-5a.36.36,0,0,1,.05-.37c.13-.28.28-.9.14-1.1a.18.18,0,0,0-.18-.08c-.11,0-.23.11-.44.57-.1.2-.42.2-.69.12s-.52-.28-.48-.51a3.85,3.85,0,0,0-1.47-3.49,2.66,2.66,0,0,0-2.8-.3.37.37,0,0,1-.45-.12A3.17,3.17,0,0,0,56,80.22C54.29,80,52.52,81.69,51.09,83l-.65.6a.38.38,0,0,1-.4.07.38.38,0,0,1-.22-.32,2.76,2.76,0,0,0-1.55-2.62c-1.54-.69-3.67,0-5,1-.15.06-.33.12-.44,0s-.16-.92-.1-1.58a3,3,0,0,0-.13-1.78.14.14,0,0,0-.13-.06.15.15,0,0,0-.12.07,3.84,3.84,0,0,0-.23,2.38,3.47,3.47,0,0,1-.2,2.15c-.11.22-.38.15-.5.07-.53-.32-.46-2.2-.4-3.58a6.48,6.48,0,0,0-.09-2.16.13.13,0,0,0-.13-.08.12.12,0,0,0-.13.08,6.54,6.54,0,0,0-.11,4.13c.07.42.15.82.19,1.22,0,.12,0,.28-.12.32a.79.79,0,0,1-.78-.16,3.43,3.43,0,0,1-.61-2.63s.52-3.79.07-3.87c-.14,0-.23,0-.43.85a6.64,6.64,0,0,0-.18,1.55c0,.26,0,.55,0,.84a13.63,13.63,0,0,1-.14,3c-.09.14-.22-.3-.51-1.12-.49-1.6-1-4.65-.46-6.13a.14.14,0,0,0-.09-.19.15.15,0,0,0-.19.09c-.95,1.89-.65,3.69-.08,6.24,0,.16,0,.32-.13.36a.78.78,0,0,1-.68-.19c-.86-.79-.64-3.59-.56-4.51,0-.36.07-.69.1-1,.09-.76.1-.85-.06-.89s-.2,0-.67,1.33a5.17,5.17,0,0,0,0,2.47c.17.85.35,1.87.1,2.08a.58.58,0,0,1-.72-.22c-.72-1.44-.39-3.17-.08-4.83.09-.5.18-1,.24-1.42a.15.15,0,0,0-.09-.16.15.15,0,0,0-.18,0C33.59,76,33.4,78,34,80.45a.11.11,0,0,1-.15.14c-1.9-.72-1.46-2.76-1-4.73a9.47,9.47,0,0,0,.33-2.19.16.16,0,0,0-.06-.12.17.17,0,0,0-.14,0c-.84.35-.82,2.06-.8,3.71,0,1,0,2.27-.28,2.4a.4.4,0,0,1-.55-.29c-.55-4.3.73-11.54,5.09-14.3a2,2,0,0,1,1.48-.26h0c.94.18,2.61.56,5,1.12,8.77,2.28,9.06,2.18,12.64,1,1.25-.41,3-1,5.58-1.61.34,0,.35.12.4.25a.35.35,0,0,1-.16.43,10.44,10.44,0,0,0-4.21,5.63,46.12,46.12,0,0,0-1.8,6.79h0c-.15,1.2,2.42,2.23,3.25,2.23a5,5,0,0,0,4.21-2,12.12,12.12,0,0,0,1.75-3.06c.13-.28.24-.55.37-.8a1,1,0,0,1,.64-.57c.25-.08.54-.15.86-.24s.86-.22,1.36-.38.82-.22,1.17-.32.68-.21,1-.27a1.16,1.16,0,0,1,.92.2,18.51,18.51,0,0,1,4.4,5,.8.8,0,0,1,.08.16l.2.46.14.28a30.07,30.07,0,0,0,4.67,5.08c2.37,2.12,4.81,4.31,4.93,6A1,1,0,0,1,85.14,90.7Zm16.87-14c-.14.34-.14.42-.29.4,0,0-.4-.08-.6-2.46a.13.13,0,0,0-.13-.13.15.15,0,0,0-.16.11,8.25,8.25,0,0,0-.1,1.58c0,1.48-.1,3.68-1,3.38a.37.37,0,0,1-.22-.38,12.31,12.31,0,0,0-.16-3.47.16.16,0,0,0-.14-.13.17.17,0,0,0-.15.12A7.58,7.58,0,0,0,99,77.32c0,1.19,0,2.68-.55,3.21-.15.14-.36.31-.58.2-.25-.28-.17-.73-.09-1.2a3.68,3.68,0,0,0,.06-1c0-1.5-.09-1.5-.25-1.51s-.21,0-.41,1.92c-.09.85.1,2.11-.29,2.34s-.63.2-.74.11c-.26-.22,0-1.21.24-2,.28-1,.55-1.95.16-2.31a.15.15,0,0,0-.11,0,.2.2,0,0,0-.11.06,4.4,4.4,0,0,0-.52,2.41c0,.2,0,.39,0,.58,0,1.45-1.22,2.37-1,1.73A13.8,13.8,0,0,0,95.19,79c0-1,0-1.06-.2-1.07s-.25.07-.46,1.07a4.61,4.61,0,0,0-.09,1.2c0,1.12-1.11,2.72-1,1.93,0-.11,0-.21.08-.32a7.62,7.62,0,0,0,.27-3.9.14.14,0,0,0-.12-.1.15.15,0,0,0-.15.07,4.34,4.34,0,0,0-.29,2.08c0,1.25-1.39,3.72-1.21,2.56,0-.18.08-.37.11-.56a7.11,7.11,0,0,0,.1-3.74.17.17,0,0,0-.13-.1.16.16,0,0,0-.14.09,5.06,5.06,0,0,0-.23,2.19c0,.26,0,.51,0,.76,0,.88-1.22,2.74-.89,1.78a13.45,13.45,0,0,0,.35-2.69c0-1-.06-1-.21-1.07s-.26.08-.45,1c0,.34,0,.69,0,1a7.22,7.22,0,0,1-.08,1.18c-.13.66-1.27,2.1-1.06,1.22l.06-.36c.08-.47.16-1,.2-1.43a4.78,4.78,0,0,0-.2-2.06.14.14,0,0,0-.13-.1.16.16,0,0,0-.15.09,4.13,4.13,0,0,0-.19,2c.2,1.64-1.09,4-1,2.62,0-.22.06-.44.1-.66a9.37,9.37,0,0,0,0-3.84.14.14,0,0,0-.13-.11.16.16,0,0,0-.15.09,5.64,5.64,0,0,0-.24,2.44l0,.7c0,1-.91,3.18-.88,2.22,0-.31,0-.63,0-.94s0-.68,0-1A7,7,0,0,0,86.66,81a.15.15,0,0,0-.13-.11.15.15,0,0,0-.15.09,4.71,4.71,0,0,0-.13,2.45,5.43,5.43,0,0,1,.06.55c.09.94-.66,3-.61,2.13,0-.22,0-.45,0-.68a8.7,8.7,0,0,0-.2-3.59.15.15,0,0,0-.13-.1.14.14,0,0,0-.15.08,3.65,3.65,0,0,0-.08,2.35c.31,1.39-.29,3.72-.31,2.61,0-2.1-.19-4.32-.53-4.5h-.08a.2.2,0,0,0-.11,0c-.29.21-.08,2.31.26,4.39,0,.49-.93-.64-.65-2.09a3.19,3.19,0,0,0-.17-1.8.15.15,0,0,0-.27,0,4.1,4.1,0,0,0-.15,2.25l.06.55c.1.53-.49-.23-.52-.86,0,0,0-.2,0-.32,0-.67,0-1.22-.21-1.29s-.29.06-.37.37c0,0-.05.24-.06.27,0,.2-.12.17-.28.23A.37.37,0,0,1,81.4,84c-1.6-1.38-2.32-2.34-2.19-2.91s1.27-.92,2.58-1.26h0c2.68-.71,6.35-1.67,6.59-6a.56.56,0,0,0-.12-.4.58.58,0,0,0-.41-.2c-.57,0-.63.54-.68,1a1.55,1.55,0,0,1-.15.64,1.69,1.69,0,0,0-.13.3c-.24.59-.47,1.07-.86.92a.37.37,0,0,1-.22-.42,4.25,4.25,0,0,0-.14-2.5.15.15,0,0,0-.28,0,12.59,12.59,0,0,0-.18,1.56,13.49,13.49,0,0,1-.2,1.72c-.25,1.1-2.22,2.87-1.66,2a8,8,0,0,0,1-4.72.16.16,0,0,0-.13-.12.15.15,0,0,0-.15.07,6.25,6.25,0,0,0-.46,2c-.19,1.22-.4,2.6-1,3-.19.12-.46.27-.67.06a.35.35,0,0,1,0-.41A6.12,6.12,0,0,0,83,74a.16.16,0,0,0-.14-.11.14.14,0,0,0-.15.1c-.11.37-.2.77-.3,1.14-.38,1.57-.77,3.18-2.13,4a.33.33,0,0,1-.44-.07.37.37,0,0,1,0-.47,9.18,9.18,0,0,0,2.1-4.77.13.13,0,0,0-.1-.15.16.16,0,0,0-.17,0,13.26,13.26,0,0,0-1,2.17c-.29.69-.59,1.41-.91,2.06-.47,1.07-1.14,1.8-1.64,1.8-.33,0-.77-.39-.64-.66a7.15,7.15,0,0,1,1-1.42,8.53,8.53,0,0,0,1-1.44c.13-.23,1.28-2.27,1.06-2.64a.21.21,0,0,0-.17-.08c-.24,0-.72.76-1.4,2.18a6.9,6.9,0,0,0-.47.88c-.37.75-.92,1.87-1.36,1.88-.11,0-.23-.09-.34-.28-.21-.51.54-1.37,1.14-2A4.38,4.38,0,0,0,79,74.43c.63-1.31.48-1.39.38-1.45a.17.17,0,0,0-.18,0,15.5,15.5,0,0,0-1.67,2.46,8.15,8.15,0,0,1-1.28,1.84l0,0a.5.5,0,0,1-.13.09c-.19.07,0-.21.07-.53a.65.65,0,0,0-.25-.71.69.69,0,0,0-.78,0c-.4.18.07-.29.24-.68.37-.83,1.08-1.47,2.1-3.66a.16.16,0,0,0,0-.2.14.14,0,0,0-.2,0c-1.73,2.5-2.73,3.65-3,3.47s.69-1.21,2.07-3.76a.15.15,0,0,0-.24-.17c-1.85,2.35-2.43,3.17-2.62,2.91s.5-.91,1.49-3.3a.15.15,0,0,0-.26-.16c-1.27,1.88-1.75,2.88-2,2.63s.88-2.07,1.07-3.31a.19.19,0,0,0,0-.15.15.15,0,0,0-.14,0c-.5.06-.71.81-.94,1.6-.16.55-.35,1.22-.59,1.27s-.51,0-.4-.27c.85-1.72,1.74-3.87.6-4.85,0-.05-.4-.32-.56-.25s.19.38.29.51a.75.75,0,0,1,.15.46A6.2,6.2,0,0,1,71.63,71c-.06.13-.23.64-.37.68s-.32-.2-.3-.37a4.74,4.74,0,0,0-.75-3.37.16.16,0,0,0-.19-.06.15.15,0,0,0-.08.18,8.68,8.68,0,0,1,.26,3.74c-.08.29-.49.09-.52.08a.3.3,0,0,1,0-.17,6,6,0,0,0-.13-2.25l-.06-.35c-.21-1-.23-1-.4-1s-.16.11-.12.87c0,.3,0,.64,0,.9a4.09,4.09,0,0,0,0,1c.07.56.14,1.08-.22,1.33s-.49.09-.51.08,0,0,0-.16a11.34,11.34,0,0,0-.33-3.73.15.15,0,0,0-.16-.12.14.14,0,0,0-.13.15c0,.49,0,1,0,1.48a21.54,21.54,0,0,0,0,2.27c0,.44-.58.78-.5.45a11.46,11.46,0,0,0-.33-3.35c0-.19-.07-.37-.11-.56a.14.14,0,0,0-.15-.12.14.14,0,0,0-.14.14,17.62,17.62,0,0,0,0,1.77,13,13,0,0,1,0,2.25c-.06.22-.54.48-.5.2a6.38,6.38,0,0,0-.61-3.68.71.71,0,0,0-.26-.26.21.21,0,0,0-.2.05.14.14,0,0,0,0,.17l.1.19a6.41,6.41,0,0,1,.3,1.84v0l0,.4c0,.78-.39.39-.39.39h0a.62.62,0,0,0-.49-.12c-.2,0-.2.43-.27.69s-.24.81-.46.87-.31-.16-.38-.29a4,4,0,0,0-1.17-2.46.15.15,0,0,0-.25.17,7,7,0,0,1,.34,6.67,4,4,0,0,1-3.79,1.94,4.73,4.73,0,0,1-1.33-.28.94.94,0,0,1-.55-1.09c0-.19.07-.4.11-.62.16-1,.36-2.13,1-2.53a.9.9,0,0,1,.73-.11c.67.41.35,2.12.24,2.68-.18.85-.2,1,0,1s.46-.18.77-1.25v0a3.33,3.33,0,0,0-.19-2.4,1.17,1.17,0,0,0-.86-.45h-.11c-.26,0-.42-.07-.49-.19s0-.68.27-1.48a7.07,7.07,0,0,1,2.31-4.43,18.4,18.4,0,0,1,4.25-2.69,21.79,21.79,0,0,0,2-1.19c2-1.31,4-2.54,6.38-1.49l.26.14a28.3,28.3,0,0,0,5.75,2.78l.94.38a15.44,15.44,0,0,1,6,3.7,3.18,3.18,0,0,0,.89.79.63.63,0,0,0,.59-.21.41.41,0,0,0,.07-.53l0,0-.52-.53s-.6-.59.74-.78a39.47,39.47,0,0,0,5.28-1.86,40.52,40.52,0,0,0,5.26-2.08.37.37,0,0,1,.39,0C103,67.91,102.71,75,102,76.75Z"/>
      <path d="M50.31,69.24a20.63,20.63,0,0,1-3.13-.32l-1.13-.16a.16.16,0,0,0-.17.11.17.17,0,0,0,.1.18,12.73,12.73,0,0,0,4.19.89,1.61,1.61,0,0,0,.31,0c1.32-.15,1.31-.28,1.31-.41S51.77,69.25,50.31,69.24Z"/>
      <path d="M65.64,78.86a.14.14,0,0,0-.17.08l0,0c-.27.54-.73,1.45-.22,2a.15.15,0,0,0,.11,0h0a.14.14,0,0,0,.11-.06,2.05,2.05,0,0,0,.28-1.34,5.52,5.52,0,0,1,0-.58A.15.15,0,0,0,65.64,78.86Z"/>
      <path d="M67.05,78.5a.15.15,0,0,0-.17.1c-.08.27-.18.53-.27.8a5.48,5.48,0,0,0-.48,2.95.14.14,0,0,0,.12.12h0a.14.14,0,0,0,.13-.07,8,8,0,0,0,.68-2.93c0-.29,0-.56.09-.8A.15.15,0,0,0,67.05,78.5Z"/>
      <path d="M68.51,78.82a.16.16,0,0,0-.19.09c-.07.2-.15.4-.23.61a6.79,6.79,0,0,0-.72,3.68.15.15,0,0,0,.13.12h0a.14.14,0,0,0,.13-.09,11.55,11.55,0,0,0,.72-2.89c.07-.48.14-.94.24-1.34A.15.15,0,0,0,68.51,78.82Z"/>
      <path d="M69.69,79.62a.16.16,0,0,0-.17.11c-.09.4-.21.81-.33,1.21a7,7,0,0,0-.47,2.8.18.18,0,0,0,.12.13h0A.17.17,0,0,0,69,83.8a8.44,8.44,0,0,0,.8-3.71l0-.32A.15.15,0,0,0,69.69,79.62Z"/>
      <path d="M71,81.31a.15.15,0,0,0-.13-.14.16.16,0,0,0-.16.12,7.38,7.38,0,0,1-.21.73,3.48,3.48,0,0,0-.25,1.72.16.16,0,0,0,.1.11h0a.11.11,0,0,0,.09,0c.63-.51.58-1.47.53-2.23C71,81.49,71,81.4,71,81.31Z"/>
      <path d="M72,81.56a.16.16,0,0,0-.17.11c0,.23-.12.47-.19.71a4.38,4.38,0,0,0-.22,2.6.14.14,0,0,0,.13.1h0A.13.13,0,0,0,71.7,85a6,6,0,0,0,.42-2.64c0-.23,0-.45,0-.65A.14.14,0,0,0,72,81.56Z"/>
      <path d="M94.47,72.11A5,5,0,0,0,92,73.64a5.79,5.79,0,0,1-1.56,1.18.16.16,0,0,0-.08.19.16.16,0,0,0,.14.1h0a5.71,5.71,0,0,0,2-1.15,4.72,4.72,0,0,1,2.11-1.15c1.46-.41,1.42-.57,1.39-.7S96,71.81,94.47,72.11Z"/>

</svg>
