{% assign fill_colour = fill_colour | default: '#231F20' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 290 55"
	 style="enable-background:new 0 0 290 55;" xml:space="preserve" style="fill: {{ fill_colour }};">
  <g>
	  <path d="M28.9,22.6v-2.9c0,0,0-0.1,0-0.1c0-0.7-0.6-1.2-1.2-1.2h-12c0,0-0.1,0-0.1,0c-0.7,0-1.1,0.6-1.1,1.2v3
		  c0,0.1,0,0.2,0,0.2c0.1,0.6,0.6,1.1,1.2,1h3.9c-0.2,5.2-2.5,7.3-5.8,7.3c-3.3,0-5.6-3.2-5.6-12.3s2.8-12.4,6.4-12.3
		  c3.2,0,4.8,3.1,5.1,7.2c0.1,1,0.5,1.3,1.3,1.3h3.4c0.1,0,0.2,0,0.2,0c0.6-0.1,1-0.6,1-1.3V2.8c0-0.1,0-0.2,0-0.2
		  c-0.1-0.5-0.6-0.9-1.1-0.9h-2c-0.6-0.1-1.2,0.3-1.3,0.9l-0.8,2C19,2.2,16.3,0.8,13.5,1C6.5,1,0,6.4,0,19.3
		  c0,11.9,4.5,17.9,12.3,17.9c3.3,0.1,6.4-1.4,8.4-4l0.8,2.3c0.2,0.7,0.8,1.2,1.6,1.1h1.9c0.1,0,0.2,0,0.3,0c0.6-0.1,1.1-0.7,1-1.3
		  V23.9h1.5c0.1,0,0.2,0,0.3,0C28.6,23.8,29,23.3,28.9,22.6z"/>
	  <path d="M34.8,8.7c0.1,0,0.1,0,0.2,0c2.3-0.1,4.2-2,4.1-4.4c0-2.4-1.9-4.3-4.3-4.3c-2.4,0-4.3,1.9-4.3,4.3
		  c0,0.1,0,0.2,0,0.3C30.5,6.9,32.5,8.7,34.8,8.7z"/>
	  <path d="M83.2,23.1c0.1-7.6-2.6-12.3-9.7-12.3c-4,0-7.1,1.6-9,4.5v-2.6c0,0,0,0,0,0c0-0.7-0.5-1.2-1.2-1.2h-9.2
		  c0,0,0,0-0.1,0c-0.7,0-1.2,0.6-1.1,1.2v2.9c0,0.1,0,0.2,0,0.2c0.1,0.6,0.6,1.1,1.2,1h0.9l-2.5,9.1c-0.3,1.1-0.6,3-0.9,4.8
		  c-0.3-1.8-0.7-3.7-1-5l-2.1-8.9h1.1c0.1,0,0.1,0,0.2,0c0.6-0.1,1-0.6,0.9-1.2v-2.9c0,0,0,0,0-0.1c0-0.6-0.5-1.2-1.2-1.2H39.7
		  c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.3-1,0.6c-0.2-0.4-0.6-0.6-1.1-0.6h-8.1c0,0-0.1,0-0.1,0c-0.7,0-1.2,0.6-1.1,1.2v2.9
		  c0,0.1,0,0.2,0,0.3c0.1,0.6,0.6,1.1,1.2,1h1.6v14.4h-1.7c0,0-0.1,0-0.1,0c-0.7,0-1.2,0.6-1.1,1.3v2.9c0,0.1,0,0.2,0,0.2
		  c0.1,0.6,0.6,1.1,1.2,1h11c0.1,0,0.1,0,0.2,0c0.6-0.1,1.1-0.6,1-1.3v-2.9c0,0,0,0,0,0c0-0.7-0.5-1.2-1.2-1.2h-1.6V16.5
		  c0.2,0.2,0.5,0.3,0.8,0.3h1.1l5.7,18.1c0.3,1.1,0.7,1.6,2,1.6H54c1,0.1,1.8-0.6,2-1.5l6-18.2h1.3c0.1,0,0.1,0,0.2,0
		  c0.1,0,0.1,0,0.2-0.1c-1,2.1-1.5,4.6-1.5,7.5c0,8.3,3.6,13,10.8,13c6.6,0,9.7-4.2,9.7-8.7c0-0.8-0.4-1.1-1.2-1.1h-2.8
		  c-1,0-1.3,0.4-1.5,1.2c-0.4,2.2-1.6,3.1-3.4,3.1c-2.3,0-3.4-2-3.5-6.2h10.8C82.4,25.4,83.2,24.9,83.2,23.1z M70.3,21.2
		  c0.3-3.8,1.5-5.3,3.1-5.3c1.6,0,2.5,1.4,2.5,5.3H70.3z"/>
	  <path d="M117.9,5.8V2.8c0,0,0,0,0-0.1c0-0.6-0.6-1.2-1.2-1.1h-10.9c0,0-0.1,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.2v2.9
		  c0,0.1,0,0.2,0,0.3c0.1,0.6,0.6,1.1,1.2,1h1.7v15c0,6.7-1.5,9.2-4.8,9.2s-4.5-2.9-4.5-9.2V7h1.7c0.1,0,0.1,0,0.2,0
		  c0.6-0.1,1.1-0.6,1-1.2V2.8c0,0,0-0.1,0-0.1c0-0.6-0.6-1.2-1.2-1.1H88.9c0,0-0.1,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.2v2.9
		  c0,0.1,0,0.2,0,0.2c0.1,0.6,0.6,1.1,1.2,1h1.5v14.8c0,12.1,4.8,15.4,12.2,15.4s12.5-3.7,12.5-15.3V7h1.6c0.1,0,0.1,0,0.2,0
		  C117.5,6.9,118,6.4,117.9,5.8z"/>
	  <path d="M128.2,20.8c-3.3-0.9-4.2-1.9-4.2-3.2c0-1.4,0.9-2,2.3-2c1.6,0,3.1,1.1,3.4,3.6c0,0,0,0,0,0
		  c0.1,0.6,0.7,1.1,1.3,1h2.9c0.7,0,1-0.4,1-1.1v-6.8c0-0.6-0.2-1-0.9-1h-2.2c-0.7,0-0.9,0.2-1.2,0.8l-0.3,1.1
		  c-1.2-1.7-3-2.5-5.5-2.5c-0.3,0-0.5,0-0.8,0c-4,0.2-7.1,3.7-6.8,7.7c0,5,3.2,7.5,7.1,8.6c3,0.9,4.3,1.5,4.3,3.2
		  c0,1.4-1.2,1.9-2.7,1.9c-2.2,0-3.6-1.2-3.9-3.9c-0.2-0.9-0.6-1.2-1.2-1.2h-3.1c-0.1,0-0.1,0-0.2,0c-0.5,0.1-0.9,0.5-0.8,1.1v7.2
		  c0,0,0,0.1,0,0.1c0,0.6,0.5,1,1.1,0.9h2c0.6,0.1,1.2-0.3,1.3-0.9l0.3-1c1.5,1.8,3.7,2.7,6,2.5c4.3,0,8-2.9,8-8
		  C135.5,24.1,132.2,21.9,128.2,20.8z"/>
	  <path d="M164.9,26.1c-0.1-0.5-0.5-0.8-1-0.7h-2c-0.1,0-0.1,0-0.2,0c-0.5,0.1-0.8,0.5-0.7,0.9c0,0.6,0,2.3,0,3.6
		  c0,1.7-0.4,2.3-1,2.3c-0.6,0-0.9-0.5-0.9-2.3c0-2,0.5-6.9,0.5-9.8c0-6.7-3-9.4-8.9-9.4s-9.9,2.9-9.9,7c0,2.3,1.1,3.6,3.1,3.6
		  c2.1,0,3.4-1.3,3.4-2.9c0.1-0.8-0.2-1.6-0.8-2.2c0.8-0.3,1.6-0.4,2.4-0.4c2.1,0,3.2,1,3.2,4.2v1.4c-5.2,0.6-12,2.7-12,9.4
		  c0,3.9,2.1,6.3,6.2,6.3c3,0.1,5.7-1.5,7.1-4.1c0.7,2.5,2.7,4,5.5,4c3.7,0,5.9-1.8,6.1-6.3c0.1-1.5,0-3-0.1-4.5
		  C164.9,26.2,164.9,26.2,164.9,26.1z M151.9,27.1c0,3.3-1.6,4.9-3.1,4.9h0c-1,0-1.6-0.8-1.5-2.2c0-2.3,1.5-3.8,4.6-4.4V27.1z"/>
	  <path d="M182.5,15.7c-3.8-1.5-5.7-2.9-5.7-5.7c0-0.1,0-0.3,0-0.4c0.1-1.9,1.8-3.2,3.6-3.1c3.2,0,5,2.8,5.1,6.7
		  c0,0.1,0,0.2,0,0.2c0.1,0.7,0.7,1.1,1.3,1h3.3c0.8,0,1.2-0.4,1.2-1.2V2.7c0-0.8-0.4-1.1-1.1-1.1H188c-0.7,0-1,0.3-1.2,1.1l-0.5,1.6
		  C184.7,2,182.1,1,179.1,1c-5.6,0-9.6,3.9-9.6,9.8c0,6.2,3.4,9.6,9.3,11.8c4.2,1.6,5.9,3,5.9,5.5c0,2.5-1.9,3.4-4.3,3.4
		  c-3.7,0-5.4-3.2-5.6-7.3c-0.1-0.9-0.6-1.2-1.2-1.2h-3.9c-0.1,0-0.1,0-0.2,0c-0.5,0.1-0.9,0.6-0.9,1.1v11.3c0,0.7,0.3,1.2,1.1,1.2
		  h2.2c0,0,0,0,0,0c0.6,0.1,1.2-0.4,1.2-1l0.7-2c1.9,2.4,4.8,3.7,7.8,3.6c6,0,10.5-3.4,10.5-10.1C192.2,20.2,187.6,17.7,182.5,15.7z"
		  />
	  <path d="M216.7,31.1h-1.5v-11c0-6.1-2-9.3-7.1-9.3c-2.7-0.1-5.1,1.3-6.5,3.6c0.3-1.7,0.5-3.4,0.6-5.2V2
		  c0-0.1,0-0.2,0-0.3c-0.1-0.5-0.6-0.9-1.1-0.9h-8c0,0-0.1,0-0.1,0c-0.6,0-1.1,0.5-1.1,1.2v3c0,0.1,0,0.1,0,0.2c0.1,0.6,0.6,1,1.2,1
		  h1.6v25h-1.7c0,0-0.1,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.3v2.9c0,0.1,0,0.2,0,0.2c0,0.6,0.6,1.1,1.2,1h10.3c0.1,0,0.1,0,0.2,0
		  c0.6-0.1,1.1-0.6,1-1.3v-2.9c0,0,0,0,0,0c0-0.7-0.5-1.2-1.2-1.2h-1v-9.4c0-3.5,1.2-5.1,3-5.1c1.9,0,2.5,1.4,2.5,4.8v9.7h-0.9
		  c0,0-0.1,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.2v2.9c0,0.1,0,0.2,0,0.3c0.1,0.6,0.6,1.1,1.2,1h0.9v0.1h9c0.1,0,0.1,0,0.2,0
		  c0.6-0.1,1.1-0.6,1-1.3v-2.9c0,0,0,0,0-0.1C217.9,31.7,217.4,31.1,216.7,31.1z"/>
	  <path d="M228,10.8c-5.8,0-11.2,3.7-11.2,13.1c0,10.1,4.9,13.3,11.2,13.3c5.9,0,11.2-3.4,11.2-13.3
		  C239.1,14.3,234.2,10.8,228,10.8z M228,31.8L228,31.8c-2.4,0-3.2-2.7-3.2-7.9s0.9-7.8,3.2-7.8c2.3,0,3.2,2.5,3.2,7.8
		  S230.4,31.8,228,31.8z"/>
	  <path d="M262.8,31.2h-1.3V12.8c0-0.8-0.3-1.4-1.3-1.4h-8.3c0,0,0,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.2v2.9
		  c0,0.1,0,0.1,0,0.2c0,0.6,0.6,1.1,1.2,1h2v8.5c0,4.8-1.2,6.4-3,6.4s-2.5-1.4-2.5-5V12.8c0-0.8-0.3-1.3-1.2-1.3h-7.7
		  c0,0-0.1,0-0.1,0c-0.7,0-1.2,0.6-1.1,1.2v2.9c0,0.1,0,0.2,0,0.3c0.1,0.6,0.6,1.1,1.2,1h1.4V28c0,6.1,2.4,9.2,7.4,9.2
		  c3.2,0,5.8-1.3,7.1-4.3l0.3,2.4c0,0,0,0,0,0c0.1,0.8,0.7,1.3,1.5,1.3h5.7c0.1,0,0.1,0,0.2,0c0.6-0.1,1.1-0.6,1-1.3v-2.9
		  c0,0,0-0.1,0-0.1C264,31.7,263.4,31.2,262.8,31.2z"/>
	  <path d="M279.1,24.6h-2.6c-0.7,0-1.1,0.4-1.1,1.2c0,1.2,0,2.8-0.1,4s-0.5,2-1.4,2c-0.9,0-1.3-0.7-1.3-3.1v-12h5
		  c0.9,0,1.3-0.4,1.3-1.2v-2.9c0-0.1,0-0.2,0-0.3c-0.1-0.6-0.6-1-1.2-1h-5.1V5c0-0.1,0-0.1,0-0.2c-0.1-0.5-0.6-0.9-1.1-0.9h-1.7
		  c-0.6-0.1-1.3,0.3-1.4,0.9c-0.4,0.7-1.7,4.4-2.6,6.6h-1.9c0,0,0,0-0.1,0c-0.6,0-1.1,0.6-1.1,1.2v2.9c0,0.1,0,0.1,0,0.2
		  c0,0.6,0.6,1.1,1.2,1h1.2v11c0,6.3,2.3,9.4,7.4,9.4c4,0,6.2-1.8,7-4.7c0.6-2.2,0.8-4.5,0.6-6.8C280.2,25.1,279.9,24.6,279.1,24.6z"
		  />
	  <path d="M285.5,1c-3.8,0-4.6,2.7-4.5,5.7c0.1,3.2,1.3,11.5,2.2,17.5c0,0,0,0,0,0c0,0.8,0.6,1.3,1.4,1.3h1.9
		  c0,0,0,0,0,0c0.7,0,1.3-0.6,1.4-1.3c0.8-6,2.1-14.3,2.2-17.5C290.2,3.6,289.2,1,285.5,1z"/>
	  <path d="M285.5,28.1c-3.1,0-4.4,2.2-4.4,4.5s1.3,4.6,4.4,4.6c3.1,0,4.4-2.3,4.4-4.6h0
		  C289.9,30.3,288.7,28.1,285.5,28.1z"/>
  </g>
</svg>
