{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a class="the-river__link bg-blue" href='{{ url }}'>{% endif %}
<?xml version='1.0' encoding='utf-8'?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  {% comment %} viewBox="0 0 159.47 65.03" {% endcomment %}
  viewBox="0 0 160 65"
  style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  >
  <path d="M18.18,43.82c-.4,0-.72-.14-.72-.52h-.9c0,.79.7,1.25,1.62,1.25s1.41-.44,1.41-1.12-.69-1-1.36-1.17c-.45-.12-.67-.19-.67-.41s.21-.28.47-.28.58.16.62.42h.89c0-.72-.68-1.15-1.51-1.15s-1.37.3-1.37,1.08.54.92,1.15,1.09.89.22.89.5S18.52,43.82,18.18,43.82Z"/>
    <polygon points="20.75 43.04 21.96 43.04 21.96 44.47 22.86 44.47 22.86 40.92 21.96 40.92 21.96 42.31 20.75 42.31 20.75 40.92 19.85 40.92 19.85 44.47 20.75 44.47 20.75 43.04"/>
      <path d="M24.24,40.92,23,44.47h.9l.23-.74h1.21l.23.74h.9l-1.29-3.55Zm0,2.13.4-1.31h0l.41,1.31Z"/>
      <polygon points="26.57 40.92 26.57 44.47 27.46 44.47 27.46 43.53 27.82 43.13 28.75 44.47 29.8 44.47 28.39 42.48 29.75 40.92 28.7 40.92 27.46 42.36 27.46 40.92 26.57 40.92"/>
      <polygon points="32.63 41.65 32.63 40.92 29.94 40.92 29.94 44.47 32.66 44.47 32.66 43.74 30.83 43.74 30.83 43.01 32.38 43.01 32.38 42.28 30.83 42.28 30.83 41.65 32.63 41.65"/>
      <polygon points="34.73 44.47 34.73 41.65 35.77 41.65 35.77 40.92 32.8 40.92 32.8 41.65 33.84 41.65 33.84 44.47 34.73 44.47"/>
      <path d="M37.46,44.55a1.86,1.86,0,1,0-1.76-1.86A1.7,1.7,0,0,0,37.46,44.55Zm0-3c.65,0,.87.51.87,1.12s-.22,1.13-.87,1.13-.86-.51-.86-1.13S36.81,41.57,37.46,41.57Z"/>
      <polygon points="41.42 42.25 41.95 44.47 42.85 44.47 43.75 40.92 42.86 40.92 42.4 43.33 42.39 43.33 41.84 40.92 40.99 40.92 40.44 43.33 40.43 43.33 39.97 40.92 39.08 40.92 39.98 44.47 40.88 44.47 41.41 42.25 41.42 42.25"/>
      <polygon points="46.05 43.03 46.04 43.03 44.79 40.92 43.9 40.92 43.9 44.47 44.79 44.47 44.79 42.36 44.8 42.36 46.05 44.47 46.94 44.47 46.94 40.92 46.05 40.92 46.05 43.03"/>
      <path d="M47.66,40.87a.41.41,0,0,0-.44.42.43.43,0,0,0,.47.43.46.46,0,0,1-.42.43v.35a1,1,0,0,0,.85-1C48.12,41.1,48,40.87,47.66,40.87Z"/>
      <path d="M49.88,42.26c-.45-.12-.67-.19-.67-.41s.21-.28.47-.28.58.16.62.42h.89c0-.72-.67-1.15-1.51-1.15s-1.37.3-1.37,1.08.54.92,1.15,1.09.89.22.89.5-.18.31-.52.31-.72-.14-.72-.52h-.9c0,.79.7,1.25,1.62,1.25s1.41-.44,1.41-1.12S50.55,42.45,49.88,42.26Z"/>
      <path d="M19,47.24h0a.75.75,0,0,0,.56-.75c0-.61-.39-.9-1.13-.9H16.73v3.56h1.78c.73,0,1.22-.3,1.22-1A.8.8,0,0,0,19,47.24Zm-1.4-.93h.61c.25,0,.45.06.45.36s-.2.35-.45.35h-.61Zm.64,2.1h-.64v-.84h.64c.37,0,.56.08.56.41S18.64,48.41,18.27,48.41Z"/>
      <polygon points="20.87 47.68 22.42 47.68 22.42 46.94 20.87 46.94 20.87 46.31 22.67 46.31 22.67 45.58 19.97 45.58 19.97 49.14 22.7 49.14 22.7 48.41 20.87 48.41 20.87 47.68"/>
      <path d="M24.47,46.93c-.45-.12-.67-.19-.67-.41s.21-.29.47-.29.58.16.62.43h.89c0-.72-.67-1.16-1.51-1.16s-1.37.31-1.37,1.08.54.92,1.15,1.1.89.21.89.5-.18.31-.52.31-.72-.14-.72-.52h-.9c0,.79.7,1.25,1.62,1.25s1.41-.45,1.41-1.13S25.14,47.11,24.47,46.93Z"/>
      <polygon points="25.81 46.31 26.84 46.31 26.84 49.14 27.74 49.14 27.74 46.31 28.77 46.31 28.77 45.58 25.81 45.58 25.81 46.31"/>
      <path d="M32,47.5h0a.85.85,0,0,0,.72-.87c0-.68-.48-1-1.27-1H29.74v3.56h.9V47.9h.56c.76,0,.43,1.09.61,1.24h.93v0C32.53,49,32.86,47.65,32,47.5Zm-.72-.33h-.61v-.86h.61c.35,0,.54.13.54.43S31.6,47.17,31.25,47.17Z"/>
      <path d="M34.07,45.58l-1.29,3.56h.9l.23-.74h1.22l.23.74h.89L35,45.58Zm0,2.14.41-1.32h0l.4,1.32Z"/>
      <path d="M38,45.58H36.4v3.56H38c1,0,1.54-.63,1.54-1.78S39,45.58,38,45.58Zm-.09,2.83H37.3v-2.1h.59c.56,0,.78.41.78,1S38.45,48.41,37.89,48.41Z"/>
      <rect x="39.82" y="45.58" width="0.9" height="3.56"/>
      <path d="M42.74,45.5a1.86,1.86,0,1,0,1.76,1.86A1.7,1.7,0,0,0,42.74,45.5Zm0,3c-.65,0-.86-.51-.86-1.13s.21-1.13.86-1.13.87.51.87,1.13S43.39,48.49,42.74,48.49Z"/>
      <path d="M94.91,39.36c-3.89,0-6.42,2.84-6.42,5.81a5.38,5.38,0,0,0,5.59,5.51,6.78,6.78,0,0,0,2.5-.48,6.75,6.75,0,0,1-6.31,5.41v1.48c5.24-.36,11-3.35,11-10.05C101.32,42.35,98.89,39.36,94.91,39.36Zm2,9.18a3.46,3.46,0,0,1-1.65.44c-1.65,0-2.53-1.55-2.53-3.81,0-2.46.61-4.25,2.17-4.25s2.16,2,2.16,5.29A16.59,16.59,0,0,1,96.92,48.54Z"/>
      <path d="M110,46.87c2.07-.66,3.11-2,3.11-3.69,0-2.17-1.92-3.82-5.44-3.82-3.2,0-5.08,1.82-5.32,4.88H104c.17-2.16,1.31-3.18,2.69-3.18s2.14,1,2.14,2.58c0,1.79-.82,2.89-2.48,2.89H106v1.65h.44c2.28,0,3.45,1.55,3.45,3.67s-.71,3.59-2.6,3.59-1.43-3.08-3.79-3.08a1.65,1.65,0,0,0-1.73,1.75c0,2.09,2.9,3,5.28,3,4.59,0,7.09-2.55,7.09-5.78A4.55,4.55,0,0,0,110,46.87Z"/>
      <path d="M117.2,48.06a2.26,2.26,0,1,0,0,4.52,2.26,2.26,0,1,0,0-4.52Z"/>
      <path d="M128.47,49.54V39.36h-1.74l-5,2.38v.95h2c.43,0,.6.19.6.73v6.12c0,1.38-.65,1.58-2.64,1.7v1h9.42v-1C129.15,51.12,128.47,50.92,128.47,49.54Z"/>
      <path d="M138.4,39.37H133c-1.47,0-2.59.78-2.59,2.14a1.62,1.62,0,0,0,1.6,1.72,1.36,1.36,0,0,0,1.51-1.32.83.83,0,0,0-.79-.92.66.66,0,0,0-.68.69c0,.31.17.42.17.67s-.1.25-.31.25c-.46,0-.83-.4-.83-1.09,0-.89.68-1.55,1.92-1.55h.5c.39,0,.64.12.64.45V44.5c0,.49-.13.56-.69.61v.36h3v-.36c-.6,0-.73-.12-.73-.61V42.59h1c.63,0,.72.31.74.75h.4v-2.1h-.4c0,.44-.11.75-.74.75h-1V40.22a.25.25,0,0,1,.26-.26h.38a2.52,2.52,0,0,1,2.3,1.13l.32-.14Z"/>
      <path d="M146.29,39.74v-.37h-2.48l-1.3,3.56-1.29-3.56h-2.55v.37c.56,0,.69.1.69.61V44.5c0,.49-.13.56-.69.61v.36h2.05v-.36c-.56,0-.69-.12-.69-.61V40.65l1.76,4.82h.51l1.76-4.85V44.5c0,.49-.13.56-.69.61v.36h2.92v-.36c-.56,0-.69-.12-.69-.61V40.35C145.6,39.84,145.73,39.78,146.29,39.74Z"/>
      <path d="M17.24,30.52a1.07,1.07,0,0,0-1.07-1.09c-.87,0-1,.79-1.46.79s-.6-.4-.6-.86c0-.93.72-1.44,1.68-1.44a13.37,13.37,0,0,1,2.32.36v7c0,.77-.21.88-1.07.94v.57h4.51V36.2c-.86-.06-1.06-.17-1.06-.94V28.74c.51.07,1,.12,1.53.14.16,0,.31,0,.45,0a.39.39,0,0,1,.14.35v6.41c0,.41-.15.53-.75.59v.57h3.57V36.2c-.62-.06-.76-.18-.76-.59v-3.7a2.1,2.1,0,0,1,1.21-.41.81.81,0,0,1,.88.91v3.2c0,.41-.14.53-.76.59v.57h3.57V36.2c-.6-.06-.75-.18-.75-.59V32.46a1.88,1.88,0,0,0-2.13-2.1,4,4,0,0,0-2,.66V27.14h-.75l-1.29.71a9.43,9.43,0,0,1-1.84-.52,11.57,11.57,0,0,0-3.95-.92c-1.95,0-3.66,1.15-3.66,2.95a2.35,2.35,0,0,0,2.39,2.53C16.61,31.89,17.24,31.32,17.24,30.52Z"/>
      <path d="M35.82,33.31a2.72,2.72,0,0,0-3-3,3.18,3.18,0,0,0-3.33,3.3A3.23,3.23,0,0,0,33,37a3.07,3.07,0,0,0,3-2l-.74-.42a2.32,2.32,0,0,1-2,1.5c-1.18,0-1.67-.82-1.67-2.41,0-.11,0-.23,0-.35Zm-3-2.14c.61,0,1,.48,1,1.28h-2.2C31.8,31.6,32.12,31.17,32.86,31.17Z"/>
      <path d="M82.57,38.52c-4,0-3.15,4.88-6.63,4.88-2.31,0-5.19-2.07-8.82-6.6H77.37V35.08c-1.88-.2-2.29-.57-2.29-1.8v-16H72.79l-6.27,3.44v1.6h1.27c.74,0,1,.37,1,1.23v9.7c0,1.23-.45,1.6-2.29,1.8v1A120.74,120.74,0,0,1,58,23c4.63-.73,7.42-2.86,7.42-7.33,0-5.89-5-7.57-13.48-7.57H35.73c-6.88,0-12.17,3.68-12.17,10,0,5.2,3.28,8.11,7.54,8.11s7.12-2.7,7.12-6.35c0-2-1.14-4.18-3.64-4.18A3.17,3.17,0,0,0,31.3,19c0,1.52.78,1.88.78,2.91,0,.86-.49,1.39-1.6,1.39-1.88,0-3.93-1.84-3.93-5.16,0-4.14,3.36-7.25,9.18-7.25H38.1c1.76,0,2.95.49,3,2.05V32.22c0,2.33-.61,2.66-3.23,2.86V36.8H51.57V35.08c-2.62-.2-3.23-.53-3.23-2.86V23.49h2C60.54,40.86,68.86,46.75,77.5,46.75c6.06,0,8.39-2.49,8.39-5A3.26,3.26,0,0,0,82.57,38.52ZM51.86,20.71H48.34V12.15a1.16,1.16,0,0,1,1.23-1.23H52c3.53,0,5.7,1,5.7,4.79S55.51,20.71,51.86,20.71Z"/>
      <path d="M72.09,14.73a3.44,3.44,0,0,0,3.64-3.36,3.48,3.48,0,0,0-3.64-3.44,3.43,3.43,0,0,0-3.64,3.44A3.39,3.39,0,0,0,72.09,14.73Z"/>
      <path d="M96.58,19.64V17.92H89.13v1.72c1.92.21,2.53.74,1.76,2.75L88,29.47l-2.87-7.12c-.73-2-.28-2.5,1.81-2.71V17.92H75.65v1.72c1.56.21,1.93.95,2.66,2.87L84.13,36.8H88l5.85-14.29C94.57,20.63,95.15,19.85,96.58,19.64Z"/>
      <path d="M105.67,37.42c4.71,0,7.29-2.42,9-6l-2.25-1.27c-1.44,2.91-3.65,4.54-6,4.54-3.61,0-5.08-2.49-5.08-7.33a9.84,9.84,0,0,1,0-1.06h12.74c0-5.53-3.24-9-9.14-9a9.66,9.66,0,0,0-10.11,10C94.9,33.2,98.91,37.42,105.67,37.42Zm-.53-17.65c1.84,0,3.07,1.47,3.07,3.89h-6.68C101.9,21.08,102.89,19.77,105.14,19.77Z"/>
      <path d="M125.16,35.08c-1.88-.2-2.29-.57-2.29-1.8V22.84A2.62,2.62,0,0,1,125,21.69c1.35,0,1.19,2.13,3.68,2.13a2.92,2.92,0,0,0,2.83-3.23c0-2.05-1.39-3.28-3.6-3.28a7,7,0,0,0-5,2.42V17.31h-2.29l-6.27,3.44v1.6h1.27c.74,0,1,.37,1,1.23v9.7c0,1.23-.45,1.6-2.29,1.8V36.8h10.85Z"/>
  </svg>
  {% if url %}</a>{% endif %}
