{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
		xmlns="http://www.w3.org/2000/svg"
		{% comment %} viewBox="0 0 94.05 28.88" {% endcomment %}
		viewBox="0 0 94 29"
		style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
	>
	<path d="M33.55,20.18l-1,2.88h.72l.19-.6h1l.18.6h.73l-1-2.88Zm0,1.73.33-1.07h0l.32,1.07Z"/>
		<path d="M37.24,21.73h0a.68.68,0,0,0,.58-.7c0-.55-.38-.84-1-.84H35.44v2.88h.72v-1h.45c.62,0,.36.88.5,1h.75v0C37.7,23,38,21.85,37.24,21.73Zm-.59-.27h-.49v-.69h.49c.29,0,.45.11.45.35S36.94,21.46,36.65,21.46Z"/>
		<polygon points="37.91 20.77 38.75 20.77 38.75 23.06 39.47 23.06 39.47 20.77 40.31 20.77 40.31 20.18 37.91 20.18 37.91 20.77"/>
		<rect x="40.5" y="20.18" width="0.73" height="2.88"/>
		<path d="M42.79,21.27c-.36-.1-.54-.16-.54-.33s.17-.23.38-.23.47.12.5.34h.72c0-.58-.54-.94-1.22-.94s-1.11.25-1.11.88.44.74.93.89.72.17.72.4-.15.25-.42.25-.58-.11-.58-.42h-.73c0,.64.56,1,1.31,1s1.14-.36,1.14-.91S43.33,21.42,42.79,21.27Z"/>
		<polygon points="43.87 20.77 44.71 20.77 44.71 23.06 45.44 23.06 45.44 20.77 46.27 20.77 46.27 20.18 43.87 20.18 43.87 20.77"/>
		<path d="M47.63,21.27c-.36-.1-.55-.16-.55-.33s.17-.23.39-.23.46.12.5.34h.72c0-.58-.55-.94-1.22-.94s-1.11.25-1.11.88.43.74.93.89.72.17.72.4-.15.25-.42.25-.59-.11-.59-.42h-.72c0,.64.56,1,1.31,1s1.14-.36,1.14-.91S48.17,21.42,47.63,21.27Z"/>
		<path d="M50.87,22.05h.55a.52.52,0,0,1-.58.48c-.5,0-.68-.37-.68-.91s.18-.91.66-.91a.54.54,0,0,1,.58.42h.72a1.18,1.18,0,0,0-1.29-1,1.36,1.36,0,0,0-1.4,1.51,1.33,1.33,0,0,0,1.31,1.5.87.87,0,0,0,.83-.43h0l.07.37h.52V21.53h-1.3Z"/>
		<path d="M54.1,22c0,.37-.16.51-.48.51s-.48-.14-.48-.51V20.18h-.72V22c0,.72.33,1.1,1.2,1.1s1.2-.38,1.2-1.1V20.18H54.1Z"/>
		<rect x="55.12" y="20.18" width="0.73" height="2.88"/>
		<polygon points="56.89 20.18 56.16 20.18 56.16 23.06 58.17 23.06 58.17 22.47 56.89 22.47 56.89 20.18"/>
		<path d="M59.64,20.18H58.36v2.88h1.32c.8,0,1.24-.51,1.24-1.44S60.44,20.18,59.64,20.18Zm-.08,2.29h-.48v-1.7h.48c.45,0,.64.33.64.85S60,22.47,59.56,22.47Z"/>
		<path d="M22.17,6.44a5.19,5.19,0,0,0-1.34-.51,7.38,7.38,0,0,0-1.56-.17A6.78,6.78,0,0,0,17.59,6a4.67,4.67,0,0,0-1.47.65,3.58,3.58,0,0,0-1.05,1.14,3.3,3.3,0,0,0-.4,1.65,2.81,2.81,0,0,0,.48,1.6,6.75,6.75,0,0,0,1.19,1.35,16.38,16.38,0,0,0,1.55,1.22c.55.38,1.07.77,1.54,1.17A6.53,6.53,0,0,1,20.62,16a2.26,2.26,0,0,1,.48,1.4,2.22,2.22,0,0,1-.25,1.11,2,2,0,0,1-1.27.94,2.64,2.64,0,0,1-.54.07A2.78,2.78,0,0,1,18,19.3a4.91,4.91,0,0,1-.83-.45,3.9,3.9,0,0,1-.75-.65,1.14,1.14,0,0,0-.45-.33l-.25-.09a1.19,1.19,0,0,0-.45.1,1.48,1.48,0,0,0-.44.25,1.5,1.5,0,0,0-.35.36.72.72,0,0,0-.14.41.4.4,0,0,0,.07.26.36.36,0,0,0,.07.1,1.8,1.8,0,0,0,.44.43,3,3,0,0,0,.59.32,6.42,6.42,0,0,0,.66.24,5.73,5.73,0,0,0,.69.16,9.42,9.42,0,0,0,1.65.16,7.57,7.57,0,0,0,2-.32,5,5,0,0,0,1.35-.65,3.24,3.24,0,0,0,.85-.84,3.92,3.92,0,0,0,.46-.88,3.82,3.82,0,0,0,.2-.77c0-.23,0-.41,0-.53a3.46,3.46,0,0,0-.48-1.84,5.82,5.82,0,0,0-1.18-1.4,11.68,11.68,0,0,0-1.54-1.12c-.56-.34-1.07-.68-1.54-1a6.52,6.52,0,0,1-1.19-1A1.87,1.87,0,0,1,17,8.92a3,3,0,0,1,.15-1,2,2,0,0,1,.42-.68,1.59,1.59,0,0,1,.59-.37,2.11,2.11,0,0,1,.71-.11,2.89,2.89,0,0,1,.91.15,3.3,3.3,0,0,1,.84.42,2.56,2.56,0,0,1,.61.62,1.31,1.31,0,0,1,.23.73.13.13,0,0,1,0,.06l0,0,0,0-.77.48-.49.28-.3.18a1.88,1.88,0,0,0-.24.18.32.32,0,0,0-.09.21.43.43,0,0,0,.18.37.54.54,0,0,0,.26.13.33.33,0,0,0,.15,0l.07,0,3.11-1.86a.52.52,0,0,0,.21-.21.41.41,0,0,0,.05-.18,1.73,1.73,0,0,0-.36-1.07A3,3,0,0,0,22.17,6.44Z"/>
		<path d="M79.67,14.79c0-.12-.09-.19-.15-.19a.09.09,0,0,0-.07,0,7.5,7.5,0,0,1-.54.75.74.74,0,0,1-.6.27.39.39,0,0,1-.36-.22.94.94,0,0,1-.1-.43c0-.44,0-.83,0-1.19v-.87c0-.27,0-.43,0-.49a1.57,1.57,0,0,0-.24-1,.75.75,0,0,0-.61-.29,1.9,1.9,0,0,0-.85.24,5.59,5.59,0,0,0-.89.57,5.68,5.68,0,0,0-.76.7,2.82,2.82,0,0,0-.48.66,1,1,0,0,1,0-.21c0-.11,0-.25,0-.4l0-.46c0-.14,0-.29,0-.42s0-.24,0-.31-.09-.23-.26-.23a1.46,1.46,0,0,0-.25,0l-.4.06-.4.07-.27,0a.41.41,0,0,0-.22.12.55.55,0,0,0-.08.15,2,2,0,0,0,0,.32c0,.18,0,.41,0,.68s0,.57,0,.89,0,.63,0,.92v.08a2.39,2.39,0,0,1-.13.21l-.18.24a.58.58,0,0,1-.8.27c-.08-.05-.16-.12-.25-.19a6.51,6.51,0,0,0,.13-.77c0-.26,0-.52,0-.78a6.54,6.54,0,0,0-.1-1.11,3.5,3.5,0,0,0-.28-.93,1.69,1.69,0,0,0-.46-.65,1,1,0,0,0-.65-.25.63.63,0,0,0-.58.29,1.5,1.5,0,0,0-.17.74A6.44,6.44,0,0,0,69,13.68a5.39,5.39,0,0,0,.74,1.56,2.11,2.11,0,0,1-.5.53,1,1,0,0,1-.63.23,1,1,0,0,1-.56-.19,2.07,2.07,0,0,1-.59-.64.68.68,0,0,0,.08-.21c0-.11.07-.25.11-.4s.06-.33.08-.5a2.9,2.9,0,0,0,0-.48,1.88,1.88,0,0,0-.06-.46,2,2,0,0,0-.17-.43.94.94,0,0,0-.27-.32.54.54,0,0,0-.7,0,1.07,1.07,0,0,0-.26.35,2.18,2.18,0,0,0-.14.49,3.68,3.68,0,0,0-.07.58,5.62,5.62,0,0,0,0,.6q0,.25.09.45c0,.15.08.29.12.41a.63.63,0,0,1-.18.24,1.51,1.51,0,0,1-.28.22,1.66,1.66,0,0,1-.32.17.67.67,0,0,1-.27.07.6.6,0,0,1-.54-.41,3.2,3.2,0,0,1-.2-1.36c0-.25,0-.51,0-.77s0-.51,0-.75,0-.44,0-.62,0-.31,0-.39a.2.2,0,0,0-.14-.21,1.3,1.3,0,0,0-.4-.05h-.91a.37.37,0,0,0-.23.06.48.48,0,0,0-.11.15.41.41,0,0,0,0,.22c0,.2,0,.51-.08,1s-.07,1-.07,1.55c0,.09,0,.19,0,.28a1.28,1.28,0,0,1-.15.25l-.18.24a1.51,1.51,0,0,1-.51.45,1,1,0,0,1-.53.15h-.11a4.12,4.12,0,0,0,.26-1.4,3.56,3.56,0,0,0-.11-.86,2,2,0,0,0-.33-.71,1.76,1.76,0,0,0-.56-.49,1.61,1.61,0,0,0-.78-.18.85.85,0,0,0-.75.35,1.56,1.56,0,0,0-.23.87,3,3,0,0,0,.09.69,3.43,3.43,0,0,0,.25.72,3.59,3.59,0,0,0,.42.67,3.16,3.16,0,0,0,.56.54,1.28,1.28,0,0,1-.38.26,1.35,1.35,0,0,1-.5.09,1.62,1.62,0,0,1-.81-.19,1.58,1.58,0,0,1-.58-.51,2.12,2.12,0,0,1-.34-.71,2.66,2.66,0,0,1-.12-.79,2.48,2.48,0,0,1,.1-.73,1.81,1.81,0,0,1,.28-.63,1.65,1.65,0,0,1,.47-.44,1.22,1.22,0,0,1,.64-.16.31.31,0,0,0,.25-.11.35.35,0,0,0,.09-.25.53.53,0,0,0-.2-.37.91.91,0,0,0-.66-.19,2.39,2.39,0,0,0-1.21.3,2.93,2.93,0,0,0-.89.79,3.84,3.84,0,0,0-.55,1.11,4.24,4.24,0,0,0-.18,1.22h0a3.07,3.07,0,0,1-.85,1,1.56,1.56,0,0,1-.84.32.64.64,0,0,1-.5-.21.9.9,0,0,1-.19-.63c0-.42,0-.91,0-1.47s0-1.12.06-1.71l1.69-.55a.61.61,0,0,0,.18-.08s.08-.07.09-.1a.12.12,0,0,0,0-.09c0-.07,0-.15,0-.25a1.52,1.52,0,0,0,0-.23,1.77,1.77,0,0,0,0-.23.18.18,0,0,0,0-.14.2.2,0,0,0-.11,0h-.1l0,0-.53.19-.53.18-.63.22c0-.4,0-.79.06-1.15s0-.68.06-1,0-.5,0-.66,0-.26,0-.27a.41.41,0,0,0,0-.19.25.25,0,0,0-.2-.08l-.21,0-.38.12-.44.16L51.71,8a1,1,0,0,0-.15.38c0,.21-.08.47-.11.79s-.06.69-.09,1.09,0,.82-.07,1.25l-.11,0c-.08,0-.12.07-.12.11l0,.08c0,.11,0,.21,0,.31a1.93,1.93,0,0,0,0,.24v.19c0,.08,0,.12.07.12h.09l.07,0c0,.56,0,1.07,0,1.55v.51c-.05.06-.12.17-.22.32a3,3,0,0,1-.42.49,2.61,2.61,0,0,1-.61.45,1.69,1.69,0,0,1-.82.2,1.27,1.27,0,0,1-1-.43,2.79,2.79,0,0,1-.57-1,9.3,9.3,0,0,0,1.13-.78,8.86,8.86,0,0,0,.88-.8,3.64,3.64,0,0,0,.56-.77,1.47,1.47,0,0,0,.21-.71,1.33,1.33,0,0,0-.35-1,1.24,1.24,0,0,0-.94-.36,3,3,0,0,0-1.51.38,3.52,3.52,0,0,0-1.06,1,4.47,4.47,0,0,0-.64,1.4,6,6,0,0,0-.21,1.55v.06a9.65,9.65,0,0,1-.56.79.81.81,0,0,1-.64.34.49.49,0,0,1-.45-.21,2,2,0,0,1-.22-.51c-.05-.21-.11-.42-.18-.66a2,2,0,0,0-.36-.65,3.13,3.13,0,0,0,.48-.45,5.33,5.33,0,0,0,.53-.68,5.94,5.94,0,0,0,.43-.77,2,2,0,0,0,.17-.72,1,1,0,0,0-.25-.79A.77.77,0,0,0,44,10.1a.88.88,0,0,0-.58.22.71.71,0,0,0-.27.59c0,.1,0,.22,0,.37s0,.34,0,.55a1.49,1.49,0,0,1-.07.47,2.54,2.54,0,0,1-.18.41,3.37,3.37,0,0,1-.21.34,1.83,1.83,0,0,1-.19.24,2.71,2.71,0,0,0-1-.16,1.81,1.81,0,0,0-.54.07v0a0,0,0,0,1,0,0c0-.07,0-.28,0-.63s0-.76,0-1.23,0-1,0-1.54,0-1.05,0-1.52,0-.86,0-1.19,0-.51,0-.57-.09-.23-.26-.23l-.25,0-.4.06-.4.08-.27.05q-.3.08-.3.27V8.08c0,.58,0,1.24,0,2v4.57L39,15a3.55,3.55,0,0,1-.23.31,3.33,3.33,0,0,1-.46.46.73.73,0,0,1-.49.19.28.28,0,0,1-.21-.07.52.52,0,0,1-.12-.19,1,1,0,0,1,0-.24,2.09,2.09,0,0,1,0-.24V11.48a.26.26,0,0,0,0-.14l-.06-.08-.09,0a7.9,7.9,0,0,0-2.71.4,5.32,5.32,0,0,0-1.8,1,3.6,3.6,0,0,0-1,1.35,4.2,4.2,0,0,0-.21.66h0a7.5,7.5,0,0,1-.54.75.74.74,0,0,1-.6.27.39.39,0,0,1-.36-.22A.94.94,0,0,1,30,15c0-.39,0-.76,0-1.1v-.85c0-.28,0-.48,0-.6a1.57,1.57,0,0,0-.24-1,.76.76,0,0,0-.61-.29,1.87,1.87,0,0,0-.85.24,5.59,5.59,0,0,0-.89.57,5.78,5.78,0,0,0-.77.7,3.05,3.05,0,0,0-.47.66,1,1,0,0,1,0-.21V11.9c0-.33,0-.69,0-1.08s0-.81,0-1.22,0-.82,0-1.21,0-.75,0-1.06,0-.58,0-.79,0-.33,0-.36S26.16,6,26,6a1.46,1.46,0,0,0-.25,0l-.4.06-.4.07-.27.05a.41.41,0,0,0-.22.12.55.55,0,0,0-.08.15,3.88,3.88,0,0,0,0,.56c0,.36,0,.81,0,1.35s0,1.13,0,1.78,0,1.26,0,1.86,0,1.14,0,1.62,0,.82,0,1c0,.38,0,.75,0,1.11s0,.68,0,1,0,.65.05.94a.25.25,0,0,0,0,.16l.08.08a.14.14,0,0,0,.12,0h1.54c.08,0,.13-.05.17-.15a.7.7,0,0,0,0-.16c0-.5-.05-.9-.06-1.2s0-.55,0-.73,0-.3,0-.38a1.62,1.62,0,0,1,0-.21,1.81,1.81,0,0,1,.14-.6,3.68,3.68,0,0,1,.37-.71,2.9,2.9,0,0,1,.49-.59.77.77,0,0,1,.49-.25q.11,0,.18.24a5.1,5.1,0,0,1,.1.59c0,.23,0,.48,0,.75s0,.51,0,.74a8.69,8.69,0,0,0,.07,1.23,3.37,3.37,0,0,0,.21.81,1,1,0,0,0,.32.44.59.59,0,0,0,.4.14,1.22,1.22,0,0,0,.67-.24,4.71,4.71,0,0,0,.73-.6,7.44,7.44,0,0,0,.73-.82c.12-.15.22-.29.32-.44a3.4,3.4,0,0,0,.12.65,2.52,2.52,0,0,0,.38.79,2.09,2.09,0,0,0,.57.54,1.39,1.39,0,0,0,.72.2,1.41,1.41,0,0,0,.69-.22,4.21,4.21,0,0,0,.75-.49,5.82,5.82,0,0,0,.61-.52l.28-.28a3,3,0,0,0,.36,1,.78.78,0,0,0,.71.43.85.85,0,0,0,.37-.11,2.5,2.5,0,0,0,.43-.29c.15-.12.31-.26.46-.4s.32-.31.47-.47.54-.61.82-.95v.59c0,.4,0,.8,0,1.2a.5.5,0,0,0,.05.16.32.32,0,0,0,.09.08.1.1,0,0,0,.1,0h1.28c.07,0,.12-.05.16-.15a.39.39,0,0,0,0-.16c0-.57,0-1.12,0-1.64s0-1,0-1.4l.13,0h.1a.74.74,0,0,1,.59.26,2,2,0,0,1,.35.65,6.42,6.42,0,0,1,.22.84c.06.3.12.59.19.85a2.45,2.45,0,0,0,.26.65.48.48,0,0,0,.44.25,1.14,1.14,0,0,0,.65-.23,4,4,0,0,0,.69-.59q.34-.37.69-.81l.47-.66c0,.1,0,.2.07.3a3.68,3.68,0,0,0,.52,1,2.8,2.8,0,0,0,.81.73,2,2,0,0,0,1,.27,2,2,0,0,0,.92-.24A4.67,4.67,0,0,0,50,17a5.85,5.85,0,0,0,.82-.83c.14-.18.27-.35.39-.52a7.55,7.55,0,0,0,.08.78,3.42,3.42,0,0,0,.27.82,1.15,1.15,0,0,0,.42.45,1,1,0,0,0,.5.13,1.7,1.7,0,0,0,.81-.22,4.46,4.46,0,0,0,.87-.59,8,8,0,0,0,.83-.82c.2-.24.38-.48.55-.72a3.4,3.4,0,0,0,.07.34,3.12,3.12,0,0,0,.52,1,2.66,2.66,0,0,0,.9.72,2.8,2.8,0,0,0,1.27.27,2.77,2.77,0,0,0,1.58-.43,3.45,3.45,0,0,0,1-1.08,3,3,0,0,0,.42,0,1.66,1.66,0,0,0,.82-.25,2.19,2.19,0,0,0,.61-.55,3.67,3.67,0,0,0,.21.94,2.41,2.41,0,0,0,.58.9,1.45,1.45,0,0,0,1,.36,1.63,1.63,0,0,0,.73-.17A3.42,3.42,0,0,0,66,17.2a3.37,3.37,0,0,0,.42-.44,1.75,1.75,0,0,0,.2-.28.11.11,0,0,1,.11-.06q.1,0,.24.21a3,3,0,0,0,.34.45,2.59,2.59,0,0,0,.52.45,1.52,1.52,0,0,0,.84.21,1.56,1.56,0,0,0,1.17-.49A3.4,3.4,0,0,0,70.56,16a1.22,1.22,0,0,0,.61.18,1.26,1.26,0,0,0,.65-.2,2.24,2.24,0,0,0,.33-.3v.05c0,.36,0,.68,0,1s0,.65,0,.94a.25.25,0,0,0,0,.16l.08.08a.14.14,0,0,0,.12,0H74c.08,0,.13-.05.17-.15a.39.39,0,0,0,0-.16c0-.5,0-.9-.06-1.2s0-.55,0-.73,0-.3,0-.38a1.62,1.62,0,0,1,0-.21,1.81,1.81,0,0,1,.14-.6,3.68,3.68,0,0,1,.37-.71,2.9,2.9,0,0,1,.49-.59.77.77,0,0,1,.49-.25q.11,0,.18.24a5.1,5.1,0,0,1,.1.59c0,.23,0,.48,0,.75s0,.51,0,.74A8.69,8.69,0,0,0,76,16.46a3.37,3.37,0,0,0,.21.81,1,1,0,0,0,.32.44.61.61,0,0,0,.4.14,1.22,1.22,0,0,0,.67-.24,4.71,4.71,0,0,0,.73-.6,7.44,7.44,0,0,0,.73-.82c.24-.3.46-.59.66-.88a.54.54,0,0,0,0-.17A1.22,1.22,0,0,0,79.67,14.79ZM35.55,13.58v1.91a.24.24,0,0,1,0,.1,5.8,5.8,0,0,1-.43.43,3.79,3.79,0,0,1-.4.3.66.66,0,0,1-.36.14.54.54,0,0,1-.35-.14,1.15,1.15,0,0,1-.28-.36,1.87,1.87,0,0,1-.18-.52,2.51,2.51,0,0,1-.07-.62,3.3,3.3,0,0,1,.11-.82,2.36,2.36,0,0,1,.36-.79,2.6,2.6,0,0,1,1.67-1.05C35.56,12.67,35.55,13.14,35.55,13.58Zm11.88.1v-.2a3.74,3.74,0,0,1,.08-.82,2.41,2.41,0,0,1,.24-.7,1.51,1.51,0,0,1,.4-.49.89.89,0,0,1,.55-.18.49.49,0,0,1,.19.07c.1,0,.15.17.15.38a1.26,1.26,0,0,1-.17.56,4.6,4.6,0,0,1-.42.63,5.57,5.57,0,0,1-.52.57,2.61,2.61,0,0,1-.49.37A1.15,1.15,0,0,1,47.43,13.68Zm13,1.68a3,3,0,0,1-.71-.88,2.22,2.22,0,0,1-.27-1c0-.25.1-.38.31-.38a.55.55,0,0,1,.35.12,1.21,1.21,0,0,1,.26.32,1.83,1.83,0,0,1,.16.45,2.32,2.32,0,0,1,0,.53A2.5,2.5,0,0,1,60.39,15.36Z"/>
	</svg>
{% if url %}</a>{% endif %}
