{% assign fill = fill | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 293.23 237.71">
  <defs><style>.a3422a9a-e29b-46d4-b589-726f153c4614{fill:#231f20;}</style></defs>
  <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M203.35,205.89H189.69v5.51h5.77c-.08,2.92-2.54,5-6.06,5-5.3,0-7.21-3.9-7.21-9.62s1.91-9.58,6.91-9.58c4.2,0,5.6,2.41,6.15,4.49h7.63c-.72-5.81-5.34-10.73-13.65-10.73-9.54,0-14.67,6.7-14.67,15.82s5.13,15.86,13.74,15.86c4.45,0,7.29-1.78,8.73-4.54h.08l.77,3.86h5.47Z"/>
    <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M219.29,197.24c4,0,5.56,2.41,6.11,5.72H233c-.72-7-5.13-12-13.4-12-9.58,0-14.71,6.7-14.71,15.82s5.13,15.86,14.71,15.86c8.31,0,12.72-4.92,13.4-12H225.4c-.51,3.39-2,5.8-6.11,5.8-5,0-6.74-3.9-6.74-9.62S214.25,197.24,219.29,197.24Z"/>
    <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M253.81,208v-.09c3.77-.85,6.15-3.39,6.15-7.42,0-5.72-4.07-8.82-10.81-8.82H234.86V222h7.63V211.44h4.75c6.49,0,3.73,9.29,5.21,10.56h7.93v-.42C258.64,221.07,261.4,209.32,253.81,208Zm-6.15-2.8h-5.17v-7.3h5.17c3.05,0,4.67,1.11,4.67,3.65S250.71,205.21,247.66,205.21Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M258.66,192.94h.2c.27,0,.15.39.22.44h.33v0c-.08,0,0-.51-.28-.56h0a.3.3,0,0,0,.26-.31c0-.24-.17-.37-.45-.37h-.59v1.26h.31Zm0-.56h.22c.12,0,.19.05.19.16s-.07.15-.19.15h-.22Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M258.85,193.93a1.17,1.17,0,1,0-1.16-1.17A1.14,1.14,0,0,0,258.85,193.93Zm0-2.11a.94.94,0,1,1-.87.93A.84.84,0,0,1,258.85,191.82Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M178.53,230h1.27a1.21,1.21,0,0,1-1.33,1.11c-1.17,0-1.59-.86-1.59-2.12s.42-2.11,1.52-2.11a1.25,1.25,0,0,1,1.36,1h1.68a2.76,2.76,0,0,0-3-2.36c-2.1,0-3.23,1.47-3.23,3.48s1.13,3.49,3,3.49a2,2,0,0,0,1.93-1h0l.16.86h1.21v-3.55h-3Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M182.85,225.7a.67.67,0,1,0,.75.66A.67.67,0,0,0,182.85,225.7Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="182.11" y="227.59" width="1.49" height="4.78"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M188.46,231.67v-2.2c0-1.5-.75-2-2.09-2-1.56,0-2.22.78-2.27,1.69h1.41c0-.45.3-.66.85-.66s.6.17.6.45-.6.49-1.22.62c-1.12.22-1.82.66-1.82,1.61,0,.8.56,1.37,1.57,1.37a2,2,0,0,0,1.5-.65h0c0,.34.19.65.86.65a2.4,2.4,0,0,0,.87-.14V232C188.55,232,188.46,231.92,188.46,231.67Zm-1.5-1a.85.85,0,0,1-1,.87c-.36,0-.6-.17-.6-.56s.2-.54.79-.68a4.77,4.77,0,0,0,.76-.21Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M192.2,227.44a1.69,1.69,0,0,0-1.57.84h0v-.69h-1.49v4.79h1.49v-2.77c0-.66.33-1,.9-1s.75.24.75,1v2.76h1.49v-3.24A1.5,1.5,0,0,0,192.2,227.44Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M196.06,226.26h-1.5v1.33h-.66v1.12h.66v2.1c0,1.07.31,1.65,1.41,1.65a4.28,4.28,0,0,0,.92-.1v-1.12c-.63,0-.83,0-.83-.55v-2h.83v-1.12h-.83Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M201.64,226.92c.89,0,1.23.53,1.35,1.26h1.68a2.72,2.72,0,0,0-2.95-2.63c-2.11,0-3.24,1.47-3.24,3.48s1.13,3.49,3.24,3.49a2.72,2.72,0,0,0,2.95-2.65H203c-.11.75-.45,1.28-1.35,1.28-1.11,0-1.48-.86-1.48-2.12S200.53,226.92,201.64,226.92Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M207.32,227.44a2.54,2.54,0,0,0,.09,5.08,2.14,2.14,0,0,0,2.3-1.59h-1.48a.84.84,0,0,1-.85.47,1,1,0,0,1-1-1h3.44C209.79,228.64,209,227.44,207.32,227.44Zm-1,2a1,1,0,1,1,1.94,0Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M213.38,228.07h0a1.78,1.78,0,0,0-1.38-.63c-1.27,0-2.08,1-2.08,2.54s.81,2.54,2.08,2.54a1.78,1.78,0,0,0,1.38-.62h0v.48h1.5V225.7h-1.5Zm-1,3.33c-.6,0-1-.48-1-1.42s.38-1.42,1-1.42,1,.49,1,1.42S213,231.4,212.37,231.4Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M219.73,231.67v-2.2c0-1.5-.74-2-2.09-2-1.56,0-2.21.78-2.26,1.69h1.4c.05-.45.31-.66.85-.66s.61.17.61.45-.61.49-1.22.62c-1.13.22-1.83.66-1.83,1.61,0,.8.56,1.37,1.57,1.37a2,2,0,0,0,1.51-.65h0c0,.34.18.65.85.65a2.4,2.4,0,0,0,.87-.14V232C219.83,232,219.73,231.92,219.73,231.67Zm-1.49-1a.86.86,0,0,1-1,.87c-.37,0-.6-.17-.6-.56s.19-.54.78-.68a5,5,0,0,0,.77-.21Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M221.91,228.38h0v-.79h-1.5v4.79h1.5v-2.23a1.27,1.27,0,0,1,1.58-1.3h0v-1.3a1.57,1.57,0,0,0-.41,0A1.27,1.27,0,0,0,221.91,228.38Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M229.45,229.29v0a1.57,1.57,0,0,0,1.36-1.63c0-1.26-.9-1.94-2.38-1.94h-3.15v6.68H227v-2.33h1c1.43,0,.82,2,1.15,2.33h1.74v-.1C230.52,232.17,231.13,229.58,229.45,229.29Zm-1.35-.61H227v-1.61h1.14c.67,0,1,.24,1,.8S228.77,228.68,228.1,228.68Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M233.47,227.44a2.54,2.54,0,0,0,.08,5.08,2.15,2.15,0,0,0,2.31-1.59h-1.48a.84.84,0,0,1-.85.47,1,1,0,0,1-1-1h3.44C235.94,228.64,235.1,227.44,233.47,227.44Zm-1,2a1,1,0,1,1,1.94,0Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M242.15,227.44a2,2,0,0,0-1.61.84h0a1.28,1.28,0,0,0-1.25-.84,1.69,1.69,0,0,0-1.49.84h0v-.69h-1.5v4.79h1.5v-2.77c0-.66.3-1,.77-1s.68.24.68,1v2.76h1.5v-2.77c0-.66.3-1,.77-1s.69.24.69,1v2.76h1.51v-3.24C243.68,228.05,243.11,227.44,242.15,227.44Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M246.53,227.44a2.54,2.54,0,1,0,2.55,2.54A2.4,2.4,0,0,0,246.53,227.44Zm0,4c-.67,0-1.07-.49-1.07-1.42s.4-1.42,1.07-1.42,1.05.5,1.05,1.42S247.18,231.4,246.53,231.4Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="252.28 227.59 251.31 230.71 251.29 230.71 250.32 227.59 248.82 227.59 250.47 232.38 252.12 232.38 253.77 227.59 252.28 227.59"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M258.05,231.67v-2.2c0-1.5-.75-2-2.09-2-1.56,0-2.22.78-2.26,1.69h1.4c0-.45.31-.66.85-.66s.61.17.61.45-.61.49-1.23.62c-1.12.22-1.82.66-1.82,1.61,0,.8.56,1.37,1.57,1.37a2,2,0,0,0,1.5-.65h0c0,.34.19.65.86.65a2.4,2.4,0,0,0,.87-.14V232C258.14,232,258.05,231.92,258.05,231.67Zm-1.49-1a.86.86,0,0,1-1,.87c-.36,0-.6-.17-.6-.56s.2-.54.79-.68a5.29,5.29,0,0,0,.77-.21Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="258.72" y="225.7" width="1.49" height="6.68"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="160.93 213.58 155.15 223.97 159.83 223.97 155.15 232.38 169.94 232.38 169.94 223.97 169.94 213.58 169.94 205.84 169.94 197.43 169.94 191 156.71 213.58 160.93 213.58"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M147.17,32.49c-2.21,0-3.66-1.66-3.69-4.12h-3.31c.06,4.27,2.94,7.16,7,7.16a6.64,6.64,0,0,0,7-6.88c0-3.94-1.81-5.78-6.72-7.35-2.22-.7-3.29-1.62-3.29-3.22a3.16,3.16,0,0,1,3-3.1,3,3,0,0,1,3.19,3.28h3.32c-.06-4-2.76-6.33-6.51-6.33a6.27,6.27,0,0,0-6.36,6.21c0,3.22,1.23,5.07,6.85,7,2.43.83,3.17,1.88,3.17,3.54A3.57,3.57,0,0,1,147.17,32.49Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M157.71,25.88c0-3.32,1.69-5.34,4.48-5.34s4.24,1.65,4.24,5.31V35.1h3.2V24.87c0-4.67-3-7.25-7.1-7.25a5.37,5.37,0,0,0-4.76,2.27h-.06V12.36h-3.2V35.1h3.2Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M178.72,35.53a6.49,6.49,0,0,0,5.78-3.07h.06V35.1h3.19v-17h-3.19v2.39h-.06a6.79,6.79,0,0,0-5.9-2.85c-5,0-8.91,3.81-8.91,9.24A8.78,8.78,0,0,0,178.72,35.53Zm0-15a5.87,5.87,0,0,1,5.93,6.08,5.87,5.87,0,1,1-5.93-6.08Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="189.26" y="12.36" width="3.19" height="22.73"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="203.33 35.1 196.17 26.1 202.35 18.08 198.57 18.08 192.52 26.28 199.34 35.1 203.33 35.1"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M209.08,35.53a8.73,8.73,0,0,0,8.17-5.78h-3.2a5.49,5.49,0,0,1-4.85,2.86A5.84,5.84,0,0,1,203.61,28h14.1a9.84,9.84,0,0,0,.09-1.6A8.71,8.71,0,0,0,216,21h2.3V35.1h3.2V21h2.79V18.08h-2.79V12.36h-3.2v5.72H216V21a8.7,8.7,0,0,0-15.58,5.74A8.92,8.92,0,0,0,209.08,35.53Zm0-15a5.55,5.55,0,0,1,5.53,5h-11A5.54,5.54,0,0,1,209.08,20.54Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M231.53,35.53a9.13,9.13,0,0,0,9.31-8.82,9.19,9.19,0,0,0-18.37-.06A9.19,9.19,0,0,0,231.53,35.53Zm.1-15a6,6,0,1,1-.07,12.07,6,6,0,0,1,.07-12.07Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M244.19,25.79c0-3.2,1.69-5.25,4.49-5.25s4.24,1.69,4.24,5.28V35.1h3.19V24.9c0-4.7-3-7.28-7.1-7.28a5.94,5.94,0,0,0-5,2.27H244V18.08h-3v17h3.19Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="257.13" y="18.08" width="3.19" height="17.02"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="257.13" y="12.36" width="3.19" height="3.75"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M269.51,35.53a6.48,6.48,0,0,0,5.77-3.07h.06V35.1h3.2v-17h-3.2v2.39h-.06a6.79,6.79,0,0,0-5.9-2.85c-5,0-8.91,3.81-8.91,9.24A8.78,8.78,0,0,0,269.51,35.53Zm0-15a5.86,5.86,0,0,1,5.92,6.08,5.87,5.87,0,1,1-5.92-6.08Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M178.9,49.45h1c2.39,0,3.24-1.36,3.24-2.9a2.67,2.67,0,0,0-1.46-2.5,4.8,4.8,0,0,0-2-.32h-2.81v8.33h2Zm0-3.85h.84c.94,0,1.36.31,1.36,1s-.43,1-1.28,1h-.92Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M184,43.73v8.33h2V49.37h0L188,52.06h2.43l-2.26-2.84a2.51,2.51,0,0,0,2.07-2.62A2.74,2.74,0,0,0,188.71,44a5.14,5.14,0,0,0-2-.31Zm4.19,3c0,.8-.52,1.19-1.36,1.19h-.79V45.6h.81C187.67,45.6,188.21,46,188.21,46.73Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M199.91,47.84a4.4,4.4,0,1,0-4.3,4.38A4.31,4.31,0,0,0,199.91,47.84Zm-6.66,0a2.32,2.32,0,0,1,2.26-2.43,2.35,2.35,0,0,1,2.27,2.47,2.27,2.27,0,1,1-4.53,0Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M204.08,49.45c2.39,0,3.24-1.36,3.24-2.9a2.67,2.67,0,0,0-1.46-2.5,4.8,4.8,0,0,0-2-.32h-2.81v8.33h2V49.45Zm-1-3.85h.83c1,0,1.37.31,1.37,1s-.43,1-1.29,1h-.91Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="212.83 45.6 212.83 43.73 208.21 43.73 208.21 52.06 212.83 52.06 212.83 50.19 210.25 50.19 210.25 48.76 212.75 48.76 212.75 46.9 210.25 46.9 210.25 45.6 212.83 45.6"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M220.37,46.6A2.74,2.74,0,0,0,218.84,44a5.14,5.14,0,0,0-2-.31h-2.72v8.33h2V49.37h0l1.92,2.69h2.43l-2.26-2.84A2.52,2.52,0,0,0,220.37,46.6ZM217,47.92h-.78V45.6H217c.79,0,1.33.41,1.33,1.13S217.82,47.92,217,47.92Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="224.34 52.06 224.34 45.6 225.97 45.6 225.97 43.73 220.57 43.73 220.57 45.6 222.22 45.6 222.22 52.06 224.34 52.06"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="226.83" y="43.73" width="2.13" height="8.33"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="235.09 45.6 235.09 43.73 230.46 43.73 230.46 52.06 235.09 52.06 235.09 50.19 232.5 50.19 232.5 48.76 235.01 48.76 235.01 46.9 232.5 46.9 232.5 45.6 235.09 45.6"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M238.92,50.44c-.53,0-.86-.45-.87-1.14h-2.12v.18c0,1.79,1.19,2.74,3,2.74s2.91-.95,2.91-2.56c0-1.09-.46-1.75-2.3-2.54-.91-.39-1.36-.62-1.36-1.11a.7.7,0,0,1,.73-.66c.42,0,.67.22.76.81h2.1a2.27,2.27,0,0,0-1.33-2.23,3.1,3.1,0,0,0-1.47-.35A2.71,2.71,0,0,0,236.06,46c0,1.08.62,1.8,2,2.35.75.3,1.67.6,1.67,1.26A.8.8,0,0,1,238.92,50.44Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M17.32,148.32c9,0,20.57-4.23,20.57-24.37v-5.57l7,12c7.19,12.72,14.45,18.18,22.07,18.18,5.68,0,7.87-2.35,7.87-4.69a3.05,3.05,0,0,0-3.11-3c-3.77,0-2.92,4.58-6.23,4.58-2.38,0-5.57-2.85-10-9.46V126.6c0-11.76,5.5-13.22,7.5-13.22,3.34,0,2.07,4.53,5.8,4.53a3.09,3.09,0,0,0,3.12-3c0-2.27-1.93-4.69-7.19-4.69s-12.19,4-12.19,16.41v4.88L42.27,112.3h-4a35.48,35.48,0,0,1-5.5-.54,34.75,34.75,0,0,0-5.88-.53c-6.65,0-10.72,3.34-10.72,8.22,0,3.92,3.27,6.92,7.69,6.92,4,0,7-2,7-5a3.12,3.12,0,0,0-3.26-3.08c-3.77,0-2.81,4.73-5.46,4.73-1.89,0-3.12-1.35-3.12-3.54,0-3.23,2.62-5.61,7.92-5.61a22,22,0,0,1,6,.81c1.46.5,2,.73,2,2.07V124c0,17.87-9.77,21.72-17.53,21.72-6.15,0-10.26-3.31-10.26-8.19,0-3.61,2.38-7,6.69-7,2.84,0,3.26,1.7,3.72,3.69s1.58,3.5,3.77,3.5a3.06,3.06,0,0,0,3.11-3.34c0-3.65-4.11-6.57-9.91-6.57s-10.19,4.15-10.19,9.76C4.33,143.74,9.94,148.32,17.32,148.32Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M59.61,136.13a3.49,3.49,0,0,0,3.65,3.58,3.58,3.58,0,1,0,0-7.15A3.48,3.48,0,0,0,59.61,136.13Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M79.48,125.41l-3.12,7.73-4.42-10.57c-.53-1.39-.11-1.62,1.43-1.73v-1.46H63.14v1.46c1,.11,1.5.38,2.08,1.73l6.84,16.64h4.38l5.15-12.57c3.5-8.46,7.42-11.45,12.65-11.45,3.76,0,8.34,2.19,8.34,7.64A6.72,6.72,0,0,1,96,129.71c-2.35,0-3.77-1.11-3.77-2.46,0-1.69,2-1.8,2-4a2.84,2.84,0,0,0-3-2.62c-2.39,0-3.62,2-3.62,4.35,0,3.61,3.19,7.07,8.35,7.07a9.2,9.2,0,0,0,9-9.19c0-6.26-4.65-10-10.8-10C87.66,112.88,83.17,116.34,79.48,125.41Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M81.82,136.13a3.49,3.49,0,0,0,3.65,3.58,3.58,3.58,0,1,0,0-7.15A3.49,3.49,0,0,0,81.82,136.13Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="21.98 99.84 21.98 94.67 23.82 94.67 23.82 93.42 18.74 93.42 18.74 94.67 20.57 94.67 20.57 99.84 21.98 99.84"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="30.11 99.84 30.11 93.42 28.7 93.42 28.7 95.81 25.95 95.81 25.95 93.42 24.53 93.42 24.53 99.84 25.95 99.84 25.95 97.07 28.7 97.07 28.7 99.84 30.11 99.84"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="36 98.54 32.88 98.54 32.88 97.23 35.67 97.23 35.67 95.92 32.88 95.92 32.88 94.73 35.83 94.73 35.83 93.42 31.47 93.42 31.47 99.84 36 99.84 36 98.54"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M43.5,99.63A3.52,3.52,0,0,0,44.65,99a3,3,0,0,0,1.09-2.37,3.4,3.4,0,0,0-.31-1.5,2.68,2.68,0,0,0-.82-1,3.37,3.37,0,0,0-1.21-.56,6.28,6.28,0,0,0-1.46-.17H39.81v6.42h2.32A4.51,4.51,0,0,0,43.5,99.63Zm-2.27-1.09V94.73h.83a3.35,3.35,0,0,1,.85.11,2.17,2.17,0,0,1,.7.34,1.61,1.61,0,0,1,.48.58,1.74,1.74,0,0,1,.18.82,2.13,2.13,0,0,1-.18.92,1.64,1.64,0,0,1-.49.61,2,2,0,0,1-.73.33,4.3,4.3,0,0,1-.91.1Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="46.68" y="93.42" width="1.41" height="6.42"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M51.06,100a3.69,3.69,0,0,0,.95-.13,2.54,2.54,0,0,0,.79-.39,2.17,2.17,0,0,0,.54-.66,2.13,2.13,0,0,0,.2-.94,1.71,1.71,0,0,0-.22-.9,1.74,1.74,0,0,0-.55-.53,3,3,0,0,0-.71-.31c-.26-.07-.49-.14-.71-.22a1.88,1.88,0,0,1-.55-.26.56.56,0,0,1-.13-.75.7.7,0,0,1,.24-.21,1.08,1.08,0,0,1,.3-.11,1.87,1.87,0,0,1,.32,0,1.68,1.68,0,0,1,.56.11,1.07,1.07,0,0,1,.47.32l1-1.06a2.64,2.64,0,0,0-.92-.52,3.7,3.7,0,0,0-1-.15,3.15,3.15,0,0,0-.92.13,2.48,2.48,0,0,0-.78.39,2.07,2.07,0,0,0-.55.66,2,2,0,0,0-.2.9,1.52,1.52,0,0,0,.22.87,1.85,1.85,0,0,0,.56.52,3.43,3.43,0,0,0,.73.32l.72.23a2.26,2.26,0,0,1,.56.29.57.57,0,0,1,.13.76.74.74,0,0,1-.22.21,1.52,1.52,0,0,1-.32.12,1.39,1.39,0,0,1-.35,0,1.51,1.51,0,0,1-.68-.16,1.34,1.34,0,0,1-.55-.45l-1,1.11a3,3,0,0,0,1,.62A3.62,3.62,0,0,0,51.06,100Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="57.24 99.84 57.24 94.67 59.08 94.67 59.08 93.42 54 93.42 54 94.67 55.83 94.67 55.83 99.84 57.24 99.84"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M61.21,97.28h.7l1.34,2.56h1.69l-1.63-2.71a1.61,1.61,0,0,0,1-.6,1.94,1.94,0,0,0,.35-1.16,1.92,1.92,0,0,0-.2-.94,1.52,1.52,0,0,0-.52-.6,2.31,2.31,0,0,0-.77-.31,4,4,0,0,0-.93-.1H59.79v6.42h1.42Zm0-2.66h.92a2.56,2.56,0,0,1,.39,0,1,1,0,0,1,.36.1.75.75,0,0,1,.25.22.67.67,0,0,1,.1.39.69.69,0,0,1-.11.41.61.61,0,0,1-.29.21,1.12,1.12,0,0,1-.38.09H61.21Z"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="65.65" y="93.42" width="1.41" height="6.42"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M69,99.09a3.09,3.09,0,0,0,1.1.68,3.86,3.86,0,0,0,1.39.24,3,3,0,0,0,1.28-.28,2.49,2.49,0,0,0,1-.84L72.62,98a1.52,1.52,0,0,1-.56.51,1.59,1.59,0,0,1-.77.18,1.71,1.71,0,0,1-.71-.15,1.75,1.75,0,0,1-.57-.44,1.85,1.85,0,0,1-.39-.65,2.5,2.5,0,0,1,0-1.65,1.81,1.81,0,0,1,.39-.66,1.66,1.66,0,0,1,.59-.43,1.82,1.82,0,0,1,.74-.16,1.71,1.71,0,0,1,.7.14,1.39,1.39,0,0,1,.51.39l1.09-.89a2.18,2.18,0,0,0-.47-.44,2.42,2.42,0,0,0-.55-.29,2.38,2.38,0,0,0-.58-.16,2.71,2.71,0,0,0-.56,0,4.09,4.09,0,0,0-1.39.23,3.24,3.24,0,0,0-1.1.68,3,3,0,0,0-.72,1.07A3.62,3.62,0,0,0,68,96.63a3.68,3.68,0,0,0,.26,1.4A2.93,2.93,0,0,0,69,99.09Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="77.22 99.84 77.22 94.67 79.06 94.67 79.06 93.42 73.98 93.42 73.98 94.67 75.81 94.67 75.81 99.84 77.22 99.84"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M43.72,108.72a3.16,3.16,0,0,0,1.1.67,3.9,3.9,0,0,0,1.39.24,3.94,3.94,0,0,0,1.39-.24,3.12,3.12,0,0,0,1.09-.67,3.06,3.06,0,0,0,.72-1.07,3.87,3.87,0,0,0,0-2.79,3.06,3.06,0,0,0-.72-1.07,3.12,3.12,0,0,0-1.09-.67,3.94,3.94,0,0,0-1.39-.24,3.9,3.9,0,0,0-1.39.24,3.16,3.16,0,0,0-1.1.67,3.06,3.06,0,0,0-.72,1.07,3.87,3.87,0,0,0,0,2.79A3.06,3.06,0,0,0,43.72,108.72Zm.63-3.29a2,2,0,0,1,.41-.66,1.76,1.76,0,0,1,.63-.43,2.14,2.14,0,0,1,.82-.15,2.18,2.18,0,0,1,.82.15,2,2,0,0,1,.63.43,2,2,0,0,1,.4.66,2.23,2.23,0,0,1,.14.83,2.17,2.17,0,0,1-.14.82,1.92,1.92,0,0,1-.4.66,2,2,0,0,1-.63.43,2.18,2.18,0,0,1-.82.15,2.14,2.14,0,0,1-.82-.15,1.76,1.76,0,0,1-.63-.43,1.94,1.94,0,0,1-.41-.66,2.39,2.39,0,0,1-.14-.82A2.45,2.45,0,0,1,44.35,105.43Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="55 104.35 55 103.04 50.69 103.04 50.69 109.47 52.1 109.47 52.1 106.96 54.78 106.96 54.78 105.66 52.1 105.66 52.1 104.35 55 104.35"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M23.79,205.57a3.62,3.62,0,0,0-3.2,1.53h0V202H18.4v9.54c-.41-1.71-1.7-2.69-4.35-3.53-1.49-.48-2.21-1.1-2.21-2.17a2.12,2.12,0,0,1,2-2.08A2,2,0,0,1,16,206h2.23a4.1,4.1,0,0,0-4.38-4.25,4.21,4.21,0,0,0-4.27,4.17c0,2.17.83,3.41,4.6,4.68,1.63.56,2.13,1.26,2.13,2.38a2.4,2.4,0,0,1-2.46,2.58,2.5,2.5,0,0,1-2.47-2.77H9.18a4.58,4.58,0,0,0,4.7,4.81,4.43,4.43,0,0,0,4.52-3.37v3.08h2.15v-6.19c0-2.23,1.13-3.59,3-3.59s2.85,1.11,2.85,3.57v6.21h2.14v-6.87A4.51,4.51,0,0,0,23.79,205.57Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M38.54,215.54h0v1.77h2.15V205.88H38.58v1.61h0a4.56,4.56,0,0,0-4-1.92,6,6,0,1,0,.08,12A4.35,4.35,0,0,0,38.54,215.54Zm-7.8-3.92a4,4,0,0,1,3.9-4.09,4,4,0,0,1,4,4.09,3.94,3.94,0,1,1-7.88,0Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="43.92 211.39 48.51 217.31 51.19 217.31 46.38 211.26 50.53 205.88 47.99 205.88 43.92 211.39"/>
      <rect class="a3422a9a-e29b-46d4-b589-726f153c4614" x="41.74" y="202.04" width="2.15" height="15.27"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M61.23,202v3.84H59.69v2a5.84,5.84,0,0,0-10.46,3.86A6,6,0,0,0,55,217.6a5.85,5.85,0,0,0,5.49-3.88H58.39a3.68,3.68,0,0,1-3.26,1.92,3.93,3.93,0,0,1-3.76-3.12h9.47a6.64,6.64,0,0,0,.06-1.07,5.9,5.9,0,0,0-1.21-3.61h1.54v9.47h2.15v-9.47h1.88v-2H63.38V202Zm-9.86,8.83a3.71,3.71,0,0,1,7.39,0Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M70.13,217.6a6.13,6.13,0,0,0,6.25-5.92,6.17,6.17,0,0,0-12.34,0A6.18,6.18,0,0,0,70.13,217.6Zm.06-10.07a4.06,4.06,0,1,1,0,8.11,4.06,4.06,0,0,1,0-8.11Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M95.79,205.57a4,4,0,0,0-3.34,1.53h0v-1.22H88.55L86,213.31h0l-2.37-7.43h-1.4l-2.38,7.43h0l-2.53-7.43H75l4.27,11.43h1.17l2.48-7.7h0l2.47,7.7h1.2l3.8-10.26v10.26h2.14v-6.25c0-2.15,1.14-3.53,3-3.53s2.84,1.14,2.84,3.55v6.23h2.15v-6.85A4.51,4.51,0,0,0,95.79,205.57Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M40.87,223.7c0-3.14-1.63-5.08-5.3-5.08H30.68v15.27h2.23v-7.07h0l5,7.07h2.79L36.5,228.2A4.37,4.37,0,0,0,40.87,223.7Zm-8,2.81v-5.84h2.35c2,0,3.38,1.09,3.38,2.84,0,2-1.5,3-4.1,3Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M61.48,224.07h0a4.56,4.56,0,0,0-4-1.92,5.82,5.82,0,0,0-5.7,4.23,5.82,5.82,0,0,0-5.69-4.23,5.91,5.91,0,0,0-5.76,6.13,6,6,0,0,0,5.82,5.9,5.86,5.86,0,0,0,5.49-3.88H49.5a3.69,3.69,0,0,1-3.26,1.92,3.93,3.93,0,0,1-3.76-3.11h9.07a5.92,5.92,0,0,0,6,5.07,4.34,4.34,0,0,0,3.88-2.06h0v1.77h2.15V222.46H61.48Zm-19,3.39a3.71,3.71,0,0,1,7.39,0Zm15.06,4.76a4.06,4.06,0,0,1,0-8.11,4,4,0,0,1,4,4.09A4,4,0,0,1,57.54,232.22Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="75.43 231.33 72.07 222.46 71.55 222.46 69.75 222.46 69.67 222.46 69.67 218.62 67.53 218.62 67.53 222.46 66.58 222.46 66.58 218.62 64.43 218.62 64.43 233.89 66.58 233.89 66.58 224.42 67.53 224.42 67.53 233.89 69.67 233.89 69.67 224.42 70.55 224.42 74.31 233.66 72.64 237.71 74.87 237.71 81.19 222.46 78.88 222.46 75.43 231.33"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="0 201.53 0.71 203.44 4.83 201.9 4.83 235.57 6.87 235.57 6.87 201.14 54.69 183.26 102.5 201.14 102.5 235.57 104.54 235.57 104.54 201.9 108.66 203.44 109.37 201.53 54.69 181.09 0 201.53"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="13.19 41.99 15.99 41.99 15.99 45.29 18.05 45.29 18.05 37.12 15.99 37.12 15.99 40.31 13.19 40.31 13.19 37.12 11.14 37.12 11.14 45.29 13.19 45.29 13.19 41.99"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M22.94,45.47c2.57,0,4-1.81,4-4.28s-1.47-4.26-4-4.26-4.05,1.81-4.05,4.26S20.35,45.47,22.94,45.47Zm0-6.86c1.49,0,2,1.17,2,2.58s-.5,2.6-2,2.6-2-1.17-2-2.6S21.44,38.61,22.94,38.61Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M34.54,39.49c0-1.54-1.1-2.37-2.92-2.37H27.77v8.17h2.06V42.44h1.28c1.75,0,1,2.5,1.4,2.85h2.14v-.12c-.47-.14.28-3.3-1.77-3.66v0A1.94,1.94,0,0,0,34.54,39.49Zm-3.32,1.27H29.83v-2h1.39c.83,0,1.26.3,1.26,1S32.05,40.76,31.22,40.76Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="37.49 40.43 37.52 40.43 40.38 45.29 42.43 45.29 42.43 37.12 40.38 37.12 40.38 41.97 40.35 41.97 37.49 37.12 35.44 37.12 35.44 45.29 37.49 45.29 37.49 40.43"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="49.74 38.8 49.74 37.12 43.55 37.12 43.55 45.29 49.81 45.29 49.81 43.61 45.61 43.61 45.61 41.93 49.17 41.93 49.17 40.25 45.61 40.25 45.61 38.8 49.74 38.8"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M57.49,39.49c0-1.54-1.1-2.37-2.91-2.37H50.72v8.17h2.06V42.44h1.28c1.75,0,1,2.5,1.41,2.85H57.6v-.12c-.46-.14.28-3.3-1.77-3.66v0A1.94,1.94,0,0,0,57.49,39.49Zm-3.31,1.27h-1.4v-2h1.4c.82,0,1.25.3,1.25,1S55,40.76,54.18,40.76Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M65,39.17c0-1.39-.89-2.05-2.59-2.05h-4v8.17h4.08c1.69,0,2.8-.68,2.8-2.41a1.81,1.81,0,0,0-1.59-2v0A1.71,1.71,0,0,0,65,39.17Zm-4.5-.38h1.42c.57,0,1,.14,1,.82s-.45.81-1,.81H60.45Zm1.47,4.82H60.45V41.68h1.47c.86,0,1.29.19,1.29,1S62.78,43.61,61.92,43.61Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M72.82,39.49c0-1.54-1.09-2.37-2.91-2.37H66.06v8.17h2V42.44H69.4c1.74,0,1,2.5,1.4,2.85h2.14v-.12c-.47-.14.27-3.3-1.77-3.66v0A1.94,1.94,0,0,0,72.82,39.49Zm-3.31,1.27h-1.4v-2h1.4c.82,0,1.26.3,1.26,1S70.33,40.76,69.51,40.76Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M77.44,36.93c-2.6,0-4,1.81-4,4.26s1.45,4.28,4,4.28,4-1.81,4-4.28S80,36.93,77.44,36.93Zm0,6.86c-1.5,0-2-1.17-2-2.6s.49-2.58,2-2.58,2,1.17,2,2.58S78.92,43.79,77.44,43.79Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M90,41.19c0-2.45-1.47-4.26-4-4.26s-4,1.81-4,4.26,1.45,4.28,4,4.28S90,43.66,90,41.19Zm-6,0c0-1.41.49-2.58,2-2.58s2,1.17,2,2.58-.5,2.6-2,2.6S84,42.62,84,41.19Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="90.82 37.12 90.82 45.29 92.87 45.29 92.87 43.13 93.7 42.19 95.83 45.29 98.23 45.29 95.01 40.72 98.12 37.12 95.72 37.12 92.87 40.43 92.87 37.12 90.82 37.12"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M25.26,59h2.28l-1.42-1.67A5.64,5.64,0,0,0,27,54.91h-1.6A4.66,4.66,0,0,1,25,56.07l-1.12-1.29c1.1-.57,1.73-1.12,1.72-2.06a2.28,2.28,0,0,0-2.46-2.08,2.23,2.23,0,0,0-2.46,2.08,2.94,2.94,0,0,0,1,2c-.92.47-1.83,1-1.83,2.3s.94,2.19,2.83,2.19a3.91,3.91,0,0,0,2.2-.64Zm-2.08-6.79c.53,0,.74.3.74.63s-.27.71-.79,1c-.41-.41-.69-.69-.69-1S22.68,52.21,23.18,52.21Zm-.27,5.4a1,1,0,0,1-1.11-1,1.22,1.22,0,0,1,.63-1l1.47,1.79A2,2,0,0,1,22.91,57.61Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="35.76 57.32 32.13 57.32 32.13 50.83 30.07 50.83 30.07 59 35.76 59 35.76 57.32"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M38.65,57.29h2.8L42,59H44l-3-8.17H39l-3,8.17h2ZM40,52.71h0l.92,3H39.12Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="49.54 55.68 49.52 55.68 46.66 50.83 44.6 50.83 44.6 59 46.66 59 46.66 54.14 46.68 54.14 49.54 59 51.59 59 51.59 50.83 49.54 50.83 49.54 55.68"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M52.45,54.91c0,2.46,1.38,4.27,3.7,4.27A2.46,2.46,0,0,0,58.51,58h0l.21,1h1.47V54.65H56.53v1.49h1.55a1.47,1.47,0,0,1-1.63,1.36c-1.43,0-1.94-1-1.94-2.59s.51-2.59,1.86-2.59A1.53,1.53,0,0,1,58,53.53h2a3.37,3.37,0,0,0-3.68-2.89C53.83,50.64,52.45,52.45,52.45,54.91Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="67.27 50.83 61.19 50.83 61.19 59 63.25 59 63.25 55.98 66.53 55.98 66.53 54.3 63.25 54.3 63.25 52.51 67.27 52.51 67.27 50.83"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="68.07 59 74.33 59 74.33 57.32 70.13 57.32 70.13 55.64 73.69 55.64 73.69 53.96 70.13 53.96 70.13 52.51 74.26 52.51 74.26 50.83 68.07 50.83 68.07 59"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="80.94 57.32 77.3 57.32 77.3 50.83 75.24 50.83 75.24 59 80.94 59 80.94 57.32"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M81.7,59h3.74C87.71,59,89,57.54,89,54.92s-1.37-4.09-3.65-4.09H81.7Zm2.06-6.49h1.36c1.28,0,1.79.92,1.79,2.41s-.51,2.4-1.79,2.4H83.76Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M37.56,69.31l-.9-1a3.49,3.49,0,0,0,.58-1.52h-1a2.6,2.6,0,0,1-.24.73l-.7-.81c.69-.36,1.08-.7,1.07-1.29a1.42,1.42,0,0,0-1.54-1.3,1.4,1.4,0,0,0-1.54,1.3,1.83,1.83,0,0,0,.6,1.23c-.57.3-1.14.65-1.14,1.44s.59,1.38,1.77,1.38a2.47,2.47,0,0,0,1.38-.4l.24.28Zm-2.74-4.25c.33,0,.47.19.47.39s-.17.45-.5.66c-.25-.26-.43-.43-.43-.66A.41.41,0,0,1,34.82,65.06Zm-.17,3.39a.62.62,0,0,1-.69-.63.77.77,0,0,1,.39-.66l.92,1.13A1.21,1.21,0,0,1,34.65,68.45Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M40.43,67.46h1.19a1.64,1.64,0,1,0,0-3.27H39.14v5.12h1.29Zm0-2.21h.92c.44,0,.72.15.72.58s-.28.58-.72.58h-.92Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M46.09,64.19H44.8l-1.86,5.12h1.29l.33-1.06h1.76l.33,1.06h1.29Zm-1.23,3.08.58-1.89h0L46,67.27Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M52.53,65.68c0-1-.69-1.49-1.83-1.49H48.29v5.12h1.29V67.53h.8c1.1,0,.63,1.57.88,1.78H52.6v-.07c-.29-.08.17-2.07-1.11-2.29h0A1.23,1.23,0,0,0,52.53,65.68Zm-2.08.8h-.87V65.25h.87c.52,0,.79.18.79.61S51,66.48,50.45,66.48Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="55.61 69.31 55.61 65.25 57.09 65.25 57.09 64.19 52.83 64.19 52.83 65.25 54.32 65.25 54.32 69.31 55.61 69.31"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="61.94 69.31 61.94 64.19 60.65 64.19 60.65 67.24 60.64 67.24 58.85 64.19 57.56 64.19 57.56 69.31 58.85 69.31 58.85 66.27 58.86 66.27 60.65 69.31 61.94 69.31"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="66.56 68.26 63.93 68.26 63.93 67.21 66.16 67.21 66.16 66.16 63.93 66.16 63.93 65.25 66.52 65.25 66.52 64.19 62.64 64.19 62.64 69.31 66.56 69.31 66.56 68.26"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M68.42,67.53h.8c1.1,0,.63,1.57.88,1.78h1.34v-.07c-.29-.08.18-2.07-1.11-2.29h0a1.23,1.23,0,0,0,1-1.26c0-1-.68-1.49-1.82-1.49H67.13v5.12h1.29Zm0-2.28h.88c.51,0,.78.18.78.61s-.27.62-.78.62h-.88Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M74,68.37c-.58,0-1-.2-1-.74H71.69c0,1.14,1,1.8,2.34,1.8s2-.64,2-1.62-1-1.41-2-1.68c-.64-.18-1-.28-1-.59s.3-.41.69-.41.82.23.88.62H76c0-1-1-1.67-2.17-1.67s-2,.44-2,1.55c0,1,.78,1.33,1.66,1.58.72.22,1.27.31,1.27.72C74.76,68.19,74.51,68.37,74,68.37Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="21.38 18.04 28.27 18.04 28.27 27.33 35.09 27.33 35.09 3.25 28.27 3.25 28.27 12.29 21.38 12.29 21.38 3.25 14.56 3.25 14.56 27.33 21.38 27.33 21.38 18.04"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M14.39,30.58h29.4V26.39l-.44-.06c-4-.54-6.22-2.78-6.22-6.15,0-2.65,1.12-4.24,3.52-5L41,15v-.67l-.27-.15a4.8,4.8,0,0,1-2.95-4.42c0-3.29,2.89-5,5.59-5.45l.42-.07V0H14.39a3.26,3.26,0,0,0-3.25,3.25V27.33A3.25,3.25,0,0,0,14.39,30.58ZM12.14,3.25A2.25,2.25,0,0,1,14.39,1H42.78V3.4c-3.72.79-6,3.2-6,6.36a5.61,5.61,0,0,0,2.64,4.81c-2.21,1-3.29,2.86-3.29,5.61,0,3.74,2.48,6.37,6.66,7.08v2.32H14.39a2.25,2.25,0,0,1-2.25-2.25Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M45.66,7.54c-2.81,0-3.41,1.7-3.41,3.12,0,2,1.38,3,4.09,3h.5v2.77h-.63c-3.05,0-4.6,1.16-4.6,3.47,0,1.19.51,3.18,3.92,3.18,2.86,0,4.39-1.33,4.56-4h4.16C54.08,23,51.93,25.4,48,26.16l-.41.08v4.34H95a3.25,3.25,0,0,0,3.25-3.25V3.25A3.26,3.26,0,0,0,95,0H47.6V4.37l.39.09c3.39.76,5.41,3,5.61,6H49.43C49.21,8.66,47.81,7.54,45.66,7.54Zm3-4V1H95a2.24,2.24,0,0,1,2.24,2.24V27.33A2.24,2.24,0,0,1,95,29.58H48.61V27.07c4.3-1,6.66-4,6.66-8.5v-.51H49.09v.51C49.09,21,48,22,45.53,22c-2.91,0-2.91-1.63-2.91-2.17,0-1.22.43-2.46,3.59-2.46h1.64V12.61H46.34c-2.73,0-3.08-1-3.08-1.95,0-1.48.72-2.11,2.4-2.11,1,0,2.79.32,2.79,2.44v.5h6.17V11C54.62,7.31,52.38,4.57,48.61,3.57Z"/>
      <polygon class="a3422a9a-e29b-46d4-b589-726f153c4614" points="73.64 21.58 63.38 21.58 63.38 3.25 56.56 3.25 56.56 27.33 73.64 27.33 73.64 21.58"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M81.61,19H86.5c5.28,0,8.31-2.86,8.31-7.86s-3-7.86-8.31-7.86H74.8V27.33h6.81ZM88,11.11c0,1.5-.78,2.11-2.72,2.11H81.61V9h3.66C87.21,9,88,9.62,88,11.11Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M92.25,24.48h0a.71.71,0,0,0,.6-.75c0-.57-.4-.88-1.07-.88H90.34v3h.76V24.82h.48c.66,0,.37.93.53,1.06h.79v-.05C92.73,25.79,93,24.61,92.25,24.48Zm-.62-.28H91.1v-.74h.53c.3,0,.47.12.47.38S91.93,24.2,91.63,24.2Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M91.57,21.55a2.83,2.83,0,1,0,2.79,2.82A2.76,2.76,0,0,0,91.57,21.55Zm0,5.07a2,2,0,0,1-2.1-2.26,2.1,2.1,0,1,1,4.19,0A2,2,0,0,1,91.57,26.62Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M169.47,157a12.84,12.84,0,0,0,9.84-4.59l-1.38-1.21a10,10,0,0,1-8.07,4c-5.69,0-8.13-5.44-8.13-11.7s2.44-12.12,8.05-12.12a9.66,9.66,0,0,1,7.55,3.82l1-.6-2.28-4.56h-1.32l-.38.82a11.26,11.26,0,0,0-5.19-1.23c-7.31,0-12.69,5.76-12.69,13.87S161.89,157,169.47,157Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M181.94,143.79c0-3.9-2.77-6.73-7.14-6.73s-7.14,2.83-7.14,6.73,2.77,6.76,7.14,6.76S181.94,147.72,181.94,143.79Zm-7.14,5.11c-2.11,0-2.8-1.86-2.8-5.11s.69-5.08,2.8-5.08,2.8,1.84,2.8,5.08S176.92,148.9,174.8,148.9Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M192.27,160.66c3.71,0,5.8-2.31,5.8-4.86a4.43,4.43,0,0,0-4.56-4.48c-2.09,0-3.38,1.16-3.38,2.64a2,2,0,0,0,1.92,2c1.73,0,1.57-1.78,2.7-1.78.68,0,1.31.63,1.31,1.7,0,1.62-1.4,2.8-3.35,2.8-2.3,0-4.09-1.37-4.09-4.83V130.5h-1.54l-4.2,2.31v1.07h.85c.49,0,.69.25.69.82v17.88C184.42,157.86,187.52,160.66,192.27,160.66Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M206.5,150.14V149c-1.26-.14-1.53-.39-1.53-1.21V137.06h-1.54l-4.21,2.31v1.07h.83c.52,0,.71.25.71.83v6.12a4.6,4.6,0,0,1-2.47.83,1.64,1.64,0,0,1-1.79-1.84v-9.32H195l-4.21,2.31v1.07h.83c.49,0,.68.25.68.83v5c0,3.57,2.34,4.28,4.34,4.28a8.25,8.25,0,0,0,4.15-1.32v1.32A36.51,36.51,0,0,1,206.5,150.14Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M223.65,154.43c-1.19,0-1.43-1.79-3.11-1.79a1.9,1.9,0,0,0-1.87,2c0,1.45,1.35,2.36,3.27,2.36,4,0,8.57-5.17,8.57-12.86,0-5.33-1.7-7.09-4.75-7.09a8.05,8.05,0,0,0-4.59,1.74,4.1,4.1,0,0,0-3.76-1.74,8.3,8.3,0,0,0-4.12,1.35v-1.35h-1.54l-4.2,2.31v1.07h.85c.49,0,.69.25.69.83v6.51c0,.82-.31,1.07-1.54,1.21v1.15h7.28V149c-1.27-.14-1.54-.39-1.54-1.21v-7.56a4.32,4.32,0,0,1,2.47-.82,1.64,1.64,0,0,1,1.79,1.84v6.54c0,.82-.28,1.07-1.54,1.21v1.15h7.28V149c-1.24-.14-1.54-.39-1.54-1.21v-6.43a7.16,7.16,0,0,0-.08-1.07,4.24,4.24,0,0,1,2.36-.88c1.48,0,2.14,1.26,2.14,4.75C226.17,151.43,225.43,154.43,223.65,154.43Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M235.32,150.55l2-1.29a5.23,5.23,0,0,0,3.68,1.29c4,0,6.37-2.63,6.37-6.76s-2.39-6.73-5.82-6.73a5.21,5.21,0,0,0-3.57,1.27V130.5h-1.54l-4.2,2.31v1.07h.85c.49,0,.69.25.69.85v15.82ZM238,140.17a2.42,2.42,0,0,1,2.2-1.13c2,0,2.85,1.51,2.85,4.75s-.82,4.81-2.85,4.81a2.48,2.48,0,0,1-2.2-1.12Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M248.56,140.44h.85c.5,0,.69.25.69.83v6.51c0,.82-.3,1.07-1.54,1.21v1.15h7.28V149c-1.26-.14-1.54-.39-1.54-1.21V137.06h-1.53l-4.21,2.31Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M254.74,133.08a2.33,2.33,0,0,0-2.44-2.31,2.31,2.31,0,0,0-2.45,2.31,2.27,2.27,0,0,0,2.45,2.25A2.3,2.3,0,0,0,254.74,133.08Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M274.93,141.1a2.21,2.21,0,0,0-2.41,2.06,1.72,1.72,0,0,0,1.75,1.79c.75,0,1-.47,1.65-.47.39,0,.77.33.77,1.05,0,1.53-1.67,3.21-4.81,3.21-2.17,0-2.55-.39-2.55-1.57v-6c0-3.08-2.45-4.13-5.25-4.13-3.6,0-6.18,1.38-6.18,3.41a1.5,1.5,0,0,0,1.57,1.7,2.12,2.12,0,0,0,2.14-1.64c.41-1.3,1-1.84,2-1.84,1.21,0,1.46.6,1.46,2.3v1.29c-3.93.72-8.05,1.82-8.05,5.09,0,1.86,1.46,3.13,3.71,3.13a7.6,7.6,0,0,0,4.53-1.82,2.19,2.19,0,0,0,.74,1c.94.69,2.59.74,5,.74,5.66,0,7.61-2.44,7.61-5.38A3.73,3.73,0,0,0,274.93,141.1Zm-9.83,6.07a3.75,3.75,0,0,1-2.2.8,1.39,1.39,0,0,1-1.51-1.48c0-1.51,1.48-2.17,3.71-2.61Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M148.8,116.8c2.69-.55,4.23-1.87,4.23-4.2,0-4-3.32-4.95-9-4.95H133.64c-4.62,0-8.16,2.47-8.16,6.73,0,3.49,2.19,5.44,5,5.44s4.78-1.81,4.78-4.26a2.55,2.55,0,0,0-2.44-2.8,2.12,2.12,0,0,0-2.2,2.2c0,1,.52,1.23.52,2s-.33.93-1.07.93c-1.26,0-2.64-1.23-2.64-3.46,0-2.77,2.25-4.86,6.16-4.86h1.59c1.21,0,2,.36,2,1.4v9.42a5.53,5.53,0,0,0-3.29,5.14c0,3.49,3.1,6.45,8.51,6.45,6.05,0,11.68-2.77,11.68-8.4C154.13,119.93,152.15,117.68,148.8,116.8Zm-6.7-6.46a.78.78,0,0,1,.82-.82H144c2.58,0,4.15.52,4.15,3.08s-1.59,3.21-4.12,3.21H142.1Zm.35,19.73c-3.57,0-6.51-1.62-6.51-4.59a3.55,3.55,0,0,1,3.63-3.76c1.54,0,2.06.68,2.06,1.29,0,.82-1.13,1-1.13,2.33a2.09,2.09,0,0,0,2.2,2,2.69,2.69,0,0,0,2.64-3,4.4,4.4,0,0,0-3.24-4.15v-2.55h1.75c3.33,0,5.39,1.95,5.39,5.71C149.24,128.25,146.08,130.07,142.45,130.07Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M162.78,125.73c-1.26-.14-1.54-.39-1.54-1.21v-7a1.78,1.78,0,0,1,1.43-.77c.91,0,.8,1.43,2.47,1.43A2,2,0,0,0,167,116a2.14,2.14,0,0,0-2.42-2.2,4.76,4.76,0,0,0-3.38,1.62V113.8h-1.53l-4.21,2.31v1.07h.85c.5,0,.69.25.69.83v6.51c0,.82-.3,1.07-1.54,1.21v1.15h7.28Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M167.75,125.73v1.15H175v-1.15c-1.26-.14-1.53-.39-1.53-1.21V113.8H172l-4.21,2.31v1.07h.86c.49,0,.68.25.68.83v6.51C169.29,125.34,169,125.59,167.75,125.73Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M173.94,109.82a2.34,2.34,0,0,0-2.45-2.31,2.3,2.3,0,0,0-2.44,2.31,2.27,2.27,0,0,0,2.44,2.25A2.31,2.31,0,0,0,173.94,109.82Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M184.68,125.12a4.71,4.71,0,0,1-1.54.28c-.91,0-1.49-.5-1.49-1.87V116h3v-1.75h-3v-4.15h-1.56a6.26,6.26,0,0,1-4.18,4.83V116h1.51v7.56c0,2.86,1.63,3.73,4.23,3.73a11.41,11.41,0,0,0,3-.46Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M187,109.82a2.45,2.45,0,0,0,4.89,0,2.45,2.45,0,0,0-4.89,0Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M185.69,125.73v1.15H193v-1.15c-1.26-.14-1.54-.39-1.54-1.21V113.8H189.9l-4.21,2.31v1.07h.85c.5,0,.69.25.69.83v6.51C187.23,125.34,186.93,125.59,185.69,125.73Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M196.71,126.55c1.4,0,.71,2.14,2.5,2.14a1.58,1.58,0,0,0,1.62-1.75,3.05,3.05,0,0,0-3.24-2.72,3.89,3.89,0,0,0-4.07,3.68c0,2.85,2.64,4.45,6,4.45,4.59,0,6.84-3.25,6.84-6.07,0-4-2.91-5.61-5.22-6.79-1.59-.85-2.8-1.51-2.8-2.66,0-1,.77-1.49,1.82-1.49,1.42,0,3.18,1.16,4.31,3.66l1-.31-.82-4.47h-1l-.33.71a6,6,0,0,0-3.73-1.13c-3,0-5.3,1.65-5.3,4.15s2.06,3.66,4.64,4.92c1.87,1,3.63,2,3.63,4.39a3.44,3.44,0,0,1-3.66,3.49c-1.54,0-3.35-1-3.35-2.85A1.2,1.2,0,0,1,196.71,126.55Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M207.29,125.73v1.15h7.27v-1.15c-1.26-.14-1.53-.39-1.53-1.21V117a4.3,4.3,0,0,1,2.47-.82,1.63,1.63,0,0,1,1.78,1.84v9.86c0,3.6,2.45,5.33,5.44,5.33,3.38,0,5.42-1.15,5.42-3.08a1.64,1.64,0,0,0-1.76-1.64,1.94,1.94,0,0,0-1.93,1.67c-.22.88-.49,1.43-1.4,1.43s-1.56-.74-1.56-2.58V118.09c0-3.57-2.31-4.29-4.34-4.29a8.3,8.3,0,0,0-4.12,1.35v-7.91h-1.54l-4.2,2.31v1.07h.85c.49,0,.68.25.68.82v13.08C208.82,125.34,208.52,125.59,207.29,125.73Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M154.86,101c1.35,0,1.43,2.47,3.35,2.47a2.17,2.17,0,0,0,2.31-2.36c0-1.87-1.7-3.13-4.09-3.13a5,5,0,0,0-5.25,5.08c0,3.76,3.43,6.32,8.24,6.32,5.09,0,8.59-2.77,9.59-6.24v.41h7.28v-1.15c-1.27-.14-1.54-.39-1.54-1.21V93.64a4.32,4.32,0,0,1,2.47-.82A1.64,1.64,0,0,1,179,94.66v6.54c0,.82-.28,1.07-1.54,1.21v1.15h7.28v-1.15c-1.24-.14-1.54-.39-1.54-1.21V94.77c0-3.57-2.31-4.28-4.34-4.28a8.29,8.29,0,0,0-4.12,1.34V83.92h-1.54L169,86.23V87.3h.85c.49,0,.69.25.69.82V101.2c0,.78-.28,1-1.36,1.18a7.83,7.83,0,0,0,.12-1.29c0-8.57-10.71-8-11.76-11.84A17,17,0,0,0,163.68,91c2.69,0,4.37-1.49,4.37-3.46,0-2.17-2.48-3.63-6.13-3.63-3,0-5.52.69-7.14,2.09a15.6,15.6,0,0,0-6.07-1.51c-4.42,0-7.17,2.66-7.17,5.9a5.18,5.18,0,0,0,5.25,5.28c2.6,0,4.14-1.71,4.14-3.49a2.3,2.3,0,0,0-2.3-2.39,2.1,2.1,0,0,0-2.15,1.7c-.16.83-.49,1.1-1,1.1a2,2,0,0,1-1.79-2.2c0-2.41,1.87-4,5.06-4a13.67,13.67,0,0,1,4.83,1.15A5.42,5.42,0,0,0,153,90c0,7.28,11.64,6,11.64,12.75,0,2.94-2.22,4.81-5.33,4.81-2.83,0-6-1.38-6-4.45C153.3,101.78,154,101,154.86,101Zm7.06-15.33c2.5,0,4,.85,4,1.87s-.91,1.51-2.25,1.51a15.51,15.51,0,0,1-5.85-1.71C158.54,86.23,160.25,85.68,161.92,85.68Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M186,100.79c0,1.87,1.45,3.13,3.71,3.13a7.57,7.57,0,0,0,4.42-1.73c.3,1.29,1.43,1.7,2.86,1.7a5.5,5.5,0,0,0,2.22-.38v0h7.28v-1.15c-1.26-.14-1.54-.39-1.54-1.21V99.14l1.49-1.43c3.79,7.39,8.32,12.25,13.68,12.25,3,0,5.13-1.15,5.13-3.13a1.73,1.73,0,0,0-1.81-1.76c-2.45,0-2,3-3.9,3s-4.62-1.87-9.92-13.35l1-.91c1.38-1.29,2-1.59,3.3-1.73V90.9H206.7v1.15c1.92.14,1.89,1.13.74,2.2l-2.53,2.47V83.92h-1.54l-4.2,2.31V87.3H200c.5,0,.69.25.69.82V101.2c0,.67-.21,1-.94,1.11v-.51a1.68,1.68,0,0,1-.79.2c-.47,0-.74-.31-.74-1V94.61c0-3.08-2.45-4.12-5.25-4.12-3.6,0-6.18,1.37-6.18,3.4a1.5,1.5,0,0,0,1.56,1.71A2.15,2.15,0,0,0,190.52,94c.41-1.29,1-1.84,2-1.84,1.21,0,1.46.6,1.46,2.3v1.3C190.08,96.42,186,97.52,186,100.79Zm8-.2a3.77,3.77,0,0,1-2.2.8,1.39,1.39,0,0,1-1.51-1.48c0-1.51,1.48-2.17,3.71-2.61Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M220.71,104c3.46,0,5.93-2.33,5.93-4.53a2,2,0,0,0-2-2.14,1.74,1.74,0,0,0-1.79,1.76c0,.77.47,1,.47,1.64s-.74,1.43-2.09,1.43c-2.28,0-3.27-1.48-3.38-4.31l8.46-2.8c-.6-3.24-3.13-4.53-6-4.53a6.48,6.48,0,0,0-6.79,6.73C213.51,101.14,216.17,104,220.71,104Zm-.33-11.84a2.14,2.14,0,0,1,2,2.28L217.88,96C218,93.43,218.54,92.13,220.38,92.13Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M226.31,92.66h1.51v13.18c0,6.15,4.07,8.68,8.44,8.68,3.81,0,6.18-2.17,6.18-5.35a4.43,4.43,0,0,0-4.73-4.43c-2.36,0-3.87,1.46-3.87,3.27a2.49,2.49,0,0,0,2.39,2.69,1.82,1.82,0,0,0,1.89-1.7c0-1.13-1-1.26-1-1.84,0-.41.41-.69.9-.69a2.49,2.49,0,0,1,2.45,2.7c0,2.25-1.65,3.43-4,3.43-1.18,0-4.4-.77-4.4-5.58V92.66h3V90.9h-3V86.75h-1.56a6.26,6.26,0,0,1-4.18,4.83Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M243.45,90.49a3.66,3.66,0,0,0-3.73,3.92c0,1.9,1.07,3.08,2.25,3.08a1.39,1.39,0,0,0,1.51-1.4,1.55,1.55,0,0,0-1.24-1.54.86.86,0,0,1-.77-.91,1,1,0,0,1,1.05-1.07c1.26,0,2,1.79,2,4.67s-.63,5.09-2.8,5.09-2.8-2.2-2.8-5.09c0-3.27.35-4.91,1.23-5.85l-.46-.79a6.61,6.61,0,0,0-5.11,6.64c0,3.9,2.77,6.73,7.14,6.73s7.14-2.83,7.14-6.73S246.28,90.49,243.45,90.49Z"/>
      <path class="a3422a9a-e29b-46d4-b589-726f153c4614" d="M288.23,99.08c-2.25,0-3.55,1.16-3.55,2.59a2,2,0,0,0,1.93,2.11c1.73,0,1.54-1.81,2.69-1.81a2.1,2.1,0,0,1,1.95,2.36,3.6,3.6,0,0,1-3.87,3.6c-2.42,0-4.54-2.06-4.54-5.25V94.77c0-3.57-2.3-4.28-4.34-4.28a8.29,8.29,0,0,0-4.12,1.34V90.49h-1.54l-4.16,2.28a11.27,11.27,0,0,0,.07-1.29c0-2.72-1.1-4.4-2.61-4.4a1.83,1.83,0,0,0-1.89,1.84,2,2,0,0,0,1,1.68,2.88,2.88,0,0,1,1.38,2.63c0,1.79-1,4.1-2.09,6.24l-2-5.5c-.53-1.45-.2-1.78,1.12-1.92V90.9H256.5v1.15c.8.08,1.13.72,1.48,1.79l-1.86,5L254.3,94c-.52-1.45-.27-1.78,1-1.92V90.9h-7.26v1.15c1,.14,1.3.74,1.71,1.92l3.6,9.59h3l2.55-7.11,2.67,7.11h2.75c2.35-4.09,3.89-7.44,4.28-10.54v.84h.85c.5,0,.69.25.69.83v6.51c0,.82-.3,1.07-1.54,1.21v1.15h7.28v-1.15c-1.26-.14-1.54-.39-1.54-1.21V93.64a4.33,4.33,0,0,1,2.48-.82,1.63,1.63,0,0,1,1.78,1.84v6.65c0,5.3,3.43,8.54,8.21,8.54,4,0,6.38-2.5,6.38-5.52A5,5,0,0,0,288.23,99.08Z"/>
      </svg>
