{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 218 69"
		style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
	>
	<path d="M34.66,26.88v-.06c0-3.87-2.69-5.36-6.72-6.41-3.59-.92-4.31-1.35-4.31-2.53v-.05c0-1,1-1.6,2.46-1.6a8.41,8.41,0,0,1,4.24,1.36,2.43,2.43,0,0,0,1.26.35,2.31,2.31,0,0,0,1.23-4.28,12.21,12.21,0,0,0-6.67-1.87c-4.39,0-7.46,2.66-7.46,6.45v.06c0,4.39,3,5.51,7,6.53,3.46.88,4,1.44,4,2.43v.06c0,1.1-1,1.75-2.79,1.75a8.53,8.53,0,0,1-5.17-1.83,2.44,2.44,0,0,0-1.42-.45A2.3,2.3,0,0,0,18,29.09,2.35,2.35,0,0,0,19,31a13.67,13.67,0,0,0,7.89,2.52C31.67,33.5,34.66,31,34.66,26.88Z"/>
		<path d="M104.31,28.74H95.14V24.8h7.69a2.23,2.23,0,1,0,0-4.46H95.14V16.55h9a2.23,2.23,0,1,0,0-4.46H92.69a2.45,2.45,0,0,0-2.48,2.48V30a3.35,3.35,0,0,0-.47-.74L83.5,21.39l5.69-5.31a2.44,2.44,0,0,0,.89-1.86,2.25,2.25,0,0,0-2.3-2.31,2.79,2.79,0,0,0-2.07.95l-8,8V14.39a2.48,2.48,0,1,0-5,0V29.7l-7.09-16a3,3,0,0,0-2.82-1.92h-.27a3,3,0,0,0-2.85,1.92l-7.09,16V14.39a2.48,2.48,0,1,0-5,0v5.89h-8V14.39a2.48,2.48,0,0,0-5,0V30.9a2.48,2.48,0,0,0,5,0v-6h8v6A2.48,2.48,0,0,0,52.35,32a2.28,2.28,0,0,0,2.13,1.42,2.44,2.44,0,0,0,2.28-1.54l1.4-3.28H67l1.34,3.13a2.51,2.51,0,0,0,2.38,1.69A2.31,2.31,0,0,0,72.9,31.9a2.49,2.49,0,0,0,4.76-1v-4L80,24.64l5.78,7.57a2.52,2.52,0,0,0,2.09,1.17,2.42,2.42,0,0,0,2.44-1.85,2.45,2.45,0,0,0,2.35,1.67h11.62a2.23,2.23,0,1,0,0-4.46ZM60,24.13,62.58,18l2.56,6.1Z"/>
		<path d="M100.76,35.45a2.46,2.46,0,0,0-2.45,2.46V48L89.89,36.92a3,3,0,0,0-2.53-1.41h-.47a2.47,2.47,0,0,0-2.22,1.36,2.42,2.42,0,0,0-2.24-1.42,2.48,2.48,0,0,0-2.38,1.77l-3.92,12.1-3.95-12a2.56,2.56,0,0,0-2.5-2h-.36a2.6,2.6,0,0,0-2.5,2l-3.94,12L59,37.22a2.51,2.51,0,0,0-2.41-1.77A2.46,2.46,0,0,0,54,37.88a3.19,3.19,0,0,0,.18.92l.32.89a11.1,11.1,0,0,0-9.11-4.41,11.41,11.41,0,0,0-7.61,2.82c0-.06,0-.11,0-.16a2.31,2.31,0,0,0-2.31-2.31H22.18a2.31,2.31,0,0,0,0,4.61h4.18v14.2a2.48,2.48,0,0,0,5,0V40.24h4.17a2.42,2.42,0,0,0,.47-.05,10.77,10.77,0,0,0-1.8,6v.06c0,6.18,4.81,10.85,11.18,10.85A11,11,0,0,0,56.58,46.19v-.06q0-.36,0-.72L60,55.07a2.74,2.74,0,0,0,2.56,2H63a2.66,2.66,0,0,0,2.53-2l3.89-11.3,3.89,11.3a2.68,2.68,0,0,0,2.53,2h.48a2.73,2.73,0,0,0,2.55-2l5.52-15.48V54.47a2.45,2.45,0,0,0,4.9,0V44l8.75,11.47a3,3,0,0,0,2.53,1.41h.14a2.46,2.46,0,0,0,2.49-2.48V37.91A2.46,2.46,0,0,0,100.76,35.45ZM51.41,46.25a6,6,0,1,1-12.08-.06v-.06a6,6,0,1,1,12.08.06Z"/>
		<path d="M133.75,45.3l-5.5-4.9A1.12,1.12,0,0,0,126.67,42l2.78,3.13L124,42.37a2.75,2.75,0,0,1-1.36-1.54l-2.09-6a.9.9,0,0,0-1.74.4l.87,7.08a2.71,2.71,0,0,0,.88,1.69l7.33,6.65a1,1,0,0,1,.19,1.21l-3.15,5.48H135V48.15A3.85,3.85,0,0,0,133.75,45.3Z"/>
		<path d="M153.66,34.29a.85.85,0,0,0-.52.54l-2.1,6a2.75,2.75,0,0,1-1.36,1.54l-5.45,2.74L147,42a1.12,1.12,0,0,0-1.58-1.58l-5.5,4.9a3.85,3.85,0,0,0-1.28,2.85v9.19h10.11l-3.15-5.48a1,1,0,0,1,.19-1.21L153.12,44a2.71,2.71,0,0,0,.88-1.69l.87-7.08A.89.89,0,0,0,153.66,34.29Z"/>
		<path d="M152.8,32.45a10.25,10.25,0,0,0,0-10.31,14.76,14.76,0,0,0-6.31-5.75,21.46,21.46,0,0,0-9.65-2.21A20.54,20.54,0,0,0,124.61,18a13.66,13.66,0,0,0-3.74,4.17,10.25,10.25,0,0,0,0,10.31A13.36,13.36,0,0,0,124,36.08v.11h.13a17.56,17.56,0,0,0,3.1,2,21.48,21.48,0,0,0,9.66,2.21,20.47,20.47,0,0,0,12.22-3.8A13.75,13.75,0,0,0,152.8,32.45Zm-3.56,2.8h-1.66A12.81,12.81,0,0,0,149.46,32H152A12.34,12.34,0,0,1,149.24,35.25Zm-2.73-8.43a18.17,18.17,0,0,0-.39-3.27h2.68a11.82,11.82,0,0,1,.59,3.27Zm2.88.95A11.75,11.75,0,0,1,148.8,31h-2.69a17.21,17.21,0,0,0,.39-3.26Zm-3.51-5.17a14.8,14.8,0,0,0-1.35-3.26h1.81a12.2,12.2,0,0,1,2.1,3.26Zm-3.21,5.17h2.89a16.33,16.33,0,0,1-.42,3.26h-2.7A30.69,30.69,0,0,0,142.67,27.77Zm-.23-4.22h2.7a16.43,16.43,0,0,1,.41,3.27h-2.88A30.88,30.88,0,0,0,142.44,23.55Zm2.45-.95H142.3a22.24,22.24,0,0,0-.79-3.26h1.93c.21.35.42.71.6,1.09A13.78,13.78,0,0,1,144.89,22.6Zm-3.17,4.22h-2.88c0-1.13,0-2.23-.07-3.27h2.71A28.23,28.23,0,0,1,141.72,26.82Zm-3-4.22c-.06-1.18-.14-2.28-.23-3.26h2a16.06,16.06,0,0,1,.53,1.77c.12.48.22,1,.31,1.49Zm0,9.38h2.61a19.71,19.71,0,0,1-.84,3.27h-2C138.59,34.26,138.67,33.17,138.73,32Zm0-.95c0-1,.06-2.13.07-3.26h2.88a28.05,28.05,0,0,1-.24,3.26ZM142,33.7c.14-.55.25-1.13.35-1.72h2.59a13.71,13.71,0,0,1-1.46,3.27H141.5C141.67,34.75,141.82,34.24,142,33.7Zm2.94.87a15.1,15.1,0,0,0,1-2.59h2.56a12.1,12.1,0,0,1-2.1,3.27h-1.8C144.66,35,144.78,34.8,144.89,34.57ZM152.45,31h-2.66a12.57,12.57,0,0,0,.55-3.26h2.89A9.43,9.43,0,0,1,152.45,31Zm.78-4.21h-2.89a12.65,12.65,0,0,0-.55-3.27h2.66A9.43,9.43,0,0,1,153.23,26.82ZM152,22.6h-2.52a12.76,12.76,0,0,0-1.88-3.26h1.66A12.52,12.52,0,0,1,152,22.6Zm-4-4.21h-1.25l-.37-.38a14.59,14.59,0,0,0-1.73-1.41A17.51,17.51,0,0,1,148,18.39Zm-2.61,0H144l-.22-.32A10.94,10.94,0,0,0,142,16.21,12.61,12.61,0,0,1,145.4,18.39Zm-5.22-2.33a9,9,0,0,1,2.6,2.33h-1.62l-.09-.22a10.41,10.41,0,0,0-1.37-2.37C139.86,15.88,140,16,140.18,16.06Zm-1,.69a10.41,10.41,0,0,1,.9,1.64H138.4a.28.28,0,0,1,0-.09,19.55,19.55,0,0,0-.5-2.78s0-.07,0-.11A4.33,4.33,0,0,1,139.23,16.75Zm-2.53-1a2.28,2.28,0,0,1,.14-.42c0,.05,0,.1,0,.16a10.58,10.58,0,0,1,.39,1.74c.06.34.11.72.16,1.13h-1.21A17.24,17.24,0,0,1,136.7,15.78Zm-.58,3.56h1.43c.09,1,.17,2.07.23,3.26h-1.89C136,21.41,136,20.31,136.12,19.34Zm1.7,4.21c0,1,.06,2.14.07,3.27h-2.11c0-1.13,0-2.23.07-3.27Zm-2-8.14a12.38,12.38,0,0,0-.36,1.65c-.07.4-.13.85-.19,1.33h-1.73A8.15,8.15,0,0,1,135.08,16,3.42,3.42,0,0,1,135.82,15.41Zm-4.1,5.48c-.13.55-.25,1.12-.35,1.71h-2.59a13.46,13.46,0,0,1,1.46-3.26h1.93C132,19.83,131.85,20.35,131.72,20.89Zm.47,2.66h2.71c0,1-.06,2.14-.06,3.27H132A28.23,28.23,0,0,1,132.19,23.55ZM131,26.82h-2.89a16.43,16.43,0,0,1,.42-3.27h2.7A30.88,30.88,0,0,0,131,26.82Zm.23,4.21h-2.7a16.33,16.33,0,0,1-.41-3.26H131A30.69,30.69,0,0,0,131.23,31Zm-2.45-11a15,15,0,0,0-1,2.58h-2.56a12.2,12.2,0,0,1,2.1-3.26h1.8C129,19.56,128.89,19.78,128.78,20Zm-1.22,3.53a17.31,17.31,0,0,0-.39,3.27h-2.89a11.82,11.82,0,0,1,.59-3.27Zm-.4,4.22a17.2,17.2,0,0,0,.4,3.26h-2.69a11.75,11.75,0,0,1-.59-3.26Zm.63,4.21a15.17,15.17,0,0,0,1.35,3.27h-1.81a12.1,12.1,0,0,1-2.1-3.27Zm1,0h2.59a22,22,0,0,0,.8,3.27h-1.93c-.22-.35-.42-.72-.61-1.1A14.4,14.4,0,0,1,128.78,32ZM132,27.77h2.89c0,1.13,0,2.22.06,3.26h-2.71A28.05,28.05,0,0,1,132,27.77Zm3,4.21c.06,1.19.14,2.28.23,3.27h-2a16.94,16.94,0,0,1-.53-1.78c-.12-.47-.22-1-.31-1.49Zm0-9.38h-2.61a19.84,19.84,0,0,1,.84-3.26h2C135.08,20.32,135,21.42,134.94,22.6Zm-1-6.8-.31.41a11.41,11.41,0,0,0-1.15,2.18h-1.62a9,9,0,0,1,2.6-2.33C133.65,16,133.81,15.88,134,15.8Zm-4.25,2.59h-1.45a12.72,12.72,0,0,1,3.38-2.18A11.32,11.32,0,0,0,129.72,18.39Zm-2.11-1.16c.45-.22.92-.44,1.4-.63A14.59,14.59,0,0,0,127.28,18l-.37.38h-1.25A17,17,0,0,1,127.61,17.23Zm-3.18,2.11h1.66a13.06,13.06,0,0,0-1.88,3.26h-2.52A12.33,12.33,0,0,1,124.43,19.34Zm-3.21,4.21h2.66a12.65,12.65,0,0,0-.55,3.27h-2.89A9.43,9.43,0,0,1,121.22,23.55Zm-.78,4.22h2.89a12.57,12.57,0,0,0,.55,3.26h-2.66A9.43,9.43,0,0,1,120.44,27.77ZM121.69,32h2.52a13.12,13.12,0,0,0,1.88,3.27h-1.66A12.73,12.73,0,0,1,121.69,32Zm4,4.21h1.25c.12.13.24.26.37.38A14.67,14.67,0,0,0,129,38,17.54,17.54,0,0,1,125.66,36.19Zm2.61,0h1.45l.22.32a11,11,0,0,0,1.72,1.87A12.41,12.41,0,0,1,128.27,36.19Zm5.22,2.34a9.07,9.07,0,0,1-2.6-2.34h1.62l.09.23A10.33,10.33,0,0,0,134,38.78C133.81,38.71,133.65,38.62,133.49,38.53Zm.95-.7a10,10,0,0,1-.9-1.64h1.73a.34.34,0,0,1,0,.1,19.55,19.55,0,0,0,.5,2.78.69.69,0,0,1,0,.1A4.33,4.33,0,0,1,134.44,37.83Zm2.53,1a2.43,2.43,0,0,1-.14.41,1.31,1.31,0,0,0-.05-.15,10.58,10.58,0,0,1-.39-1.74c-.06-.35-.11-.73-.16-1.14h1.21A17.42,17.42,0,0,1,137,38.81Zm.58-3.56h-1.42c-.1-1-.18-2.08-.24-3.27h1.89C137.72,33.17,137.64,34.27,137.55,35.25ZM135.85,31c0-1-.06-2.13-.07-3.26h2.11c0,1.13,0,2.23-.07,3.26Zm2,8.14a12.55,12.55,0,0,0,.35-1.65c.07-.4.13-.85.19-1.33h1.73a8,8,0,0,1-1.54,2.41A3.3,3.3,0,0,1,137.86,39.17Zm1.84-.39c.1-.13.21-.26.31-.41a11.12,11.12,0,0,0,1.15-2.18h1.62a9.07,9.07,0,0,1-2.6,2.34C140,38.62,139.86,38.71,139.7,38.78ZM144,36.19h1.45A12.51,12.51,0,0,1,142,38.38,11.38,11.38,0,0,0,144,36.19Zm2.11,1.16c-.45.23-.92.44-1.4.64a13.9,13.9,0,0,0,1.73-1.42c.13-.12.25-.25.37-.38H148A17,17,0,0,1,146.06,37.35Z"/>
		<path d="M118.45,22.63c-.38-.12-.61.19-.81.49s-.21.31-.32.27-.1-.15-.06-.29.17-.26.32-.23l.14-.45c-.36-.11-.69.15-.83.56s-.07.74.32.87.55-.12.74-.39.25-.41.4-.36.12.14.07.3-.2.34-.38.28l-.15.45c.39.13.74-.14.89-.61S118.79,22.74,118.45,22.63Z"/>
		<polygon points="119.23 22.26 118.56 21.93 118.84 21.35 119.52 21.69 119.73 21.26 118.05 20.43 117.84 20.86 118.5 21.18 118.21 21.76 117.55 21.43 117.34 21.86 119.03 22.69 119.23 22.26"/>
		<path d="M120,20.83l-.26-.32.36-.54.39.12.27-.39-1.94-.49-.26.4,1.18,1.61Zm-1-1.18h0l.7.21-.24.36Z"/>
		<polygon points="121.14 19.29 120.76 18.96 120.72 18.68 121.58 18.77 121.95 18.36 120.67 18.23 120.52 17.14 120.15 17.56 120.3 18.55 119.72 18.05 119.41 18.41 120.83 19.64 121.14 19.29"/>
		<polygon points="123.06 17.34 122.8 17.06 122.09 17.71 121.83 17.43 122.43 16.87 122.17 16.59 121.57 17.14 121.34 16.9 122.04 16.25 121.78 15.97 120.73 16.93 122.01 18.32 123.06 17.34"/>
		<polygon points="122.67 15.76 123.57 16.95 123.95 16.67 123.05 15.48 123.48 15.15 123.24 14.84 122 15.79 122.23 16.09 122.67 15.76"/>
		<path d="M125.17,15.89a.9.9,0,0,0,.27-1.33.89.89,0,0,0-1.3-.34,1,1,0,0,0,1,1.67Zm-.83-1.34c.29-.18.53,0,.7.26s.22.57-.07.75-.53,0-.71-.26S124.05,14.73,124.34,14.55Z"/>
		<polygon points="126.72 14.97 126.47 13.79 126.47 13.79 127.23 14.72 127.66 14.52 127.27 12.62 126.85 12.83 127.18 14.08 127.18 14.08 126.36 13.06 125.96 13.25 126.25 14.53 126.25 14.53 125.47 13.49 125.05 13.69 126.3 15.18 126.72 14.97"/>
		<polygon points="128.62 14.14 128.24 13.09 128.25 13.09 129.25 13.92 129.69 13.76 129.05 11.99 128.61 12.15 128.99 13.2 128.98 13.2 127.99 12.38 127.54 12.54 128.18 14.3 128.62 14.14"/>
		<path d="M131.08,13.42a.57.57,0,0,0,.46-.4h0l.1.22.33-.08-.24-1-.82.2.08.33.35-.09a.35.35,0,0,1-.29.4c-.32.08-.49-.13-.58-.47s0-.61.27-.68a.34.34,0,0,1,.44.18l.46-.12a.78.78,0,0,0-1-.44.89.89,0,0,0-.65,1.17A.87.87,0,0,0,131.08,13.42Z"/>
		<polygon points="133.46 12.91 133.39 12.53 132.57 12.67 132.32 11.2 131.85 11.27 132.17 13.13 133.46 12.91"/>
		<path d="M134.39,12.85a.9.9,0,0,0,.83-1.07.93.93,0,1,0-1.85.18A.9.9,0,0,0,134.39,12.85Zm-.15-1.57c.34,0,.48.22.51.54s-.06.61-.39.64-.49-.22-.52-.54S133.89,11.31,134.24,11.28Z"/>
		<path d="M136.4,12.69c.39,0,.64-.18.63-.58a.41.41,0,0,0-.38-.43h0a.39.39,0,0,0,.29-.4c0-.32-.22-.47-.61-.46l-.91,0,0,1.88Zm.16-.62c0,.18-.1.23-.3.23h-.33l0-.44h.34C136.45,11.85,136.55,11.9,136.56,12.07Zm-.34-.87c.14,0,.24,0,.24.18s-.1.19-.23.19h-.32V11.2Z"/>
		<path d="M137.67,12.3l.65,0,.1.4.47,0-.59-1.9-.47,0-.77,1.85.48,0Zm.37-1h0l.18.7-.43,0Z"/>
		<polygon points="140.33 12.53 139.5 12.44 139.67 10.96 139.21 10.9 138.99 12.77 140.29 12.92 140.33 12.53"/>
		<polygon points="142.23 12.88 141.41 12.72 141.7 11.26 141.23 11.17 140.87 13.01 142.15 13.26 142.23 12.88"/>
		<path d="M143.05,13.54a.89.89,0,0,0,1.15-.7.93.93,0,1,0-1.79-.49A.89.89,0,0,0,143.05,13.54Zm-.18-1.07c.08-.31.26-.54.59-.45s.37.38.29.69-.27.55-.6.46S142.78,12.79,142.87,12.47Z"/>
		<path d="M144.8,14.1a.58.58,0,0,0,.61-.08h0l0,.24.32.12.35-.93-.8-.3-.11.32.33.13a.34.34,0,0,1-.46.16c-.31-.11-.33-.38-.21-.71s.31-.52.6-.41a.35.35,0,0,1,.27.39l.44.16a.77.77,0,0,0-.56-.91.88.88,0,0,0-1.19.6A.87.87,0,0,0,144.8,14.1Z"/>
		<rect x="145.53" y="13.48" width="1.88" height="0.47" transform="translate(74.74 142.15) rotate(-66.16)"/>
		<path d="M147.7,14.79c0,.08-.16.1-.31,0s-.31-.24-.22-.42l-.42-.21c-.19.37,0,.75.46,1s.77.14.93-.18-.09-.63-.36-.88-.27-.25-.21-.36.16-.08.29,0a.28.28,0,0,1,.18.35l.42.21a.69.69,0,0,0-.42-.91c-.36-.18-.72-.19-.91.18s0,.56.28.79S147.77,14.66,147.7,14.79Z"/>
		<polygon points="148.35 15.75 148.75 16 149.55 14.74 150.01 15.02 150.21 14.7 148.89 13.87 148.68 14.2 149.15 14.48 148.35 15.75"/>
		<rect x="149.13" y="15.52" width="1.88" height="0.47" transform="translate(49.89 128.6) rotate(-54.4)"/>
		<path d="M150.46,16a.88.88,0,0,0,.07,1.34.75.75,0,0,0,1.11-.05l-.36-.3a.36.36,0,0,1-.52,0c-.24-.2-.17-.46.06-.73s.46-.39.7-.19a.37.37,0,0,1,.07.52l.36.3a.77.77,0,0,0-.17-1.1A.88.88,0,0,0,150.46,16Z"/>
		<path d="M152.23,17.81c.12.25.24.42.13.52s-.18.05-.3-.08-.22-.33-.07-.47l-.33-.34c-.3.3-.22.73.12,1.08s.69.37.95.12.11-.63-.06-.95-.18-.32-.1-.4.19,0,.29.07a.29.29,0,0,1,.06.39l.33.34a.71.71,0,0,0-.12-1c-.28-.29-.62-.4-.91-.12S152.07,17.51,152.23,17.81Z"/>
		<path d="M152.2,19.29l-.14.12a.5.5,0,0,0,.71,0c.14-.12.19-.26.08-.38a.21.21,0,0,0-.32,0,.22.22,0,0,0,0,.33A.25.25,0,0,1,152.2,19.29Z"/>
		<rect x="153.03" y="19.38" width="1.88" height="0.47" transform="translate(17.19 93) rotate(-35.47)"/>
		<polygon points="153.72 20.93 154.68 20.37 154.69 20.37 154.05 21.5 154.29 21.91 155.91 20.97 155.68 20.56 154.71 21.12 154.71 21.11 155.34 19.99 155.11 19.58 153.48 20.52 153.72 20.93"/>
		<path d="M156.47,22.15a1,1,0,0,0-1.81.74.75.75,0,0,0,1,.49l-.18-.44c-.21,0-.38,0-.47-.21s.06-.48.39-.61.59-.13.71.16a.36.36,0,0,1-.19.48l.18.44A.76.76,0,0,0,156.47,22.15Z"/>
		<path d="M155.19,23.65a.22.22,0,0,0-.16.28.22.22,0,0,0,.28.15.21.21,0,0,0,.15-.28A.21.21,0,0,0,155.19,23.65Z"/>
		<path d="M188.45,22.42a11.54,11.54,0,0,0-6.2,1.8A11.5,11.5,0,0,0,178,22.61l8.39-8.39L183,10.81,167.86,25.9h0a11.63,11.63,0,0,0,14.46,18,11.67,11.67,0,0,0,4.27,1.61l-8.38,8.38,3.41,3.42,15.09-15.09h0a11.63,11.63,0,0,0-8.26-19.83Zm-6.8,11.63a6.7,6.7,0,0,1,.63-2.83,6.74,6.74,0,0,1,.64,2.87,6.9,6.9,0,0,1-.62,2.84A6.79,6.79,0,0,1,181.65,34.05Zm-12.33,0a6.81,6.81,0,0,1,6.8-6.8,6.73,6.73,0,0,1,2.54.5,11.58,11.58,0,0,0,0,12.59,6.71,6.71,0,0,1-2.58.52A6.82,6.82,0,0,1,169.32,34.09Zm19.13,6.77a6.73,6.73,0,0,1-2.54-.5,11.6,11.6,0,0,0,0-12.6,6.74,6.74,0,0,1,2.58-.51,6.81,6.81,0,1,1,0,13.61Z"/>
	</svg>
{% if url %}</a>{% endif %}
