{% assign fill_colour = fill_colour | default: '#f1ebd9' %}

<?xml version='1.0' encoding='utf-8'?>
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='fill: {{ fill_colour }};'>
  <path d='M18.92,5.57a1.43,1.43,0,0,0-1.45-1.26H15.36A5.34,5.34,0,0,0,10,0,5.35,5.35,0,0,0,4.63,4.31H2.7A1.42,1.42,0,0,0,1.25,5.56L0,18.51a1.31,1.31,0,0,0,.37,1A1.5,1.5,0,0,0,1.46,20H18.54a1.49,1.49,0,0,0,1.07-.44,1.32,1.32,0,0,0,.39-1ZM10,1.52a3.81,3.81,0,0,1,3.73,2.79H6.26A3.81,3.81,0,0,1,10,1.52Zm-8.36,17L2.84,5.83H17.32l1.05,12.65Z'/>
</svg>
