{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'>
  <path d="M18,0A18,18,0,1,0,36,18,18,18,0,0,0,18,0Zm0,33.68A15.68,15.68,0,1,1,33.68,18,15.69,15.69,0,0,1,18,33.68Z"/>
  <polygon points="17.88 10.61 23.92 16.65 7.55 16.65 7.55 18.98 24.29 18.98 17.88 25.39 19.52 27.03 28.55 18 19.52 8.97 17.88 10.61"/>
</svg>
