<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Keyshape -->
<svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 577.8 300" style="white-space: pre;">
    <style>
@keyframes psbq9zj50zw87hdumudga18c_t { 0% { transform: translate(503.9px,223.496px) rotate(0deg) translate(-503.9px,-214.5px); } 100% { transform: translate(503.9px,223.496px) rotate(359deg) translate(-503.9px,-214.5px); } }
    </style>
    <g>
        <g>
            <path class="st0" d="M0,20C1.8,19.9,2.3,19.6,2.3,18L2.3,4.2C2.3,2.5,1.9,2.3,0,2.2L0,1L7.8,1L15.5,13L15.5,4.2C15.5,2.5,15.1,2.3,13.2,2.2L13.2,1L20,1L20,2.2C18.2,2.3,17.7,2.5,17.7,4.2L17.7,21.2L14.6,21.2L4.5,5.3L4.5,18C4.5,19.6,5,19.9,6.8,20L6.8,21.2L0,21.2L0,20Z" fill="#231F20"/>
            <path class="st0" d="M34.3,14.6C34.3,18.7,31.4,21.7,26.8,21.7C22.2,21.7,19.3,18.7,19.3,14.6C19.3,10.5,22.2,7.5,26.8,7.5C31.4,7.5,34.3,10.5,34.3,14.6ZM29.7,14.6C29.7,11.2,29,9.3,26.8,9.3C24.6,9.3,23.9,11.2,23.9,14.6C23.9,18,24.6,20,26.8,20C29,20,29.7,18,29.7,14.6Z" fill="#231F20"/>
            <path class="st0" d="M41.6,10.6C41.1,10.6,40.5,10.8,40.1,11.4L40.1,18.8C40.1,19.7,40.4,19.9,41.7,20.1L41.7,21.3L34,21.3L34,20C35.3,19.9,35.6,19.6,35.6,18.7L35.6,11.9C35.6,11.3,35.4,11,34.9,11L34,11L34,9.9L38.4,7.5L40,7.5L40,9.2C40.9,8.2,42.2,7.5,43.6,7.5C45.2,7.5,46.1,8.4,46.1,9.8C46.1,11.2,45.2,12.1,44.1,12.1C42.5,12.1,42.6,10.6,41.6,10.6Z" fill="#231F20"/>
            <path class="st0" d="M51.4,21.6C48.7,21.6,46.9,20.7,46.9,17.7L46.9,9.8L45.3,9.8L45.3,8.6C47.7,7.7,49.1,6.1,49.7,3.5L51.3,3.5L51.3,7.9L54.5,7.9L54.5,9.7L51.3,9.7L51.3,17.6C51.3,19,51.9,19.6,52.9,19.6C53.4,19.6,54.1,19.5,54.5,19.3L54.5,21.1C53.8,21.4,52.5,21.6,51.4,21.6Z" fill="#231F20"/>
            <path class="st0" d="M63.1,20C64.4,19.9,64.7,19.6,64.7,18.7L64.7,11.8C64.7,10.4,63.9,9.9,62.8,9.9C61.8,9.9,61,10.2,60.2,10.8L60.2,18.7C60.2,19.6,60.5,19.8,61.8,20L61.8,21.2L54.1,21.2L54.1,20C55.4,19.9,55.7,19.6,55.7,18.7L55.7,5C55.7,4.4,55.5,4.1,55,4.1L54.1,4.1L54.1,3L58.5,0.6L60.1,0.6L60.1,8.9C61.3,8.1,63,7.5,64.4,7.5C66.5,7.5,69,8.3,69,12L69,18.8C69,19.7,69.3,19.9,70.6,20.1L70.6,21.3L62.9,21.3L62.9,20Z" fill="#231F20"/>
            <path class="st0" d="M77.2,4.1C76.7,2.7,76.1,2.4,75,2.2L75,1L84.2,1L84.2,2.2C82.5,2.4,82,2.7,82.5,4L87.2,15.9L91.8,4C92.3,2.7,91.6,2.4,89.9,2.2L89.9,1L96.1,1L96.1,2.2C95,2.3,94.4,2.7,93.9,4L87.3,21.2L83.8,21.2L77.2,4.1Z" fill="#231F20"/>
            <path class="st0" d="M96,21.6C93.6,21.6,92.1,20.3,92.1,18.3C92.1,14.9,96.4,13.7,100.6,13L100.6,11.6C100.6,9.8,100.3,9.2,99.1,9.2C98,9.2,97.4,9.8,97,11.1C96.6,12.3,95.8,12.8,94.7,12.8C93.7,12.8,93.1,12.2,93.1,11C93.1,8.9,95.8,7.4,99.6,7.4C102.5,7.4,105.1,8.5,105.1,11.7L105.1,18.4C105.1,19.2,105.4,19.5,105.9,19.5C106.1,19.5,106.4,19.5,106.7,19.3L106.7,20.8C105.9,21.3,105,21.5,103.7,21.5C102.2,21.5,101,21.1,100.7,19.7C99.4,20.7,97.8,21.6,96,21.6ZM100.5,14.7C98.2,15.2,96.6,15.9,96.6,17.4C96.6,18.5,97.3,19,98.2,19C99.1,19,99.8,18.7,100.5,18.2L100.5,14.7Z" fill="#231F20"/>
            <path class="st0" d="M115.2,20C116.5,19.9,116.8,19.6,116.8,18.7L116.8,11.8C116.8,10.4,116,9.9,114.9,9.9C113.9,9.9,113.1,10.2,112.3,10.8L112.3,18.7C112.3,19.6,112.6,19.8,113.9,20L113.9,21.2L106.2,21.2L106.2,20C107.5,19.9,107.8,19.6,107.8,18.7L107.8,11.9C107.8,11.3,107.6,11,107.1,11L106.2,11L106.2,9.9L110.6,7.5L112.2,7.5L112.2,8.9C113.4,8.1,115.1,7.5,116.5,7.5C118.6,7.5,121.1,8.3,121.1,12L121.1,18.8C121.1,19.7,121.4,19.9,122.7,20.1L122.7,21.3L115,21.3L115,20Z" fill="#231F20"/>
            <path class="st0" d="M131.4,11.2C131.2,10,130.8,9.3,129.7,9.3C127.7,9.3,127.2,11.2,127.2,14.6C127.2,18,128.4,19.8,130.8,19.8C132.5,19.8,133.7,18.7,134.6,16.6L136.2,17.5C135,20.1,133.3,21.7,130,21.7C125.5,21.7,122.6,18.7,122.6,14.6C122.6,10.5,125.5,7.5,129.7,7.5C133.1,7.5,135.4,9,135.4,11.1C135.4,12.4,134.5,13.1,133.5,13.1C132.5,13.1,131.6,12.4,131.4,11.2Z" fill="#231F20"/>
            <path class="st0" d="M150.7,14.6C150.7,18.7,147.8,21.7,143.2,21.7C138.6,21.7,135.7,18.7,135.7,14.6C135.7,10.5,138.6,7.5,143.2,7.5C147.8,7.5,150.7,10.5,150.7,14.6ZM146.1,14.6C146.1,11.2,145.4,9.3,143.2,9.3C141,9.3,140.3,11.2,140.3,14.6C140.3,18,141,20,143.2,20C145.4,20,146.1,18,146.1,14.6Z" fill="#231F20"/>
            <path class="st0" d="M163.7,7.5L165.3,7.5L165.3,18.8C165.3,19.7,165.6,19.9,166.9,20.1L166.9,21.3C164.8,21.3,162.9,21.4,160.9,21.7L160.9,20.3C159.7,21.1,158,21.7,156.5,21.7C154.4,21.7,151.9,20.9,151.9,17.2L151.9,11.9C151.9,11.3,151.7,11,151.2,11L150.3,11L150.3,9.9L154.7,7.5L156.3,7.5L156.3,17.3C156.3,18.7,157.1,19.2,158.2,19.2C159.1,19.2,160,18.9,160.8,18.3L160.8,11.9C160.8,11.3,160.6,11,160,11L159.1,11L159.1,9.9L163.7,7.5Z" fill="#231F20"/>
            <path class="st0" d="M167.6,11.2C167.1,9.8,166.8,9.3,165.7,9.2L165.7,7.9L173.7,7.9L173.7,9.1C172.2,9.2,171.9,9.6,172.4,11L174.4,16L176.4,11C176.9,9.6,176.5,9.2,175.2,9.1L175.2,7.9L180.5,7.9L180.5,9.1C179.5,9.2,179.1,9.8,178.6,11.1L174.5,21.2L171.8,21.2L167.6,11.2Z" fill="#231F20"/>
            <path class="st0" d="M183.8,14.6C183.8,18,184.8,19.8,187.4,19.8C189.1,19.8,190.6,18.6,191.6,16.6L193.2,17.5C192,20,190.1,21.7,186.8,21.7C182,21.7,179.2,18.7,179.2,14.6C179.2,10.5,182.1,7.5,186.3,7.5C190.5,7.5,192.7,9.9,192.7,13.8L183.7,13.8C183.8,14.1,183.8,14.3,183.8,14.6ZM188.7,12C188.7,10.3,187.8,9.3,186.5,9.3C184.9,9.3,184.2,10.2,184,12L188.7,12Z" fill="#231F20"/>
            <path class="st0" d="M200.5,10.6C200,10.6,199.4,10.8,199,11.4L199,18.8C199,19.7,199.3,19.9,200.6,20.1L200.6,21.3L193,21.3L193,20C194.3,19.9,194.6,19.6,194.6,18.7L194.6,11.9C194.6,11.3,194.4,11,193.9,11L193,11L193,9.9L197.4,7.5L199,7.5L199,9.2C199.9,8.2,201.2,7.5,202.6,7.5C204.2,7.5,205.1,8.4,205.1,9.8C205.1,11.2,204.2,12.1,203.1,12.1C201.4,12.1,201.5,10.6,200.5,10.6Z" fill="#231F20"/>
            <path class="st0" d="M210.1,3.6C210.1,5.7,208,8.7,206.4,10.3L205.5,9.5C206.4,8.3,207,7.2,207.4,6C205.5,6,204.6,4.7,204.6,3.3C204.6,1.9,205.6,0.6,207.3,0.6C209.1,0.6,210.1,1.9,210.1,3.6Z" fill="#231F20"/>
            <path class="st0" d="M220.9,16.9C220.9,19.9,218.3,21.7,214.9,21.7C213.1,21.7,211.3,21.1,210.4,20.5L210.1,21.3L209,21.3L208,16.6L209,16.3C210.5,18.8,212.8,20,214.8,20C216,20,216.9,19.5,216.9,18.4C216.9,17.3,215.5,16.8,213.7,16.3C211.4,15.6,208.4,14.6,208.4,11.8C208.4,9.3,210.9,7.5,214,7.5C215.9,7.5,217.1,8.1,217.9,8.7L218.2,7.9L219.3,7.9L220.2,12.1L219.1,12.4C217.9,10.2,216,9,214.4,9C213.3,9,212.7,9.5,212.7,10.3C212.7,11.3,214,11.8,215.6,12.3C218.3,13.2,220.9,14.1,220.9,16.9Z" fill="#231F20"/>
            <path class="st0" d="M225.9,20C227.7,19.9,228.2,19.6,228.2,18L228.2,4.2C228.2,2.5,227.8,2.3,225.9,2.2L225.9,1L233.7,1L241.4,13L241.4,4.2C241.4,2.5,241,2.3,239.1,2.2L239.1,1L245.9,1L245.9,2.2C244.1,2.3,243.6,2.5,243.6,4.2L243.6,21.2L240.5,21.2L230.5,5.3L230.5,18C230.5,19.6,231,19.9,232.8,20L232.8,21.2L226,21.2L226,20Z" fill="#231F20"/>
            <path class="st0" d="M249.8,14.6C249.8,18,250.8,19.8,253.4,19.8C255.1,19.8,256.6,18.6,257.6,16.6L259.2,17.5C258,20,256.1,21.7,252.8,21.7C248,21.7,245.2,18.7,245.2,14.6C245.2,10.5,248.1,7.5,252.3,7.5C256.5,7.5,258.7,9.9,258.7,13.8L249.7,13.8C249.8,14.1,249.8,14.3,249.8,14.6ZM254.6,12C254.6,10.3,253.7,9.3,252.4,9.3C250.8,9.3,250.1,10.2,249.9,12L254.6,12Z" fill="#231F20"/>
            <path class="st0" d="M266.5,21.2L263.4,21.2L259.6,11.1C259.2,9.9,258.9,9.2,257.8,9.1L257.8,7.9L265.4,7.9L265.4,9.1C264,9.2,263.8,9.6,264.3,11.1L266.2,16.2L268.2,10.9C267.8,9.8,267.4,9.2,266.6,9.1L266.6,7.9L274.1,7.9L274.1,9.1C272.7,9.2,272.4,9.6,272.9,11.1L274.8,16.2L276.7,11.1C277.2,9.6,276.7,9.2,275.4,9.1L275.4,7.9L280.7,7.9L280.7,9.1C279.7,9.2,279.3,9.8,278.8,11.1L275.1,21.2L272,21.2L269.2,13.7L266.5,21.2Z" fill="#231F20"/>
            <path class="st0" d="M284.1,14.6C284.1,18,285.1,19.8,287.7,19.8C289.4,19.8,290.9,18.6,291.9,16.6L293.5,17.5C292.3,20,290.4,21.7,287.1,21.7C282.3,21.7,279.5,18.7,279.5,14.6C279.5,10.5,282.4,7.5,286.6,7.5C290.8,7.5,293,9.9,293,13.8L284,13.8C284.1,14.1,284.1,14.3,284.1,14.6ZM289,12C289,10.3,288.1,9.3,286.8,9.3C285.2,9.3,284.5,10.2,284.3,12L289,12Z" fill="#231F20"/>
            <path class="st0" d="M306.2,16.9C306.2,19.9,303.6,21.7,300.2,21.7C298.4,21.7,296.6,21.1,295.7,20.5L295.4,21.3L294.3,21.3L293.3,16.6L294.3,16.3C295.8,18.8,298.1,20,300.1,20C301.3,20,302.2,19.5,302.2,18.4C302.2,17.3,300.8,16.8,299,16.3C296.7,15.6,293.7,14.6,293.7,11.8C293.7,9.3,296.2,7.5,299.3,7.5C301.2,7.5,302.4,8.1,303.2,8.7L303.5,7.9L304.6,7.9L305.5,12.1L304.4,12.4C303.2,10.2,301.3,9,299.7,9C298.6,9,298,9.5,298,10.3C298,11.3,299.3,11.8,300.9,12.3C303.6,13.2,306.2,14.1,306.2,16.9Z" fill="#231F20"/>
            <path class="st0" d="M311.7,21.6C309,21.6,307.2,20.7,307.2,17.7L307.2,9.8L305.6,9.8L305.6,8.6C308,7.7,309.4,6.1,310,3.5L311.6,3.5L311.6,7.9L314.8,7.9L314.8,9.7L311.6,9.7L311.6,17.6C311.6,19,312.2,19.6,313.2,19.6C313.7,19.6,314.4,19.5,314.8,19.3L314.8,21.1C314.1,21.4,312.8,21.6,311.7,21.6Z" fill="#231F20"/>
            <path class="st0" d="M328.7,1C325.8,3.3,323.6,8.2,323.6,13.8C323.6,19.4,325.8,24.2,328.7,26.6L328,27.6C323.8,25.2,319.9,20.7,319.9,13.9C319.9,7.1,323.8,2.6,328,0.2L328.7,1Z" fill="#231F20"/>
            <path class="st0" d="M332.1,21.6C329.7,21.6,328.2,20.3,328.2,18.3C328.2,14.9,332.5,13.7,336.7,13L336.7,11.6C336.7,9.8,336.4,9.2,335.2,9.2C334.1,9.2,333.5,9.8,333.1,11.1C332.7,12.3,331.9,12.8,330.8,12.8C329.8,12.8,329.2,12.2,329.2,11C329.2,8.9,331.9,7.4,335.7,7.4C338.6,7.4,341.2,8.5,341.2,11.7L341.2,18.4C341.2,19.2,341.5,19.5,342,19.5C342.2,19.5,342.5,19.5,342.8,19.3L342.8,20.8C342,21.3,341.1,21.5,339.8,21.5C338.3,21.5,337.1,21.1,336.8,19.7C335.5,20.7,333.9,21.6,332.1,21.6ZM336.7,14.7C334.4,15.2,332.8,15.9,332.8,17.4C332.8,18.5,333.5,19,334.4,19C335.3,19,336,18.7,336.7,18.2L336.7,14.7Z" fill="#231F20"/>
            <path class="st0" d="M351.3,20C352.6,19.9,352.9,19.6,352.9,18.7L352.9,11.8C352.9,10.4,352.1,9.9,351,9.9C350,9.9,349.2,10.2,348.4,10.8L348.4,18.7C348.4,19.6,348.7,19.8,350,20L350,21.2L342.3,21.2L342.3,20C343.6,19.9,343.9,19.6,343.9,18.7L343.9,11.9C343.9,11.3,343.7,11,343.2,11L342.3,11L342.3,9.9L346.7,7.5L348.3,7.5L348.3,8.9C349.5,8.1,351.2,7.5,352.6,7.5C354.7,7.5,357.2,8.3,357.2,12L357.2,18.8C357.2,19.7,357.5,19.9,358.8,20.1L358.8,21.3L351.1,21.3L351.1,20Z" fill="#231F20"/>
            <path class="st0" d="M371.4,0.6L373,0.6L373,18.8C373,19.7,373.3,19.9,374.6,20.1L374.6,21.3C372.5,21.3,370.6,21.4,368.5,21.7L368.5,20.3C367.6,21.2,366.4,21.7,364.8,21.7C361.2,21.7,358.6,18.9,358.6,14.6C358.6,10.3,361.1,7.5,364.8,7.5C366.4,7.5,367.7,8,368.5,8.9L368.5,5C368.5,4.4,368.3,4.1,367.8,4.1L366.9,4.1L366.9,3L371.4,0.6ZM368.6,10.8C368.1,10,367.3,9.6,366.3,9.6C364.2,9.6,363.3,11.2,363.3,14.6C363.3,18,364.2,19.6,366.3,19.6C367.3,19.6,368.1,19.2,368.6,18.4L368.6,10.8Z" fill="#231F20"/>
            <path class="st0" d="M401.1,11.1C401.1,17.5,397.2,21.6,390.6,21.6C384,21.6,380.1,17.4,380.1,11.1C380.1,4.7,384,0.6,390.6,0.6C397.2,0.6,401.1,4.7,401.1,11.1ZM395.6,11.1C395.6,6.1,394.5,2.4,390.6,2.4C386.7,2.4,385.6,6.1,385.6,11.1C385.6,16.1,386.7,19.8,390.6,19.8C394.5,19.8,395.6,16.2,395.6,11.1Z" fill="#231F20"/>
            <path class="st0" d="M401.1,20C402.4,19.9,402.7,19.6,402.7,18.7L402.7,5C402.7,4.4,402.5,4.1,402,4.1L401.1,4.1L401.1,3L405.5,0.6L407.1,0.6L407.1,18.8C407.1,19.7,407.4,19.9,408.7,20.1L408.7,21.3L401,21.3L401,20Z" fill="#231F20"/>
            <path class="st0" d="M421.3,0.6L422.9,0.6L422.9,18.8C422.9,19.7,423.2,19.9,424.5,20.1L424.5,21.3C422.4,21.3,420.5,21.4,418.4,21.7L418.4,20.3C417.5,21.2,416.3,21.7,414.7,21.7C411.1,21.7,408.5,18.9,408.5,14.6C408.5,10.3,411,7.5,414.7,7.5C416.3,7.5,417.6,8,418.4,8.9L418.4,5C418.4,4.4,418.2,4.1,417.7,4.1L416.8,4.1L416.8,3L421.3,0.6ZM418.5,10.8C418,10,417.2,9.6,416.2,9.6C414.1,9.6,413.2,11.2,413.2,14.6C413.2,18,414.1,19.6,416.2,19.6C417.2,19.6,418,19.2,418.5,18.4L418.5,10.8Z" fill="#231F20"/>
            <path class="st0" d="M428.9,14.6C428.9,18,429.9,19.8,432.5,19.8C434.2,19.8,435.7,18.6,436.7,16.6L438.3,17.5C437.1,20,435.2,21.7,431.9,21.7C427.1,21.7,424.3,18.7,424.3,14.6C424.3,10.5,427.2,7.5,431.4,7.5C435.6,7.5,437.8,9.9,437.8,13.8L428.8,13.8C428.9,14.1,428.9,14.3,428.9,14.6ZM433.7,12C433.7,10.3,432.8,9.3,431.5,9.3C429.9,9.3,429.2,10.2,429,12L433.7,12Z" fill="#231F20"/>
            <path class="st0" d="M451,16.9C451,19.9,448.4,21.7,445,21.7C443.2,21.7,441.4,21.1,440.5,20.5L440.2,21.3L439.1,21.3L438.1,16.6L439.1,16.3C440.6,18.8,442.9,20,444.9,20C446.1,20,447,19.5,447,18.4C447,17.3,445.6,16.8,443.8,16.3C441.5,15.6,438.5,14.6,438.5,11.8C438.5,9.3,441,7.5,444.1,7.5C446,7.5,447.2,8.1,448,8.7L448.3,7.9L449.4,7.9L450.3,12.1L449.2,12.4C448,10.2,446.1,9,444.5,9C443.4,9,442.8,9.5,442.8,10.3C442.8,11.3,444.1,11.8,445.7,12.3C448.4,13.2,451,14.1,451,16.9Z" fill="#231F20"/>
            <path class="st0" d="M456.5,21.6C453.8,21.6,452,20.7,452,17.7L452,9.8L450.4,9.8L450.4,8.6C452.8,7.7,454.2,6.1,454.8,3.5L456.4,3.5L456.4,7.9L459.6,7.9L459.6,9.7L456.4,9.7L456.4,17.6C456.4,19,457,19.6,458,19.6C458.5,19.6,459.2,19.5,459.6,19.3L459.6,21.1C458.8,21.4,457.5,21.6,456.5,21.6Z" fill="#231F20"/>
            <path class="st0" d="M458.9,26.5C461.8,24.1,464,19.3,464,13.7C464,8.1,461.8,3.2,458.9,1L459.6,0C463.8,2.4,467.7,6.9,467.7,13.7C467.7,20.5,463.8,25,459.6,27.4L458.9,26.5Z" fill="#231F20"/>
            <path class="st0" d="M472.8,21.2L472.8,20C474.6,19.9,475.1,19.6,475.1,18L475.1,4.2C475.1,2.5,474.7,2.3,472.8,2.2L472.8,1L482.2,1C488.2,1,491.7,2,491.7,6.2C491.7,8.6,490.2,10,487.6,10.6C490.6,11.3,492.3,12.9,492.3,15.5C492.3,19.7,488.8,21.2,482.8,21.2L472.8,21.2ZM481.1,3C480.6,3,480.2,3.3,480.2,3.9L480.2,9.7L482.2,9.7C484.6,9.7,486.2,9,486.2,6.3C486.2,3.6,484.7,3.1,482.5,3.1L481.1,3.1ZM480.2,11.6L480.2,18.4C480.2,18.9,480.5,19.3,481.1,19.3L482.8,19.3C485.4,19.3,486.8,18.2,486.8,15.5C486.8,12.8,485.3,11.5,482.8,11.5L480.2,11.5Z" fill="#231F20"/>
            <path class="st0" d="M499.8,10.6C499.3,10.6,498.7,10.8,498.3,11.4L498.3,18.8C498.3,19.7,498.6,19.9,499.9,20.1L499.9,21.3L492.2,21.3L492.2,20C493.5,19.9,493.8,19.6,493.8,18.7L493.8,11.9C493.8,11.3,493.6,11,493.1,11L492.2,11L492.2,9.9L496.6,7.5L498.2,7.5L498.2,9.2C499.1,8.2,500.4,7.5,501.8,7.5C503.4,7.5,504.3,8.4,504.3,9.8C504.3,11.2,503.4,12.1,502.3,12.1C500.7,12.1,500.8,10.6,499.8,10.6Z" fill="#231F20"/>
            <path class="st0" d="M508.5,14.6C508.5,18,509.5,19.8,512.1,19.8C513.8,19.8,515.3,18.6,516.3,16.6L517.9,17.5C516.7,20,514.8,21.7,511.5,21.7C506.7,21.7,503.9,18.7,503.9,14.6C503.9,10.5,506.8,7.5,511,7.5C515.2,7.5,517.4,9.9,517.4,13.8L508.4,13.8C508.5,14.1,508.5,14.3,508.5,14.6ZM513.3,12C513.3,10.3,512.4,9.3,511.1,9.3C509.5,9.3,508.8,10.2,508.6,12L513.3,12Z" fill="#231F20"/>
            <path class="st0" d="M525.2,21.2L522,21.2L518.2,11.1C517.8,9.9,517.5,9.2,516.4,9.1L516.4,7.9L524,7.9L524,9.1C522.6,9.2,522.4,9.6,522.9,11.1L524.8,16.2L526.8,10.9C526.4,9.8,526,9.2,525.2,9.1L525.2,7.9L532.7,7.9L532.7,9.1C531.3,9.2,531,9.6,531.5,11.1L533.4,16.2L535.3,11.1C535.8,9.6,535.3,9.2,534,9.1L534,7.9L539.3,7.9L539.3,9.1C538.3,9.2,537.9,9.8,537.4,11.1L533.7,21.2L530.6,21.2L527.8,13.7L525.2,21.2Z" fill="#231F20"/>
            <path class="st0" d="M542.8,14.6C542.8,18,543.8,19.8,546.4,19.8C548.1,19.8,549.6,18.6,550.6,16.6L552.2,17.5C551,20,549.1,21.7,545.8,21.7C541,21.7,538.2,18.7,538.2,14.6C538.2,10.5,541.1,7.5,545.3,7.5C549.5,7.5,551.7,9.9,551.7,13.8L542.7,13.8C542.8,14.1,542.8,14.3,542.8,14.6ZM547.7,12C547.7,10.3,546.8,9.3,545.5,9.3C543.9,9.3,543.2,10.2,543,12L547.7,12Z" fill="#231F20"/>
            <path class="st0" d="M559.5,10.6C559,10.6,558.4,10.8,558,11.4L558,18.8C558,19.7,558.3,19.9,559.6,20.1L559.6,21.3L552,21.3L552,20C553.3,19.9,553.6,19.6,553.6,18.7L553.6,11.9C553.6,11.3,553.4,11,552.9,11L552,11L552,9.9L556.4,7.5L558,7.5L558,9.2C558.9,8.2,560.2,7.5,561.6,7.5C563.2,7.5,564.1,8.4,564.1,9.8C564.1,11.2,563.2,12.1,562.1,12.1C560.3,12.1,560.5,10.6,559.5,10.6Z" fill="#231F20"/>
            <path class="st0" d="M566.3,27C564.6,27,563.2,26,563.2,24.5C563.2,23.4,564,22.6,565.1,22.6C566.5,22.6,566.7,24,567.7,24C568.2,24,568.7,23.5,569,22.8L569.3,22.1L564.9,11.3C564.4,10.1,564.1,9.4,563,9.3L563,7.9L571,7.9L571,9.1C569.5,9.2,569.2,9.6,569.8,11.1L571.7,16L573.7,11.1C574.3,9.6,573.7,9.2,572.4,9.1L572.4,7.9L577.7,7.9L577.7,9.1C576.7,9.2,576.3,9.8,575.8,11.1L570.7,23.6C569.9,25.8,568.4,27,566.3,27Z" fill="#231F20"/>
        </g>
        <g>
            <g>
                <g>
                    <path class="st0" d="M159.9,109.6C159.9,126.4,147.1,137.3,125.2,137.3C102.4,137.3,85.2,126,85.2,106.5L107.3,106.5C107.3,115.8,115.4,119.3,125.2,119.3C133.4,119.3,137.8,116.1,137.8,111.7C137.8,104.7,128.3,103.1,116,99.4C100.8,95,87.6,88.5,87.6,72.3C87.6,53.2,102.6,45.7,121.5,45.7C142,45.7,158.1,56.5,158.7,74.3L136.6,74.3C135.6,67.7,130,63.7,121.5,63.7C114.9,63.7,109.7,65.8,109.7,70.7C109.7,76.1,115.2,77.8,126.3,80.9C142.8,85.4,159.9,90.8,159.9,109.6Z" fill="#231F20"/>
                    <path class="st0" d="M190.8,47.6L190.8,82L220.9,82L220.9,47.6L243,47.6L243,135.4L220.9,135.4L220.9,100L190.8,100L190.8,135.4L168.7,135.4L168.7,47.6L190.8,47.6Z" fill="#231F20"/>
                    <path class="st0" d="M275.4,117.1L269.8,135.4L247.7,135.4L279.5,47.6L301.6,47.6L333.3,135.4L311.2,135.4L305.6,117.1L275.4,117.1ZM300.5,100.3L290.6,67.9L290.4,67.9L280.5,100.3L300.5,100.3Z" fill="#231F20"/>
                    <path class="st0" d="M361.4,47.6L361.4,83.2L392,47.6L417.8,47.6L384.4,86.3L419,135.4L393.2,135.4L370.2,102.1L361.4,112.2L361.4,135.4L339.3,135.4L339.3,47.6L361.4,47.6Z" fill="#231F20"/>
                    <path class="st0" d="M485.3,81.3L485.3,99.3L447,99.3L447,117.3L492.2,117.3L492.2,135.3L424.9,135.3L424.9,47.6L491.4,47.6L491.4,65.6L447,65.6L447,81.2L485.3,81.2Z" fill="#231F20"/>
                </g>
            </g>
            <g>
                <g>
                    <path class="st0" d="M135.1,161L109.6,161L109.6,143L182.6,143L182.6,161L157.2,161L157.2,230.7L135.1,230.7L135.1,161Z" fill="#231F20"/>
                    <path class="st0" d="M183.5,186.8C183.5,160.4,199.1,141,227,141C254.6,141,270.5,160.4,270.5,186.8C270.5,213.3,254.7,232.7,227,232.7C199.1,232.7,183.5,213.3,183.5,186.8ZM248.3,186.8C248.3,171.6,242.9,159.1,226.9,159.1C210.8,159.1,205.5,171.6,205.5,186.8C205.5,202.1,210.8,214.7,226.9,214.7C242.9,214.7,248.3,202.1,248.3,186.8Z" fill="#231F20"/>
                    <path class="st0" d="M291.3,143L302.6,202.5L302.8,202.5L316.4,143L337.3,143L350.9,202.5L351.1,202.5L362.4,143L384.5,143L362.2,230.8L340.1,230.8L327,176L326.8,176L313.7,230.7L291.6,230.7L269.2,143L291.3,143Z" fill="#231F20"/>
                    <path class="st0" d="M390.6,143L412.7,143L443.4,195.2L443.6,195.2L443.6,143L465.7,143L465.7,230.8L443.6,230.8L412.9,178.6L412.7,178.6L412.7,230.8L390.6,230.8L390.6,143Z" fill="#231F20"/>
                </g>
            </g>
            <g>
                <g>
                    <path class="st0" d="M469.7,149.6C469.7,145.7,472.7,142.7,476.5,142.7C480.3,142.7,483.3,145.6,483.3,149.6C483.3,153.5,480.3,156.5,476.5,156.5C472.7,156.5,469.7,153.6,469.7,149.6ZM481.6,149.6C481.6,146.3,479.7,144.2,476.5,144.2C473.3,144.2,471.4,146.4,471.4,149.6C471.4,152.9,473.4,155.1,476.5,155.1C479.6,155.1,481.6,152.9,481.6,149.6ZM473.5,145.9L477,145.9C478.6,145.9,479.6,146.6,479.6,148C479.6,149,479,149.6,478.1,149.8L478.1,149.8C479.9,150.1,479.3,153,479.7,153.1L479.7,153.2L477.8,153.2C477.4,152.9,478.1,150.6,476.5,150.6L475.3,150.6L475.3,153.2L473.5,153.2L473.5,145.9ZM475.4,149.2L476.7,149.2C477.4,149.2,477.8,148.9,477.8,148.3C477.8,147.7,477.4,147.4,476.7,147.4L475.4,147.4L475.4,149.2Z" fill="#231F20"/>
                </g>
            </g>
        </g>
        <g>
            <g>
                <path class="st0" d="M67.2,274C39.9,274,17.6,251.8,17.6,224.4C17.6,197,39.8,174.8,67.2,174.8C94.6,174.8,116.8,197,116.8,224.4C116.8,251.8,94.5,274,67.2,274ZM67.2,178.4C41.8,178.4,21.2,199,21.2,224.4C21.2,249.8,41.8,270.4,67.2,270.4C92.6,270.4,113.2,249.8,113.2,224.4C113.2,199,92.6,178.4,67.2,178.4Z" fill="#231F20"/>
                <g>
                    <path class="st0" d="M30.1,242.6C30.9,244.2,32.4,244.1,34.2,243.2C36,242.3,37,241.1,36.2,239.5C35.6,238.2,34.5,238.1,33.4,238.5L32.2,236.1C34.6,235.2,36.9,235.8,38.2,238.5C39.7,241.6,38.4,244.3,35.5,245.7C32.6,247.1,29.6,246.6,28.1,243.5C26.8,240.9,27.7,238.7,29.8,237.3L31,239.7C30,240.4,29.4,241.3,30.1,242.6Z" fill="#231F20"/>
                    <path class="st0" d="M24.9,233.7L35.4,231L36.1,233.6L25.6,236.3L24.9,233.7Z" fill="#231F20"/>
                    <path class="st0" d="M26.3,228.3L26.5,231.4L24.3,231.5L23.8,222.5L26,222.4L26.2,225.5L34.8,225L35,227.7L26.3,228.3Z" fill="#231F20"/>
                    <path class="st0" d="M24.2,218.5L29,217.3L29,217.3L25,214.4L25.5,211.6L31.5,216.5L35.4,217.2L34.9,219.9L31,219.2L23.6,221.5L24.2,218.5Z" fill="#231F20"/>
                    <path class="st0" d="M32.3,208.7C29.5,207,28.6,204,30.4,201.1C32.2,198.2,35.3,197.8,38,199.6C40.8,201.4,41.7,204.3,39.9,207.2C38.1,210.1,35.1,210.4,32.3,208.7ZM36.6,201.9C35,200.9,33.3,200.6,32.3,202.3C31.2,204,32.2,205.4,33.8,206.4C35.4,207.4,37.1,207.7,38.1,206C39.1,204.3,38.2,202.9,36.6,201.9Z" fill="#231F20"/>
                    <path class="st0" d="M44.3,193L45.8,194.7L42.5,197.6L45.1,200.6L43,202.4L35.9,194.2L42,188.9L43.5,190.6L39.5,194.1L41.1,195.9L44.3,193Z" fill="#231F20"/>
                    <path class="st0" d="M58.5,189.5C59.3,191.4,58.3,193.3,55.8,194.3C53.2,195.3,50.7,194.8,49.8,192.6L52.3,191.6C52.7,192.7,53.8,192.7,54.9,192.3C55.8,191.9,56.2,191.4,56,190.9C55.7,190.1,54.5,190.3,52.9,190.5C51,190.7,49.1,190.5,48.4,188.7C47.5,186.5,48.9,185,51.1,184.1C53.5,183.2,55.8,183.7,56.7,185.7L54.2,186.7C53.8,186,53,185.8,52,186.2C51.2,186.5,50.7,187,51,187.5C51.2,188.1,52,188.1,53.4,187.9C55.4,187.5,57.6,187.4,58.5,189.5Z" fill="#231F20"/>
                    <path class="st0" d="M62.2,181.3L62.5,185.5L66.2,185.2L65.9,181L68.6,180.8L69.4,191.6L66.7,191.8L66.4,187.4L62.7,187.7L63,192.1L60.3,192.3L59.5,181.5L62.2,181.3Z" fill="#231F20"/>
                    <path class="st0" d="M73.4,190.2L72.2,192.2L69.5,191.6L75.8,182L78.5,182.6L79.8,194.1L77.1,193.5L76.9,191.1L73.4,190.2ZM76.9,188.9L76.6,184.7L76.6,184.7L74.5,188.3L76.9,188.9Z" fill="#231F20"/>
                    <path class="st0" d="M88.2,186.5L85.9,190.3L91.4,188.5L94.1,190.2L88.1,192.1L88.6,199.5L85.9,197.8L85.6,192.8L84,193.3L82.5,195.7L80.2,194.3L85.8,185L88.2,186.5Z" fill="#231F20"/>
                    <path class="st0" d="M98.4,200.6L96.8,202.1L93.6,198.6L92,200.1L95.8,204.2L94.2,205.7L88.6,199.6L96.6,192.3L102.1,198.4L100.5,199.9L96.8,195.8L95.4,197.1L98.4,200.6Z" fill="#231F20"/>
                    <path class="st0" d="M102.6,203.5L101.1,200.7L103.1,199.6L107.4,207.5L105.4,208.6L103.9,205.8L96.3,209.9L95,207.5L102.6,203.5Z" fill="#231F20"/>
                    <path class="st0" d="M102.7,210.2C105.9,209.4,108.7,210.7,109.5,214.1C110.3,217.4,108.5,219.9,105.3,220.7C102.1,221.5,99.3,220.2,98.5,216.8C97.7,213.4,99.5,211,102.7,210.2ZM104.6,218C106.4,217.6,107.8,216.5,107.3,214.6C106.8,212.7,105.2,212.4,103.3,212.9C101.5,213.4,100.1,214.4,100.6,216.3C101.1,218.1,102.8,218.4,104.6,218Z" fill="#231F20"/>
                    <path class="st0" d="M110.7,224.2L103.2,224.9L103.2,224.9L110.4,227.3L110.1,229.9L102.6,230.9L102.6,230.9L109.8,233L109.5,235.7L99,231.9L99.3,229.2L106.2,228.3L106.2,228.3L99.6,226L99.9,223.3L111,221.6L110.7,224.2Z" fill="#231F20"/>
                    <path class="st0" d="M108.2,239.1L107,241.6L99.5,242.2L99.5,242.2L105.3,245L104.1,247.5L94.3,242.8L95.5,240.3L103,239.7L103,239.7L97.2,236.9L98.4,234.4L108.2,239.1Z" fill="#231F20"/>
                </g>
                <g>
                    <path class="st0" d="M51.1,254.4L52.8,255.1L53.5,260.1L53.5,260.1L55.2,256.1L56.9,256.8L54,263.6L52.3,262.9L51.6,257.9L51.6,257.9L49.9,261.9L48.2,261.2L51.1,254.4Z" fill="#231F20"/>
                    <path class="st0" d="M56.4,263.4C56.5,262.9,57,262.6,57.5,262.8C58,262.9,58.3,263.4,58.1,263.9C58,264.4,57.5,264.6,57,264.5C56.5,264.4,56.2,264,56.4,263.4Z" fill="#231F20"/>
                    <path class="st0" d="M61.4,257.9L62.1,263.2L62.1,263.2L64.2,258.3L66.1,258.6L62.8,265.6L60.9,265.3L59.5,257.7L61.4,257.9Z" fill="#231F20"/>
                    <path class="st0" d="M65.8,264.9C65.8,264.4,66.2,264,66.7,264C67.2,264,67.6,264.4,67.6,264.9C67.6,265.4,67.2,265.8,66.7,265.8C66.2,265.8,65.8,265.4,65.8,264.9Z" fill="#231F20"/>
                    <path class="st0" d="M74,261.2L74,261.2C74.8,261.2,75.5,261.7,75.7,262.8C75.9,264.3,75,265.1,73.5,265.3L69.9,265.8L68.9,258.5L72.4,258C73.9,257.8,74.8,258.3,75,259.5C75,260.4,74.6,260.9,74,261.2ZM72.3,261C72.8,260.9,73.2,260.8,73.1,260.2C73,259.6,72.6,259.5,72.1,259.6L70.8,259.8L71,261.2L72.3,261ZM71.4,264L72.7,263.8C73.5,263.7,73.8,263.5,73.7,262.8C73.6,262.1,73.2,262,72.4,262.1L71.1,262.3L71.4,264Z" fill="#231F20"/>
                    <path class="st0" d="M77.5,263.6C77.4,263.1,77.6,262.7,78.1,262.5C78.6,262.4,79,262.6,79.2,263.1C79.3,263.6,79.1,264,78.6,264.2C78.1,264.3,77.7,264.1,77.5,263.6Z" fill="#231F20"/>
                    <path class="st0" d="M81.6,256.6C80.5,257.1,80.5,258.1,81.1,259.4C81.7,260.7,82.4,261.4,83.5,260.9C84.4,260.5,84.5,259.8,84.3,259L86,258.2C86.6,259.8,86.1,261.4,84.2,262.2C82.1,263.1,80.3,262.2,79.4,260.1C78.5,258.1,79,256.1,81.1,255.1C82.9,254.3,84.4,254.9,85.2,256.4L83.5,257.2C83.1,256.6,82.5,256.2,81.6,256.6Z" fill="#231F20"/>
                    <path class="st0" d="M88.1,259.1C87.8,258.7,88,258.2,88.4,257.9C88.8,257.6,89.3,257.7,89.6,258.2C89.9,258.7,89.7,259.1,89.3,259.4C88.9,259.7,88.4,259.6,88.1,259.1Z" fill="#231F20"/>
                </g>
            </g>
            <g>
                <path class="st0" d="M50.1,212L50.8,215.9L50.8,215.9L51.7,212L53,212L53.9,215.9L53.9,215.9L54.6,212L56,212L54.6,217.7L53.2,217.7L52.3,214.2L52.3,214.2L51.4,217.7L50,217.7L48.6,212L50.1,212Z" fill="#231F20"/>
                <path class="st0" d="M57.4,216.5L57,217.7L55.6,217.7L57.7,212L59.1,212L61.2,217.7L59.8,217.7L59.4,216.5L57.4,216.5ZM59,215.4L58.4,213.3L58.4,213.3L57.8,215.4L59,215.4Z" fill="#231F20"/>
                <path class="st0" d="M61.6,212L64.3,212C65.6,212,66.3,212.6,66.3,213.7C66.3,214.5,65.9,214.9,65.1,215.1L65.1,215.1C66.5,215.3,66,217.6,66.3,217.6L66.3,217.7L64.8,217.7C64.5,217.5,65,215.7,63.8,215.7L63,215.7L63,217.7L61.6,217.7L61.6,212ZM63,214.6L64,214.6C64.6,214.6,64.9,214.4,64.9,213.9C64.9,213.4,64.6,213.2,64,213.2L63,213.2L63,214.6Z" fill="#231F20"/>
                <path class="st0" d="M66.9,212L68.3,212L70.3,215.4L70.3,215.4L70.3,212L71.7,212L71.7,217.7L70.3,217.7L68.3,214.3L68.3,214.3L68.3,217.7L66.9,217.7L66.9,212Z" fill="#231F20"/>
                <path class="st0" d="M74,212L74,217.7L72.6,217.7L72.6,212L74,212Z" fill="#231F20"/>
                <path class="st0" d="M74.8,212L76.2,212L78.2,215.4L78.2,215.4L78.2,212L79.6,212L79.6,217.7L78.2,217.7L76.2,214.3L76.2,214.3L76.2,217.7L74.8,217.7L74.8,212Z" fill="#231F20"/>
                <path class="st0" d="M83,213.1C82.1,213.1,81.7,213.8,81.7,214.9C81.7,216,82.1,216.7,83.1,216.7C83.8,216.7,84.2,216.3,84.2,215.8L83.1,215.8L83.1,214.8L85.7,214.8L85.7,217.8L84.7,217.8L84.6,217.1L84.6,217.1C84.3,217.6,83.8,218,83,218C81.4,218,80.4,216.7,80.4,215C80.4,213.3,81.4,212,83.2,212C84.8,212,85.6,212.9,85.8,214L84.4,214C84,213.5,83.7,213.1,83,213.1Z" fill="#231F20"/>
                <path class="st0" d="M39,221.6L41.5,221.6C43.1,221.6,44,222.6,44,224.4C44,226.2,43.1,227.2,41.5,227.2L39,227.2L39,221.6ZM40.4,226.1L41.3,226.1C42.2,226.1,42.5,225.5,42.5,224.4C42.5,223.4,42.1,222.7,41.3,222.7L40.4,222.7L40.4,226.1Z" fill="#231F20"/>
                <path class="st0" d="M44.3,224.4C44.3,222.7,45.3,221.4,47.1,221.4C48.9,221.4,49.9,222.7,49.9,224.4C49.9,226.1,48.9,227.4,47.1,227.4C45.3,227.4,44.3,226.1,44.3,224.4ZM48.5,224.4C48.5,223.4,48.1,222.6,47.1,222.6C46.1,222.6,45.7,223.4,45.7,224.4C45.7,225.4,46,226.2,47.1,226.2C48.2,226.2,48.5,225.4,48.5,224.4Z" fill="#231F20"/>
                <path class="st0" d="M51.9,221.6L53.3,221.6L55.3,225L55.3,225L55.3,221.6L56.7,221.6L56.7,227.3L55.3,227.3L53.3,223.9L53.3,223.9L53.3,227.3L51.9,227.3L51.9,221.6Z" fill="#231F20"/>
                <path class="st0" d="M57.3,224.4C57.3,222.7,58.3,221.4,60.1,221.4C61.9,221.4,62.9,222.7,62.9,224.4C62.9,226.1,61.9,227.4,60.1,227.4C58.3,227.4,57.3,226.1,57.3,224.4ZM61.5,224.4C61.5,223.4,61.1,222.6,60.1,222.6C59.1,222.6,58.7,223.4,58.7,224.4C58.7,225.4,59,226.2,60.1,226.2C61.2,226.2,61.5,225.4,61.5,224.4Z" fill="#231F20"/>
                <path class="st0" d="M64.7,222.7L63,222.7L63,221.5L67.7,221.5L67.7,222.7L66.1,222.7L66.1,227.2L64.7,227.2L64.7,222.7Z" fill="#231F20"/>
                <path class="st0" d="M74.2,225.6C74.2,226.7,73.4,227.4,71.9,227.4C70.4,227.4,69.3,226.7,69.3,225.4L70.7,225.4C70.7,226,71.2,226.2,71.9,226.2C72.4,226.2,72.7,226,72.7,225.7C72.7,225.2,72.1,225.1,71.3,224.9C70.3,224.6,69.5,224.2,69.5,223.1C69.5,221.9,70.5,221.4,71.7,221.4C73,221.4,74.1,222.1,74.1,223.3L72.7,223.3C72.6,222.9,72.3,222.6,71.7,222.6C71.3,222.6,70.9,222.7,70.9,223.1C70.9,223.5,71.3,223.6,72,223.8C73.1,224,74.2,224.4,74.2,225.6Z" fill="#231F20"/>
                <path class="st0" d="M76.2,221.6L76.2,223.8L78.1,223.8L78.1,221.6L79.5,221.6L79.5,227.3L78.1,227.3L78.1,225L76.2,225L76.2,227.3L74.8,227.3L74.8,221.6L76.2,221.6Z" fill="#231F20"/>
                <path class="st0" d="M81.7,226.1L81.3,227.3L79.9,227.3L82,221.6L83.4,221.6L85.5,227.3L84,227.3L83.6,226.1L81.7,226.1ZM83.3,225L82.7,222.9L82.7,222.9L82,225L83.3,225Z" fill="#231F20"/>
                <path class="st0" d="M87.3,221.6L87.3,223.9L89.3,221.6L91,221.6L88.8,224.1L91,227.3L89.3,227.3L87.8,225.1L87.2,225.8L87.2,227.3L85.8,227.3L85.8,221.6L87.3,221.6Z" fill="#231F20"/>
                <path class="st0" d="M95.3,223.7L95.3,224.9L92.8,224.9L92.8,226.1L95.7,226.1L95.7,227.3L91.3,227.3L91.3,221.6L95.6,221.6L95.6,222.8L92.7,222.8L92.7,223.8L95.3,223.8Z" fill="#231F20"/>
                <path class="st0" d="M48.8,232.2C47.9,232.2,47.5,232.9,47.5,234C47.5,235.1,47.8,235.8,48.8,235.8C49.6,235.8,49.8,235.3,49.9,234.7L51.3,234.7C51.2,236,50.3,237,48.8,237C47,237,46,235.7,46,234C46,232.3,47,231,48.8,231C50.4,231,51.2,231.9,51.3,233.2L50,233.2C49.9,232.6,49.6,232.2,48.8,232.2Z" fill="#231F20"/>
                <path class="st0" d="M51.7,234C51.7,232.3,52.7,231,54.5,231C56.3,231,57.3,232.3,57.3,234C57.3,235.7,56.3,237,54.5,237C52.7,236.9,51.7,235.7,51.7,234ZM55.9,234C55.9,233,55.5,232.2,54.5,232.2C53.5,232.2,53.1,233,53.1,234C53.1,235,53.4,235.8,54.5,235.8C55.5,235.8,55.9,235,55.9,234Z" fill="#231F20"/>
                <path class="st0" d="M57.8,231.1L59.2,231.1L61.2,234.5L61.2,234.5L61.2,231.1L62.6,231.1L62.6,236.8L61.2,236.8L59.2,233.4L59.2,233.4L59.2,236.8L57.8,236.8L57.8,231.1Z" fill="#231F20"/>
                <path class="st0" d="M64.8,232.3L63.1,232.3L63.1,231.1L67.8,231.1L67.8,232.3L66.2,232.3L66.2,236.8L64.8,236.8L64.8,232.3Z" fill="#231F20"/>
                <path class="st0" d="M72.3,233.3L72.3,234.5L69.8,234.5L69.8,235.7L72.7,235.7L72.7,236.9L68.3,236.9L68.3,231.2L72.6,231.2L72.6,232.4L69.7,232.4L69.7,233.4L72.3,233.4Z" fill="#231F20"/>
                <path class="st0" d="M73.4,231.1L74.8,231.1L76.8,234.5L76.8,234.5L76.8,231.1L78.2,231.1L78.2,236.8L76.8,236.8L74.8,233.4L74.8,233.4L74.8,236.8L73.4,236.8L73.4,231.1Z" fill="#231F20"/>
                <path class="st0" d="M80.3,232.3L78.6,232.3L78.6,231.1L83.3,231.1L83.3,232.3L81.7,232.3L81.7,236.8L80.3,236.8L80.3,232.3Z" fill="#231F20"/>
                <path class="st0" d="M88.4,235.1C88.4,236.2,87.6,236.9,86.1,236.9C84.6,236.9,83.5,236.2,83.5,234.9L85,234.9C85,235.5,85.5,235.7,86.2,235.7C86.7,235.7,87,235.5,87,235.2C87,234.7,86.4,234.6,85.6,234.4C84.6,234.1,83.8,233.7,83.8,232.6C83.8,231.4,84.8,230.9,86,230.9C87.3,230.9,88.4,231.6,88.4,232.8L87,232.8C86.9,232.4,86.6,232.1,86,232.1C85.6,232.1,85.2,232.2,85.2,232.6C85.2,233,85.6,233.1,86.3,233.3C87.3,233.6,88.4,233.9,88.4,235.1Z" fill="#231F20"/>
            </g>
        </g>
        <g>
            <g>
                <path class="st0" d="M23,82.4L26.7,82.4L31.9,91.2L31.9,91.2L31.9,82.4L35.6,82.4L35.6,97.2L32,97.2L26.8,88.4L26.8,88.4L26.8,97.2L23,97.2L23,82.4Z" fill="#231F20"/>
                <path class="st0" d="M37.6,95.7C37.6,94.6,38.4,93.9,39.4,93.9C40.4,93.9,41.2,94.6,41.2,95.7C41.2,96.8,40.4,97.5,39.4,97.5C38.3,97.4,37.6,96.7,37.6,95.7Z" fill="#231F20"/>
                <path class="st0" d="M43.9,82.4L46.7,92.8L46.7,92.8L49.5,82.4L53.4,82.4L48.6,97.2L44.7,97.2L40,82.4L43.9,82.4Z" fill="#231F20"/>
                <path class="st0" d="M52.4,95.7C52.4,94.6,53.2,93.9,54.2,93.9C55.2,93.9,56,94.6,56,95.7C56,96.8,55.2,97.5,54.2,97.5C53.2,97.4,52.4,96.7,52.4,95.7Z" fill="#231F20"/>
            </g>
            <g>
                <path class="st0" d="M528.7,89.3L528.7,89.3C530.3,89.6,531.6,90.6,531.6,92.9C531.6,96,529.6,97.3,526.5,97.3L519.1,97.3L519.1,82.4L526.3,82.4C529.4,82.4,531,83.6,531,86.1C531,88,530,88.9,528.7,89.3ZM525.4,88.4C526.4,88.4,527.3,88.2,527.3,86.9C527.3,85.6,526.5,85.4,525.4,85.4L522.8,85.4L522.8,88.3L525.4,88.3ZM522.9,94.2L525.6,94.2C527.2,94.2,527.9,93.8,527.9,92.4C527.9,91,527.1,90.7,525.6,90.7L522.9,90.7L522.9,94.2Z" fill="#231F20"/>
                <path class="st0" d="M532.7,95.7C532.7,94.6,533.5,93.9,534.5,93.9C535.5,93.9,536.3,94.6,536.3,95.7C536.3,96.8,535.5,97.5,534.5,97.5C533.5,97.4,532.7,96.7,532.7,95.7Z" fill="#231F20"/>
                <path class="st0" d="M543.6,85.1C541.1,85.1,540.3,87,540.3,89.8C540.3,92.6,541.1,94.5,543.6,94.5C545.6,94.5,546.3,93.3,546.6,91.7L550.3,91.7C550,95.2,547.8,97.6,543.8,97.6C539.1,97.6,536.6,94.3,536.6,89.8C536.6,85.3,539.1,82.1,543.8,82.1C547.8,82.1,550,84.5,550.3,87.9L546.6,87.9C546.3,86.3,545.6,85.1,543.6,85.1Z" fill="#231F20"/>
                <path class="st0" d="M551.1,95.7C551.1,94.6,551.9,93.9,552.9,93.9C553.9,93.9,554.7,94.6,554.7,95.7C554.7,96.8,553.9,97.5,552.9,97.5C551.8,97.4,551.1,96.7,551.1,95.7Z" fill="#231F20"/>
            </g>
        </g>
    </g>
    <g id="psbq9zj50zw87hdumudga18c" transform="translate(503.9,223.496) translate(-503.9,-214.5)" style="animation: 20s linear infinite both psbq9zj50zw87hdumudga18c_t;">
        <g>
            <g>
                <path class="st0" d="M477.8,165.4L476.5,166.1L476.3,165.7L475.9,165.6L474.9,166.2L474.8,166.6L475.3,167.4L475.6,167.5L477.5,166.4L478.7,166.7L479.7,168.5L479.3,170L477.2,171.2L475.6,170.8L475,169.7L476.3,169L476.6,169.6L477,169.7L478.1,169.1L478.2,168.7L477.7,167.8L477.4,167.7L475.5,168.7L474.2,168.4L473.2,166.7L473.6,165.2L475.8,164L477.3,164.4L477.8,165.4Z" fill="#de3214"/>
                <path class="st0" d="M487.7,166.5L486.3,167L485.3,164.1L483.6,164.7L484.6,167.6L483.3,168.1L480.9,161.5L482.2,161L483.2,163.7L484.9,163.1L483.9,160.4L485.3,159.9L487.7,166.5Z" fill="#de3214"/>
                <path class="st0" d="M495.8,164.6L494.4,164.9L493.7,163.4L492.1,163.7L492,165.4L490.7,165.6L491.1,158.4L492.8,158.1L495.8,164.6ZM492.1,162.9L493.3,162.7L492.1,160.1L492.1,162.9Z" fill="#de3214"/>
                <path class="st0" d="M501.9,159.8L504.1,164.2L502.6,164.2L501.1,161L500.3,162.1L500.4,164.3L498.9,164.3L498.7,157.3L500.2,157.3L500.3,160L502.3,157.3L503.9,157.3L501.9,159.8Z" fill="#de3214"/>
                <path class="st0" d="M512.5,159.5L509.6,159.1L509.4,160.5L511.4,160.8L511.3,161.9L509.3,161.6L509.1,163.2L512.1,163.6L511.9,165L507.5,164.4L508.4,157.5L512.8,158.1L512.5,159.5Z" fill="#de3214"/>
                <path class="st0" d="M520.9,161.5L519.2,161L517.6,166.4L516.2,166L517.8,160.6L516.1,160.1L516.5,158.8L521.2,160.2L520.9,161.5Z" fill="#de3214"/>
                <path class="st0" d="M526.7,168.9L525.1,169.5L523,168.5L522.4,166.9L524.4,162.7L526,162.1L528.2,163.1L528.8,164.7L526.7,168.9ZM526.9,164.2L525.8,163.7L525.4,163.9L523.9,167L524.1,167.5L525.2,168L525.7,167.8L527.2,164.7L526.9,164.2Z" fill="#de3214"/>
                <path class="st0" d="M534.3,175.3L532.9,174.3L534.8,169.8L531.2,173L529.7,171.9L532.8,165.5L534,166.3L531.9,171L535.8,167.6L536.8,168.3L534.8,173.1L538.5,169.6L539.6,170.4L534.3,175.3Z" fill="#de3214"/>
                <path class="st0" d="M541,181.8L540,180.8L541.8,176L538.5,179.1L537.7,178.2L542.8,173.4L543.9,174.6L542.2,179L545.3,176.1L546.1,177L541,181.8Z" fill="#de3214"/>
            </g>
        </g>
        <g>
            <g>
                <path class="st0" d="M465.1,251.6L464.3,251.6L464.3,252.5L462.9,253.8L461.3,253.7L459,251.1L464.2,246.4L466.5,249L466.4,250.5L465.1,251.6ZM462.1,250L460.9,251.1L461.9,252.2L462.4,252.2L463.2,251.5L463.2,251.1L462.1,250ZM464,248.4L463,249.3L464,250.4L464.4,250.4L465,249.9L465,249.5L464,248.4Z" fill="#de3214"/>
                <path class="st0" d="M465.7,257.8L464.8,257L465.7,256L466.6,256.8L465.7,257.8Z" fill="#de3214"/>
                <path class="st0" d="M475.8,258L474.9,259.3L473.7,258.5L474.2,257.8L474.1,257.4L473.1,256.7L472.6,256.8L470.7,259.6L470.8,260.1L471.7,260.7C471.8,260.7,472,260.6,472.1,260.6L472.7,259.7L473.9,260.5L473,261.9L471.4,262.2L469.5,260.9C469.4,260.3,469.3,259.7,469.2,259.1L471.7,255.4L473.4,255.1L475.4,256.4L475.8,258Z" fill="#de3214"/>
                <path class="st0" d="M476.8,265.3L475.7,264.7L476.3,263.5L477.4,264.1L476.8,265.3Z" fill="#de3214"/>
                <path class="st0" d="M492.1,264.5L491.7,266L490.3,265.6L490.5,264.7L490.3,264.3L489.2,264L488.8,264.3L488,267.6L488.3,268.1L489.4,268.4C489.5,268.3,489.7,268.2,489.8,268.2L490.1,267.2L491.5,267.6L491.1,269.2L489.7,270L487.5,269.4C487.2,268.9,486.9,268.3,486.6,267.8L487.7,263.5L489.2,262.6L491.5,263.2L492.1,264.5Z" fill="#de3214"/>
                <path class="st0" d="M499.4,271.4L497.9,271.2L497.7,269.6L496.1,269.4L495.6,271L494.3,270.9L496.7,264.1L498.4,264.3L499.4,271.4ZM496.4,268.7L497.7,268.8L497.3,266L496.4,268.7Z" fill="#de3214"/>
                <path class="st0" d="M508.4,271.3L507,271.4L504.5,267L504.8,271.6L503.6,271.7L503.2,264.7L504.8,264.6L507.1,268.8L506.9,264.5L508.1,264.4L508.4,271.3Z" fill="#de3214"/>
                <path class="st0" d="M517.3,269.7L515.9,270L515.2,268.5L513.6,268.8L513.6,270.5L512.3,270.8L512.5,263.6L514.2,263.2L517.3,269.7ZM513.6,268L514.8,267.7L513.6,265.2L513.6,268Z" fill="#de3214"/>
                <path class="st0" d="M525.1,265.4L524.3,267.3L521.3,268.5L518.8,262L521.9,260.8L523.7,261.6L525.1,265.4ZM520.5,262.7L522,266.6L523.2,266.1L523.5,265.4L522.4,262.5L521.8,262.2L520.5,262.7Z" fill="#de3214"/>
                <path class="st0" d="M533.5,262.5L532.2,263.2L531.1,262L529.7,262.8L530.2,264.4L529.1,265L527.1,258.1L528.6,257.2L533.5,262.5ZM529.4,262.1L530.5,261.5L528.6,259.5L529.4,262.1Z" fill="#de3214"/>
            </g>
        </g>
        <g>
            <path class="st0" d="M482.9,194.4L481.2,195.6L478,195.1L479.1,188.2L482.4,188.7L483.6,190.3L482.9,194.4ZM480.3,189.9L479.6,194L480.9,194.2L481.5,193.8L482,190.7L481.6,190.1L480.3,189.9Z" fill="#de3214"/>
            <path class="st0" d="M491.5,191.7L488.6,191.2L488.4,192.6L490.4,192.9L490.2,194L488.2,193.7L487.9,195.3L490.8,195.8L490.6,197.2L486.2,196.5L487.3,189.6L491.7,190.3L491.5,191.7Z" fill="#de3214"/>
            <path class="st0" d="M499.4,194.8L498.1,195.8L496,195.5L495.6,198.1L494.2,197.9L495.3,191L498.8,191.6L499.8,192.9L499.4,194.8ZM496.5,192.5L496.2,194.1L497.7,194.3L498.1,194L498.3,193L498,192.6L496.5,192.5Z" fill="#de3214"/>
            <path class="st0" d="M507.6,194.2L505.9,193.9L505,199.5L503.6,199.3L504.5,193.7L502.8,193.4L503,192.1L507.8,192.9L507.6,194.2Z" fill="#de3214"/>
            <path class="st0" d="M511.1,200.5L509.9,200.3L510.1,199L511.3,199.2L511.1,200.5Z" fill="#de3214"/>
            <path class="st0" d="M525,201.6L523.6,202.6L521.3,202.2L520.3,200.8L521,196.2L522.3,195.2L524.7,195.6L525.7,196.9L525,201.6ZM523.9,197L522.7,196.8L522.3,197.1L521.7,200.5L522,200.9L523.2,201.1L523.6,200.8L524.2,197.4L523.9,197Z" fill="#de3214"/>
            <path class="st0" d="M533.6,198.6L530.7,198.1L530.5,199.6L532.7,200L532.5,201.1L530.3,200.7L529.8,203.6L528.4,203.4L529.5,196.5L533.9,197.2L533.6,198.6Z" fill="#de3214"/>
            <path class="st0" d="M453,199.1L451.6,198.9L451.7,198.2L451.5,197.9L450.3,197.7L449.9,198L449.4,201.3L449.7,201.7L450.8,201.9L451.3,201.6L451.5,200.6L450.6,200.4L450.8,199.4L453.2,199.8L452.6,203.6L451.2,203.4L451.3,202.8L450.6,203.3L449.1,203.1L448,201.6L448.7,197.2L450.1,196.2L452.5,196.6L453.4,197.9L453,199.1Z" fill="#de3214"/>
            <path class="st0" d="M461.2,199.4L458.3,198.9L458.1,200.3L460.1,200.6L459.9,201.7L457.9,201.4L457.6,203L460.5,203.5L460.3,204.9L455.9,204.2L457,197.3L461.4,198L461.2,199.4Z" fill="#de3214"/>
            <path class="st0" d="M468.6,206.3L467.2,206.1L465.7,201.2L465,205.7L463.8,205.5L464.9,198.6L466.5,198.9L467.8,203.5L468.5,199.3L469.7,199.5L468.6,206.3Z" fill="#de3214"/>
            <path class="st0" d="M477.6,202.1L474.7,201.6L474.5,203L476.5,203.3L476.3,204.4L474.3,204.1L474,205.7L476.9,206.2L476.7,207.6L472.3,206.9L473.4,200L477.8,200.7L477.6,202.1Z" fill="#de3214"/>
            <path class="st0" d="M485.8,203.1L485.5,205L484.3,205.9L484.9,208.9L483.5,208.7L483,205.8L482.2,205.7L481.7,208.5L480.3,208.3L481.4,201.4L484.9,202L485.8,203.1ZM482.5,202.9L482.3,204.4L483.8,204.6L484.1,204.4L484.3,203.5L484.1,203.2L482.5,202.9Z" fill="#de3214"/>
            <path class="st0" d="M493.2,210.3L491.7,210.1L491.6,208.4L490,208.1L489.4,209.6L488.1,209.4L490.9,202.8L492.6,203.1L493.2,210.3ZM490.3,207.4L491.6,207.6L491.4,204.8L490.3,207.4Z" fill="#de3214"/>
            <path class="st0" d="M498.2,209.7L501.1,210.2L500.9,211.6L496.6,210.9L497.7,204L499.1,204.2L498.2,209.7Z" fill="#de3214"/>
            <path class="st0" d="M514.4,213.8L512.9,213.6L512.8,211.9L511.2,211.6L510.6,213.1L509.3,212.9L512.1,206.3L513.8,206.6L514.4,213.8ZM511.6,210.8L512.9,211L512.7,208.2L511.6,210.8Z" fill="#de3214"/>
            <path class="st0" d="M523,209.5L520.1,209L519.9,210.5L522.1,210.9L521.9,212L519.7,211.6L519.2,214.5L517.8,214.3L518.9,207.4L523.3,208.1L523,209.5Z" fill="#de3214"/>
            <path class="st0" d="M530.7,210.8L527.8,210.3L527.6,211.8L529.8,212.2L529.6,213.3L527.4,212.9L526.9,215.8L525.5,215.6L526.6,208.7L531,209.4L530.7,210.8Z" fill="#de3214"/>
            <path class="st0" d="M537.2,217.5L535.7,217.3L535.6,215.6L534,215.3L533.4,216.8L532.1,216.6L534.9,210L536.6,210.3L537.2,217.5ZM534.4,214.6L535.7,214.8L535.5,212L534.4,214.6Z" fill="#de3214"/>
            <path class="st0" d="M542.1,218.3L540.7,218.1L541.8,211.2L543.2,211.4L542.1,218.3Z" fill="#de3214"/>
            <path class="st0" d="M551.4,213.8L551.1,215.7L549.9,216.6L550.5,219.6L549.1,219.4L548.6,216.5L547.8,216.4L547.3,219.2L545.9,219L547,212.1L550.5,212.7L551.4,213.8ZM548.2,213.7L548,215.2L549.5,215.4L549.8,215.2L550,214.3L549.8,214L548.2,213.7Z" fill="#de3214"/>
            <path class="st0" d="M559.4,216.3L558,216.1L558.1,215.6L557.9,215.3L556.7,215.1L556.4,215.3L556.2,216.2L556.4,216.5L558.5,216.8L559.3,217.8L559,219.9L557.7,220.8L555.3,220.4L554.4,219.1L554.6,217.8L556,218L555.9,218.6L556.2,219L557.4,219.2L557.8,218.9L558,217.9L557.8,217.6L555.7,217.3L554.9,216.2L555.2,214.3L556.4,213.4L558.9,213.8L559.8,215.1L559.4,216.3Z" fill="#de3214"/>
            <path class="st0" d="M457.6,210.9L457.3,212.5L456.2,213.3L456.8,214.5L457.4,213.8L458.5,214L457.3,215.5L458.3,217.3L457,217.1L456.5,216.2L455.8,216.9L454.1,216.6L453.2,215.4L453.5,213.8L454.7,213L454.1,211.8L454.3,210.4L455.3,209.7L456.8,209.9L457.6,210.9ZM454.8,214.4L454.7,215.2L454.9,215.5L455.6,215.6L456,215.1L455.4,213.9L454.8,214.4ZM456.3,211.1L455.7,211L455.5,211.2L455.4,211.8L455.8,212.5L456.4,212L456.5,211.3L456.3,211.1Z" fill="#de3214"/>
            <path class="st0" d="M472.1,218.3L470.7,219.3L468.4,218.9L467.4,217.5L468.1,212.9L469.4,211.9L471.8,212.3L472.8,213.6L472.1,218.3ZM471,213.7L469.8,213.5L469.4,213.8L468.8,217.2L469.1,217.6L470.3,217.8L470.7,217.5L471.3,214.1L471,213.7Z" fill="#de3214"/>
            <path class="st0" d="M480.6,215.2L478.9,214.9L478,220.5L476.6,220.3L477.5,214.7L475.8,214.4L476,213.1L480.8,213.9L480.6,215.2Z" fill="#de3214"/>
            <path class="st0" d="M487.6,222.1L486.2,221.9L486.7,218.9L484.9,218.6L484.4,221.6L483,221.4L484.1,214.5L485.5,214.7L485,217.5L486.8,217.8L487.3,215L488.7,215.2L487.6,222.1Z" fill="#de3214"/>
            <path class="st0" d="M496.6,217.9L493.7,217.4L493.5,218.8L495.5,219.1L495.3,220.2L493.3,219.9L493,221.5L495.9,222L495.7,223.4L491.3,222.7L492.4,215.8L496.8,216.5L496.6,217.9Z" fill="#de3214"/>
            <path class="st0" d="M504.7,218.9L504.4,220.8L503.2,221.7L503.8,224.7L502.4,224.5L501.9,221.6L501.1,221.5L500.6,224.3L499.2,224.1L500.3,217.2L503.8,217.8L504.7,218.9ZM501.5,218.7L501.3,220.2L502.8,220.4L503.1,220.2L503.3,219.3L503,219L501.5,218.7Z" fill="#de3214"/>
            <path class="st0" d="M518.5,227.1L517.1,226.9L517.9,221.9L516.3,224L515.7,223.9L514.9,221.4L514.1,226.4L512.8,226.2L513.9,219.3L515.6,219.6L516.4,222.1L517.9,220L519.5,220.3L518.5,227.1Z" fill="#de3214"/>
            <path class="st0" d="M523.7,228L522.3,227.8L523.4,220.9L524.8,221.1L523.7,228Z" fill="#de3214"/>
            <path class="st0" d="M532.3,229.4L530.9,229.2L529.4,224.3L528.7,228.8L527.5,228.6L528.6,221.7L530.2,222L531.5,226.6L532.2,222.4L533.4,222.6L532.3,229.4Z" fill="#de3214"/>
            <path class="st0" d="M540.9,229.6L539.5,230.6L537.2,230.2L536.2,228.8L536.9,224.2L538.2,223.2L540.6,223.6L541.6,224.9L540.9,229.6ZM539.8,225L538.6,224.8L538.2,225.1L537.6,228.5L537.9,228.9L539.1,229.1L539.5,228.8L540.1,225.4L539.8,225Z" fill="#de3214"/>
            <path class="st0" d="M549.8,226.3L549.5,228.2L548.3,229.1L548.9,232.1L547.5,231.9L547,229L546.2,228.9L545.7,231.7L544.3,231.5L545.4,224.6L548.9,225.2L549.8,226.3ZM546.6,226.1L546.4,227.6L547.9,227.8L548.2,227.6L548.4,226.7L548.2,226.4L546.6,226.1Z" fill="#de3214"/>
            <path class="st0" d="M473.4,226.4L473.1,227.9L471.7,227.7L471.8,226.8L471.6,226.5L470.4,226.3L470,226.6L469.5,229.9L469.8,230.3L470.9,230.5C471,230.4,471.1,230.3,471.3,230.2L471.5,229.2L472.9,229.4L472.6,231L471.3,231.9L469,231.5C468.6,231,468.3,230.5,467.9,230L468.6,225.6L470,224.6L472.4,225L473.4,226.4Z" fill="#de3214"/>
            <path class="st0" d="M480.9,232.4L479.5,233.4L477.2,233L476.2,231.6L476.9,227L478.2,226L480.6,226.4L481.6,227.7L480.9,232.4ZM479.9,227.9L478.7,227.7L478.3,228L477.7,231.4L478,231.8L479.2,232L479.6,231.7L480.2,228.3L479.9,227.9Z" fill="#de3214"/>
            <path class="st0" d="M489.2,235L487.8,234.8L486.3,229.9L485.6,234.4L484.4,234.2L485.5,227.3L487.1,227.6L488.4,232.2L489.1,228L490.3,228.2L489.2,235Z" fill="#de3214"/>
            <path class="st0" d="M498.4,230.5L498.1,232L496.7,231.8L496.8,230.9L496.6,230.6L495.4,230.4L495,230.7L494.5,234L494.8,234.4L495.9,234.6C496,234.5,496.1,234.4,496.3,234.3L496.5,233.3L497.9,233.5L497.6,235.1L496.3,236L494,235.6C493.6,235.1,493.3,234.6,492.9,234.1L493.6,229.7L495,228.7L497.4,229.1L498.4,230.5Z" fill="#de3214"/>
            <path class="st0" d="M506.3,232.2L503.4,231.7L503.2,233.1L505.2,233.4L505,234.5L503,234.2L502.7,235.8L505.6,236.3L505.4,237.7L501,237L502.1,230.1L506.5,230.8L506.3,232.2Z" fill="#de3214"/>
            <path class="st0" d="M514.5,233.2L514.2,235.1L513,236L513.6,239L512.2,238.8L511.7,235.9L510.9,235.8L510.4,238.6L509,238.4L510.1,231.5L513.6,232.1L514.5,233.2ZM511.3,233L511.1,234.5L512.6,234.7L512.9,234.5L513.1,233.6L512.9,233.3L511.3,233Z" fill="#de3214"/>
            <path class="st0" d="M522.1,240.4L520.7,240.2L519.2,235.3L518.5,239.8L517.3,239.6L518.4,232.7L520,233L521.3,237.6L522,233.4L523.2,233.6L522.1,240.4Z" fill="#de3214"/>
            <path class="st0" d="M531.1,237L529.7,236.8L529.8,236.3L529.6,236L528.4,235.8L528,236L527.8,236.9L528,237.2L530.1,237.5L530.9,238.5L530.6,240.6L529.3,241.5L526.9,241.1L526,239.8L526.2,238.5L527.6,238.7L527.5,239.3L527.8,239.7L529,239.9L529.4,239.6L529.6,238.6L529.4,238.3L527.3,238L526.5,236.9L526.8,235L528,234.1L530.5,234.5L531.4,235.8L531.1,237Z" fill="#de3214"/>
        </g>
        <g>
            <path class="st0" d="M496.7,179.6L497.4,179.7L497.2,181.1L494.3,180.6L494.5,179.2L495.3,179.3L495.9,175.3L495.2,175.5L495.1,174.3L496.8,173.9L497.6,174L496.7,179.6Z" fill="#de3214"/>
            <path class="st0" d="M506,178.3L505.3,178.8L505.8,179.5L505.5,181.4L504.2,182.3L501.8,181.9L500.9,180.6L501.2,178.7L501.9,178.2L501.4,177.5L501.7,175.9L503,175L505.4,175.4L506.3,176.7L506,178.3ZM502.9,179L502.6,179.2L502.4,180.2L502.7,180.6L503.9,180.8L504.3,180.5L504.5,179.5L504.3,179.2L502.9,179ZM504.5,176.7L503.3,176.5L502.9,176.7L502.8,177.5L503.1,177.8L504.3,178L504.7,177.8L504.8,177L504.5,176.7Z" fill="#de3214"/>
            <path class="st0" d="M513.7,182.7L512.4,183.6L509.9,183.2L509,182L509.2,180.7L510.6,180.9L510.5,181.6L510.8,182L512,182.2L512.4,181.9L512.6,180.7L510.3,180.3L509.5,179.2L509.8,177.2L511.1,176.3L513.6,176.7L514.5,178L513.7,182.7ZM511.5,177.9L511.1,178.2L511,179L511.2,179.3L512.8,179.6L513,178.5L512.7,178.1L511.5,177.9Z" fill="#de3214"/>
            <path class="st0" d="M522.5,179.7L519.4,179.2L519.2,180.4L521.5,180.8L522.3,181.8L521.9,184.1L520.6,185L518.2,184.6L517.3,183.3L517.5,181.9L518.9,182.1L518.8,182.9L519.1,183.3L520.3,183.5L520.7,183.2L520.9,182L520.7,181.7L517.7,181.2L518.3,177.4L522.9,178.1L522.5,179.7Z" fill="#de3214"/>
        </g>
        <g>
            <path class="st0" d="M487.5,244.2L487.2,246.2L486.1,247L484,246.7L483.7,246.9L483.5,248.2L486.8,248.7L486.6,250.1L481.9,249.3L482.4,246.1L483.4,245.4L485.5,245.7L485.8,245.5L486,244.6L485.7,244.3L484.5,244.1L484.2,244.3L484.1,244.8L482.7,244.6L482.9,243.5L484.2,242.6L486.7,243L487.5,244.2Z" fill="#de3214"/>
            <path class="st0" d="M495.1,250.2L493.7,251.2L491.4,250.8L490.4,249.4L491.1,244.8L492.4,243.8L494.8,244.2L495.8,245.5L495.1,250.2ZM494,245.6L492.8,245.4L492.4,245.7L491.8,249.1L492.1,249.5L493.3,249.7L493.7,249.4L494.3,246L494,245.6Z" fill="#de3214"/>
            <path class="st0" d="M504,246.9L503.7,248.9L502.6,249.7L500.5,249.4L500.2,249.6L500,250.9L503.3,251.4L503.1,252.8L498.4,252L498.9,248.8L499.9,248.1L502,248.4L502.3,248.2L502.5,247.3L502.2,247L501,246.8L500.7,247L500.6,247.5L499.2,247.3L499.4,246.2L500.7,245.3L503.2,245.7L504,246.9Z" fill="#de3214"/>
            <path class="st0" d="M511.5,252.9L510.1,253.9L507.8,253.5L506.8,252.1L507.5,247.5L508.8,246.5L511.2,246.9L512.2,248.2L511.5,252.9ZM510.5,248.3L509.3,248.1L508.9,248.4L508.3,251.8L508.6,252.2L509.8,252.4L510.2,252.1L510.8,248.7L510.5,248.3Z" fill="#de3214"/>
        </g>
    </g>
    <g transform="translate(288.9,274.296) scale(0.8,0.8) translate(-137.87,-31.2633)">
        <path class="cls-1" d="M489.21,459.65L504.49,459.65C504.936,459.638,505.366,459.814,505.674,460.136C505.983,460.458,506.141,460.895,506.11,461.34L506.11,465.43C506.177,465.889,506.034,466.354,505.719,466.696C505.405,467.037,504.953,467.219,504.49,467.19L501.43,467.19L501.43,505.59C501.43,507.48,500.72,508.59,499.03,508.59L494,508.59C492.634,508.689,491.345,507.944,490.75,506.71L479.9,484.94C478.266,481.435,476.853,477.832,475.67,474.15C475.87,477.4,476.06,480.84,476.06,483.57L476.06,501L479.64,501C480.099,501.002,480.537,501.191,480.854,501.523C481.171,501.855,481.339,502.302,481.32,502.76L481.32,506.76C481.372,507.226,481.214,507.69,480.889,508.028C480.565,508.366,480.107,508.542,479.64,508.51L464.06,508.51C463.589,508.553,463.124,508.38,462.795,508.04C462.467,507.7,462.31,507.229,462.37,506.76L462.37,502.76C462.342,502.297,462.509,501.844,462.83,501.51C463.151,501.176,463.597,500.991,464.06,501L467.12,501L467.12,467.19L464,467.19C463.527,467.234,463.06,467.06,462.731,466.717C462.402,466.375,462.247,465.901,462.31,465.43L462.31,461.34C462.284,460.884,462.453,460.439,462.776,460.116C463.099,459.793,463.544,459.624,464,459.65L475.57,459.65C477.71,459.65,478.82,460.17,479.79,462.12L488.37,479.66C490.192,483.45,491.69,487.388,492.85,491.43C492.66,487.79,492.46,483.89,492.46,481.29L492.46,467.19L489.21,467.19C488.737,467.234,488.27,467.06,487.941,466.717C487.612,466.375,487.457,465.901,487.52,465.43L487.52,461.34C487.494,460.884,487.663,460.439,487.986,460.116C488.309,459.793,488.754,459.624,489.21,459.65Z" fill="#231f20" transform="translate(21.915,25.3931) translate(-484.211,-484.123)"/>
        <path class="cls-1" d="M518.53,472.52C527.24,472.52,534.13,477.39,534.13,490.84C534.13,504.75,526.78,509.49,518.46,509.49C509.69,509.49,502.8,504.94,502.8,490.84C502.8,477.65,510.41,472.52,518.53,472.52ZM518.53,501.89C521.91,501.89,522.95,498.18,522.95,490.84C522.95,483.5,521.71,480,518.53,480C515.35,480,514,483.63,514,490.84C514,498.05,515.08,501.89,518.53,501.89Z" fill="#231f20" transform="translate(56.1688,32.275) translate(-518.465,-491.005)"/>
        <path class="cls-1" d="M548,508.58L542.8,508.58C541.18,508.58,540.46,507.8,540.07,506.18L534.55,480.9L533.12,480.9C532.647,480.944,532.18,480.77,531.851,480.427C531.522,480.085,531.367,479.611,531.43,479.14L531.43,475.14C531.405,474.679,531.573,474.229,531.893,473.897C532.214,473.565,532.659,473.381,533.12,473.39L545.21,473.39C545.669,473.39,546.108,473.576,546.427,473.906C546.745,474.236,546.916,474.681,546.9,475.14L546.9,479.14C546.951,479.608,546.793,480.075,546.466,480.415C546.14,480.755,545.68,480.932,545.21,480.9L544,480.9L546.21,492.14C546.6,493.96,546.92,496.24,547.21,498.44C547.67,495.98,548.21,493.57,548.64,491.88L551.7,480.88L550.46,480.88C549.987,480.924,549.52,480.75,549.191,480.407C548.862,480.065,548.707,479.591,548.77,479.12L548.77,475.12C548.745,474.659,548.913,474.209,549.233,473.877C549.554,473.545,549.999,473.361,550.46,473.37L562.46,473.37C562.911,473.374,563.341,473.565,563.647,473.896C563.954,474.227,564.11,474.67,564.08,475.12L564.08,479.12C564.147,479.579,564.004,480.044,563.689,480.386C563.375,480.727,562.923,480.909,562.46,480.88L561.23,480.88L563.89,491.67C564.28,493.16,564.67,495.67,565.06,498.16C565.359,496.04,565.769,493.937,566.29,491.86L569.02,480.86L567.6,480.86C567.136,480.888,566.684,480.707,566.368,480.366C566.052,480.025,565.906,479.56,565.97,479.1L565.97,475.1C565.94,474.648,566.098,474.204,566.406,473.872C566.715,473.541,567.147,473.352,567.6,473.35L578.19,473.35C578.649,473.35,579.088,473.536,579.407,473.866C579.725,474.196,579.896,474.641,579.88,475.1L579.88,479.1C579.931,479.568,579.773,480.035,579.446,480.375C579.12,480.715,578.66,480.892,578.19,480.86L576.7,480.86L569.61,506.07C569.16,507.89,568.51,508.54,566.69,508.54L561.29,508.54C559.54,508.54,558.96,507.89,558.57,506.14L556.36,497.24C555.9,495.29,555.51,492.88,555.12,490.41C554.861,492.294,554.487,494.161,554,496L551,506.2C550.933,506.92,550.575,507.581,550.008,508.031C549.442,508.48,548.716,508.679,548,508.58Z" fill="#231f20" transform="translate(93.3566,32.2474) translate(-555.653,-490.977)"/>
        <path class="cls-1" d="M605.3,509.49C593.15,509.49,585.87,501.49,585.87,483.89C585.87,466.29,593.8,458.74,605.49,458.74C617.39,458.74,624.92,466.67,624.92,483.89C624.92,500.91,617.58,509.49,605.3,509.49ZM605.49,466.67C600.36,466.67,597.37,472.06,597.37,483.95C597.37,495.84,600.1,501.3,605.49,501.3C610.88,501.3,613.36,495.85,613.36,484.02C613.36,472.19,610.56,466.67,605.49,466.67Z" fill="#231f20" transform="translate(143.099,25.385) translate(-605.395,-484.115)"/>
        <path class="cls-1" d="M625.58,521.25C625.109,521.293,624.644,521.12,624.315,520.78C623.987,520.44,623.83,519.969,623.89,519.5L623.89,515.5C623.862,515.038,624.029,514.586,624.35,514.253C624.671,513.921,625.118,513.738,625.58,513.75L627.92,513.75L627.92,480.9L625.58,480.9C625.107,480.944,624.64,480.77,624.311,480.427C623.982,480.085,623.827,479.611,623.89,479.14L623.89,475.14C623.865,474.679,624.033,474.229,624.353,473.897C624.674,473.565,625.119,473.381,625.58,473.39L634,473.39C635,473.39,635.76,473.98,635.89,475.34L636.34,478.46C638.34,474.17,642.13,472.55,646.42,472.55C652.52,472.55,658.57,476.55,658.57,490.94C658.57,504.52,652.57,509.39,645.96,509.39C641.96,509.39,639.59,507.96,638.23,505.82C638.36,507.44,638.42,509.26,638.42,509.91L638.42,513.75L642.78,513.75C643.239,513.75,643.678,513.936,643.997,514.266C644.315,514.596,644.486,515.041,644.47,515.5L644.47,519.5C644.522,519.967,644.363,520.434,644.036,520.772C643.709,521.11,643.249,521.286,642.78,521.25ZM647.42,490.91C647.42,483.43,646.18,479.86,643,479.86C639.82,479.86,638.45,483.56,638.45,490.86C638.45,498.53,639.45,501.91,642.67,501.91C645.89,501.91,647.42,499,647.42,490.91Z" fill="#231f20" transform="translate(178.927,38.1733) translate(-641.223,-496.903)"/>
        <path class="cls-1" d="M673.74,509.49C663.67,509.49,658.66,502.86,658.66,491.3C658.66,479.99,664.25,472.52,674.45,472.52C684.4,472.52,688.1,479.21,687.97,489.8C687.91,492.27,686.8,493.05,684.97,493.05L669.84,493.05C670.03,498.96,671.59,501.76,674.78,501.76C677.31,501.76,678.94,500.52,679.59,497.47C679.85,496.3,680.24,495.72,681.67,495.72L685.67,495.72C686.67,495.72,687.3,496.11,687.3,497.28C687.26,503.58,683,509.49,673.74,509.49ZM669.9,487.14L677.7,487.14C677.64,481.61,676.53,479.66,674.26,479.66C671.99,479.66,670.36,481.81,669.9,487.14Z" fill="#231f20" transform="translate(211.02,32.275) translate(-673.317,-491.005)"/>
        <path class="cls-1" d="M722.61,508.58L708.61,508.58C708.149,508.608,707.699,508.428,707.385,508.089C707.071,507.75,706.926,507.288,706.99,506.83L706.99,502.83C706.957,502.378,707.112,501.933,707.419,501.599C707.726,501.266,708.157,501.074,708.61,501.07L709.91,501.07L709.91,486.29C709.91,482.2,709,480.7,706.47,480.7C703.67,480.7,702.31,483.43,702.31,487.79L702.31,501L703.61,501C704.063,501.004,704.494,501.196,704.801,501.529C705.108,501.863,705.263,502.308,705.23,502.76L705.23,506.76C705.294,507.218,705.149,507.68,704.835,508.019C704.521,508.358,704.071,508.538,703.61,508.51L689.28,508.51C688.809,508.553,688.344,508.38,688.015,508.04C687.687,507.7,687.53,507.229,687.59,506.76L687.59,502.76C687.559,502.297,687.724,501.842,688.046,501.507C688.368,501.172,688.816,500.988,689.28,501L691.61,501L691.61,480.9L689.28,480.9C688.807,480.944,688.34,480.77,688.011,480.427C687.682,480.085,687.527,479.611,687.59,479.14L687.59,475.14C687.562,474.678,687.729,474.226,688.05,473.893C688.371,473.561,688.818,473.378,689.28,473.39L698.11,473.39C699.28,473.39,699.8,473.91,700,475.27L700.45,479.04C702.01,474.82,705.78,472.55,710.45,472.55C717.08,472.55,720.45,476.31,720.45,484.76L720.45,501L722.59,501C723.044,501.004,723.476,501.196,723.784,501.529C724.093,501.862,724.25,502.307,724.22,502.76L724.22,506.76C724.307,507.227,724.174,507.708,723.86,508.063C723.545,508.419,723.084,508.61,722.61,508.58Z" fill="#231f20" transform="translate(243.615,31.8365) translate(-705.911,-490.567)"/>
        <path class="cls-1" d="M738,466.73C737.94,471.28,736.12,482.91,735,491.3C734.993,491.813,734.774,492.299,734.395,492.644C734.016,492.989,733.511,493.162,733,493.12L730.33,493.12C729.811,493.144,729.305,492.957,728.928,492.6C728.551,492.244,728.335,491.749,728.33,491.23C727.16,482.85,725.41,471.23,725.33,466.73C725.2,462.44,726.43,458.73,731.7,458.73C736.97,458.73,738.28,462.44,738,466.73ZM738,503.06C738,506.31,736.18,509.49,731.82,509.49C727.46,509.49,725.65,506.31,725.65,503.06C725.65,499.81,727.47,496.69,731.82,496.69C736.17,496.69,738,499.81,738,503.06Z" fill="#231f20" transform="translate(269.382,25.38) translate(-731.678,-484.11)"/>
    </g>
</svg>
