{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
	version="1.1"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 477.3 269.3"
	xml:space="preserve"
	style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'
>
	<g>
		<path d="M451,121.9c0-4.4,3.6-8,8-8s8,3.6,8,8s-3.6,8-8,8c-4.3,0.1-7.9-3.4-8-7.7C451,122.1,451,122,451,121.9z
		 	M464.9,121.9c0-3.8-2.3-6.4-6-6.4s-6,2.5-6,6.4s2.3,6.4,6,6.4S464.9,125.8,464.9,121.9L464.9,121.9z M455.5,117.6h4.1
			c1.9,0,3.1,0.9,3.1,2.5c0.1,1.1-0.7,2-1.7,2.1l0,0c2.2,0.4,1.4,3.7,1.9,3.8v0.1h-2.3c-0.4-0.4,0.4-3-1.5-3h-1.4v3h-2.1L455.5,117.6
			z M457.6,121.4h1.5c0.9,0,1.3-0.3,1.3-1s-0.5-1.1-1.3-1.1h-1.5V121.4z"/>
		<g>
			<path d="M87.7,75c0,19.7-15,32.5-40.7,32.5C20.1,107.5,0,94.3,0,71.4h25.9c0,10.9,9.5,15,21,15
				c9.6,0,14.8-3.7,14.8-8.9c0-8.2-11.1-10.1-25.6-14.4C18.4,57.9,2.9,50.2,2.9,31.2C2.9,8.8,20.4,0,42.6,0c24,0,42.9,12.7,43.6,33.5
				H60.3c-1.2-7.8-7.8-12.4-17.7-12.4c-7.8,0-13.8,2.5-13.8,8.2c0,6.3,6.5,8.3,19.4,12C67.7,46.6,87.7,53,87.7,75z"/>
			<path d="M123.9,2.3v40.3h35.3V2.3h25.9v102.9h-25.9V63.8h-35.3v41.5H98V2.3H123.9z"/>
			<path d="M223.1,83.8l-6.6,21.5h-25.9L227.9,2.3h25.9l37.1,102.9H265l-6.6-21.4L223.1,83.8z M252.6,64L241,26h-0.3
				l-11.7,38L252.6,64z"/>
			<path d="M324,2.3V44l35.8-41.7h30.2l-39.1,45.3l40.6,57.6h-30.2l-26.9-39L324,78v27.2h-25.9V2.3H324z"/>
			<path d="M469.2,41.7v21.2h-44.9v21.2h53v21.2h-78.9V2.3h78v21.2h-52.1v18.3H469.2z"/>
			<path d="M58.7,135.2H28.7v-21.2h85.7v21.2H84.6V217H58.7V135.2z"/>
			<path d="M217.4,165.5c0-31-18.6-53.7-51-53.7c-32.7,0-51,22.7-51,53.7c0,18.9,6.8,34.7,19.4,44.2l68.5-4.9
				C212.4,195.1,217.4,181.4,217.4,165.5z M166.4,198.1c-18.8,0-25-14.8-25-32.7s6.3-32.5,25-32.5c18.7,0,25,14.7,25,32.5
				C191.4,183.5,185.2,198.1,166.4,198.1z"/>
			<polygon points="283.3,152.8 283.6,152.8 294.5,198.2 330.4,195.6 351.2,114.1 325.2,114.1 312,183.9 311.8,183.9
				295.8,114.1 271.3,114.1 255.3,183.9 255,183.9 241.7,114.1 215.8,114.1 238.2,202.3 272,199.8 		"/>
			<path d="M420.4,114.1v61.2h-0.3l-36-61.2h-25.9v79.5l25.5-1.8c0.1,0.8,0.2,1.6,0.4,2.4v-38.3h0.3l36,61.2h25.9V114.1
				H420.4z"/>
		</g>
	</g>
	<g>
		<path d="M115.3,269.3l-0.1-1.8c-0.4-6-5.6-10.5-11.6-10l-0.1,0h-1.7l-0.1-1.7l-2.4-32.6l1.8-0.1
			c6-0.4,10.5-5.6,10.1-11.6l0-0.2v-1.7l274.3-19.7l0.1,1.8c0.4,5.9,5.5,10.3,11.3,10.1l2.1-1l2.5,35.3l-1.8,0.1
			c-5.9,0.4-10.3,5.4-10.1,11.3l0,0l0,2.1L115.3,269.3z M105.1,253.8c6.6,0.3,12.1,5.2,13.4,11.6l267.4-19.2
			c0.3-6.6,5.2-12.1,11.6-13.4l-2-27.4c-6.6-0.3-12.1-5.2-13.4-11.6L114.7,213c-0.3,6.6-5.2,12.1-11.6,13.4L105.1,253.8z"/>
		<path d="M144.8,239.3l-7.4,0.5c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.2h1.6l0.4,5.9l-0.3,0.2
			c-0.4,0.1-0.9,0.2-1.3,0.2c-2.3,0.2-4.3-1-5.9-3.4c-1.5-2.3-2.4-5-2.5-7.7c-0.2-2,0.1-3.9,0.9-5.7c0.6-1.7,2.1-2.8,3.9-2.9
			c1.3-0.1,2.7,0.3,3.7,1.2c1.1,1,2.1,2.1,2.8,3.3l0.5,0.7c0.1,0.1,0.2,0.1,0.3,0.1l1.1-0.4c0.1,0,0.1-0.1,0.2-0.1c0-0.1,0-0.1,0-0.2
			l-2.1-6.5c0-0.1-0.1-0.1-0.1-0.2c-0.1,0-0.1,0-0.2,0c-0.2,0.1-0.5,0.2-0.9,0.4c-0.5,0.2-0.9,0.3-1.4,0.3l-2.4-0.3
			c-0.7-0.1-1.4-0.1-2.1-0.1c-2.7,0.2-4.9,1.7-6.6,4.4c-1.6,2.6-2.3,5.7-2.1,8.7c0.2,2.9,1.3,5.6,3.3,7.7c2,2.1,4.9,3.3,7.8,3
			c1.5-0.1,2.9-0.5,4.2-1.1c0.8-0.4,1.7-0.7,2.6-0.9h0.4l0.6,0.1c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2l-0.1-0.8l-0.2-0.9
			l-0.4-4.9l1.3-0.4c0.1,0,0.2-0.2,0.2-0.3l-0.1-1C145.1,239.4,145,239.3,144.8,239.3C144.8,239.3,144.8,239.3,144.8,239.3z"/>
		<path d="M164.4,240.4l-1.2-0.3c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.2c-0.2,0.8-0.6,1.7-1.1,2.4
			c-0.4,0.7-0.9,1.3-1.4,1.8c-0.6,0.6-1.3,1-2,1.4c-0.7,0.3-1.5,0.5-2.2,0.5l-3,0.2l-0.7-9.4l1.4-0.1c1-0.1,1.9,0.3,2.5,1.1
			c0.3,0.4,0.5,0.8,0.7,1.3c0,0.2,0.1,0.5,0.2,0.8c0,0.1,0.2,0.2,0.3,0.2l1.2-0.1c0.1,0,0.2-0.1,0.2-0.3l-0.6-8.3
			c0-0.1-0.1-0.3-0.3-0.3c0,0,0,0,0,0l-1.1,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.4-0.1,0.7-0.1,0.9c0,0.5-0.2,0.9-0.4,1.4
			c-0.4,0.7-1.2,1.2-2,1.2l-1.7,0.1l-0.6-8.3l3-0.2c0.8-0.1,1.7,0,2.5,0.2c0.8,0.3,1.6,0.7,2.3,1.2c0.7,0.5,1.2,1.1,1.6,1.8
			c0.3,0.4,0.5,0.9,0.8,1.3c0,0.1,0.2,0.2,0.3,0.2l1.2-0.4c0.1-0.1,0.2-0.2,0.2-0.3l-2-6.3c0-0.1-0.2-0.2-0.3-0.2
			c-0.3,0.1-0.7,0.2-1,0.3c-0.3,0.1-0.6,0.1-0.9,0.1l-14,1c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.2l1.7,0.1l1.4,19.3
			l-1.6,0.3c-0.1,0-0.2,0.2-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.3c0,0,0,0,0,0l13-0.9h0.8h0.8c0.3,0,0.6,0.1,0.9,0.1
			c0.3,0.1,0.6,0.1,0.8,0.2h0.1c0,0,0.1,0,0.1,0c0.1,0,0.1-0.1,0.1-0.2l1.1-7.2c0.1-0.1,0-0.3-0.1-0.3
			C164.5,240.4,164.5,240.3,164.4,240.4z"/>
		<path d="M185.5,223l-6.6,0.5c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.2c0.4,0,0.7,0,1.1,0.1
			c0.3,0,0.5,0.1,0.7,0.3c0.3,0.2,0.5,0.5,0.6,0.8c0.1,0.4,0.2,0.7,0.2,1.1l0.8,10.7l-10.6-13.9c-0.1-0.1-0.1-0.1-0.2-0.1l-6.4,0.4
			c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0,0.2,0.1,0.2c0.1,0,0.2,0,0.2,0c0.3-0.1,0.5-0.1,0.8,0c0.3,0,0.7,0.2,0.9,0.4
			c0.3,0.3,0.6,0.6,0.8,1c0.1,0.4,0.2,0.9,0.2,1.4l1,13.7c0,0.4,0,0.9-0.1,1.3c-0.1,0.4-0.4,0.8-0.7,1.1c-0.4,0.5-0.9,0.8-1.6,0.8
			c-0.1,0-0.1,0-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2l0.1,1.1c0,0.1,0.1,0.3,0.3,0.3c0,0,0,0,0,0l7.3-0.5c0.1,0,0.3-0.1,0.2-0.3
			l-0.1-1.1c0-0.1-0.1-0.2-0.2-0.2l-0.4-0.1c-0.4,0-0.9-0.1-1.2-0.3c-0.4-0.2-0.7-0.5-0.9-0.9c-0.2-0.4-0.3-0.9-0.3-1.3l-0.9-12.8
			l12.4,16.2c0.1,0.1,0.1,0.1,0.2,0.1l1.7-0.1c0.1,0,0.3-0.1,0.2-0.3c0,0,0,0,0,0l-1.4-18.9c-0.1-0.6,0.1-1.3,0.6-1.8
			c0.2-0.2,0.4-0.3,0.6-0.4c0.3-0.1,0.6-0.1,0.9-0.2c0.1,0,0.3-0.1,0.3-0.3c0,0,0,0,0,0l-0.1-1.1C185.7,223.1,185.6,223,185.5,223z"
			/>
		<path d="M206,237.4l-1.2-0.3c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.2c-0.3,0.8-0.6,1.6-1.1,2.4
			c-0.4,0.7-0.9,1.3-1.4,1.8c-0.6,0.6-1.3,1-2,1.4c-0.7,0.3-1.5,0.5-2.2,0.5l-3,0.2l-0.7-9.4l1.4-0.1c0.9-0.1,1.9,0.3,2.5,1
			c0.3,0.4,0.5,0.8,0.6,1.3c0.1,0.3,0.1,0.6,0.2,0.8c0,0.1,0.1,0.2,0.3,0.2l1.2-0.1c0.1,0,0.3-0.1,0.3-0.3c0,0,0,0,0,0l-0.6-8.3
			c0-0.1-0.1-0.2-0.3-0.2c0,0,0,0,0,0l-1.1,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.4-0.1,0.7-0.1,0.9c-0.1,0.5-0.2,0.9-0.4,1.3
			c-0.4,0.7-1.2,1.2-2,1.2l-1.7,0.1l-0.6-8.3l3-0.2c0.8-0.1,1.7,0,2.5,0.2c0.8,0.3,1.6,0.7,2.3,1.2c0.6,0.5,1.2,1.1,1.6,1.9
			c0.3,0.4,0.5,0.9,0.8,1.3c0,0.1,0.2,0.2,0.3,0.2l1.2-0.4c0.1,0,0.2-0.2,0.2-0.3c0,0,0,0,0,0l-2-6.3c0-0.1-0.2-0.2-0.3-0.2
			c-0.2,0.1-0.6,0.2-1,0.3c-0.3,0.1-0.6,0.1-0.9,0.1l-14,1c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.2,0.2,0.2l1.7,0.1l1.4,19.3
			l-1.6,0.3c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.2l13-0.9h0.8h0.8c0.3,0,0.6,0.1,0.9,0.1c0.3,0.1,0.6,0.1,0.8,0.2
			c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1-0.1,0.1-0.2l1.1-7.2C206.2,237.5,206.1,237.4,206,237.4z"/>
		<path d="M227.6,241.4l-1.7-0.1l-5.9-9c1.4-0.3,2.6-1.1,3.4-2.2c1-1.2,1.4-2.7,1.3-4.2c-0.1-2.1-1.5-3.8-3.4-4.5
			c-1.9-0.6-3.9-0.9-5.8-0.6l-4,0.4l-5,0.4c-0.1,0-0.3,0.1-0.3,0.3c0,0,0,0,0,0l0.1,1.1c0,0.1,0.1,0.2,0.3,0.2l1.7,0.1l1.4,19.2
			l-1.7,0.3c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.2,0.1l7.9-0.6c0.1,0,0.2-0.1,0.2-0.3c0,0,0,0,0,0
			l-0.1-1.1c0-0.1-0.1-0.3-0.3-0.2l-1.7-0.1l-0.6-9l1.6-0.1l6.5,10.2c0.1,0.1,0.1,0.1,0.2,0.1l5.7-0.4c0.1,0,0.2-0.1,0.2-0.3
			l-0.1-1.1C227.8,241.5,227.7,241.4,227.6,241.4z M219.8,225.7c0.6,2.3-0.7,4.6-3,5.2c-0.5,0.1-0.9,0.2-1.4,0.1l-1.9,0.1l-0.6-8.3
			h0.3c0.7-0.1,1.4-0.2,1.9-0.2c1.2-0.1,2.3,0.1,3.3,0.7C219.1,223.8,219.7,224.7,219.8,225.7z"/>
		<path d="M250,239.8l-1.3-0.1l-8.7-20.6c0-0.1-0.2-0.2-0.3-0.2l-4.2,0.7c-0.1,0-0.2,0.1-0.2,0.1c0,0.1,0,0.2,0,0.2
			l0.8,1.6l-4.2,17c-0.1,0.4-0.2,0.8-0.4,1.2c-0.2,0.3-0.5,0.6-0.9,0.9c-0.4,0.3-0.9,0.5-1.4,0.6c-0.1,0-0.2,0.2-0.2,0.3l0.1,1.1
			c0,0.1,0.1,0.3,0.3,0.3c0,0,0,0,0,0l6.6-0.5c0.1,0,0.3-0.1,0.2-0.3l-0.1-1.1c0-0.1-0.1-0.2-0.2-0.2c-0.1,0-0.3,0-0.4,0
			c-0.4,0-0.8-0.1-1.1-0.2c-0.2-0.1-0.3-0.2-0.4-0.4c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.3,0-0.7,0.1-1l0.7-2.9l7.1-0.5l2.1,5l-1.7,0.3
			c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.3c0,0,0,0,0,0l7.8-0.6c0.1,0,0.3-0.1,0.2-0.3l-0.1-1.1
			C250.2,239.9,250.1,239.8,250,239.8z M235.2,233.5l2.2-9.2l3.6,8.8L235.2,233.5z"/>
		<path d="M268,233l-1.2-0.2c-0.1,0-0.2,0.1-0.3,0.2c-0.2,0.7-0.5,1.3-0.9,1.9c-0.3,0.5-0.6,1-0.9,1.5
			c-0.5,0.7-1.2,1.3-2,1.8c-0.8,0.4-1.6,0.7-2.5,0.7l-2.9,0.2l-1.3-19.3l1.6-0.3c0.1,0,0.2-0.1,0.2-0.3l-0.1-1.1
			c0-0.1-0.1-0.3-0.3-0.2l-7.6,0.6c-0.1,0-0.3,0.1-0.2,0.3c0,0,0,0,0,0l0.1,1.1c0,0.1,0.1,0.2,0.3,0.2l1.6,0.1l1.4,19.3l-1.6,0.3
			c-0.1,0-0.2,0.1-0.2,0.3c0,0,0,0,0,0l0.1,1.1c0,0.1,0.1,0.2,0.3,0.2l13.4-1c0.2,0,0.3,0,0.5,0l0.6,0.1l0.5,0.1h0.1
			c0,0,0.1,0,0.1-0.1c0.1,0,0.1-0.1,0.1-0.2l1.4-7C268.2,233.1,268.1,233,268,233z"/>
		<path d="M286.8,225.4l-3.6-1c-1-0.2-2-0.7-2.9-1.3c-0.8-0.6-1.3-1.4-1.3-2.4c-0.1-0.8,0.2-1.7,0.9-2.2
			c0.7-0.6,1.5-1,2.5-1c1.3-0.1,2.6,0.3,3.6,1.1c1.1,0.9,2,2,2.7,3.2l0.4,0.6c0.1,0.1,0.2,0.2,0.3,0.1l1.3-0.5
			c0.1-0.1,0.2-0.2,0.1-0.3l-2.1-6.5c0-0.1-0.1-0.2-0.2-0.2c-0.1,0-0.2,0-0.2,0.1c-0.4,0.3-0.8,0.6-1.2,0.8c-0.2,0.2-0.5,0.2-0.8,0.2
			l-1.6-0.4c-0.8-0.2-1.5-0.2-2.3-0.2H282c-1.8,0.1-3.5,0.9-4.7,2.3c-1,1.3-1.5,2.9-1.3,4.5c0.1,1.8,0.8,3.5,2.1,4.7
			c1.3,1.1,2.8,1.8,4.5,2.2l3.1,0.9c1,0.2,1.9,0.7,2.7,1.3c0.7,0.6,1.2,1.4,1.2,2.3c0.1,1-0.3,2-1.1,2.6c-0.8,0.7-1.8,1-2.8,1.1
			c-1.4,0.1-2.9-0.3-4-1.2c-1.3-0.9-2.5-2.1-3.4-3.5l-0.5-0.7c-0.1-0.1-0.2-0.1-0.3-0.1l-1.3,0.4c-0.1,0-0.2,0.2-0.2,0.3c0,0,0,0,0,0
			l2,6.8c0,0.1,0.1,0.1,0.2,0.2c0.1,0,0.2,0,0.2,0c0.6-0.4,1.4-0.7,2.1-0.9c0.4,0,0.8,0.1,1.3,0.2c1.2,0.3,2.4,0.5,3.7,0.5
			c2.2-0.1,4.2-1,5.7-2.6c1.3-1.4,1.9-3.2,1.8-5.1c-0.1-1.6-0.8-3.1-2-4.2C289.8,226.4,288.4,225.7,286.8,225.4z"/>
		<path d="M311.1,213.6l-0.8,0.2l-0.5,0.1c-0.3,0-0.5,0.1-0.8,0.1l-11.9,0.9c-0.3,0-0.7,0-1,0c-0.4,0-0.9-0.1-1.3-0.2
			c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0.1-0.1,0.2l-1,6.9c0,0.1,0.1,0.3,0.2,0.3l1.1,0.2c0.1,0,0.2,0,0.2-0.1c0.1,0,0.1-0.1,0.1-0.2
			c0.1-0.5,0.2-0.9,0.4-1.3c0.3-0.7,0.6-1.4,1.1-2c0.6-0.7,1-1.2,1.2-1.4c0.6-0.6,1.4-1,2.3-1.1h0.6l1.4,19.4l-1.7,0.3
			c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.3c0,0,0,0,0,0l8.2-0.6c0.1,0,0.3-0.1,0.3-0.3c0,0,0,0,0,0l-0.1-1.1
			c0-0.1-0.1-0.2-0.3-0.2l-1.7-0.1l-1.4-19.5h0.3c0.8-0.1,1.5,0.1,2.2,0.5c0.7,0.5,1.3,1,1.9,1.6c0.4,0.4,0.7,0.9,1,1.4
			c0.3,0.5,0.6,1,0.8,1.5c0.1,0.1,0.2,0.2,0.3,0.2l1.1-0.3c0.1,0,0.2-0.2,0.2-0.3l-1.9-6.6C311.4,213.7,311.3,213.6,311.1,213.6z"/>
		<path d="M324,212.6c-3,0.2-5.7,1.8-7.3,4.3c-3.5,5.1-3.1,11.9,1.1,16.5c1.9,2.2,4.7,3.4,7.6,3.1c3-0.2,5.7-1.8,7.4-4.2
			c1.8-2.5,2.6-5.5,2.4-8.5c-0.2-3-1.4-5.8-3.4-8C329.8,213.5,326.9,212.3,324,212.6z M330.2,223.9c0.3,2.4,0.1,4.8-0.5,7.1
			c-0.8,2.4-2.1,3.6-4.2,3.8s-3.5-0.8-4.6-3c-1.8-4.4-2.1-9.3-0.9-13.9c0.8-2.4,2.2-3.6,4.2-3.8c1.5-0.2,2.9,0.5,3.8,1.7
			C329.1,217.4,329.9,220.1,330.2,223.9L330.2,223.9z"/>
		<path d="M356.6,232.1l-1.7-0.1l-5.9-9c1.4-0.3,2.6-1.1,3.4-2.2c1-1.2,1.4-2.7,1.3-4.2c-0.1-2.1-1.5-3.8-3.4-4.5
			c-1.9-0.6-3.9-0.9-5.8-0.6l-4,0.4l-5,0.4c-0.1,0-0.3,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.2,0.2,0.2l1.7,0.1l1.4,19.2l-1.7,0.3
			c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0,0.1,0.1,0.2c0.1,0,0.1,0.1,0.2,0.1l0,0l7.9-0.6c0.1,0,0.3-0.1,0.2-0.3l-0.1-1.1
			c0-0.1-0.1-0.2-0.3-0.2l-1.7-0.1l-0.6-9l1.6-0.1l6.5,10.3c0.1,0.1,0.1,0.1,0.2,0.1l5.8-0.4c0.1,0,0.2-0.1,0.2-0.3l-0.1-1.1
			C356.8,232.2,356.7,232.1,356.6,232.1z M341.8,213.6c0.1,0,0.2,0,0.3,0c0.7-0.1,1.4-0.2,1.9-0.2c1.2-0.1,2.3,0.1,3.3,0.7
			c0.9,0.5,1.4,1.4,1.5,2.4c0.6,2.3-0.7,4.6-3,5.2c-0.5,0.1-1,0.2-1.4,0.1l-1.9,0.1L341.8,213.6z"/>
		<path d="M375.5,225.1l-1.2-0.3c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.2c-0.2,0.8-0.6,1.6-1.1,2.4
			c-0.4,0.7-0.8,1.3-1.4,1.8c-0.6,0.6-1.3,1-2,1.4c-0.7,0.3-1.5,0.5-2.2,0.5l-3,0.2l-0.7-9.4l1.4-0.1c0.9-0.1,1.9,0.3,2.5,1
			c0.3,0.4,0.5,0.8,0.7,1.3c0,0.2,0.1,0.5,0.2,0.8c0,0.1,0.2,0.2,0.3,0.2l1.2-0.1c0.1,0,0.3-0.1,0.2-0.3l-0.6-8.3
			c0-0.1-0.1-0.3-0.3-0.2l-1.1,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.4-0.1,0.7-0.1,0.9c-0.1,0.5-0.2,0.9-0.4,1.3
			c-0.4,0.7-1.2,1.2-2,1.2l-1.7,0.1l-0.6-8.3l3-0.2c0.8-0.1,1.7,0,2.5,0.2c0.8,0.3,1.6,0.7,2.3,1.2c0.6,0.5,1.2,1.1,1.6,1.9
			c0.3,0.4,0.5,0.9,0.8,1.3c0,0.1,0.2,0.2,0.3,0.2c0,0,0,0,0,0l1.2-0.4c0.1-0.1,0.2-0.2,0.2-0.3l-2-6.3c0-0.1-0.2-0.2-0.3-0.2
			c-0.3,0.1-0.7,0.2-1,0.3c-0.3,0.1-0.6,0.1-0.9,0.1l-14,1c-0.1,0-0.3,0.1-0.3,0.3c0,0,0,0,0,0l0.1,1.1c0,0.1,0.1,0.2,0.2,0.2
			l1.7,0.1l1.4,19.3l-1.6,0.3c-0.1,0-0.2,0.1-0.2,0.3l0.1,1.1c0,0.1,0.1,0.3,0.3,0.2l13-0.9h0.8h0.8c0.3,0,0.6,0,0.9,0.1
			c0.3,0,0.5,0.1,0.8,0.2h0.1h0.1c0.1,0,0.1-0.1,0.1-0.2l1.1-7.2C375.8,225.3,375.7,225.2,375.5,225.1z"/>
	</g>
</svg>
