{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 94.05 111.53"
		style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
	>
		<path d="M17.65,34.71h4.07a.41.41,0,0,0,.4-.38c.44-5.55,1.13-8.08,5.78-8.08h7c.79,0,3.51.21,4.3.31s4,.34,4.6.39a.37.37,0,0,1,.35.37v8.37a.26.26,0,0,1-.29.26c-5.72-.69-10.72-2.62-12.31-6.73a.27.27,0,0,0-.25-.18H26.07a.29.29,0,0,0-.28.28V39a.28.28,0,0,0,.28.27h4.3a.26.26,0,0,0,.25-.16l1.08-2.56a.26.26,0,0,1,.4-.12c2.9,2,7.35,3.16,11.81,3.7a.27.27,0,0,1,.23.26v5.74c0,2.2-.88,2.64-2.64,2.64H35.83a.41.41,0,0,0-.41.41v3.32a.41.41,0,0,0,.41.41h25a.41.41,0,0,0,.41-.41V49.21a.41.41,0,0,0-.41-.41H55.15c-1.76,0-2.64-.44-2.64-2.64V40.72a.24.24,0,0,1,.23-.25c10.23-.53,17.76-4.31,17.76-11a6.88,6.88,0,0,0-.59-2.9.17.17,0,0,1,.17-.24c3.43.48,4,3,4.44,7.91a.5.5,0,0,0,.49.46h3.9a.49.49,0,0,0,.49-.5V22.61a.49.49,0,0,0-.49-.5H64.68c-3.66-.5-5.92-.77-7.79-.91l-17.4-1.36C35.35,19.49,33,18.47,33,16.27c0-3.35,5.68-4.67,12.91-4.67,7.62,0,15.12,1.75,17,6.25a.36.36,0,0,0,.33.23h5.07a.38.38,0,0,0,.37-.37V8.85a.37.37,0,0,0-.37-.37H64.18a.38.38,0,0,0-.34.22l-1.12,2.67a.12.12,0,0,1-.18.05c-3-2.37-9.72-4.09-17.37-4.09-8.89,0-19.9,2.33-19.9,10.44a6.84,6.84,0,0,0,1.06,3.79.35.35,0,0,1-.3.55H17.65a.4.4,0,0,0-.4.41V34.3A.4.4,0,0,0,17.65,34.71ZM52.51,28a.31.31,0,0,1,.32-.3l3.75.31c4.05.3,5.9,1.58,5.9,3.43,0,2.75-4,4.31-9.73,4.73a.23.23,0,0,1-.24-.23Z"/>
			<path d="M19.8,66.11a.56.56,0,0,1,.63-.58c.5,0,.76.41.9.93L23,66.11A2.42,2.42,0,0,0,20.39,64a2.21,2.21,0,0,0-2.48,2.21c0,2.82,3.36,2.61,3.36,4.17,0,.45-.32.67-.76.67-.6,0-.86-.39-1-1l-1.8.34a2.38,2.38,0,0,0,2.67,2.28c1.65,0,2.72-.86,2.72-2.39C23.15,67.39,19.8,67.59,19.8,66.11Z"/>
			<polygon points="24.13 64.08 24.13 72.49 26.1 72.49 26.1 69.03 27.79 69.03 27.79 72.49 29.74 72.49 29.74 64.08 27.79 64.08 27.79 67.3 26.1 67.3 26.1 64.08 24.13 64.08"/>
			<path d="M32.75,70.67h1.59l.32,1.82h2l-1.85-8.41H32.27l-1.8,8.41h2ZM33.51,66h0l.51,3H33Z"/>
			<polygon points="41.29 67.1 43.04 64.08 41 64.08 39.37 67.25 39.35 67.25 39.35 64.08 37.4 64.08 37.4 72.49 39.35 72.49 39.35 70.04 39.98 68.96 41.19 72.49 43.27 72.49 41.29 67.1"/>
			<polygon points="48.49 65.78 48.49 64.08 43.77 64.08 43.77 72.49 48.6 72.49 48.6 70.79 45.73 70.79 45.73 69 47.8 69 47.8 67.35 45.73 67.35 45.73 65.78 48.49 65.78"/>
			<polygon points="52.64 65.78 54.22 65.78 54.22 64.08 49.1 64.08 49.1 65.78 50.68 65.78 50.68 72.49 52.64 72.49 52.64 65.78"/>
			<path d="M57.41,72.59c2.14,0,3-1.61,3-4.29S59.7,64,57.41,64s-3,1.74-3,4.33S55.26,72.59,57.41,72.59Zm0-7c.71,0,1,.73,1,2.71S58.1,71,57.41,71s-1-.62-1-2.69S56.69,65.59,57.41,65.59Z"/>
			<polygon points="67.4 64.08 66.71 69.03 66.68 69.03 66 64.08 64.11 64.08 63.39 69.07 63.37 69.07 62.7 64.08 60.7 64.08 62.37 72.49 64.35 72.49 65 67.63 65.02 67.63 65.72 72.49 67.67 72.49 69.33 64.08 67.4 64.08"/>
			<polygon points="75.64 64.08 73.89 64.08 73.89 68.25 73.86 68.25 72.03 64.08 69.99 64.08 69.99 72.49 71.72 72.49 71.72 67.84 71.74 67.84 73.88 72.49 75.64 72.49 75.64 64.08"/>
			<path d="M31,80.27a1.78,1.78,0,0,0-1.26-1.92v0a1.79,1.79,0,0,0,1.09-1.77c0-1.55-.89-2.22-2.93-2.22H25.44v8.41h2.42C29.57,82.74,31,82.28,31,80.27ZM27.36,76H28c.49,0,.83.18.83.78s-.31.89-.83.89h-.6Zm0,3.17H28c.57,0,.95.23.95.94s-.24,1-1,1h-.64Z"/>
			<path d="M36.33,78.8a2.21,2.21,0,0,0,1-2c0-1.74-1-2.43-2.8-2.43H32v8.41h2V79.59h.69l.91,3.15h2.13ZM34.41,78h-.49V76h.54c.34,0,.87,0,.87,1C35.33,77.81,34.91,78,34.41,78Z"/>
			<polygon points="43.13 76.03 43.13 74.33 38.41 74.33 38.41 82.74 43.24 82.74 43.24 81.04 40.37 81.04 40.37 79.25 42.44 79.25 42.44 77.59 40.37 77.59 40.37 76.03 43.13 76.03"/>
			<polygon points="47.91 77.88 47.94 77.88 48.64 82.74 50.59 82.74 52.25 74.33 50.31 74.33 49.62 79.28 49.6 79.28 48.92 74.33 47.02 74.33 46.31 79.32 46.29 79.32 45.62 74.33 43.62 74.33 45.29 82.74 47.27 82.74 47.91 77.88"/>
			<rect x="52.9" y="74.33" width="1.97" height="8.41"/>
			<polygon points="57.89 78.09 57.92 78.09 60.05 82.74 61.82 82.74 61.82 74.33 60.06 74.33 60.06 78.5 60.04 78.5 58.2 74.33 56.16 74.33 56.16 82.74 57.89 82.74 57.89 78.09"/>
			<path d="M68.51,82.74V78.37H65.83v1.47h.92v.27c0,.66-.32,1.12-.9,1.12-.81,0-1-.79-1-2.76s.33-2.57,1-2.57.77.47.89,1.23L68.48,77c-.17-1.53-.78-2.74-2.68-2.74-2.16,0-2.95,1.84-2.95,4.25,0,3.18.86,4.37,2.43,4.37a2,2,0,0,0,1.66-.71h0v.61Z"/>
			<path d="M22.08,87.48a.3.3,0,0,0-.26-.11h-.08a1.27,1.27,0,0,1,.06-.28.32.32,0,0,1,.18-.18.12.12,0,0,0,.07-.11.11.11,0,0,0,0-.08.1.1,0,0,0-.08,0,.72.72,0,0,0-.3.13.92.92,0,0,0-.23.25,1.37,1.37,0,0,0-.16.32,1.06,1.06,0,0,0-.06.34.56.56,0,0,0,0,.23.46.46,0,0,0,.11.16.38.38,0,0,0,.15.09.55.55,0,0,0,.51-.08.43.43,0,0,0,.15-.36A.5.5,0,0,0,22.08,87.48Z"/>
			<path d="M20,87.71a.56.56,0,0,0,0,.23.64.64,0,0,0,.11.16.51.51,0,0,0,.16.09.55.55,0,0,0,.51-.08.46.46,0,0,0,.14-.36.43.43,0,0,0-.08-.27.29.29,0,0,0-.26-.11h-.08a.89.89,0,0,1,.07-.28.27.27,0,0,1,.18-.18.11.11,0,0,0,.06-.11.11.11,0,0,0,0-.08.1.1,0,0,0-.08,0,.69.69,0,0,0-.29.13,1.14,1.14,0,0,0-.24.25,1.37,1.37,0,0,0-.16.32A1.4,1.4,0,0,0,20,87.71Z"/>
			<path d="M26.24,86.1a.86.86,0,0,0-.24,0l-.19.09-.16.12a1.71,1.71,0,0,0-.29-.08l-.33,0-.31,0h-.21a2.1,2.1,0,0,0-.79.14,1.69,1.69,0,0,0-.56.36,1.63,1.63,0,0,0-.33.49,1.47,1.47,0,0,0-.1.54,1.34,1.34,0,0,0,.06.4,1.19,1.19,0,0,0,.2.35,1,1,0,0,0,.33.24,1.06,1.06,0,0,0,.45.09.49.49,0,0,0,.19,0,.31.31,0,0,0,.11-.09.37.37,0,0,0,.05-.11.52.52,0,0,0,0-.11.33.33,0,0,0-.05-.19.22.22,0,0,0-.12-.11.56.56,0,0,0-.2,0H23.5a.4.4,0,0,1-.3-.1.36.36,0,0,1-.11-.26.51.51,0,0,1,.1-.29,1.05,1.05,0,0,1,.33-.28,2.23,2.23,0,0,1,.59-.21,4,4,0,0,1,.91-.08s.05,0,.05,0a1.18,1.18,0,0,0-.1.27,2,2,0,0,0-.08.35,3.43,3.43,0,0,0,0,.5.73.73,0,0,1,0,.13c0,.09,0,.19,0,.32s0,.25,0,.4,0,.27,0,.39a1.59,1.59,0,0,1,0,.36,1.71,1.71,0,0,1-.13.34,1,1,0,0,1-.19.26.41.41,0,0,1-.26.09.37.37,0,0,1-.16,0,1.36,1.36,0,0,1-.2-.11L23.71,90a1.37,1.37,0,0,0-.21-.15l-.19-.11a.3.3,0,0,0-.14,0,.25.25,0,0,0-.17.05.47.47,0,0,0-.17.26.3.3,0,0,0,0,.12.29.29,0,0,0,.09.21.71.71,0,0,0,.22.15l.3.1.3.06.24,0h.12a1.94,1.94,0,0,0,.8-.15,1.71,1.71,0,0,0,.52-.38,1.59,1.59,0,0,0,.28-.53,2,2,0,0,0,.08-.59c0-.28,0-.5,0-.67s0-.29,0-.38,0-.15,0-.19v-.4a1.66,1.66,0,0,1,0-.24,1.5,1.5,0,0,1,0-.22.1.1,0,0,1,.08-.06h.09a.82.82,0,0,0,.29-.07.69.69,0,0,0,.22-.14.46.46,0,0,0,.14-.17.37.37,0,0,0,.05-.17.23.23,0,0,0-.09-.18A.38.38,0,0,0,26.24,86.1Z"/>
			<path d="M31.44,90.25a2.57,2.57,0,0,0,.33-.33,2.7,2.7,0,0,0,.26-.36s0,0,0-.06a.78.78,0,0,0,0-.14s0-.08-.07-.08h0l-.1.14a1.27,1.27,0,0,1-.16.2,1.21,1.21,0,0,1-.25.17.58.58,0,0,1-.33.08.51.51,0,0,1-.39-.17,1.06,1.06,0,0,1-.23-.42,3.22,3.22,0,0,0,.45-.31,2.22,2.22,0,0,0,.35-.32,1.24,1.24,0,0,0,.23-.31.63.63,0,0,0,.08-.28.52.52,0,0,0-.14-.38.47.47,0,0,0-.37-.15,1.17,1.17,0,0,0-.6.16,1.18,1.18,0,0,0-.43.4,1.78,1.78,0,0,0-.25.56,2.21,2.21,0,0,0-.09.62h-.05a3.6,3.6,0,0,1-.21.3.28.28,0,0,1-.24.11.17.17,0,0,1-.15-.09.47.47,0,0,1,0-.17v-.78c0-.11,0-.19,0-.24a.59.59,0,0,0-.1-.39.3.3,0,0,0-.24-.11.79.79,0,0,0-.34.09,2.41,2.41,0,0,0-.36.23,2.68,2.68,0,0,0-.3.28.94.94,0,0,0-.19.26.54.54,0,0,1,0-.08v-.17c0-.09,0-.2,0-.33v-.43c0-.16,0-.32,0-.49V86.8c0-.16,0-.3,0-.42v-.32a1.13,1.13,0,0,0,0-.14c0-.06,0-.09-.11-.09h-.1l-.16,0-.16,0-.11,0s-.07,0-.08,0a.09.09,0,0,0,0,.07.77.77,0,0,0,0,.22c0,.14,0,.32,0,.54s0,.45,0,.71v.74c0,.24,0,.46,0,.65v.84c0,.15,0,.28,0,.39s0,.26,0,.37a.15.15,0,0,0,0,.07l0,0h.67s.05,0,.06-.06,0,0,0-.06c0-.2,0-.36,0-.48s0-.22,0-.29v-.23a.65.65,0,0,1,.05-.25,1.91,1.91,0,0,1,.15-.28,1.55,1.55,0,0,1,.19-.24.32.32,0,0,1,.2-.09s.05,0,.07.09a1.19,1.19,0,0,1,0,.24c0,.09,0,.19,0,.3v.29a3.38,3.38,0,0,0,0,.49,1.2,1.2,0,0,0,.09.33.39.39,0,0,0,.12.17.27.27,0,0,0,.16.06.43.43,0,0,0,.27-.1,1.53,1.53,0,0,0,.29-.24,2.26,2.26,0,0,0,.29-.32,3.43,3.43,0,0,0,.24-.33,1.16,1.16,0,0,1,0,.18,1.38,1.38,0,0,0,.21.42,1.1,1.1,0,0,0,.32.29.84.84,0,0,0,.41.11.76.76,0,0,0,.37-.1A1.61,1.61,0,0,0,31.44,90.25Zm-1-1.33v-.09a1.65,1.65,0,0,1,0-.32,1,1,0,0,1,.09-.28.83.83,0,0,1,.16-.2.36.36,0,0,1,.22-.07L31,88s.06.06.06.15a.55.55,0,0,1-.07.22,1.38,1.38,0,0,1-.17.25,1.5,1.5,0,0,1-.2.23,1,1,0,0,1-.2.15S30.41,88.94,30.41,88.92Z"/>
			<path d="M35.88,90.62a1.6,1.6,0,0,0,.53-.09,1.24,1.24,0,0,0,.45-.25,1.35,1.35,0,0,0,.31-.43,1.38,1.38,0,0,0,.12-.59,1.27,1.27,0,0,0-.07-.44,1.37,1.37,0,0,0-.19-.36,1.59,1.59,0,0,0-.29-.29A2.39,2.39,0,0,0,36.4,88a2.21,2.21,0,0,0,.35-.62,1.91,1.91,0,0,0,.12-.65,1.12,1.12,0,0,0,0-.32.71.71,0,0,0-.13-.26.66.66,0,0,0-.23-.17.74.74,0,0,0-.34-.07.69.69,0,0,0-.21.06l-.34.16-.44.24-.5.3v-.32c0-.1,0-.22,0-.33s0-.09-.1-.09h-.12l-.19,0-.19,0-.13,0c-.07,0-.11,0-.11.1v1.11l-.37.24-.33.24a.27.27,0,0,0-.07.08.22.22,0,0,0,0,.08.21.21,0,0,0,0,.12s0,0,.09,0l.08,0,0,0,.54-.38v3a.14.14,0,0,0,0,.07l0,0h.71s.05,0,.07-.06,0,0,0-.07c0-.29,0-.57,0-.82s0-.48,0-.71,0-.44,0-.65V87l.57-.34a.9.9,0,0,1,.37-.13.54.54,0,0,1,.4.17.65.65,0,0,1,.16.46.82.82,0,0,1-.05.3,1.21,1.21,0,0,1-.15.33l-.33,0a.94.94,0,0,0-.51.11.31.31,0,0,0-.16.24.36.36,0,0,0,.14.26.58.58,0,0,0,.37.11.93.93,0,0,0,.29,0,1,1,0,0,0,.28-.13,1.06,1.06,0,0,1,.29.45,1.9,1.9,0,0,1,.09.58,2,2,0,0,1,0,.37,1.18,1.18,0,0,1-.1.27.54.54,0,0,1-.14.18.24.24,0,0,1-.15.06.27.27,0,0,1-.17-.06.93.93,0,0,1-.14-.14,1.16,1.16,0,0,1-.11-.16l-.06-.12h0a.26.26,0,0,0-.07-.11.21.21,0,0,0-.13-.07l-.12,0a1.19,1.19,0,0,0-.15.09.43.43,0,0,0-.12.11.2.2,0,0,0-.05.13.36.36,0,0,0,.1.24,1.19,1.19,0,0,0,.26.23,1.35,1.35,0,0,0,.34.17A.91.91,0,0,0,35.88,90.62Z"/>
			<path d="M42.44,90.53a.35.35,0,0,0,.2,0,.75.75,0,0,0,.33-.09,1.36,1.36,0,0,0,.34-.23,2.57,2.57,0,0,0,.33-.33,2.4,2.4,0,0,0,.28-.37s0,0,0-.06a.78.78,0,0,0,0-.14s0-.08-.07-.08h0a1.2,1.2,0,0,1-.34.41.63.63,0,0,1-.34.13.23.23,0,0,1-.19-.09.32.32,0,0,1-.08-.25c0-.17,0-.36,0-.58s0-.45,0-.69l.68-.22a.15.15,0,0,0,.07,0l0,0s0,0,0,0,0-.06,0-.09a.28.28,0,0,0,0-.09v-.1s0,0,0,0a.05.05,0,0,0,0,0H43.6l-.21.08-.22.08-.25.08,0-.46c0-.14,0-.27,0-.38s0-.2,0-.26v-.11a.08.08,0,0,0,0-.07s0,0-.08,0h-.08l-.15.05-.18.06-.14.06s-.05.07-.06.16a1.82,1.82,0,0,0-.05.31c0,.13,0,.27,0,.44s0,.32,0,.49l-.05,0a.11.11,0,0,0,0,0v0a.62.62,0,0,0,0,.13s0,.06,0,.1v.07s0,0,0,0h.07c0,.22,0,.43,0,.62v.19h-.05a3,3,0,0,1-.2.29.82.82,0,0,1-.27.22s0,0,0,0V89.7a1,1,0,0,0-.12-.51,2.16,2.16,0,0,0-.29-.37l-.33-.29a1,1,0,0,1-.26-.3h0a.58.58,0,0,1,0-.14.78.78,0,0,0,.48-.17.45.45,0,0,0,.16-.3.32.32,0,0,0-.1-.22.42.42,0,0,0-.29-.09,1,1,0,0,0-.28,0,.85.85,0,0,0-.28.15.86.86,0,0,0-.2.26.79.79,0,0,0-.09.38.9.9,0,0,0,.06.34,1,1,0,0,0,.14.28l-.18.38-.1.16,0,0h0l-.09.14a2.61,2.61,0,0,1-.17.2,1.46,1.46,0,0,1-.24.17.62.62,0,0,1-.33.08.54.54,0,0,1-.4-.17,1.05,1.05,0,0,1-.22-.42,5.09,5.09,0,0,0,.45-.31,3.7,3.7,0,0,0,.35-.32,1.48,1.48,0,0,0,.22-.31.52.52,0,0,0,.08-.28.52.52,0,0,0-.13-.38.5.5,0,0,0-.38-.15,1.17,1.17,0,0,0-.6.16,1.36,1.36,0,0,0-.43.4,2,2,0,0,0-.25.56,2.2,2.2,0,0,0-.08.62,1.61,1.61,0,0,0,.07.49,1.38,1.38,0,0,0,.21.42,1,1,0,0,0,.32.29.81.81,0,0,0,.41.11.73.73,0,0,0,.36-.1,1.67,1.67,0,0,0,.37-.24,3.34,3.34,0,0,0,.32-.33,2.64,2.64,0,0,0,.21-.29h0a1.64,1.64,0,0,0,.19-.28c.06-.12.13-.25.19-.39a2.29,2.29,0,0,0,.21.23l.2.24a2.61,2.61,0,0,1,.19.27A1.51,1.51,0,0,1,41,90c0,.11,0,.18-.07.2a.33.33,0,0,1-.15,0,.28.28,0,0,1-.15,0l-.15-.09-.13-.1-.11-.1,0,0,0,0h-.05a.19.19,0,0,0-.1,0A.31.31,0,0,0,40,90a.58.58,0,0,0-.1.12.29.29,0,0,0,0,.16.2.2,0,0,0,0,.14.4.4,0,0,0,.13.13l.21.09a1.27,1.27,0,0,0,.28,0,1.2,1.2,0,0,0,.36,0,1.47,1.47,0,0,0,.42-.18,2.83,2.83,0,0,0,.45-.33,3.2,3.2,0,0,0,.42-.46,3.58,3.58,0,0,0,0,.4.91.91,0,0,0,.11.33A.47.47,0,0,0,42.44,90.53Zm-4.12-1.61v-.09a1.66,1.66,0,0,1,0-.32.77.77,0,0,1,.1-.28.53.53,0,0,1,.16-.2.32.32,0,0,1,.22-.07l.07,0s.06.06.06.15a.43.43,0,0,1-.07.22,1.32,1.32,0,0,1-.16.25,2.4,2.4,0,0,1-.21.23.8.8,0,0,1-.2.15Z"/>
			<path d="M45.88,90.51a.82.82,0,0,0,.17-.11,1.29,1.29,0,0,0,.17-.16l.17-.18a5.41,5.41,0,0,0,.35-.43v.09c0,.15,0,.28,0,.39s0,.26,0,.37a.15.15,0,0,0,0,.07l0,0h.66s0,0,.07-.06a.35.35,0,0,0,0-.06q0-.3,0-.48c0-.12,0-.22,0-.29a1,1,0,0,1,0-.15v-.08a.92.92,0,0,1,0-.25,1.91,1.91,0,0,1,.15-.28,1.55,1.55,0,0,1,.19-.24.32.32,0,0,1,.2-.09s0,0,.07.09a1.19,1.19,0,0,1,0,.24,2.66,2.66,0,0,1,0,.3c0,.1,0,.2,0,.29a3.38,3.38,0,0,0,0,.49,1.23,1.23,0,0,0,.08.33.4.4,0,0,0,.13.17.25.25,0,0,0,.16.06.43.43,0,0,0,.26-.1,1.28,1.28,0,0,0,.29-.24,3.13,3.13,0,0,0,.3-.32l.26-.36s0,0,0-.06a.39.39,0,0,0,0-.14s0-.08-.06-.08h0a2.13,2.13,0,0,1-.22.3.28.28,0,0,1-.24.11c-.07,0-.12,0-.14-.09a.33.33,0,0,1,0-.17V89c0-.12,0-.23,0-.34v-.2a.59.59,0,0,0-.1-.39.3.3,0,0,0-.24-.11.82.82,0,0,0-.34.09,1.92,1.92,0,0,0-.35.23,2.12,2.12,0,0,0-.31.28,1.2,1.2,0,0,0-.19.26v-.42a1,1,0,0,0,0-.17.72.72,0,0,0,0-.13c0-.06,0-.09-.1-.09h-.11l-.16,0L47,88l-.1,0a.13.13,0,0,0-.09,0l0,.06s0,0,0,.13a2.1,2.1,0,0,0,0,.27c0,.11,0,.22,0,.35s0,.25,0,.37h-.05l-.12.18a.7.7,0,0,1-.13.16.33.33,0,0,1-.13.11.25.25,0,0,1-.14,0c-.07,0-.12,0-.13-.08a1.1,1.1,0,0,1,0-.18c0-.25,0-.46,0-.63v-.84A.08.08,0,0,0,46,88s0,0-.08,0h-.08a.8.8,0,0,0-.15,0l-.18,0-.15,0,0,0,0,.06a.31.31,0,0,0,0,.1v.22c0,.1,0,.21,0,.33s0,.24,0,.37v.36c0,.13,0,.26,0,.38a1.33,1.33,0,0,0,.08.33.53.53,0,0,0,.14.23.3.3,0,0,0,.23.09A.3.3,0,0,0,45.88,90.51Z"/>
			<path d="M45.47,86.61a.41.41,0,0,0-.13.3.44.44,0,0,0,.43.43.41.41,0,0,0,.3-.13.42.42,0,0,0,.13-.3.45.45,0,0,0-.13-.3.44.44,0,0,0-.3-.12A.41.41,0,0,0,45.47,86.61Z"/>
			<path d="M57.19,90.49a1.88,1.88,0,0,0,.36-.24,2.57,2.57,0,0,0,.33-.33,2.7,2.7,0,0,0,.26-.36.35.35,0,0,0,0-.06.39.39,0,0,0,0-.14s0-.08-.06-.08h0a.72.72,0,0,1-.09.14l-.16.2a1.21,1.21,0,0,1-.25.17.6.6,0,0,1-.33.08.51.51,0,0,1-.39-.17,1.06,1.06,0,0,1-.23-.42A3.22,3.22,0,0,0,57,89a2.78,2.78,0,0,0,.35-.32,1.55,1.55,0,0,0,.23-.31.63.63,0,0,0,.08-.28.52.52,0,0,0-.14-.38.48.48,0,0,0-.37-.15,1.21,1.21,0,0,0-1,.56,1.8,1.8,0,0,0-.26.56,2.64,2.64,0,0,0-.08.62h-.05a3.6,3.6,0,0,1-.21.3.28.28,0,0,1-.24.11.17.17,0,0,1-.15-.09.47.47,0,0,1,0-.17c0-.16,0-.3,0-.44v-.34c0-.11,0-.19,0-.24A.65.65,0,0,0,55,88a.3.3,0,0,0-.24-.11.75.75,0,0,0-.34.09,2,2,0,0,0-.36.23,2.68,2.68,0,0,0-.3.28.94.94,0,0,0-.19.26s0,0,0-.08v-.5c0-.13,0-.27,0-.43v-1c0-.16,0-.3,0-.42v-.46c0-.06,0-.09-.1-.09h-.1l-.16,0-.16,0-.11,0s-.07,0-.08,0a.16.16,0,0,0,0,.07v.22c0,.14,0,.32,0,.54s0,.45,0,.71,0,.5,0,.74V89.3l0,0h0a1.32,1.32,0,0,1-.34.41.66.66,0,0,1-.34.13.25.25,0,0,1-.2-.09.36.36,0,0,1-.07-.25c0-.17,0-.36,0-.58s0-.45,0-.69l.67-.22a.19.19,0,0,0,.08,0l0,0a.05.05,0,0,0,0,0s0-.06,0-.09,0-.06,0-.09v-.1a.08.08,0,0,0,0,0l0,0h-.06l-.21.08-.22.08-.25.08,0-.46c0-.14,0-.27,0-.38s0-.2,0-.26v-.11a.14.14,0,0,0,0-.07s0,0-.08,0h-.08l-.16.05-.17.06-.15.06a.37.37,0,0,0-.06.16c0,.08,0,.18,0,.31s0,.27,0,.44,0,.32,0,.49l0,0s-.05,0-.05,0,0,0,0,0v.13a.31.31,0,0,0,0,.1v.07s0,0,0,0h.06c0,.22,0,.43,0,.62v.43a2.31,2.31,0,0,0,0,.49,1.17,1.17,0,0,0,.1.33.59.59,0,0,0,.17.18.35.35,0,0,0,.2,0,.68.68,0,0,0,.32-.09,1.24,1.24,0,0,0,.35-.23,2.57,2.57,0,0,0,.33-.33l.23-.3v.09c0,.15,0,.28,0,.39s0,.26,0,.37a.14.14,0,0,0,0,.07l0,0h.67s0,0,.06-.06,0,0,0-.06c0-.2,0-.36,0-.48s0-.22,0-.29v-.15a.28.28,0,0,1,0-.08.69.69,0,0,1,.06-.25,1.91,1.91,0,0,1,.15-.28A1.55,1.55,0,0,1,54,88.7a.32.32,0,0,1,.2-.09s.05,0,.07.09a1.19,1.19,0,0,1,0,.24c0,.09,0,.19,0,.3v.29a3.38,3.38,0,0,0,0,.49,1.2,1.2,0,0,0,.09.33.32.32,0,0,0,.12.17.25.25,0,0,0,.16.06.48.48,0,0,0,.27-.1,1.93,1.93,0,0,0,.29-.24,2.26,2.26,0,0,0,.29-.32,3.43,3.43,0,0,0,.24-.33c0,.06,0,.12,0,.18a1.38,1.38,0,0,0,.21.42,1.1,1.1,0,0,0,.32.29.84.84,0,0,0,.41.11A.76.76,0,0,0,57.19,90.49Zm-.67-1.57v-.09a1.12,1.12,0,0,1,0-.32,1,1,0,0,1,.09-.28.83.83,0,0,1,.16-.2A.34.34,0,0,1,57,88l.08,0s.06.06.06.15a.55.55,0,0,1-.07.22,1.38,1.38,0,0,1-.17.25,1.5,1.5,0,0,1-.2.23,1,1,0,0,1-.2.15A.17.17,0,0,1,56.52,88.92Z"/>
			<path d="M65.22,87.47a.81.81,0,0,0,.16-.17s.06-.08.06-.1a.13.13,0,0,0,0-.08l-.06-.07-.08,0h0s0,0,0,0,0,0,0,0l-.11.1-.14.12-.19.1a.86.86,0,0,1-.24,0,4.28,4.28,0,0,0-.12-.54,2.41,2.41,0,0,0-.18-.43,1,1,0,0,0-.24-.28.48.48,0,0,0-.3-.11.53.53,0,0,0-.41.14.49.49,0,0,0-.13.35.93.93,0,0,0,.08.35,1.07,1.07,0,0,0,.2.36,1.83,1.83,0,0,0,.32.3,1.38,1.38,0,0,0,.41.18v.21a4.72,4.72,0,0,1,0,.64,2.54,2.54,0,0,1-.17.59,1.42,1.42,0,0,1-.3.44.61.61,0,0,1-.43.17.7.7,0,0,1-.25,0,.86.86,0,0,1-.23-.13,1,1,0,0,1-.2-.2,2,2,0,0,1-.17-.23,5.27,5.27,0,0,0,.19-.68,3.83,3.83,0,0,0,.06-.65c0-.13,0-.24,0-.35a1.15,1.15,0,0,0-.09-.28.44.44,0,0,0-.14-.18.37.37,0,0,0-.21-.06h0a.38.38,0,0,0-.25.09.62.62,0,0,0-.19.25,1.62,1.62,0,0,0-.11.37,3.15,3.15,0,0,0,0,.46,3.63,3.63,0,0,0,.06.64,3.58,3.58,0,0,0,.18.64.88.88,0,0,1-.19.24.44.44,0,0,1-.34.12.64.64,0,0,1-.41-.14,1.13,1.13,0,0,1-.27-.39,2.11,2.11,0,0,1-.14-.55,4.37,4.37,0,0,1,0-.64,4.89,4.89,0,0,1,0-.54,4.12,4.12,0,0,1,.06-.52c0-.16.05-.31.09-.45a2.14,2.14,0,0,1,.1-.35v0s0,0,0,0a.07.07,0,0,0,0-.06l-.06,0h-.07a.56.56,0,0,0-.21.08,3,3,0,0,0-.33.19l-.37.27a2.57,2.57,0,0,0-.35.29,2.12,2.12,0,0,0-.26.26.32.32,0,0,0-.1.19.3.3,0,0,0,0,.14s.06.07.08.07l.07,0,.14-.11.17-.16.17-.15.15-.11.07,0h0a3.74,3.74,0,0,0-.14.63,5,5,0,0,0-.06.79,4.65,4.65,0,0,0,.07.83,2.6,2.6,0,0,0,.22.73,1.63,1.63,0,0,0,.42.54,1,1,0,0,0,.65.2,1,1,0,0,0,.57-.2,2.08,2.08,0,0,0,.47-.54,2,2,0,0,0,.49.54,1.13,1.13,0,0,0,.67.21,1,1,0,0,0,.64-.22,1.79,1.79,0,0,0,.43-.57,3.26,3.26,0,0,0,.25-.8,4.56,4.56,0,0,0,.08-.9c0-.14,0-.27,0-.4a1.62,1.62,0,0,0,.42-.1A2,2,0,0,0,65.22,87.47Zm-1.54-.39a.41.41,0,0,1-.13-.24c0-.07,0-.11.13-.11s.15.06.22.17a1.38,1.38,0,0,1,.14.42A1,1,0,0,1,63.68,87.08Z"/>
			<path d="M70,90.58a.75.75,0,0,0,.33-.09,1.36,1.36,0,0,0,.34-.23,2.57,2.57,0,0,0,.33-.33,2.4,2.4,0,0,0,.28-.37s0,0,0-.06a.78.78,0,0,0,0-.14s0-.08-.07-.08h0a1.32,1.32,0,0,1-.34.41.63.63,0,0,1-.34.13.27.27,0,0,1-.2-.09.36.36,0,0,1-.07-.25c0-.17,0-.36,0-.58s0-.45,0-.69l.68-.22A.15.15,0,0,0,71,88l0,0a.05.05,0,0,0,0,0s0-.06,0-.09,0-.06,0-.09v-.1s0,0,0,0l0,0h-.06l-.21.08-.22.08-.25.08,0-.46c0-.14,0-.27,0-.38s0-.2,0-.26v-.11a.08.08,0,0,0,0-.07s0,0-.08,0h-.08l-.15.05-.18.06-.15.06a.29.29,0,0,0,0,.16,1.82,1.82,0,0,0-.05.31c0,.13,0,.27,0,.44s0,.32,0,.49l-.05,0s0,0,0,0,0,0,0,0v.13s0,.06,0,.1v.07s0,0,0,0h.07c0,.22,0,.43,0,.62v.19h0a3,3,0,0,1-.2.29.82.82,0,0,1-.27.22s0,0,0,0V89.7a1,1,0,0,0-.12-.51,2.16,2.16,0,0,0-.29-.37l-.33-.29a1,1,0,0,1-.26-.3h0a.58.58,0,0,1,0-.14.78.78,0,0,0,.48-.17.45.45,0,0,0,.16-.3.32.32,0,0,0-.1-.22.42.42,0,0,0-.29-.09,1,1,0,0,0-.28,0,.85.85,0,0,0-.28.15.86.86,0,0,0-.2.26.79.79,0,0,0-.09.38.9.9,0,0,0,.06.34,1,1,0,0,0,.14.28l-.18.38-.1.16,0,0h0l-.09.14a2.61,2.61,0,0,1-.17.2,1.21,1.21,0,0,1-.25.17.57.57,0,0,1-.32.08.53.53,0,0,1-.4-.17,1.05,1.05,0,0,1-.22-.42,5.09,5.09,0,0,0,.45-.31,3.7,3.7,0,0,0,.35-.32,1.48,1.48,0,0,0,.22-.31.52.52,0,0,0,.08-.28.52.52,0,0,0-.13-.38.5.5,0,0,0-.38-.15,1.17,1.17,0,0,0-.6.16,1.36,1.36,0,0,0-.43.4,1.78,1.78,0,0,0-.25.56,2.2,2.2,0,0,0-.08.62,1.61,1.61,0,0,0,.07.49,1.38,1.38,0,0,0,.21.42,1,1,0,0,0,.32.29.8.8,0,0,0,.4.11.74.74,0,0,0,.37-.1,1.67,1.67,0,0,0,.37-.24,3.34,3.34,0,0,0,.32-.33,2.64,2.64,0,0,0,.21-.29h0a1.64,1.64,0,0,0,.19-.28c.06-.12.13-.25.19-.39a1.51,1.51,0,0,0,.21.23l.2.24a2.61,2.61,0,0,1,.19.27,1.51,1.51,0,0,1,.13.29c0,.11,0,.18-.07.2a.33.33,0,0,1-.15,0,.28.28,0,0,1-.15,0l-.15-.09-.13-.1-.11-.1,0,0,0,0h0a.19.19,0,0,0-.1,0,.31.31,0,0,0-.11.09.58.58,0,0,0-.1.12.29.29,0,0,0,0,.16.2.2,0,0,0,0,.14.4.4,0,0,0,.13.13l.21.09a1.32,1.32,0,0,0,.64,0,1.47,1.47,0,0,0,.42-.18,2.83,2.83,0,0,0,.45-.33,3.2,3.2,0,0,0,.42-.46,3.58,3.58,0,0,0,0,.4.91.91,0,0,0,.11.33.47.47,0,0,0,.16.18A.35.35,0,0,0,70,90.58Zm-4.32-1.66v-.09a1.66,1.66,0,0,1,0-.32.77.77,0,0,1,.1-.28A.53.53,0,0,1,66,88a.32.32,0,0,1,.22-.07l.07,0s.06.06.06.15a.43.43,0,0,1-.07.22,1.32,1.32,0,0,1-.16.25,2.4,2.4,0,0,1-.21.23.8.8,0,0,1-.2.15Z"/>
			<path d="M73.66,86.81a.54.54,0,0,0-.16-.1.57.57,0,0,0-.18,0,.52.52,0,0,0-.33.12.43.43,0,0,0-.15.36.39.39,0,0,0,.09.26.28.28,0,0,0,.25.12h.08a.67.67,0,0,1-.06.28A.37.37,0,0,1,73,88a.1.1,0,0,0-.06.1.16.16,0,0,0,0,.09.08.08,0,0,0,.07,0,.79.79,0,0,0,.3-.12,1.2,1.2,0,0,0,.24-.26,1.05,1.05,0,0,0,.15-.32,1.06,1.06,0,0,0,.06-.34.51.51,0,0,0,0-.22A.5.5,0,0,0,73.66,86.81Z"/>
			<path d="M72.43,87.85a1.07,1.07,0,0,0,.16-.32,1.4,1.4,0,0,0,0-.34.51.51,0,0,0,0-.22.38.38,0,0,0-.11-.16.54.54,0,0,0-.16-.1.57.57,0,0,0-.18,0,.47.47,0,0,0-.32.12.43.43,0,0,0-.15.36.45.45,0,0,0,.08.26.3.3,0,0,0,.26.12h.08a.89.89,0,0,1-.07.28.32.32,0,0,1-.17.19.1.1,0,0,0-.07.1.16.16,0,0,0,0,.09.09.09,0,0,0,.08,0,.81.81,0,0,0,.29-.12A1.2,1.2,0,0,0,72.43,87.85Z"/>
			<polygon points="11.6 94.28 11.16 94.28 10.56 94.48 10.56 94.91 10.99 94.84 10.99 96.52 10.63 96.52 10.63 97.01 11.97 97.01 11.97 96.52 11.6 96.52 11.6 94.28"/>
			<path d="M13.21,96.21c.26-.3.75-.66.75-1.22a.67.67,0,0,0-.77-.75c-.52,0-.78.27-.82.81l.54,0c0-.25.1-.36.24-.36s.21.1.21.28c0,.35-.34.62-.62.93a1.21,1.21,0,0,0-.38.77V97H14V96.5h-.91A.6.6,0,0,1,13.21,96.21Z"/>
			<path d="M15.46,95.56h0a.62.62,0,0,0,.44-.61c0-.43-.29-.7-.8-.7a.8.8,0,0,0-.83.56l.48.18c.07-.19.17-.24.29-.24s.24.1.24.27-.09.31-.35.31h-.17v.48h.17c.28,0,.39.13.39.38s-.11.36-.28.36-.25-.1-.31-.34l-.54.16a.8.8,0,0,0,.86.69.8.8,0,0,0,.89-.82A.63.63,0,0,0,15.46,95.56Z"/>
			<path d="M17.64,94.94a.18.18,0,0,1,.21-.19c.16,0,.25.13.29.3l.55-.11a.79.79,0,0,0-.85-.7A.72.72,0,0,0,17,95c0,.92,1.09.85,1.09,1.36a.22.22,0,0,1-.24.22c-.2,0-.29-.13-.31-.35L17,96.3a.78.78,0,0,0,.87.75c.54,0,.88-.29.88-.78C18.73,95.36,17.64,95.42,17.64,94.94Z"/>
			<polygon points="18.86 94.83 19.38 94.83 19.38 97.01 20.01 97.01 20.01 94.83 20.53 94.83 20.53 94.28 18.86 94.28 18.86 94.83"/>
			<rect x="20.56" y="96.38" width="0.61" height="0.63"/>
			<path d="M22.69,94.28,22.1,97h.65l.1-.59h.51l.11.59h.65l-.6-2.73Zm.24,1.6.16-1h0l.17,1Z"/>
			<polygon points="25.63 95.63 25.62 95.63 25.02 94.28 24.36 94.28 24.36 97.01 24.92 97.01 24.92 95.5 24.93 95.5 25.62 97.01 26.2 97.01 26.2 94.28 25.63 94.28 25.63 95.63"/>
			<path d="M27.37,94.28h-.75V97h.77c.8,0,1.1-.52,1.1-1.4S28.11,94.28,27.37,94.28Zm.05,2.16h-.15V94.85h.15c.27,0,.42.17.42.77S27.72,96.44,27.42,96.44Z"/>
			<path d="M30.57,95.07c0-.57-.31-.79-.91-.79h-.84V97h.64V96h.23L30,97h.7l-.43-1.28A.73.73,0,0,0,30.57,95.07Zm-.95.4h-.16v-.66h.18c.11,0,.28,0,.28.32S29.78,95.47,29.62,95.47Z"/>
			<polygon points="32.46 94.83 32.46 94.28 30.92 94.28 30.92 97.01 32.49 97.01 32.49 96.46 31.56 96.46 31.56 95.88 32.23 95.88 32.23 95.34 31.56 95.34 31.56 94.83 32.46 94.83"/>
			<polygon points="34.57 95.89 34.56 95.89 34.34 94.28 33.72 94.28 33.49 95.9 33.48 95.9 33.27 94.28 32.61 94.28 33.16 97.01 33.8 97.01 34.01 95.43 34.02 95.43 34.25 97.01 34.88 97.01 35.42 94.28 34.79 94.28 34.57 95.89"/>
			<path d="M37.26,96.27c0-.91-1.09-.85-1.09-1.33a.18.18,0,0,1,.21-.19c.16,0,.25.13.29.3l.55-.11a.79.79,0,0,0-.85-.7.72.72,0,0,0-.81.72c0,.92,1.09.85,1.09,1.36a.22.22,0,0,1-.24.22c-.2,0-.28-.13-.31-.35l-.59.11a.78.78,0,0,0,.87.75C36.92,97.05,37.26,96.76,37.26,96.27Z"/>
			<path d="M39.63,94.28H38.8L38.21,97h.65l.09-.59h.52l.11.59h.65ZM39,95.88l.16-1h0l.17,1Z"/>
			<polygon points="41.12 96.09 41.11 96.09 40.81 94.28 40.12 94.28 40.74 97.01 41.49 97.01 42.13 94.28 41.45 94.28 41.12 96.09"/>
			<polygon points="43.91 96.46 42.98 96.46 42.98 95.88 43.66 95.88 43.66 95.34 42.98 95.34 42.98 94.83 43.88 94.83 43.88 94.28 42.34 94.28 42.34 97.01 43.91 97.01 43.91 96.46"/>
			<rect x="44.18" y="96.38" width="0.61" height="0.63"/>
			<polygon points="47.18 95.63 47.17 95.63 46.58 94.28 45.91 94.28 45.91 97.01 46.48 97.01 46.48 95.5 46.48 95.5 47.18 97.01 47.75 97.01 47.75 94.28 47.18 94.28 47.18 95.63"/>
			<path d="M50,95.65c0-.84-.22-1.41-1-1.41s-1,.57-1,1.41.27,1.4,1,1.4S50,96.52,50,95.65Zm-1.28,0c0-.64.08-.88.31-.88s.32.24.32.88-.09.87-.32.87S48.74,96.32,48.74,95.65Z"/>
			<path d="M51.78,95.73a.71.71,0,0,0,.33-.66c0-.57-.32-.79-.91-.79h-.84V97H51V96h.23l.3,1h.69Zm-.63-.26H51v-.66h.18c.11,0,.28,0,.28.32S51.32,95.47,51.15,95.47Z"/>
			<polygon points="53.97 94.28 52.3 94.28 52.3 94.83 52.82 94.83 52.82 97.01 53.45 97.01 53.45 94.83 53.97 94.83 53.97 94.28"/>
			<polygon points="55.42 95.33 54.87 95.33 54.87 94.28 54.23 94.28 54.23 97.01 54.87 97.01 54.87 95.89 55.42 95.89 55.42 97.01 56.06 97.01 56.06 94.28 55.42 94.28 55.42 95.33"/>
			<polygon points="58.09 96.09 58.09 96.09 57.78 94.28 57.09 94.28 57.72 97.01 58.47 97.01 59.11 94.28 58.43 94.28 58.09 96.09"/>
			<path d="M59.73,96.42h.51l.11.59H61l-.6-2.73h-.83L59,97h.65ZM60,94.9h0l.16,1h-.34Z"/>
			<polygon points="62.5 95.63 61.9 94.28 61.24 94.28 61.24 97.01 61.8 97.01 61.8 95.5 61.81 95.5 62.5 97.01 63.08 97.01 63.08 94.28 62.51 94.28 62.51 95.63 62.5 95.63"/>
			<path d="M64.36,96.51c-.2,0-.3-.18-.3-.88s.11-.84.31-.84.23.14.27.42l.59-.06c0-.56-.27-.91-.87-.91s-1,.64-1,1.39.24,1.42.94,1.42c.53,0,.81-.31.91-.94l-.6-.07C64.61,96.35,64.51,96.51,64.36,96.51Z"/>
			<path d="M66.44,94.24c-.75,0-1,.57-1,1.41s.27,1.4,1,1.4,1-.53,1-1.4S67.19,94.24,66.44,94.24Zm0,2.28c-.22,0-.32-.2-.32-.87s.09-.88.32-.88.32.24.32.88S66.67,96.52,66.44,96.52Z"/>
			<path d="M68.92,96.18c0,.23-.11.33-.29.33s-.26-.1-.26-.33v-1.9h-.64v1.81c0,.63.26,1,.89,1s.93-.32.93-1V94.28h-.63Z"/>
			<polygon points="70.76 96.09 70.75 96.09 70.44 94.28 69.75 94.28 70.38 97.01 71.13 97.01 71.77 94.28 71.09 94.28 70.76 96.09"/>
			<polygon points="72.62 95.88 73.29 95.88 73.29 95.34 72.62 95.34 72.62 94.83 73.52 94.83 73.52 94.28 71.98 94.28 71.98 97.01 73.55 97.01 73.55 96.46 72.62 96.46 72.62 95.88"/>
			<path d="M75.62,95.07c0-.57-.32-.79-.92-.79h-.83V97h.63V96h.23L75,97h.7l-.43-1.28A.71.71,0,0,0,75.62,95.07Zm-1,.4H74.5v-.66h.18c.11,0,.28,0,.28.32S74.83,95.47,74.66,95.47Z"/>
			<polygon points="75.92 97.01 76.11 97.01 75.89 97.57 76.25 97.57 76.53 96.97 76.53 96.38 75.92 96.38 75.92 97.01"/>
			<path d="M79.15,95.58h0A.59.59,0,0,0,79.5,95c0-.51-.29-.72-1-.72h-.79V97h.79c.56,0,1-.15,1-.8A.6.6,0,0,0,79.15,95.58Zm-.76-.76h.19c.16,0,.27.06.27.25s-.1.29-.27.29h-.19Zm.21,1.65h-.21v-.62h.21a.27.27,0,0,1,.31.31C78.91,96.37,78.83,96.47,78.6,96.47Z"/>
			<rect x="79.84" y="96.38" width="0.61" height="0.63"/>
			<path d="M81.74,96.51c-.21,0-.3-.18-.3-.88s.1-.84.3-.84.24.14.28.42l.58-.06c0-.56-.27-.91-.86-.91s-.95.64-.95,1.39.24,1.42.93,1.42c.53,0,.81-.31.91-.94L82,96C82,96.35,81.89,96.51,81.74,96.51Z"/>
			<rect x="82.89" y="96.38" width="0.61" height="0.63"/>
			<polygon points="19.81 79.76 19.81 77.54 19.34 77.54 19.34 78.64 19.34 78.64 18.85 77.54 18.32 77.54 18.32 79.76 18.77 79.76 18.77 78.53 18.78 78.53 19.34 79.76 19.81 79.76"/>
			<rect x="20.11" y="79.25" width="0.49" height="0.51"/>
			<polygon points="21.75 79.76 22.27 77.54 21.71 77.54 21.44 79.01 21.44 79.01 21.19 77.54 20.63 77.54 21.14 79.76 21.75 79.76"/>
			<rect x="22.31" y="79.25" width="0.49" height="0.51"/>
			<path d="M72.61,78.13c0-.41-.24-.59-.77-.59H71.2v2.22h.64c.45,0,.81-.12.81-.65a.47.47,0,0,0-.33-.51h0A.49.49,0,0,0,72.61,78.13Zm-.9-.15h.15c.13,0,.22,0,.22.21s-.08.23-.22.23h-.15Zm.17,1.34h-.17v-.5h.17a.22.22,0,0,1,.25.25C72.13,79.24,72.07,79.32,71.88,79.32Z"/>
			<rect x="72.88" y="79.25" width="0.49" height="0.51"/>
			<path d="M74.43,78c.12,0,.19.11.22.34l.47,0c0-.45-.22-.73-.7-.73s-.77.51-.77,1.12.2,1.15.76,1.15.65-.25.74-.76L74.66,79c0,.25-.12.38-.24.38s-.24-.14-.24-.71S74.26,78,74.43,78Z"/>
			<rect x="75.35" y="79.25" width="0.49" height="0.51"/>
			<path d="M29.75,99.65a4,4,0,0,0-.67,2.27,4.1,4.1,0,0,0,.67,2.28h.61a4.15,4.15,0,0,1,0-4.55Z"/>
			<path d="M32.43,101.2a1,1,0,0,0-.73.32h0c0-.86.24-1.12.54-1.12s.37.14.52.38l.59-.39a1.06,1.06,0,0,0-1.11-.74c-1,0-1.48.84-1.48,2.35,0,1.19.41,1.94,1.36,1.94a1.27,1.27,0,0,0,1.31-1.44C33.42,101.64,33.06,101.2,32.43,101.2Zm-.32,2c-.28,0-.41-.27-.41-.94a.51.51,0,0,1,.41-.29c.25,0,.38.18.38.57S32.37,103.19,32.11,103.19Z"/>
			<path d="M35,99.65c-.92,0-1.3.69-1.3,2.16s.42,2.13,1.3,2.13,1.31-.61,1.31-2.13S36,99.65,35,99.65Zm0,3.55c-.27,0-.35-.32-.35-1.39s.08-1.42.35-1.42.35.34.35,1.42S35.32,103.2,35,103.2Z"/>
			<path d="M38.9,99.68H37.75l-1.15,2.48V103H38v.92h.9V103h.47v-.76H38.9Zm-.9,2.53h-.66l.65-1.44h0Z"/>
			<path d="M39.72,99.65a4.1,4.1,0,0,1,0,4.55h.62a4.09,4.09,0,0,0,.66-2.28,4,4,0,0,0-.66-2.27Z"/>
			<path d="M44.23,101.05a.93.93,0,0,0-.63.22h0l.06-.78h1.44V99.7H43L42.83,102l.75.09a.39.39,0,0,1,.36-.26c.27,0,.41.17.41.66s-.1.75-.43.75-.34-.09-.44-.49l-.81.24a1.16,1.16,0,0,0,1.28,1c.86,0,1.36-.55,1.36-1.51S44.92,101.05,44.23,101.05Z"/>
			<path d="M47.19,101.05a.93.93,0,0,0-.63.22h0l.05-.78H48V99.7h-2.1L45.8,102l.75.09a.38.38,0,0,1,.36-.26c.27,0,.41.17.41.66s-.1.75-.43.75-.35-.09-.45-.49l-.8.24a1.16,1.16,0,0,0,1.28,1c.86,0,1.35-.55,1.35-1.51S47.89,101.05,47.19,101.05Z"/>
			<path d="M50.16,101.05a.93.93,0,0,0-.63.22h0l0-.78H51V99.7H48.9L48.76,102l.76.09a.37.37,0,0,1,.35-.26c.28,0,.42.17.42.66s-.11.75-.44.75-.34-.09-.44-.49l-.8.24a1.15,1.15,0,0,0,1.27,1c.86,0,1.36-.55,1.36-1.51S50.85,101.05,50.16,101.05Z"/>
			<rect x="51.62" y="101.95" width="1.47" height="0.77"/>
			<polygon points="55.3 99.7 54.62 99.7 53.7 100.01 53.7 100.66 54.37 100.56 54.37 103.14 53.81 103.14 53.81 103.89 55.86 103.89 55.86 103.14 55.3 103.14 55.3 99.7"/>
			<path d="M57.76,102.66c.4-.46,1.16-1,1.16-1.86a1,1,0,0,0-1.18-1.15c-.8,0-1.2.4-1.26,1.23l.82.08c.05-.39.16-.56.37-.56s.32.16.32.44c0,.54-.51,1-.94,1.42a1.81,1.81,0,0,0-.59,1.17v.46h2.48v-.79H57.55A1,1,0,0,1,57.76,102.66Z"/>
			<path d="M61.22,101.66h0a1,1,0,0,0,.67-.94c0-.66-.45-1.06-1.22-1.06a1.22,1.22,0,0,0-1.28.85l.73.27c.11-.28.27-.37.45-.37s.36.16.36.42-.14.47-.53.47h-.25V102h.25c.42,0,.6.2.6.59s-.16.55-.43.55-.38-.15-.48-.52l-.82.24a1.35,1.35,0,0,0,2.67-.2A1,1,0,0,0,61.22,101.66Z"/>
			<path d="M64.54,99.68H63.39l-1.15,2.48V103h1.4v.92h.9V103H65v-.76h-.48Zm-.9,2.53H63l.65-1.44h0Z"/>
	</svg>
{% if url %}</a>{% endif %}
