{% assign stroke_colour = stroke_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 70 69"
  style='fill: rgba( var(--theme-colour-{{ stroke_colour }}), 1);'
>
  <path d="M57.6,68.39C52.82,63.23,44.9,64,43.2,64.25A.21.21,0,0,1,43,64l2.75-8.56H39.87l-.12,13.06a.5.5,0,0,0,.51.52H57.33A.36.36,0,0,0,57.6,68.39Z"/>
  <path d="M35.2,64a.21.21,0,0,1-.24.28c-1.74-.24-9.61-1-14.37,4.15a.36.36,0,0,0,.26.61H37.94a.52.52,0,0,0,.52-.51l.2-13.07H32.47Z"/>
</svg>
