{% assign fill_colour = fill_colour | default: '#231F20' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Artwork" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 290 24" style="enable-background:new 0 0 290 24;" xml:space="preserve" style="fill: {{ fill_colour }};">
  <g>
	  <path d="M61.5,2.5c-0.6,0-1.1,0.1-1.7,0.2V0.4l-6.4,1.6v2.2L43.1,6.9c-1.4,0.3-2.7,1.1-3.7,2.3
		  c-0.9,1.1-1.4,2.5-1.3,3.9v0.4c-1.3-0.8-2.7-1.2-4.2-1.2c-1,0-2,0.3-2.8,0.9c-0.7,0.5-1,1.3-1,2.2c0,1.2,0.9,2.5,2.6,4l5.3,4.5
		  h12.9l16.7-4.3V8.9c0-1.7-0.7-3.3-1.9-4.5C64.8,3.2,63.2,2.5,61.5,2.5z M44.5,7.6c2.1,0,4,1,5.1,2.8l-5,1.3l-2.2,4.8L41.7,16
		  c-0.9-0.8-1.8-1.5-2.8-2.1v-0.7c0-0.1,0-0.2,0-0.3C39,9.9,41.5,7.5,44.5,7.6z M38.5,23l-4.3-3.5c-2.2-1.8-3.2-3.2-3.2-4.4
		  c0-0.6,0.3-1.2,0.8-1.5c0.7-0.4,1.5-0.6,2.3-0.6c1.9,0,4.3,1.1,7.1,3.5l7.9,6.5L38.5,23z M50.3,23.1l-1.7-1.5l1.7-0.5V23.1z
		   M50.3,20.5l-2.4,0.6l-1.8-1.5l1.1-4.8l3.1-0.8V20.5z M46.5,14.2l-1.1,5l-2.6-2.2l2.2-4.7l4.9-1.2c0.3,0.7,0.4,1.4,0.4,2.2
		  L46.5,14.2z M67.1,19L51,23v-9.9c0-1.4-0.4-2.8-1.3-3.9c-1-1.1-2.3-2-3.7-2.4L53.4,5v11.5l2.3-0.5V7.4l4.1-1.1V3.4
		  c0.5-0.1,1.1-0.2,1.6-0.2c1.5,0,3,0.6,4,1.7c1.1,1.1,1.7,2.5,1.7,4V19z"/>
	  <polygon points="36.5,16.9 35.4,16.9 34.6,16.4 34.3,17 35.9,18.4 38.1,18.4 38.6,17.9 36.9,16.5 	"/>
	  <path d="M85.6,13.5c-0.6-0.6-1.5-1.5-2.8-2.5l-0.4-0.4L82,10.3c-0.1-0.1-0.3-0.2-0.4-0.4l-0.4-0.3
		  c-0.7-0.6-1.3-1.1-1.7-1.5c-0.4-0.4-0.7-0.8-1-1.3c-0.3-0.5-0.4-1-0.4-1.5c0-0.7,0.3-1.4,0.8-1.9c0.7-0.6,1.5-0.8,2.4-0.8
		  c0.9,0,1.7,0.2,2.5,0.7c0.7,0.5,1.3,1.2,1.7,2C85.8,6.1,86,7.1,86,8.1h0.6V1.9H86c0,0.4,0,0.7-0.1,1.1c-0.1,0.2-0.2,0.3-0.3,0.3
		  c-0.1,0-0.3-0.1-0.4-0.1l-0.5-0.3c-0.5-0.4-1.1-0.7-1.7-1c-0.7-0.3-1.4-0.4-2.2-0.4c-0.9,0-1.8,0.2-2.7,0.6c-0.7,0.4-1.4,1-1.8,1.7
		  c-0.5,0.8-0.7,1.7-0.7,2.6c0,0.8,0.1,1.6,0.5,2.4c0.3,0.7,0.8,1.4,1.3,1.9c0.6,0.6,1.5,1.4,2.6,2.4c0.1,0.1,0.3,0.2,0.4,0.4
		  l0.4,0.3c1,0.8,1.7,1.5,2.3,2c0.6,0.5,1,1.1,1.4,1.8c0.4,0.6,0.6,1.2,0.6,1.9c0,0.9-0.3,1.8-1,2.5c-0.7,0.6-1.6,1-2.5,0.9
		  c-1,0-1.9-0.3-2.7-0.8c-0.9-0.6-1.6-1.5-2-2.4c-0.5-1.2-0.8-2.4-0.8-3.7h-0.6l0,7.7h0.6c0-0.4,0-0.8,0.1-1.2
		  c0.1-0.2,0.2-0.3,0.4-0.3c0.1,0,0.3,0.1,0.4,0.1c0.2,0.1,0.3,0.2,0.5,0.3c0.6,0.4,1.2,0.7,1.8,1c0.8,0.3,1.6,0.4,2.4,0.4
		  c0.9,0,1.9-0.2,2.7-0.6c0.9-0.4,1.6-1.1,2.1-1.9c0.5-0.9,0.8-1.9,0.8-2.9c0-0.9-0.2-1.9-0.5-2.7C86.7,14.9,86.2,14.1,85.6,13.5z"/>
	  <path d="M97,20.8c-0.4,0.6-1.1,1-1.9,1c-0.7,0-1.3-0.3-1.8-0.8c-0.5-0.6-0.9-1.4-1-2.2c-0.3-1.1-0.4-2.1-0.4-3.2
		  c0,0,0-0.1,0-0.1h7c0-1.2-0.1-2.4-0.5-3.5c-0.3-0.9-0.8-1.8-1.5-2.4c-0.7-0.6-1.6-0.9-2.5-0.9c-1,0-2,0.4-2.7,1
		  c-0.8,0.8-1.4,1.7-1.8,2.8c-0.4,1.2-0.6,2.5-0.6,3.8c0,1.3,0.2,2.7,0.6,3.9c0.3,1,0.9,1.9,1.6,2.5c0.7,0.6,1.6,0.9,2.6,0.9
		  c1.2,0,2.4-0.6,3.1-1.6c0.9-1.3,1.5-2.9,1.7-4.5h-0.6C98.2,18.8,97.7,19.8,97,20.8z M93,10.5c0.3-0.5,0.8-0.7,1.4-0.7
		  c0.5,0,0.9,0.2,1.2,0.6c0.3,0.5,0.6,1,0.6,1.6c0.1,0.8,0.2,1.6,0.2,2.4H92c0-0.6,0.1-1.2,0.2-1.9C92.3,11.8,92.6,11.1,93,10.5z"/>
	  <path d="M111.6,21.9c-0.1-0.4-0.2-0.9-0.1-1.3v-8c0-2.6-0.9-3.8-2.8-3.8c-0.8,0-1.6,0.3-2.3,0.8
		  c-0.7,0.6-1.4,1.2-1.9,2h-0.1L104.3,9L104,8.6l-1.9,1l-2,0.9l0.3,0.5c0.3-0.2,0.7-0.3,1.1-0.3c0.2,0,0.4,0.1,0.4,0.3
		  c0.1,0.4,0.1,0.8,0.1,1.2v8.2c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.3,0.5-0.5,0.6c-0.4,0.1-0.8,0.2-1.2,0.2v0.6h6.1v-0.6
		  c-0.4,0-0.8,0-1.1-0.2c-0.2-0.1-0.4-0.3-0.5-0.6c-0.1-0.4-0.1-0.9-0.1-1.3v-8c0.4-0.6,1-1.1,1.6-1.6c0.4-0.3,1-0.5,1.5-0.6
		  c0.4,0,0.9,0.2,1.1,0.5c0.3,0.5,0.4,1.1,0.3,1.6v8c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.2,0.5-0.5,0.6c-0.4,0.1-0.7,0.2-1.1,0.2v0.6h6.1
		  v-0.6c-0.4,0-0.8,0-1.2-0.2C111.9,22.4,111.7,22.1,111.6,21.9z"/>
	  <path d="M125.5,21.7c-0.2,0-0.3-0.1-0.3-0.3c-0.1-0.4-0.1-0.8-0.1-1.2V1.8l-0.4-0.4l-1.9,1l-1.9,0.9l0.3,0.6
		  c0.3-0.2,0.7-0.3,1-0.3c0.2,0,0.3,0.1,0.4,0.3c0.1,0.4,0.1,0.8,0.1,1.2v0.2l0,5.1h-0.1c-0.4-0.5-0.8-0.9-1.4-1.2
		  c-0.6-0.3-1.2-0.5-1.8-0.5c-1,0-2.1,0.4-2.8,1c-0.8,0.8-1.5,1.8-1.8,2.9c-0.4,1.3-0.7,2.7-0.6,4.2c0,1.3,0.2,2.5,0.6,3.7
		  c0.3,0.9,0.9,1.8,1.6,2.4c0.7,0.6,1.6,0.9,2.4,0.9c0.8,0,1.5-0.2,2.1-0.7c0.7-0.6,1.3-1.2,1.7-2h0.1l0,2.3l0.4,0.4l1.9-1l1.9-0.9
		  l-0.2-0.6C126.2,21.5,125.9,21.6,125.5,21.7z M121.8,21.1c-0.3,0.3-0.6,0.6-0.9,0.8c-0.2,0.1-0.4,0.2-0.6,0.2
		  c-1.2,0.3-2.3-0.5-2.6-1.6c-0.5-1.4-0.7-3-0.7-4.5c0-1.5,0.2-3,0.7-4.5c0.3-1,1.2-1.7,2.3-1.7c0.8,0,1.5,0.5,1.9,1.3
		  c0.4,0.8,0.7,1.7,0.7,2.6l0,6.3C122.4,20.4,122.1,20.8,121.8,21.1z M122.6,19.9v-5.3V19.9C122.7,19.9,122.6,19.9,122.6,19.9z"/>
	  <path d="M145.1,21.7C145.1,21.7,145.1,21.7,145.1,21.7c-0.2,0-0.4-0.1-0.4-0.3c-0.1-0.4-0.1-0.8-0.1-1.2V9.2l-0.4-0.3
		  l-1.9,0.5l-2.1,0.7l0.2,0.6c0.4-0.1,0.7-0.2,1.1-0.2c0.2,0,0.4,0.2,0.4,0.4c0.1,0.4,0.1,0.8,0.1,1.2v7.9c-0.4,0.6-1,1.1-1.6,1.6
		  c-0.4,0.3-0.9,0.5-1.5,0.6c-0.4,0-0.9-0.2-1.1-0.5c-0.3-0.5-0.4-1-0.4-1.6V9.2l-0.4-0.3l-1.9,0.5l-2.1,0.7l0.2,0.6
		  c0.4-0.1,0.7-0.2,1.1-0.2c0.2,0,0.4,0.2,0.4,0.4c0.1,0.4,0.1,0.8,0.1,1.2v7.9c0,2.5,0.9,3.8,2.8,3.8c0.8,0,1.6-0.3,2.2-0.7
		  c0.7-0.6,1.3-1.2,1.9-2h0.1l0,2.4l0.4,0.4l1.9-1l1.9-0.9l-0.3-0.6C145.8,21.5,145.5,21.6,145.1,21.7z"/>
	  <path d="M154.9,16.8c-0.5-0.6-1.1-1.2-1.8-1.7l-0.5-0.4l-0.8-0.7c-0.5-0.4-1-0.9-1.3-1.5c-0.3-0.4-0.4-0.9-0.4-1.3
		  c0-0.4,0.1-0.7,0.4-1c0.3-0.3,0.7-0.5,1.1-0.4c0.8,0,1.6,0.4,2.1,1c0.6,0.7,1,1.6,1.1,2.5h0.6V8.9h-0.6c0,0.2,0,0.4,0,0.6
		  c0,0.1-0.1,0.2-0.3,0.2c-0.2,0-0.4-0.1-0.5-0.3c-0.3-0.2-0.7-0.4-1.1-0.6c-0.4-0.2-0.9-0.2-1.4-0.2c-0.9,0-1.8,0.3-2.5,0.9
		  c-0.7,0.6-1,1.5-1,2.4c0,0.6,0.1,1.1,0.3,1.6c0.2,0.5,0.5,0.9,0.9,1.3c0.5,0.5,1,1,1.5,1.4c0.1,0.1,0.1,0.2,0.2,0.2l0.2,0.2
		  l0.3,0.2c0.6,0.5,1.1,1,1.5,1.4c0.3,0.3,0.6,0.7,0.9,1.2c0.2,0.4,0.3,0.8,0.3,1.3c0,0.5-0.1,0.9-0.4,1.3c-0.3,0.3-0.8,0.5-1.2,0.5
		  c-1,0-1.9-0.5-2.5-1.2c-0.7-1-1.2-2.1-1.3-3.3h-0.6v5.3h0.6c0-0.2,0-0.4,0.1-0.6c0.1-0.1,0.2-0.2,0.3-0.2c0.3,0,0.5,0.1,0.7,0.3
		  c0.4,0.2,0.8,0.4,1.3,0.5c0.5,0.2,1,0.2,1.5,0.2c1,0,1.9-0.3,2.6-0.9c0.7-0.7,1.1-1.7,1.1-2.7c0-0.6-0.1-1.2-0.3-1.8
		  C155.6,17.8,155.3,17.3,154.9,16.8z"/>
	  <path d="M173.8,22.4c-0.1,0.2-0.3,0.3-0.5,0.3c-0.2,0-0.4-0.1-0.5-0.3c-0.1-0.3-0.1-0.7-0.1-1l0-8.5
		  c0.1-1.2-0.3-2.3-1.1-3.1c-0.9-0.8-2-1.1-3.2-1.1c-1.1,0-2.2,0.3-3.2,0.8c-0.8,0.5-1.3,1.3-1.2,2.3c0,0.5,0.1,0.9,0.4,1.3
		  c0.3,0.3,0.7,0.5,1.1,0.5c0.4,0,0.7-0.1,1-0.3c0.2-0.2,0.4-0.5,0.4-0.8c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.2-0.2-0.5-0.2-0.8
		  c0-0.4,0.2-0.7,0.5-0.9c0.4-0.2,0.8-0.4,1.3-0.3c0.5,0,0.9,0.1,1.3,0.4c0.3,0.3,0.5,0.6,0.6,1.1c0.1,0.6,0.1,1.2,0.1,1.8V14
		  l-1.2,0.6l-0.6,0.3c-0.9,0.4-1.9,0.9-2.8,1.4c-0.7,0.4-1.3,1-1.7,1.6c-0.5,0.7-0.7,1.6-0.7,2.5c0,0.9,0.2,1.8,0.8,2.4
		  c0.6,0.6,1.4,1,2.2,0.9c0.9,0,1.7-0.3,2.4-0.8c0.6-0.5,1.1-1.2,1.6-1.9h0.1v0.1c-0.1,0.7,0.1,1.4,0.6,2c0.4,0.5,1.1,0.7,1.7,0.7
		  c0.6,0,1.1-0.1,1.5-0.5c0.4-0.5,0.7-1.1,0.8-1.7v-0.1h-0.6C174.2,21.8,174,22.1,173.8,22.4z M170.3,20c-0.4,0.5-0.9,1-1.4,1.4
		  c-0.4,0.3-0.9,0.5-1.4,0.4c-0.5,0-1-0.2-1.3-0.6c-0.3-0.5-0.5-1-0.5-1.6c0-0.9,0.3-1.7,0.9-2.3c0.7-0.8,1.6-1.4,2.5-1.8l1.2-0.6V20
		  z"/>
	  <path d="M186.6,21.9c-0.1-0.4-0.1-0.9-0.1-1.3v-8c0-2.6-0.9-3.8-2.8-3.8c-0.8,0-1.6,0.3-2.2,0.8
		  c-0.7,0.6-1.4,1.2-1.9,2h-0.1l0-2.4L179,8.6l-1.9,1l-2,0.9l0.3,0.5c0.3-0.2,0.7-0.3,1.1-0.3c0.2,0,0.4,0.1,0.4,0.3
		  c0.1,0.4,0.1,0.8,0.1,1.2v8.2c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.3,0.5-0.5,0.6c-0.4,0.1-0.8,0.2-1.2,0.2v0.6h6.1v-0.6
		  c-0.4,0-0.8,0-1.1-0.2c-0.2-0.1-0.4-0.3-0.5-0.6c-0.1-0.4-0.1-0.9-0.1-1.3v-8c0.4-0.6,1-1.1,1.6-1.6c0.4-0.3,1-0.5,1.5-0.6
		  c0.4,0,0.9,0.2,1.1,0.5c0.3,0.5,0.4,1.1,0.3,1.6v8c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.2,0.5-0.5,0.6c-0.4,0.1-0.7,0.2-1.1,0.2v0.6h6.1
		  v-0.6c-0.4,0-0.8,0-1.2-0.2C186.9,22.4,186.7,22.1,186.6,21.9z"/>
	  <path d="M203,20.8c-0.4,0.6-1.1,1-1.9,1c-0.7,0-1.3-0.3-1.8-0.8c-0.5-0.6-0.9-1.4-1.1-2.2c-0.3-1.1-0.4-2.1-0.4-3.2
		  c0,0,0-0.1,0-0.1h7c0-1.2-0.2-2.4-0.5-3.5c-0.3-0.9-0.8-1.8-1.5-2.5c-0.7-0.6-1.6-0.9-2.5-0.9c-1,0-2,0.4-2.7,1
		  c-0.8,0.8-1.4,1.7-1.8,2.8c-0.4,1.2-0.6,2.5-0.6,3.8c0,1.3,0.2,2.7,0.6,4c0.3,1,0.9,1.9,1.7,2.6c0.7,0.6,1.6,0.9,2.6,0.9
		  c1.2,0,2.4-0.6,3.1-1.6c0.9-1.3,1.5-2.9,1.6-4.5h-0.6C204.1,18.8,203.7,19.8,203,20.8z M198.9,10.5c0.3-0.5,0.8-0.7,1.4-0.7
		  c0.5,0,0.9,0.2,1.2,0.6c0.3,0.5,0.6,1,0.7,1.6c0.1,0.8,0.2,1.6,0.2,2.4H198c0-0.6,0.1-1.2,0.2-1.9
		  C198.3,11.8,198.5,11.1,198.9,10.5z"/>
	  <path d="M217.5,21.9c-0.1-0.4-0.1-0.9-0.1-1.3v-8c0-2.6-0.9-3.8-2.8-3.8c-0.8,0-1.6,0.3-2.2,0.8
		  c-0.7,0.6-1.3,1.2-1.8,2h-0.1l0-2.4L210,8.6l-1.9,1l-2,0.9l0.3,0.5c0.3-0.2,0.7-0.3,1.1-0.3c0.2,0,0.4,0.1,0.4,0.3
		  c0.1,0.4,0.1,0.8,0.1,1.2v8.2c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.3,0.5-0.5,0.6c-0.4,0.1-0.8,0.2-1.2,0.2v0.6h6v-0.6
		  c-0.4,0-0.7,0-1.1-0.2c-0.2-0.1-0.4-0.3-0.5-0.6c-0.1-0.4-0.1-0.9-0.1-1.3v-8c1.1-1.5,2.1-2.2,3.1-2.2c0.4,0,0.8,0.2,1,0.5
		  c0.2,0.5,0.4,1,0.3,1.6v8.1c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.2,0.5-0.5,0.6c-0.3,0.1-0.7,0.2-1.1,0.2v0.6h5.7v-0.6
		  c-0.4,0-0.7,0-1.1-0.2C217.7,22.3,217.5,22.1,217.5,21.9z"/>
	  <path d="M224.5,21.9c-0.1-0.4-0.2-0.9-0.1-1.3v-8c0.1-1-0.2-2-0.7-2.9c-0.5-0.7-1.3-1.1-2.1-1c-0.8,0-1.6,0.3-2.3,0.8
		  c-0.8,0.6-1.4,1.2-2,2h-0.1l0.1,1.1c1.1-1.5,2.1-2.2,3.1-2.2c0.4,0,0.8,0.2,1,0.5c0.2,0.5,0.4,1,0.3,1.6v8.2c0,0.4,0,0.9-0.1,1.3
		  c-0.1,0.3-0.2,0.5-0.5,0.6c-0.3,0.1-0.7,0.2-1,0.2v0.6h6v-0.6c-0.4,0-0.8,0-1.2-0.2C224.8,22.4,224.6,22.2,224.5,21.9z"/>
	  <path d="M232.5,14.9c-0.9,0.4-1.9,0.9-2.8,1.4c-0.7,0.4-1.3,1-1.7,1.6c-0.5,0.7-0.7,1.6-0.7,2.5c0,0.9,0.2,1.8,0.8,2.4
		  c0.6,0.6,1.4,1,2.2,0.9c0.9,0,1.7-0.3,2.4-0.8c0.6-0.5,1.1-1.2,1.6-1.9h0.1v-1c-0.4,0.5-0.9,1-1.4,1.4c-0.4,0.3-0.9,0.5-1.4,0.4
		  c-0.5,0-1-0.2-1.3-0.6c-0.3-0.5-0.5-1-0.5-1.6c0-0.9,0.3-1.7,0.9-2.3c0.7-0.8,1.6-1.4,2.5-1.8l1.2-0.6v-1l-1.2,0.6L232.5,14.9z"/>
	  <path d="M237.9,22.4c-0.1,0.2-0.3,0.3-0.5,0.3c-0.2,0-0.4-0.1-0.5-0.3c-0.1-0.3-0.1-0.7-0.1-1l0-8.5
		  c0.1-1.2-0.3-2.3-1.1-3.2c-0.9-0.8-2-1.1-3.2-1.1c-1.1,0-2.2,0.3-3.2,0.9c-0.8,0.5-1.3,1.3-1.2,2.3c0,0.5,0.1,0.9,0.4,1.3
		  c0.3,0.3,0.7,0.5,1.1,0.5c0.4,0,0.7-0.1,1-0.3c0.2-0.2,0.4-0.5,0.4-0.8c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.2-0.2-0.5-0.2-0.8
		  c0-0.4,0.2-0.7,0.5-0.9c0.4-0.2,0.8-0.4,1.3-0.4c0.5,0,0.9,0.1,1.3,0.4c0.3,0.3,0.6,0.6,0.6,1c0.1,0.6,0.1,1.2,0.1,1.8v8.2
		  c-0.1,0.7,0.1,1.4,0.6,2c0.4,0.5,1.1,0.7,1.7,0.7c0.6,0,1.1-0.1,1.5-0.5c0.4-0.5,0.7-1.1,0.8-1.7v-0.1h-0.7
		  C238.2,21.8,238.1,22.1,237.9,22.4z"/>
	  <path d="M242.1,4.6c0.4,0,0.8-0.2,1.1-0.5c0.3-0.3,0.5-0.7,0.4-1.1c0,0,0,0,0,0c0-0.9-0.7-1.5-1.6-1.5
		  c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.3-0.5,0.7-0.5,1.1c0,0.4,0.2,0.8,0.5,1.1C241.3,4.4,241.7,4.6,242.1,4.6z"/>
	  <path d="M243.6,21.8c-0.1-0.4-0.1-0.9-0.1-1.3l0-11.5l-0.4-0.4l-1.9,1l-2,0.9l0.3,0.5c0.3-0.2,0.7-0.3,1.1-0.3
		  c0.2,0,0.4,0.1,0.4,0.3c0.1,0.4,0.1,0.8,0.1,1.2v8.2c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.3,0.5-0.5,0.6c-0.4,0.1-0.8,0.2-1.2,0.2v0.6
		  h6.2v-0.6c-0.4,0-0.8,0-1.2-0.2C243.9,22.3,243.7,22.1,243.6,21.8z"/>
	  <path d="M250.7,21.8c-0.1-0.4-0.2-0.9-0.1-1.3l0-18.7l-0.4-0.4l-1.9,1l-2,0.9l0.3,0.6c0.3-0.2,0.7-0.3,1.1-0.3
		  c0.2,0,0.4,0.1,0.4,0.3c0.1,0.4,0.1,0.8,0.1,1.2v15.4c0,0.4,0,0.9-0.1,1.3c-0.1,0.3-0.3,0.5-0.5,0.6c-0.4,0.1-0.8,0.2-1.2,0.2v0.6
		  h6.2v-0.6c-0.4,0-0.8,0-1.2-0.2C250.9,22.3,250.7,22.1,250.7,21.8z"/>
	  <path d="M254.4,3.7c0,0.6,0,1.3,0.1,2.1s0.2,1.6,0.3,2.6c0.2,1.6,0.4,3.1,0.5,4.6s0.2,3.1,0.2,4.9h0.6
		  c0-1.8,0.1-3.5,0.2-5c0.1-1.5,0.3-3.1,0.5-4.5c0.1-1,0.2-1.9,0.3-2.7c0.1-0.8,0.1-1.4,0.1-2.1c0-0.6-0.1-1.2-0.4-1.7
		  c-0.2-0.4-0.6-0.6-1.1-0.6c-0.4,0-0.8,0.2-1.1,0.6C254.5,2.5,254.3,3.1,254.4,3.7L254.4,3.7z"/>
	  <path d="M256.9,21.1c-0.3-0.3-0.7-0.5-1.1-0.5c-0.4,0-0.8,0.2-1.1,0.5c0,0,0,0,0,0c-0.6,0.6-0.6,1.6,0,2.2
		  c0.3,0.3,0.7,0.5,1.1,0.5c0.4,0,0.8-0.2,1.1-0.5C257.5,22.7,257.5,21.7,256.9,21.1z"/>
  </g>
</svg>
