{% assign fill = fill | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.85 148.14"
>
  <polygon points="18.95 7.54 19.01 7.54 22.72 19.96 26.24 19.96 29.95 7.54 30.01 7.54 30.01 19.96 34.75 19.96 34.75 0 28.61 0 24.51 12.73 24.45 12.73 20.35 0 14.21 0 14.21 19.96 18.95 19.96 18.95 7.54"/>
    <path d="M42.12,15.8H49L50.25,20h5L48.07,0H43L35.81,20h5ZM45.53,4.6h0L47.84,12H43.27Z"/>
    <path d="M74.42,10c0-6.42-3.35-10-8.91-10H56.67V20h9.12C71.35,20,74.42,16.41,74.42,10ZM61.69,15.86V4.1H65c3.13,0,4.38,2.26,4.38,5.89S68.14,15.86,65,15.86Z"/>
    <polygon points="91.64 15.86 81.37 15.86 81.37 11.75 90.08 11.75 90.08 7.65 81.37 7.65 81.37 4.1 91.47 4.1 91.47 0 76.34 0 76.34 19.96 91.64 19.96 91.64 15.86"/>
    <polygon points="13.9 117.96 5.03 117.96 5.03 102.1 0 102.1 0 122.06 13.9 122.06 13.9 117.96"/>
    <path d="M14.26,112.07c0,6,3.55,10.44,9.89,10.44S34,118.1,34,112.07s-3.6-10.41-9.88-10.41S14.26,106.07,14.26,112.07Zm14.74,0c0,3.49-1.23,6.34-4.85,6.34s-4.86-2.85-4.86-6.34,1.2-6.31,4.86-6.31S29,108.61,29,112.07Z"/>
    <path d="M53.65,114.58h-5c-.34,2.24-1.34,3.83-4,3.83-3.33,0-4.44-2.57-4.44-6.34s1.11-6.31,4.44-6.31c2.65,0,3.65,1.59,4,3.77h5c-.47-4.63-3.38-7.87-8.82-7.87-6.31,0-9.69,4.41-9.69,10.41s3.38,10.44,9.69,10.44C50.3,122.51,53.2,119.27,53.65,114.58Z"/>
    <path d="M72.77,122.06l-7.2-20h-5l-7.22,20h5l1.28-4.16h6.84l1.29,4.16Zm-12-8L63,106.71h.06l2.26,7.37Z"/>
    <polygon points="74.17 102.1 74.17 122.06 88.07 122.06 88.07 117.96 79.19 117.96 79.19 102.1 74.17 102.1"/>
    <path d="M98.2,109.67c-2.51-.7-3.77-1.09-3.77-2.32s1.18-1.59,2.68-1.59c1.93,0,3.21.89,3.44,2.4h5c-.14-4-3.8-6.5-8.46-6.5-4.3,0-7.7,1.7-7.7,6.06,0,3.68,3,5.16,6.45,6.16,2.82.84,5,1.2,5,2.8,0,1-1,1.73-2.87,1.73-2.23,0-4.08-.79-4.08-2.91h-5c0,4.44,3.91,7,9.1,7,5,0,7.9-2.48,7.9-6.31C105.85,111.93,102,110.7,98.2,109.67Z"/>
    <path d="M52.79,77.29c10.06,0,11.79-9.33,11.79-16.73,0-13.72-5.57-16.1-9.6-16.1-9.69,0-11.79,7.41-11.79,17.65C43.19,67.32,45.56,77.29,52.79,77.29Zm-3.29-23c0-3.38.36-8.41,4.48-8.41,3.47,0,3.84,4.11,3.84,7.22V66.68c0,4.67-.92,8.87-4.12,8.87-3.75,0-4.2-5.21-4.2-7.68Z"/>
    <path d="M67.51,41.17v1c2.1,0,3.75.82,3.75,2.83V63.12a6.41,6.41,0,0,1-3.57,5.67v1.55C71.17,68.6,75.37,67,79.3,67c5.49,0,10.43,2.37,10.43,8.32,0,5.12-4.57,9-10.88,9-6.13,0-10.43-1.83-17.47-1.83-6.67,0-13.44,2.38-18,6.67v1.28A19.08,19.08,0,0,1,53.06,88c8.14,0,15.09,5.48,24.78,5.48,7.59-.54,16.28-2.92,16.28-15A13.91,13.91,0,0,0,87,66.87c-4.2-2.2-8.59-1.92-8.59-5.86V44.65c0-2.2,2.56-4.39,3.29-4.39.09,0,.18,0,.18.18a21.8,21.8,0,0,0-.45,2.65c0,3.39,3.65,3.48,4.2,3.48,3.66,0,5.22-2.65,5.22-6a4.76,4.76,0,0,0-4.94-4.75c-2.75,0-5.31,2.1-7.41,4.48-.09-.09-.18-.09-.18-.28v-6.3h-.73a11.49,11.49,0,0,1-4.76,5.94A9.68,9.68,0,0,1,67.51,41.17Z"/>
    <path d="M16.4,91.83c6.94,0,11.79-6.59,26.79-8V82.68a45.1,45.1,0,0,0-10,1.19c-1.46,0-1.65-1.64-1.65-7.59V60.74c0-.73,0-1,.46-1,2.47,0,5.85.09,6.58,6.31L40,65.77V50.22l-1.38.55c-.36,3.93-3.38,7.59-6.85,7.59-.19,0-.19-.18-.19-.36V47.57c0-4.11,15.27-12.07,22-12.07,8.6,0,8.14,2.47,10.88,2.47a1.58,1.58,0,0,0,1.37-1.55c0-1.1-1.28-2.2-2.83-7.5-14,0-27.34,11.34-39.78,18.29a11.66,11.66,0,0,1-4.93,1.28c.45-.73,1.55-1.65,1.55-3.48a2.54,2.54,0,0,0-2.47-2.65,3.28,3.28,0,0,0-3.2,3.57c0,2.92,1.74,4.39,3.75,4.66,2.38.27,4.94.55,4.94,4.3v25c0,3.57-.28,7.68-2.93,8-.91,0-1.19-.55-1.19-1.28,0-.55.19-.92.19-1.65a3.22,3.22,0,0,0-3.48-3.29c-2.19,0-3.75,1.28-3.75,4.39C11.73,89.08,13.65,91.83,16.4,91.83Z"/>
    <polygon points="18.54 141.75 14.93 141.75 14.93 137.63 12.29 137.63 12.29 148.15 14.93 148.15 14.93 143.91 18.54 143.91 18.54 148.15 21.18 148.15 21.18 137.63 18.54 137.63 18.54 141.75"/>
    <path d="M25.55,137.63l-3.81,10.51h2.64l.68-2.19h3.6l.68,2.19H32l-3.8-10.51Zm.11,6.31,1.19-3.88h0l1.2,3.88Z"/>
    <path d="M37.38,137.63H32.72v10.51h4.81c2.92,0,4.54-1.86,4.54-5.25S40.31,137.63,37.38,137.63ZM37.11,146H35.37v-6.19h1.74c1.65,0,2.31,1.19,2.31,3.1S38.76,146,37.11,146Z"/>
    <path d="M52.39,142.54v0A2.2,2.2,0,0,0,54,140.28c0-1.8-1.14-2.65-3.34-2.65h-5.1v10.51h5.25c2.18,0,3.6-.86,3.6-3.1A2.32,2.32,0,0,0,52.39,142.54Zm-4.16-2.75h1.82c.74,0,1.32.18,1.32,1.05s-.58,1-1.32,1H48.23ZM50.12,146H48.23V143.5h1.89c1.11,0,1.67.25,1.67,1.23S51.23,146,50.12,146Z"/>
    <polygon points="59.61 141.95 59.58 141.95 57.53 137.63 54.74 137.63 58.27 144.26 58.27 148.15 60.92 148.15 60.92 144.26 64.46 137.63 61.66 137.63 59.61 141.95"/>
    <path d="M70.76,137.63,67,148.14H69.6l.68-2.19h3.6l.68,2.19H77.2l-3.79-10.51Zm.12,6.31,1.19-3.88h0l1.19,3.88Z"/>
    <polygon points="80.58 137.63 77.94 137.63 77.94 148.15 85.26 148.15 85.26 145.98 80.58 145.98 80.58 137.63"/>
    <polygon points="88.89 137.63 86.24 137.63 86.24 148.15 93.56 148.15 93.56 145.98 88.89 145.98 88.89 137.63"/>
</svg>
