{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    {% comment %} viewBox="0 0 159.47 142.79" {% endcomment %}
    viewBox="0 0 160 143"
    style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  >
    <path d="M69.28,22.85c0-2.72-1.41-4.23-3.76-4.23H61.77v8.44h3.86C68,27.06,69.28,25.56,69.28,22.85ZM63.9,25.33v-5h1.4c1.33,0,1.86,1,1.86,2.5s-.53,2.48-1.86,2.48Z"/>
      <path d="M72.22,24.12h1.33c1.8,0,1,2.59,1.45,2.94h2.21V27c-.49-.15.28-3.42-1.83-3.78v0a2,2,0,0,0,1.71-2.06c0-1.6-1.13-2.46-3-2.46h-4v8.44h2.12Zm0-3.77h1.44c.86,0,1.3.31,1.3,1s-.44,1-1.3,1H72.22Z"/>
      <rect x="78.03" y="18.62" width="2.13" height="8.44"/>
      <polygon points="83.44 22.04 83.47 22.04 86.42 27.06 88.55 27.06 88.55 18.62 86.42 18.62 86.42 23.64 86.4 23.64 83.44 18.62 81.32 18.62 81.32 27.06 83.44 27.06 83.44 22.04"/>
      <polygon points="91.83 24.83 92.68 23.86 94.89 27.06 97.37 27.06 94.04 22.34 97.25 18.62 94.77 18.62 91.83 22.04 91.83 18.62 89.7 18.62 89.7 27.06 91.83 27.06 91.83 24.83"/>
      <path d="M64.14,38.42h2.13l.54-1.76H69.7l.55,1.76h2.12L69.32,30H67.2Zm4.11-6.5h0l1,3.12H67.29Z"/>
      <path d="M79.74,32.1c0-1.44-.92-2.13-2.68-2.13H73v8.45h4.22c1.75,0,2.89-.7,2.89-2.5a1.85,1.85,0,0,0-1.64-2v0A1.76,1.76,0,0,0,79.74,32.1Zm-4.65-.39h1.46c.59,0,1.07.14,1.07.84s-.48.83-1.07.83H75.09Zm1.52,5H75.09v-2h1.52c.89,0,1.34.2,1.34,1S77.5,36.68,76.61,36.68Z"/>
      <polygon points="86.77 36.68 83.01 36.68 83.01 29.97 80.89 29.97 80.89 38.41 86.77 38.41 86.77 36.68"/>
      <polygon points="93.96 31.71 93.96 29.97 87.56 29.97 87.56 38.41 94.03 38.41 94.03 36.68 89.69 36.68 89.69 34.94 93.37 34.94 93.37 33.21 89.69 33.21 89.69 31.71 93.96 31.71"/>
      <path d="M138.73,43.82c-2,0-4.95,1.45-7.18,3.68L130,49.06l-2.43,2.42c0-.58.1-1.16.1-1.65,0-3.39-1.84-5.14-5.33-5.14S115,46.61,111.6,50c-.47-3.53-3.67-6.17-7.69-6.17-8.34,0-17.06,5.34-22.65,13.58a12.87,12.87,0,0,0,1.89-6.5c0-4-3.39-7.08-7.76-7.08-7.21,0-14.69,4-20.2,10.4a10.68,10.68,0,0,0-11-9.72c-3.39,0-5.14.68-8.54,3.39l4.27-14.45a27.75,27.75,0,0,0,1-4.18l14.15-2.6L52.16,10.8,11,18.38,13.9,34.24l5.23-1a10.19,10.19,0,0,0-1.64,4.82A2.65,2.65,0,0,0,20.2,41l2.72.09a3.07,3.07,0,0,1,2.52,3.3c0,3.59-2.13,11.45-4.85,18.14a27.43,27.43,0,0,1-3.88,6.89l-1.94,2.42c-2.52,3-3.69,5.63-3.69,8.44,0,4.07,2.14,5.92,6.7,5.92a10.83,10.83,0,0,0,6.3-1.85A9.81,9.81,0,0,0,30,86.21a20.5,20.5,0,0,0,8.63-2.53A36.68,36.68,0,0,0,48,75.2c.9,6.76,5.47,11.49,11.37,11.49S72.15,83.36,77.14,78c1.63,5.25,5.71,8.73,10.76,8.73,6.31,0,13.49-3.68,18.53-9.6l.19-.24a8.43,8.43,0,0,0-.48,2.66c0,3.79,3.2,6.79,7.37,6.79,4.85,0,8.63-4.07,8.63-9.41,0-.38-.1-1.26-.19-2.71a18.42,18.42,0,0,1-.2-2.23c0-5,1.75-9.12,4.76-11.25a2.34,2.34,0,0,1,1.26-.39,1.54,1.54,0,0,1,1,.48l1.45,1.75a4.22,4.22,0,0,0,3.2,1.07c6,0,11.25-5.73,11.25-12.23C144.64,47.12,142.12,43.82,138.73,43.82ZM12.47,19.4l38.67-7.11L53.6,25.64,14.93,32.75ZM35.33,67.58c-2.91,0-4.65-1.16-4.65-3.1,0-2.52,3.39-4.85,7-4.85,2.81,0,4.75,1.36,4.75,3.3C42.41,65.35,38.92,67.58,35.33,67.58Zm27.94-8.53a6,6,0,0,1,3.78-1.46,2.42,2.42,0,0,1,2.62,2c0,2.23-2.81,4.07-5.82,4.07-1.75,0-2.62-.48-2.62-1.55A4.48,4.48,0,0,1,63.27,59.05ZM74,67.19,71.9,68.94c-1.75,1.55-5.24,3.1-7.08,3.1a4,4,0,0,1-4.07-3.2v-.19c0-1,.58-1.26,2.71-1.26h1.17c5.23,0,11.44-3.3,15.32-8,.17-.22.33-.45.49-.67-.41.66-.8,1.33-1.17,2a25.89,25.89,0,0,0-1.92,4.91A7.1,7.1,0,0,0,74,67.19Zm17.75-8.14a6,6,0,0,1,3.79-1.46,2.41,2.41,0,0,1,2.61,2c0,2.23-2.81,4.07-5.82,4.07-1.74,0-2.61-.48-2.61-1.55A4.46,4.46,0,0,1,91.78,59.05Zm18.37,10.86a5.3,5.3,0,0,0,.06-.77,3.43,3.43,0,0,0-3.68-3.59,6.77,6.77,0,0,0-4,1.64l-2.13,1.75c-1.75,1.55-5.24,3.1-7.08,3.1a4,4,0,0,1-4.08-3.2v-.19c0-1,.58-1.26,2.72-1.26h1.16c5.24,0,11.45-3.3,15.33-8,.27-.36.53-.72.78-1.09a5.34,5.34,0,0,0,1.64.89,3,3,0,0,1,2.23,3.3C113.12,64.15,112.37,66,110.15,69.91Z"/>
      <path d="M127,80.79c-.42,0-.76-.15-.76-.54h-.93c0,.82.73,1.3,1.69,1.3s1.46-.46,1.46-1.17-.72-1-1.42-1.21c-.46-.13-.69-.2-.69-.43s.21-.3.49-.3.6.17.64.45h.93c0-.75-.7-1.21-1.57-1.21s-1.43.32-1.43,1.13.56,1,1.2,1.14.92.22.92.52S127.33,80.79,127,80.79Z"/>
      <rect x="128.83" y="77.77" width="0.93" height="3.7"/>
      <polygon points="131.2 79.27 131.21 79.27 132.5 81.47 133.43 81.47 133.43 77.77 132.5 77.77 132.5 79.97 132.49 79.97 131.2 77.77 130.26 77.77 130.26 81.47 131.2 81.47 131.2 79.27"/>
      <path d="M137.24,80.08h-.93c-.06.41-.25.71-.74.71s-.83-.48-.83-1.18.21-1.17.83-1.17.67.3.74.7h.93a1.51,1.51,0,0,0-1.63-1.46,1.94,1.94,0,0,0,0,3.87A1.5,1.5,0,0,0,137.24,80.08Z"/>
      <polygon points="138.5 79.94 140.11 79.94 140.11 79.18 138.5 79.18 138.5 78.53 140.37 78.53 140.37 77.77 137.57 77.77 137.57 81.47 140.4 81.47 140.4 80.71 138.5 80.71 138.5 79.94"/>
      <path d="M127.26,82.69v.62a1,1,0,0,0,.75-.21v2.42h.88V81.94h-.72C128.17,82.33,127.94,82.69,127.26,82.69Z"/>
      <path d="M131.61,83.59h0a.84.84,0,0,0,.52-.75c0-.62-.59-1-1.33-1s-1.32.35-1.32,1a.83.83,0,0,0,.51.75h0a1,1,0,0,0-.67.9c0,.74.66,1.11,1.48,1.11s1.48-.37,1.48-1.11A1,1,0,0,0,131.61,83.59Zm-.81-1.13c.36,0,.55.21.55.44s-.19.45-.55.45-.55-.2-.55-.45S130.44,82.46,130.8,82.46Zm0,2.48a.53.53,0,1,1,.6-.53A.54.54,0,0,1,130.8,84.94Z"/>
      <path d="M133.86,81.86a1.28,1.28,0,0,0-1.41,1.31,1.18,1.18,0,0,0,1.24,1.21,1.15,1.15,0,0,0,.85-.33h0c0,.52-.19.88-.64.88a.42.42,0,0,1-.46-.33h-.88a1.28,1.28,0,0,0,1.33,1c.91,0,1.53-.63,1.53-1.92C135.42,82.75,135,81.86,133.86,81.86Zm0,1.86a.6.6,0,1,1,0-1.2.6.6,0,1,1,0,1.2Z"/>
      <path d="M137.36,83.09a1.22,1.22,0,0,0-.77.25h0l.14-.68h1.66v-.71h-2.26l-.42,2h.83a.69.69,0,0,1,.54-.25.6.6,0,0,1,0,1.19.55.55,0,0,1-.61-.48h-.88c0,.7.54,1.19,1.54,1.19a1.25,1.25,0,0,0,1.39-1.29A1.11,1.11,0,0,0,137.36,83.09Z"/>
      <path d="M146.9,45.67h0a.54.54,0,0,0,.46-.56c0-.42-.31-.65-.81-.65h-1.07v2.27h.57v-.79h.35c.49,0,.28.69.4.79h.59v0C147.26,46.65,147.47,45.77,146.9,45.67Zm-.46-.21h-.39v-.55h.39c.23,0,.35.09.35.28S146.67,45.46,146.44,45.46Z"/>
      <path d="M146.39,43.48a2.12,2.12,0,1,0,2.09,2.11A2.06,2.06,0,0,0,146.39,43.48Zm0,3.79A1.68,1.68,0,1,1,148,45.58,1.52,1.52,0,0,1,146.39,47.27Z"/>
      <path d="M33.59,107c0-2.52-1.86-3.41-3.61-4.11s-2.49-1.25-2.49-2.48a1.61,1.61,0,0,1,1.72-1.68c1.56,0,2.33,1.4,2.33,3.09,0,.33.19.4.4.4h1c.24,0,.4-.09.4-.4V97.66c0-.28-.12-.42-.4-.42H32.2c-.29,0-.35.08-.45.42l-.19.59A3.11,3.11,0,0,0,28.91,97a3.39,3.39,0,0,0-3.54,3.55c0,2.09,1.16,3.3,3.5,4.23,1.93.73,2.58,1.31,2.58,2.45s-.86,1.58-1.91,1.58c-1.86,0-2.58-1.61-2.58-3.42,0-.31-.17-.38-.35-.38H25.39a.35.35,0,0,0-.37.4V110c0,.28.09.42.4.42h.7c.27,0,.35-.09.46-.42l.26-.79a3.78,3.78,0,0,0,3.09,1.44A3.4,3.4,0,0,0,33.59,107Z"/>
      <path d="M36.88,97.43c0-.33-.14-.49-.44-.49H33.78a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.95v10.18h-.95a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.79c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-.69v-4c0-1.5.74-2.35,1.53-2.35s1.26.57,1.26,2v4.31H39a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.61c.28,0,.42-.16.42-.45v-.07a2.12,2.12,0,0,0,1.72.73,2.74,2.74,0,0,0,2.66-1.68,1.92,1.92,0,0,0,2,1.63,2.11,2.11,0,0,0,1.2-.32.39.39,0,0,0,.34.16h3.58c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-.48v-1.93l1.11-1,1.54,3H56a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h4c.28,0,.42-.16.42-.45v-.56a3.45,3.45,0,0,0,2.84,1.22,3.15,3.15,0,0,0,3.47-3.15c0-.3-.16-.39-.4-.39H65.5c-.38,0-.45.19-.52.48a1.51,1.51,0,0,1-1.63,1.34c-1.13,0-1.67-1-1.74-2.75h4.52c.51,0,.74-.19.74-.84a6.77,6.77,0,0,0-.51-2.76.32.32,0,0,0,.14,0H67l2.87,8,0,.07a4,4,0,0,1-1.63,2,1,1,0,0,0,0-.31,1,1,0,0,0-1.1-1,1.07,1.07,0,0,0-1.11,1.15c0,.91.63,1.49,1.72,1.49,2,0,3.35-1.61,4.33-4.38l2.45-7H75c.28,0,.42-.16.42-.46v-.15l.08,0a4.06,4.06,0,0,0,2.76-3.79c0-1.21-.62-1.82-1.48-1.82a1.29,1.29,0,0,0-1.38,1.36A1.16,1.16,0,0,0,76.61,99a.52.52,0,0,0,.18,0,2.58,2.58,0,0,1-1.7,1.88l-.15.09H72a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.67l-1.21,3.71c-.21.62-.39,1.25-.55,1.84-.14-.64-.31-1.33-.52-2l-1.16-3.57h.67c.28,0,.42-.16.42-.46v-.73a.42.42,0,0,0-.42-.44H66.5a.42.42,0,0,0-.42.44V102a3.07,3.07,0,0,0-2.72-1.3c-2.82,0-4,2.31-4,5a6.53,6.53,0,0,0,.63,3h-.85l-2.42-4.38,1.94-1.82h.86c.28,0,.42-.16.42-.46v-.73a.42.42,0,0,0-.42-.44H55.65a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.58c-.19.21-.84.89-1.45,1.5-.25.25-.48.51-.69.74v-7.4c0-.31-.12-.45-.35-.45H51a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.95v10.18h-.52a2.72,2.72,0,0,0,0-.42,13.65,13.65,0,0,0,0-1.79c0-.17-.12-.26-.37-.26h-.61a.29.29,0,0,0-.33.32c0,.26,0,.87,0,1.5s-.15,1-.45,1-.41-.23-.41-1,.14-2.72.14-3.67c0-2.47-.66-3.71-3.13-3.71-2.11,0-3.44,1.19-3.44,2.49,0,.82.4,1.26,1,1.26a1.05,1.05,0,0,0,.69-1.88,3.21,3.21,0,0,1,1.26-.23c.91,0,1.44.41,1.44,1.7v.62c-1.79.21-4.74.89-4.74,3.54a3.1,3.1,0,0,0,.05.54h-.8v-4.63c0-2-.63-3.4-2.65-3.4a2.73,2.73,0,0,0-2.43,1.49,10.4,10.4,0,0,0,.17-1.68Zm26.47,4.85c.89,0,1.28.76,1.33,2.42h-3C61.84,103.16,62.4,102.28,63.35,102.28ZM47.28,106v.4c0,1.7-1,2.63-1.77,2.63-.53,0-.78-.35-.78-1C44.73,106.84,45.68,106.19,47.28,106Z"/>
      <path d="M81,102.21c.83,0,1.53.55,1.62,1.83a.35.35,0,0,0,.4.38h.81a.33.33,0,0,0,.36-.38v-2.75c0-.22-.08-.37-.35-.37h-.59c-.25,0-.32.1-.37.35l-.11.56a2.2,2.2,0,0,0-2.13-1.12,2.62,2.62,0,0,0-2.81,2.68c0,1.87,1.21,2.68,2.63,3.14,1.23.4,1.91.63,1.91,1.47s-.61,1-1.33,1c-1.09,0-1.7-.67-1.75-2,0-.33-.18-.45-.39-.45H78a.34.34,0,0,0-.37.38V110a.32.32,0,0,0,.36.37h.56c.24,0,.35-.1.4-.35l.14-.59a2.53,2.53,0,0,0,2.3,1.15,2.71,2.71,0,0,0,3-2.78c0-1.9-1.25-2.62-2.72-3.07s-1.86-.76-1.86-1.51S80.31,102.21,81,102.21Z"/>
      <path d="M86.15,108.75a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h8.23a.43.43,0,0,0,.24-.06.45.45,0,0,0,.24.06h4c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44H98v-7.39c0-.3-.14-.44-.39-.44H94.86a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.94v6.2h-1v-2.62c0-.28-.16-.42-.46-.42H93.31a.41.41,0,0,0-.43.42v2.61H89.39V98.87h1.33c.28,0,.42-.16.42-.46v-.74a.41.41,0,0,0-.42-.43H86.16a.41.41,0,0,0-.42.43v.74c0,.3.14.46.42.46h1v9.88Z"/>
      <path d="M98.15,98.25a1.37,1.37,0,0,0-1.38-1.36,1.34,1.34,0,0,0-1.35,1.36,1.32,1.32,0,0,0,1.35,1.37A1.35,1.35,0,0,0,98.15,98.25Z"/>
      <path d="M109.26,100.92h-2.49a.41.41,0,0,0-.39.27c0-.2-.17-.27-.43-.27h-.42c-.33,0-.46.07-.56.37l-.35,1a2.37,2.37,0,0,0-2.4-1.61c-1.44,0-3.58,1.24-3.58,4.92s1.65,4.93,3.23,4.93a2.57,2.57,0,0,0,2.42-1.35v2.91h-1.44a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46H107c.28,0,.42-.16.42-.46v-.73a.42.42,0,0,0-.42-.44h-.59v-9.78a.37.37,0,0,0,.36.21h.74v4.84c0,2,.88,3.2,2.63,3.2A2.62,2.62,0,0,0,112.8,109l.09.93c0,.3.18.44.46.44h2a.4.4,0,0,0,.43-.45v-.74a.43.43,0,0,0-.43-.44h-.73v-7.36c0-.26-.09-.47-.44-.47h-2.8a.43.43,0,0,0-.43.44v.73c0,.3.15.46.43.46h1.08v3.5c0,2.19-.73,2.89-1.56,2.89s-1.24-.52-1.24-2v-5.6C109.65,101.09,109.51,100.92,109.26,100.92Zm-6.76,8c-1,0-1.58-1.07-1.58-3.37s.79-3.26,1.82-3.26,1.56,1.07,1.56,3.26S103.6,108.91,102.5,108.91Z"/>
      <path d="M119.36,110.59c1.86,0,3.94-1.14,3.94-5,0-3.68-1.89-4.85-3.94-4.85-1.83,0-4,1.31-4,4.85C115.36,109.54,117.29,110.59,119.36,110.59Zm0-8.27c1.15,0,1.66,1.21,1.66,3.28s-.4,3.33-1.66,3.33-1.72-1.3-1.72-3.33S118.2,102.32,119.36,102.32Z"/>
      <path d="M128.58,100.71a2.69,2.69,0,0,0-2.44,2.19l-.09-1.54c0-.3-.17-.44-.44-.44h-2.29a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h1v6.2h-1a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h4.61c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-1.51v-2.84c0-1.68.61-3.1,1.4-3.49a1,1,0,0,0,1,.9,1.13,1.13,0,0,0,1.12-1.25A1.27,1.27,0,0,0,128.58,100.71Z"/>
      <path d="M35.18,124.34a3.11,3.11,0,0,0,2.17.79,2.63,2.63,0,0,0,2.59-1.75.46.46,0,0,0-.19-.63l-.7-.35a.35.35,0,0,0-.53.16,1.21,1.21,0,0,1-1.12.84,1.27,1.27,0,0,1-.77-.27,7.23,7.23,0,0,0,1.47-4h1.46c.28,0,.42-.16.42-.46v-.77a.39.39,0,0,0-.42-.43H35.42a.41.41,0,0,0-.42.43v.77c0,.3.14.46.42.46h1.1a5.64,5.64,0,0,1-1,2.72L33,118.23a4.45,4.45,0,0,0,2.44-3.81c0-1.78-1.07-2.85-3-2.85s-3.23,1.12-3.23,3a6.31,6.31,0,0,0,1.37,3.57,4.42,4.42,0,0,0-2.44,3.81c0,2.4,1.76,3.2,3.68,3.2A6.85,6.85,0,0,0,35.18,124.34Zm-2.83-11.28c.74,0,1.09.59,1.09,1.45a3.36,3.36,0,0,1-1.16,2.67,4.93,4.93,0,0,1-1.12-2.6C31.16,113.7,31.56,113.06,32.35,113.06Zm-2.24,8.69a3.29,3.29,0,0,1,1.24-2.45l2.35,3.34q.16.21.3.42a4.52,4.52,0,0,1-2,.41C30.74,123.47,30.11,122.85,30.11,121.75Z"/>
      <path d="M46.48,125.13a4.13,4.13,0,0,0,4.36-3.84c.36,3,2.08,3.84,3.93,3.84s3.94-1.14,3.94-5c0-3.68-1.89-4.85-3.94-4.85-1.81,0-4,1.29-4,4.75a.42.42,0,0,0-.31-.11h-.89c-.26,0-.4.14-.42.44-.12,1.82-.89,3-2.59,3s-2.63-1.93-2.63-5.18c0-3.55,1.19-4.9,2.75-4.9s2.45,1.47,2.45,3c0,.35.18.46.41.46h1c.21,0,.35-.25.35-.44v-4.1c0-.28-.1-.42-.4-.42h-.65c-.28,0-.42,0-.51.36l-.24.83a2.72,2.72,0,0,0-2.51-1.4c-3.12,0-5,2.45-5,6.59C41.61,122.54,43.11,125.13,46.48,125.13Zm8.29-8.27c1.15,0,1.66,1.21,1.66,3.28s-.4,3.33-1.66,3.33-1.72-1.3-1.72-3.33S53.61,116.86,54.77,116.86Z"/>
      <path d="M62.5,123.29h-.67v-3.92c0-1.53.6-2.39,1.53-2.39s1.29.55,1.29,2v4.36H64a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.68c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-.88v-4.77a5.48,5.48,0,0,0-.2-1.54.42.42,0,0,0,.31.11h.61l2.5,7.32a.62.62,0,0,0,.67.51h1.14a.55.55,0,0,0,.6-.42L75,117.09h.73a6.39,6.39,0,0,0-.76,3.2c0,3,1.28,4.85,3.85,4.85A3.14,3.14,0,0,0,82.28,122c0-.3-.15-.39-.4-.39h-.75c-.39,0-.46.19-.53.48A1.5,1.5,0,0,1,79,123.41c-1.12,0-1.66-1-1.73-2.75h4.52c.51,0,.73-.19.73-.84,0-2.66-1-4.57-3.5-4.57a3.56,3.56,0,0,0-2.89,1.29v-.64a.42.42,0,0,0-.42-.44H72.43a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46H73l-1.31,4.36c-.11.35-.25,1-.37,1.56-.11-.59-.28-1.3-.41-1.73l-1.17-4.19h.72c.28,0,.42-.16.42-.46v-.73a.42.42,0,0,0-.42-.44H66.9a.42.42,0,0,0-.43.44v.73h0a2.28,2.28,0,0,0-2.32-1.39,2.65,2.65,0,0,0-2.66,1.86L61.39,116c0-.33-.14-.49-.44-.49H58.73a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h.94v6.2h-.94a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45H62.5c.28,0,.42-.16.42-.45v-.74A.42.42,0,0,0,62.5,123.29ZM79,116.82c.89,0,1.28.76,1.33,2.42h-3C77.46,117.7,78,116.82,79,116.82Z"/>
      <path d="M92.55,112.79a1.32,1.32,0,0,0,1.35,1.37,1.35,1.35,0,0,0,1.39-1.37,1.37,1.37,0,0,0-1.39-1.36A1.34,1.34,0,0,0,92.55,112.79Z"/>
      <path d="M96,123.29h-.93V115.9c0-.3-.14-.44-.38-.44H92a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h1v6.2H92a.47.47,0,0,0-.21.06.43.43,0,0,0-.21-.06H90.7v-4.77c0-2-.72-3.27-2.63-3.27a2.67,2.67,0,0,0-2.67,1.86L85.3,116c0-.33-.14-.49-.44-.49H82.63a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h1v6.2h-1a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45H86.4c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-.66v-3.92c0-1.53.59-2.39,1.52-2.39s1.3.55,1.3,2v4.36h-.67a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.68a.6.6,0,0,0,.21,0,.65.65,0,0,0,.21,0h4c.28,0,.42-.16.42-.45v-.74A.42.42,0,0,0,96,123.29Z"/>
      <path d="M103.12,122c0-.3-.16-.39-.4-.39H102c-.38,0-.45.19-.52.48a1.51,1.51,0,0,1-1.63,1.34c-1.12,0-1.67-1-1.74-2.75h4.52c.51,0,.74-.19.74-.84,0-2.66-1-4.57-3.5-4.57-2.83,0-4,2.31-4,5,0,3,1.28,4.85,3.86,4.85A3.14,3.14,0,0,0,103.12,122Zm-3.31-5.16c.89,0,1.28.76,1.33,2.42h-3C98.3,117.7,98.86,116.82,99.81,116.82Z"/>
      <path d="M112.41,123.29h-.88v-4.77c0-2-.72-3.27-2.63-3.27a2.66,2.66,0,0,0-2.66,1.86l-.11-1.16c0-.33-.14-.49-.43-.49h-2.23a.42.42,0,0,0-.42.44v.73c0,.3.14.46.42.46h1v6.2h-1a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.77c.28,0,.42-.16.42-.45v-.74a.42.42,0,0,0-.42-.44h-.67v-3.92c0-1.53.6-2.39,1.53-2.39s1.29.55,1.29,2v4.36h-.66a.42.42,0,0,0-.42.44v.74c0,.29.14.45.42.45h3.68c.28,0,.42-.16.42-.45v-.74A.42.42,0,0,0,112.41,123.29Z"/>
      <path d="M123.2,115.25c-2.82,0-4,2.31-4,5a9.08,9.08,0,0,0,.06,1.07.67.67,0,0,0-.3-.06h-.65c-.33,0-.47.09-.53.44-.22,1.33-.8,1.72-1.64,1.72-1.07,0-1.62-1.09-1.62-3.23,0-2,.48-3.36,1.77-3.36a2,2,0,0,1,1.25.33,1.28,1.28,0,0,0-.61,1.09,1.12,1.12,0,0,0,1.2,1.19c.67,0,1.3-.4,1.3-1.51a2.87,2.87,0,0,0-3.15-2.71c-2.39,0-4.07,1.82-4.07,5s1.32,4.89,3.75,4.89a3.27,3.27,0,0,0,3.45-3,3.49,3.49,0,0,0,3.65,3A3.14,3.14,0,0,0,126.5,122c0-.3-.16-.39-.4-.39h-.76c-.38,0-.45.19-.52.48a1.51,1.51,0,0,1-1.63,1.34c-1.13,0-1.67-1-1.74-2.75H126c.51,0,.74-.19.74-.84C126.71,117.16,125.75,115.25,123.2,115.25Zm-1.7,4c.18-1.54.74-2.42,1.69-2.42s1.28.76,1.33,2.42Z"/>
      <path d="M33.51,128.27a1.86,1.86,0,1,0,1.76,1.86A1.7,1.7,0,0,0,33.51,128.27Zm0,3c-.66,0-.87-.51-.87-1.13s.21-1.13.87-1.13.86.51.86,1.13S34.16,131.26,33.51,131.26Z"/>
      <path d="M37.34,128.35H35.61v3.56h.9v-1.29h.83a1.14,1.14,0,1,0,0-2.27Zm-.19,1.54h-.64v-.81h.64c.31,0,.5.11.5.4S37.46,129.89,37.15,129.89Z"/>
      <polygon points="39.76 130.45 41.31 130.45 41.31 129.71 39.76 129.71 39.76 129.08 41.56 129.08 41.56 128.35 38.86 128.35 38.86 131.91 41.59 131.91 41.59 131.18 39.76 131.18 39.76 130.45"/>
      <polygon points="44.14 130.47 44.13 130.47 42.88 128.35 41.99 128.35 41.99 131.91 42.88 131.91 42.88 129.79 42.89 129.79 44.14 131.91 45.03 131.91 45.03 128.35 44.14 128.35 44.14 130.47"/>
      <polygon points="47.27 130.45 48.82 130.45 48.82 129.71 47.27 129.71 47.27 129.08 49.07 129.08 49.07 128.35 46.37 128.35 46.37 131.91 49.1 131.91 49.1 131.18 47.27 131.18 47.27 130.45"/>
      <polygon points="50.88 130.84 50.87 130.84 50.19 128.35 49.24 128.35 50.4 131.91 51.34 131.91 52.5 128.35 51.55 128.35 50.88 130.84"/>
      <polygon points="53.63 130.45 55.19 130.45 55.19 129.71 53.63 129.71 53.63 129.08 55.44 129.08 55.44 128.35 52.74 128.35 52.74 131.91 55.47 131.91 55.47 131.18 53.63 131.18 53.63 130.45"/>
      <path d="M58.09,130.27h0a.85.85,0,0,0,.72-.88c0-.67-.47-1-1.27-1H55.86v3.56h.9v-1.24h.56c.76,0,.44,1.09.61,1.24h.93v0C58.66,131.8,59,130.42,58.09,130.27Zm-.72-.33h-.61v-.86h.61c.36,0,.55.13.55.43S57.73,129.94,57.37,129.94Z"/>
      <polygon points="60.49 129.81 60.48 129.81 59.79 128.35 58.84 128.35 60.04 130.59 60.04 131.91 60.93 131.91 60.93 130.59 62.13 128.35 61.19 128.35 60.49 129.81"/>
      <path d="M64.81,128.35H63.23v3.56h1.63c1,0,1.54-.63,1.54-1.78S65.8,128.35,64.81,128.35Zm-.09,2.83h-.59v-2.1h.59c.56,0,.78.4.78,1S65.28,131.18,64.72,131.18Z"/>
      <path d="M67.56,128.35l-1.29,3.56h.89l.23-.74h1.22l.23.74h.9l-1.29-3.56Zm0,2.14.4-1.32h0l.4,1.32Z"/>
      <polygon points="70.9 129.81 70.89 129.81 70.2 128.35 69.25 128.35 70.44 130.59 70.44 131.91 71.34 131.91 71.34 130.59 72.54 128.35 71.6 128.35 70.9 129.81"/>
      <path d="M73.52,129.19v.59a1,1,0,0,0,.73-.2v2.33h.85v-3.44h-.7C74.4,128.84,74.17,129.19,73.52,129.19Z"/>
      <path d="M75.54,129.19v.59a1,1,0,0,0,.73-.2v2.33h.85v-3.44h-.7C76.42,128.84,76.2,129.19,75.54,129.19Z"/>
      <path d="M78,131.11a.43.43,0,0,0,0,.85.43.43,0,1,0,0-.85Z"/>
      <path d="M78,129.56a.41.41,0,0,0-.42.43.4.4,0,0,0,.42.42.41.41,0,0,0,.43-.42A.41.41,0,0,0,78,129.56Z"/>
      <path d="M80.9,130.1h0a.83.83,0,0,0,.5-.75c0-.61-.59-1-1.23-1-.88,0-1.37.48-1.37,1.13h.8c0-.32.24-.45.51-.45s.44.11.44.4-.18.38-.55.38h-.15v.59H80c.4,0,.63.12.63.45s-.17.42-.52.42-.63-.22-.63-.61h-.8c0,.82.51,1.29,1.48,1.29.77,0,1.32-.37,1.32-1.05A.78.78,0,0,0,80.9,130.1Z"/>
      <path d="M83.24,128.39c-1,0-1.51.83-1.51,1.8s.48,1.8,1.51,1.8,1.51-.82,1.51-1.8S84.27,128.39,83.24,128.39Zm0,2.92c-.5,0-.67-.44-.67-1.12s.17-1.12.67-1.12.67.44.67,1.12S83.75,131.31,83.24,131.31Z"/>
      <path d="M87,128.35l-1.29,3.56h.89l.23-.74h1.22l.23.74h.9l-1.29-3.56Zm0,2.14.4-1.32h0l.4,1.32Z"/>
      <circle cx="89.86" cy="131.53" r="0.42"/>
      <polygon points="92.53 130.62 92.52 130.62 91.79 128.35 90.69 128.35 90.69 131.91 91.54 131.91 91.54 129.69 91.55 129.69 92.21 131.91 92.84 131.91 93.5 129.69 93.51 129.69 93.51 131.91 94.36 131.91 94.36 128.35 93.26 128.35 92.53 130.62"/>
      <circle cx="95.23" cy="131.53" r="0.42"/>
      <rect x="96.66" y="130.31" width="2.49" height="0.68"/>
      <path d="M100.13,129.19v.59a.94.94,0,0,0,.72-.2v2.33h.85v-3.44H101C101,128.84,100.78,129.19,100.13,129.19Z"/>
      <path d="M103.65,128.39c-1,0-1.51.83-1.51,1.8s.48,1.8,1.51,1.8,1.51-.82,1.51-1.8S104.68,128.39,103.65,128.39Zm0,2.92c-.5,0-.66-.44-.66-1.12s.16-1.12.66-1.12.67.44.67,1.12S104.16,131.31,103.65,131.31Z"/>
      <path d="M105.92,129.56a.41.41,0,0,0-.42.43.4.4,0,0,0,.42.42.41.41,0,0,0,.43-.42A.41.41,0,0,0,105.92,129.56Z"/>
      <path d="M105.92,131.11a.43.43,0,0,0,0,.85.43.43,0,1,0,0-.85Z"/>
      <path d="M109.08,128.47h-.85l-1.55,1.88v.83h1.55v.73h.85v-.73h.51v-.68h-.51Zm-.85,2h-.93l.93-1.11Z"/>
      <path d="M111.42,129.57a1.16,1.16,0,0,0-.74.25h0l.13-.66h1.6v-.68h-2.17l-.4,1.94h.79a.66.66,0,0,1,.53-.25.58.58,0,0,1,0,1.15.54.54,0,0,1-.59-.47h-.84c0,.68.52,1.15,1.48,1.15a1.21,1.21,0,0,0,1.34-1.25A1.08,1.08,0,0,0,111.42,129.57Z"/>
      <path d="M115.49,128.35h-1.72v3.56h.89v-1.29h.83a1.14,1.14,0,1,0,0-2.27Zm-.18,1.54h-.65v-.81h.65c.3,0,.49.11.49.4S115.61,129.89,115.31,129.89Z"/>
      <path d="M116.93,131.11a.43.43,0,1,0,.42.42A.41.41,0,0,0,116.93,131.11Z"/>
      <polygon points="119.59 130.62 119.58 130.62 118.85 128.35 117.75 128.35 117.75 131.91 118.6 131.91 118.6 129.69 118.61 129.69 119.27 131.91 119.9 131.91 120.56 129.69 120.57 129.69 120.57 131.91 121.42 131.91 121.42 128.35 120.33 128.35 119.59 130.62"/>
      <path d="M122.3,131.11a.43.43,0,1,0,.42.42A.41.41,0,0,0,122.3,131.11Z"/>
      <path d="M20.7,24.53,21,26l1.53-.28a1.49,1.49,0,0,1-1.37,1.64c-1.4.25-2.1-.69-2.38-2.21s0-2.64,1.37-2.88a1.53,1.53,0,0,1,1.85.89l2-.37a3.38,3.38,0,0,0-4.15-2.18c-2.54.46-3.57,2.49-3.13,4.91s2.14,4,4.43,3.54a2.42,2.42,0,0,0,2.09-1.63h0l.39,1,1.45-.27-.79-4.28Z"/>
      <path d="M28.22,19.06c-2.55.47-3.65,2.51-3.21,4.93s2.21,4,4.76,3.48S33.43,25,33,22.52,30.76,18.59,28.22,19.06Zm1.25,6.75C28,26.08,27.3,25,27,23.62s0-2.64,1.49-2.91S30.7,21.5,31,22.9,30.93,25.54,29.47,25.81Z"/>
      <path d="M36.65,17.51C34.09,18,33,20,33.43,22.44s2.21,3.95,4.76,3.48,3.66-2.51,3.21-5S39.18,17,36.65,17.51Zm1.24,6.75c-1.48.27-2.17-.78-2.43-2.19s0-2.64,1.49-2.91,2.17.79,2.43,2.19S39.35,24,37.89,24.26Z"/>
      <path d="M45,16.16l-3.57.65,1.48,8.05,3.68-.68c2.24-.41,3.22-2.07,2.74-4.65S47.25,15.74,45,16.16Zm1,6.43-1.34.24-.87-4.74,1.34-.24c1.26-.23,1.94.58,2.21,2S47.25,22.36,46,22.59Z"/>
 </svg>
{% if url %}</a>{% endif %}
