{% assign fill = fill | default: 'black' %}

<?xml version='1.0' encoding='utf-8'?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 110.18" style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'>
  <path d="M7.51,35.33c1.4.07,5.12-6.11,10-8A13.54,13.54,0,0,1,24,26.25a15,15,0,0,1,3,.36c.07-1.19-3.58-3.78-8.53-4.45-7-.38-11.63,4.75-12.27,9.1-.1,1.79.05,2.8.8,3.64Z"/>
    <path d="M31.79,21.89c.4,0,.6-.17.61-.37C32.92,12,25.93,1.22,18.22,0a1.58,1.58,0,0,0-1.87,1.3C15.66,14,27.05,21,31.79,21.89Z"/>
    <path d="M43.47,12.55c4.35-3,11.5-2.36,12-4.53-1-2.65-3.39-3.58-5.78-3.71C42.14,3.9,37.22,10,36.85,16.78c-.08,1.59.24,3,.62,3.23C39.25,16.71,40.78,14.2,43.47,12.55Z"/>
    <path d="M50.12,97.24c-4.39,2.89-11.53,2.19-12.08,4.35,1,2.67,3.34,3.63,5.72,3.8,7.55.52,12.57-5.52,13-12.27.11-1.59-.19-3-.58-3.24C54.4,93.15,52.83,95.63,50.12,97.24Z"/>
    <path d="M86.41,75c-1.39-.1-5.21,6-10.13,7.88a13.51,13.51,0,0,1-6.46,1,15,15,0,0,1-3-.41c-.09,1.2,3.52,3.84,8.46,4.59,7,.48,11.7-4.58,12.4-8.93.13-1.78,0-2.79-.74-3.64Z"/>
    <path d="M61.94,88.08c-.4,0-.61.16-.62.36-.67,9.54,6.16,20.39,13.86,21.73a1.56,1.56,0,0,0,1.88-1.27C78,96.19,66.67,89,61.94,88.08Z"/>
    <path d="M13.5,41.32A43.67,43.67,0,0,1,0,43.19V104a44.28,44.28,0,0,0,13.5-1.87C22.5,99.7,27,92.7,27,83.69V75.26c0-4.25-1.09-6.53-3.29-7,2.2-2,3.29-5.37,3.29-9.93V49.94C27,40.94,22.5,39,13.5,41.32Zm3.38,46.27A4.15,4.15,0,0,1,13.5,92c-1.35.36-2,.52-3.37.79V77.56c1.35-.28,2-.44,3.37-.8,2.25-.59,3.38.15,3.38,2.4Zm0-25.31a4.16,4.16,0,0,1-3.38,4.36c-1.35.35-2,.51-3.37.79V52.24c1.35-.28,2-.44,3.37-.79,2.25-.6,3.38.14,3.38,2.39Z"/>
    <path d="M46.84,26.14V73.4a5.8,5.8,0,0,1-3.38,5.26c-2.25,1.25-3.37.73-3.37-1.52V29.89C36,32.09,34,33.16,30,35.08V82.33c0,9,4.5,11.46,13.5,6.46S57,76.71,57,67.71V20.45C52.91,22.69,50.89,23.86,46.84,26.14Z"/>
    <path d="M68.36,75.21a103.71,103.71,0,0,1,10.13-4.45V20.13a65.5,65.5,0,0,1,8.43-2.72V7.29c-9.24,2.37-18.74,6.82-27,11.54V29c3.38-1.83,5.06-2.72,8.44-4.37Z"/>
    <path d="M100,49.41V5.52A42.08,42.08,0,0,0,89.87,6.61V50.49A41.57,41.57,0,0,1,100,49.41Z"/>
    <path d="M89.87,67.36A42.07,42.07,0,0,1,100,66.28V56.16a41.57,41.57,0,0,0-10.13,1.08Z"/>
</svg>
