{% assign fill_colour = fill_colour | default: 'cream' %}
{% assign stroke_colour = stroke_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.24 22.07">
  <path data-fill style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M5.7,6.78c3.25,6.07,10.13,9.13,14.54,11V11.9A41.55,41.55,0,0,1,5.7,6.78Z" />
  <path data-stroke style='fill: rgba( var(--theme-colour-{{ stroke_colour }}), 1);' d="M3.32.45A2,2,0,0,0,1.08.28a2,2,0,0,0-1,2c1.74,12.17,13.56,17,19.24,19.39l.91.37V17.73C15.83,15.91,9,12.85,5.7,6.78A41.55,41.55,0,0,0,20.24,11.9v-4C11,6.43,3.4.51,3.32.45Z" />
</svg>
