{% assign background = background | default: 'green' %}
{% assign fill = fill | default: 'black' %}
{% assign url = url | default: false %}

{% if url %}<a href='{{ url }}'>{% endif %}
  <?xml version='1.0' encoding='utf-8'?>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px"
	  {% comment %}viewBox="0 0 159.5 65.2" {% endcomment %}
    viewBox="0 0 160 65"
    xml:space="preserve"
    style='fill: rgba( var(--theme-colour-{{ fill }}), 1 );'
  >
    <g>
	    <polygon points="72.4,42.7 75.1,42.7 73.7,38.4 	"/>
	    <path d="M115.5,36.6c-1,0-1.7,0.5-2.2,1.6c-0.4,0.9-0.5,2-0.5,3.4c0,1.4,0.2,2.5,0.5,3.3c0.4,1.1,1.1,1.6,2.1,1.6
		    c1,0,1.7-0.5,2.1-1.6c0.3-0.8,0.5-2,0.5-3.4c0-1.8-0.3-3.1-0.8-3.9C116.8,36.9,116.2,36.6,115.5,36.6z"/>
	    <path d="M64.6,37.3c-0.4-0.3-0.9-0.5-1.6-0.5c-0.3,0-0.6,0-0.9,0c0,0-0.1,0-0.1,0v4H63c0.7,0,1.3-0.2,1.6-0.5
		    c0.4-0.4,0.7-1,0.7-1.9C65.3,38,65.1,37.6,64.6,37.3z"/>
	    <path d="M126.5,37.3c-0.4-0.3-0.9-0.5-1.6-0.5c-0.3,0-0.6,0-0.9,0c0,0-0.1,0-0.1,0v4h0.9c0.7,0,1.3-0.2,1.6-0.5
		    c0.4-0.4,0.7-1,0.7-1.9C127.1,38,126.9,37.6,126.5,37.3z"/>
	    <polygon points="50.3,21.7 48.6,26.8 51.9,26.8 	"/>
	    <path d="M143.2,9.9h-127c0,4.1-3.4,7.5-7.5,7.5v30.3c4.1,0,7.5,3.4,7.5,7.5h127c0-4.1,3.4-7.5,7.5-7.5V17.4
		    C146.6,17.4,143.2,14.1,143.2,9.9z M107.7,18.5c0-0.1,0.1-0.3,0.3-0.3h4.6c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.2-0.2,0.3
		    l-0.7,0.1l2.4,8.8l1.9-6.8l-0.8-2.6c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.2-0.1l2.5-0.6c0.1,0,0.3,0,0.3,0.2l2.8,10.1l2.1-7.5
		    c0-0.2,0.1-0.3,0.1-0.4c0-0.1,0-0.1,0-0.2c0-0.3-0.1-0.5-0.3-0.6c-0.1,0-0.2-0.1-0.5-0.2c-0.1,0-0.2,0-0.4-0.1
		    c-0.1,0-0.2-0.1-0.2-0.2v-0.7c0-0.1,0.1-0.3,0.3-0.3h3.9c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.3-0.3,0.3c-0.1,0-0.2,0-0.2,0.1
		    c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.1-0.3,0.2-0.5,0.4c-0.1,0.2-0.2,0.4-0.3,0.7L121.8,31l0.5,1.1c0,0.1,0,0.2,0,0.2
		    c0,0.1-0.1,0.1-0.2,0.1l-2.8,0.2c-0.1,0-0.2-0.1-0.3-0.2l-2.3-8.2l-1.9,6.6l0.5,1.3c0,0.1,0,0.2,0,0.2c0,0.1-0.1,0.1-0.2,0.1
		    l-2.8,0.2c0,0,0,0,0,0c-0.1,0-0.2-0.1-0.2-0.2l-3.5-12.8l-0.8-0.1c-0.1,0-0.2-0.1-0.2-0.3V18.5z M97.6,20.3
		    c1.3-1.5,2.8-2.3,4.7-2.3c1.9,0,3.4,0.8,4.7,2.3c1.1,1.4,1.7,3.1,1.7,5.1c0,2-0.6,3.7-1.8,5.1c-1.3,1.5-2.9,2.3-4.8,2.3
		    c-1.8,0-3.3-0.8-4.6-2.3c-1.2-1.4-1.7-3.1-1.7-5.1C95.8,23.4,96.4,21.7,97.6,20.3z M84.2,18.2c0-0.1,0.1-0.1,0.1-0.2
		    c0.1,0,0.1,0,0.2,0c0.3,0.1,0.6,0.1,0.8,0.2c0.2,0,0.4,0,0.6,0h7.3c0.1,0,0.3,0,0.5-0.1c0.2,0,0.3,0,0.3,0c0.2,0,0.4-0.1,0.5-0.1
		    c0.1,0,0.3,0.1,0.3,0.2l0.8,4.1c0,0.1-0.1,0.3-0.2,0.3l-0.7,0.1c-0.1,0-0.3,0-0.3-0.2c-0.1-0.2-0.2-0.5-0.4-0.9
		    c-0.2-0.4-0.4-0.7-0.6-0.9c-0.4-0.5-0.8-0.8-1.1-1c-0.4-0.3-0.8-0.4-1.2-0.4H91v11.7l1,0.1c0.1,0,0.2,0.1,0.2,0.3v0.7
		    c0,0.1-0.1,0.3-0.3,0.3h-5c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0.1-0.2,0.2-0.3l1-0.1V19.4h-0.3c-0.5,0-1,0.2-1.4,0.6
		    c-0.1,0.1-0.4,0.4-0.8,0.8c-0.2,0.3-0.5,0.7-0.7,1.1c-0.2,0.5-0.3,0.7-0.3,0.8c0,0.1-0.1,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0
		    l-0.7-0.2c-0.1,0-0.2-0.2-0.2-0.3L84.2,18.2z M71.6,31.5c0-0.1,0.1-0.2,0.2-0.3l0.9-0.1V19.5l-0.9-0.1c-0.1,0-0.2-0.1-0.2-0.3v-0.7
		    c0-0.1,0.1-0.3,0.3-0.3h8.6c0.2,0,0.4,0,0.5,0c0.2-0.1,0.4-0.1,0.6-0.2c0.1,0,0.3,0.1,0.3,0.2l1,3.9c0,0.1,0,0.3-0.2,0.3l-0.7,0.2
		    c-0.1,0-0.3,0-0.3-0.2c0-0.1-0.1-0.3-0.4-0.8c-0.3-0.5-0.6-0.9-0.9-1.2c-0.4-0.4-0.9-0.6-1.3-0.8c-0.4-0.2-0.9-0.3-1.4-0.3h-1.7
		    v4.9h1c0.5,0,0.9-0.2,1.2-0.6c0.1-0.1,0.2-0.3,0.3-0.7c0-0.1,0.1-0.3,0.1-0.5c0-0.1,0.1-0.2,0.2-0.2h0.7c0.1,0,0.3,0.1,0.3,0.3v5.1
		    c0,0.1-0.1,0.3-0.3,0.3h-0.7c-0.1,0-0.2-0.1-0.3-0.2c0-0.2,0-0.4-0.1-0.5c-0.1-0.3-0.2-0.6-0.3-0.8c-0.4-0.5-0.8-0.7-1.4-0.7h-0.8
		    v5.6h1.7c0.5,0,1-0.1,1.4-0.2c0.4-0.1,0.8-0.4,1.3-0.7c0.3-0.2,0.6-0.6,0.9-1c0.6-0.8,0.7-1.2,0.8-1.4c0-0.1,0.1-0.1,0.1-0.2
		    c0.1,0,0.1,0,0.2,0l0.7,0.2c0.1,0,0.2,0.2,0.2,0.3l-1,4.4c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0
		    c-0.1,0-0.2-0.1-0.4-0.1c-0.2-0.1-0.4-0.1-0.5-0.1c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0h-8c-0.1,0-0.3-0.1-0.3-0.3V31.5z
		     M44.3,31.5c0-0.1,0.1-0.2,0.2-0.3c0.3,0,0.6-0.1,0.8-0.3c0.3-0.2,0.4-0.3,0.5-0.5c0.1-0.2,0.2-0.4,0.3-0.7l3.3-10.1l-0.4-1
		    c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.1,0.2-0.1l2.6-0.2c0.1,0,0.2,0.1,0.3,0.2l4.4,12.9l0.7,0.1c0.1,0,0.2,0.1,0.2,0.3v0.7
		    c0,0.1-0.1,0.3-0.3,0.3h-4.7c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0.1-0.2,0.2-0.3l0.9-0.1l-1-3h-4.2l-0.5,1.7
		    c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.1,0,0.3,0.1,0.4c0,0.1,0.1,0.2,0.2,0.2c0.1,0,0.2,0.1,0.7,0.2c0,0,0.1,0,0.3,0
		    c0.1,0,0.2,0.1,0.2,0.2v0.7c0,0.1-0.1,0.3-0.3,0.3h-4.1c-0.1,0-0.3-0.1-0.3-0.3V31.5z M19.6,28l0.8-0.2c0.1,0,0.2,0,0.3,0.1
		    l0.2,0.5c0.5,1,1.2,1.7,1.9,2.2c0.7,0.6,1.5,0.9,2.4,0.9c0.7,0,1.3-0.2,1.7-0.5c0.5-0.4,0.7-0.9,0.7-1.5c0-0.6-0.2-1-0.6-1.4
		    c-0.4-0.3-0.9-0.6-1.6-0.9l-1.8-0.7c-1.2-0.4-2.1-1-2.7-1.6c-0.7-0.8-1.1-1.8-1.1-3c0-1.1,0.3-2,1-2.7c0.8-0.8,1.8-1.2,3-1.2h0.3
		    c0.4,0,0.9,0.1,1.4,0.2c0.3,0.1,0.6,0.2,1,0.3c0,0,0.1,0,0.4-0.1c0.3-0.1,0.5-0.3,0.7-0.4c0.1,0,0.2-0.1,0.2,0
		    c0.1,0,0.1,0.1,0.2,0.2l1,4.1c0,0.1,0,0.3-0.2,0.3l-0.8,0.2c-0.1,0-0.3,0-0.3-0.1l-0.2-0.4c-0.5-0.9-1-1.6-1.5-2
		    c-0.6-0.6-1.3-0.8-2.1-0.8c-0.6,0-1.1,0.2-1.5,0.5C22.2,20.1,22,20.5,22,21c0,0.6,0.2,1.1,0.7,1.4c0.4,0.3,0.9,0.6,1.7,0.9l2.1,0.8
		    c1.1,0.4,1.9,0.9,2.5,1.5c0.7,0.7,1,1.7,1,2.7c0,1.2-0.4,2.3-1.3,3.1c-0.9,0.9-2.2,1.3-3.6,1.3c-0.5,0-1.2-0.1-2.2-0.4
		    c-0.6-0.2-0.7-0.2-0.7-0.2c-0.4,0.1-0.8,0.2-1.3,0.4c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2l-0.9-4.2
		    C19.4,28.1,19.5,28,19.6,28z M29.1,43.1l-0.6,0.1v2.4l0,0.4l0,0.4c0,0,0,0.1,0,0.1c0,0-0.1,0-0.1,0c-0.2,0-0.3-0.1-0.3-0.1l-0.2,0
		    c-0.1,0-0.4,0.1-1.2,0.4c-0.7,0.3-1.4,0.4-2.1,0.4c-1.4,0-2.7-0.6-3.6-1.7c-0.9-1.1-1.3-2.3-1.3-3.8c0-1.5,0.4-2.9,1.3-4.1
		    c0.9-1.2,2-1.9,3.3-1.9c0.3,0,0.7,0,1,0.1c0.4,0.1,0.7,0.1,1.1,0.2c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.3-0.1,0.4-0.2c0,0,0.1,0,0.1,0
		    c0,0,0.1,0,0.1,0.1l0.8,3.2c0,0,0,0.1,0,0.1c0,0,0,0-0.1,0.1l-0.6,0.1c-0.1,0-0.1,0-0.1-0.1L27.4,39c-0.4-0.8-0.9-1.3-1.2-1.7
		    c-0.5-0.5-1.1-0.7-1.7-0.7c-0.8,0-1.5,0.4-2,1.3c-0.4,0.7-0.6,1.7-0.6,2.7c0,1.4,0.3,2.7,0.9,3.8c0.7,1.2,1.6,1.8,2.7,1.8
		    c0.5,0,0.6,0,0.6,0c0.1,0,0.1,0,0.1-0.1v-2.8l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1H29
		    c0.1,0,0.1,0.1,0.1,0.1l0,0.5C29.2,43.1,29.1,43.1,29.1,43.1z M37.7,47.1C37.6,47.2,37.6,47.2,37.7,47.1c-0.1,0.1-0.1,0.1-0.1,0.1
		    c0,0,0,0,0,0c-0.1,0-0.2-0.1-0.4-0.1c-0.2,0-0.3-0.1-0.4-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0h-6.2c-0.1,0-0.1-0.1-0.1-0.1
		    v-0.5c0-0.1,0-0.1,0.1-0.1l0.8-0.1v-9.3l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h6.7c0.2,0,0.3,0,0.4,0
		    c0.2-0.1,0.3-0.1,0.5-0.1c0.1,0,0.1,0,0.1,0.1l0.8,3.1c0,0.1,0,0.1-0.1,0.2l-0.6,0.1c-0.1,0-0.1,0-0.2-0.1c0-0.1-0.1-0.4-0.3-0.7
		    c-0.2-0.4-0.5-0.7-0.7-0.9c-0.3-0.3-0.7-0.5-1-0.6c-0.3-0.1-0.7-0.2-1.2-0.2h-1.4v4h0.8c0.4,0,0.7-0.2,1-0.5
		    c0.1-0.1,0.2-0.3,0.3-0.6c0-0.1,0-0.2,0.1-0.4c0-0.1,0.1-0.1,0.1-0.1h0.5c0.1,0,0.1,0.1,0.1,0.1v4c0,0.1-0.1,0.1-0.1,0.1H35
		    c-0.1,0-0.1,0-0.1-0.1c0-0.2,0-0.3-0.1-0.4c-0.1-0.3-0.2-0.5-0.3-0.6c-0.3-0.4-0.7-0.6-1.2-0.6h-0.7v4.5h1.4c0.4,0,0.8-0.1,1.1-0.2
		    c0.3-0.1,0.6-0.3,1-0.6c0.2-0.2,0.5-0.4,0.7-0.8c0.4-0.5,0.6-0.9,0.6-1.1c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0l0.6,0.2
		    c0.1,0,0.1,0.1,0.1,0.1L37.7,47.1z M38.5,32.2v-0.7c0-0.1,0.1-0.2,0.2-0.3l0.8-0.1v-5.6h-4.4v5.6l0.9,0.1c0.1,0,0.2,0.1,0.2,0.3
		    v0.7c0,0.1-0.1,0.3-0.3,0.3h-4.7c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0.1-0.2,0.2-0.3l0.9-0.1V19.5l-0.9-0.1c-0.1,0-0.2-0.1-0.2-0.3
		    v-0.7c0-0.1,0.1-0.3,0.3-0.3h4.6c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.2-0.2,0.3l-0.8,0.1v4.8h4.4v-4.8l-0.8-0.1
		    c-0.1,0-0.2-0.1-0.2-0.3v-0.7c0-0.1,0.1-0.3,0.3-0.3h4.6c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.2-0.2,0.3l-0.9,0.1v11.6l0.9,0.1
		    c0.1,0,0.2,0.1,0.2,0.3v0.7c0,0.1-0.1,0.3-0.3,0.3h-4.6C38.6,32.4,38.5,32.3,38.5,32.2z M49.1,36.7c0,0.1-0.1,0.1-0.1,0.1
		    c-0.2,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.5-0.3,0.8v9c0,0.1-0.1,0.1-0.1,0.1H47c0,0-0.1,0-0.1-0.1l-5.4-8.2v6.1
		    c0,0.2,0,0.5,0.1,0.6c0.1,0.2,0.2,0.3,0.4,0.4c0.1,0.1,0.3,0.1,0.6,0.2l0.2,0c0.1,0,0.1,0.1,0.1,0.1v0.5c0,0.1-0.1,0.1-0.1,0.1
		    h-3.5c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0,0,0-0.1,0-0.1c0,0,0.1,0,0.1,0c0.3,0,0.5-0.1,0.8-0.3c0.2-0.2,0.3-0.3,0.4-0.5
		    c0.1-0.2,0.1-0.4,0.1-0.6v-6.6c0-0.3,0-0.5-0.1-0.7c0-0.1-0.1-0.3-0.3-0.5c-0.1-0.1-0.2-0.2-0.4-0.2c-0.3-0.1-0.4,0-0.4,0
		    c0,0-0.1,0-0.1,0c0,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h3c0,0,0.1,0,0.1,0.1l4.6,7V38c0-0.2,0-0.4-0.1-0.5
		    c0-0.1-0.1-0.3-0.3-0.4c-0.1-0.1-0.2-0.1-0.3-0.2c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1H49
		    c0.1,0,0.1,0.1,0.1,0.1V36.7z M57.6,47.1C57.6,47.2,57.6,47.2,57.6,47.1c-0.1,0.1-0.1,0.1-0.1,0.1c0,0,0,0,0,0
		    c-0.1,0-0.2-0.1-0.4-0.1c-0.2,0-0.3-0.1-0.4-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0h-6.2c-0.1,0-0.1-0.1-0.1-0.1v-0.5
		    c0-0.1,0-0.1,0.1-0.1l0.8-0.1v-9.3l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h6.7c0.2,0,0.3,0,0.4,0
		    c0.2-0.1,0.3-0.1,0.5-0.1c0.1,0,0.1,0,0.1,0.1l0.8,3.1c0,0.1,0,0.1-0.1,0.2l-0.6,0.1c-0.1,0-0.1,0-0.2-0.1c0-0.1-0.1-0.4-0.3-0.7
		    c-0.2-0.4-0.5-0.7-0.7-0.9c-0.3-0.3-0.7-0.5-1-0.6c-0.3-0.1-0.7-0.2-1.2-0.2h-1.4v4h0.8c0.4,0,0.7-0.2,1-0.5
		    c0.1-0.1,0.2-0.3,0.3-0.6c0-0.1,0-0.2,0.1-0.4c0-0.1,0.1-0.1,0.1-0.1h0.5c0.1,0,0.1,0.1,0.1,0.1v4c0,0.1-0.1,0.1-0.1,0.1H55
		    c-0.1,0-0.1,0-0.1-0.1c0-0.2,0-0.3-0.1-0.4c-0.1-0.3-0.2-0.5-0.3-0.6c-0.3-0.4-0.7-0.6-1.2-0.6h-0.7v4.5h1.4c0.4,0,0.8-0.1,1.1-0.2
		    c0.3-0.1,0.6-0.3,1-0.6c0.2-0.2,0.5-0.4,0.7-0.8c0.4-0.5,0.6-0.9,0.6-1.1c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0l0.6,0.2
		    c0.1,0,0.1,0.1,0.1,0.1L57.6,47.1z M58.3,32.2v-0.7c0-0.1,0.1-0.2,0.2-0.3l0.9-0.1V19.5l-0.9-0.1c-0.1,0-0.2-0.1-0.2-0.3v-0.7
		    c0-0.1,0.1-0.3,0.3-0.3h4.6c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.2-0.2,0.3l-0.8,0.1v5.4l3.7-4.4c0.1-0.1,0.2-0.2,0.2-0.4
		    c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.2c0,0-0.1-0.1-0.5-0.1c-0.3,0-0.4,0-0.4,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2-0.1-0.2-0.2
		    v-0.7c0-0.1,0.1-0.3,0.3-0.3H70c0.1,0,0.3,0.1,0.3,0.3v0.7c0,0.1-0.1,0.3-0.3,0.3c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.5,0.1
		    c-0.2,0.1-0.4,0.2-0.6,0.3c-0.2,0.1-0.5,0.4-0.8,0.8L65.9,23l3.9,8.2l0.9,0.1c0.1,0,0.2,0.1,0.2,0.3v0.7c0,0.1-0.1,0.3-0.3,0.3
		    h-4.9c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0.1-0.2,0.2-0.3l0.7-0.1l-2.7-5.7L62.5,27v4.1l0.9,0.1c0.1,0,0.2,0.1,0.2,0.3v0.7
		    c0,0.1-0.1,0.3-0.3,0.3h-4.7C58.5,32.4,58.3,32.3,58.3,32.2z M68.6,46.9c0,0.1-0.1,0.1-0.1,0.1h-2.8c0,0-0.1,0-0.1-0.1l-2.8-5.1H62
		    v4.3l0.8,0.1c0.1,0,0.1,0.1,0.1,0.1v0.5c0,0.1-0.1,0.1-0.1,0.1l-3.8,0c0,0-0.1,0-0.1,0c0,0,0-0.1,0-0.1v-0.5c0-0.1,0-0.1,0.1-0.1
		    l0.8-0.1v-9.2l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h2.4l1.9,0c1.1,0,2.1,0.2,2.8,0.5c1,0.5,1.5,1.2,1.5,2.3
		    c0,0.8-0.3,1.4-0.7,1.9c-0.5,0.5-1,0.8-1.7,0.9l2.5,4.5l0.8,0.1c0.1,0,0.1,0.1,0.1,0.1V46.9z M79.3,46.9c0,0.1-0.1,0.1-0.1,0.1
		    h-3.7c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0-0.1,0.1-0.1l0.8-0.1l-0.8-2.5H72l-0.4,1.4c-0.1,0.2-0.1,0.3-0.1,0.5
		    c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.2c0.1,0,0.2,0.1,0.5,0.1c0,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1v0.5
		    c0,0.1-0.1,0.1-0.1,0.1h-3.2c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0-0.1,0.1-0.1c0.2,0,0.5-0.1,0.7-0.2c0.2-0.1,0.4-0.3,0.4-0.4
		    c0.1-0.1,0.2-0.3,0.2-0.6l2.6-8l-0.3-0.8c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1l2-0.2c0.1,0,0.1,0,0.1,0.1l3.4,10.1l0.6,0.1
		    c0.1,0,0.1,0.1,0.1,0.1V46.9z M87.2,47.1C87.2,47.1,87.2,47.1,87.2,47.1c-0.1,0.1-0.1,0.1-0.1,0.1c0,0,0,0,0,0
		    c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.2,0-0.2,0h-6.4c-0.1,0-0.1-0.1-0.1-0.1l0-0.5c0-0.1,0-0.1,0.1-0.1l0.8-0.1
		    v-9.3l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h3.7c0.1,0,0.1,0.1,0.1,0.1v0.5c0,0.1,0,0.1-0.1,0.1l-0.8,0.1
		    v9.2h1.4c0.4,0,0.8-0.1,1.2-0.3c0.4-0.2,0.7-0.4,1-0.8c0.2-0.2,0.3-0.4,0.5-0.7c0.2-0.3,0.4-0.6,0.5-0.9c0-0.1,0.1-0.1,0.1-0.1
		    l0.6,0.1c0,0,0.1,0,0.1,0.1c0,0,0,0.1,0,0.1L87.2,47.1z M99,46.3c-0.7,0.7-1.7,1-2.8,1c-0.4,0-0.9-0.1-1.7-0.3
		    c-0.5-0.1-0.6-0.1-0.6-0.1c-0.3,0-0.7,0.2-1,0.4c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1-0.1l-0.7-3.3c0-0.1,0-0.1,0.1-0.2l0.6-0.1
		    c0.1,0,0.1,0,0.1,0.1l0.2,0.4c0.4,0.8,0.9,1.4,1.5,1.8c0.6,0.5,1.2,0.7,1.9,0.7c0.5,0,1-0.1,1.4-0.4c0.4-0.3,0.6-0.7,0.6-1.2
		    c0-0.5-0.2-0.8-0.5-1.2c-0.3-0.3-0.7-0.5-1.3-0.7l-1.4-0.5c-0.9-0.3-1.6-0.7-2.1-1.2c-0.6-0.6-0.8-1.4-0.8-2.3
		    c0-0.8,0.3-1.5,0.8-2.1c0.6-0.6,1.4-0.9,2.3-0.9h0.2c0.3,0,0.7,0.1,1.1,0.2c0.2,0.1,0.5,0.2,0.8,0.2c0,0,0.1,0,0.4-0.1
		    c0.2-0.1,0.4-0.2,0.6-0.3c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0.1l0.8,3.2c0,0.1,0,0.1-0.1,0.2l-0.6,0.2c-0.1,0-0.1,0-0.2-0.1L98.3,39
		    c-0.4-0.7-0.8-1.3-1.2-1.6c-0.5-0.4-1.1-0.7-1.7-0.7c-0.5,0-0.9,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.5,1c0,0.5,0.2,0.9,0.5,1.2
		    c0.3,0.3,0.7,0.5,1.3,0.7l1.7,0.6c0.8,0.3,1.5,0.7,1.9,1.2c0.5,0.6,0.8,1.3,0.8,2.1C100,44.8,99.7,45.6,99,46.3z M110,39.3
		    l-0.6,0.1c-0.1,0-0.1,0-0.1-0.1c-0.1-0.2-0.2-0.4-0.3-0.7c-0.2-0.3-0.3-0.5-0.4-0.7c-0.4-0.4-0.6-0.7-0.8-0.8
		    c-0.3-0.2-0.6-0.3-1-0.3h-0.2v9.3l0.8,0.1c0.1,0,0.1,0.1,0.1,0.1v0.5c0,0.1-0.1,0.1-0.1,0.1h-3.9c-0.1,0-0.1-0.1-0.1-0.1v-0.5
		    c0-0.1,0-0.1,0.1-0.1l0.8-0.1v-9.3h-0.3c-0.4,0-0.8,0.2-1.1,0.5c-0.1,0.1-0.3,0.3-0.6,0.6c-0.2,0.2-0.4,0.5-0.6,0.9
		    c-0.2,0.4-0.2,0.5-0.2,0.6c0,0,0,0.1-0.1,0.1c0,0-0.1,0-0.1,0l-0.5-0.1c-0.1,0-0.1-0.1-0.1-0.2l0.7-3.3c0,0,0-0.1,0.1-0.1
		    c0,0,0.1,0,0.1,0c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.3,0,0.5,0h5.7c0.1,0,0.2,0,0.4,0c0.1,0,0.2,0,0.3,0c0.2,0,0.3-0.1,0.4-0.1
		    c0.1,0,0.1,0,0.1,0.1l0.7,3.2C110.1,39.2,110.1,39.3,110,39.3z M119,45.5c-1,1.2-2.2,1.8-3.7,1.8c-1.4,0-2.6-0.6-3.5-1.8
		    c-0.9-1.1-1.4-2.4-1.4-3.9c0-1.5,0.5-2.9,1.4-4c1-1.2,2.2-1.8,3.6-1.8s2.7,0.6,3.6,1.8c0.9,1.1,1.3,2.4,1.3,3.9
		    C120.4,43,119.9,44.4,119,45.5z M130.4,46.9c0,0.1-0.1,0.1-0.1,0.1h-2.8c0,0-0.1,0-0.1-0.1l-2.8-5.1h-0.8v4.3l0.8,0.1
		    c0.1,0,0.1,0.1,0.1,0.1v0.5c0,0.1-0.1,0.1-0.1,0.1l-3.8,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0,0-0.1,0-0.1v-0.5c0-0.1,0-0.1,0.1-0.1
		    l0.8-0.1v-9.2l-0.8-0.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h2.4l1.9,0c1.1,0,2.1,0.2,2.8,0.5c1,0.5,1.5,1.2,1.5,2.3
		    c0,0.8-0.3,1.4-0.7,1.9c-0.5,0.5-1,0.8-1.7,0.9l2.5,4.5l0.8,0.1c0.1,0,0.1,0.1,0.1,0.1V46.9z M138.9,47.1
		    C138.9,47.2,138.9,47.2,138.9,47.1c-0.1,0.1-0.1,0.1-0.1,0.1c0,0,0,0,0,0c-0.1,0-0.2-0.1-0.4-0.1c-0.2,0-0.3-0.1-0.4-0.1
		    c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0H131c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0-0.1,0.1-0.1l0.8-0.1v-9.3l-0.8-0.1
		    c-0.1,0-0.1-0.1-0.1-0.1v-0.5c0-0.1,0.1-0.1,0.1-0.1h6.7c0.2,0,0.3,0,0.4,0c0.2-0.1,0.3-0.1,0.5-0.1c0.1,0,0.1,0,0.1,0.1l0.8,3.1
		    c0,0.1,0,0.1-0.1,0.2l-0.6,0.1c-0.1,0-0.1,0-0.2-0.1c0-0.1-0.1-0.4-0.3-0.7c-0.2-0.4-0.5-0.7-0.7-0.9c-0.3-0.3-0.7-0.5-1-0.6
		    c-0.3-0.1-0.7-0.2-1.2-0.2H134v4h0.8c0.4,0,0.7-0.2,1-0.5c0.1-0.1,0.2-0.3,0.3-0.6c0-0.1,0-0.2,0.1-0.4c0-0.1,0.1-0.1,0.1-0.1h0.5
		    c0.1,0,0.1,0.1,0.1,0.1v4c0,0.1-0.1,0.1-0.1,0.1h-0.6c-0.1,0-0.1,0-0.1-0.1c0-0.2,0-0.3-0.1-0.4c-0.1-0.3-0.2-0.5-0.3-0.6
		    c-0.3-0.4-0.7-0.6-1.2-0.6H134v4.5h1.4c0.4,0,0.8-0.1,1.1-0.2c0.3-0.1,0.6-0.3,1-0.6c0.2-0.2,0.5-0.4,0.7-0.8
		    c0.4-0.5,0.6-0.9,0.6-1.1c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0l0.6,0.2c0.1,0,0.1,0.1,0.1,0.1L138.9,47.1z M140.1,19.2
		    c0,0.1-0.1,0.3-0.3,0.3c-0.3,0-0.4,0-0.5,0.1c-0.1,0-0.2,0.1-0.3,0.2c-0.2,0.2-0.4,0.6-0.4,1v11.5c0,0.1-0.1,0.3-0.3,0.3h-1.1
		    c-0.1,0-0.2,0-0.2-0.1l-6.7-10.1v7.5c0,0.3,0,0.6,0.1,0.8c0.1,0.2,0.2,0.4,0.4,0.5c0.1,0.1,0.3,0.2,0.7,0.2l0.3,0.1
		    c0.1,0,0.2,0.1,0.2,0.2v0.7c0,0.1-0.1,0.3-0.3,0.3h-4.5c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0-0.1,0.1-0.2c0.1,0,0.1-0.1,0.2-0.1
		    c0.3,0,0.6-0.1,0.9-0.4c0.2-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.1-0.5,0.1-0.8v-8.4c0-0.4,0-0.6-0.1-0.8c0-0.1-0.1-0.3-0.4-0.6
		    c-0.1-0.1-0.3-0.2-0.5-0.3c-0.3-0.1-0.4-0.1-0.4-0.1c-0.1,0-0.2,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.2v-0.7c0-0.1,0.1-0.3,0.3-0.3h3.9
		    c0.1,0,0.2,0,0.2,0.1l5.7,8.7v-6.2c0-0.3,0-0.5-0.1-0.7c0-0.1-0.1-0.3-0.3-0.5c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.4-0.1-0.6-0.1
		    c-0.1,0-0.3-0.1-0.3-0.3v-0.7c0-0.1,0.1-0.3,0.3-0.3h4c0.1,0,0.3,0.1,0.3,0.3V19.2z"/>
	    <path d="M102.2,31.5c1.2,0,2.1-0.7,2.7-2c0.4-1.1,0.6-2.5,0.6-4.3c0-2.3-0.3-3.9-1-4.9c-0.5-0.8-1.2-1.2-2.2-1.2
		    c-1.2,0-2.1,0.7-2.7,2c-0.5,1.1-0.7,2.5-0.7,4.3c0,1.7,0.2,3.1,0.6,4.1C100.2,30.9,101,31.5,102.2,31.5z"/>
    </g>
  </svg>
{% if url %}</a>{% endif %}
