{% assign box_colour = box_colour | default: 'green' %}
{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 289.91 160"
  >
  <rect style='fill: rgba( var(--theme-colour-{{ box_colour }}), 1);' x="2.35" y="7.71" width="88.28" height="33.99" transform="translate(-3.7 8.82) rotate(-10.42)"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M122.92,25.39c0-5.72-3-8.91-8-8.91h-7.89v17.8h8.14C120.18,34.28,122.92,31.12,122.92,25.39Zm-11.36,5.23V20.14h3c2.79,0,3.91,2,3.91,5.25s-1.12,5.23-3.91,5.23Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M129.12,28.08h2.79c3.81,0,2.19,5.46,3.06,6.2h4.65V34c-1-.29.6-7.19-3.85-8V26a4.24,4.24,0,0,0,3.61-4.36c0-3.36-2.39-5.18-6.35-5.18h-8.4v17.8h4.49Zm0-7.94h3c1.8,0,2.74.65,2.74,2.14s-.94,2.14-2.74,2.14h-3Z"/>
    <rect style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' x="141.37" y="16.48" width="4.48" height="17.81"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="152.77 23.7 152.82 23.7 159.05 34.28 163.53 34.28 163.53 16.48 159.05 16.48 159.05 27.06 159 27.06 152.77 16.48 148.29 16.48 148.29 34.28 152.77 34.28 152.77 23.7"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="170.45 29.58 172.25 27.54 176.9 34.28 182.13 34.28 175.11 24.32 181.88 16.48 176.65 16.48 170.45 23.7 170.45 16.48 165.97 16.48 165.97 34.28 170.45 34.28 170.45 29.58"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M112.07,58.22h4.48l1.15-3.71h6.1L125,58.22h4.48L123,40.41h-4.48Zm8.67-13.7h.05l2,6.58h-4.08Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M145,44.9c0-3-1.95-4.49-5.66-4.49h-8.64V58.22h8.89c3.69,0,6.1-1.47,6.1-5.26a3.93,3.93,0,0,0-3.46-4.23v0A3.74,3.74,0,0,0,145,44.9Zm-9.82-.83h3.09c1.25,0,2.24.3,2.24,1.77s-1,1.77-2.24,1.77h-3.09Zm3.22,10.49h-3.22V50.35h3.22c1.86,0,2.81.42,2.81,2.09S140.23,54.56,138.37,54.56Z"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="159.78 54.56 151.86 54.56 151.86 40.41 147.38 40.41 147.38 58.22 159.78 58.22 159.78 54.56"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="174.95 44.07 174.95 40.41 161.45 40.41 161.45 58.22 175.1 58.22 175.1 54.56 165.93 54.56 165.93 50.9 173.7 50.9 173.7 47.24 165.93 47.24 165.93 44.07 174.95 44.07"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M269.34,69.61c-4.3,0-10.43,3.07-15.14,7.77l-3.27,3.27-5.11,5.12c0-1.23.2-2.46.2-3.48,0-7.16-3.88-10.84-11.25-10.84s-15.57,4-22.64,11.13c-1-7.42-7.74-13-16.21-13-17.51,0-35.82,11.16-47.61,28.42a27.18,27.18,0,0,0,3.85-13.49c0-8.39-7.16-14.93-16.36-14.93-15.19,0-31,8.4-42.58,21.87C91.63,79.28,82.55,71,70,71c-7.16,0-10.84,1.43-18,7.16l9-30.47a57.2,57.2,0,0,0,2.18-8.81L93,33.43,86.82,0,0,16,6.15,49.41l11-2c-2.17,3.67-3.45,7.33-3.45,10.16,0,3.68,2,5.93,5.72,6.14l5.73.2c3.07.21,5.32,3.28,5.32,7,0,7.56-4.5,24.13-10.23,38.24a57.2,57.2,0,0,1-8.18,14.52L8,128.71C2.66,135.05.21,140.57.21,146.51.21,155.1,4.71,159,14.32,159a22.86,22.86,0,0,0,13.29-3.88c5.12,3.06,7.77,3.88,12.48,3.88,5.11,0,13.29-2.45,18.2-5.32a77.94,77.94,0,0,0,19.78-17.85C80,150,89.63,160,102.05,160c12.63,0,26.9-7,37.41-18.4,3.45,11.07,12.06,18.4,22.72,18.4,13.29,0,28.42-7.77,39.06-20.24l.37-.45a18.06,18.06,0,0,0-1,5.56c0,8,6.75,14.32,15.54,14.32,10.23,0,18.21-8.59,18.21-19.84,0-.82-.21-2.66-.41-5.73a38.67,38.67,0,0,1-.41-4.7c0-10.64,3.68-19.23,10-23.73a5,5,0,0,1,2.66-.81,3.26,3.26,0,0,1,2,1l3.07,3.68c1.23,1.43,3.68,2.25,6.75,2.25,12.68,0,23.72-12.07,23.72-25.77C281.81,76.56,276.49,69.61,269.34,69.61ZM3.13,18.13l81.54-15,5.18,28.14-81.54,15ZM51.34,119.72c-6.14,0-9.82-2.46-9.82-6.55,0-5.32,7.16-10.23,14.73-10.23,5.93,0,10,2.87,10,7C66.27,115,58.9,119.72,51.34,119.72Zm58.89-18a12.62,12.62,0,0,1,8-3.07c3.07,0,5.52,2,5.52,4.3,0,4.7-5.93,8.58-12.27,8.58-3.68,0-5.52-1-5.52-3.27C105.94,106.22,107.57,103.76,110.23,101.72ZM144,105.19a56.26,56.26,0,0,0-4.05,10.37,15,15,0,0,0-7,3.34l-4.5,3.68c-3.68,3.27-11,6.54-14.92,6.54-4.3,0-8-2.86-8.59-6.75V122c0-2,1.22-2.65,5.72-2.65h2.46c11,0,24.13-7,32.31-17,.27-.35.54-.7.8-1.06Q145,103.19,144,105.19Zm26.39-3.47a12.58,12.58,0,0,1,8-3.07c3.07,0,5.52,2,5.52,4.3,0,4.7-5.93,8.58-12.27,8.58-3.68,0-5.52-1-5.52-3.27C166.06,106.22,167.7,103.76,170.36,101.72Zm38.73,22.9a11.82,11.82,0,0,0,.12-1.63c0-4.5-3.06-7.57-7.77-7.57a14.27,14.27,0,0,0-8.38,3.48l-4.5,3.68c-3.68,3.27-11.05,6.54-14.93,6.54-4.3,0-8-2.86-8.59-6.75V122c0-2,1.23-2.65,5.73-2.65h2.45c11,0,24.13-7,32.31-17,.59-.75,1.14-1.52,1.65-2.29a11.41,11.41,0,0,0,3.46,1.88c3.48,1.23,4.71,3.27,4.71,7S213.77,116.38,209.09,124.62Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M247.67,146.7c0-1.67-1.52-2.15-3-2.56-1-.27-1.47-.42-1.47-.9s.46-.62,1-.62c.75,0,1.25.34,1.34.93h2c-.05-1.58-1.48-2.54-3.3-2.54s-3,.67-3,2.37c0,1.44,1.17,2,2.52,2.41,1.1.33,1.94.47,1.94,1.09,0,.39-.4.68-1.13.68s-1.59-.31-1.59-1.14h-2c0,1.74,1.52,2.74,3.55,2.74S247.67,148.19,247.67,146.7Z"/>
    <rect style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' x="248.46" y="141.19" width="1.96" height="7.8"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="253.46 144.35 253.48 144.35 256.21 148.99 258.17 148.99 258.17 141.19 256.21 141.19 256.21 145.82 256.19 145.82 253.46 141.19 251.49 141.19 251.49 148.99 253.46 148.99 253.46 144.35"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M266.21,146.06h-2c-.13.88-.52,1.5-1.57,1.5-1.3,0-1.73-1-1.73-2.48s.43-2.46,1.73-2.46c1,0,1.43.62,1.57,1.47h2a3.19,3.19,0,0,0-3.45-3.08c-2.47,0-3.79,1.73-3.79,4.07s1.32,4.08,3.79,4.08A3.18,3.18,0,0,0,266.21,146.06Z"/>
    <polygon style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' points="268.85 145.78 272.26 145.78 272.26 144.18 268.85 144.18 268.85 142.79 272.8 142.79 272.8 141.19 266.89 141.19 266.89 148.99 272.87 148.99 272.87 147.38 268.85 147.38 268.85 145.78"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M245.15,151.56v1.31a2.11,2.11,0,0,0,1.6-.44v5.1h1.85V150h-1.53C247.07,150.81,246.58,151.56,245.15,151.56Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M254.33,153.47v0a1.8,1.8,0,0,0,1.09-1.59c0-1.3-1.25-2.05-2.8-2.05s-2.79.75-2.79,2.05a1.78,1.78,0,0,0,1.09,1.59v0a2.07,2.07,0,0,0-1.42,1.9c0,1.55,1.4,2.33,3.12,2.33s3.12-.78,3.12-2.33A2.09,2.09,0,0,0,254.33,153.47Zm-1.71-2.38c.77,0,1.16.44,1.16.93s-.39.94-1.16.94-1.15-.43-1.15-.94S251.86,151.09,252.62,151.09Zm0,5.23a1.12,1.12,0,1,1,1.27-1.13A1.15,1.15,0,0,1,252.62,156.32Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M259.07,149.81a2.69,2.69,0,0,0-3,2.77,2.63,2.63,0,0,0,4.4,1.86v0c0,1.08-.41,1.86-1.34,1.86a.93.93,0,0,1-1-.7h-1.85a2.7,2.7,0,0,0,2.8,2.08c1.94,0,3.23-1.32,3.23-4C262.36,151.69,261.56,149.81,259.07,149.81Zm.11,3.93a1.27,1.27,0,1,1,0-2.54,1.27,1.27,0,1,1,0,2.54Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M266.45,152.41a2.5,2.5,0,0,0-1.62.54v0l.29-1.44h3.5V150h-4.77l-.87,4.24h1.74a1.48,1.48,0,0,1,1.15-.54,1.26,1.26,0,0,1,0,2.52,1.17,1.17,0,0,1-1.28-1h-1.86c.06,1.49,1.15,2.51,3.25,2.51A2.63,2.63,0,0,0,269,155,2.36,2.36,0,0,0,266.45,152.41Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M285.5,68.89a4.46,4.46,0,1,0,4.41,4.46A4.36,4.36,0,0,0,285.5,68.89Zm0,8c-2,0-3.31-1.4-3.31-3.56a3.21,3.21,0,0,1,3.31-3.54c2.05,0,3.3,1.41,3.3,3.54S287.55,76.89,285.5,76.89Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M286.57,73.52v0a1.14,1.14,0,0,0,1-1.18c0-.9-.65-1.38-1.7-1.38h-2.26v4.79h1.2V74.05h.75c1,0,.59,1.48.83,1.68h1.25v-.08C287.33,75.58,287.77,73.72,286.57,73.52Zm-1-.45h-.82V71.91h.82c.48,0,.74.19.74.59S286.07,73.07,285.59,73.07Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M20.48,28.94,21.05,32l3.22-.59c.26,1.64-.9,3.08-2.87,3.45-3,.54-4.44-1.44-5-4.65s.08-5.56,2.88-6.07A3.21,3.21,0,0,1,23.16,26l4.27-.79c-1-3.18-4.09-5.45-8.75-4.6-5.34,1-7.52,5.26-6.58,10.37s4.51,8.35,9.32,7.46c2.5-.46,3.9-1.75,4.43-3.44h0l.83,2.08,3.06-.56-1.66-9Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M36.35,17.4c-5.39,1-7.72,5.3-6.78,10.4s4.65,8.33,10,7.33,7.71-5.29,6.77-10.42S41.69,16.42,36.35,17.4ZM39,31.65c-3.11.57-4.58-1.67-5.12-4.63s0-5.56,3.14-6.13,4.57,1.66,5.11,4.61S42.05,31.08,39,31.65Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M54.1,14.14c-5.38,1-7.71,5.29-6.77,10.4s4.65,8.32,10,7.33,7.71-5.3,6.77-10.43S59.44,13.15,54.1,14.14Zm2.62,14.24c-3.11.57-4.57-1.66-5.12-4.63s0-5.55,3.15-6.12,4.57,1.66,5.11,4.6S59.81,27.81,56.72,28.38Z"/>
    <path style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1);' d="M71.74,11.28l-7.52,1.39,3.12,17,7.76-1.43c4.72-.87,6.78-4.36,5.78-9.82S76.46,10.41,71.74,11.28Zm2.05,13.56L71,25.36l-1.84-10L72,14.85c2.65-.49,4.08,1.24,4.64,4.32S76.45,24.36,73.79,24.84Z"/>
</svg>
