{% assign fill_colour = fill_colour | default: 'black' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 329.71 143.9"
  style='fill: rgba( var(--theme-colour-{{ fill_colour }}), 1 );'
  >
  <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M0,139.66c1.05-.08,1.3-.21,1.3-1.15v-7.85c0-.95-.25-1.07-1.3-1.15v-.69H4.47l4.38,6.85v-5c0-.95-.23-1.07-1.3-1.15v-.69H11.4v.69c-1.05.08-1.28.2-1.28,1.15v9.69H8.35l-5.78-9.08v7.24c0,.94.26,1.07,1.32,1.15v.69H0Z"/><path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M19.55,136.55a4,4,0,0,1-4.29,4,4.05,4.05,0,1,1,0-8.09A4,4,0,0,1,19.55,136.55Zm-2.6,0c0-2-.42-3.05-1.69-3.05s-1.68,1.1-1.68,3.05.42,3.06,1.68,3.06S17,138.49,17,136.55Z"/>
    <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M23.75,134.27a1,1,0,0,0-.85.46v4.21c0,.49.16.64.92.72v.69H19.45v-.69c.75-.08.93-.23.93-.72V135c0-.34-.12-.49-.42-.49h-.51v-.65L22,132.51h.93v1a2.83,2.83,0,0,1,2-1,1.29,1.29,0,0,1,1.46,1.32,1.18,1.18,0,0,1-1.14,1.3C24.23,135.13,24.3,134.27,23.75,134.27Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M29.33,140.58c-1.57,0-2.54-.52-2.54-2.24v-4.53h-.91v-.64a3.76,3.76,0,0,0,2.51-2.9h.94v2.49h1.81v1.05H29.33v4.53c0,.83.34,1.12.89,1.12a2.82,2.82,0,0,0,.92-.16v1A6.55,6.55,0,0,1,29.33,140.58Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M36,139.66c.76-.08.93-.23.93-.72V135a1,1,0,0,0-1.07-1.1,2.6,2.6,0,0,0-1.49.49v4.54c0,.49.17.64.92.72v.69H30.93v-.69c.74-.08.92-.23.92-.72v-7.85c0-.34-.11-.49-.41-.49h-.51V130l2.52-1.39h.92v4.75a4.93,4.93,0,0,1,2.47-.81,2.31,2.31,0,0,1,2.61,2.57v3.86c0,.49.18.64.92.72v.69H36Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M44,130.58c-.29-.77-.62-1-1.23-1.07v-.69h5.25v.69c-1,.08-1.25.25-.95,1l2.65,6.8,2.62-6.8c.3-.73-.1-.93-1.08-1v-.69h3.55v.69a1.34,1.34,0,0,0-1.26,1.06l-3.78,9.78h-2Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M54.77,140.57c-1.35,0-2.23-.76-2.23-1.88,0-2,2.47-2.62,4.83-3.05v-.77c0-1-.15-1.39-.87-1.39s-1,.33-1.22,1.11a1.28,1.28,0,0,1-1.29,1,.9.9,0,0,1-.94-1c0-1.22,1.55-2,3.71-2,1.68,0,3.15.63,3.15,2.47v3.81c0,.44.16.62.44.62a1,1,0,0,0,.48-.11v.84a3,3,0,0,1-1.7.41c-.85,0-1.53-.25-1.71-1A4.51,4.51,0,0,1,54.77,140.57Zm2.6-4c-1.33.26-2.22.66-2.22,1.56a.83.83,0,0,0,.9.89,2.27,2.27,0,0,0,1.32-.48Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M65.71,139.66c.76-.08.92-.23.92-.72V135a1,1,0,0,0-1.07-1.1,2.6,2.6,0,0,0-1.48.49v4.54c0,.49.17.64.92.72v.69H60.64v-.69c.74-.08.92-.23.92-.72V135c0-.34-.12-.49-.41-.49h-.51v-.65l2.52-1.38h.92v.81a4.93,4.93,0,0,1,2.47-.81,2.31,2.31,0,0,1,2.61,2.57v3.86c0,.49.18.64.92.72v.69H65.71Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M75,134.6c-.11-.69-.34-1.1-1-1.1-1.12,0-1.43,1.1-1.43,3.05s.67,2.95,2,2.95c1,0,1.67-.63,2.18-1.83l.9.51a3.55,3.55,0,0,1-3.51,2.42,3.93,3.93,0,0,1-4.22-4,3.88,3.88,0,0,1,4-4c1.91,0,3.25.87,3.25,2a1.06,1.06,0,0,1-1.11,1.12A1.14,1.14,0,0,1,75,134.6Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M86,136.55a4.29,4.29,0,1,1-4.29-4A4,4,0,0,1,86,136.55Zm-2.61,0c0-2-.41-3.05-1.68-3.05S80,134.6,80,136.55s.41,3.06,1.68,3.06S83.38,138.49,83.38,136.55Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M93.39,132.51h.92v6.43c0,.49.17.64.93.72v.69a22,22,0,0,0-3.45.25v-.79a5,5,0,0,1-2.49.79A2.31,2.31,0,0,1,86.7,138v-3c0-.34-.12-.49-.41-.49h-.5v-.65l2.53-1.38h.92v5.59a1,1,0,0,0,1.07,1.1,2.84,2.84,0,0,0,1.48-.49V135c0-.34-.11-.49-.43-.49h-.49v-.65Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M95.62,134.6c-.3-.77-.45-1.07-1.07-1.15v-.69H99.1v.69c-.84.08-1,.28-.73,1.09l1.16,2.86,1.15-2.85c.31-.8.07-1-.71-1.1v-.69h3v.69c-.58.08-.81.39-1.1,1.15l-2.36,5.75H98Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M104.9,136.55c0,1.94.59,2.95,2,2.95a2.85,2.85,0,0,0,2.43-1.83l.9.51a3.76,3.76,0,0,1-3.64,2.42c-2.72,0-4.33-1.7-4.33-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.67,3.61h-5.12A3.24,3.24,0,0,0,104.9,136.55Zm2.75-1.49c0-1-.49-1.56-1.23-1.56-.91,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M114.41,134.27a1,1,0,0,0-.85.46v4.21c0,.49.16.64.92.72v.69h-4.37v-.69c.74-.08.92-.23.92-.72V135c0-.34-.11-.49-.41-.49h-.51v-.65l2.52-1.38h.93v1a2.83,2.83,0,0,1,2-1,1.28,1.28,0,0,1,1.45,1.32,1.17,1.17,0,0,1-1.13,1.3C114.89,135.13,115,134.27,114.41,134.27Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M119.87,130.28c0,1.21-1.17,2.92-2.09,3.81l-.53-.44a5.78,5.78,0,0,0,1.07-2,1.51,1.51,0,0,1-1.61-1.54,1.49,1.49,0,0,1,1.56-1.53A1.57,1.57,0,0,1,119.87,130.28Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M126,137.88c0,1.73-1.49,2.72-3.41,2.72a5,5,0,0,1-2.55-.71l-.2.46h-.62l-.6-2.7.56-.15a4.13,4.13,0,0,0,3.33,2.13c.68,0,1.19-.31,1.19-.89s-.81-.91-1.81-1.2c-1.34-.42-3-1-3-2.59,0-1.43,1.41-2.44,3.18-2.44a3.6,3.6,0,0,1,2.24.68l.2-.43h.6l.5,2.4-.61.18a3.36,3.36,0,0,0-2.67-1.91c-.64,0-1,.32-1,.76,0,.59.73.84,1.67,1.12C124.55,135.79,126,136.3,126,137.88Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M128.92,139.66c1.06-.08,1.3-.21,1.3-1.15v-7.85c0-.95-.24-1.07-1.3-1.15v-.69h4.47l4.38,6.85v-5c0-.95-.23-1.07-1.3-1.15v-.69h3.86v.69c-1.06.08-1.29.2-1.29,1.15v9.69h-1.76l-5.79-9.08v7.24c0,.94.27,1.07,1.32,1.15v.69h-3.89Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M142.51,136.55c0,1.94.59,2.95,2,2.95a2.82,2.82,0,0,0,2.42-1.83l.91.51a3.77,3.77,0,0,1-3.64,2.42c-2.72,0-4.34-1.7-4.34-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.68,3.61h-5.13C142.51,136.27,142.51,136.42,142.51,136.55Zm2.75-1.49c0-1-.5-1.56-1.24-1.56-.9,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M152.07,140.35h-1.8l-2.16-5.75c-.24-.71-.39-1.07-1-1.15v-.69h4.35v.69c-.79.08-.94.3-.62,1.15l1.08,2.94,1.12-3c-.24-.62-.44-1-.89-1.05v-.69h4.29v.69c-.79.08-1,.28-.68,1.15l1.07,2.9,1.09-2.9c.31-.85,0-1.07-.76-1.15v-.69h3.05v.69c-.57.08-.81.39-1.09,1.15L157,140.35H155.2l-1.6-4.26Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M162.12,136.55c0,1.94.6,2.95,2,2.95a2.85,2.85,0,0,0,2.42-1.83l.91.51a3.77,3.77,0,0,1-3.64,2.42c-2.72,0-4.34-1.7-4.34-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.68,3.61h-5.13A3.24,3.24,0,0,0,162.12,136.55Zm2.76-1.49c0-1-.5-1.56-1.24-1.56-.9,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M174.72,137.88c0,1.73-1.5,2.72-3.41,2.72a5,5,0,0,1-2.56-.71l-.19.46h-.63l-.59-2.7.56-.15a4.12,4.12,0,0,0,3.33,2.13c.67,0,1.18-.31,1.18-.89s-.81-.91-1.81-1.2c-1.34-.42-3-1-3-2.59,0-1.43,1.42-2.44,3.18-2.44a3.58,3.58,0,0,1,2.24.68l.2-.43h.61l.49,2.4-.61.18a3.36,3.36,0,0,0-2.67-1.91c-.64,0-1,.32-1,.76,0,.59.72.84,1.66,1.12C173.24,135.79,174.72,136.3,174.72,137.88Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M177.87,140.58c-1.57,0-2.54-.52-2.54-2.24v-4.53h-.9v-.64a3.77,3.77,0,0,0,2.5-2.9h.94v2.49h1.81v1.05h-1.81v4.53c0,.83.35,1.12.89,1.12a2.78,2.78,0,0,0,.92-.16v1A6.55,6.55,0,0,1,177.87,140.58Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M187.56,128.79c-1.64,1.3-2.88,4.11-2.88,7.28a9.68,9.68,0,0,0,2.88,7.28l-.39.55a8.95,8.95,0,0,1,0-15.66Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M189.49,140.57c-1.35,0-2.22-.76-2.22-1.88,0-2,2.47-2.62,4.83-3.05v-.77c0-1-.15-1.39-.88-1.39s-1,.33-1.22,1.11a1.27,1.27,0,0,1-1.28,1,.9.9,0,0,1-.94-1c0-1.22,1.55-2,3.71-2,1.68,0,3.14.63,3.14,2.47v3.81c0,.44.17.62.45.62a1,1,0,0,0,.48-.11v.84a3.06,3.06,0,0,1-1.7.41c-.86,0-1.53-.25-1.71-1A4.57,4.57,0,0,1,189.49,140.57Zm2.61-4c-1.34.26-2.23.66-2.23,1.56a.83.83,0,0,0,.91.89,2.29,2.29,0,0,0,1.32-.48Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M200.44,139.66c.76-.08.92-.23.92-.72V135a1,1,0,0,0-1.07-1.1,2.6,2.6,0,0,0-1.48.49v4.54c0,.49.16.64.92.72v.69h-4.37v-.69c.74-.08.93-.23.93-.72V135c0-.34-.12-.49-.42-.49h-.51v-.65l2.52-1.38h.93v.81a4.93,4.93,0,0,1,2.47-.81,2.3,2.3,0,0,1,2.6,2.57v3.86c0,.49.18.64.93.72v.69h-4.37Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M211.94,128.57h.94v10.37c0,.49.17.64.93.72v.69a22.2,22.2,0,0,0-3.46.25v-.77a2.93,2.93,0,0,1-2.13.77c-2.06,0-3.51-1.58-3.51-4s1.45-4,3.51-4a3,3,0,0,1,2.13.77v-2.19c0-.34-.12-.49-.42-.49h-.49V130Zm-1.59,5.8a1.48,1.48,0,0,0-1.31-.69c-1.21,0-1.73.92-1.73,2.87s.52,2.86,1.73,2.86a1.47,1.47,0,0,0,1.31-.67Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M228.84,134.59c0,3.64-2.22,6-6,6s-6-2.37-6-6,2.24-6,6-6S228.84,130.94,228.84,134.59Zm-3.13,0c0-2.87-.61-5-2.85-5s-2.87,2.09-2.87,5,.63,4.94,2.87,4.94S225.71,137.45,225.71,134.59Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M228.86,139.66c.74-.08.93-.23.93-.72v-7.85c0-.34-.12-.49-.42-.49h-.51V130l2.52-1.39h.93v10.37c0,.49.16.64.92.72v.69h-4.37Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M240.37,128.57h.94v10.37c0,.49.16.64.92.72v.69a22.2,22.2,0,0,0-3.46.25v-.77a2.91,2.91,0,0,1-2.13.77c-2.06,0-3.51-1.58-3.51-4s1.45-4,3.51-4a3,3,0,0,1,2.13.77v-2.19c0-.34-.12-.49-.41-.49h-.5V130Zm-1.6,5.8a1.47,1.47,0,0,0-1.3-.69c-1.22,0-1.73.92-1.73,2.87s.51,2.86,1.73,2.86a1.45,1.45,0,0,0,1.3-.67Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M244.72,136.55c0,1.94.59,2.95,2,2.95a2.85,2.85,0,0,0,2.43-1.83l.9.51a3.76,3.76,0,0,1-3.64,2.42c-2.72,0-4.33-1.7-4.33-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.67,3.61h-5.12A3.24,3.24,0,0,0,244.72,136.55Zm2.75-1.49c0-1-.49-1.56-1.23-1.56-.91,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M257.31,137.88c0,1.73-1.49,2.72-3.41,2.72a5,5,0,0,1-2.55-.71l-.2.46h-.62l-.6-2.7.56-.15a4.13,4.13,0,0,0,3.33,2.13c.68,0,1.19-.31,1.19-.89s-.81-.91-1.81-1.2c-1.34-.42-3-1-3-2.59,0-1.43,1.41-2.44,3.18-2.44a3.6,3.6,0,0,1,2.24.68l.2-.43h.6l.5,2.4-.61.18a3.36,3.36,0,0,0-2.67-1.91c-.64,0-1,.32-1,.76,0,.59.73.84,1.67,1.12C255.83,135.79,257.31,136.3,257.31,137.88Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M260.47,140.58c-1.57,0-2.54-.52-2.54-2.24v-4.53H257v-.64a3.76,3.76,0,0,0,2.51-2.9h.94v2.49h1.81v1.05h-1.81v4.53c0,.83.34,1.12.89,1.12a2.82,2.82,0,0,0,.92-.16v1A6.55,6.55,0,0,1,260.47,140.58Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M261.87,143.35a9.64,9.64,0,0,0,2.88-7.28c0-3.17-1.23-6-2.88-7.28l.39-.55a8.94,8.94,0,0,1,0,15.66Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M269.78,140.35v-.69c1.06-.08,1.3-.21,1.3-1.15v-7.85c0-.95-.24-1.07-1.3-1.15v-.69h5.36c3.42,0,5.42.59,5.42,3,0,1.36-.84,2.15-2.34,2.49,1.71.4,2.67,1.34,2.67,2.82,0,2.37-2,3.26-5.44,3.26Zm4.71-10.41a.47.47,0,0,0-.49.49v3.28h1.15c1.37,0,2.28-.41,2.28-1.93s-.88-1.84-2.13-1.84Zm-.49,4.89v3.91a.46.46,0,0,0,.49.49h1c1.48,0,2.31-.62,2.31-2.14a2,2,0,0,0-2.28-2.26Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M285.19,134.27a1,1,0,0,0-.85.46v4.21c0,.49.16.64.92.72v.69h-4.37v-.69c.74-.08.93-.23.93-.72V135c0-.34-.12-.49-.42-.49h-.51v-.65l2.52-1.38h.93v1a2.83,2.83,0,0,1,2-1,1.28,1.28,0,0,1,1.45,1.32,1.17,1.17,0,0,1-1.13,1.3C285.67,135.13,285.74,134.27,285.19,134.27Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M290.12,136.55c0,1.94.6,2.95,2.05,2.95a2.85,2.85,0,0,0,2.42-1.83l.91.51a3.77,3.77,0,0,1-3.65,2.42c-2.72,0-4.33-1.7-4.33-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.68,3.61h-5.13A3.24,3.24,0,0,0,290.12,136.55Zm2.76-1.49c0-1-.5-1.56-1.24-1.56-.91,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M299.69,140.35h-1.8l-2.16-5.75c-.25-.71-.4-1.07-1-1.15v-.69h4.35v.69c-.79.08-.94.3-.63,1.15l1.09,2.94,1.12-3c-.25-.62-.44-1-.89-1.05v-.69H304v.69c-.79.08-1,.28-.68,1.15l1.07,2.9,1.09-2.9c.31-.85,0-1.07-.76-1.15v-.69h3.05v.69c-.58.08-.81.39-1.09,1.15l-2.12,5.75h-1.78l-1.6-4.26Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M309.74,136.55c0,1.94.6,2.95,2.05,2.95a2.85,2.85,0,0,0,2.42-1.83l.91.51a3.77,3.77,0,0,1-3.65,2.42c-2.72,0-4.33-1.7-4.33-4a3.89,3.89,0,0,1,4.07-4,3.33,3.33,0,0,1,3.67,3.61h-5.12A3.24,3.24,0,0,0,309.74,136.55Zm2.76-1.49c0-1-.5-1.56-1.24-1.56-.91,0-1.3.53-1.45,1.56Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M319.25,134.27a1.06,1.06,0,0,0-.85.46v4.21c0,.49.16.64.92.72v.69H315v-.69c.75-.08.93-.23.93-.72V135c0-.34-.12-.49-.42-.49H315v-.65l2.53-1.38h.92v1a2.83,2.83,0,0,1,2-1,1.29,1.29,0,0,1,1.46,1.32,1.18,1.18,0,0,1-1.14,1.3C319.73,135.13,319.8,134.27,319.25,134.27Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M323.15,143.63c-1,0-1.78-.56-1.78-1.41a1.07,1.07,0,0,1,1.1-1.11c.82,0,.92.78,1.5.78.31,0,.58-.28.74-.71l.17-.41-2.52-6.17c-.28-.71-.43-1.07-1.07-1.15v-.69h4.54v.69c-.84.08-1,.28-.69,1.15l1.11,2.8,1.15-2.8c.33-.85,0-1.07-.74-1.15v-.69h3v.69c-.58.08-.79.39-1.11,1.15l-2.9,7.12A2.71,2.71,0,0,1,323.15,143.63Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M91.38,36.49c0,9.6-7.28,15.83-19.82,15.83-13,0-22.83-6.44-22.83-17.58h12.6C61.33,40.06,66,42,71.56,42c4.69,0,7.21-1.83,7.21-4.35,0-4-5.39-4.9-12.46-7-8.62-2.52-16.18-6.24-16.18-15.48C50.13,4.27,58.67,0,69.46,0,81.15,0,90.33,6.16,90.68,16.32H78.07c-.56-3.78-3.78-6-8.61-6-3.78,0-6.73,1.19-6.73,4,0,3.08,3.16,4.06,9.46,5.81C81.65,22.69,91.38,25.78,91.38,36.49Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M109,1.12V20.73h17.16V1.12H138.8V51.2H126.19V31H109V51.2H96.42V1.12Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M157.29,40.76,154.07,51.2H141.46L159.6,1.12h12.61L190.28,51.2H177.67l-3.22-10.44Zm14.36-9.59L166,12.68h-.14l-5.67,18.49Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M206.39,1.12V21.43L223.83,1.12h14.71l-19,22.06,19.75,28H224.53l-13.1-19-5,5.74V51.2H193.78V1.12Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M277.06,20.31v10.3H255.21V40.9H281V51.2H242.6V1.12h38v10.3H255.21v8.89Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M77.27,65.81H62.7V55.52h41.67V65.81H89.87V105.6H77.27Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M104.86,80.52c0-15.06,8.9-26.12,24.8-26.12s24.79,11.06,24.79,26.12-9,26.2-24.79,26.2S104.86,95.65,104.86,80.52Zm37,0c0-8.68-3.09-15.83-12.19-15.83s-12.19,7.15-12.19,15.83,3,15.9,12.19,15.9S141.85,89.28,141.85,80.52Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M166.36,55.52l6.44,34h.14l7.78-34h11.9l7.78,34h.14l6.44-34h12.61L206.84,105.6h-12.6l-7.5-31.24h-.14l-7.49,31.24H166.5L153.75,55.52Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M223,55.52h12.61l17.51,29.77h.14V55.52h12.61V105.6H253.28L235.77,75.83h-.14V105.6H223Z"/>
      <path class="e84cf107-e578-40a8-af01-942f9ab7af33" d="M268.18,59.32a3.87,3.87,0,1,1,3.88,3.91A3.83,3.83,0,0,1,268.18,59.32Zm6.77,0a2.91,2.91,0,1,0-5.8,0,2.91,2.91,0,1,0,5.8,0Zm-4.59-2.1h2c.92,0,1.49.42,1.49,1.21a1,1,0,0,1-.84,1v0c1.05.18.66,1.81.9,1.87v.07h-1.1c-.21-.18.18-1.47-.73-1.47h-.66v1.47h-1.05Zm1.05,1.87h.73c.42,0,.65-.16.65-.5s-.23-.52-.65-.52h-.73Z"/>
</svg>
