{% assign fill_colour = fill_colour | default: '#F1EBD9' %}

{% case account %}
  {% when 'facebook' %}
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.92 24.92' style='fill: {{ fill_colour }};'>
      <path d='M21.57,0H3.36A3.35,3.35,0,0,0,0,3.36V21.57a3.35,3.35,0,0,0,3.36,3.35h9V16H10a.55.55,0,0,1-.55-.55V12.6a.55.55,0,0,1,.55-.55h2.31V9.28c0-3.22,2-5,4.84-5h2.35a.55.55,0,0,1,.55.54V7.28a.55.55,0,0,1-.55.54H18.09c-1.56,0-1.87.74-1.87,1.83v2.41h3.43a.55.55,0,0,1,.55.61l-.34,2.87a.56.56,0,0,1-.55.48H16.24l0,8.9h5.35a3.35,3.35,0,0,0,3.35-3.35V3.36A3.35,3.35,0,0,0,21.57,0Zm0,0'/>
      </svg>
  {% when 'instagram' %}
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' style='fill: {{ fill_colour }};'>
      <path d='M12.5,2.25c3.34,0,3.73,0,5.05.08a6.55,6.55,0,0,1,2.32.43,3.73,3.73,0,0,1,1.44.93,3.73,3.73,0,0,1,.93,1.44,6.55,6.55,0,0,1,.43,2.32c.06,1.32.08,1.71.08,5.05s0,3.73-.08,5.05a6.55,6.55,0,0,1-.43,2.32,4.07,4.07,0,0,1-2.37,2.37,6.55,6.55,0,0,1-2.32.43c-1.32.07-1.71.08-5.05.08s-3.73,0-5-.08a6.55,6.55,0,0,1-2.32-.43,3.73,3.73,0,0,1-1.44-.93,3.73,3.73,0,0,1-.93-1.44,6.55,6.55,0,0,1-.43-2.32c-.07-1.32-.08-1.71-.08-5.05s0-3.73.08-5a6.55,6.55,0,0,1,.43-2.32,3.73,3.73,0,0,1,.93-1.44,3.73,3.73,0,0,1,1.44-.93,6.55,6.55,0,0,1,2.32-.43c1.32-.06,1.71-.08,5.05-.08M12.5,0C9.11,0,8.68,0,7.35.08a9.2,9.2,0,0,0-3,.58A6,6,0,0,0,2.1,2.1,6,6,0,0,0,.66,4.31a9.2,9.2,0,0,0-.58,3C0,8.68,0,9.11,0,12.5s0,3.82.08,5.15a9.2,9.2,0,0,0,.58,3A6,6,0,0,0,2.1,22.9a6,6,0,0,0,2.21,1.44,9.2,9.2,0,0,0,3,.58C8.68,25,9.11,25,12.5,25s3.82,0,5.15-.08a9.2,9.2,0,0,0,3-.58,6.39,6.39,0,0,0,3.65-3.65,9.2,9.2,0,0,0,.58-3c.07-1.33.08-1.76.08-5.15s0-3.82-.08-5.15a9.2,9.2,0,0,0-.58-3A6,6,0,0,0,22.9,2.1,6,6,0,0,0,20.69.66a9.2,9.2,0,0,0-3-.58C16.32,0,15.89,0,12.5,0Zm0,6.08a6.42,6.42,0,1,0,6.42,6.42A6.41,6.41,0,0,0,12.5,6.08Zm0,10.59a4.17,4.17,0,1,1,4.17-4.17A4.17,4.17,0,0,1,12.5,16.67ZM20.67,5.83a1.5,1.5,0,1,1-1.5-1.5A1.5,1.5,0,0,1,20.67,5.83Z'/>
      </svg>
  {% when 'spotify' %}
  {% when 'twitter' %}
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.76 25' style='fill: {{ fill_colour }};'>
      <path d='M30.76,3a12.6,12.6,0,0,1-3.62,1A6.3,6.3,0,0,0,29.91.46,12.63,12.63,0,0,1,25.9,2,6.31,6.31,0,0,0,15,6.31a6.17,6.17,0,0,0,.16,1.44,17.92,17.92,0,0,1-13-6.59A6.33,6.33,0,0,0,4.09,9.58a6.26,6.26,0,0,1-2.85-.79v.08A6.31,6.31,0,0,0,6.3,15.06a6.52,6.52,0,0,1-1.66.22,6.58,6.58,0,0,1-1.19-.11,6.3,6.3,0,0,0,5.89,4.38,12.67,12.67,0,0,1-7.83,2.7A12.5,12.5,0,0,1,0,22.16,17.78,17.78,0,0,0,9.67,25c11.61,0,18-9.62,18-18,0-.27,0-.54,0-.81A12.56,12.56,0,0,0,30.76,3Z'/>
      </svg>
  {% else %}
    <p>No Account</p>
{% endcase %}
