{%- assign theme_classes = '' -%}

{%- if template.name == '404' -%}
	{%- assign theme_classes = theme_classes | append: 'error-404' | append: ' template--error-404' -%}
{%- else -%}
	{%- assign theme_classes = template.name -%}
	{%- if template.suffix -%}
		{%- assign theme_classes = theme_classes | append: ' ' | append: template.name | append: '--' | append: template.suffix -%}
	{%- else -%}
		{%- assign theme_classes = theme_classes | append: ' ' | append: template.name | append: '--default' -%}
	{%- endif -%}
	{%- assign theme_classes = theme_classes | append: ' template--' | append: template.name -%}
{%- endif -%}

{%- if template.directory != blank -%}
	{%- assign theme_classes = theme_classes | append:  ' ' | append: template.directory -%}
	{%- assign theme_classes = theme_classes | append: ' template--' | append: template.directory -%}
{%- endif -%}

{%- if customer -%}
	{%- assign theme_classes = theme_classes | append: ' customer-logged-in' -%}
{%- endif -%}

{{- theme_classes -}}
