{% comment %}
  Add Facebook and Pinterest Open Graph meta tags to product pages
  for friendly Facebook sharing and Pinterest pinning.

  More info Open Graph meta tags
    - https://developers.facebook.com/docs/opengraph/using-objects/
    - https://developers.pinterest.com/rich_pins/

  Use the Facebook Open Graph Debugger for validation (and cache clearing)
    - http://developers.facebook.com/tools/debug

  Validate your Pinterest rich pins
    - https://developers.pinterest.com/rich_pins/validator/
{% endcomment %}
{% if template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  {% for image in product.images limit:1 %}
  <meta property="og:image" content="http:{{ image.src | img_url: 'grande' }}">
  <meta property="og:image:secure_url" content="https:{{ image.src | img_url: 'grande' }}">
  {% endfor %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  {% assign img_tag = '<img' %}
  {% if article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      <meta property="og:image" content="http:{{ src }}">
      <meta property="og:image:secure_url" content="https:{{ src }}">
    {% endif %}
  {% endif %}
{% elsif template == 'password' %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ shop.name }}">
  <meta property="og:url" content="{{ shop.url }}">
  {% if settings.logo_use_image %}
  <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
  <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{ canonical_url }}">
  {% if settings.logo_use_image %}
  <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
  <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% endif %}
{% if page_description %}
  <meta property="og:description" content="{{ page_description }}">
{% endif %}
<meta property="og:site_name" content="{{ shop.name }}">

{% comment %}

  This snippet renders meta data needed to create a Twitter card
  for products and articles.

  Your cards must be approved by Twitter to be activated
    - https://dev.twitter.com/docs/cards/validation/validator

  More information:
   - https://dev.twitter.com/docs/cards/types/summary-card

{% endcomment %}

<meta name="twitter:card" content="summary">
{% comment %}
  Twitter user name of the site, based on theme settings
{% endcomment %}
{% unless settings.social_twitter_url == blank %}
  <meta name="twitter:site" content="@{{ settings.social_twitter_url | split: 'twitter.com/' | last }}">
{% endunless %}

{% if template contains 'product' %}
  <meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 50, '' | escape }}">
  <meta name="twitter:image" content="https:{{ product | img_url: 'medium' }}">
  <meta name="twitter:image:width" content="240">
  <meta name="twitter:image:height" content="240">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 50, '' | escape }}">
  {% comment %}
    Check if content contains an image to add to the card
      - Source: http://blog.viralica.com/2013/09/twitter-product-cards-on-shopify/
  {% endcomment %}
  {% if article.content contains '<img' %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      <meta property="twitter:image" content="https:{{ src }}">
    {% endif %}
  {% endif %}
{% endif %}
