{% assign fonts = "MousseScriptW00-Regular, NeueMontreal-Light, NeueMontreal-LightItalic, NeueMontreal-Regular, NeueMontreal-Italic, NeueMontreal-Bold, NeueMontreal-BoldItalic" | split: ', ' %}

{% for font in fonts %}
  {% assign font_file = font | append: '.woff2' %}
  {% assign font_url = font_file | asset_url %}
  <link rel="preload" href='{{ font_url }}' as="font" type="font/woff2" crossorigin>
{% endfor %}
