{% comment %}

  Use snippet like so...

  {%
    render 'theme--modal',
    cookie_expires: cookie_expires,
    id: 'age-gate',
    redirect_url: redirect_url,
    style: 'age-gate',
    timeout: timeout
  %}

{% endcomment %}

{% assign block_name = 'modal' %}

{% assign id = id | default: 'default' %}
{% assign style = style | default: 'default' %}

<div
  class='{{ block_name }} {{ id }} micromodal-slide'
  data-cookie-expires='{{ cookie_expires }}'
  data-modal-redirect-url='{{ redirect_url }}'
  data-modal-timeout='{{ timeout }}'
  data-style='{{ style }}'
  id='{{ block_name }}--{{ id }}'
  aria-hidden='true'
>
  <div class='{{ block_name }}__overlay' tabindex='-1' data-micromodal-close>
    <div class='{{ block_name }}__container' role='dialog' aria-{{ block_name }}='true'>
      {% case style %}
        {% when 'age-gate' %}
          {% render 'modal--age-gate' %}
        {% else %}
      {% endcase %}
    </div>
  </div>
</div>
