{% assign enable = settings.age-gate--enable %}
{% assign block_name = 'age-gate' %}

{% if enable %}

  {% assign timeout = settings.age-gate--timeout | default: 3000 %}
  {% assign redirect_url = settings.age-gate--redirect-url | default: "https://pbskids.org" %}
  {% assign days_saved = settings.age-gate--days-saved | default: 180 %}
  {% assign message = settings.age-gate--message | default: false %}

  <section
    id="{{ block_name }}"
    class="section section--{{ block_name }} {{ block_name }}"
    data-{{ block_name}}-timeout='{{ timeout }}'
    data-{{ block_name}}-days-saved='{{ days_saved }}'
    data-{{ block_name}}-redirect-url='{{ redirect_url }}'
  >
    <div class="{{ block_name }}__main">

        <div class="{{ block_name }}__content">

          <div class="{{ block_name }}__logo">
            <img src='{{ "SHAKE--logo--wordmark--green.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
          </div>

          {% if message %}
            {%
              render 'layout--shakey',
              class_modifier: 'age-gate',
              colour_theme: 'black',
              message: message
            %}
          {% endif %}

          <div class="{{ block_name }}__options">
            <button class="{{ block_name }}__button button button--outlined button--rounded button--green" type="button" data-{{ block_name}}-action="yes">Yes</button>
            <button class="{{ block_name }}__button button button--outlined button--rounded button--green" type="button" data-{{ block_name}}-action="no">No</button>
            <div class="{{ block_name }}__note"><p>We will remember your choice for {{ days_saved }} days.</p></div>
          </div>

          <div class="{{ block_name }}__block-watch">
            <img src='{{ "SHAKE--shaketown-block-watch--green.svg" | asset_url }}' alt='Shaketown Blockwatch Logo' />
          </div>

        </div>

    </div>
  </section>

{% endif %}
