{% comment %} ## Manually copy and paste latest compiled version of PoliteDepartmentAccomplices.min.js below... Be sure to not overwrite 'Store Object' {% endcomment %}

<script type="text/javascript" async>

var VP = VP || {};

VP.cart = {{ cart | json }};
VP.currency = {{ shop.currency | json }};
VP.orders = [];
VP.assets = {};

{% if template contains 'product' %}
	VP.product = {{ product | json }};
	VP.product.metafields = {{ product.metafields.general.page-colour | json }};
{% endif %}

{% if template contains 'collection' %}
	VP.collection = {{ collection | json }};
{% endif %}

{% if customer %}
  VP.customer = {{ customer | json }};
{% endif %}

VP.stockists = [
    {
        "name": "Graphic Shoes",
        "group": "Vancouver & Lower Mainland",
        "address": "813 10th Ave E ",
        "address2": "",
        "city": "Vancouver",
        "region": "BC",
        "postal": "V6K 1H10",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Darby's Liquor Store",
        "group": "Vancouver & Lower Mainland",
        "address": "2001 Macdonald St",
        "address2": "Unit A",
        "city": "Vancouver",
        "region": "BC",
        "postal": "V6K 3Y2",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Shoes United",
        "group": "Vancouver & Lower Mainland",
        "address": "7168 Oak St",
        "address2": "309",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Hard Shoes",
        "group": "Vancouver Island",
        "address": "4027 15th Ave W",
        "address2": "",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Liquor Bargain",
        "group": "Vancouver Island",
        "address": "1450 Georgia St W",
        "address2": "1408",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Dominion Liquor",
        "group": "Vancouver Island",
        "address": "2255 W 8th",
        "address2": "110",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Brick Liquor",
        "group": "Interior & Northern BC",
        "address": "678 45th Ave W",
        "address2": "305",
        "city": "Vancouver",
        "region": "BC",
        "postal": "V7K 1S1",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Another Sample Company",
        "group": "Interior & Northern BC",
        "address": "1234 Main St",
        "address2": "380",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Brick Liquor 02",
        "group": "Interior & Northern BC",
        "address": "679 45th Ave W",
        "address2": "455",
        "city": "Vancouver",
        "region": "BC",
        "postal": "V6R 1E9",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Another Sample Company 02",
        "group": "Interior & Northern BC",
        "address": "1235 Main St",
        "address2": "530",
        "city": "Vancouver",
        "region": "BC",
        "postal": "V6M 4L8",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Brick Liquor 03",
        "group": "Interior & Northern BC",
        "address": "680 45th Ave W",
        "address2": "605",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Another Sample Company 03",
        "group": "Interior & Northern BC",
        "address": "1236 Main St",
        "address2": "680",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Brick Liquor 04",
        "group": "Interior & Northern BC",
        "address": "681 45th Ave W",
        "address2": "755",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Another Sample Company 04",
        "group": "Vancouver Island",
        "address": "1237 Main St",
        "address2": "830",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Brick Liquor 05",
        "group": "Vancouver Island",
        "address": "682 45th Ave W",
        "address2": "905",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    },
    {
        "name": "Another Sample Company 05",
        "group": "Vancouver Island",
        "address": "1237 Main St",
        "address2": "830",
        "city": "Vancouver",
        "region": "BC",
        "postal": "",
        "country": "Canada",
        "phone": "",
        "email": ""
    }
	];

/*! lazysizes - v5.3.2 */
!function(t){var e=function(t,e,n){"use strict";var i,a;if(function(){var e,n={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",fastLoadedClass:"ls-is-cached",iframeLoadMode:0,srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:!0,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:!0,ricTimeout:0,throttleDelay:125};for(e in a=t.lazySizesConfig||t.lazysizesConfig||{},n)e in a||(a[e]=n[e])}(),!e||!e.getElementsByClassName)return{init:function(){},cfg:a,noSupport:!0};var o=e.documentElement,s=t.HTMLPictureElement,r="addEventListener",$="getAttribute",l=t[r].bind(t),c=t.setTimeout,u=t.requestAnimationFrame||c,f=t.requestIdleCallback,d=/^picture$/i,h=["load","error","lazyincluded","_lazyloaded"],p={},g=Array.prototype.forEach,v=function(t,e){return p[e]||(p[e]=new RegExp("(\\s|^)"+e+"(\\s|$)")),p[e].test(t[$]("class")||"")&&p[e]},m=function(t,e){v(t,e)||t.setAttribute("class",(t[$]("class")||"").trim()+" "+e)},y=function(t,e){var n;(n=v(t,e))&&t.setAttribute("class",(t[$]("class")||"").replace(n," "))},w=function(t,e,n){var i=n?r:"removeEventListener";n&&w(t,e),h.forEach((function(n){t[i](n,e)}))},b=function(t,n,a,o,s){var r=e.createEvent("Event");return a||(a={}),a.instance=i,r.initEvent(n,!o,!s),r.detail=a,t.dispatchEvent(r),r},z=function(e,n){var i;!s&&(i=t.picturefill||a.pf)?(n&&n.src&&!e[$]("srcset")&&e.setAttribute("srcset",n.src),i({reevaluate:!0,elements:[e]})):n&&n.src&&(e.src=n.src)},C=function(t,e){return(getComputedStyle(t,null)||{})[e]},A=function(t,e,n){for(n=n||t.offsetWidth;n<a.minSize&&e&&!t._lazysizesWidth;)n=e.offsetWidth,e=e.parentNode;return n},E=function(){var t,n,i=[],a=[],o=i,s=function(){var e=o;for(o=i.length?a:i,t=!0,n=!1;e.length;)e.shift()();t=!1},r=function(i,a){t&&!a?i.apply(this,arguments):(o.push(i),n||(n=!0,(e.hidden?c:u)(s)))};return r._lsFlush=s,r}(),_=function(t,e){return e?function(){E(t)}:function(){var e=this,n=arguments;E((function(){t.apply(e,n)}))}},x=function(t){var e,i=0,o=a.throttleDelay,s=a.ricTimeout,r=function(){e=!1,i=n.now(),t()},l=f&&s>49?function(){f(r,{timeout:s}),s!==a.ricTimeout&&(s=a.ricTimeout)}:_((function(){c(r)}),!0);return function(t){var a;(t=!0===t)&&(s=33),e||(e=!0,(a=o-(n.now()-i))<0&&(a=0),t||a<9?l():c(l,a))}},N=function(t){var e,i,a=function(){e=null,t()},o=function(){var t=n.now()-i;t<99?c(o,99-t):(f||a)(a)};return function(){i=n.now(),e||(e=c(o,99))}},S=function(){var s,f,h,p,A,S,k,T,j,M,W,F,B=/^img$/i,O=/^iframe$/i,I="onscroll"in t&&!/(gle|ing)bot/.test(navigator.userAgent),P=0,q=0,D=-1,R=function(t){q--,(!t||q<0||!t.target)&&(q=0)},H=function(t){return null==F&&(F="hidden"==C(e.body,"visibility")),F||!("hidden"==C(t.parentNode,"visibility")&&"hidden"==C(t,"visibility"))},J=function(t,n){var i,a=t,s=H(t);for(T-=n,W+=n,j-=n,M+=n;s&&(a=a.offsetParent)&&a!=e.body&&a!=o;)(s=(C(a,"opacity")||1)>0)&&"visible"!=C(a,"overflow")&&(i=a.getBoundingClientRect(),s=M>i.left&&j<i.right&&W>i.top-1&&T<i.bottom+1);return s},U=function(){var t,n,r,l,c,u,d,h,g,v,m,y,w=i.elements;if((p=a.loadMode)&&q<8&&(t=w.length)){for(n=0,D++;n<t;n++)if(w[n]&&!w[n]._lazyRace)if(!I||i.prematureUnveil&&i.prematureUnveil(w[n]))Z(w[n]);else if((h=w[n][$]("data-expand"))&&(u=1*h)||(u=P),v||(v=!a.expand||a.expand<1?o.clientHeight>500&&o.clientWidth>500?500:370:a.expand,i._defEx=v,m=v*a.expFactor,y=a.hFac,F=null,P<m&&q<1&&D>2&&p>2&&!e.hidden?(P=m,D=0):P=p>1&&D>1&&q<6?v:0),g!==u&&(S=innerWidth+u*y,k=innerHeight+u,d=-1*u,g=u),r=w[n].getBoundingClientRect(),(W=r.bottom)>=d&&(T=r.top)<=k&&(M=r.right)>=d*y&&(j=r.left)<=S&&(W||M||j||T)&&(a.loadHidden||H(w[n]))&&(f&&q<3&&!h&&(p<3||D<4)||J(w[n],u))){if(Z(w[n]),c=!0,q>9)break}else!c&&f&&!l&&q<4&&D<4&&p>2&&(s[0]||a.preloadAfterLoad)&&(s[0]||!h&&(W||M||j||T||"auto"!=w[n][$](a.sizesAttr)))&&(l=s[0]||w[n]);l&&!c&&Z(l)}},V=x(U),G=function(t){var e=t.target;e._lazyCache?delete e._lazyCache:(R(t),m(e,a.loadedClass),y(e,a.loadingClass),w(e,X),b(e,"lazyloaded"))},K=_(G),X=function(t){K({target:t.target})},Q=function(t){var e,n=t[$](a.srcsetAttr);(e=a.customMedia[t[$]("data-media")||t[$]("media")])&&t.setAttribute("media",e),n&&t.setAttribute("srcset",n)},Y=_((function(t,e,n,i,o){var s,r,l,u,f,p;(f=b(t,"lazybeforeunveil",e)).defaultPrevented||(i&&(n?m(t,a.autosizesClass):t.setAttribute("sizes",i)),r=t[$](a.srcsetAttr),s=t[$](a.srcAttr),o&&(u=(l=t.parentNode)&&d.test(l.nodeName||"")),p=e.firesLoad||"src"in t&&(r||s||u),f={target:t},m(t,a.loadingClass),p&&(clearTimeout(h),h=c(R,2500),w(t,X,!0)),u&&g.call(l.getElementsByTagName("source"),Q),r?t.setAttribute("srcset",r):s&&!u&&(O.test(t.nodeName)?function(t,e){var n=t.getAttribute("data-load-mode")||a.iframeLoadMode;0==n?t.contentWindow.location.replace(e):1==n&&(t.src=e)}(t,s):t.src=s),o&&(r||u)&&z(t,{src:s})),t._lazyRace&&delete t._lazyRace,y(t,a.lazyClass),E((function(){var e=t.complete&&t.naturalWidth>1;p&&!e||(e&&m(t,a.fastLoadedClass),G(f),t._lazyCache=!0,c((function(){"_lazyCache"in t&&delete t._lazyCache}),9)),"lazy"==t.loading&&q--}),!0)})),Z=function(t){if(!t._lazyRace){var e,n=B.test(t.nodeName),i=n&&(t[$](a.sizesAttr)||t[$]("sizes")),o="auto"==i;(!o&&f||!n||!t[$]("src")&&!t.srcset||t.complete||v(t,a.errorClass)||!v(t,a.lazyClass))&&(e=b(t,"lazyunveilread").detail,o&&L.updateElem(t,!0,t.offsetWidth),t._lazyRace=!0,q++,Y(t,e,o,i,n))}},tt=N((function(){a.loadMode=3,V()})),et=function(){3==a.loadMode&&(a.loadMode=2),tt()},nt=function(){f||(n.now()-A<999?c(nt,999):(f=!0,a.loadMode=3,V(),l("scroll",et,!0)))};return{_:function(){A=n.now(),i.elements=e.getElementsByClassName(a.lazyClass),s=e.getElementsByClassName(a.lazyClass+" "+a.preloadClass),l("scroll",V,!0),l("resize",V,!0),l("pageshow",(function(t){if(t.persisted){var n=e.querySelectorAll("."+a.loadingClass);n.length&&n.forEach&&u((function(){n.forEach((function(t){t.complete&&Z(t)}))}))}})),t.MutationObserver?new MutationObserver(V).observe(o,{childList:!0,subtree:!0,attributes:!0}):(o[r]("DOMNodeInserted",V,!0),o[r]("DOMAttrModified",V,!0),setInterval(V,999)),l("hashchange",V,!0),["focus","mouseover","click","load","transitionend","animationend"].forEach((function(t){e[r](t,V,!0)})),/d$|^c/.test(e.readyState)?nt():(l("load",nt),e[r]("DOMContentLoaded",V),c(nt,2e4)),i.elements.length?(U(),E._lsFlush()):V()},checkElems:V,unveil:Z,_aLSL:et}}(),L=function(){var t,n=_((function(t,e,n,i){var a,o,s;if(t._lazysizesWidth=i,i+="px",t.setAttribute("sizes",i),d.test(e.nodeName||""))for(o=0,s=(a=e.getElementsByTagName("source")).length;o<s;o++)a[o].setAttribute("sizes",i);n.detail.dataAttr||z(t,n.detail)})),i=function(t,e,i){var a,o=t.parentNode;o&&(i=A(t,o,i),(a=b(t,"lazybeforesizes",{width:i,dataAttr:!!e})).defaultPrevented||(i=a.detail.width)&&i!==t._lazysizesWidth&&n(t,o,a,i))},o=N((function(){var e,n=t.length;if(n)for(e=0;e<n;e++)i(t[e])}));return{_:function(){t=e.getElementsByClassName(a.autosizesClass),l("resize",o)},checkElems:o,updateElem:i}}(),k=function(){!k.i&&e.getElementsByClassName&&(k.i=!0,L._(),S._())};return c((function(){a.init&&k()})),i={cfg:a,autoSizer:L,loader:S,init:k,uP:z,aC:m,rC:y,hC:v,fire:b,gW:A,rAF:E}}(t,t.document,Date);t.lazySizes=e,"object"==typeof module&&module.exports&&(module.exports=e)}("undefined"!=typeof window?window:{}),function(t,e){var n=function(){e(t.lazySizes),t.removeEventListener("lazyunveilread",n,!0)};e=e.bind(null,t,t.document),"object"==typeof module&&module.exports?e(require("lazysizes")):"function"==typeof define&&define.amd?define(["lazysizes"],e):t.lazySizes?n():t.addEventListener("lazyunveilread",n,!0)}(window,(function(t,e,n){"use strict";var i,a,o={};function s(t,n,i){var a,s;o[t]||(a=e.createElement(n?"link":"script"),s=e.getElementsByTagName("script")[0],n?(a.rel="stylesheet",a.href=t):(a.onload=function(){a.onerror=null,a.onload=null,i()},a.onerror=a.onload,a.src=t),o[t]=!0,o[a.src||a.href]=!0,s.parentNode.insertBefore(a,s))}e.addEventListener&&(i=function(t,n){var i=e.createElement("img");i.onload=function(){i.onload=null,i.onerror=null,i=null,n()},i.onerror=i.onload,i.src=t,i&&i.complete&&i.onload&&i.onload()},addEventListener("lazybeforeunveil",(function(t){var e,o,r;if(t.detail.instance==n&&!t.defaultPrevented){var l=t.target;if("none"==l.preload&&(l.preload=l.getAttribute("data-preload")||"auto"),null!=l.getAttribute("data-autoplay"))if(l.getAttribute("data-expand")&&!l.autoplay)try{l.play()}catch(t){}else requestAnimationFrame((function(){l.setAttribute("data-expand","-10"),n.aC(l,n.cfg.lazyClass)}));(e=l.getAttribute("data-link"))&&s(e,!0),(e=l.getAttribute("data-script"))&&(t.detail.firesLoad=!0,s(e,null,(function(){t.detail.firesLoad=!1,n.fire(l,"_lazyloaded",{},!0,!0)}))),(e=l.getAttribute("data-require"))&&(n.cfg.requireJs?n.cfg.requireJs([e]):s(e)),(o=l.getAttribute("data-bg"))&&(t.detail.firesLoad=!0,i(o,(function(){l.style.backgroundImage="url("+(a.test(o)?JSON.stringify(o):o)+")",t.detail.firesLoad=!1,n.fire(l,"_lazyloaded",{},!0,!0)}))),(r=l.getAttribute("data-poster"))&&(t.detail.firesLoad=!0,i(r,(function(){l.poster=r,t.detail.firesLoad=!1,n.fire(l,"_lazyloaded",{},!0,!0)})))}}),!(a=/\(|\)|\s|'/)))})),function(t,e){var n;t&&(n=function(){e(t.lazySizes),t.removeEventListener("lazyunveilread",n,!0)},e=e.bind(null,t,t.document),"object"==typeof module&&module.exports?e(require("lazysizes")):"function"==typeof define&&define.amd?define(["lazysizes"],e):t.lazySizes?n():t.addEventListener("lazyunveilread",n,!0))}("undefined"!=typeof window?window:0,(function(t,e,n){"use strict";var i=function(){function a(t){for(var e,i,a=0,o=t.length;a<o;a++)(i=(e=t[a]).target).getAttribute(e.attributeName)&&("source"==i.localName&&i.parentNode&&(i=i.parentNode.querySelector("img")),i&&h.test(i.className)&&function(t){n.rAF((function(){n.rC(t,f.loadedClass),f.unloadedClass&&n.rC(t,f.unloadedClass),n.aC(t,f.lazyClass),("none"==t.style.display||t.parentNode&&"none"==t.parentNode.style.display)&&setTimeout((function(){n.loader.unveil(t)}),0)}))}(i))}var o,s,r,l,c,u,f=n.cfg,d={"data-bgset":1,"data-include":1,"data-poster":1,"data-bg":1,"data-script":1},h="(\\s|^)("+f.loadedClass,p=e.documentElement;function g(){a(u),c=!(u=[])}f.unloadedClass&&(h+="|"+f.unloadedClass),h+="|"+f.loadingClass+")(\\s|$)",h=new RegExp(h),d[f.srcAttr]=1,d[f.srcsetAttr]=1,s=t.MutationObserver?(r=new MutationObserver(a),o=function(){l||(l=!0,r.observe(p,{subtree:!0,attributes:!0,attributeFilter:Object.keys(d)}))},function(){l&&(l=!1,r.disconnect())}):(p.addEventListener("DOMAttrModified",(u=[],function(t){l&&d[t.attrName]&&t.newValue&&(u.push({target:t.target,attributeName:t.attrName}),c||(setTimeout(g),c=!0))}),!0),o=function(){l=!0},function(){l=!1}),addEventListener("lazybeforeunveil",s,!0),addEventListener("lazybeforeunveil",o),addEventListener("lazybeforesizes",s,!0),addEventListener("lazybeforesizes",o),o(),removeEventListener("lazybeforeunveil",i)};addEventListener("lazybeforeunveil",i)})),function(){function t(t,e,n){return t.call.apply(t.bind,arguments)}function e(t,e,n){if(!t)throw Error();if(2<arguments.length){var i=Array.prototype.slice.call(arguments,2);return function(){var n=Array.prototype.slice.call(arguments);return Array.prototype.unshift.apply(n,i),t.apply(e,n)}}return function(){return t.apply(e,arguments)}}function n(i,a,o){return(n=Function.prototype.bind&&-1!=Function.prototype.bind.toString().indexOf("native code")?t:e).apply(null,arguments)}var i=Date.now||function(){return+new Date};function a(t,e){this.a=t,this.o=e||t,this.c=this.o.document}var o=!!window.FontFace;function s(t,e,n,i){if(e=t.c.createElement(e),n)for(var a in n)n.hasOwnProperty(a)&&("style"==a?e.style.cssText=n[a]:e.setAttribute(a,n[a]));return i&&e.appendChild(t.c.createTextNode(i)),e}function r(t,e,n){(t=t.c.getElementsByTagName(e)[0])||(t=document.documentElement),t.insertBefore(n,t.lastChild)}function l(t){t.parentNode&&t.parentNode.removeChild(t)}function c(t,e,n){e=e||[],n=n||[];for(var i=t.className.split(/\s+/),a=0;a<e.length;a+=1){for(var o=!1,s=0;s<i.length;s+=1)if(e[a]===i[s]){o=!0;break}o||i.push(e[a])}for(e=[],a=0;a<i.length;a+=1){for(o=!1,s=0;s<n.length;s+=1)if(i[a]===n[s]){o=!0;break}o||e.push(i[a])}t.className=e.join(" ").replace(/\s+/g," ").replace(/^\s+|\s+$/,"")}function u(t,e){for(var n=t.className.split(/\s+/),i=0,a=n.length;i<a;i++)if(n[i]==e)return!0;return!1}function f(t,e,n){function i(){u&&a&&l&&(u(c),u=null)}e=s(t,"link",{rel:"stylesheet",href:e,media:"all"});var a=!1,l=!0,c=null,u=n||null;o?(e.onload=function(){a=!0,i()},e.onerror=function(){a=!0,c=Error("Stylesheet failed to load"),i()}):setTimeout((function(){a=!0,i()}),0),r(t,"head",e)}function d(t,e,n,i){var a=t.c.getElementsByTagName("head")[0];if(a){var o=s(t,"script",{src:e}),r=!1;return o.onload=o.onreadystatechange=function(){r||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState||(r=!0,n&&n(null),o.onload=o.onreadystatechange=null,"HEAD"==o.parentNode.tagName&&a.removeChild(o))},a.appendChild(o),setTimeout((function(){r||(r=!0,n&&n(Error("Script load timeout")))}),i||5e3),o}return null}function h(){this.a=0,this.c=null}function p(t){return t.a++,function(){t.a--,v(t)}}function g(t,e){t.c=e,v(t)}function v(t){0==t.a&&t.c&&(t.c(),t.c=null)}function m(t){this.a=t||"-"}function y(t,e){this.c=t,this.f=4,this.a="n";var n=(e||"n4").match(/^([nio])([1-9])$/i);n&&(this.a=n[1],this.f=parseInt(n[2],10))}function w(t){var e=[];t=t.split(/,\s*/);for(var n=0;n<t.length;n++){var i=t[n].replace(/['"]/g,"");-1!=i.indexOf(" ")||/^\d/.test(i)?e.push("'"+i+"'"):e.push(i)}return e.join(",")}function b(t){return t.a+t.f}function z(t){var e="normal";return"o"===t.a?e="oblique":"i"===t.a&&(e="italic"),e}function C(t){var e=4,n="n",i=null;return t&&((i=t.match(/(normal|oblique|italic)/i))&&i[1]&&(n=i[1].substr(0,1).toLowerCase()),(i=t.match(/([1-9]00|normal|bold)/i))&&i[1]&&(/bold/i.test(i[1])?e=7:/[1-9]00/.test(i[1])&&(e=parseInt(i[1].substr(0,1),10)))),n+e}function A(t,e){this.c=t,this.f=t.o.document.documentElement,this.h=e,this.a=new m("-"),this.j=!1!==e.events,this.g=!1!==e.classes}function E(t){if(t.g){var e=u(t.f,t.a.c("wf","active")),n=[],i=[t.a.c("wf","loading")];e||n.push(t.a.c("wf","inactive")),c(t.f,n,i)}_(t,"inactive")}function _(t,e,n){t.j&&t.h[e]&&(n?t.h[e](n.c,b(n)):t.h[e]())}function x(){this.c={}}function N(t,e){this.c=t,this.f=e,this.a=s(this.c,"span",{"aria-hidden":"true"},this.f)}function S(t){r(t.c,"body",t.a)}function L(t){return"display:block;position:absolute;top:-9999px;left:-9999px;font-size:300px;width:auto;height:auto;line-height:normal;margin:0;padding:0;font-variant:normal;white-space:nowrap;font-family:"+w(t.c)+";font-style:"+z(t)+";font-weight:"+t.f+"00;"}function k(t,e,n,i,a,o){this.g=t,this.j=e,this.a=i,this.c=n,this.f=a||3e3,this.h=o||void 0}function T(t,e,n,i,a,o,s){this.v=t,this.B=e,this.c=n,this.a=i,this.s=s||"BESbswy",this.f={},this.w=a||3e3,this.u=o||null,this.m=this.j=this.h=this.g=null,this.g=new N(this.c,this.s),this.h=new N(this.c,this.s),this.j=new N(this.c,this.s),this.m=new N(this.c,this.s),t=L(t=new y(this.a.c+",serif",b(this.a))),this.g.a.style.cssText=t,t=L(t=new y(this.a.c+",sans-serif",b(this.a))),this.h.a.style.cssText=t,t=L(t=new y("serif",b(this.a))),this.j.a.style.cssText=t,t=L(t=new y("sans-serif",b(this.a))),this.m.a.style.cssText=t,S(this.g),S(this.h),S(this.j),S(this.m)}m.prototype.c=function(t){for(var e=[],n=0;n<arguments.length;n++)e.push(arguments[n].replace(/[\W_]+/g,"").toLowerCase());return e.join(this.a)},k.prototype.start=function(){var t=this.c.o.document,e=this,n=i(),a=new Promise((function(a,o){!function s(){i()-n>=e.f?o():t.fonts.load(function(t){return z(t)+" "+t.f+"00 300px "+w(t.c)}(e.a),e.h).then((function(t){1<=t.length?a():setTimeout(s,25)}),(function(){o()}))}()})),o=null,s=new Promise((function(t,n){o=setTimeout(n,e.f)}));Promise.race([s,a]).then((function(){o&&(clearTimeout(o),o=null),e.g(e.a)}),(function(){e.j(e.a)}))};var j={D:"serif",C:"sans-serif"},M=null;function W(){if(null===M){var t=/AppleWebKit\/([0-9]+)(?:\.([0-9]+))/.exec(window.navigator.userAgent);M=!!t&&(536>parseInt(t[1],10)||536===parseInt(t[1],10)&&11>=parseInt(t[2],10))}return M}function F(t,e,n){for(var i in j)if(j.hasOwnProperty(i)&&e===t.f[j[i]]&&n===t.f[j[i]])return!0;return!1}function B(t){var e,a=t.g.a.offsetWidth,o=t.h.a.offsetWidth;(e=a===t.f.serif&&o===t.f["sans-serif"])||(e=W()&&F(t,a,o)),e?i()-t.A>=t.w?W()&&F(t,a,o)&&(null===t.u||t.u.hasOwnProperty(t.a.c))?O(t,t.v):O(t,t.B):function(t){setTimeout(n((function(){B(this)}),t),50)}(t):O(t,t.v)}function O(t,e){setTimeout(n((function(){l(this.g.a),l(this.h.a),l(this.j.a),l(this.m.a),e(this.a)}),t),0)}function I(t,e,n){this.c=t,this.a=e,this.f=0,this.m=this.j=!1,this.s=n}T.prototype.start=function(){this.f.serif=this.j.a.offsetWidth,this.f["sans-serif"]=this.m.a.offsetWidth,this.A=i(),B(this)};var P=null;function q(t){0==--t.f&&t.j&&(t.m?((t=t.a).g&&c(t.f,[t.a.c("wf","active")],[t.a.c("wf","loading"),t.a.c("wf","inactive")]),_(t,"active")):E(t.a))}function D(t){this.j=t,this.a=new x,this.h=0,this.f=this.g=!0}function R(t,e,i,a,o){var s=0==--t.h;(t.f||t.g)&&setTimeout((function(){var t=o||null,r=a||{};if(0===i.length&&s)E(e.a);else{e.f+=i.length,s&&(e.j=s);var l,u=[];for(l=0;l<i.length;l++){var f=i[l],d=r[f.c],h=e.a,p=f;if(h.g&&c(h.f,[h.a.c("wf",p.c,b(p).toString(),"loading")]),_(h,"fontloading",p),h=null,null===P)if(window.FontFace){p=/Gecko.*Firefox\/(\d+)/.exec(window.navigator.userAgent);var g=/OS X.*Version\/10\..*Safari/.exec(window.navigator.userAgent)&&/Apple/.exec(window.navigator.vendor);P=p?42<parseInt(p[1],10):!g}else P=!1;h=P?new k(n(e.g,e),n(e.h,e),e.c,f,e.s,d):new T(n(e.g,e),n(e.h,e),e.c,f,e.s,t,d),u.push(h)}for(l=0;l<u.length;l++)u[l].start()}}),0)}function H(t,e){this.c=t,this.a=e}function J(t,e){this.c=t,this.a=e}function U(t,e){this.c=t||V,this.a=[],this.f=[],this.g=e||""}I.prototype.g=function(t){var e=this.a;e.g&&c(e.f,[e.a.c("wf",t.c,b(t).toString(),"active")],[e.a.c("wf",t.c,b(t).toString(),"loading"),e.a.c("wf",t.c,b(t).toString(),"inactive")]),_(e,"fontactive",t),this.m=!0,q(this)},I.prototype.h=function(t){var e=this.a;if(e.g){var n=u(e.f,e.a.c("wf",t.c,b(t).toString(),"active")),i=[],a=[e.a.c("wf",t.c,b(t).toString(),"loading")];n||i.push(e.a.c("wf",t.c,b(t).toString(),"inactive")),c(e.f,i,a)}_(e,"fontinactive",t),q(this)},D.prototype.load=function(t){this.c=new a(this.j,t.context||this.j),this.g=!1!==t.events,this.f=!1!==t.classes,function(t,e,n){var i=[],a=n.timeout;!function(t){t.g&&c(t.f,[t.a.c("wf","loading")]),_(t,"loading")}(e);i=function(t,e,n){var i,a=[];for(i in e)if(e.hasOwnProperty(i)){var o=t.c[i];o&&a.push(o(e[i],n))}return a}(t.a,n,t.c);var o=new I(t.c,e,a);for(t.h=i.length,e=0,n=i.length;e<n;e++)i[e].load((function(e,n,i){R(t,o,e,n,i)}))}(this,new A(this.c,t),t)},H.prototype.load=function(t){function e(){if(o["__mti_fntLst"+i]){var n,a=o["__mti_fntLst"+i](),s=[];if(a)for(var r=0;r<a.length;r++){var l=a[r].fontfamily;null!=a[r].fontStyle&&null!=a[r].fontWeight?(n=a[r].fontStyle+a[r].fontWeight,s.push(new y(l,n))):s.push(new y(l))}t(s)}else setTimeout((function(){e()}),50)}var n=this,i=n.a.projectId,a=n.a.version;if(i){var o=n.c.o;d(this.c,(n.a.api||"https://fast.fonts.net/jsapi")+"/"+i+".js"+(a?"?v="+a:""),(function(a){a?t([]):(o["__MonotypeConfiguration__"+i]=function(){return n.a},e())})).id="__MonotypeAPIScript__"+i}else t([])},J.prototype.load=function(t){var e,n,i=this.a.urls||[],a=this.a.families||[],o=this.a.testStrings||{},s=new h;for(e=0,n=i.length;e<n;e++)f(this.c,i[e],p(s));var r=[];for(e=0,n=a.length;e<n;e++)if((i=a[e].split(":"))[1])for(var l=i[1].split(","),c=0;c<l.length;c+=1)r.push(new y(i[0],l[c]));else r.push(new y(i[0]));g(s,(function(){t(r,o)}))};var V="https://fonts.googleapis.com/css";function G(t){this.f=t,this.a=[],this.c={}}var K={latin:"BESbswy","latin-ext":"çöüğş",cyrillic:"йяЖ",greek:"αβΣ",khmer:"កខគ",Hanuman:"កខគ"},X={thin:"1",extralight:"2","extra-light":"2",ultralight:"2","ultra-light":"2",light:"3",regular:"4",book:"4",medium:"5","semi-bold":"6",semibold:"6","demi-bold":"6",demibold:"6",bold:"7","extra-bold":"8",extrabold:"8","ultra-bold":"8",ultrabold:"8",black:"9",heavy:"9",l:"3",r:"4",b:"7"},Q={i:"i",italic:"i",n:"n",normal:"n"},Y=/^(thin|(?:(?:extra|ultra)-?)?light|regular|book|medium|(?:(?:semi|demi|extra|ultra)-?)?bold|black|heavy|l|r|b|[1-9]00)?(n|i|normal|italic)?$/;function Z(t,e){this.c=t,this.a=e}var tt={Arimo:!0,Cousine:!0,Tinos:!0};function et(t,e){this.c=t,this.a=e}function nt(t,e){this.c=t,this.f=e,this.a=[]}Z.prototype.load=function(t){var e=new h,n=this.c,i=new U(this.a.api,this.a.text),a=this.a.families;!function(t,e){for(var n=e.length,i=0;i<n;i++){var a=e[i].split(":");3==a.length&&t.f.push(a.pop());var o="";2==a.length&&""!=a[1]&&(o=":"),t.a.push(a.join(o))}}(i,a);var o=new G(a);!function(t){for(var e=t.f.length,n=0;n<e;n++){var i=t.f[n].split(":"),a=i[0].replace(/\+/g," "),o=["n4"];if(2<=i.length){var s;if(s=[],r=i[1])for(var r,l=(r=r.split(",")).length,c=0;c<l;c++){var u;if((u=r[c]).match(/^[\w-]+$/))if(null==(f=Y.exec(u.toLowerCase())))u="";else{if(u=null==(u=f[2])||""==u?"n":Q[u],null==(f=f[1])||""==f)f="4";else var f=X[f]||(isNaN(f)?"4":f.substr(0,1));u=[u,f].join("")}else u="";u&&s.push(u)}0<s.length&&(o=s),3==i.length&&(s=[],0<(i=(i=i[2])?i.split(","):s).length&&(i=K[i[0]])&&(t.c[a]=i))}for(t.c[a]||(i=K[a])&&(t.c[a]=i),i=0;i<o.length;i+=1)t.a.push(new y(a,o[i]))}}(o),f(n,function(t){if(0==t.a.length)throw Error("No fonts to load!");if(-1!=t.c.indexOf("kit="))return t.c;for(var e=t.a.length,n=[],i=0;i<e;i++)n.push(t.a[i].replace(/ /g,"+"));return e=t.c+"?family="+n.join("%7C"),0<t.f.length&&(e+="&subset="+t.f.join(",")),0<t.g.length&&(e+="&text="+encodeURIComponent(t.g)),e}(i),p(e)),g(e,(function(){t(o.a,o.c,tt)}))},et.prototype.load=function(t){var e=this.a.id,n=this.c.o;e?d(this.c,(this.a.api||"https://use.typekit.net")+"/"+e+".js",(function(e){if(e)t([]);else if(n.Typekit&&n.Typekit.config&&n.Typekit.config.fn){e=n.Typekit.config.fn;for(var i=[],a=0;a<e.length;a+=2)for(var o=e[a],s=e[a+1],r=0;r<s.length;r++)i.push(new y(o,s[r]));try{n.Typekit.load({events:!1,classes:!1,async:!0})}catch(t){}t(i)}}),2e3):t([])},nt.prototype.load=function(t){var e=this.f.id,n=this.c.o,i=this;e?(n.__webfontfontdeckmodule__||(n.__webfontfontdeckmodule__={}),n.__webfontfontdeckmodule__[e]=function(e,n){for(var a=0,o=n.fonts.length;a<o;++a){var s=n.fonts[a];i.a.push(new y(s.name,C("font-weight:"+s.weight+";font-style:"+s.style)))}t(i.a)},d(this.c,(this.f.api||"https://f.fontdeck.com/s/css/js/")+function(t){return t.o.location.hostname||t.a.location.hostname}(this.c)+"/"+e+".js",(function(e){e&&t([])}))):t([])};var it=new D(window);it.a.c.custom=function(t,e){return new J(e,t)},it.a.c.fontdeck=function(t,e){return new nt(e,t)},it.a.c.monotype=function(t,e){return new H(e,t)},it.a.c.typekit=function(t,e){return new et(e,t)},it.a.c.google=function(t,e){return new Z(e,t)};var at={load:n(it.load,it)};"function"==typeof define&&define.amd?define((function(){return at})):"undefined"!=typeof module&&module.exports?module.exports=at:(window.WebFont=at,window.WebFontConfig&&it.load(window.WebFontConfig))}(),window.lazySizesConfig=window.lazySizesConfig||{},window.lazySizesConfig.lazyClass="lazyload",lazySizesConfig.loadMode=1,document.addEventListener("lazybeforeunveil",(function(t){var e=t.target.getAttribute("data-bg");e&&(t.target.style.backgroundImage="url("+e+")")})),document.addEventListener("lazyloaded",(function(t){t.target.parentNode.classList.add("lazyloaded")})),WebFont.load({typekit:{id:"jon2wmd"}});

</script>
