//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin greysacle( $value ) {
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
  filter: brightness( $value );
}

@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

//////////////////////////////////////////////////////////
////  Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $font-size-modifier: 1, $line-height: 1.3, $font-weight: normal ) {

  font-size: calc( var(--theme-body-copy-font-size) * #{$font-size-modifier} );
  font-weight: $font-weight;
  line-height: $line-height;

  @include media-breakpoint-up(sm) {
    font-size: calc( var(--theme-body-copy-font-size--sm) * #{$font-size-modifier} );
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: calc( var(--theme-body-copy-font-size--md) * #{$font-size-modifier} );
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: calc( var(--theme-body-copy-font-size--lg) * #{$font-size-modifier} );
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: calc( var(--theme-body-copy-font-size--xl) * #{$font-size-modifier} );
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: calc( var(--theme-body-copy-font-size--xxl) * #{$font-size-modifier} );
  } // min width xxl

}

//////////////////////////////////////////////////////////
////  border
//////////////////////////////////////////////////////////

@mixin border( $style: 'default' ) {

  border-color: rgba( var(--theme-colour-black), 1 );
  border-width: var(--theme-border-width);
  border-style: solid;
  overflow: hidden;

  @if $style == 'rounded' {
    border-radius: var(--theme-border-radius);
  }

}

//////////////////////////////////////////////////////////
////  Button
//////////////////////////////////////////////////////////

@mixin button( $style: 'default' ) {

  border-width: var(--theme-border-width);
  font-size: var(--theme-button-font-size);
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  border-color: transparent;
  border-radius: 0;
  background: transparent;
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  color: inherit;


  &:focus, &:hover {
    outline: none;
    color: inherit;
  }

  &[disabled] {
    opacity: 0.3333;
    cursor: no-drop;
  }

  @if $style == 'pill' {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    padding: 0 var(--bs-gutter-width);
    min-width: var(--theme-button-min-width);
    height: var(--theme-button-min-height);
    border-width: var(--theme-border-width);
    border-color: rgba( var(--theme-colour-black), 1 );
    border-radius: 10px;
    text-transform: uppercase;
    border-style: solid;
    font-weight: 700;
    &:focus,
    &:hover {}
  }

  @include media-breakpoint-up(sm) {

    font-size: var(--theme-button-font-size--sm);

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--sm);
      height: var(--theme-button-min-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: var(--theme-button-font-size--md);

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--md);
      height: var(--theme-button-min-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: var(--theme-button-font-size--lg);

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--lg);
      height: var(--theme-button-min-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: var(--theme-button-font-size--xl);

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xl);
      height: var(--theme-button-min-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: var(--theme-button-font-size--xxl);

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xxl);
      height: var(--theme-button-min-height--xxl);
    }

  } // min width xxl

}

//////////////////////////////////////////////////////////
////  Link
//////////////////////////////////////////////////////////

@mixin link( $style: 'default' ) {

  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;

  @if $style == 'primary' {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    font-weight: 700;
    text-transform: uppercase;
  }

}
