//////////////////////////////////////////////////////////
////  Layout & Grid
//////////////////////////////////////////////////////////

$theme-gutter: (
  'base' : 10px,
  'mobile' : 24px
);

$theme-breakpoints: (
  'sm' : 567px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200px,
  'xxl' : 1400px
);

$theme-container-sizes: (
  'sm' : 540px,
  'md' : 740px,
  'lg' : 960px,
  'xl' : 1160px,
  'xxl' : 1360px
);

$theme-spacing-sizes: (
  'base': 20px,
  'sm' : 22px,
  'md' : 24px,
  'lg' : 20px,
  'xl' : 22px,
  'xxl' : 24px
);
$theme-border-sizes: (
  'base': 4px
);

$theme-spacing: map-get( $theme-spacing-sizes, 'base' );
$theme-spacing--sm: map-get( $theme-spacing-sizes, 'sm' );
$theme-spacing--md: map-get( $theme-spacing-sizes, 'md' );
$theme-spacing--lg: map-get( $theme-spacing-sizes, 'lg' );
$theme-spacing--xl: map-get( $theme-spacing-sizes, 'xl' );
$theme-spacing--xxl: map-get( $theme-spacing-sizes, 'xxl' );

$theme-border: map-get( $theme-border-sizes, 'base' );

$theme-gutter--base: map-get( $theme-gutter, 'base' );
$theme-gutter--mobile: map-get( $theme-gutter, 'mobile' );

$theme-breakpoint--sm: map-get( $theme-breakpoints, 'sm' );
$theme-breakpoint--md: map-get( $theme-breakpoints, 'md' );
$theme-breakpoint--lg: map-get( $theme-breakpoints, 'lg' );
$theme-breakpoint--xl: map-get( $theme-breakpoints, 'xl' );
$theme-breakpoint--xxl: map-get( $theme-breakpoints, 'xxl' );

$theme-container--sm: map-get( $theme-container-sizes, 'sm' );
$theme-container--md: map-get( $theme-container-sizes, 'md' );
$theme-container--lg: map-get( $theme-container-sizes, 'lg' );
$theme-container--xl: map-get( $theme-container-sizes, 'xl' );
$theme-container--xxl: map-get( $theme-container-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Typography | Families
//////////////////////////////////////////////////////////

$sans: sans-serif;
$serif: serif;
$display: serif;

$serif--trevor: trevor, serif; // 400, 700
$serif--editorial-new: 'Editorial New', serif; // 100, 200, normal, bold
$sans--neue-montreal: 'Neue Montreal', sans-serif; // 300, 300i, normal, italic, bold, bold italic

//////////////////////////////////////////////////////////
////  Typography | Sizing
//////////////////////////////////////////////////////////

$theme-body-copy-sizes: (
  'base': 19px,
  'sm': 19px,
  'md': 19px,
  'lg': 18px,
  'xl': 18px,
  'xxl': 18px
);

$theme-body-copy: map-get( $theme-body-copy-sizes, 'base' );
$theme-body-copy--sm: map-get( $theme-body-copy-sizes, 'sm' );
$theme-body-copy--md: map-get( $theme-body-copy-sizes, 'md' );
$theme-body-copy--lg: map-get( $theme-body-copy-sizes, 'lg' );
$theme-body-copy--xl: map-get( $theme-body-copy-sizes, 'xl' );
$theme-body-copy--xxl: map-get( $theme-body-copy-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Colour
//////////////////////////////////////////////////////////

$theme-colours: (
	'white': #ffffff,
	'black': #231F20,
	'blue': #1F92CF,
	'green': #78D68C,
	'yellow': #F6BD23,
);

$theme-white: map-get( $theme-colours, 'white' );
$theme-black: map-get( $theme-colours, 'black' );
$theme-blue: map-get( $theme-colours, 'blue' );
$theme-green: map-get( $theme-colours, 'green' );
$theme-yellow: map-get( $theme-colours, 'yellow' );
