//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-font-sizes: (
  'base': 17px,
  'sm': 17px,
  'md': 19px,
  'lg': 18px,
  'xl': 18px,
  'xxl': 18px
);

// ---------------------------------------- Border Radius
$theme-border: (
  'radius': 4px,
  'width': 4px,
);

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 16px,
  'sm': 16px,
  'md': 16px,
  'lg': 18px,
  'xl': 18px,
  'xxl': 20px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 46px,
  'sm': 48px,
  'md': 50px,
  'lg': 46px,
  'xl': 48px,
  'xxl': 50px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 115px,
  'sm': 115px,
  'md': 115px,
  'lg': 130px,
  'xl': 130px,
  'xxl': 140px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': hexToRGB( #231F20 ),
  'blue': hexToRGB( #1F92CF ),
  'cream': hexToRGB( #F1EBD9 ),
	'green': hexToRGB( #78D68C ),
  'red': hexToRGB( #CD4228 ),
  'white': hexToRGB( #ffffff ),
	'yellow': hexToRGB( #F6BD23 ),
);

// ---------------------------------------- Heading | Font Sizes
$theme-heading-font-sizes: (
  'base': 32px,
  'sm': 42px,
  'md': 52px,
  'lg': 32px,
  'xl': 42px,
  'xxl': 52px
);

// ---------------------------------------- Header | Heights
$theme-header-heights: (
  'base': 100px,
  'sm': 110px,
  'md': 120px,
  'lg': 90px,
  'xl': 100px,
  'xxl': 110px
);

// ---------------------------------------- Spacing
$theme-spacing-sizes: (
  'base': 20px,
  'sm' : 22px,
  'md' : 24px,
  'lg' : 20px,
  'xl' : 22px,
  'xxl' : 24px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 20px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

//////////////////////////////////////////////////////////
////  CSS | Variables
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Body Copy
  --theme-body-copy-font-size: #{ map-get( $theme-body-copy-font-sizes, 'base' ) };
  --theme-body-copy-font-size--sm: #{ map-get( $theme-body-copy-font-sizes, 'sm' ) };
  --theme-body-copy-font-size--md: #{ map-get( $theme-body-copy-font-sizes, 'md' ) };
  --theme-body-copy-font-size--lg: #{ map-get( $theme-body-copy-font-sizes, 'lg' ) };
  --theme-body-copy-font-size--xl: #{ map-get( $theme-body-copy-font-sizes, 'xl' ) };
  --theme-body-copy-font-size--xxl: #{ map-get( $theme-body-copy-font-sizes, 'xxl' ) };

  // ---------------------------------------- Border
  --theme-border-radius: #{ map-get( $theme-border, 'radius' ) };
  --theme-border-width: #{ map-get( $theme-border, 'width' ) };

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Cart | Circle
  --theme-cart-total-size: 16px;
  --theme-cart-total-size-mobile: 20px;

  // ---------------------------------------- Colours
  --theme-colour-black: #{ map-get( $theme-colours, 'black' ) };
  --theme-colour-blue: #{ map-get( $theme-colours, 'blue' ) };
  --theme-colour-cream: #{ map-get( $theme-colours, 'cream' ) };
  --theme-colour-green: #{ map-get( $theme-colours, 'green' ) };
  --theme-colour-red: #{ map-get( $theme-colours, 'red' ) };
  --theme-colour-white: #{ map-get( $theme-colours, 'white' ) };
  --theme-colour-yellow: #{ map-get( $theme-colours, 'yellow' ) };

  // ---------------------------------------- Container
  --theme-container--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Header
  --theme-header-height: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

  // ---------------------------------------- Heading | Font Sizes
  --theme-heading-font-size: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-heading-font-size--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-heading-font-size--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-heading-font-size--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-heading-font-size--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-heading-font-size--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

  // ---------------------------------------- Font Families
  --theme-font-family--sans-serif: sans-serif;
  --theme-font-family--serif: sans-serif;
  --theme-font-family--display: serif;

  --theme-font-family--serif--mousse-script: 'Mousse Script W00', serif; // normal
  --theme-font-family--sans-serif--neue-montreal: 'Neue Montreal', sans-serif; // 300, 300i, normal, italic, bold, bold italic
  --theme-font-family--serif--editorial-new: 'Editorial New', serif; // 100, 200, normal, bold
  --theme-font-family--serif--trevor: trevor, serif; // 400, 700

  // ---------------------------------------- Spacing
  --theme-spacing: #{ map-get( $theme-spacing-sizes, 'base' ) };
  --theme-spacing--sm: #{ map-get( $theme-spacing-sizes, 'sm' ) };
  --theme-spacing--md: #{ map-get( $theme-spacing-sizes, 'md' ) };
  --theme-spacing--lg: #{ map-get( $theme-spacing-sizes, 'lg' ) };
  --theme-spacing--xl: #{ map-get( $theme-spacing-sizes, 'xl' ) };
  --theme-spacing--xxl: #{ map-get( $theme-spacing-sizes, 'xxl' ) };

}
