//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section {

  &--index {
    min-height: 100%;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &--index {
      align-items: center;
      display: flex;
    }

  } // min width xxl

} // section
