<!-- /templates/customers/account.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

  <div class="block block--order-history">

    <h2 class="title title--alternative">Order History</h2>

    {% if customer.orders.size > 0 %}
      <div class="orders">
        <div class="order order--header">
          <div class="order__meta order__meta--name">Order</div>
          <div class="order__meta order__meta--total">Total</div>
          <div class="order__meta order__meta--payment">Payment Status</div>
          <div class="order__meta order__meta--fulfillment">Fulfillment Status</div>
          <div class="order__meta order__meta--date">Date</div>
        </div>
      {% for order in customer.orders %}
        <div class="order order--item">
          <div class="order__meta order__meta--name"><a href='{{ order.customer_url }}'>{{ order.name }}</a></div>
          <div class="order__meta order__meta--total">${{ order.total_price | money_without_currency }}</div>
          <div class="order__meta order__meta--payment">{{ order.financial_status | capitalize }}{% if "refunded" == order.financial_status %} (${{ order.total_refunded_amount | money_without_currency }}){% endif %}</div>
          <div class="order__meta order__meta--fulfillment">{{ order.fulfillment_status | capitalize }}</div>
          <div class="order__meta order__meta--date">{{ order.created_at | date: "%A, %B %-d, %Y" }}</div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <p>No orders to date</p>
    {% endif %}

  </div>

  <div class="block block--address">

    <h2 class="title title--alternative">Account Details</h2>

    {% if customer.default_address %}
      <p>{{ customer.default_address.address1 }}</p>
      {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
      {% endif %}
      <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
      <p>{{ customer.default_address.zip }}</p>
      <p>{{ customer.default_address.phone }}</p>
    {% endif %}

    <a class="button button--primary button--outline" href='/account/addresses'>Update Information</a>

  </div>

</div></div></div>
