<!-- /templates/customers/login.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

{% if shop.customer_accounts_enabled %}
  {% if customer  %}
    <a href="/account">Your Account</a>
  {% else %}
    {{ 'Log in' | customer_login_link }}

    {% form 'customer_login' %}

      {{ form.errors | default_errors }}

      <label for="customer_email">Email Address</label>
      <input type="email" name="customer[email]" />

      <label for="customer_password">Password</label>
      <input type="password" name="customer[password]" />

      <input type="submit" value="Sign In" />

    {% endform %}


    {% if shop.customer_accounts_optional %}
      <span>or</span>
      {{ 'Create an account' | customer_register_link }}
    {% endif %}
  {% endif %}
{% endif %}

</div></div></div>
