<!-- /templates/customers/register.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

  {% form 'create_customer' %}

  {{ form.errors | default_errors }}

  <label for="first_name">First Name</label>
  <input type="text" value="" name="customer[first_name]" size="30" />

  <label for="last_name">Last Name</label>
  <input type="text" value="" name="customer[last_name]" size="30" />

  <label for="email">Email Address</label>
  <input type="email" value="" name="customer[email]" size="30" />

  <label for="password">Password</label>
  <input type="password" value="" name="customer[password]" size="30" />

  <input type="submit" value="Create" />

  {% endform %}

</div></div></div>
