<!-- /templates/customers/reset_password.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

  {% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

    <label for="password">Password</label>
    <input type="password" value="" name="customer[password]" size="16" />

    <label for="password_confirmation">Password Confirmation</label>
    <input
      type="password"
      value=""
      name="customer[password_confirmation]"
      size="16"
    />

    <input type="submit" value="Reset Password" />

  {% endform %}

</div></div></div>
