<!doctype html>
<html>

  <head>

    {% comment %}

      ## Google API Key
      AIzaSyDoDnnhOHOcyJKLNE2U1vSAMKNDZxJVL6A

      ## Google Sheet DB
      https://sheetdb.io/

    {% endcomment %}

    <title>{{ page_title }}</title>

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

    <!-- Cannoical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Preconnect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    <!-- Preload Scripts & Styles -->
    <link rel='preload' href='{{ 'main.css' | asset_url }}' as='style'>
    <link rel='preload' href='{{ "PoliteDepartment.min.js" | asset_url }}' as='script'>

    <!-- Preload Fonts  -->
    {% render 'theme--preload-fonts' %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  			<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <!-- Styles -->
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Shopify Specific -->
    {% if template contains 'customer' %}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- Scripts -->
    {% render 'theme--scripts' %}

    <!-- Shopify Hooks for Plugins -->
    {{ content_for_header }}

  </head>

  <body class="{% render 'theme--classes' %} sticky--footer">

    {% section 'theme--mobile-menu' %}

    {% section 'theme--header' %}

    <main class="{% render 'theme--classes' %}" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'theme--footer' %}

    {% if template.name != '404' and settings.age-gate--enable %}

      {% assign cookie_expires = settings.age-gate--cookie-expires | default: 180 %}
      {% assign timeout = settings.age-gate--timeout | default: 3000 %}
      {% assign redirect_url = settings.age-gate--redirect-url | default: "https://pbskids.org" %}
      {%
        render 'theme--modal',
        cookie_expires: cookie_expires,
        id: 'age-gate',
        redirect_url: redirect_url,
        style: 'age-gate',
        timeout: timeout
      %}

    {% endif %}

    <!-- Very Polite Scripts -->
    <script async src='{{ 'PoliteDepartment.min.js' | asset_url }}'></script>

    {% render 'theme--google-analytics' %}

  </body>

</html>
