{% render 'layout--ticker', class_modifier: "top", direction_right: true, speed: 1.75 %}
{% assign shakey_message = section.settings.shakey--message | default: "<p>Customize Shakey's message through the Shopify dashboard!</p>" %}
{% assign history_message = section.settings.history--message | default: "<p>Add history!</p>" %}

<div class="container d-none">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xxl-12 offset-xxl-0">

      <div class="index__main">
        <div class="row row--inner">

          {% comment %}

            //////////////////////////////////////////////////////////
            ////  Mobile
            //////////////////////////////////////////////////////////

          {% endcomment %}

          <div class="col-12 d-lg-none">
            {% render 'layout--hero', class_modifier: 'index' %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--history', class_modifier: 'index', message: history_message %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--contact', class_modifier: 'index', email: contact_email, phone: contact_phone %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--shakey', class_modifier: 'index', colour_theme: 'green', message: shakey_message %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--newsletter', class_modifier: 'index' %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--social', class_modifier: 'index' %}
          </div>

          <div class="col-12 d-lg-none">
            {% render 'layout--advertisement', class_modifier: 'index' %}
          </div>

          {% comment %}

            //////////////////////////////////////////////////////////
            ////  Desktop
            //////////////////////////////////////////////////////////

          {% endcomment %}

          <div class="col-12 d-none d-lg-block d-xxl-none">
            {% render 'layout--hero', class_modifier: 'index' %}
          </div>

          <div class="col-6 d-none d-lg-block d-xxl-none">
            {% render 'layout--history', class_modifier: 'index', message: history_message %}
            {% render 'layout--contact', class_modifier: 'index', email: contact_email, phone: contact_phone %}
          </div>

          <div class="col-6 d-none d-lg-block d-xxl-none">
            {% render 'layout--shakey', class_modifier: 'index', colour_theme: 'green', message: shakey_message %}
            {% render 'layout--newsletter', class_modifier: 'index' %}
            {% render 'layout--social', class_modifier: 'index' %}
          </div>

          <div class="col-12 d-none d-lg-block d-xxl-none">
            {% render 'layout--advertisement', class_modifier: 'index' %}
          </div>

          {% comment %}

            //////////////////////////////////////////////////////////
            ////  Super Desktop
            //////////////////////////////////////////////////////////

          {% endcomment %}

          <div class="col-3 d-none d-xxl-block">
            {% render 'layout--history', class_modifier: 'index', message: history_message %}
            {% render 'layout--contact', class_modifier: 'index', email: contact_email, phone: contact_phone %}
          </div>

          <div class="col-6 d-none d-xxl-block">
            {% render 'layout--hero', class_modifier: 'index' %}
            {% render 'layout--advertisement', class_modifier: 'index' %}
          </div>

          <div class="col-3 d-none d-xxl-block">
            {% render 'layout--shakey', class_modifier: 'index', colour_theme: 'green', message: shakey_message %}
            {% render 'layout--newsletter', class_modifier: 'index' %}
            {% render 'layout--social', class_modifier: 'index' %}
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% render 'layout--ticker', class_modifier: "bottom", direction_right: false, speed: 1.75 %}

{% schema %}
	{
		"name": "Home",
		"class": "section section--index",
		"tag": "section",
		"settings": [
			{
				"content": "History",
				"type": "header"
			},
			{
				"label": "Message",
				"type": "richtext",
				"id": "history--message"
			},
			{
				"content": "Shakey",
				"type": "header"
			},
			{
				"label": "Message",
				"type": "richtext",
				"id": "shakey--message"
			}
    ],
    "blocks": []
  }
{% endschema %}
