{% assign block_name = 'index' %}

{% assign shakey_message = section.settings.shakey--message | default: "<p>Customize Shakey's message through the Shopify dashboard!</p>" %}
{% assign history_message = section.settings.history--message | default: "<p>Add history!</p>" %}

{% comment %}
  ## Legacy Home Page Copy
  Shaketown Brewing Co. honours the rich history of its past, stretching far beyond its own brewery walls. It takes pride in its name and values the town & community above all else. Shaketown is a celebration of North Vancouver, old and new. Real and, well, not so real. The alternative facts of the North Shore. Told by real people making real good beer. Shaketown is operating on the unceded territory of the Coast Salish peoples: Musqueam, Squamish, and Tsleil-Waututh Nations.

{% endcomment %}

<div class="{{ block_name }}__main">
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2 col-xxl-12 offset-xxl-0' %}

    {% comment %}
      //////////////////////////////////////////////////////////
      ////  Mobile
      //////////////////////////////////////////////////////////
    {% endcomment %}

    <div class="row row--inner d-lg-none">

      <div class="col-12">
        {% render 'layout--hero', style: 'index' %}
      </div>

      <div class="col-12">
        {% render 'layout--business-hours' %}
      </div>

      <div class="col-12">
        {% render 'layout--get-in-touch' %}
      </div>

      <div class="col-12">
        {% render 'layout--shakey', message: shakey_message, style: 'index' %}
      </div>

      <div class="col-12">
        {% render 'layout--newsletter' %}
      </div>

      <div class="col-12">
        {% render 'layout--instagram-grid' %}
      </div>

      <div class="col-12">
        {% render 'layout--advertisements' %}
      </div>

    </div>

    {% comment %}
      //////////////////////////////////////////////////////////
      ////  Desktop LG
      //////////////////////////////////////////////////////////
    {% endcomment %}

    <div class="row row--inner d-none d-lg-flex d-xxl-none">

      <div class="col-12 ">
        {% render 'layout--hero', style: 'index' %}
      </div>

      <div class="col-6">
        {% render 'layout--business-hours' %}
        {% render 'layout--get-in-touch' %}
      </div>

      <div class="col-6">
        {% render 'layout--shakey', message: shakey_message, style: 'index' %}
        {% render 'layout--newsletter' %}
        {% render 'layout--instagram-grid' %}
      </div>

      <div class="col-12">
        {% render 'layout--advertisements' %}
      </div>

    </div>

    {% comment %}
      //////////////////////////////////////////////////////////
      ////  Desktop XXL
      //////////////////////////////////////////////////////////
    {% endcomment %}

    <div class="row row--inner d-none d-xxl-flex">

      <div class="col-3 ">
        {% render 'layout--business-hours' %}
        {% render 'layout--get-in-touch' %}
      </div>

      <div class="col-6 d-none d-xxl-block">
        {% render 'layout--hero', style: 'index' %}
        {% render 'layout--advertisements' %}
      </div>

      <div class="col-3 d-none d-xxl-block">
        {% render 'layout--shakey', message: shakey_message, style: 'index' %}
        {% render 'layout--newsletter' %}
        {% render 'layout--instagram-grid' %}
      </div>

    </div>

  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
	{
		"name": "Home",
		"class": "section section--index",
		"tag": "section",
		"settings": [
			{
				"content": "Shakey",
				"type": "header"
			},
			{
				"label": "Message",
				"type": "richtext",
				"id": "shakey--message"
			}
    ],
    "blocks": []
  }
{% endschema %}
