{% assign block_name = 'stockists' %}

{% assign enable_directions_link = section.settings.enable-directions-link %}
{% assign clear_local_storage = section.settings.clear-local-storage %}

<div class='{{ block_name }}'>
	{% render 'layout--container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1' %}

		{% render 'content--heading-with-stroke', heading: 'Stockists' %}

		<div
			class='{{ block_name }}__main'
			data-include-directions-link='{{ enable_directions_link }}'
			data-clear-local-storage='{{ clear_local_storage }}'>
		</div>

		<div class='{{ block_name }}__footer'>
			<div class='{{ block_name }}__footer-graphic d-md-none'>
				{% render 'svg--stockists-footer-mobile' %}
			</div>
			<div class='{{ block_name }}__footer-graphic d-none d-md-block'>
				{% render 'svg--stockists-footer-desktop' %}
			</div>
		</div>

	{% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
	{
		"name": "Stockists",
		"class": "section section--stockists stockists flexible-content",
		"tag": "div",
		"settings": [
			{
				"label": "Enable Directions Link(s)",
  			"type": "checkbox",
				"default": true,
  			"id": "enable-directions-link"
			},
			{
				"label": "Clear Local Storage",
  			"type": "checkbox",
				"default": false,
  			"id": "clear-local-storage"
			}
    ],
    "blocks": []
  }
{% endschema %}
