{% render 'layout--flexible-content', section: section, template: 'history' %}

{% schema %}
	{
		"name": "History",
		"class": "section section--history history flexible-content",
		"tag": "div",
		"settings": [
			{
				"content": "Hero",
				"type": "header"
			},
			{
				"label": "Image",
				"type": "image_picker",
				"id": "hero--image"
			},
			{
				"label": "Heading",
				"type": "text",
				"id": "hero--heading"
			},
			{
				"label": "Message",
				"type": "richtext",
				"id": "hero--message"
			},
			{
				"content": "Footer",
				"type": "header"
			},
			{
				"label": "Link",
  			"type": "url",
  			"id": "footer--link"
			}
    ],
    "blocks": [
			{
        "name": "Contact Us",
        "type": "contact-us",
				"limit": 1,
        "settings": []
			},
			{
        "name": "Fact Feature",
        "type": "fact-feature",
				"limit": 1,
        "settings": [
					{
						"label": "Heading",
  					"type": "text",
  					"id": "heading"
					},
					{
						"label": "Message",
  					"type": "richtext",
  					"id": "message"
					}
				]
			},
			{
        "name": "Image Feature",
        "type": "image-feature",
        "settings": [
					{
						"content": "Image Guide",
						"type": "header"
					},
					{
						"content": "For optimal results, select one, two or three images. The image(s) should be no larger than 750kb each. There are no recommended aspect ratio sizes, but it's important that if you upload more than one image, they all share the exact same aspect ratio. Do not round corners or add border - this is done automatically!",
						"type": "paragraph"
					},
					{
						"label": "Image 01",
						"type": "image_picker",
						"id": "image-01"
					},
					{
						"label": "Image 02",
						"type": "image_picker",
						"id": "image-02"
					},
					{
						"label": "Image 03",
						"type": "image_picker",
						"id": "image-03"
					}
				]
			},
			{
        "name": "Image Feature with Text",
        "type": "image-feature-with-text",
        "settings": [
					{
						"content": "Image Guide",
						"type": "header"
					},
					{
						"content": "For optimal results, select an image that is no larger than 750kb and maintains an aspect ratio of 4 x 3. Do not round corners or add border - this is done automatically!",
						"type": "paragraph"
					},
					{
						"label": "Image",
						"type": "image_picker",
						"id": "image"
					},
					{
						"label": "Heading",
  					"type": "text",
  					"id": "heading"
					},
					{
						"label": "Message",
  					"type": "richtext",
  					"id": "message"
					}
				]
			},
			{
        "name": "Moments in History",
        "type": "moments-in-history",
        "settings": [
					{
						"label": "Heading",
  					"type": "text",
  					"id": "heading"
					}
				]
			},
			{
        "name": "Shaketown Characters",
        "type": "shaketown-characters",
        "settings": []
			},
			{
        "name": "Shaketown Logos",
        "type": "shaketown-logos",
        "settings": []
			},
			{
        "name": "Staff",
        "type": "staff",
        "settings": [
					{
						"content": "Image Guide",
						"type": "header"
					},
					{
						"content": "For optimal results, select an image that is no larger than 350kb and maintains an aspect ratio of 1 x 0.8. Do not round corners or add border - this is done automatically!",
						"type": "paragraph"
					},
					{
						"label": "Image",
						"type": "image_picker",
						"id": "image"
					},
					{
						"content": "Content Guide",
						"type": "header"
					},
					{
						"content": "For optimal results, aim to keep each bio to a maximum of 350 characters for consistency",
						"type": "paragraph"
					},
					{
						"label": "Name",
						"type": "text",
						"id": "name"
					},
					{
						"label": "Title",
						"type": "text",
						"id": "title"
					},
					{
						"label": "Bio",
						"type": "richtext",
						"id": "bio"
					}
				]
			},
			{
        "name": "Team",
        "type": "team",
        "settings": [
					{
						"content": "Guide",
						"type": "header"
					},
					{
						"content": "Use this block to place the team area within the section. Any 'staff' blocks will automatically be shown where this block is placed.",
						"type": "paragraph"
					}
				]
			},
			{
        "name": "Text Feature",
        "type": "text-feature",
        "settings": [
					{
						"label": "Heading",
						"type": "text",
						"id": "heading"
					},
					{
						"label": "Message | Top",
						"type": "richtext",
						"id": "message--top"
					},
					{
						"label": "Message | Bottom",
						"type": "richtext",
						"id": "message--bottom"
					}
				]
			}
		]
  }
{% endschema %}
