{% assign block_name = 'beers' %}

{% assign footer_heading = section.settings.footer--heading | default: false %}
{% assign footer_footnote = section.settings.footer--footnote | default: false %}
{% assign footer_link = section.settings.footer--link | default: false %}

<div class='{{ block_name }}__blocks'>
	{% for block in section.blocks %}
		<div class='{{ block_name }}__block block block--{{ block.type }} {{ block.type }}'>
			{% case block.type %}
				{% when 'beer-collection' %}
					{% render 'block--beer-collection', settings: block.settings %}
			{% endcase %}
		</div>
	{% endfor %}
</div>

<div class='{{ block_name }}__footer'>
	<div class='{{ block_name }}__content'>
		<div class='{{ block_name }}__icon icon'>{% render 'svg--icon-five-stars' %}</div>
		{% if footer_heading %}<h4 class='{{ block_name }}__heading heading'>{{ footer_heading }}</h4>{% endif %}
		<div class='{{ block_name }}__logo logo logo--shakeys-liquor-and-convenience'>
			{% if footer_link %}<a href='{{ footer_link }}'{% if footer_link contains 'http'%}target='_blank' rel='noopener'{% endif %}>{% endif %}
				{% render 'svg--shakeys-liquor-and-convenience' %}
			{% if footer_link %}</a>{% endif %}
		</div>
		{% if footer_footnote %}<div class='{{ block_name }}__message message'>{{ footer_footnote }}</div>{% endif %}
	</div>
</div>

{% schema %}
	{
		"name": "Beers",
		"class": "section section--beers beers flexible-content",
		"tag": "div",
		"settings": [
			{
				"content": "Footer",
				"type": "header"
			},
			{
				"label": "Heading",
  			"type": "text",
  			"id": "footer--heading"
			},
			{
				"label": "Footnote",
  			"type": "text",
  			"id": "footer--footnote"
			},
			{
				"label": "Link",
  			"type": "url",
  			"id": "footer--link"
			}
		],
    "blocks": [
			{
        "name": "Beer Collection",
        "type": "beer-collection",
        "settings": [
					{
						"label": "Collection",
  					"type": "collection",
  					"id": "collection"
					}
				]
			}
		]
  }
{% endschema %}
