{% assign block_name = 'header' %}

{% assign menu_main = section.settings.menu--main | default: false %}
{% assign cart_count = cart.item_count %}

<div class="{{ block_name }}__main">
	{% render 'layout--container', state: 'open', col: 'col-12', container: 'container-fluid' %}
		<div class='{{ block_name }}__content uppercase'>

			<nav class='{{ block_name }}__policies navigation'>
				<div class="navigation__item d-lg-none js--mobile-menu-trigger">Menu</div>
				{% render 'content--navigation', classes: 'd-none d-lg-inline-flex', menu_handle: menu_main %}
			</nav>

			<div class='{{ block_name }}__cart'>
				<a href='/cart' target='_self'>
					{% render 'svg--cart-icon' %}
					{% if cart_count > 0 %}
						<div class='{{ block_name }}__cart-total js--cart-total'>{{ cart_count }}</div>
					{% endif %}
				</a>
			</div>

		</div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
	{
		"name": "Header",
		"tag": "header",
		"class": "header",
		"settings": [
			{
				"content": "Navigation",
				"type": "header"
			},
      {
        "label": "Menu",
        "type": "link_list",
        "id": "menu--main"
      }
		],
    "blocks": []
  }
{% endschema %}
