{% assign block_name = 'mobile-menu' %}

{% assign cart_count = cart.item_count %}
{% assign company = shop.address.company | default: false %}
{% assign menu_main = section.settings.mobile-menu--main | default: false %}
{% assign menu_policies = section.settings.mobile-menu--policies | default: false %}
{% assign social_accounts = 'instagram, twitter, facebook' | split: ', ' %}

<div class="{{ block_name }}__header">
  {% render 'layout--container', container: 'container-fluid', state: 'open' %}
    <div class="{{ block_name }}__content">

			<nav class="{{ block_name }}__navigation navigation header">
				<div class="navigation__item js--mobile-menu-trigger">
          <span class="navigation__item-title">Menu</span>
          <span class="navigation__item-icon">{% render 'svg--icon-chevron', fill_colour: 'cream' %}</span>
        </div>
      </nav>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

<div class="{{ block_name }}__body">
  {% render 'layout--container', container: 'container-fluid', state: 'open' %}
    <div class="{{ block_name }}__content">

      <div class="{{ block_name }}__brand">{% render 'svg--logo-primary', fill_colour: 'cream' %}</div>

      {% if menu_main.links.size > 0 %}
        <nav class="{{ block_name }}__navigation navigation body ">
          {% render 'content--navigation', menu_handle: menu_main.handle %}
        </nav>
      {% endif %}

      <div class='{{ block_name }}__cart'>
				<a href='/cart' target='_self'>
					{% render 'svg--cart-icon' %}
					{% if cart_count > 0 %}
						<div class='{{ block_name }}__cart-total js--cart-total'>{{ cart_count }}</div>
					{% endif %}
				</a>
			</div>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

<div class="{{ block_name }}__footer">
  {% render 'layout--container', container: 'container-fluid', state: 'open' %}
    <div class="{{ block_name }}__content">

      {% if social_accounts.size > 0 %}
			  <nav class='{{ block_name }}__social navigation social'>
				  {% for account in social_accounts %}
					  {% assign key = account | prepend: 'social--' %}
					  {% assign social_link = settings[key] | default: false %}
					  {% if social_link %}
						  <div class="navigation__item">
    					  <a href="{{ social_link }}" class="navigation__link" target="_blank" rel="noopener">
								  {% render 'svg--social-icons', account: account %}
							  </a>
  					  </div>
					  {% endif %}
				  {% endfor %}
			  </nav>
			{% endif %}

		  {% if company %}
			  <div class='{{ block_name }}__company'>{{ company }}</div>
		  {% endif %}

			{% render 'content--store-address', classes: 'mobile-menu__store-address', style: 'primary', tag: 'div' %}

		  {% if menu_policies.links.size > 0 %}
			  <nav class='{{ block_name }}__policies navigation policies'>
				  {% render 'content--navigation', menu_handle: menu_policies.handle %}
			  </nav>
		  {% endif %}

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
	{
		"name": "Mobile Menu",
		"tag": "div",
		"class": "mobile-menu",
		"settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "mobile-menu--main"
      },
      {
        "label": "Policies",
        "type": "link_list",
        "id": "mobile-menu--policies"
      }
    ],
    "blocks": [
      {
        "name": "Navigation",
        "type": "navigation",
        "settings": []
      },
      {
        "name": "Subnavigation",
        "type": "subnavigation",
        "settings": []
      }
    ]
  }
{% endschema %}
