{% assign block_name = 'footer' %}

{% assign company = shop.address.company | default: false %}
{% assign summary = shop.address.summary | default: false %}
{% assign menu_policies = section.settings.menu--policies | default: false %}

{% assign social_accounts = 'instagram, twitter, facebook' | split: ', ' %}

<div class='{{ block_name }}__main'>
	{% render 'layout--container', state: 'open', col: 'col-12', container: 'container-fluid' %}
		<div class='{{ block_name }}__content uppercase'>

			{% if social_accounts.size > 0 %}
				<nav class='{{ block_name }}__social navigation social'>
					{% for account in social_accounts %}
						{% assign key = account | prepend: 'social--' %}
						{% assign social_link = settings[key] | default: false %}
						{% if social_link %}
							<div class="navigation__item">
      					<a href="{{ social_link }}" class="navigation__link" target="_blank" rel="noopener">
									{% render 'svg--social-icons', account: account %}
								</a>
    					</div>
						{% endif %}
					{% endfor %}
				</nav>
			{% endif %}

			{% if company %}
				<div class='{{ block_name }}__company'>{{ company }}</div>
			{% endif %}

			{% render 'content--store-address', classes: 'footer__store-address', style: 'primary', tag: 'div' %}

			{% if menu_policies %}
				<nav class='{{ block_name }}__policies navigation policies'>
					{% render 'content--navigation', menu_handle: menu_policies %}
				</nav>
			{% endif %}

		</div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
	{
		"name": "Footer",
		"tag": "footer",
		"class": "footer",
		"settings": [
      {
				"content": "Shop Policies",
				"type": "header"
			},
      {
        "label": "Menu",
        "type": "link_list",
        "id": "menu--policies"
      }
    ],
    "blocks": []
  }
{% endschema %}
