//////////////////////////////////////////////////////////
////  Error | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Error | Styles
//////////////////////////////////////////////////////////

.error-404 {

  background: rgba(var(--theme-colour-black), 1);
  color: rgba(var(--theme-colour-green), 1);
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  // ---------------------------------------- Shakey
  .shakey {
    margin-top: 15px;
    .heading {
      font-size: 14px;
      & + .message {
        margin-top: 4px;
      }
    }
    .message {
      font-size: 14px;
    }
    &__content {
      border-color: rgba( var(--theme-colour-green), 1 );
      padding: 10px;
    }
    &__image {
      width: 90px;
      margin-right: 24px;
    }
    &__image-speech-indicator {
      width: 18px;
      height: auto;
      left: -18px;
      bottom: 12px;
    }
  }

  &__content {
    text-align: center;
    margin: 0 0 30px 0;
    h1, p {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      line-height: 1.2
    }
    h1 {
      font-weight: bold;
      font-size: 50px;
      & + p {
        margin-top: 14px;
      }
    }
    p {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  &__image {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 452px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    width: 100%;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .shakey {
      margin-top: -30px;
      .heading {
        font-size: 12px;
      }
      .message {
        font-size: 16px;
      }
      &__content {
        padding: 12px;
      }
      &__image {
        width: 95px;
      }
    }

    &__content {
      margin: 0 0 15px 0;
      h1 {
        font-size: 68px;
        & + p {
          margin-top: 10px;
        }
      }
      p {
        font-size: 14px;
      }
    }

    &__image {
      width: 600px;
      max-width: none;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .error-404
