//////////////////////////////////////////////////////////
////  Body | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

body {

  background: rgba( var(--theme-colour-cream), 1 );
  color: rgba( var(--theme-colour-black), 1 );

  a {
    transition: all 280ms;
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &.error-404 {
    .footer,
    .header {
      display: none;
    }
  }

  &.sticky--footer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    main {
      flex: 1;
    }
  }

	@include media-breakpoint-up(sm) {} // min width sm

	@include media-breakpoint-up(md) {} // min width md

	@include media-breakpoint-up(lg) {} // min width lg

	@include media-breakpoint-up(xl) {} // min width xl

	@include media-breakpoint-up(xxl) {

    &.index {
      .footer {
        margin-top: 0;
      }
    }

  } // min width xxl

} // body
