//////////////////////////////////////////////////////////
////  Cart | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-cart-item-feature-image-size: 78px;
  --theme-cart-item-feature-image-size--sm: 88px;
  --theme-cart-item-feature-image-size--md: 98px;
  --theme-cart-item-feature-image-size--lg: 120px;
  --theme-cart-item-feature-image-size--xl: 130px;
  --theme-cart-item-feature-image-size--xxl: 140px;

}

//////////////////////////////////////////////////////////
////  Cart | Styles
//////////////////////////////////////////////////////////

.cart {

  h1 {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }

  .link {
    &--primary {
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  .product {

    &__title,
    &__variant-title {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      width: auto;
      height: auto;
    }

    &__price,
    &__variant-title {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      font-size: 15px;
      line-height: 1;
    }

    &__image {
      width: var(--theme-cart-item-feature-image-size);
      a, img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__price {
      margin-top: 4px;
    }

    &__quantity {
      padding-right: 0;
      padding-left: 0;
      margin: 0;
      .button {
        font-size: 15px;
        width: 40px;
        height: 30px;
      }
      &-total {
        font-size: 15px;
      }
    }

    &__title {
      font-size: 18px;
      justify-content: flex-start;
      text-align: left;
      width: 100%;
      margin-bottom: -2px;
    }

    &__variant-title {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
    }

  }

  &__actions,
  &__price-summary,
  &__table-guide,
  &__item {
    padding: 22px 0;
  }

  &__price-summary,
  &__table-guide,
  &__item {
    border-bottom-color: rgba( var(--theme-colour-black), 1 );
    border-bottom-width: var(--theme-border-width);
    border-bottom-style: solid;
  }

  &__actions,
  &__price-summary {
    .cart__row {
      justify-content: flex-end;
      flex-flow: row wrap;
    }
  }

  &__subtotal,
  &__total {
    span[class*="-value"] {
      font-size: 22px;
      min-width: 135px;
      text-align: right;
      padding-left: 14px;
    }
    span[class*="-label"] {
      font-size: 15px;
      text-transform: uppercase;
      text-align: left;
    }
  }

  &__actions {
    .button {
      & + .button {
        margin-top: var(--bs-gutter-width);
      }
      &:hover,
      &:focus {
        background: rgba( var(--theme-colour-black), 1 );
        color: rgba( var(--theme-colour-cream), 1 );
      }
    }
    .cart__row {
      justify-content: center;
      text-align: center;
      flex-flow: column;
    }
  }

  &__column {
    &.actions {
      margin-left: auto;
    }
    &.info {
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 14px;
      flex: 1;
    }
  }

  &__continue-shopping {
    margin-top: 16px;
    font-size: 14px;
  }

  &__footer {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
  }

  &__item-quantity {
    position: relative;
    .link {
      font-size: 15px;
    }
  }

  &__item-remove {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 8px 0 0 0;
  }

  &__message {
    font-family: var(--theme-font-family--serif--trevor);
    text-align: center;
    margin-top: 36px;
    a {
      display: inline-block;
      border-bottom: 2px solid;
      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  &__table-guide {
    padding-top: 0;
  }

  &__total {
    margin-top: 6px;
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .product {
      &__price,
      &__variant-title {
        font-size: 16px;
      }
      &__image {
        width: var(--theme-cart-item-feature-image-size--md);
      }
      &__quantity {
        .button,
        &-total {
          font-size: 16px;
        }
      }
      &__title {
        font-size: 25px;
      }
    }

    &__actions,
    &__price-summary,
    &__table-guide,
    &__item {
      padding: 24px 0;
    }

    &__subtotal,
    &__total {
      span[class*="-value"] {
        font-size: 24px;
      }
      span[class*="-label"] {
        font-size: 16px;
      }
    }

    &__actions {
      .button + .button {
        margin-top: var(--bs-gutter-width);
      }
      .cart__row {
        justify-content: center;
        text-align: center;
        flex-flow: column;
      }
    }

    &__column {
      &.info {
        & > * {
          margin-top: 8px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    &__continue-shopping {
      font-size: 15px;
    }

    &__item-quantity {
      .link {
        font-size: 16px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    h1 {
      font-size: 36px;
    }

    .product {
      &__price,
      &__variant-title {
        font-size: 17px;
      }
      &__image {
        width: var(--theme-cart-item-feature-image-size--lg);
      }
      &__quantity {
        .button,
        &-total {
          font-size: 17px;
        }
      }
      &__title {
        font-size: 28px;
      }
    }

    &__actions,
    &__price-summary,
    &__table-guide,
    &__item {
      padding: 26px 0;
    }

    &__subtotal,
    &__total {
      span[class*="-value"] {
        font-size: 26px;
        min-width: 160px;
      }
      span[class*="-label"] {
        font-size: 17px;
      }
    }

    &__actions {
      .button + .button {
        margin-left: var(--bs-gutter-width);
        margin-top: 0;
      }
      .cart__row {
        justify-content: flex-end;
        align-items: center;
        flex-flow: row;
      }
    }

    &__column {
      &.actions {
        margin-left: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &.info {
        & > * {
          margin-top: 10px;
        }
      }
    }

    &__item-line-price {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      min-width: 160px;
      text-align: right;
      font-size: 24px;
      font-weight: 700;
    }

    &__continue-shopping {
      font-size: 16px;
    }

    &__item-quantity {
      .link {
        font-size: 17px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    h1 {
      font-size: 38px;
    }

    .product {
      &__price,
      &__variant-title {
        font-size: 18px;
      }
      &__image {
        width: var(--theme-cart-item-feature-image-size--xl);
      }
      &__quantity {
        .button,
        &-total {
          font-size: 18px;
        }
      }
      &__title {
        font-size: 30px;
      }
    }

    &__actions,
    &__price-summary,
    &__table-guide,
    &__item {
      padding: 28px 0;
    }

    &__subtotal,
    &__total {
      span[class*="-value"] {
        font-size: 28px;
        min-width: 170px;
      }
      span[class*="-label"] {
        font-size: 18px;
      }
    }

    &__column {
      &.info {
        & > * {
          margin-top: 12px;
        }
      }
    }

    &__item-line-price {
      min-width: 170px;
      font-size: 26px;
    }

    &__continue-shopping {
      font-size: 17px;
    }

    &__item-quantity {
      .link {
        font-size: 18px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    h1 {
      font-size: 40px;
    }

    .product {
      &__price,
      &__variant-title {
        font-size: 19px;
      }
      &__image {
        width: var(--theme-cart-item-feature-image-size--xxl);
      }
      &__quantity {
        .button,
        &-total {
          font-size: 19px;
        }
      }
      &__title {
        font-size: 32px;
      }
    }

    &__actions,
    &__price-summary,
    &__table-guide,
    &__item {
      padding: 30px 0;
    }

    &__subtotal,
    &__total {
      span[class*="-value"] {
        font-size: 30x;
        min-width: 180px;
      }
      span[class*="-label"] {
        font-size: 19px;
      }
    }

    &__column {
      &.info {
        & > * {
          margin-top: 14px;
        }
      }
    }

    &__item-line-price {
      min-width: 180px;
      font-size: 28px;
    }

    &__continue-shopping {
      font-size: 18px;
    }

    &__item-quantity {
      .link {
        font-size: 19px;
      }
    }

  } // min width xxl

} // .cart
