//////////////////////////////////////////////////////////
////  Collection | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Collection | Styles
//////////////////////////////////////////////////////////

.collection {

  .button {
    &--product-cta {
      min-height: var(--theme-button-min-height);
      height: auto;
    }
  }

  .product {
    a {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
    }
    &__cta {
      a {
        margin: auto;
        width: auto;
      }
    }
    &__featured-image,
    &__second-image {
      transition: opacity 300ms;
    }
    &__second-image {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
    [data-image-count="2"] {
      a {
        &:focus,
        &:hover {
          .product__featured-image,
          .product__second-image {
            outline: none;
            border: none;
          }
          .product__featured-image {
            opacity: 0;
          }
          .product__second-image {
            opacity: 1;
          }
        }
      }
    }
  }

  &__products {
    .row--inner {
      margin-bottom: -40px;
      [class^="col-"] {
        margin-bottom: 40px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    .button {
      &--product-cta {
        min-height: var(--theme-button-min-height--sm);
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .button {
      &--product-cta {
        min-height: var(--theme-button-min-height--md);
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .button {
      &--product-cta {
        min-height: var(--theme-button-min-height--lg);
      }
    }

    &__products {
      .row--inner {
        margin-bottom: -60px;
        [class^="col-"] {
          margin-bottom: 60px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .button {
      &--product-cta {
        min-height: var(--theme-button-min-height--xl);
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .button {
      &--product-cta {
        min-height: var(--theme-button-min-height--xxl);
      }
    }

  } // min width xxl

} // .collection
