//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

// ---------------------------------------- Editorial New | Thin

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Thin.eot');
    src: local('Editorial New Thin'), local('EditorialNew-Thin'),
        url('EditorialNew-Thin.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Thin.woff2') format('woff2'),
        url('EditorialNew-Thin.woff') format('woff'),
        url('EditorialNew-Thin.ttf') format('truetype'),
        url('EditorialNew-Thin.svg#EditorialNew-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Editorial New | Ulta Light

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Ultralight.eot');
    src: local('Editorial New Ultralight'), local('EditorialNew-Ultralight'),
        url('EditorialNew-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Ultralight.woff2') format('woff2'),
        url('EditorialNew-Ultralight.woff') format('woff'),
        url('EditorialNew-Ultralight.ttf') format('truetype'),
        url('EditorialNew-Ultralight.svg#EditorialNew-Ultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Editorial New | Regular

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Regular.eot');
    src: local('Editorial New Regular'), local('EditorialNew-Regular'),
        url('EditorialNew-Regular.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Regular.woff2') format('woff2'),
        url('EditorialNew-Regular.woff') format('woff'),
        url('EditorialNew-Regular.ttf') format('truetype'),
        url('EditorialNew-Regular.svg#EditorialNew-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Editorial New | Bold

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Bold.eot');
    src: local('Editorial New Bold'), local('EditorialNew-Bold'),
        url('EditorialNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Bold.woff2') format('woff2'),
        url('EditorialNew-Bold.woff') format('woff'),
        url('EditorialNew-Bold.ttf') format('truetype'),
        url('EditorialNew-Bold.svg#EditorialNew-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Mousse Script W00 | Regular
@font-face {
  font-family: 'Mousse Script W00';
  src: url('MousseScriptW00-Regular.eot');
  src: local('Mousse Script W00 Regular'), local('MousseScriptW00-Regular'),
      url('MousseScriptW00-Regular.eot?#iefix') format('embedded-opentype'),
      url('MousseScriptW00-Regular.woff2') format('woff2'),
      url('MousseScriptW00-Regular.woff') format('woff'),
      url('MousseScriptW00-Regular.ttf') format('truetype'),
      url('MousseScriptW00-Regular.svg#MousseScriptW00-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Neue Montreal | Light

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-Light.eot');
    src: local('Neue Montreal Light'), local('NeueMontreal-Light'),
        url('./NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Light.woff2') format('woff2'),
        url('./NeueMontreal-Light.woff') format('woff'),
        url('./NeueMontreal-Light.ttf') format('truetype'),
        url('./NeueMontreal-Light.svg#NeueMontreal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-LightItalic.eot');
    src: local('Neue Montreal Light Italic'), local('NeueMontreal-LightItalic'),
        url('./NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-LightItalic.woff2') format('woff2'),
        url('./NeueMontreal-LightItalic.woff') format('woff'),
        url('./NeueMontreal-LightItalic.ttf') format('truetype'),
        url('./NeueMontreal-LightItalic.svg#NeueMontreal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

// ---------------------------------------- Neue Montreal | Regular

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-Regular.eot');
    src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
        url('./NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Regular.woff2') format('woff2'),
        url('./NeueMontreal-Regular.woff') format('woff'),
        url('./NeueMontreal-Regular.ttf') format('truetype'),
        url('./NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-Italic.eot');
    src: local('Neue Montreal Italic'), local('NeueMontreal-Italic'),
        url('./NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Italic.woff2') format('woff2'),
        url('./NeueMontreal-Italic.woff') format('woff'),
        url('./NeueMontreal-Italic.ttf') format('truetype'),
        url('./NeueMontreal-Italic.svg#NeueMontreal-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// ---------------------------------------- Neue Montreal | Bold

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-Bold.eot');
    src: local('Neue Montreal Bold'), local('NeueMontreal-Bold'),
        url('./NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Bold.woff2') format('woff2'),
        url('./NeueMontreal-Bold.woff') format('woff'),
        url('./NeueMontreal-Bold.ttf') format('truetype'),
        url('./NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./NeueMontreal-BoldItalic.eot');
    src: local('Neue Montreal Bold Italic'), local('NeueMontreal-BoldItalic'),
        url('./NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('./NeueMontreal-BoldItalic.woff') format('woff'),
        url('./NeueMontreal-BoldItalic.ttf') format('truetype'),
        url('./NeueMontreal-BoldItalic.svg#NeueMontreal-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
