//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  background: rgba( var(--theme-colour-black), 1 );
  color: rgba( var(--theme-colour-cream), 1 );
  font-family: var(--theme-font-family--sans-serif--neue-montreal);
  font-size: 14px;
  font-weight: 700;
  margin-top: 65px;
  padding: 36px 0;

  .navigation {
    &.policies {
      margin-top: 24px;
    }
    &.social {
      margin-bottom: 26px;
      .navigation__item {
        margin: 0 15px;
      }
      .navigation__link {
        height: 26px;
        width: auto;
        display: block;
        svg {
          transition: opacity 280ms;
          height: 100%;
          width: auto;
          display: block;
          opacity: 1;
        }
        &:hover {
          svg {
            opacity: 0.3333;
          }
        }
      }
    }
  }

  &__content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    & > * {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    margin-top: 75px;
    padding: 13px 0;

    .navigation {
      &.policies {
        margin-top: 0;
      }
      &.social {
        margin-bottom: 0;
        margin-right: 22px;
        .navigation__item {
          margin: 0;
          & + .navigation__item {
            margin-left: 12px;
          }
        }
        .navigation__link {
          height: 18px;
        }
      }
    }

    &__content {
      margin: 0;
      flex-flow: row nowrap;
      & > * {
        width: auto;
      }
    }

    &__company + .footer__store-address,
    &__store-address + .footer__policies {
      &:before {
        content: '•';
        display: block;
        margin: 0 10px;
        padding: 0;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    margin-top: 95px;

  } // min width xxl

} // .footer
