//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  position: relative;

  label,
  input,
  textarea {
    color: rgba( var(--theme-colour-black), 1 );
  }

  label {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    width: 100%;
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  input,
  textarea {
    @include body-copy();
    @include placeholder {
      color: rgba( var(--theme-colour-black), 0.2 );
    }
    font-family: var(--theme-font-family--serif--editorial-new);
    font-weight: normal;
    transition: all 280ms;
    appearance: none;
    outline: none;
    border: none;
    line-height: 1;
    background: transparent;
    border-radius: 0;
    &:focus,
    &:hover {
      outline: none;
    }
  }

  textarea {
    letter-spacing: 1.3;
  }

  .rude {
    display: none;
  }

  &__field,
  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__field {
    position: relative;
  }

  &__success {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    .message {
      font-family: var(--theme-font-family--serif--trevor);
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  &__notification {
    &--success {
      position: absolute;
      display:  none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__message {
    &--success {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }



	@include media-breakpoint-up(sm) {} // min width sm

	@include media-breakpoint-up(md) {} // min width md

	@include media-breakpoint-up(lg) {

  	label {
    	font-size: 10px;
  	}

	} // min width lg

	@include media-breakpoint-up(xl) {} // min width xl

	@include media-breakpoint-up(xxl) {

  	label {
    	font-size: 9px;
  	}

	} // min width xxl

} // .form
