//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  background: rgba( var(--theme-colour-black), 1 );
  color: rgba( var(--theme-colour-cream), 1 );
  font-family: var(--theme-font-family--sans-serif--neue-montreal);
  font-size: 14px;
  font-weight: 700;
  padding: 13px 0;

  .navigation {

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    &__item {
      margin-left: 40px;
      margin-right: 40px;
    }

    &__link {
      border-bottom: 2px solid transparent;
      &.active,
      &:hover {
        border-bottom-color: rgba( var(--theme-colour-cream), 1 );
      }
    }

  }

  &__cart {
    position: absolute;
    height: 18px;
    width: auto;
    a, svg {
      height: 100%;
      width: auto;
      display: block;
    }
    a {
      position: relative;
    }
    &-total {
      background: rgba( var(--theme-colour-green), 1 );
      bottom: calc( -0.5 * var(--theme-cart-total-size) );
      right: calc( -0.5 * var(--theme-cart-total-size) );
      color: rgba( var(--theme-colour-black), 1 );
      height: var(--theme-cart-total-size);
      width: var(--theme-cart-total-size);
      align-items: center;
      border-radius: 9999px;
      display: flex;
      font-size: 10px;
      justify-content: center;
      position: absolute;
      line-height: 1;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .header
