//////////////////////////////////////////////////////////
////  Comment | Variables
//////////////////////////////////////////////////////////

$social-height: auto; //500px;
$social-height--sm:  auto; //600px;
$social-height--md:  auto; //700px;
$social-height--lg:  auto; //431px;
$social-height--xl:  auto; //391px;
$social-height--xxl:  auto; //331px;

//////////////////////////////////////////////////////////
////  Comment | Styles
//////////////////////////////////////////////////////////

.index[role="main"] {

  .advertisements,
  .business-hours,
  .get-in-touch,
  .hero,
  .instagram-grid,
  .shakey {
    margin-top: var(--bs-gutter-width);
  }

  // ---------------------------------------- Advertisements
  .advertisements {}

  // ---------------------------------------- Business Hours
  .business-hours {}

  // ---------------------------------------- Get in Touch
  .get-in-touch {}

  // ---------------------------------------- Instagram Grid
  .instagram-grid {}

  // ---------------------------------------- Hero
  .hero {}

  // ---------------------------------------- Shakey
  .shakey {
    .heading {
      font-size: 13px;
    }
    .message {
      @include body-copy( 0.75 );
    }
    &__content {
      flex: 1;
      margin-top: -8px;
      padding: 10px;
    }
    &__image {
      width: 95px;
      margin-right: 24px;
    }
    &__image-speech-indicator {
      width: 18px;
      height: auto;
      left: -18px;
      bottom: 12px;
    }
    &__main {
      width: auto;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 15px;
      }
      .message {
        @include body-copy( 0.85 );
      }
      &__content {
        margin-top: -8px;
        padding: 10px;
      }
      &__image {
        width: 105px;
      }
      &__image-speech-indicator {
        width: 18px;
        height: auto;
        left: -18px;
        bottom: 12px;
      }
      &__main {}
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 17px;
      }
      .message {
        @include body-copy( .95 );
      }
      &__content {
        margin-top: -8px;
        padding: 10px;
      }
      &__image {
        width: 115px;
      }
      &__image-speech-indicator {
        width: 18px;
        height: auto;
        left: -18px;
        bottom: 12px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .advertisements,
    .business-hours,
    .get-in-touch,
    .hero,
    .instagram-grid,
    .shakey {
      margin-top: var(--bs-gutter-width);
    }

    .business-hours,
    .shakey {
      margin-top: 0;
    }

    // ---------------------------------------- Advertisements
    .advertisements {}

    // ---------------------------------------- Business Hours
    .business-hours {}

    // ---------------------------------------- Get in Touch
    .get-in-touch {}

    // ---------------------------------------- Instagram Grid
    .instagram-grid {
      margin-top: 14px;
    }

    // ---------------------------------------- Hero
    .hero {
      margin-bottom: 60px;
    }

    // ---------------------------------------- Shakey
    .shakey {
      margin-top: -25px;
      .heading {
        font-size: 12px;
      }
      .message {
        @include body-copy( 0.6 );
      }
      &__content {
        margin-left: auto;
        margin-top: 7px;
        padding: 8px;
      }
      &__image {
        width: 110px;
        margin-left: -10px;
        margin-right: 16px;
      }
      &__main {
        width: 100%;
        justify-content: flex-start;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- Advertisements
    .advertisements {}

    // ---------------------------------------- Business Hours
    .business-hours {}

    // ---------------------------------------- Get in Touch
    .get-in-touch {}

    // ---------------------------------------- Instagram Grid
    .instagram-grid {}

    // ---------------------------------------- Hero
    .hero {
      margin-bottom: 60px;
    }

    // ---------------------------------------- Shakey
    .shakey {
      margin-top: -25px;
      .heading {
        font-size: 16px;
      }
      .message {
        @include body-copy( 0.85 );
      }
      &__content {
        margin-top: -1px;
        padding: 9px;
      }
      &__image {
        width: 115px;
        margin-left: -10px;
        margin-right: 18px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- Advertisements
    .advertisements {}

    // ---------------------------------------- Business Hours
    .business-hours {}

    // ---------------------------------------- Get in Touch
    .get-in-touch {}

    .index {
      &__main {
        //border: 1px solid red;
        margin: 20px 0;
      }
    }

    // ---------------------------------------- Instagram Grid
    .instagram-grid {
      margin-top: 11px;
    }

    // ---------------------------------------- Hero
    .hero {
      margin-bottom: 45px;
      margin-top: 24px;
      &__logo {
        width: 85%;
        margin: auto;
      }
    }

    // ---------------------------------------- Shakey
    .shakey {
      margin-top: 0;
      .heading {
        font-size: 16px;
        & + .message {
          margin-top: 3px;
        }
      }
      .message {
        @include body-copy( 0.725 );
      }
      &__content {
        margin-top: 0;
        padding: 7px;
      }
      &__image {
        width: 100px;
        margin-left: -10px;
        margin-right: 18px;
      }
    }

    .shopify-section {
      display: flex;
      width: 100%;
      height: 100%;
      min-height: 100%;
      justify-content: center;
      align-content: center;
      flex-flow: column;
    }

  } // min width xxl

} // .index
