//////////////////////////////////////////////////////////
////  Comment | Variables
//////////////////////////////////////////////////////////

$social-height: auto; //500px;
$social-height--sm:  auto; //600px;
$social-height--md:  auto; //700px;
$social-height--lg:  auto; //431px;
$social-height--xl:  auto; //391px;
$social-height--xxl:  auto; //331px;

//////////////////////////////////////////////////////////
////  Comment | Styles
//////////////////////////////////////////////////////////

.index[role="main"] {

  background: $theme-green;

  .hero {
    margin-bottom: 20px;
    &__image {
      width: 100%;
      height: auto;
      margin: auto;
      img, svg {
        display: block;
        width:  100%;
        height: auto;
      }
    }
  }

  .advertisement,
  .contact,
  .shakey,
  .social,
  .newsletter {
    margin-top: 15px;
  }

  .contact {

    .hover-item {
      transition: 280ms all;
      display: block;
      width: 100%;
      height: auto;
      &--top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    a {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      &:hover {
        .hover-item--bottom {
          opacity: 0;
        }
        .hover-item--top {
          opacity: 1;
        }
      }
    }
  }

  .history {
    .message {
      margin-top: 15px;
      line-height: 1.25;
      p, li {
        line-height: inherit;
      }
    }
  }

  .index {
    &__main {
      padding: 25px 0;
    }
  }

  .newsletter {
    margin: -1px 0 0 0;
    .form {
      padding: ($theme-spacing * 0.66) ($theme-spacing * 0.75);
      &__button {
        transition: all 280ms;
        background: transparent;
        outline: none;
        border: none;
        height: 36px;
        width: 36px;
        display: block;
        padding: 0;
        margin: 0;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
        &:focus,
        &:hover {
          transform: translate3d( 5px, 0, 0 );
        }
      }
      &__field {
        flex: 1;
        label,
        input {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      &__main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
      &__message {
        &--success {
          background: $theme-green;
        }
      }
    }
  }

  .shakey {
    &__content {
      margin-bottom: 15px;
      margin-left: 15px;
    }
    &__heading {
      font-size: 16px;
    }
    &__image {
      width: 105px;
    }
    &__main {
      width: 100%;
      justify-content: center;
    }
    &__message {
      font-size: 12px;
    }
  }

  .social {
    &__header {
      border-bottom: 2px solid $theme-black;
    }
    &__main {
      height: $social-height;
    }
    &__footer {
      border-top: 2px solid $theme-black;
    }
  }

  @include media-breakpoint-up(sm) {

    .shakey {
      &__content {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      &__heading {
        font-size: 20px;
      }
      &__image {
        width: 125px;
      }
      &__main {}
      &__message {
        font-size: 16px;
      }
    }

    .social {
      &__main {
        height: $social-height--sm;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .shakey {
      &__content {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      &__heading {
        font-size: 22px;
      }
      &__image {
        width: 135px;
      }
      &__main {}
      &__message {
        font-size: 18px;
      }
    }

    .social {
      &__main {
        height: $social-height--md;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .contact,
    .social,
    .advertisement {
      margin-top: ($theme-gutter--base * 2);
    }

    .hero {
      margin-bottom: 32px;
      &__image {
        width: 560px;
      }
    }

    .history {
      .message {
        font-size: 14px;
        min-height: 214px;
        p, li {
          font-size: inherit;
        }
      }
    }

    .shakey {
      margin-top: 0;
      &__content {
        margin-bottom: 13px;
        margin-left: 20px;
        flex: 1;
      }
      &__heading {
        font-size: 14px;
      }
      &__image {
        width: 110px;
        margin-left: -10px;
      }
      &__message {
        font-size: 10px;
      }
      &__speech-thing {
        width: 20px;
        left: -20px;
        bottom: 12px;
      }
    }

    .social {
      &__main {
        height: $social-height--lg;
      }
    }

    .index {
      &__main {
        padding: 48px 0 62px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .hero {
      &__image {
        width: 400px;
      }
    }

    .history {
      .message {
        font-size: 16px;
        min-height: 239px;
      }
    }

    .shakey {
      &__content {
        margin-bottom: 13px;
        margin-left: 20px;
        flex: 1;
      }
      &__heading {
        font-size: 18px;
      }
      &__image {
        width: 120px;
        margin-left: -10px;
      }
      &__message {
        font-size: 14px;
      }
      &__speech-thing {
        width: 20px;
        left: -20px;
        bottom: 16px;
      }
    }

    .social {
      &__main {
        height: $social-height--xl;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .hero {
      margin-bottom: 24px;
      &__image {
        width: 486px;
      }
    }

    .history {
      .message {
        font-size: 14px;
        min-height: 205px;
      }
    }

    .shakey {
      &__content {
        margin-bottom: 13px;
        margin-left: 20px;
        flex: 1;
      }
      &__heading {
        font-size: 14px;
      }
      &__image {
        width: 100px;
        margin-left: -10px;
      }
      &__message {
        font-size: 11px;
      }
      &__speech-thing {
        width: 20px;
        left: -20px;
        bottom: 16px;
      }
    }

    .social {
      &__main {
        height: $social-height--xxl;
      }
    }

    .index {
      &__main {
        padding: 0;
      }
    }

  } // min width xxl

} // .index
