//////////////////////////////////////////////////////////
////  Mobile Menu | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

body {

  &.mobile-menu--active {
    //overflow: hidden;
    .mobile-menu {
      transform: translate3d( 0, 0, 0 );
      //overflow-y: auto;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &.mobile-menu--active {
      .mobile-menu {
        transform: translate3d( 0, -100%, 0 );
      }
    }

  }

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}

.mobile-menu {

  font-family: var(--theme-font-family--sans-serif--neue-montreal);
  transition: transform 550ms;
  transition-timing-function: cubic-bezier( 0.22, 1, 0.36, 1 );
  transform: translate3d( 0, -100%, 0 );
  background: rgba( var(--theme-colour-black), 1);
  color: rgba( var(--theme-colour-cream), 1);
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 100;
  text-align: center;
  display: flex;
  flex-flow: column;

  &__company,
  &__store-address {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
  }

  &__body {
    flex: 1;
    .navigation {
      margin: 24px auto 0;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      &__item {
        & + .navigation__item {
          margin-top: 18px;
        }
      }
      &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        &.active,
        &:hover {
          color: rgba( var(--theme-colour-green), 1 );
        }
      }
    }
  }

  &__brand {
    width: 187px;
    margin: 24px auto 0;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__cart {
    margin-top: 18px;
    height: 30px;
    display: flex;
    a, svg {
      height: 100%;
      width: auto;
      display: block;
    }
    a {
      position: relative;
      margin: auto;
    }
    &-total {
      background: rgba( var(--theme-colour-green), 1 );
      bottom: calc( -0.5 * var(--theme-cart-total-size-mobile) );
      right: calc( -0.5 * var(--theme-cart-total-size-mobile) );
      color: rgba(var(--theme-colour-black),1);
      height: var(--theme-cart-total-size-mobile);
      width: var(--theme-cart-total-size-mobile);
      align-items: center;
      border-radius: 9999px;
      display: flex;
      font-size: 12px;
      justify-content: center;
      position: absolute;
      line-height: 1;
    }
  }

  &__footer {

    padding: 24px 0;

    .navigation {
      &.policies {
        margin-top: 12px;
        line-height: 1;
        .navigation__link {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      &.social {
        margin-bottom: 18px;
        .navigation__item {
          & + .navigation__item {
            margin-left: 18px;
          }
        }
        .navigation__link {
          height: 20px;
          width: auto;
          display: block;
          img, svg {
            height: 100%;
            width: auto;
            display: block;
          }
        }
      }
    }

    .mobile-menu__company,
    .mobile-menu__store-address {
      font-size: 12px;
    }

  }

  &__header {
    .navigation {
      width: 100%;
      font-size: 14px;
      font-weight: 700;
      padding: 13px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      &__item {
        display: inline-flex;
        width: auto;
        flex-flow: column;
      }
      &__item-icon {
        height: 10px;
        margin: 5px auto 0;
        width: auto;
        img, svg {
          display: block;
          height: 100%;
          width: auto;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__company,
    &__store-address {
      font-size: 13px;
    }

    &__body {
      .navigation {
        margin: 32px auto 0;
        &__item {
          & + .navigation__item {
            margin-top: 20px;
          }
        }
        &__link {
          font-size: 26px;
        }
      }
    }

    &__brand {
      width: 200px;
      margin: 32px auto 0;
    }

    &__cart {
      margin-top: 20px;
      height: 32px;
      &-total {
        bottom: calc( -0.5 * (var(--theme-cart-total-size-mobile) + 2px) );
        right: calc( -0.5 * (var(--theme-cart-total-size-mobile) + 2px) );
        height: calc( var(--theme-cart-total-size-mobile) + 2px );
        width: calc( var(--theme-cart-total-size-mobile) + 2px );
        font-size: 13px;
      }
    }

    &__footer {

      padding: 26px 0;

      .navigation {
        &.policies {
          margin-top: 14px;
          .navigation__link {
            font-size: 13px;
          }
        }
        &.social {
          margin-bottom: 20px;
          .navigation__item {
            & + .navigation__item {
              margin-left: 20px;
            }
          }
          .navigation__link {
            height: 22px;
          }
        }
      }

      .mobile-menu__company,
      .mobile-menu__store-address {
        font-size: 13px;
      }

    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__company,
    &__store-address {
      font-size: 14px;
    }

    &__body {
      .navigation {
        margin: 36px auto 0;
        &__item {
          & + .navigation__item {
            margin-top: 22px;
          }
        }
        &__link {
          font-size: 28px;
        }
      }
    }

    &__brand {
      width: 230px;
      margin: 36px auto 0;
    }

    &__cart {
      margin-top: 22px;
      height: 34px;
      &-total {
        bottom: calc( -0.5 * (var(--theme-cart-total-size-mobile) + 4px) );
        right: calc( -0.5 * (var(--theme-cart-total-size-mobile) + 4px) );
        height: calc( var(--theme-cart-total-size-mobile) + 4px );
        width: calc( var(--theme-cart-total-size-mobile) + 4px );
        font-size: 14px;
      }
    }

    &__footer {

      padding: 28px 0;

      .navigation {
        &.policies {
          margin-top: 16px;
          .navigation__link {
            font-size: 14px;
          }
        }
        &.social {
          margin-bottom: 22px;
          .navigation__item {
            & + .navigation__item {
              margin-left: 22px;
            }
          }
          .navigation__link {
            height: 24px;
          }
        }
      }

      .mobile-menu__company,
      .mobile-menu__store-address {
        font-size: 14px;
      }

    }

  } // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .mobile-menu
