//////////////////////////////////////////////////////////
////  The Brewery | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  The Brewery | Styles
//////////////////////////////////////////////////////////

.the-brewery {

  // ---------------------------------------- Block
  .block {
    & + .block {
      // margin-top: var(--bs-gutter-width);
    }
  }

  // ---------------------------------------- Business Hours
  .business-hours {
    &__directions-link {}
  }

  // ---------------------------------------- Get in Touch
  .get-in-touch {
    a {
      display: block;
    }
  }

  // ---------------------------------------- Shakey
  .shakey {
    .heading {
      font-size: 14px;
    }
    .message {
      @include body-copy( 0.8 );
    }
    &__content {
      flex: 1;
      margin-top: -8px;
      padding: 8px;
    }
    &__image {
      width: 92px;
      margin-right: 24px;
    }
    &__image-speech-indicator {
      width: 18px;
      height: auto;
      left: -18px;
      bottom: 12px;
    }
    &__main {
      width: auto;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Business Hours
    .business-hours {
      &__directions-link {}
    }

    // ---------------------------------------- Get in Touch
    .get-in-touch {}

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 15px;
      }
      .message {
        @include body-copy( 0.85 );
      }
      &__content {
        margin-top: -8px;
        padding: 10px;
      }
      &__image {
        width: 105px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    // ---------------------------------------- Business Hours
    .business-hours {
      &__directions-link {}
    }

    // ---------------------------------------- Get in Touch
    .get-in-touch {}

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 17px;
      }
      .message {
        @include body-copy( .95 );
      }
      &__content {
        margin-top: -8px;
        padding: 10px;
      }
      &__image {
        width: 115px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    // ---------------------------------------- Business Hours
    .business-hours {
      &__directions-link {
        font-size: 13px;
        margin-top: 10px;
      }
      &__footer {
        padding: 11px 0;
      }
      &__store-address {
        margin-top: 5px;
      }
    }

    // ---------------------------------------- Get in Touch
    .get-in-touch {
      &__body {
        padding: 30px 18px;
      }
      &__footer {
        padding: 16px 0;
      }
    }

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 12px;
      }
      .message {
        @include body-copy( 0.65 );
      }
      &__content {
        margin-left: auto;
        margin-top: 4px;
        padding: 8px;
      }
      &__image {
        width: 105px;
        margin-left: -10px;
        margin-right: 16px;
      }
      &__main {
        width: 100%;
        justify-content: flex-start;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- Business Hours
    .business-hours {
      &__directions-link {
        font-size: 17px;
      }
      &__footer {
        padding: 11px 0;
      }
      &__store-address {
        margin-top: 5px;
      }
    }

    // ---------------------------------------- Get in Touch
    .get-in-touch {
      &__body {
        padding: 30px 18px;
      }
      &__footer {
        padding: 17px 0;
      }
    }

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 16px;
      }
      .message {
        @include body-copy( 0.85 );
      }
      &__content {
        margin-left: auto;
        margin-top: 4px;
        padding: 8px;
      }
      &__image {
        width: 116px;
        margin-left: -10px;
        margin-right: 16px;
      }
      &__main {
        width: 100%;
        justify-content: flex-start;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- Business Hours
    .business-hours {
      &__directions-link {
        font-size: 14px;
      }
      &__footer {
        padding: 11px 20px;
      }
      &__heading {
        font-size: 27px;
        &.heading--secondary {
          font-size: 20px;
        }
      }
      &__range {
        font-size: 16px;
        & +.business-hours__range {
          margin-top: 10px;
        }
      }
      &__store-address {
        @include body-copy( 0.85 );
        margin-top: 5px;
      }
    }

    // ---------------------------------------- Get in Touch
    .get-in-touch {
      &__body {
        padding: 34px 16px;
      }
      &__footer {
        padding: 20px 0;
      }
      &__link {
        margin-top: 2px;
      }
    }

    // ---------------------------------------- Shakey
    .shakey {
      .heading {
        font-size: 14px;
      }
      .message {
        font-size: 10px;
      }
      &__content {
        margin-left: auto;
        margin-top: 4px;
        padding: 7px;
      }
      &__image {
        width: 110px;
        margin-left: -10px;
        margin-right: 16px;
      }
      &__main {
        width: 100%;
        justify-content: flex-start;
      }
    }

  } // min width xxl

} // .the-brewery
