//////////////////////////////////////////////////////////
////  Product | Vars
//////////////////////////////////////////////////////////

:root {

  // --theme-product-badge-size: 70px;
  // --theme-product-badge-size--sm: 60px;
  // --theme-product-badge-size--md: 60px;
  // --theme-product-badge-size--lg: 60px;
  // --theme-product-badge-size--xl: 60px;
  // --theme-product-badge-size--xxl: 60px;

  --theme-product-badge-size: 100px;
  --theme-product-badge-size--sm: 110px;
  --theme-product-badge-size--md: 120px;
  --theme-product-badge-size--lg: 100px;
  --theme-product-badge-size--xl: 110px;
  --theme-product-badge-size--xxl: 120px;

  --theme-product-variant-button-size: 55px;
  --theme-product-variant-button-size--sm: 60px;
  --theme-product-variant-button-size--md: 65px;
  --theme-product-variant-button-size--lg: 55px;
  --theme-product-variant-button-size--xl: 60px;
  --theme-product-variant-button-size--xxl: 65px;

}

//////////////////////////////////////////////////////////
////  Product | Styles
//////////////////////////////////////////////////////////

.product {

  .button {
    &--decrease,
    &--increase {
      width: 48px;
      font-size: 24px;
      &:hover {
        opacity: 0.5;
      }
    }
    &--add-to-cart {
      flex: 1;
    }
  }

  .glide {
    &__bullet {
      background: rgba( var(--theme-colour-black), 0 );
      border-color: rgba( var(--theme-colour-black), 1 );
      &:hover,
      &--active {
        background: rgba( var(--theme-colour-black), 1 );
      }
    }
  }

  .shakey {

    .heading {
      font-size: 18px;
      & + .message {
        margin-top: 10px;
      }
    }

    .message {
      @include body-copy( 1 );
    }

    &__content {
      width: 100%;
      padding: 15px 15px 18px;
    }

    &__image {
      width: 100px;
    }

    &__image-speech-indicator {
      width: 21px;
      top: -22px;
      height: auto;
      transform: rotate(-90deg) scaleX(-1);
      left: 110px;
      svg {
        height: auto;
        width: 100%;
      }
    }

    &__main {
      flex-flow: row wrap;
      justify-content: flex-start;
    }

  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
  }

  &__add-to-cart-button {
    margin-left: var(--bs-gutter-width);
    flex: 1;
    &:hover {
      background: rgba( var(--theme-colour-black), 1 );
      color: rgba( var(--theme-colour-cream), 1 );
    }
  }

  &__badge {
    height: var(--theme-product-badge-size);
    width: var(--theme-product-badge-size);
    font-size: 38px;
    position: relative;
    &-price-symbol {
      font-size: 55%;
      margin-top: -8px;
    }
    &-text {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      height: var(--theme-product-badge-size);
      width: var(--theme-product-badge-size);
      font-weight: 700;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    &.available {
      color: rgba( var(--theme-colour-black), 1 );
    }
    &.not-available {
      color: rgba( var(--theme-colour-white), 1 );
      font-size: 22px;
      .product__badge-text {
        top: 1px;
      }
    }
  }

  &__description {
    margin: -15px 0 0 0;
  }

  &__cta {
    margin-top: calc( 0.5 * var(--theme-product-badge-size) );
    text-align: center;
    .button {
      border-color: rgba( var(--theme-colour-black), 1 );
      font-family: var(--theme-font-family--serif--trevor);
      min-width: 240px;
      text-transform: none;
      width: auto;
      position: relative;
      padding: 13px 17px;
      &:hover {
        background: rgba(var(--theme-colour-black), 1);
        color: rgba(var(--theme-colour-cream), 1);
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    a, img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__quantity {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    height: var(--theme-button-min-height);
    margin-right: var(--bs-gutter-width);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__quantity-total {
    width: 20px;
    text-align: center;
  }

  &__title {
    font-family: var(--theme-font-family--serif--trevor);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    &-badge {
      margin-top: 35px;
    }
    &-text {
      width: 100%;
    }
  }

  &__variants {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0 0 0;
  }

  &__variant {
    position: relative;
    font-size: 20px;
    label {
      display: block;
      cursor: no-drop;
    }
    input {
      display: none;
      &:checked {
        & + .product__variant-title {
          border-color: rgba( var(--theme-colour-black), 1 );
        }
      }
      &:disabled {
        & + .product__variant-title {
          &::after {
            width: calc( var(--theme-product-variant-button-size) - 10px );
            background: rgba( var(--theme-colour-black), 1 );
            height: calc( var(--theme-border-width) * 0.5 );
            left: calc( 10px * 0.5 );
            content: '';
            display: block;
            position: absolute;
          }
        }
      }
    }
    &-title {
      height: var(--theme-product-variant-button-size);
      width: var(--theme-product-variant-button-size);
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      border-width: var(--theme-border-width);
      border-color: transparent;
      border-style: solid;
      font-weight: 700;
      border-radius: 999px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-size: inherit;
    }
    & + .product__variant {
      margin-left: 2px;
    }
    &:not(.disabled) {
      label {
        cursor: pointer;
        &:hover {
          .product__variant-title {
            border-color: rgba( var(--theme-colour-black), 0.15 );
          }
        }
      }
    }
  }

  &[data-style="collection-grid"] {
    .product {
      &__badge {
        height: calc( 0.75 * var(--theme-product-badge-size) );
        width: calc( 0.75 * var(--theme-product-badge-size) );
        top: calc( -0.45 * var(--theme-product-badge-size) );
        right: calc( -0.45 * var(--theme-product-badge-size) );
        font-size: 30px;
        position: absolute;
        margin: 0;
        &-text {
          height: calc( 0.75 * var(--theme-product-badge-size) );
          width: calc( 0.75 * var(--theme-product-badge-size) );
        }
        &.not-available {
          font-size: 18px;
        }
      }
      &__cta {
        .button {
          max-width: 100px;
        }
      }
      &__title {
        font-size: 24px;
        margin: 0;
        text-align: center;
        justify-content: center;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    .button {
      &--decrease,
      &--increase {
        width: 54px;
        font-size: 24px;
      }
    }

    .shakey {

      .heading {
        font-size: 19px;
        & + .message {
          margin-top: 11px;
        }
      }

      &__content {
        padding: 16px 16px 19px;
      }

      &__image {
        width: 105px;
      }

      &__image-speech-indicator {
        width: 22px;
        top: -23px;
        left: 118px;
      }

    }

    &__quantity {
      height: var(--theme-button-min-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .button {
      &--decrease,
      &--increase {
        width: 60px;
        font-size: 24px;
      }
    }

    .shakey {

      .heading {
        font-size: 19px;
        & + .message {
          margin-top: 11px;
        }
      }

      &__content {
        padding: 18px 18px 21px;
      }

      &__image {
        width: 115px;
      }

      &__image-speech-indicator {
        left: 122px;
      }

    }

    &__quantity {
      height: var(--theme-button-min-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .button {
      &--decrease,
      &--increase {
        width: 54px;
        font-size: 24px;
      }
    }

    .shakey {

      .heading {
        font-size: 19px;
        & + .message {
          margin-top: 11px;
        }
      }

      &__content {
        padding: 18px 18px 21px;
      }

      &__image {
        width: 95px;
      }

      &__image-speech-indicator {
        left: 112px;
      }

    }

    &__badge {
      height: var(--theme-product-badge-size--lg);
      width: var(--theme-product-badge-size--lg);
      &-text {
        height: var(--theme-product-badge-size--lg);
        width: var(--theme-product-badge-size--lg);
      }
    }

    &__description {
      margin: 25px 0 0 0;
    }

    &__quantity {
      height: var(--theme-button-min-height--lg);
    }

    &__title {
      font-size: 44px;
      text-align: left;
      margin-top: 0;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row nowrap;
      &-badge {
        margin-top: 0;
      }
      &-text {
        width: 100%;
      }
    }

    &__variant {
      input {
        &:disabled {
          & + .product__variant-title {
            &::after {
              width: calc( var(--theme-product-variant-button-size--lg) - 10px );
            }
          }
        }
      }
      &-title {
        height: var(--theme-product-variant-button-size--lg);
        width: var(--theme-product-variant-button-size--lg);
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .button {
      &--decrease,
      &--increase {
        width: 60px;
        font-size: 24px;
      }
    }

    .shakey {

      .heading {
        font-size: 19px;
        & + .message {
          margin-top: 11px;
        }
      }

      &__content {
        padding: 18px 18px 21px;
      }

      &__image {
        width: 105px;
      }

      &__image-speech-indicator {
        left: 122px;
      }

    }

    &__badge {
      height: var(--theme-product-badge-size--xl);
      width: var(--theme-product-badge-size--xl);
      margin: 0 0 0 auto;
      font-size: 40px;
      &-text {
        height: var(--theme-product-badge-size--xl);
        width: var(--theme-product-badge-size--xl);
      }
      &.not-available {
        font-size: 24px;
      }
    }

    &__quantity {
      height: var(--theme-button-min-height--xl);
    }

    &__variant {
      input {
        &:disabled {
          & + .product__variant-title {
            &::after {
              width: calc( var(--theme-product-variant-button-size--xl) - 10px );
            }
          }
        }
      }
      &-title {
        height: var(--theme-product-variant-button-size--xl);
        width: var(--theme-product-variant-button-size--xl);
      }
    }

    &[data-style="collection-grid"] {
      .product {
        &__cta {
          .button {
            max-width: 120px;
          }
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .button {
      &--decrease,
      &--increase {
        width: 64px;
        font-size: 24px;
      }
    }

    .shakey {

      .heading {
        font-size: 19px;
        & + .message {
          margin-top: 11px;
        }
      }

      &__content {
        padding: 18px 18px 21px;
      }

      &__image {
        width: 115px;
      }

      &__image-speech-indicator {
        left: 132px;
      }

    }

    &__badge {
      height: var(--theme-product-badge-size--xxl);
      width: var(--theme-product-badge-size--xxl);
      margin: 0 0 0 auto;
      font-size: 42px;
      &-text {
        height: var(--theme-product-badge-size--xxl);
        width: var(--theme-product-badge-size--xxl);
      }
      &.not-available {
        font-size: 26px;
      }
    }

    &__quantity {
      height: var(--theme-button-min-height--xxl);
    }

    &__variant {
      input {
        &:disabled {
          & + .product__variant-title {
            &::after {
              width: calc( var(--theme-product-variant-button-size--xxl) - 10px );
            }
          }
        }
      }
      &-title {
        height: var(--theme-product-variant-button-size--xxl);
        width: var(--theme-product-variant-button-size--xxl);
      }
    }

    &[data-style="collection-grid"] {
      .product {
        &__cta {
          .button {
            max-width: 140px;
          }
        }
      }
    }

  } // min width xxl

} // .product
