//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

// Trevor Bold/Regular
// Neue Montreal Bold
// Editorial New Regular

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

@import '../components/_heading.scss';
@import '../components/_message.scss';
@import '../components/_title.scss';

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

// ---------------------------------------- Font Weight Scales
@for $i from 1 through 9 {
  .font-weight--#{$i}00 {
    font-weight: $i * 100;
  }
}

body {
	font-family: var(--theme-font-family--serif--editorial-new);
	font-size: var(--theme-body-copy-font-size);
	color: rgba( var(--theme-colour-black), 1 );
	font-weight: normal;
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
	// font-family: $sans;
	// font-weight: bold;
	margin: 0px;
	padding: 0px;
}

ul, ol {
	padding-left: 15px;
}

ul li {
	list-style: disc;
	padding-left: 10px;
}

ul {
	padding-left: 24px;
}

ol li {
	list-style: decimal;
	padding-left: 8px;
}

.rte {

	a {
		display: inline-block;
	}
	p {
		img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0px;
			padding: 0px;
			& + img {
				margin-top: 20px;
			}
		}
	}

	table {
		width: 100%;
		max-width: 600px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	table, tr, td {
		border: 1px solid #BEBEBD;
	}

	td {
		padding: 1.5% 5%;
	}

}

@include media-breakpoint-up(sm) {

	table, p, ul, ol {
		margin: 0px 0px 24px 0px;
	}

} // min width sm

@include media-breakpoint-up(md) {

	table, p, ul, ol {
		margin: 0px 0px 26px 0px;
	}

} // min width md

@include media-breakpoint-up(lg) {

	table, p, ul, ol {
		margin: 0px 0px 24px 0px;
	}

} // min width lg

@include media-breakpoint-up(xl) {

	table, p, ul, ol {
		margin: 0px 0px 28px 0px;
	}

} // min width xl

@include media-breakpoint-up(xxl) {

	table, p, ul, ol {
		margin: 0px 0px 30px 0px;
	}

} // min width xxl
