//////////////////////////////////////////////////////////
////  Advertisements | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Advertisements | Styles
//////////////////////////////////////////////////////////

.advertisements {

  a.the-river__link {
    &:hover {
      background: rgba( var(--theme-colour-green), 1 );
    }
  }

  &__footer,
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
    text-align: center;
  }

  &__body {
    width: 100%;
    min-width: 100%;
  }

  &__footer {
    padding: 13px 0;
    .cta {
      font-size: 12px;
    }
  }

  &__header {
    padding: 14px 0;
    .cta {
      font-size: 12.5px;
    }
  }

  @include media-breakpoint-up(sm) {

    &__footer {
      padding: 15px 0;
      .cta {
        font-size: 14px;
      }
    }

    &__header {
      padding: 16px 0;
      .cta {
        font-size: 19px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__footer {
      padding: 18px 0;
      .cta {
        font-size: 16px;
      }
    }

    &__header {
      padding: 20px 0;
      .cta {
        font-size: 26px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__footer {
      padding: 12px 0;
      .cta {
        font-size: 13px;
      }
    }

    &__header {
      padding: 12px 0;
      .cta {
        font-size: 16px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__footer {
      padding: 13px 0;
      .cta {
        font-size: 15px;
      }
    }

    &__header {
      padding: 13px 0;
      .cta {
        font-size: 19px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__footer {
      padding: 14px 0 13px;
      .cta {
        font-size: 13px;
      }
    }

    &__header {
      padding: 14px 0 12px;
      .cta {
        font-size: 17px;
      }
    }

  } // min width xxl

} // .advertisement
