//////////////////////////////////////////////////////////
////  Comment | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Comment | Styles
//////////////////////////////////////////////////////////

.age-gate {

  color: rgba(var(--theme-colour-green), 1 );

  .button {
    border-color: rgba(var(--theme-colour-green), 1);
    color: rgba(var(--theme-colour-green), 1);
    &:hover,
    &:focus {
      background: rgba(var(--theme-colour-green), 1);
      color: rgba(var(--theme-colour-black), 1);
    }
  }

  .modal {
    &__overlay {
      background: rgba(var(--theme-colour-black), 1 );
    }
  }

  .shakey {
    &__content {
      border-color: gba(var(--theme-colour-green), 1);
      margin-bottom: 15px;
      padding: 10px;
    }
    &__image {
      width: 110px;
      margin-right: 20px;
    }
    &__image-speech-indicator {
      width: 20px;
      height: auto;
      left: -20px;
      bottom: 15px;
    }
    &__heading {
      font-size: 10px;
    }
    &__message {
      font-size: 14px;
    }
  }

  &__block-watch,
  &__logo {
    display: block;
    width: 100%;
    height: auto;
  }

  &__block-watch {
    width: 115px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__button {
    border: var(--theme-border-width) solid rgba(var(--theme-colour-green), 1 );
    transition: all 280ms;
    cursor: pointer;
    outline: none;
    & + .age-gate__button {
      margin-left: 18px;
    }
  }

  &__logo {
    display: block;
    width: 235px;
    margin: auto;
    margin-bottom: 25px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  &__note {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 25px;
    p {
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
    }
  }

  &__options {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 25px;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .shakey {
      &__content {
        margin-bottom: 18px;
        padding: 12px;
      }
      &__image {
        width: 125px;
        margin-right: 24px;
      }
      &__image-speech-indicator {
        width: 24px;
        left: -24px;
        bottom: 18px;
      }
      &__heading {
        font-size: 12px;
      }
      &__message {
        font-size: 16px;
      }
    }

    &__block-watch {
      width: 130px;
      margin-top: 25px;
    }

    &__button {
      & + .age-gate__button {
        margin-left: 20px;
      }
    }

    &__logo {
      width: 270px;
      margin-bottom: 26px;
    }

    &__note {
      margin-top: 25px;
      font-size: 14px;
    }

    &__options {
      margin-top: 25px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .shakey {
      &__content {
        margin-bottom: 18px;
        padding: 14px;
      }
      &__image {
        width: 135px;
      }
      &__heading {
        font-size: 14px;
      }
      &__message {
        font-size: 18px;
      }
    }

    &__block-watch {
      width: 140px;
      margin-top: 25px;
    }

    &__button {
      & + .age-gate__button {
        margin-left: 20px;
      }
    }

    &__logo {
      width: 300px;
      margin-bottom: 26px;
    }

    &__note {
      font-size: 12px;
      margin-top: 25px;
    }

    &__options {
      margin-top: 25px;
    }

  } // min width xxl

} // .age-gate
