//////////////////////////////////////////////////////////
////  Background | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Background | Styles
//////////////////////////////////////////////////////////

.bg {
  @each $name, $colour in $theme-colours {
    &-#{$name} {
      background-color: rgba( var(--theme-colour-#{$name}), 1 );
    }
  }
}
