//////////////////////////////////////////////////////////
////  Beer Collection | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Beer Collection | Styles
//////////////////////////////////////////////////////////

.beer-collection {

  .product {
    &__abv {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: -18px;
      &-value {
        background: rgba( var(--theme-colour-cream), 1 );
        font-family: var(--theme-font-family--sans-serif--neue-montreal);
        line-height: 1;
        padding: 6px 12px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
    &__desc {
      font-family: var(--theme-font-family--serif--trevor);
      padding: 24px 28px;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      margin: auto;
      max-width: 480px;
    }
    &__image {
      width: 90%;
      max-width: 380px;
      margin: 0 auto 20px;
      a, img, svg {
        display: block;
        width: 100%;
      }
    }
    &__title {
      font-size: 32px;
      text-align: center;
      justify-content: center;
      margin: 0;
    }
  }

  .row {
    &--inner {
      margin-bottom: -36px;
      [class^="col-"] {
        margin-bottom: 36px;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .product {
      &__title {
        font-size: 24px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .product {
      &__title {
        font-size: 28px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .product {
      &__title {
        font-size: 30px;
      }
    }

  } // min width xxl

} // .beer-collection
