//////////////////////////////////////////////////////////
////  Beers | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Beers | Styles
//////////////////////////////////////////////////////////

.beers {

  .block {
    & + .block {
      margin-top: 42px;
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    .heading {
      font-family: var(--theme-font-family--serif--mousse-script);
      font-size: 22px;
      margin: 0;
      line-height: 1;
      text-align: center;
      & + .logo {
        margin-top: 18px;
      }
    }
    .icon {
      width: 300px;
      display: block;
      height: auto;
      margin: 0 auto 32px;
      a, svg {
        display: block;
        height: 100%;
        widows: 100%;
      }
    }
    .logo {
      display: block;
      width: 270px;
      height: auto;
      margin: auto;
      a, svg {
        display: block;
        width: 100%;
        height: auto;
      }
      & + .message {
        margin-top: 5px;
      }
    }
    .message {
      font-family: var(--theme-font-family--sans-serif--neue-montreal);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__footer {
      .heading {
        font-size: 24px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &__footer {
      .heading {
        font-size: 28px;
      }
    }

  } // min width xxl

} // .beers
