//////////////////////////////////////////////////////////
////  Border | Vars
//////////////////////////////////////////////////////////

$theme-border-scales: ( 0, 2, 4, 6, 8, 10 );

//////////////////////////////////////////////////////////
////  Border | Styles
//////////////////////////////////////////////////////////

.b {

  // ---------------------------------------- Colour
  &-black {
    border-color: rgba( var(--theme-colour-black), 1 );
  }

  &-green {
    border-color: rgba( var(--theme-colour-green), 1 );
  }

  // ---------------------------------------- Style
  &-solid {
    border-style: solid;
  }

  // ---------------------------------------- Width
  @each $size in $theme-border-scales {
    &-#{$size} {
      border-width: $size * 1px;
    }
  }

  @each $size in $theme-border-scales {
    &t-#{$size} {
      border-top-width: $size * 1px;
    }
  }

  @each $size in $theme-border-scales {
    &r-#{$size} {
      border-right-width: $size * 1px;
    }
  }

  @each $size in $theme-border-scales {
    &b-#{$size} {
      border-bottom-width: $size * 1px;
    }
  }

  @each $size in $theme-border-scales {
    &l-#{$size} {
      border-left-width: $size * 1px;
    }
  }

  // ---------------------------------------- Width
  &-full {
    border: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-x {
    border-left: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
    border-right: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-y {
    border-top: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
    border-bottom: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-t {
    border-top: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-r {
    border-right: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-b {
    border-bottom: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  &-l {
    border-left: var(--theme-border-width) solid rgba( var(--theme-colour-black), 1);
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .border
