//////////////////////////////////////////////////////////
////  Business Hours | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Business Hours | Styles
//////////////////////////////////////////////////////////

.business-hours {

  color: rgba( var(--theme-colour-black), 1 );
  font-family: var(--theme-font-family--sans-serif--neue-montreal);

  .heading {
    text-transform: uppercase;
    font-size: 36px;
    &--secondary {
      font-size: 17px;
    }
  }

  &__footer,
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
    text-align: center;
  }

  &__directions-link,
  &__store-address {
    font-family: var(--theme-font-family--serif--trevor);
    margin: 0;
  }

  &__body {
    padding: 20px;
  }

  &__footer {
    padding: 14px 0;
  }

  &__header {
    padding: 10px 0;
  }

  &__store-address {
    @include body-copy();
    margin: 6px 0 0 0;
  }

  &__directions-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 12px;
    a {
      background: rgba( var(--theme-colour-black), 1 );
      border-radius: var(--theme-border-radius);
      color: rgba( var(--theme-colour-yellow), 1 );
      padding: 5px var(--bs-gutter-width) 8px;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      display: inline-flex;
      width: auto;
      letter-spacing: 0.0275em;
      &:hover {
        color: rgba( var(--theme-colour-yellow), 0.5 );
      }
    }
  }

  &__range {
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    & + .business-hours__range {
      margin-top: 12px;
    }
  }

  @include media-breakpoint-up(sm) {

    .heading {
      font-size: 58px;
      &--secondary {
        font-size: 19px;
      }
    }

    &__body {
      padding: 22px;
    }

    &__directions-link {
      font-size: 18px;
      margin-top: 14px;
    }

    &__footer {
      padding: 16px 0;
    }

    &__header {
      padding: 12px 0;
    }

    &__range {
      font-size: 20px;
      & + .business-hours__range {
        margin-top: 14px;
      }
    }

    &__store-address {
      @include body-copy( 1.1 );
      margin: 8px 0 0 0;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      font-size: 80px;
      &--secondary {
        font-size: 22px;
      }
    }

    &__body {
      padding: 26px;
    }

    &__directions-link {
      font-size: 24px;
      margin-top: 16px;
    }

    &__footer {
      padding: 18px 0;
    }

    &__header {
      padding: 14px 0;
    }

    &__range {
      font-size: 36px;
      & + .business-hours__range {
        margin-top: 16px;
      }
    }

    &__store-address {
      @include body-copy( 1.3 );
      margin: 10px 0 0 0;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      font-size: 32px;
      &--secondary {
        font-size: 16px;
      }
    }

    &__body {
      padding: 18px 20px;
    }

    &__directions-link {
      font-size: 14px;
      margin-top: 12px;
    }

    &__footer {
      padding: 14px 0;
    }

    &__header {
      padding: 8px 0;
    }

    &__range {
      font-size: 16px;
      & + .business-hours__range {
        margin-top: 9px;
      }
    }

    &__store-address {
      @include body-copy( 0.8 );
      margin-top: 6px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .heading {
      font-size: 40px;
      &--secondary {
        font-size: 17px;
      }
    }

    &__directions-link {
      font-size: 17px;
      margin-top: 14px;
    }

    &__footer {
      padding: 16px 0;
    }

    &__range {
      font-size: 20px;
      & + .business-hours__range {
        margin-top: 10px;
      }
    }

    &__store-address {
      @include body-copy( 1 );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .heading {
      font-size: 33px;
      &--secondary {
        font-size: 15px;
      }
    }

    &__directions-link {
      font-size: 14px;
      margin-top: 12px;
    }

    &__footer {
      padding: 16px;
    }

    &__range {
      font-size: 17px;
      & + .business-hours__range {
        margin-top: 10px;
      }
    }

    &__store-address {
      @include body-copy( 0.85 );
    }

  } // min width xxl

} // .business-hours
