//////////////////////////////////////////////////////////
////  Button | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Button | Styles
//////////////////////////////////////////////////////////

.button {

  @include button( 'default' );

  border-radius: var(--theme-border-radius);
  border-width: var(--theme-border-width);
  font-size: var(--theme-button-font-size);
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  border-color: transparent;
  color: inherit;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  border-radius: 0;
  background: transparent;

  &--pill {
    @include button( 'pill' );
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &--outlined {
      font-size: 18px;
      min-width: 130px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &--outlined {
      font-size: 20px;
      min-width: 140px;
    }

  } // min width xxl

} // .button
