//////////////////////////////////////////////////////////
////  Contact Us | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  .get-in-touch,
  .google-maps {
    margin-top: var(--bs-gutter-width);
  }

  .google-maps {
    height: 380px;
  }

  @include media-breakpoint-up(sm) {

    .google-maps {
      height: 420px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .google-maps {
      height: 460px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .get-in-touch {
      margin-top: 0;
    }

    .google-maps {
      height: 500px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .google-maps {
      margin-top: 0;
      height: 100%;
    }

  } // min width xxl

} // .contact-us
