//////////////////////////////////////////////////////////
////  Call to Action | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Call to Action | Styles
//////////////////////////////////////////////////////////

.cta {

  font-family: var(--theme-font-family--sans-serif--neue-montreal);
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 0.9;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;

  a {
    color: inherit;
    &:hover {
      color: rgba( var(--theme-colour-blue), 1 );
      opacity: 1;
    }
  }

  &--secondary {
    font-size: 14px;
    width: 100%;
    a {
      display: inline-flex;
      width: auto;
      margin: auto;
      justify-content: center;
      align-items: center;
    }
  }

  &--with-arrow {
    a {
      &:hover {
        .cta__icon {
          transform: translate3d( 5px, 0, 0 );
        }
      }
    }
    .cta {
      &__icon {
        transition: all 280ms;
        width: 8px;
        height: auto;
        display: block;
        margin-left: 3px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &--secondary {
      font-size: 12px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &--secondary {
      font-size: 12.5px;
    }

  } // min width xxl

}
