//////////////////////////////////////////////////////////
////  Fact Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fact Feature | Styles
//////////////////////////////////////////////////////////

.fact-feature {

  .heading {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    & + .message {
      margin-top: 12px;
    }
  }

  .message {
    font-family: var(--theme-font-family--serif--editorial-new);
    font-weight: normal;
  }

  &__content,
  &__logo {
    position: relative;
  }

  &__content {
    background: rgba( var(--theme-colour-cream), 1 );
    padding: calc( 1.25 * var(--bs-gutter-width) );
    width: calc(100% - 2*var(--bs-gutter-width));
    margin: -70px auto 0;
    z-index: 1;
  }

  &__logo {
    left: -70px;
    width: calc( 100% + 140px );
    height: 100%;
    z-index: 0;
  }

  &__main {
    position: relative;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__content {
      margin-top: -110px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content {
      margin-top: 0;
      width: 70%;
      margin: auto;
    }

    &__logo {
      position: absolute;
      left: -70px;
      width: calc( 100% + 140px );
      height: 100%;
      z-index: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      svg {
        height: 100%;
        display: block;
        width: auto;
        margin: auto;
      }
    }

    &__main {
      padding: 52px 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      padding: 84px 0;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__content {
      width: 55%;
    }

    &__main {
      padding: 120px 0;
    }

  } // min width xxl

} // .fact-feature
