//////////////////////////////////////////////////////////
////  Flexible Content | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Flexible Content | Styles
//////////////////////////////////////////////////////////

.flexible-content {

  .block {
    & + .block {
      margin-top: calc( 3 * var(--bs-gutter-width) );
    }
  }

  .block--footer {
    svg {
      display: block;
      margin: auto;
      width: 100%;
    }
    &[data-style="history"] {
      svg {
        width: 220px;
      }
    }
  }

  &__blocks {
    overflow: hidden;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .block--footer {
      &[data-style="the-brewery"] {
        svg {
          width: 66.6666%;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .block {
      & + .block {
        margin-top: calc( 3 * var(--bs-gutter-width) );
      }
    }

    .block--footer {
      &[data-style="history"] {
        svg {
          width: 290px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .block {
      & + .block {
        margin-top: calc( 3 * var(--bs-gutter-width) );
      }
    }

    .block--footer {
      &[data-style="the-brewery"] {
        svg {
          width: calc( 48% - (var(--bs-gutter-width) * 2) );
        }
      }
    }

  } // min width xxl

} // .flexible-content
