.get-in-touch {

  &__body {
    padding: 20px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
    text-align: center;
    padding: 14px 0;
  }

  &__link {
    svg {
      transition: fill 280ms;
    }
    &:hover {
      svg {
        fill: rgba( var(--theme-colour-blue), 1 );
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__footer {
      padding: 16px 0;
      .cta {
        font-size: 18px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__footer {
      padding: 18px 0;
      .cta {
        font-size: 20px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__body {
      padding: 20px;
    }

    &__footer {
      padding: 14px 0;
      .cta {
        font-size: 15px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__body {
      padding: 16px 20px;
    }

    &__footer {
      padding: 15px 0;
      .cta {
        font-size: 18px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__body {
      padding: 19px 20px;
    }

    &__footer {
      padding: 14px 0 14px;
    }

  } // min width xxl

}
