//////////////////////////////////////////////////////////
////  Heading | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {

  &--primary {
    font-family: var(--theme-font-family--serif--trevor);
  }

  &--secondary {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
  }

  &--with-stroke {
    font-family: var(--theme-font-family--serif--mousse-script);
    text-align: center;
    font-size: 40px;
    position: relative;
    margin: 0;
    line-height: 1.32;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    .heading__text {
      background: rgba(var(--theme-colour-cream),1);
      line-height: 1;
      padding: 0 24px;
      z-index: 10;
      position: relative;
    }
    .heading__stroke {
      background: rgba(var(--theme-colour-black),1);
      height: 4px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      z-index: 0;
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {

    &--with-stroke {
      font-size: 48px;
      .heading__stroke {
        display: block;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &--with-stroke {
      font-size: 52px;
      margin-bottom: 40px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &--with-stroke {
      font-size: 42px;
      margin-bottom: 44px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &--with-stroke {
      font-size: 52px;
      margin-bottom: 50px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &--with-stroke {
      font-size: 62px;
      margin-bottom: 56px;
    }

  } // min width xxl

} // .heading
