//////////////////////////////////////////////////////////
////  Hero | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  padding: 40px 0 50px;

  &__logo {
    margin: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &[data-style='beers'],
  &[data-style='cart'],
  &[data-style='collection']
  &[data-style='history'],
  &[data-style='product'],
  &[data-style='stockists'] {
    .hero {
      &__logo {
        width: 70%;
      }
    }
  }

  &[data-style='index'] {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  &[data-style='the-brewery'] {
    padding-bottom: 25px;
    .hero {
      &__logo {
        width: 100%;
      }
    }

  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    padding: 60px 0 75px;

    &[data-style='beers'],
    &[data-style='cart'],
    &[data-style='collection'],
    &[data-style='history'],
    &[data-style='product'],
    &[data-style='stockists'] {
      .hero {
        &__logo {
          width: 65%;
        }
      }
    }

    &[data-style='index'] {
      padding: 0;
    }

    &[data-style='the-brewery'] {
      padding-bottom: 36px;
      .hero {
        &__logo {
          width: 90%;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &[data-style='beers'],
    &[data-style='cart'],
    &[data-style='collection'],
    &[data-style='history'],
    &[data-style='product'],
    &[data-style='stockists'] {
      .hero {
        &__logo {
          width: 54%;
        }
      }
    }

    &[data-style='the-brewery'] {
      .hero {
        &__logo {
          width: 75%;
        }
      }
    }

  } // min width xxl

} // .hero-nu
