//////////////////////////////////////////////////////////
////  Image Feature with Text | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Feature with Text | Styles
//////////////////////////////////////////////////////////

.image-feature-with-text {

  .heading {
    font-family: var(--theme-font-family--serif--mousse-script);
    font-size: 36px;
  }

  .message {
    margin-top: calc(-1.5 * var(--bs-gutter-width));
    background: rgba( var(--theme-colour-cream), 1 );
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: var(--bs-gutter-width);
    width: calc( 100% - (2 * var(--bs-gutter-width)) );
    z-index: 10;
    position: relative;
    .heading {
      margin-bottom: 15px;
    }
  }

  &__image,
  &__message {
    position: relative;
  }

  &__accessory {
    display: inline-flex;
    flex: 1;
    a, svg, img {
      display: none;
      margin: auto;
      height: auto;
    }
  }

  &__content {
    display: flex;
    position: relative;
  }

  &__intro-graphic {
    width: 100%;
    height: auto;
    margin: 10px auto 24px;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      font-size: 40px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      font-size: 36px;
    }

    .message {
      width: 80%;
    }

    &__intro-graphic {
      width: 90%;
      margin: 10px auto 24px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .heading {
      font-size: 40px;
    }

    .message {
      margin-top: -72px;
      width: 65%;
    }

    &__content {}

    &__intro-graphic {
      width: 80%;
      margin: 18px auto 30px;
    }

    &[data-style="history"] {
      .message {
        margin-top: -200px;
      }
      .image-feature-with-text {
        &__accessory {
          a, svg, img {
            display: block;
          }
          &.left {
            a, svg, img {
              width: 48%;
            }
          }
          &.right {
            a, svg, img {
              width: 60%;
            }
          }
        }
      }
    }

  } // min width xxl

} // .image-feature-with-text
