//////////////////////////////////////////////////////////
////  Image Grid | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Imnage Grid | Styles
//////////////////////////////////////////////////////////

.image-grid {

  a, img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    //position: absolute;
    //top: 0;
    //left: 0;
    //height: 100%;
    &:hover {
      background: $theme-blue;
    }
  }

  &__column {
    flex: auto;
    .image-grid__item {
      &:nth-child(n+2) {
        border-top: $theme-border solid $theme-black;
      }
    }
    @for $i from 1 through 100 {
      &[data-column-width="#{$i}"] {
        width: $i * 1%;
      }
    }
    &--border-top {
      border-top: $theme-border solid $theme-black;
    }
    &--border-right {
      border-right: $theme-border solid $theme-black;
    }
    &--border-bottom {
      border-bottom: $theme-border solid $theme-black;
    }
    &--border-left {
      border-left: $theme-border solid $theme-black;
    }
    &--no-border {
      border: none !important;
    }
  }

  &__item {
    overflow: hidden;
    position: relative;
    &[data-id="baketown"] {
      border: 1px solid red;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;
    border-bottom: $theme-border solid $theme-black;
    .image-grid__column {
      &:nth-child(n+2) {
        border-left: $theme-border solid $theme-black;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
