//////////////////////////////////////////////////////////
////  Image Grid | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Grid | Styles
//////////////////////////////////////////////////////////

.image-grid {

  a, img {
    display: block;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  a {
    width: 100%;
    max-width: 100%;
    height: 100%;
    //height: calc( 100% + 2px );
    //margin-top: -1px;
    &:hover {
      background: rgba( var(--theme-colour-blue), 1);
    }
  }

  &__column {
    flex-flow: column;
    justify-content: space-between;
    .image-grid__item + .image-grid__item {
      border-top: 4px solid rgba( var(--theme-colour-black), 1);
    }
  }

  &__vr,
  &__column {
    //flex: 1 1 auto;
  }

  &__item {
    position: relative;
    overflow: hidden;
    &[data-id="river"] {
      a {
        //height: calc( 100% + 2px );
        //margin-top: -1px;
      }
    }
  }

  &__hr,
  &__vr {
    background: rgba( var(--theme-colour-black), 1);
    display: block;
  }

  &__hr {
    height: 4px;
    width: 100%;
  }

  &__vr {
    min-height: 100%;
    max-width: 4px;
    width: 4px;
  }

  &__column {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    .image-grid {
      &__item {
        width: 100%;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100%;
    &[data-row="1"] {
      .image-grid {
        &__column {
          &[data-column="1"],
          &[data-column="2"] {
            width: 40%;
            width: calc( (100% - 4px) * 0.5 );
          }
        }
      }
    }
    &[data-row="2"] {
      .image-grid {
        &__column {
          &[data-column="1"] {
            width: 100%;
          }
        }
      }
    }
    &[data-row="3"] {
      justify-content: flex-end;
      .image-grid {
        &__column {
          &[data-column="1"] {
            width: calc( (100% - 4px) * 0.55 );
          }
          &[data-column="2"] {
            width: calc( (100% - 4px) * 0.45 );
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__row {

      background: rgba( var(--theme-colour-black), 1);

      &[data-row="1"] {
        .image-grid {
          &__column {
            &[data-column="1"] {
              width: calc( (100% - 8px) * .4 );
              flex-flow: column;
              justify-content: space-between;
              .image-grid__row + .image-grid__row {
                border-top: solid 4px rgba( var(--theme-colour-black), 1);
              }
            }
            &[data-column="2"] {
              width: calc( (100% - 8px) * .3 );
              flex-flow: column;
              justify-content: center;
            }
            &[data-column="3"] {
              width: calc( (100% - 8px) * .3 );
            }
          }
        }
      }

      &[data-row-inner="1"],
      &[data-row-inner="2"]{
        min-height: unset;
        height: auto;
      }

      &[data-row-inner="1"] {
        flex-flow: row nowrap;
        .image-grid {
          &__column {
            &[data-column="1"] {
              width: 100%;
            }
          }
        }
      }
      &[data-row-inner="2"] {
        .image-grid {
          &__column {
            &[data-column-inner="1"] {
              width: calc( (100% - 4px) * 0.56 );
            }
            &[data-column-inner="2"] {
              width: calc( (100% - 4px) * 0.44 );
            }
          }
        }
      }
    }

    // ---------------------------------------- Table

    &__table {
      table-layout: fixed;
      border: 4px solid rgba( var(--theme-colour-black), 1);
      width: 100%;
      margin: 0;
      padding: 0;
      a,
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      .image-grid {
        &__row {
          width: 100%;
        }
        &__column {
          &[data-column="1"] {
            width: 40%;
          }
          &[data-column="2"] {
            width: 30%;
          }
          &[data-column="3"] {
            width: 30%;
          }
        }
      }
    }

    &__column {
      &[data-column="2"] {
        .image-grid__item:first-child {
          flex: 1;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
