//////////////////////////////////////////////////////////
////  Image Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Feature | Styles
//////////////////////////////////////////////////////////

.image-feature {

  &__grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    .image {
      width: 100%;
      & + .image {
        margin-top: var(--bs-gutter-width);
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__grid {
      flex-flow: row nowrap;
      .image {
        & + .image {
          margin-top: 0;
        }
      }
    }

    @for $i from 2 through 3 {

      $colums: $i;
      $gutter: $i - 1;
      $gutter_width: calc( var(--bs-gutter-width) * #{$gutter} );

      [data-image-count='#{$i}'] {
        .image-feature {
          &__image {
            width: calc( ( 100% - $gutter_width ) / $i );
          }
        }
      }

    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .image-feature
