//////////////////////////////////////////////////////////
////  Instagram Feed | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Instagram Feed | Styles
//////////////////////////////////////////////////////////

.instagram-feed {

  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-flow: row wrap;

  &__item {
    width: 33.333333%;
    height: auto;
    position: relative;
    border-top: 2px solid rgba( var(--theme-colour-black), 1 );
    border-bottom: 2px solid rgba( var(--theme-colour-black), 1 );
    border-right: 2px solid rgba( var(--theme-colour-black), 1 );
    border-left: 2px solid rgba( var(--theme-colour-black), 1 );
    a {
      display: block;
      &:hover {
        .instagram-feed {
          &__image {
            background-color: transparent;
            background-blend-mode: unset;
            filter: grayscale(0);
          }
          &__overlay {
            opacity: 0;
          }
        }
      }
    }
    &:nth-child(3n + 1){
      border-left: none;
    }
    &:nth-child(3n){
      border-right: none;
    }
  }

  &__image-placeholder {
    img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0;
    }
  }

  &__image {
    background: rgba( var(--theme-colour-black), 1 );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba( var(--theme-colour-white), 1 );
    background-blend-mode: multiply;
    filter: grayscale(100%);
  }

  &__link {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }

  // &__overlay {
  //   transition: 280ms all;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   z-index: 10;
  //   background: #38bb54a8;
  // }

} // .instagram-feed
