//////////////////////////////////////////////////////////
////  Instagram Grid | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Instagram Grid | Styles
//////////////////////////////////////////////////////////

.instagram-grid {

  &__footer {
    padding: 7px 0;
  }

  &__header {
    padding: 14px 14px;
  }

  &__link {
    &-title {}
    &-icon {
      transition: transform 280ms;
      transform: translate3d( 5px, 0, 0);
      height: 12px;
      svg {
        transition: fill 280ms;
        height: 100%;
        display: block;
        width: auto;
      }
    }
    &:hover {
      .instagram-grid__link-icon {
        transform: translate3d( 8px, 0, 0);
      }
      svg {
        fill: rgba( var(--theme-colour-blue), 1 ) !important;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__footer {
      padding: 10px 0;
      .cta {
        font-size: 18px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__footer {
      padding: 14px 0 10px;
      .cta {
        font-size: 20px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__footer {
      padding: 10px 0;
      .cta {
        font-size: 15px;
      }
    }

    &__header {
      padding: 15px 14px 15px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__footer {
      padding: 11px 0;
      .cta {
        font-size: 17px;
      }
    }

    &__header {
      padding: 15px ​14px 14px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__footer {
      padding: 6px 0;
      .cta {
        font-size: 13px;
      }
    }

  } // min width xxl

} // .instagram-grid
