//////////////////////////////////////////////////////////
////  Lazy Loader | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Lazy Loader | Styles
//////////////////////////////////////////////////////////

.lazyload-item {

  transition-property: opacity;
	opacity: 0;
	display: block;

	&--inline {
  	height: auto;
  	width: 100%;
	}

  &--image {
    &.lazyload-item--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

	&.lazyloaded {
    opacity: 1;
	}

	$base: 25;
	$step: 25;
  @while $base < 3500 {

    &[data-transition-duration='#{$base}'] {
      transition-duration: $base * 1ms;
    }

    &[data-transition-delay='#{$base}'] {
      transition-delay: $base * 1ms;
    }

    $base: $base + $step;

  }

} // .lazyload-item
