//////////////////////////////////////////////////////////
////  Message | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Message | Styles
//////////////////////////////////////////////////////////

.message,
.rte {

  @include body-copy();

  a {
    display: inline-block;
    border-bottom: 1px solid rgba(var(--theme-colour-green), 1 );
    text-decoration: none;
    color: inherit;
    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .message
