//////////////////////////////////////////////////////////
////  Modal | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Micro | Styles
//////////////////////////////////////////////////////////

.modal {

  .modal-dialog-centered {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
  }

  .modal-content {
    @include transitions-all(280);
    border: none;
    border-radius: 0;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .modal-content {
      border: 1px solid rgba(0, 0, 0, 0.10);
      border-radius: 4px;
      max-width: 540px;
      margin: 28px auto 52px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.33);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .modal-content {
      max-width: 640px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .modal-content {
      max-width: 740px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .modal
