//////////////////////////////////////////////////////////
////  Fact Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fact Feature | Styles
//////////////////////////////////////////////////////////

.moments-in-history {

  .heading {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    text-align: center;
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__graphic {
    width: calc( 100% + 44px );
    left: -22px;
    position: relative;
    margin-top: 28px;
  }

  &__swipe-suggestion {
    height: 12px;
    display: block;
    position: absolute;
    right: 22px;
    img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  @include media-breakpoint-up(sm) {

    &__graphic {
      width: 100%;
      left: unset;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      width: 100%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .fact-feature
