//////////////////////////////////////////////////////////
////  Newsletter Signup | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Newsletter Signup | Styles
//////////////////////////////////////////////////////////

.newsletter-signup {

  .form {
    padding: 12px 10px;
    label {
      width: 100%;
      position: absolute;
      top: -16px;
      left: 3px;
    }
    input {
      @include body-copy( 1.25 );
      width: 100%;
      margin-bottom: -12px;
    }
    &__button {
      transition: opacity 280ms;
      margin-left: auto;
      width: 40px;
      min-width: 40px;
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    &__field {
      flex-flow: row wrap;
      flex: 1;
    }
    &__row {
      justify-content: flex-start;
      width: 100%;
    }
    &__success {
      background: rgba( var(--theme-colour-green), 1 );
      color: rgba( var(--theme-colour-black), 1 );
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .newsletter-signup
