//////////////////////////////////////////////////////////
////  Outlined | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Outlined | Styles
//////////////////////////////////////////////////////////

.outlined {

  border-width: var(--theme-border-width);
  border-style: solid;

  &__footer,
  &__header {
    padding: calc(var(--theme-spacing) * 0.66) calc(var(--theme-spacing) * 0.75);
    width: auto;
    text-align: center;
    width: 100%;
    width: calc( 100% + 2px );
    margin-left: -1px;
  }

  &__main {
    &--padded {
      padding: var(--theme-spacing);
    }
  }

  &__header {
    border-width: var(--theme-border-width);
    border-bottom-style: solid;
  }

  &__footer {
    border-top-width: var(--theme-border-width);
    border-top-style: solid;
  }

  &--rounded {
    border-radius: 6px;
  }

  &--black {
    border-color: var(--theme-colour-black);
    .outlined {
      &__footer {
        border-top-color: var(--theme-colour-black);
      }
      &__header {
        border-bottom-color: var(--theme-colour-black);
      }
    }
  }

  &--green {
    border-color: var(--theme-colour-green);
    .outlined {
      &__footer {
        border-top-color: var(--theme-colour-green);
      }
      &__header {
        border-bottom-color: var(--theme-colour-green);
      }
    }
  }

} // .outlined
