//////////////////////////////////////////////////////////
////  Padding | Vars
//////////////////////////////////////////////////////////

$theme-padding-scales: ( 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24 );

//////////////////////////////////////////////////////////
////  Padding | Styles
//////////////////////////////////////////////////////////

.p {

  @each $size in $theme-padding-scales {
    &-#{$size} {
      padding: $size * 1px;
    }
  }

  // ---------------------------------------- Top
  @each $size in $theme-padding-scales {
    &t-#{$size} {
      padding-top: $size * 1px;
    }
  }

  // ---------------------------------------- Right
  @each $size in $theme-padding-scales {
    &r-#{$size} {
      padding-right: $size * 1px;
    }
  }

  // ---------------------------------------- Bottom
  @each $size in $theme-padding-scales {
    &b-#{$size} {
      padding-bottom: $size * 1px;
    }
  }

  // ---------------------------------------- Left
  @each $size in $theme-padding-scales {
    &l-#{$size} {
      padding-left: $size * 1px;
    }
  }

  // ---------------------------------------- Horizontal
  @each $size in $theme-padding-scales {
    &x-#{$size} {
      padding-left: $size * 1px;
      padding-right: $size * 1px;
    }
  }

  // ---------------------------------------- Vertical
  @each $size in $theme-padding-scales {
    &y-#{$size} {
      padding-top: $size * 1px;
      padding-bottom: $size * 1px;
    }
  }

} // .padding
