//////////////////////////////////////////////////////////
////  Round | Vars
//////////////////////////////////////////////////////////

$theme-round-scales: ( 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24 );

//////////////////////////////////////////////////////////
////  Round | Styles
//////////////////////////////////////////////////////////

.round {

  @each $size in $theme-padding-scales {
    &-#{$size} {
      border-radius: $size * 1px;
    }
  }

  // ---------------------------------------- Top
  @each $size in $theme-padding-scales {
    &-t-#{$size} {
      border-top-left-radius: $size * 1px;
      border-top-right-radius: $size * 1px;
    }
  }

  &-t {
    &-none {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  // ---------------------------------------- Right
  @each $size in $theme-padding-scales {
    &-r-#{$size} {
      border-top-right-radius: $size * 1px;
      border-bottom-right-radius: $size * 1px;
    }
  }

  &-r {
    &-none {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  // ---------------------------------------- Bottom
  @each $size in $theme-padding-scales {
    &-b-#{$size} {
      border-bottom-left-radius: $size * 1px;
      border-bottom-right-radius: $size * 1px;
    }
  }

  &-b {
    &-none {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  // ---------------------------------------- Left
  @each $size in $theme-padding-scales {
    &-l-#{$size} {
      border-top-left-radius: $size * 1px;
      border-bottom-left-radius: $size * 1px;
    }
  }

  &-l {
    &-none {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  // ---------------------------------------- None
  &-none {
    border-radius: 0px;
  }

}
