//////////////////////////////////////////////////////////
////  Shakey | Variables
//////////////////////////////////////////////////////////

@keyframes shake {

  0% {
    transform: translate3d(0, 0, 0);
  }

  2%, 18% {
    transform: translate3d(-1px, 0, 0);
  }

  4%, 16% {
    transform: translate3d(2px, 0, 0);
  }

  6%, 10%, 16% {
    transform: translate3d(-3px, 0, 0);
  }

  8%, 12% {
    transform: translate3d(3px, 0, 0);
  }

  /* Finish changes by here */
  20% {
    transform: translate3d(0, 0, 0);
  }

  /* Between 20% and 100%, nothing changes */
  100% {
    transform: translate3d(0, 0, 0);
  }

}

//////////////////////////////////////////////////////////
////  Shakey | Styles
//////////////////////////////////////////////////////////

.shakey {

  font-family: var(--theme-font-family--serif--trevor);
  display: flex;
  justify-content: center;

  .heading {
    width: 100%;
    & + .message {
      margin-top: 4px;
    }
  }

  &__content {
    position: relative;
  }

  &__image {
    display: block;
    height: auto;
    position: relative;
    margin: 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__image-body,
  &__image-legs {
    width: 100%;
    height: auto;
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__image-body {
    animation: shake cubic-bezier(0.36,0.07,0.19,0.97);
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 3s;
  }

  &__image-legs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__image-speech-indicator {
    position: absolute;
    svg {
      display: block;
    }
  }

  &__main {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__message {
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(var(--theme-colour-green),1);
      text-decoration: none;
      color: inherit;
      &:hover {
        border-bottom: 1px solid transparent;
        text-decoration: none;
      }
    }
  }

  &__speech-thing {
    position: absolute;
    width: 20px;
    height: auto;
    left: -20px;
    bottom: 15px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &[data-colour-theme='black'] {
    border-color: rgba(var(--theme-colour-green),1);
    color: rgba(var(--theme-colour-green),1);
  }

  &[data-colour-theme='green'] {
    border-color: rgba(var(--theme-colour-black),1);
    color: rgba(var(--theme-colour-black),1);
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__content {
      padding: 12px;
    }

    &__heading {
      font-size: 12px;
    }

    &__image {
      width: 87px;
    }

    &__message {
      font-size: 17px;
    }

    &__speech-thing {
      width: 24px;
      left: -24px;
      bottom: 18px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &__content {
      padding: 14px;
    }

    &__heading {
      font-size: 12px;
    }

    &__message {
      font-size: 17px;
    }

  } // min width xxl

} // .shakey
