//////////////////////////////////////////////////////////
////  Shaketown Characters | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Shaketown Characters | Styles
//////////////////////////////////////////////////////////

.shaketown-characters {

  .row {
    &--inner {
      align-items: center;
      margin-left: -24px;
      margin-right: -24px;
      [class^="col-"] {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .shaketown-characters
