//////////////////////////////////////////////////////////
////  Stockists | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Stockists | Styles
//////////////////////////////////////////////////////////

.stockists {

  font-family: var(--theme-font-family--serif--trevor);

  &__address,
  &__name,
  &__region {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  &__address,
  &__name {
    font-weight: 400;
  }

  &__address,
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    span {
      display: block;
    }
  }

  &__address {
    width: 100%;
  }

  &__footer {
    margin-top: 65px;
    &-graphic {
      margin: auto;
      max-width: 300px;
      a, svg, img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &__group {
    text-align: center;
    & + .stockists__group {
      margin-top: 40px;
    }
  }

  &__heading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto -19px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    span {
      background: rgba( var(--theme-colour-cream), 1 );
      padding: 0 var(--bs-gutter-width);
      display: block;
    }
  }

  &__grid {
    row-gap: var(--bs-gutter-width);
    display: grid;
    padding: 36px 26px;
    grid-template-columns: 1fr;
  }

  &__link {
    width: auto;
    border: none;
  }

  &__name {
    font-weight: 700;
    font-size: 21px;
    & + .stockists__address {
      margin-top: 4px;
    }
  }

  @include media-breakpoint-up(sm) {

    &__address,
    &__link {
      flex-flow: row nowrap;
      span + span {
        &:before {
          content: ", ";
        }
      }
    }

    &__heading {
      font-size: 32px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__footer {
      &-graphic {
        max-width: none;
      }
    }

    &__grid {
      row-gap: 30px;
      padding: 48px;
    }

    &__heading {
      font-size: 36px;
    }

    &__name {
      font-size: 23px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__address,
    &__link {
      flex-flow: column wrap;
      span + span {
        &:before {
          display: none;
        }
      }
    }

    &__grid {
      grid-template-columns: 1fr 1fr;
      row-gap: 25px;
      padding: 36px 20px;
    }

    &__heading {
      font-size: 34px;
    }

    &__name {
      font-size: 21px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__grid {
      row-gap: 30px;
      padding: 46px 30px;
    }

    &__heading {
      font-size: 38px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 28px;
      padding: 46px 24px;
    }

    &__heading {
      font-size: 42px;
    }

  } // min width xxl

} // .stockists
