//////////////////////////////////////////////////////////
////  Team | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Team | Styles
//////////////////////////////////////////////////////////

.team {

  .row--inner {
    & > * {
      margin-bottom: 36px;
    }
  }

  .bio,
  .name {
    font-family: var(--theme-font-family--serif--trevor);
  }

  .name,
  .title {
    font-weight: 700;
  }

  .bio {
    font-size: 16px;
  }

  .name {
    font-size: 30px;
    & + .bio,
    & + .title {
      margin-top: 10px;
    }
  }

  .title {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    text-transform: uppercase;
    font-size: 20px;
    & + .bio {
      margin-top: 10px;
    }
  }

  .image {
    & + .bio,
    & + .name,
    & + .title {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .bio {
      font-size: 17px;
    }

    .name {
      font-size: 32px;
      & + .bio,
      & + .title {
        margin-top: 10px;
      }
    }

    .title {
      font-size: 22px;
      & + .bio {
        margin-top: 10px;
      }
    }

    .image {
      & + .bio,
      & + .name,
      & + .title {
        margin-top: 20px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .bio {
      font-size: 15px;
    }

    .name {
      font-size: 22px;
      & + .bio,
      & + .title {
        margin-top: 8px;
      }
    }

    .title {
      font-size: 18px;
      & + .bio {
        margin-top: 8px;
      }
    }

    .image {
      & + .bio,
      & + .name,
      & + .title {
        margin-top: 18px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .bio {
      font-size: 17px;
    }

    .name {
      font-size: 32px;
      & + .bio,
      & + .title {
        margin-top: 10px;
      }
    }

    .title {
      font-size: 22px;
      & + .bio {
        margin-top: 10px;
      }
    }

    .image {
      & + .bio,
      & + .name,
      & + .title {
        margin-top: 20px;
      }
    }

  } // min width xxl

} // .team
