//////////////////////////////////////////////////////////
////  Text Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Text Feature | Styles
//////////////////////////////////////////////////////////

.text-feature {

  .heading {
    font-family: var(--theme-font-family--serif--trevor);
    font-size: 28px;
    & + .message {
      margin-top: 20px;
    }
  }

  .message {
    font-family: var(--theme-font-family--serif--editorial-new);
    font-weight: 400;
    font-size: 17px;
  }

  &__squiggle {
    background-image: url( SHAKE--squiggle-pattern.svg );
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 18px;
    width: 100%;
    display: block;
    width: calc(100% + 44px);
    left: -22px;
    position: relative;
    &.bottom {
      transform: rotate(180deg);
    }
  }

  &__accessory {
    width: 42px;
    margin: 22px auto;
    height: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    background: rgba( var(--theme-colour-blue), 1 );
    width: calc(100% + 44px);
    left: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 40px calc( 2.5 * var(--bs-gutter-width) );
    text-align: center;
    position: relative;
  }

  &__main {
    width: 100%;
    position: relative;
  }

  @include media-breakpoint-up(sm) {

    &__content {
      background: none;
      padding-left: calc( 2.5 * var(--bs-gutter-width) );
      padding-right: calc( 2.5 * var(--bs-gutter-width) );
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      height: 100%;
      left: unset;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__squiggle {
      display: none;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      font-size: 30px;
      & + .message {
        margin-top: 20px;
      }
    }

    .message {
      font-size: 19px;
    }

    &__accessory {
      width: 44px;
      margin: 24px auto;
    }

    &__content {
      padding-left: calc( 2.75 * var(--bs-gutter-width) );
      padding-right: calc( 2.75 * var(--bs-gutter-width) );
    }

    &__main {
      width: 80%;
      margin: auto;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      font-size: 28px;
      & + .message {
        margin-top: 20px;
      }
    }

    .message {
      font-size: 17px;
    }

    &__accessory {
      width: 42px;
      margin: 22px auto;
    }

    &__content {
      padding-left: calc( 2.5 * var(--bs-gutter-width) );
      padding-right: calc( 2.5 * var(--bs-gutter-width) );
    }

    &__main {
      width: 90%;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .heading {
      font-size: 32px;
      & + .message {
        margin-top: 20px;
      }
    }

    .message {
      font-size: 21px;
    }

    &__accessory {
      width: 42px;
      margin: 24px auto;
    }

    &__content {
      padding-left: calc( 2.75 * var(--bs-gutter-width) );
      padding-right: calc( 2.75 * var(--bs-gutter-width) );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .heading {
      font-size: 36px;
      & + .message {
        margin-top: 24px;
      }
    }

    .message {
      font-size: 25px;
    }

    &__accessory {
      width: 46px;
      margin: 26px auto;
    }

    &__content {
      padding-left: calc( 4 * var(--bs-gutter-width) );
      padding-right: calc( 4 * var(--bs-gutter-width) );
    }

    &__main {
      width: 80%;
    }

  } // min width xxl

} // .text-feature
