//////////////////////////////////////////////////////////
////  Ticker | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Ticker | Styles
//////////////////////////////////////////////////////////

.ticker {

  background: $theme-black;
  padding: 8px;
  overflow: hidden;
  width: 100%;

  &__item {
    color: $theme-green;
    font-family: $sans--neue-montreal;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }

  &__item-copy {
    font-family: inherit;
    font-weight: inherit;
  }

  &__item-bullet {
    margin: 0 3px 0 0px;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    padding: 10px 0;

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    z-index: 2000;

    &--bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &--top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

  } // min width xxl

} // .ticker

