{% assign block_name = 'error-404' %}

{% assign heading = settings.error-404--heading | default: '404 Error' %}
{% assign message = settings.error-404--message | default: false %}
{% assign shakey_message = settings.error-404--shakey-message | default: "<p>Customize Shakey's message through the Shopify dashboard!</p>" %}

<div class='{{ block_name }}__main'>

  <div class='{{ block_name }}__content'>
    <h1>{{ heading }}</h1>
    {% if error_message %}<div>{{ message }}</div>{% endif %}
  </div>

  <div class='{{ block_name }}__image'>
    <img src='{{ 'SHAKE--web-asset--logo--shake-properties.svg' | asset_url }}' alt='{{ shop.name }} Properties Logo' width='' height='' />
  </div>

  {% render 'layout--shakey', message: shakey_message, style: '404' %}

</div>

