{% assign block_name = 'collection' %}

{%
  render 'layout--hero',
  container_columns: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1',
  container_enable: true,
  container_type: 'container',
  style: block_name
%}

{% paginate collection.products by 9 %}

  <div class="{{ block_name }}__products">
    {% render 'layout--container', state: 'open', col: 'col-12', container: 'container' %}

      <div class='row row--inner'>
        {% for product in collection.products %}
          <div class='col-12 col-md-6 col-xl-4'>
            {% render 'product--preview', product: product, style: 'collection-grid' %}
          </div>
        {% else %}
          <div class='col-12'>
            <p>Oops! No products in this collection :(</p>
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% render 'layout--pagination', paginate: paginate, style: 'collection' %}
      {% endif %}

    {% render 'layout--container', state: 'closed' %}
  </div>

{% endpaginate %}
