{%
  render 'layout--hero',
  container_columns: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1',
  container_enable: true,
  container_type: 'container',
  style: 'the-brewery'
%}

{% section 'page--the-brewery' %}
