{%
  render 'layout--hero',
  container_columns: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1',
  container_enable: true,
  container_type: 'container',
  style: 'stockists'
%}

{% section 'page--stockists' %}

{% comment %}
  let returnedGroups = DBSheets.api.getSheet() || [];
  let groups = [...new Set(numbers)];
{% endcomment %}
