{%
  render 'layout--hero',
  container_columns: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1',
  container_enable: true,
  container_type: 'container',
  style: 'page'
%}

<section class="section section--intro">
  <div class="container"><div class="row"><div class="col-12">
		<h1>{{ page.title }}</h1>
	</div></div></div>
</section>

<section class="section section--main">
  <div class="container"><div class="row"><div class="col-12">
    <div class="message rte">
      {{ page.content }}
    </div>
  </div></div></div>
</section>
