{% assign block_name = 'product' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{%
  render 'layout--hero',
  container_columns: 'col-12 col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1',
  container_enable: true,
  container_type: 'container',
  style: block_name
%}

<form action='/cart/add' method='post' enctype='multipart/form-data'>

  <div class='{{ block_name }}__main'>
    {% render 'layout--container', state: 'open', col: 'col-12', container: 'container' %}
      <div class='row row--inner'>

        <div class='col-12 col-lg-5 offset-lg-1'>
          {% render 'product--gallery', product: product %}
        </div>

        <div class='col-12 col-lg-5'>

          <h1 class='{{ block_name }}__title'>
            <span class='{{ block_name }}__title-text'>{{ product.title }}</span>
            <span class='{{ block_name }}__title-badge'>{% render 'svg--product-availability-badge', is_available: product.available, price: product.price %}</span>
          </h1>

          <div class='{{ block_name }}__description'>
            {% render 'layout--shakey', style: 'product', message: product.description %}
          </div>

          {% if product.available %}

            {% assign first_available = product.selected_or_first_available_variant.id | default: 0 %}

            <div class='{{ block_name }}__variants'>
              {% for variant in product.variants %}
                <div class='{{ block_name }}__variant {% unless variant.available %}disabled{% endunless %}'>
                  <label for='{{ variant.title | handle }}'>
                    <input {% if first_available == variant.id %}checked{% endif %} id='{{ variant.title | handle }}' type='radio' name='id' value='{{ variant.id }}' {% unless variant.available %}disabled{% endunless %}>
                    <span class='{{ block_name }}__variant-title'>{{ variant.title }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>

            <div class='{{ block_name }}__actions'>
              <div class='{{ block_name }}__quantity b-4 b-black b-solid round-8'>
                <button class='{{ block_name }}__button button button--quantity button--decrease decrease' type='button'>–</button>
                <span class="product__quantity-total font-weight--700">1</span>
                <button class='{{ block_name }}__button button button--quantity button--increase increase' type='button'>+</button>
                <input class="product__quantity-input d-none" type="number" name="quantity" min="1" value="1">
              </div>
              <button class='{{ block_name }}__button button button--pill button--add-to-cart js--add-to-cart' type='submit'>Add to Bag</button>
            </div>

          {% endif %}

        </div>

      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>

</form>
